@keyframes placeholderPulse_c8ffbb {
    0% {
        opacity: .5
    }

    50% {
        opacity: 1
    }

    to {
        opacity: .5
    }
}

:root {
    --custom-channel-members-bg: var(--background-base-lower)
}

.container_c8ffbb {
    background: var(--background-gradient-chat, var(--custom-channel-members-bg));
    border-inline-start: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: column;
    height: 100%
}

.refresh-fast-follow-distinct-borders .container_c8ffbb {
    border-inline-start-color: var(--app-frame-border)
}

.membersWrap_c8ffbb {
    display: flex;
    height: 100%;
    max-height: 100%;
    min-width: var(--custom-member-list-width);
    position: relative
}

.members_c8ffbb {
    background: var(--background-gradient-chat, var(--custom-channel-members-bg));
    flex: 0 0 auto;
    height: auto;
    padding: 0 0 10px
}

.members_c8ffbb,
.membersListNotices_c8ffbb {
    width: var(--custom-member-list-width)
}

.member_c8ffbb {
    background: var(--background-gradient-chat, var(--custom-channel-members-bg))
}

.membersGroup_c8ffbb {
    height: auto;
    padding-block: var(--space-lg) var(--space-xxs);
    padding-inline: var(--space-md) var(--space-xxs)
}

.membersGroupHeader_c8ffbb {
    display: flex;
    flex-direction: row
}

.membersGroupName_c8ffbb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hiddenMembers_c8ffbb {
    justify-content: center
}

.hiddenText_c8ffbb {
    align-self: center
}

.memberGroupsPlaceholder_c8ffbb {
    animation: placeholderPulse_c8ffbb 3s ease-in-out infinite;
    background-color: var(--background-base-low);
    border-radius: 8px;
    height: 12px;
    width: 40%
}

.addMembersButton_c8ffbb {
    padding-top: 8px;
    padding-inline-start: 8px
}

.addMembersIcon_c8ffbb {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.roleIcon_c8ffbb {
    margin-inline-end: 4px;
    vertical-align: top
}

.fullWidth_c8ffbb {
    width: 100vw
}

.appIconWrapper_c8ffbb {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: 16px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.enable-forced-colors .container_c8ffbb,
.enable-forced-colors .membersWrap_c8ffbb {
    border-inline-start: 2px solid CanvasText
}

.enable-forced-colors .container_c8ffbb .membersWrap_c8ffbb {
    border-inline-start: none
}

@media (max-width:485px) {
    .membersWrap_c8ffbb {
        display: flex;
        height: 100%;
        position: relative
    }

    .members_c8ffbb,
    .membersListNotices_c8ffbb,
    .membersWrap_c8ffbb {
        min-width: 100%
    }
}

.hoverRoll__0263c {
    box-sizing: border-box;
    contain: paint;
    cursor: revert;
    display: inline-block;
    position: relative;
    text-align: start;
    vertical-align: top;
    width: 100%
}

.hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c,
.hoverRoll__0263c:hover:not(.disabled__0263c) .default__0263c {
    opacity: 0;
    transform: translate3d(0, -107%, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .hovered__0263c,
.hoverRoll__0263c:hover:not(.disabled__0263c) .hovered__0263c {
    opacity: 1;
    transform: translateZ(0)
}

.default__0263c,
.hovered__0263c {
    display: block;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    transform-style: preserve-3d;
    white-space: nowrap;
    width: 100%
}

.full-motion .default__0263c,
.full-motion .hovered__0263c {
    transition: all .22s ease
}

.hovered__0263c {
    inset: 0;
    opacity: 0;
    position: absolute;
    transform: translate3d(0, 107%, 0)
}

.linkIcon_ebf183 {
    display: inline-block
}

.notice__6e2b9 {
    background: var(--custom-notice-background);
    border-inline-start: 1px solid var(--app-frame-border);
    border-radius: 8px 0 0;
    border-top: 1px solid var(--app-frame-border);
    box-shadow: none;
    color: var(--custom-notice-text);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 36px;
    padding-inline: 4px 28px;
    position: relative;
    text-align: center;
    z-index: 101
}

.notice__6e2b9 strong {
    font-weight: var(--font-weight-semibold)
}

.notice__6e2b9.isMobile__6e2b9 {
    line-height: 30px;
    padding: 10px 20px
}

.notice__6e2b9 .button__6e2b9 {
    border-color: var(--custom-notice-text) !important;
    color: var(--custom-notice-text) !important
}

.notice__6e2b9 .button__6e2b9:hover {
    background-color: var(--background-mod-subtle);
    color: var(--custom-notice-button-hover)
}

.notice__6e2b9 .closeIcon__6e2b9 path {
    fill: var(--custom-notice-text)
}

@supports not ((grid-template-columns:subgrid) and (white-space-collapse:collapse)) {
    .notice__6e2b9 {
        border-start-start-radius: 0
    }
}

@supports (grid-template-columns:subgrid) and (white-space-collapse:collapse) {
    .notice__6e2b9 {
        grid-area: notice
    }
}

.colorDefault__6e2b9 {
    --custom-notice-background: var(--status-positive-background);
    --custom-notice-text: var(--status-positive-text);
    --custom-notice-button-hover: var(--status-positive-background)
}

.colorNeutral__6e2b9 {
    --custom-notice-background: var(--background-surface-high);
    --custom-notice-text: var(--text-strong);
    --custom-notice-button-hover: var(--control-secondary-background-hover)
}

.colorPremium__6e2b9 {
    --custom-notice-text: var(--white)
}

.colorPremiumTier0__6e2b9 {
    --custom-notice-background: linear-gradient(to left, var(--premium-tier-0-purple), var(--premium-tier-0-blue));
    --custom-notice-button-hover: var(--brand-500)
}

.colorPremiumTier1__6e2b9 {
    --custom-notice-background: linear-gradient(270deg, var(--premium-tier-1-blue-for-gradients) 0%, var(--premium-tier-1-dark-blue-for-gradients) 100%);
    --custom-notice-button-hover: var(--brand-500)
}

.colorPremiumTier2__6e2b9 {
    --custom-notice-background: linear-gradient(90deg, var(--premium-tier-2-purple-for-gradients) 0%, var(--premium-tier-2-purple-for-gradients-2) 50.24%, var(--premium-tier-2-pink-for-gradients) 100%);
    --custom-notice-button-hover: var(--premium-tier-2-pink)
}

.colorInfo__6e2b9 {
    --custom-notice-background: var(--notice-background-info);
    --custom-notice-text: var(--notice-text-info);
    --custom-notice-button-hover: var(--notice-text-info)
}

.colorSuccess__6e2b9 {
    --custom-notice-background: var(--status-positive-background);
    --custom-notice-text: var(--status-positive-text);
    --custom-notice-button-hover: var(--text-feedback-positive)
}

.colorWarning__6e2b9 {
    --custom-notice-background: var(--notice-background-warning);
    --custom-notice-text: var(--notice-text-warning);
    --custom-notice-button-hover: var(--notice-text-warning)
}

.colorWarning__6e2b9 .button__6e2b9 {
    border-color: var(--status-warning-text) !important;
    color: var(--status-warning-text)
}

.colorDanger__6e2b9 {
    --custom-notice-background: var(--notice-background-critical);
    --custom-notice-text: var(--notice-text-critical);
    --custom-notice-button-hover: var(--notice-text-critical)
}

.colorDefault__6e2b9,
.colorSuccess__6e2b9 {
    --custom-notice-background: var(--notice-background-positive);
    --custom-notice-text: var(--notice-text-positive);
    --custom-notice-button-hover: var(--notice-text-positive)
}

.colorStreamerMode__6e2b9 {
    --custom-notice-background: var(--platform-twitch);
    --custom-notice-text: var(--white);
    --custom-notice-button-hover: var(--platform-twitch)
}

.colorSpotify__6e2b9 {
    --custom-notice-background: var(--platform-spotify);
    --custom-notice-text: var(--white);
    --custom-notice-button-hover: var(--platform-spotify);
    align-items: center;
    display: flex;
    justify-content: center
}

.colorSpotify__6e2b9 .platformIcon__6e2b9 {
    height: 24px;
    margin-top: 0;
    width: 24px
}

.colorSpotify__6e2b9 .button__6e2b9 {
    margin-inline-start: 20px;
    top: 0
}

.colorPlayStation__6e2b9 {
    --custom-notice-background: var(--platform-playstation);
    --custom-notice-text: var(--white);
    --custom-notice-button-hover: var(--platform-playstation);
    align-items: center;
    display: flex;
    justify-content: center
}

.colorPlayStation__6e2b9 .platformIcon__6e2b9 {
    height: 24px;
    margin-top: 0;
    width: 24px
}

.colorPlayStation__6e2b9 .button__6e2b9 {
    margin-inline-start: 20px;
    top: 0
}

.colorBrand__6e2b9 {
    --custom-notice-background: var(--brand-500);
    --custom-notice-text: var(--white);
    --custom-notice-button-hover: var(--brand-500)
}

.colorCustom__6e2b9 {
    --custom-notice-button-hover: #222
}

.closeButton__6e2b9 {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 36px;
    inset-inline-end: 0;
    position: absolute;
    top: 0;
    width: 36px;
    -webkit-app-region: no-drag
}

.closeIcon__6e2b9 path {
    fill: var(--white)
}

.button__6e2b9 {
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    height: 24px;
    line-height: 22px;
    margin-inline-start: 10px;
    padding: 0 10px;
    position: relative;
    top: 6px;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease;
    vertical-align: top;
    -webkit-app-region: no-drag;
    background-color: transparent;
    border-color: var(--white)
}

.button__6e2b9.buttonMinor__6e2b9 {
    border: none;
    text-decoration: underline
}

.button__6e2b9:hover {
    background-color: var(--white);
    border-color: var(--white)
}

.enable-forced-colors .notice__6e2b9 {
    border-bottom: 2px solid CanvasText
}

.enable-forced-colors .closeButton__6e2b9 {
    background-color: ButtonFace;
    color: ButtonText;
    opacity: 1
}

.enable-forced-colors .closeButton__6e2b9:focus,
.enable-forced-colors .closeButton__6e2b9:hover {
    outline: 1px solid ButtonText
}

.notice__29487 {
    align-items: center;
    background: linear-gradient(90deg, var(--color-scoped-expressive-background-nitro-1-start, rgba(179, 38, 156, .7)) 0, var(--color-scoped-expressive-background-nitro-1-end, rgba(20, 20, 203, .7)) 100%), var(--background-base-lowest);
    display: flex;
    height: 54px;
    position: relative;
    z-index: 101
}

@supports not ((grid-template-columns:subgrid) and (white-space-collapse:collapse)) {
    .notice__29487 {
        border-start-start-radius: 0
    }
}

@supports (grid-template-columns:subgrid) and (white-space-collapse:collapse) {
    .notice__29487 {
        grid-area: notice
    }
}

.noticeContent__29487 {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--space-16);
    justify-content: center
}

.noticeText__29487 strong {
    font-weight: var(--font-weight-semibold)
}

.closeButton__29487 {
    margin-inline: auto var(--space-12)
}

.premiumIcon_b68a35 {
    height: 24px;
    margin-inline-end: 8px;
    position: relative;
    top: 6px;
    width: 24px
}

.platformIcon_b68a35 {
    display: inline-block;
    height: 28px;
    margin-top: -4px;
    margin-inline-end: 10px;
    position: relative;
    vertical-align: middle;
    width: 28px
}

.platformIcon_b68a35+.platformIcon_b68a35 {
    margin-inline-start: -10px
}

.giftIcon_b68a35 {
    margin-inline-end: 4px;
    vertical-align: text-bottom
}

.icon_b68a35 {
    display: inline-block;
    height: 20px;
    margin-inline-start: 10px;
    margin-top: -3px;
    position: relative;
    vertical-align: middle;
    width: 20px
}

.icon_b68a35+.icon_b68a35 {
    margin-inline-start: 6px
}

.iconWindows_b68a35 {
    -webkit-mask-image: url(/assets/20dd0e244b9a7065.svg);
    mask-image: url(/assets/20dd0e244b9a7065.svg)
}

.iconApple_b68a35,
.iconWindows_b68a35 {
    background-color: currentColor
}

.iconApple_b68a35 {
    -webkit-mask-image: url(/assets/d11dc1928431aa27.svg);
    mask-image: url(/assets/d11dc1928431aa27.svg)
}

.iconAndroid_b68a35 {
    -webkit-mask-image: url(/assets/f625814fc53c325e.svg);
    mask-image: url(/assets/f625814fc53c325e.svg)
}

.iconAndroid_b68a35,
.iconMetaQuest_b68a35 {
    background-color: currentColor
}

.iconMetaQuest_b68a35 {
    margin-inline-end: 4px;
    -webkit-mask-image: url(/assets/de5e17f06fbd2235.svg);
    mask-image: url(/assets/de5e17f06fbd2235.svg)
}

.iconUSFlag_b68a35 {
    background-image: url(/assets/423c2b95bd0fdafb.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 85%;
    margin-inline-end: 7px;
    margin-top: 0
}

.icon_b68a35+.btn_b68a35 {
    margin-inline-start: 20px
}

.textLink_b68a35 {
    color: currentColor;
    padding-inline-start: 10px;
    text-decoration: underline;
    -webkit-app-region: no-drag;
    font-size: 12px
}

.testModeSKUSelector_b68a35 {
    height: 24px;
    margin-inline-start: 16px
}

.premiumLogo_b68a35 {
    background-image: url(/assets/a3541a1173e706be.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 13px;
    margin-inline-end: 20px;
    position: relative;
    top: 2px;
    width: 51px
}

.premiumText_b68a35 {
    font-weight: var(--font-weight-medium)
}

.premiumAction_b68a35 {
    margin-inline-start: 20px
}

.ellipsis_b68a35 {
    margin-inline-start: 7px
}

.quarantineLearnMoreLink_b68a35 {
    margin-inline-start: 10px;
    text-decoration: underline
}

.errorCodeNoticeText_b68a35 {
    margin-inline-start: var(--space-8)
}

.errorCodeNoticeClickable_b68a35 {
    cursor: pointer
}

.riotConnectionDeprecationNoticeCTAButton_b68a35 {
    background: var(--background-mod-subtle);
    border: none;
    border-radius: var(--radius-sm)
}

.riotConnectionDeprecationRemindLaterButton_b68a35 {
    border: none;
    border-radius: var(--radius-sm);
    text-decoration: underline
}

.riotConnectionDeprecationNoticeIcon_b68a35 {
    background: var(--background-mod-subtle);
    border-radius: var(--radius-xs);
    height: 16px;
    padding: var(--space-4);
    width: 16px
}

.text__7b750 {
    display: inline-block
}

.text__7b750,
.text__7b750 a {
    color: currentColor
}

.text__7b750 a {
    text-decoration: underline
}

.premiumIcon__7b750 {
    height: 24px;
    margin-inline-end: 8px;
    position: relative;
    top: 6px;
    width: 24px
}

.notice__36c3e {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.guildIcon__36c3e {
    margin-inline-end: 8px
}

.guildName__36c3e {
    color: inherit
}

.guildName__36c3e:hover {
    text-decoration: underline
}

.actionButton__36c3e {
    margin-inline-start: 12px;
    top: 0
}

.actionButtonInner__36c3e {
    align-items: center;
    display: flex;
    gap: 4px
}

.notice__30f28 {
    align-items: center;
    background-color: var(--brand-600);
    box-shadow: none;
    color: var(--white);
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 8px
}

.notice__30f28.error__30f28 {
    background-color: var(--background-feedback-critical)
}

.button__30f28 {
    align-items: center;
    font-weight: var(--font-weight-semibold);
    height: -moz-fit-content;
    height: fit-content;
    padding: 4px 8px
}

.button__30f28:hover {
    background-color: var(--brand-530)
}

.error__30f28>.button__30f28:hover {
    background-color: var(--red-430)
}

.header__30f28 {
    color: var(--white);
    display: inline;
    margin-inline-end: 16px
}

.backButtonInner__84419 {
    display: flex;
    gap: 8px;
    padding: 2px 0
}

.backButton__84419:hover {
    background-color: var(--brand-530)
}

.backNotice__84419 {
    background-color: var(--brand-600);
    border-radius: 0;
    padding: 8px
}

.closeButton__84419 {
    height: 100%
}

.notice_c5cd6a {
    background-color: var(--brand-600);
    color: var(--white);
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0 8px
}

.button_c5cd6a,
.notice_c5cd6a {
    align-items: center
}

.button_c5cd6a {
    font-weight: var(--font-weight-semibold);
    height: -moz-fit-content;
    height: fit-content;
    padding: 4px 8px
}

.button_c5cd6a:hover {
    background-color: var(--brand-530)
}

.back_c5cd6a {
    bottom: 0;
    height: 24px;
    inset-inline-start: 8px;
    margin: auto;
    position: absolute;
    top: 0
}

.iconButton_c5cd6a {
    align-items: center;
    display: flex
}

.arrow_c5cd6a {
    margin-inline-end: 8px
}

.header_c5cd6a {
    color: var(--white);
    display: inline;
    margin-inline-end: 16px
}

.topRadius_a25167 {
    border-start-end-radius: var(--radius-md);
    border-start-start-radius: var(--radius-md)
}

.container__477aa {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-12);
    justify-content: center
}

.buttonGroup__477aa {
    margin: var(--space-4) 0;
    width: unset
}

.blocked__477aa {
    align-items: center;
    display: flex
}

.blockedIcon__477aa {
    margin-inline: var(--space-12) var(--space-4)
}

.blockedText__477aa {
    font-size: 12px;
    font-weight: var(--font-weight-normal)
}

.noIcon__477aa {
    margin-inline-start: var(--space-12)
}

.chat_f75fb0 {
    background: var(--background-gradient-chat, var(--background-base-lowest));
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative
}

.chat_f75fb0[data-has-border=true] {
    border-top: 1px solid var(--app-frame-border)
}

[data-collapsed=true]>.chat_f75fb0 {
    border-inline-start: 1px solid var(--border-subtle);
    border-start-start-radius: var(--radius-md)
}

.refresh-fast-follow-distinct-borders .chat_f75fb0.threadSidebarOpen_f75fb0 {
    border-inline-end-color: var(--app-frame-border)
}

.chat_f75fb0 {
    flex: 1 1 auto
}

.chat_f75fb0 .uploadArea_f75fb0 {
    position: fixed
}

.chat_f75fb0.threadSidebarOpen_f75fb0 {
    border-inline-end: 1px solid var(--border-subtle);
    border-radius: 0 8px 8px 0
}

.chat_f75fb0.threadSidebarOpen_f75fb0 .uploadArea_f75fb0 {
    border-radius: 0 8px 8px 0;
    margin-inline-end: 8px;
    width: auto
}

.chat_f75fb0.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0 .uploadArea_f75fb0 {
    border-radius: 0;
    margin-inline-end: 0
}

.typing_f75fb0 {
    display: flex
}

.form_f75fb0 {
    flex-shrink: 0;
    margin-top: -16px;
    position: relative
}

.form_f75fb0,
.formWithLoadedChatInput_f75fb0 {
    padding-inline: var(--space-xs)
}

.formWithLoadedChatInput_f75fb0:before {
    content: "";
    height: .5rem;
    position: absolute
}

.formWithLoadedChatInput_f75fb0 :before {
    top: 0;
    inset-inline: 0
}

.formWithLoadedChatInput_f75fb0:before {
    background: linear-gradient(to bottom, transparent, var(--background-base-low) 100%)
}

.custom-theme-background .formWithLoadedChatInput_f75fb0:before {
    content: unset
}

.chatContent_f75fb0 {
    background: var(--background-gradient-chat, var(--background-base-lower));
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    position: relative
}

.cursorPointer_f75fb0 {
    cursor: pointer
}

.content_f75fb0 {
    align-items: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: stretch;
    min-height: 0;
    min-width: 0;
    position: relative
}

.content_f75fb0.noChat_f75fb0 {
    overflow: hidden
}

.content_f75fb0:before {
    box-shadow: var(--shadow-ledge);
    content: "";
    display: none;
    height: 1px;
    position: absolute;
    top: -1px;
    inset-inline: 0;
    pointer-events: none;
    z-index: 1
}

.channelBottomBarArea_f75fb0 {
    display: flex;
    flex-direction: row
}

.channelTextArea_f75fb0 {
    background: var(--background-gradient-highest, var(--chat-background-default));
    margin-bottom: var(--custom-chat-input-margin-bottom)
}

.refresh-fast-follow-avatars .form_f75fb0 {
    padding-inline: min(var(--space-xs), var(--space-8))
}

.titleWrapper_f75fb0 {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden
}

.editPartyIcon_f75fb0 {
    cursor: pointer;
    margin-inline-end: 4px;
    opacity: .6;
    transition: opacity .2s ease
}

.editPartyIcon_f75fb0:hover {
    opacity: 1
}

.channelName_f75fb0 {
    margin: 0 8px
}

.avatar_f75fb0 {
    margin-inline-end: var(--space-8)
}

.parentChannelName_f75fb0 {
    color: var(--text-default)
}

.parentChannelName_f75fb0:hover {
    color: var(--text-strong)
}

.title_f75fb0 {
    flex: 0 0 auto;
    padding-inline-end: var(--space-xs);
    padding-top: var(--space-8);
    position: relative;
    z-index: 100
}

.gdm_f75fb0 {
    padding-inline-start: calc(var(--custom-message-margin-horizontal)/2)
}

.followButton_f75fb0 {
    margin-inline-end: 8px;
    padding: 4px 8px
}

.status_f75fb0 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    margin-inline-end: 8px
}

.stop-animations .title_f75fb0 {
    -webkit-app-region: no-drag
}

.theme-light.custom-client-theme .title_f75fb0 {
    --background-gradient-lowest: var(--background-gradient-chat)
}

.guildBreadcrumbContainer_f75fb0 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0
}

.guildSidebar_f75fb0 {
    flex-shrink: 0
}

.guildBreadcrumbIcon_f75fb0 {
    margin-inline-end: var(--space-4)
}

.loader_f75fb0 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.enable-forced-colors .cursorPointer_f75fb0 {
    background-color: ButtonFace;
    color: ButtonText;
    forced-color-adjust: none;
    text-decoration: underline
}

.subtitleContainer_f75fb0 {
    display: flex;
    flex-direction: column;
    position: relative
}

.secureFramesIcon_f75fb0 {
    margin-inline-start: 4px
}

.shaker_f75fb0 {
    flex: 1;
    width: 100%
}

.linkedLobbyTooltip_f75fb0 {
    margin-inline-end: 8px
}

.linkedLobby_f75fb0,
.linkedLobbyTooltip_f75fb0 {
    align-items: center;
    display: flex
}

.linkedLobbyApplicationIcon_f75fb0 {
    border-radius: var(--radius-sm);
    height: 14px;
    margin-inline: 8px 4px;
    width: 14px
}

.linkedLobbyEducationTooltipWrapper_f75fb0 {
    max-width: 288px;
    pointer-events: all
}

.linkedLobbyEducationTooltip_f75fb0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 4px;
    text-align: center
}

.linkedLobbyEducationTooltip_f75fb0 p {
    margin: 0
}

.linkedLobbyEducationTooltipCloseClickContainer_f75fb0 {
    cursor: pointer;
    inset-inline-end: 8px;
    position: absolute;
    top: 8px
}

.linkedLobbyEducationTooltipCloseClickContainer_f75fb0:hover .linkedLobbyEducationTooltipCloseIcon_f75fb0 {
    color: var(--interactive-text-active)
}

.linkedLobbyEducationTooltipCloseIcon_f75fb0 {
    color: var(--icon-muted);
    height: 24px;
    width: 24px
}

.card__39ec2 {
    --custom-activity-card-padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: visible;
    padding: var(--custom-activity-card-padding);
    position: relative
}

.user-profile-sidebar .card__39ec2 {
    --custom-activity-card-padding: 12px
}

.user-profile-modal-v2 .card__39ec2 {
    --custom-activity-card-padding: 12px;
    border-radius: var(--radius-md)
}

.card__39ec2.hoisted__39ec2 {
    background: linear-gradient(rgb(var(--background-gradient-color)/.4), rgb(var(--background-gradient-color)/.4)), linear-gradient(var(--profile-gradient-end), var(--profile-gradient-end)) !important;
    pointer-events: none;
    z-index: var(--custom-user-profile-hoist-z-index)
}

.header__39ec2 {
    justify-content: space-between
}

.header__39ec2,
.headerText__39ec2 {
    display: flex;
    gap: 4px
}

.headerText__39ec2 {
    align-items: center;
    overflow: hidden
}

.headerContextMenu__39ec2:empty {
    display: none
}

.headerContextMenu__39ec2.absolute__39ec2 {
    align-self: flex-end;
    display: inline-flex;
    position: absolute
}

.headerContextMenu__39ec2.absolute__39ec2~.body__39ec2>.content__39ec2>.details__39ec2 {
    margin-inline-end: 24px
}

.platformIcon__39ec2 {
    background-color: var(--icon-muted);
    height: 12px;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 12px
}

.body__39ec2 {
    gap: 8px
}

.body__39ec2,
.toolbarContainer__39ec2 {
    display: flex;
    flex-direction: column
}

.toolbarContainer__39ec2 {
    border: none;
    overflow: visible;
    position: relative
}

.content__39ec2 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 8px
}

.user-profile-modal .content__39ec2,
.user-profile-modal-v2 .content__39ec2 {
    gap: 12px
}

.details__39ec2 {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    width: 100%
}

.actions__39ec2 {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: 4px 0 0
}

.user-profile-modal .actions__39ec2 {
    flex-wrap: nowrap;
    margin-block: 0;
    margin-inline: 20px 0
}

.user-profile-modal-v2 .actions__39ec2 {
    flex-wrap: wrap
}

.actions__39ec2 .primaryButton__39ec2 {
    flex: 1
}

.actions__39ec2 .customButtons__39ec2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px
}

.actions__39ec2 .customButtons__39ec2>button {
    flex: 1 1 auto;
    min-width: calc(50% - 8px)
}

.actions__39ec2 .fullWidth__39ec2 {
    flex-grow: 1
}

.actions__39ec2:empty {
    display: none
}

.badges__39ec2 {
    -moz-column-gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 0
}

.clickableContainer__39ec2 {
    cursor: pointer
}

.clickableContainer__39ec2:hover>.card__39ec2 {
    background: var(--user-profile-overlay-background-hover)
}

.clickableImage__39ec2,
.clickableImage__39ec2:after,
.image__39ec2 {
    border-radius: var(--radius-sm)
}

.clickableImage__39ec2:after {
    background-color: var(--black);
    content: "";
    height: 100%;
    inset-inline-end: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.full-motion .clickableImage__39ec2:after {
    transition: opacity var(--custom-button-transition-duration) ease
}

.clickableImage__39ec2:hover:after {
    opacity: .2
}

.clickableText__39ec2 {
    cursor: pointer;
    max-width: 100%;
    width: -moz-max-content;
    width: max-content
}

.clickableText__39ec2:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-default)
}

.inline__39ec2 {
    display: inline
}

.gameState__39ec2 {
    display: flex;
    gap: 4px
}

.guildIcon__39ec2 {
    border-radius: var(--radius-xs)
}

.voiceChannel__39ec2 {
    align-items: center;
    display: flex;
    gap: 4px
}

.voiceChannelText__39ec2 {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 2px;
    overflow: hidden
}

.voiceChannelText__39ec2 .clickableText__39ec2 {
    overflow: hidden
}

.voiceChannelText__39ec2 .voiceIcon__39ec2 {
    flex-shrink: 0
}

.voiceChannelHeading__39ec2 {
    overflow: hidden;
    word-break: break-all
}

.voiceChannelHeading__39ec2 .voiceIcon__39ec2 {
    margin-inline-end: 2px;
    position: relative;
    top: 1px
}

.voiceChannelDivider__39ec2 {
    width: 100%
}

.voiceChannelOverflowCount__39ec2 {
    background: var(--background-mod-strong)
}

.contextMenu__39ec2 {
    cursor: pointer;
    display: flex;
    margin-inline-end: 4px
}

.appWidgetPreview__39ec2 {
    margin-block-end: calc(var(--custom-activity-card-padding)*-1);
    margin-inline: calc(var(--custom-activity-card-padding)*-1)
}

.divider__23eb0 {
    background-color: var(--user-profile-border);
    height: 1px
}

.cloudPlaySection__33ecd {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between
}

.cloudPlaySectionTextContainer__33ecd {
    align-items: center;
    display: flex;
    gap: 8px
}

.cloudPlayDivider__33ecd {
    margin: 4px 0;
    width: 100%
}

.container__8e51c {
    align-items: center;
    display: flex;
    gap: 8px
}

.text__8e51c {
    font-family: var(--font-code)
}

.bar__8e51c {
    background-color: var(--background-mod-normal);
    border-radius: 2px;
    flex: 1;
    height: 2px
}

.progress__8e51c {
    background-color: var(--interactive-text-active);
    border-radius: inherit;
    height: inherit;
    min-width: 4px
}

.graphContainer__56e31 {
    background-color: var(--background-base-lower);
    margin-bottom: 8px;
    padding-bottom: 2px
}

.separator__56e31 {
    border: none;
    border-top: 1px solid var(--border-subtle);
    margin: 16px 0
}

.popoutText__56e31 {
    color: var(--text-default);
    font-size: 14px;
    line-height: 18px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.popoutText__56e31 strong {
    font-weight: var(--font-weight-bold)
}

.popoutText__56e31.popoutTextDetails__56e31 {
    color: var(--text-muted);
    margin-top: 8px
}

.popoutBottom__56e31 {
    display: flex
}

.debugButton__56e31 {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    text-decoration: none
}

.debugButton__56e31:hover {
    text-decoration: underline
}

.copyStatsButton__56e31 {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    margin-inline-start: 8px;
    text-decoration: none
}

.copyStatsButton__56e31:hover {
    text-decoration: underline
}

.textWithIcon__56e31 {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.secured__56e31 {
    color: var(--text-feedback-positive);
    display: flex;
    flex: 1;
    font-size: 12px;
    font-weight: var(--font-weight-medium)
}

.secured__56e31 .lockIcon__56e31 {
    margin-inline-end: 4px
}

.enable-forced-colors .container__56e31 {
    border: 2px solid CanvasText
}

.custom-theme-background .container__56e31 {
    border: 1px solid var(--border-strong)
}

.code__1466b {
    background-color: var(--background-code);
    display: grid;
    grid-template-columns: repeat(var(--secure-frames-columns), 1fr);
    overflow: hidden;
    padding: 12px;
    row-gap: 16px
}

.chunk__1466b {
    text-align: center
}

.divider__1466b {
    position: relative
}

.divider__1466b:after {
    background-color: var(--border-subtle);
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: 1
}

.codeText__1466b {
    font-weight: 500
}

.loading__1466b {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 104px
}

.container_e03deb {
    cursor: pointer;
    padding: 2px
}

.container__2d1a0 {
    display: flex;
    flex-direction: column
}

.tag__2d1a0 {
    align-self: flex-start;
    background-color: var(--background-base-low);
    border-radius: 4px;
    padding: 4px
}

.header__2d1a0,
.tag__2d1a0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px
}

.header__2d1a0 {
    margin-top: 16px
}

.code__2d1a0 {
    border-radius: 8px
}

.container_effb26 {
    display: flex;
    flex-direction: column;
    gap: var(--space-8)
}

.graphContainer_effb26 {
    background-color: var(--background-base-lower);
    margin-bottom: var(--space-16);
    padding-bottom: 2px
}

.userSelectText_effb26 {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.statsRow_effb26 {
    align-items: flex-start;
    display: flex
}

.statsText_effb26 {
    display: flex;
    flex-direction: column
}

.devButtons_effb26 {
    display: flex;
    gap: var(--space-8)
}

.copyButtonWrapper_effb26,
.devButtons_effb26>:first-child {
    flex: 1
}

.learnMoreLink_effb26 {
    cursor: pointer
}

.securedBanner__66f0f {
    align-items: center;
    display: flex;
    gap: var(--space-4);
    padding: var(--space-4) var(--space-8)
}

.separator__66f0f {
    border: none;
    border-top: 1px solid var(--border-subtle);
    margin: 0
}

.copyButtonWrapper__66f0f {
    cursor: pointer;
    position: relative
}

.copyStateVisible__66f0f {
    opacity: 1;
    transition: opacity .15s ease
}

.full-motion .copyStateVisible__66f0f {
    transform: scale(1);
    transition: opacity .15s ease, transform .15s ease
}

.copyStateHidden__66f0f {
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .15s ease
}

.full-motion .copyStateHidden__66f0f {
    transform: scale(.95);
    transition: opacity .15s ease, transform .15s ease
}

.code__1a1f5 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-sm);
    -moz-column-gap: var(--space-8);
    column-gap: var(--space-8);
    display: grid;
    grid-template-columns: repeat(var(--secure-frames-columns), 1fr);
    overflow: hidden;
    padding: var(--space-12);
    row-gap: var(--space-16)
}

.divider__1a1f5 {
    border: none;
    border-top: 1px solid var(--border-subtle);
    grid-column: 1/-1;
    margin: 0
}

.chunk__1a1f5 {
    text-align: center
}

.codeText__1a1f5 {
    font-weight: var(--font-weight-medium);
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.loading__1a1f5 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 104px
}

.container__9351a {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    height: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.codeGrid__9351a {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: var(--radius-sm);
    display: flex;
    flex: 1;
    overflow: hidden
}

.codeGridCode__9351a {
    background: none;
    border-radius: 0;
    width: 100%
}

.container__3a8da {
    background: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    padding: 16px;
    width: 300px
}

.tabs__3a8da,
.title__3a8da {
    margin-bottom: 16px
}

.tabs__3a8da {
    position: relative
}

.tabs__3a8da:after {
    background-color: var(--border-subtle);
    bottom: 0;
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 0
}

.tabBarItem__3a8da {
    padding-bottom: 8px
}

.debugPanelStandalone__3a8da {
    background: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    width: 290px
}

.debugPanelStandalone__3a8da>.debugPanelSection__3a8da {
    padding: 16px
}

.container__50387 {
    text-align: start;
    width: 300px
}

.tabs__50387 {
    margin-bottom: 0;
    position: relative
}

.tabs__50387:after {
    background-color: var(--border-subtle);
    bottom: 0;
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 0
}

.tabBarItem__50387 {
    padding-bottom: 8px
}

.tabPanel__50387 {
    display: grid
}

.tabPanel__50387>* {
    grid-area: 1/1
}

.tabPanelHidden__50387 {
    visibility: hidden
}

.debugPanelStandalone__50387 {
    text-align: start;
    width: 300px
}

.enable-forced-colors .container__50387,
.enable-forced-colors .debugPanelStandalone__50387 {
    border: 2px solid CanvasText
}

.custom-theme-background .container__50387,
.custom-theme-background .debugPanelStandalone__50387 {
    border: 1px solid var(--border-strong)
}

.hoverableStatus_cdcd10 {
    cursor: pointer
}

.ping__06d62 {
    color: var(--text-muted);
    display: block;
    flex: 0 0 auto;
    height: 16px;
    margin-inline: 0 4px;
    width: 16px
}

.ping__06d62.largePing__06d62 {
    background: var(--background-mod-muted);
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px var(--border-muted);
    height: 18px;
    margin-inline-end: 8px;
    padding: 7px;
    width: 18px
}

.clickablePing__06d62 {
    cursor: pointer
}

.rtcConnectionStatus__06d62 {
    align-items: center;
    display: flex;
    height: 32px;
    overflow: hidden;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap
}

.rtcConnectionStatusLabel__06d62 {
    font-weight: var(--font-weight-semibold);
    height: 20px;
    margin-top: -1px
}

.rtcConnectionStatusConnected__06d62 {
    color: var(--text-feedback-positive)
}

.rtcConnectionStatusConnecting__06d62 {
    color: var(--text-feedback-warning)
}

.rtcConnectionStatusError__06d62 {
    color: var(--text-feedback-critical)
}

.rtcConnectionQualityFine__06d62 .largePing__06d62 {
    background: var(--background-feedback-positive)
}

.rtcConnectionQualityAverage__06d62 .largePing__06d62 {
    background: var(--background-feedback-warning)
}

.rtcConnectionQualityBad__06d62 .largePing__06d62 {
    background: var(--background-feedback-critical)
}

.labelWrapper__06d62 {
    overflow: hidden
}

.rtcConnectionStatusWrapper__06d62 {
    display: flex;
    flex-direction: column;
    padding-bottom: 0
}
