.container__58471 {
    align-items: center;
    background: var(--background-surface-higher);
    box-sizing: border-box;
    justify-content: center;
    padding: var(--space-16);
    width: 254px
}

.container__58471,
.contentContainer__58471 {
    display: flex;
    flex-direction: column
}

.contentContainer__58471 {
    gap: var(--space-8)
}

.assetContainer__58471 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 53px;
    justify-content: center;
    padding-top: var(--space-16)
}

.orbAsset__58471 {
    height: 53px
}

.linkContainer__58471 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--space-16)
}

.linkPreText__58471 {
    color: var(--text-default)
}

.learnMoreLink__58471 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.balanceText__58471 {
    color: var(--text-default)
}

.rewardsContainer__58471 {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    padding-bottom: var(--space-12)
}

.balanceContainer__58471 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.videoBackground__58471,
.videoContainer__58471 {
    border-radius: inherit
}

.videoBackground__58471 {
    border: 1px solid var(--border-subtle);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 0
}

.content__58471 {
    position: relative;
    z-index: 1
}

.container_b4f99f {
    background: var(--background-surface-higher);
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    width: 254px
}

.assetContainer_b4f99f,
.container_b4f99f {
    align-items: center;
    display: flex;
    justify-content: center
}

.assetContainer_b4f99f {
    flex-shrink: 0;
    height: 86px;
    margin-bottom: 12px
}

.orbAsset_b4f99f {
    height: 86px
}

.sectionDivider_b4f99f {
    background-color: var(--border-subtle);
    border: 0;
    height: 1px;
    margin: 0 -12px;
    width: 100%
}

.linkContainer_b4f99f {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px
}

.linkPreText_b4f99f {
    color: var(--text-default)
}

.learnMoreLink_b4f99f {
    color: var(--border-focus);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.baseCardOutline__1ab14 {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    box-shadow: 0 12px 64px 0 rgba(0, 0, 0, .32)
}

.balanceCounterMargin__98f64 {
    margin-inline-start: 2px
}

.balanceCounterText__98f64 {
    color: var(--text-strong);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end
}

.full-motion .balanceCounterText__98f64 {
    transition: all .4s ease-out, opacity .4s ease-in
}

.clickable_a3e8db {
    box-sizing: border-box;
    cursor: pointer;
    height: 32px;
    pointer-events: all
}

.disabled_a3e8db {
    cursor: none;
    pointer-events: none
}

.container_a3e8db {
    align-items: center;
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: flex-end;
    opacity: 1 !important;
    padding: 8px 12px;
    pointer-events: all;
    position: relative
}

.container_a3e8db.disabled_a3e8db {
    cursor: none;
    pointer-events: none
}

.orbsLottieContainer_a3e8db {
    height: 60px;
    overflow: visible;
    position: relative;
    width: 20px
}

.orbsLottie_a3e8db {
    inset-inline-end: -20px;
    position: absolute
}

@keyframes spin_a3e8db {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.full-motion .orbIconloading_a3e8db {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin_a3e8db;
    animation-timing-function: linear
}

.containerLoading_a3e8db {
    gap: 0
}

.counterLoading_a3e8db {
    visibility: hidden
}

.container_a3e8db.default_a3e8db {
    background-color: var(--background-mod-subtle)
}

.container_a3e8db.highlighted_a3e8db,
.container_a3e8db.selected_a3e8db {
    background-color: var(--background-mod-normal)
}

.inModalOverlay_a3e8db.container_a3e8db.default_a3e8db,
.inModalOverlay_a3e8db.container_a3e8db.highlighted_a3e8db,
.inModalOverlay_a3e8db.container_a3e8db.selected_a3e8db {
    background-color: var(--modal-background)
}

.notificationBadge_a3e8db {
    inset-inline-end: -4.5px;
    position: absolute
}

.container__44ee9 {
    position: relative
}

.cardContainer__44ee9 {
    margin-top: 8px;
    position: absolute;
    z-index: 1000
}

.alignLeft__44ee9 {
    inset-inline-start: 0
}

.alignRight__44ee9 {
    inset-inline-end: 0
}

.coachmarkContainer__44ee9 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.hidden__44ee9 {
    visibility: hidden
}

.visible__44ee9 {
    visibility: visible
}

.themeSection_f7cedc,
.themeSelector_f7cedc {
    align-items: flex-start;
    display: flex
}

.themeSelector_f7cedc {
    flex-direction: row;
    gap: var(--space-md)
}

.themeOption_f7cedc {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: 0;
    transition: opacity .2s
}

.themeOption_f7cedc:hover {
    opacity: .8
}

.themeCircle_f7cedc {
    border: 2px solid var(--border-normal);
    border-radius: 50%;
    height: 32px;
    transition: border-color .2s;
    width: 32px
}

.themeCircleSelected_f7cedc {
    border-color: var(--brand-500)
}

.themeLabel_f7cedc {
    color: var(--text-muted);
    font-size: 11px;
    font-weight: 500
}

.controlBar__04a02 {
    flex-direction: column;
    width: 100%
}

.controlBar__04a02,
.questInput__04a02 {
    display: flex;
    gap: var(--space-sm)
}

.questInput__04a02 {
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    min-width: 600px
}

.currentQuestInfo__04a02 {
    flex: 1;
    gap: var(--space-xs);
    justify-content: flex-end
}

.currentQuestInfo__04a02,
.questName__04a02 {
    align-items: center;
    display: flex
}

.questName__04a02 {
    border: 1px solid var(--interactive-background-selected);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-sm)
}

.questLabel__04a02 {
    color: var(--interactive-text-default);
    font-weight: 500
}

.questTitle__04a02 {
    color: var(--interactive-text-active);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.divider__04a02 {
    background: var(--interactive-background-selected);
    height: 1px;
    margin-block: var(--space-sm) var(--space-sm);
    margin-inline: 0;
    width: 100%
}

.controlsSection__04a02 {
    display: flex;
    flex-direction: column;
    width: 100%
}

.controlsHeading__04a02 {
    color: var(--text-strong);
    margin: 0
}

.controlButtons__04a02 {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    justify-content: center
}

.questSelectorContainer__04a02 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-sm);
    justify-content: flex-end
}

.questSelectorWrapper__04a02 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.copyInput__04a02 {
    width: 100%
}

.sharePopover__04a02 {
    background: var(--background-surface-high);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-high);
    padding: var(--space-sm);
    width: 400px
}

.divider__3b806 {
    background: var(--interactive-background-selected);
    height: 1px;
    margin-block: var(--space-sm) var(--space-sm);
    margin-inline: 0;
    width: 100%
}

.previewPage__8d6f9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
    place-content: center
}

.errorIcon__8d6f9,
.questsIcon__8d6f9 {
    color: var(--text-strong);
    height: 24px;
    width: 24px
}

.messageWrapper__8d6f9 {
    margin-bottom: 12px;
    padding: 12px
}

.message__8d6f9 {
    color: var(--text-default);
    text-align: start;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.previewCard__8d6f9 {
    gap: var(--space-sm);
    padding: var(--space-md);
    width: 450px
}

.previewBackground__8d6f9,
.previewCard__8d6f9 {
    display: flex;
    flex-direction: column
}

.previewBackground__8d6f9 {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-md);
    justify-content: center;
    padding-bottom: var(--space-md);
    padding-top: var(--space-md);
    width: 100%
}

.heading__8d6f9 {
    grid-row: 1/span 1
}

.heading__8d6f9,
.questTile__8d6f9 {
    grid-column: 2/span 1
}

.questTile__8d6f9 {
    grid-row: 2/span 1
}

.questChannelCallHeaderWrapper__8d6f9>div {
    inset-inline-start: auto;
    margin-inline-start: 0;
    position: relative;
    top: auto
}

.embedCard__8d6f9 {
    align-self: flex-start;
    min-width: 100%;
    padding: 32px;
    width: -moz-fit-content;
    width: fit-content
}

.barCard_d8a230 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
    z-index: 10
}

.barHeading_d8a230 {
    margin-bottom: var(--space-8)
}

.fixedBarContainer_d8a230 {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 10
}

.fixedBarWrapper_d8a230 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-md);
    height: 275px;
    position: relative;
    width: var(--custom-guild-sidebar-width);
    z-index: 10
}

.desktopTooltip__7b565 {
    display: flex;
    padding: 4px 0;
    width: 100%
}

.infoIcon__7b565 {
    color: var(--white);
    margin-inline-end: 4px
}

.wrapper_ef0e9b {
    width: 100%
}

.percentCompleteWrapper_ef0e9b {
    display: flex
}

.percentCompleteLabel_ef0e9b {
    flex: 1 1 auto;
    text-align: end
}

.progressBar_ef0e9b {
    height: 4px;
    position: relative
}

.progressBar_ef0e9b:after {
    content: "";
    opacity: .2;
    width: 100%
}

.progressBar_ef0e9b:after,
.progressBarFill_ef0e9b {
    background-color: currentColor;
    border-radius: 4px;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.progressBarFill_ef0e9b:after {
    box-shadow: 0 0 8px currentColor;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%
}

.percentCompleteLabelOffset_ef0e9b,
.progressBarFill_ef0e9b {
    transition: width .3s ease-in-out
}

.wrapper__19b5e {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    inset-inline-start: 0;
    margin-inline-start: 16px;
    padding: 8px;
    position: absolute;
    top: 100%;
    width: 385px
}

.wrapperAccepted__19b5e {
    width: 305px
}

.rewardTileWrapper__19b5e {
    flex: 0 0 auto;
    height: 76px;
    position: relative;
    width: 76px
}

.rewardTile__19b5e {
    border-radius: 4px;
    display: block
}

.rewardTile__19b5e.rewardTile__19b5e {
    height: 100%;
    width: 100%
}

.heading__19b5e .rewardTile__19b5e {
    flex: 0 0 auto;
    height: 38px;
    width: 38px
}

.promotedTag__19b5e {
    box-sizing: border-box;
    inset-inline-start: 4px;
    position: absolute;
    text-align: center;
    width: calc(100% - 8px);
    word-break: break-word;
    z-index: 1
}

.content__19b5e {
    flex: 1 1 auto
}

.heading__19b5e {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 6px
}

.headingWithSubmenu__19b5e {
    display: flex;
    gap: 4px;
    margin-bottom: 2px
}

.questTitle__19b5e {
    flex: 1 1 auto;
    margin-inline-end: 24px
}

.gameTile__19b5e {
    border-radius: 4px;
    flex: 0 0 auto;
    height: 38px;
    width: 38px
}

.ctas__19b5e {
    display: flex;
    gap: 8px
}

.submenuWrapper__19b5e {
    cursor: pointer;
    inset-inline-end: 8px;
    position: absolute;
    top: 8px
}

.submenuIcon__19b5e {
    color: var(--interactive-text-default);
    height: 24px;
    width: 24px
}

.submenuIcon__19b5e:focus,
.submenuIcon__19b5e:hover {
    color: var(--interactive-text-hover)
}

.submenuIcon__19b5e:active {
    color: var(--interactive-text-active)
}

.container__5301b {
    box-sizing: border-box;
    margin-bottom: 16px;
    max-width: 660px;
    min-width: 280px;
    width: 100%
}

.wide__5301b.container__5301b {
    display: flex;
    flex-shrink: 0;
    height: 250px
}

.tall__5301b.container__5301b {
    display: flex;
    flex-direction: column-reverse
}

.contentContainer__5301b {
    background: var(--background-base-lowest);
    border-radius: 8px 0 0 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 38px 16px 16px
}

.tall__5301b .contentContainer__5301b {
    border-radius: 0 0 8px 8px;
    padding: 16px
}

.buttonContainer__5301b {
    align-self: flex-start;
    margin-top: auto
}

.tall__5301b .buttonContainer__5301b {
    margin-top: 50px;
    width: 100%
}

.imgContainer__5301b {
    align-items: center;
    background: var(--background-base-lower);
    border-radius: 0 8px 8px 0;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 16px
}

.missingQuestImage__5301b {
    height: 180px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.theme-light .contentContainer__5301b {
    background: var(--background-base-lower)
}

.theme-light .imgContainer__5301b {
    background: var(--background-mod-normal)
}

.theme-dark .contentContainer__5301b {
    background: var(--background-base-lowest)
}

.theme-dark .imgContainer__5301b {
    background: var(--background-base-lower)
}

.orbIconSVG__85200 {
    height: 18px
}

.full-motion .loading__85200 {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: spin__85200;
    animation-timing-function: linear
}

@keyframes spin__85200 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.container__960ef {
    border-top: 1px solid var(--border-subtle);
    box-sizing: border-box;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    min-height: 62px;
    padding: 12px;
    width: 100%
}

.container__960ef,
.ctaInner__960ef {
    align-items: center;
    display: flex
}

.ctaInner__960ef {
    gap: 6px
}

.ctaItem__960ef {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    gap: 8px;
    min-width: 0
}

.button__960ef {
    flex: 1 1 0;
    min-width: 0
}

.platformSelectorPrimaryLabel__960ef {
    align-items: center;
    display: flex;
    gap: 8px
}

.platformSelectorPrimaryLabelIcon__960ef {
    height: 16px;
    width: 16px
}

.platformSelectorPrimary__960ef {
    flex: 1 1 auto;
    width: 100%
}

.platformSelectorSecondary__960ef {
    flex: 1 1 0;
    height: 40px;
    min-height: auto;
    min-width: 0
}

.videoQuestPlayIcon__960ef {
    height: 16px;
    width: 16px
}

.container__956c6 {
    align-items: flex-start;
    background-color: var(--background-surface-high);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    transition: max-height .2s ease-out, height .2s ease-in;
    width: 100%;
    z-index: 2
}

.reduce-motion .container__956c6 {
    transition: none
}

.height__956c6 {
    height: 166px;
    max-height: 166px
}

.hoveredHeight__956c6 {
    height: 180px;
    max-height: 180px
}

.rewardDescriptionContainer__956c6 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    width: 100%
}

@keyframes pulse__956c6 {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.confetti__956c6 {
    position: absolute;
    transform: scale(1.4);
    z-index: 1
}

.completionAnimation__956c6 {
    animation: pulse__956c6 2s ease-in-out both;
    background-image: linear-gradient(180deg, rgba(45, 199, 113, .05), rgba(45, 199, 113, .1));
    height: 100%;
    inset-inline-start: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.progressWrapper__956c6 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;
    min-width: 80px;
    width: 80px
}

.questRewardTileAsset__956c6.questRewardTileAsset__956c6 {
    border-radius: 9.412px;
    height: 80px;
    min-width: 80px;
    width: 80px
}

.assetWrapper__956c6 {
    justify-content: center;
    padding-block: 12px;
    padding-inline: 12px 0;
    z-index: 999
}

.assetWrapper__956c6,
.textContainer__956c6 {
    display: flex;
    flex-direction: column
}

.textContainer__956c6 {
    overflow: hidden;
    padding: 12px
}

.justifyCenter__956c6 {
    justify-content: center
}

.questName__956c6 {
    margin-bottom: 4px
}

.subtitleRow__956c6 {
    align-items: center;
    -moz-column-gap: var(--space-8);
    column-gap: var(--space-8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2px
}

.header__956c6 {
    display: inline;
    margin-bottom: 2px
}

.orbsBalanceIcon__956c6 {
    height: 14px;
    margin-inline-end: 3px;
    position: relative;
    top: 1px
}

.description__956c6 {
    color: var(--text-default);
    font-size: 12px;
    line-height: 16px
}

.textOverflowBlur__956c6 {
    background: linear-gradient(transparent 50%, var(--background-base-lower) 100%);
    bottom: 0;
    inset-inline: 0;
    pointer-events: none;
    position: absolute;
    top: 0
}

.heroAsset_c93f8c {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    transition: opacity .7s;
    width: auto
}

.heroAssetCont_c93f8c {
    align-items: center;
    background-color: var(--background-base-low);
    display: flex;
    justify-content: center;
    overflow: hidden
}

.heroAssetCont_c93f8c,
.heroAssetVideo_c93f8c {
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.heroAssetVideo_c93f8c {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: opacity .4s
}

.container_b5b7aa {
    background-color: var(--background-surface-high);
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    height: 150px;
    position: relative;
    width: 100%
}

.positionContentOverBackground_b5b7aa {
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    z-index: 2
}

.contents_b5b7aa,
.positionContentOverBackground_b5b7aa {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.contents_b5b7aa {
    box-sizing: border-box;
    padding: 12px
}

.heroAssetWrapper_b5b7aa {
    align-items: center;
    border-radius: 8px 8px 0 0;
    display: flex;
    height: 100%;
    inset-inline-start: 0;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.heroAssetCont_b5b7aa,
.overlay_b5b7aa {
    aspect-ratio: 1320/370
}

.overlay_b5b7aa {
    background: linear-gradient(to top, var(--background-surface-high) 0, color-mix(in oklab, var(--background-surface-high) 95%, transparent) 20.31%, transparent 100%);
    border-radius: 8px 8px 0 0;
    inset-inline-start: 0;
    max-height: 150px;
    position: absolute;
    top: 0;
    z-index: 1
}

.heroImage_b5b7aa,
.overlay_b5b7aa {
    width: 100%
}

.topRow_b5b7aa {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end
}

.pills_b5b7aa {
    margin-inline-end: auto
}

.pill_b5b7aa,
.pills_b5b7aa {
    align-items: center;
    display: flex
}

.pill_b5b7aa {
    background-color: var(--white);
    border-radius: var(--radius-round);
    box-shadow: var(--shadow-low);
    padding: 2px 8px
}

.pillBrand_b5b7aa {
    background: var(--brand-500)
}

.eyebrowText_b5b7aa {
    font-size: 12px;
    font-weight: 700
}

.utilButtonWrapper_b5b7aa {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: hsl(var(--primary-700-hsl)/.48);
    border-radius: 50%;
    box-shadow: var(--shadow-medium);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    justify-self: flex-end;
    transition: background-color .15s ease-in-out;
    width: 24px
}

.utilButtonWrapper_b5b7aa:active,
.utilButtonWrapper_b5b7aa:focus,
.utilButtonWrapper_b5b7aa:hover {
    background-color: hsl(var(--primary-700-hsl)/.7)
}

.theme-light .container_b5b7aa {
    background-color: var(--black)
}

.theme-light .overlay_b5b7aa {
    background: linear-gradient(to top, var(--black) 0, hsl(var(--black-hsl)/.5) 20.31%, hsl(var(--black-hsl)/0) 100%)
}

.theme-light .utilButtonWrapper_b5b7aa {
    background-color: hsl(var(--primary-100-hsl)/.66)
}

.theme-light .utilButtonWrapper_b5b7aa:active,
.theme-light .utilButtonWrapper_b5b7aa:focus,
.theme-light .utilButtonWrapper_b5b7aa:hover {
    background-color: hsl(var(--primary-100-hsl)/1)
}

.reduce-motion .utilButtonWrapper_b5b7aa {
    transition: none
}

.utilButtonIcon_b5b7aa {
    color: var(--interactive-text-active);
    height: 16px;
    width: 16px
}

.utilButtonIconInformation_b5b7aa {
    color: var(--interactive-text-active);
    height: 14px;
    width: 14px
}

.partnerBranding_b5b7aa {
    justify-self: flex-end;
    margin-bottom: 4px;
    margin-top: auto
}

.partnerLogotypes_b5b7aa {
    align-items: flex-end;
    display: flex;
    height: auto;
    justify-content: flex-start;
    max-height: 34px;
    max-width: 121px;
    width: -moz-min-content;
    width: min-content
}

.bottomRow_b5b7aa,
.hints_b5b7aa {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.hints_b5b7aa {
    border-top: 1px solid var(--border-muted);
    padding: 12px
}

.hintsContainer_b5b7aa {
    gap: 8px
}

.hintsContainer_b5b7aa,
.promotedByRow_b5b7aa {
    align-items: center;
    display: flex;
    flex-direction: row
}

.verifiedIcon_b5b7aa {
    margin: 0 3px
}

.container_cec934 {
    align-items: center;
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-muted);
    border-radius: 10px;
    box-shadow: var(--shadow-low);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 316px;
    min-width: 336px;
    overflow: hidden;
    width: 100%
}

.questEmbedCard__4d6dc {
    isolation: isolate;
    max-width: 425px
}

.spinner__255ba {
    margin-top: 40px
}

.embedCard_b5ecb2 {
    align-self: center;
    gap: 24px;
    min-width: min(100%, 687px);
    padding: 32px;
    width: -moz-fit-content;
    width: fit-content
}

.embedCard_b5ecb2,
.embedSections_b5ecb2 {
    display: flex;
    flex-direction: column
}

.embedSections_b5ecb2 {
    gap: var(--space-sm)
}

.embedHeading_b5ecb2,
.embedHelper_b5ecb2 {
    margin-bottom: 8px
}

.helperText_b5ecb2 {
    color: var(--text-muted);
    font-size: 12px;
    font-style: italic
}

.embedWrapper_b5ecb2 {
    display: flex;
    justify-content: center
}

.embedSection_b5ecb2 {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm)
}

.embedSection_b5ecb2:hover {
    border-color: var(--border-subtle)
}

.fixedEmbed_b5ecb2 {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative
}

.desktopEmbed_b5ecb2 {
    width: 687px
}

.tabletEmbed_b5ecb2 {
    width: 450px
}

.mobileEmbed_b5ecb2 {
    width: 300px
}

.sizeLabel_b5ecb2 {
    color: var(--text-muted);
    font-size: 12px;
    font-style: italic;
    margin-inline-start: 8px
}

.questsEmbed_b5ecb2 {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    flex-shrink: 0;
    height: 100%;
    max-width: 687px;
    min-width: 300px;
    overflow: auto;
    position: relative;
    resize: horizontal;
    width: 451px
}

.contentHeader__5b400 {
    justify-content: space-between;
    margin-bottom: 8px
}

.contentHeader__5b400,
.refreshWrapper__5b400 {
    align-items: center;
    display: flex
}

.refreshWrapper__5b400 {
    color: var(--text-muted);
    cursor: pointer;
    gap: 4px
}

.refreshWrapper__5b400:hover {
    color: var(--interactive-text-hover)
}

.disabled__5b400 {
    color: var(--text-muted);
    pointer-events: none
}

.colorTransition__5b400 {
    transition: color .15s ease-in-out
}

.accountsWrapper__5b400 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.connectionRow__5b400 {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    overflow: hidden
}

.connectionRowHeader__5b400 {
    align-items: center;
    background-color: var(--background-base-low);
    display: flex;
    justify-content: space-between;
    padding: 10px 12px
}

.connectionRowHeaderError__5b400 {
    background-color: hsl(var(--background-base-low-hsl)/.7)
}

.connectionRowHeaderContent__5b400 {
    align-items: center;
    display: flex;
    gap: 8px
}

.success__5b400 {
    color: var(--text-feedback-positive)
}

.error__5b400 {
    color: var(--text-feedback-critical)
}

.gameTile__5b400 {
    height: 16px;
    width: 16px
}

.errorRow__5b400 {
    align-items: center;
    border-top: 1px solid var(--border-subtle);
    display: flex;
    gap: 8px;
    padding: 10px 12px
}

.errorsContainer__5b400 {
    background: linear-gradient(to bottom, hsl(var(--red-430-hsl)/.15), hsl(var(--red-430-hsl)/.02))
}

.tooltip__5b400 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.placeholderElement__6e847 {
    background-color: var(--background-base-low);
    border-radius: 8px
}

.heading_a10b43 {
    color: var(--text-strong);
    margin-bottom: var(--space-12)
}

.previewDescription_a10b43 {
    color: var(--text-muted);
    font-size: 12px;
    font-style: italic;
    margin-bottom: var(--space-16)
}

.memberListContainer_a10b43 {
    border-radius: var(--radius-md);
    display: flex;
    margin-top: var(--space-16);
    padding: var(--space-8) 0;
    width: 100%
}

.minimalMemberItem_a10b43 {
    border-radius: var(--radius-sm);
    transition: background-color .1s ease;
    width: 240px
}

.minimalMemberItem_a10b43:hover {
    background-color: var(--interactive-background-hover)
}

.minimalMemberItem_a10b43.selected_a10b43 {
    background-color: var(--interactive-background-selected)
}

.minimalMemberItem_a10b43>* {
    cursor: pointer;
    padding: var(--space-8) var(--space-12);
    width: 100%
}

.memberItemContent_a10b43 {
    align-items: center;
    display: flex;
    gap: var(--space-12);
    width: 100%
}

.memberInfo_a10b43 {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0
}

.container_ba8a2f {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    height: 100%;
    width: 790px
}

.controlsBarContainer_ba8a2f {
    margin-bottom: var(--space-sm);
    width: 90%
}

.progressBar_ba8a2f {
    border-radius: 4px;
    height: 8px;
    overflow: hidden;
    position: relative
}

.progressBarFill_ba8a2f {
    background: linear-gradient(90deg, var(--brand-500) 0, var(--brand-360) 100%);
    border-radius: 4px;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.contentArea_ba8a2f {
    border-radius: 8px;
    flex: 1;
    z-index: 1
}

.content_ba8a2f,
.contentArea_ba8a2f {
    overflow: visible;
    position: relative
}

.content_ba8a2f {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%
}

.group__0a16d {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-8) 0 var(--space-4)
}

.backwardsCompatibleCheckbox__0a16d {
    align-items: start;
    display: flex;
    padding: var(--space-8)
}

.popout__9047f {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-high);
    box-sizing: border-box;
    padding: var(--space-16);
    width: 242px
}

.popoutHeading__9047f {
    margin-bottom: var(--space-16)
}

.groupDivider__61c5c {
    background-color: var(--border-subtle);
    border: none;
    height: 1px;
    margin: var(--space-12) calc(var(--space-8)*-1) var(--space-16) calc(var(--space-8)*-1)
}

.submitWrapper__61c5c {
    margin: calc(var(--space-8)*-1)
}

.container__60f82 {
    box-sizing: border-box;
    display: grid;
    gap: var(--custom-quest-grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(var(--custom-min-quest-tile-width), 1fr));
    justify-content: center;
    margin-top: var(--space-24);
    max-width: 1310px;
    width: 100%
}

@keyframes reflect__60f82 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg)
    }

    10% {
        opacity: .25;
        transform: scale(0) rotate(45deg)
    }

    11% {
        opacity: .5;
        transform: scale(4) rotate(45deg)
    }

    28% {
        opacity: 0;
        transform: scale(50) rotate(45deg)
    }
}

.highlightedWrapper__60f82,
.questTile__60f82 {
    overflow: hidden;
    position: relative
}

.highlightedWrapper__60f82 {
    border-radius: 10px
}

.reflect__60f82 {
    background-color: #fff;
    height: 100%;
    inset-inline-start: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -300px;
    transform: rotate(-45deg);
    width: 30px;
    z-index: 999
}

.full-motion .reflect__60f82 {
    animation: reflect__60f82 4s ease-in-out
}

.spinner__60f82 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.emptyStateContainer__60f82 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-inline: auto;
    max-width: 575px;
    padding: 88px;
    text-align: center
}

.headingWrapper__57454 {
    align-items: center;
    display: flex;
    gap: var(--space-16);
    justify-content: space-between;
    margin-top: var(--space-24)
}

.headingControls__57454 {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.filterSortOption__57454 {
    border-radius: var(--radius-sm);
    cursor: pointer;
    margin-bottom: 0;
    padding: var(--space-8) !important
}

.filterSortOption__57454:hover {
    background-color: var(--background-mod-subtle)
}

.container__06199 {
    align-items: center;
    background-image: linear-gradient(0deg, #15193c, #000 33%);
    display: flex;
    height: 100%;
    justify-content: center
}

.asset__06199 {
    aspect-ratio: 16/10;
    inset: 0;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    width: 100%
}

.full-motion .asset__06199 {
    transition-duration: transitionDuration;
    transition-property: transform, opacity, filter;
    transition-timing-function: transitionTimingFunction
}

@value detailsOffset 20px;
@value transitionDuration 0.2s;
@value transitionTimingFunction ease-in-out;
@value borderRadius 16px;

.container__9192b {
    aspect-ratio: 1;
    border-radius: 16px;
    max-width: 330px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.image__9192b {
    border-radius: 16px 16px 0 0;
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.full-motion .image__9192b {
    transition-duration: .2s;
    transition-property: transform, opacity, filter;
    transition-timing-function: ease-in-out
}

.assetBlurred__9192b {
    border-radius: 16px 16px 0 0;
    filter: blur(30px);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.decoWrapper__9192b {
    inset-inline-start: 50%;
    position: absolute;
    top: 24px;
    transform: translateX(-50%);
    transform-origin: top;
    z-index: 2
}

.full-motion .decoWrapper__9192b {
    transition-duration: .2s;
    transition-property: transform, opacity, filter;
    transition-timing-function: ease-in-out
}

.overlay__9192b {
    position: absolute;
    top: 50%;
    inset-inline: 0;
    bottom: -50%;
    z-index: 1
}

.full-motion .overlay__9192b {
    transition: transform .2s ease-in-out
}

.darkThemeGradient__9192b {
    background: linear-gradient(to top, var(--primary-660) 0, hsl(var(--primary-660-hsl)/.5) 50%, hsl(var(--primary-660-hsl)/0) 100%)
}

.lightThemeGradient__9192b {
    background: linear-gradient(to top, hsl(var(--black-hsl)/.7) 0, hsl(var(--black-hsl)/.5) 50%, hsl(var(--black-hsl)/0) 100%)
}

.details__9192b {
    align-items: center;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    position: absolute;
    text-align: center;
    text-wrap: pretty;
    transform: translateY(100%);
    z-index: 10
}

.full-motion .details__9192b {
    transition: transform .2s ease-in-out
}

.logoContainer__9192b {
    bottom: 20px;
    display: flex;
    inset-inline: 0;
    justify-content: center;
    position: absolute;
    z-index: 5
}

.full-motion .logoContainer__9192b {
    transition: transform .2s ease-in-out
}

.logo__9192b {
    height: auto;
    max-height: 45px;
    max-width: 140px;
    -o-object-position: center;
    object-position: center
}

.logoWithCosponsor__9192b {
    max-width: 70px
}

.title__9192b {
    margin-bottom: 4px
}

.button__9192b {
    margin-top: 16px;
    width: 100%
}

.hovered__9192b .details__9192b {
    transform: translateY(-20px)
}

.hovered__9192b .image__9192b {
    filter: blur(8px);
    opacity: .8
}

.hovered__9192b .overlay__9192b {
    transform: translateY(-80px)
}

.hovered__9192b .decoWrapper__9192b {
    transform: translateX(-50%) scale(.53)
}

.gridContainer_f3e8a7 {
    display: grid;
    gap: var(--space-24);
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: center
}

.spinner_f3e8a7 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.wrapper__0829a {
    container-name: wrapper;
    container-type: inline-size
}

.contentWrapper__0829a {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-xl);
    box-sizing: border-box;
    display: flex;
    isolation: isolate;
    min-height: 500px;
    overflow: hidden;
    padding: var(--space-32);
    position: relative
}

@container wrapper (width < 725px) {
    .contentWrapper__0829a {
        min-height: 580px
    }
}

.contentWrapperLoading__0829a {
    align-items: center;
    border: none;
    justify-content: center
}

.content__0829a {
    position: relative;
    z-index: 2
}

.contentBody__0829a {
    max-width: 540px
}

.title__0829a {
    text-transform: uppercase;
    white-space: pre-wrap
}

.title__0829a p {
    margin: 0
}

.subtitle__0829a {
    opacity: .8;
    text-wrap: balance
}

.scrollerWrapper__8dd17 {
    position: relative
}

.scrollerMask__8dd17 {
    --custom-scroller-mask-width-left: 0;
    --custom-scroller-mask-width-right: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff var(--custom-scroller-mask-width-left), #fff calc(100% - var(--custom-scroller-mask-width-right)), transparent);
    mask-image: linear-gradient(90deg, transparent, #fff var(--custom-scroller-mask-width-left), #fff calc(100% - var(--custom-scroller-mask-width-right)), transparent)
}

.full-motion .scrollerMask__8dd17 {
    transition: --custom-scroller-mask-width-left .1s ease-out, --custom-scroller-mask-width-right .1s ease-out
}

@property --custom-scroller-mask-width-left {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --custom-scroller-mask-width-right {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

.maskLeft__8dd17 {
    --custom-scroller-mask-width-left: var(--custom-scroller-mask-width)
}

.maskRight__8dd17 {
    --custom-scroller-mask-width-right: var(--custom-scroller-mask-width)
}

.scrollButton__8dd17 {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .25s ease-out;
    width: 40px;
    z-index: 1
}

.scrollButtonVisible__8dd17 {
    opacity: 1;
    pointer-events: all
}

.scrollButton__8dd17:hover {
    background-color: hsla(0, 0%, 100%, .3)
}

.theme-light .scrollButton__8dd17 {
    background-color: rgba(0, 0, 0, .1)
}

.theme-light .scrollButton__8dd17:hover {
    background-color: rgba(0, 0, 0, .2)
}

.scrollButtonLeft__8dd17 {
    inset-inline-start: var(--space-8)
}

.scrollButtonRight__8dd17 {
    inset-inline-end: var(--space-8)
}

.shelfCard_c676ef {
    border-radius: var(--radius-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    height: 355px;
    overflow: clip;
    width: 300px
}

.shelfCardIntro_c676ef {
    position: relative
}

.shelfCardBackground_c676ef {
    isolation: isolate;
    z-index: 0
}

.shelfCardBackground_c676ef,
.shelfCardIntroAsset_c676ef {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.shelfCardIntroAsset_c676ef {
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.shelfCardIntroImage_c676ef {
    z-index: 0
}

.shelfCardIntroVideo_c676ef {
    opacity: 0;
    z-index: 1
}

.full-motion .shelfCardIntroVideo_c676ef {
    transition: opacity .3s ease-in-out
}

.shelfCardIntro_c676ef:has(:focus-visible) .shelfCardIntroVideo_c676ef,
.shelfCardIntro_c676ef:hover .shelfCardIntroVideo_c676ef {
    opacity: 1
}

.introCardCta_c676ef {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    padding: var(--space-16);
    position: absolute
}

.shelfCardQuest_c676ef {
    background-color: var(--background-base-low);
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-16);
    position: relative
}

.shelfCardQuest_c676ef,
.shelfCardQuestLogo_c676ef {
    align-items: center;
    border: 1px solid var(--border-subtle);
    display: flex
}

.shelfCardQuestLogo_c676ef {
    align-self: flex-start;
    background-color: var(--background-surface-high);
    border-radius: var(--radius-md);
    box-sizing: border-box;
    height: 55px;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-4);
    width: 55px
}

.shelfCardQuestDetails_c676ef {
    align-self: stretch;
    padding: 0 var(--space-8) var(--space-8)
}

.progressWrapper_c676ef {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    will-change: transform
}

.gameTile_c676ef {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.rewardName_c676ef {
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.viewQuestCta_c676ef {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    padding: var(--space-16);
    position: absolute
}

.shelf__6e2ec {
    margin-bottom: var(--space-48);
    margin-top: var(--space-24)
}

.heroBackground__5d00f {
    z-index: 0
}

.backgroundOverlay__5d00f,
.backgroundOverlay__5d00f:after,
.backgroundOverlay__5d00f:before,
.heroAsset__5d00f,
.heroBackground__5d00f {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.asset__5d00f {
    bottom: 0;
    height: auto;
    inset-inline-end: 0;
    inset-inline-start: auto;
    max-width: 100%;
    min-height: 100%;
    min-width: 1234px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto
}

.heroAssetBlurred__5d00f .asset__5d00f {
    filter: blur(var(--custom-image-blur-amount)) brightness(.5) saturate(120%)
}

.heroAssetBlurredA__5d00f {
    --custom-image-blur-amount: 10px;
    -webkit-mask: linear-gradient(90deg, #000, transparent 30%);
    mask: linear-gradient(90deg, #000, transparent 30%)
}

.heroAssetBlurredB__5d00f {
    --custom-image-blur-amount: 5px;
    -webkit-mask: linear-gradient(90deg, #000 30%, transparent 70%);
    mask: linear-gradient(90deg, #000 30%, transparent 70%)
}

.backgroundOverlay__5d00f {
    overflow: hidden;
    z-index: 1
}

.backgroundOverlay__5d00f:after {
    inset-inline-end: auto;
    -webkit-mask: linear-gradient(270deg, transparent, rgba(0, 0, 0, .83) 68%, #000);
    mask: linear-gradient(270deg, transparent, rgba(0, 0, 0, .83) 68%, #000);
    width: 600px
}

.backgroundOverlay__5d00f:after,
.backgroundOverlay__5d00f:before {
    background-color: var(--background-base-lower);
    content: ""
}

.backgroundOverlay__5d00f:before {
    display: none;
    height: 500px;
    -webkit-mask: linear-gradient(180deg, transparent, #000);
    mask: linear-gradient(180deg, transparent, #000);
    top: auto
}

@container wrapper (width < 725px) {
    .heroAssetBlurred__5d00f {
        display: none
    }

    .backgroundOverlay__5d00f:after {
        -webkit-mask: linear-gradient(135deg, #000, rgba(0, 0, 0, .83) 15%, transparent 30%);
        mask: linear-gradient(135deg, #000, rgba(0, 0, 0, .83) 15%, transparent 30%)
    }

    .backgroundOverlay__5d00f:before {
        display: block
    }
}

.logo__5d00f {
    flex-shrink: 0;
    max-height: 56px;
    max-width: 132px;
    -o-object-fit: contain;
    object-fit: contain
}

.sponsoredTag__5d00f {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    margin-inline-end: -8px;
    margin-top: -8px;
    padding: 4px 8px
}

@value headerBarHeight 60px;

.container__955a3 {
    border-top: 1px solid var(--app-frame-border);
    box-sizing: border-box;
    color: rgba(64, 74, 123, .7);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative
}

.withoutTopBorder__955a3 {
    border-top: none
}

.dragRegion__955a3 {
    display: none;
    height: 60px;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.bannerAsset__955a3 {
    grid-area: layer;
    height: 100%;
    max-height: 348px;
    max-width: 1300px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.tabs__955a3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 24px 20px 4px
}

.redirectNoticeBannerAsset__955a3 {
    -o-object-position: bottom center;
    object-position: bottom center
}

.redirectNoticeBannerContainer__955a3 {
    background-image: linear-gradient(180deg, #26007c, #00006a)
}

.redirectNoticeContainer__955a3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 560px;
    padding: 24px;
    text-align: center
}

.contentSection__955a3 {
    height: auto
}

.contentWrapper__955a3 {
    box-sizing: border-box;
    height: auto;
    padding: var(--space-24) var(--space-20)
}

.heroBackground__955a3 {
    background-color: #0c1522;
    container-type: inline-size;
    inset: 0;
    overflow: hidden;
    position: absolute;
    z-index: 0
}

.heroGradient__955a3 {
    background: linear-gradient(180deg, transparent 49.93%, rgba(0, 0, 0, .2) 84.02%);
    inset: 0;
    position: absolute;
    z-index: 1
}

.heroBannerAsset__955a3 {
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.heroBackgroundOrbs__955a3 {
    background-color: #000
}

.heroGradientOrbs__955a3 {
    background: linear-gradient(0deg, var(--brand-500) 0, transparent 33%);
    opacity: .25
}

.heroBannerAssetOrbs__955a3 {
    -o-object-position: 75% 50%;
    object-position: 75% 50%
}

.heroBannerAssetDefault__955a3 {
    inset-inline-start: auto;
    max-width: 900px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom right;
    object-position: bottom right;
    transform: translateX(15%);
    width: auto
}

@container (width < 1210px) {
    .heroBannerAssetDefault__955a3 {
        transform: translateX(25%)
    }
}

@container (width < 960px) {
    .heroBannerAssetDefault__955a3 {
        transform: translateX(50%)
    }
}

@container (width < 760px) {
    .heroBannerAssetDefault__955a3 {
        opacity: .5
    }
}
