.root__0add0 {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    position: relative
}

.loading__0add0 {
    animation: shimmer__0add0 1.5s ease-in-out infinite;
    background: linear-gradient(90deg, var(--background-mod-subtle) 25%, var(--background-mod-muted) 50%, var(--background-mod-subtle) 75%);
    background-size: 200% 100%;
    border-radius: var(--radius-md)
}

@keyframes shimmer__0add0 {
    0% {
        background-position: 200% 0
    }

    to {
        background-position: -200% 0
    }
}

.player__0add0 {
    aspect-ratio: 16/9;
    max-width: 100%;
    min-height: 0;
    position: relative
}

.centeringWrapper__0add0,
.player__0add0 {
    align-items: center;
    display: flex;
    justify-content: center
}

.centeringWrapper__0add0 {
    flex-direction: column;
    margin-bottom: auto;
    width: 100%
}

.timelineWrapper__0add0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 90%
}

.playBar__0add0 {
    height: 40px
}

.playBar__0add0,
.waveform__0add0 {
    width: 100%
}

.waveform__0add0 {
    height: 48px
}

.timelineContainer__0add0 {
    align-self: center;
    display: flex;
    height: 80px;
    width: 100%
}
