.imageUnverified_d450d1,
.message_d450d1 {
    margin-bottom: 20px;
    margin-top: 20px
}

.imageUnverified_d450d1 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-inline: auto;
    width: 162px
}

.images-light .imageUnverified_d450d1 {
    background-image: url(/assets/8417bbd4ec8f476a.svg)
}

.images-dark .imageUnverified_d450d1 {
    background-image: url(/assets/f7db12df7391974c.svg)
}
