.headerSection__1c228 {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: space-between
}

.partialOwnStateContainer__0d2da {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    opacity: .5
}

.partiallyOwnedDisclaimer__0d2da {
    margin-inline-start: -8px
}

.iconWrapper__0d2da {
    margin-top: 2px
}

.infoIcon__0d2da {
    color: var(--interactive-text-active);
    height: 16px;
    width: 16px
}

.striked_e77b99 {
    opacity: .7;
    text-decoration: line-through
}

.priceTagsContainer_f73e93 {
    align-items: flex-end;
    display: inline-flex
}

.price_f73e93 {
    margin-inline-end: 8px
}

.premiumIcon_f73e93 {
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}

.premiumIcon_f73e93.fullPrice_f73e93 {
    margin-inline-end: 2px
}

.subscribeNow_f5ae75 {
    cursor: pointer;
    display: inline;
    text-decoration: underline
}

.container_f284f6 {
    align-items: center;
    color: var(--text-default);
    display: flex;
    flex: 1;
    margin-inline-end: 8px;
    opacity: .7;
    white-space: nowrap
}

.nitroIcon_f284f6 {
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}
