.noProductsContainer_f5cb44 {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 158px 16px 12px;
    position: relative
}

.noProductsContainer_f5cb44:before {
    background: url(/assets/b8bf36b07f51d283.svg) no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    height: 52px;
    inset-inline-start: 0;
    position: absolute;
    width: 51px
}

.noProductsDescription_f5cb44 {
    margin-inline-start: 50px
}

.theme-light .noProductsContainer_f5cb44 {
    background: var(--interactive-background-active) url(/assets/46441a0c3a0d158b.png) 16px 16px/702px 108px no-repeat
}

.theme-dark .noProductsContainer_f5cb44 {
    background: var(--interactive-background-hover) url(/assets/0a2724ab0048ac63.png) 16px 16px/702px 108px no-repeat
}

.productListingsHeader_f5cb44 {
    margin-bottom: 16px
}

.productListings_f5cb44 {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.addButton_f5cb44 {
    padding-inline: 10px 16px
}

.addButtonInner_f5cb44 {
    align-items: center;
    display: flex
}

.row__5fe04 {
    display: flex
}

.clickable__5fe04 {
    color: var(--interactive-text-default);
    cursor: pointer
}

.clickable__5fe04:hover {
    color: var(--interactive-text-hover)
}

.headerCell__5fe04 {
    display: flex
}

.headerCellContent__5fe04 {
    align-items: center;
    display: flex;
    min-height: 18px
}

.stickyHeader__5fe04 {
    inset-inline-start: 0;
    position: sticky;
    top: 0;
    z-index: 2
}

.sortIcon__5fe04 {
    height: 18px;
    margin-inline-start: 4px;
    width: 18px
}

.headerCellSorted__5fe04 {
    color: var(--text-default)
}

.table_c3fe25 {
    width: 100%
}

.tableWithoutSeparators_c3fe25 {
    padding-bottom: 8px
}

.tableContainer_c3fe25 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    padding: 16px 16px 0
}

.rowWithSeparators_c3fe25 {
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    padding: 8px 0
}

.rowWithSeparators_c3fe25:last-child {
    border-bottom: none
}

.header_c3fe25 {
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    padding-bottom: 8px;
    text-transform: uppercase
}

.headerWithoutSeparators_c3fe25 {
    margin-bottom: 8px
}

.listingImage_c3fe25 {
    background-color: var(--black);
    border-radius: 50%;
    height: 20px;
    margin-inline-end: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 20px
}

.cell_c3fe25 {
    flex-shrink: 1;
    padding: 8px 0
}

.cell_c3fe25,
.headerCell_c3fe25 {
    align-items: center;
    display: flex
}

.cellAlignRight_c3fe25 {
    justify-content: flex-end;
    text-align: end
}

.listingNameCell_c3fe25,
.personCountCell_c3fe25 {
    display: flex
}

.personCountIcon_c3fe25 {
    height: 20px;
    margin-inline-start: 8px;
    vertical-align: sub;
    width: 20px
}

.unpublishedBadge_c3fe25 {
    background-color: var(--background-mod-muted);
    border-radius: 4px;
    color: var(--interactive-text-default);
    display: inline-block;
    margin-inline-start: 8px;
    padding: 0 4px
}

.listingNameLabel_c3fe25 {
    align-items: center;
    display: flex
}

.toggleExpandColumn__35651 {
    align-items: stretch;
    display: flex;
    width: var(--custom-monetization-info-table-expandable-rows-toggle-expand-column-width)
}

.toggleExpandCell__35651 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1
}

.caretIcon__35651 {
    color: var(--interactive-text-default);
    height: 12px;
    width: 12px
}

.caretDownIcon__35651 {
    transform: rotate(90deg)
}

.toggleExpandColumn__5d2ba {
    align-items: stretch;
    display: flex;
    width: var(--custom-monetization-info-table-expandable-rows-toggle-expand-column-width)
}

.toggleExpandCell__5d2ba {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1
}

.caretIcon__5d2ba {
    color: var(--interactive-text-default);
    height: 12px;
    width: 12px
}

.caretDownIcon__5d2ba {
    transform: rotate(90deg)
}

.periodColumn__5d2ba {
    align-items: flex-start;
    flex-direction: column;
    width: calc(34% - var(--custom-monetization-info-table-expandable-rows-toggle-expand-column-width))
}

.amountColumn__5d2ba {
    width: 24%
}

.statusColumn__5d2ba {
    width: 42%
}

.statusCell__5d2ba {
    align-items: center;
    display: flex
}

.amountDisclaimer__5d2ba,
.statusDisclaimer__5d2ba {
    margin-inline-start: 5px
}

.statusPaidIcon__5d2ba {
    color: var(--text-feedback-positive);
    height: 20px;
    margin-inline-start: 8px;
    vertical-align: sub;
    width: 20px
}

.statusDeferredIcon__5d2ba,
.statusErrorIcon__5d2ba,
.statusScheduledIcon__5d2ba {
    height: 16.67px;
    margin-inline-start: 8px;
    vertical-align: bottom;
    width: 16.67px
}

.statusErrorIcon__5d2ba {
    color: var(--text-feedback-critical)
}

.statusScheduledIcon__5d2ba {
    color: var(--text-feedback-warning)
}

.statusDeferredIcon__5d2ba {
    color: var(--hypesquad-house-3)
}

.container_eeaef9 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    flex: 1;
    flex-direction: column;
    height: 122px;
    padding: 16px
}

.container_eeaef9,
.labelContainer_eeaef9 {
    display: flex;
    justify-content: space-between
}

.labelContainer_eeaef9 {
    margin-bottom: 16px
}

.label_eeaef9 {
    color: var(--interactive-text-default);
    font-family: var(--font-display);
    letter-spacing: .02em;
    text-transform: uppercase
}

.sublabel_eeaef9 {
    color: var(--text-muted)
}

.value_eeaef9 {
    color: var(--text-strong);
    font-family: var(--font-display);
    font-size: 25px;
    font-weight: var(--font-weight-medium);
    line-height: 30px
}

.trendContainer_eeaef9 {
    display: flex
}

.chartLineIcon_eeaef9 {
    color: var(--green-360);
    height: 20px;
    margin-inline-end: 8px;
    width: 20px
}

.chartLineIconNegative_eeaef9 {
    color: var(--icon-feedback-critical);
    transform: scaleY(-1)
}

.trendDescription_eeaef9 {
    color: var(--text-default)
}

.labelTooltipIcon_eeaef9 {
    color: var(--interactive-text-default)
}

.paymentInfoGroup_c0544c {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.metricsContainer_c0544c {
    display: flex;
    gap: 16px;
    justify-content: "space-between"
}

.metricCard_c0544c {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    min-height: 122px;
    padding: 16px
}

.metricCardLabelContainer_c0544c {
    display: flex;
    justify-content: space-between
}

.metricCardLabel_c0544c {
    letter-spacing: .02em;
    text-transform: uppercase
}

.totalMembersIcon_c0544c {
    color: var(--interactive-text-default);
    height: 30px;
    vertical-align: bottom;
    width: 30px
}

.paymentSections__72707 {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.selectTeamContainer__7b175 {
    display: flex
}

.teamSelect__7b175 {
    flex: 1;
    margin-inline-end: 16px
}

.error__7b175 {
    color: var(--text-feedback-critical);
    margin-top: 8px
}

.description__7b175 {
    margin-bottom: 16px
}

.nonOwnerNotice__7b175 {
    align-items: flex-start;
    margin-bottom: 24px
}

.selfDemonetization__7b175 {
    margin-top: 32px
}

.listingNameColumn__6ef11 {
    width: 52%
}

.paymentsCountColumn__6ef11,
.priceColumn__6ef11 {
    width: 24%
}

.tabBarContainer_eb3aa4 {
    position: relative
}

.tabBar_eb3aa4 {
    border-bottom: 2px solid var(--border-subtle);
    gap: 32px;
    margin-bottom: 24px;
    margin-top: 30px
}

.tabBarItem_eb3aa4 {
    margin-bottom: -2px;
    padding-bottom: 16px
}

.previewButton_eb3aa4 {
    margin-inline-start: auto;
    margin-top: -8px
}

.table__16462 {
    width: 100%
}

.tableContainer__16462 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    padding: 16px 16px 0
}

.row__16462 {
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    color: var(--interactive-text-default);
    font-size: 16px;
    padding: 8px 0
}

.row__16462:last-child {
    border-bottom: none
}

.header__16462 {
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    color: var(--text-default);
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
    line-height: 16px;
    padding-bottom: 8px;
    text-transform: uppercase
}

.cellAlignRight__16462 {
    justify-content: flex-end;
    text-align: end
}

.cell__16462 {
    padding: 10px 0
}

.toggleExpandColumn__16462 {
    width: var(--custom-historic-earnings-table-toggle-expand-column-width)
}

.toggleExpandCell__16462 {
    cursor: pointer
}

.caretIcon__16462 {
    color: var(--interactive-text-default);
    height: 12px;
    width: 12px
}

.caretDownIcon__16462 {
    transform: rotate(90deg)
}

.periodColumn__16462 {
    width: calc(34% - var(--custom-historic-earnings-table-toggle-expand-column-width))
}

.periodCell__16462 {
    color: var(--text-strong);
    font-weight: var(--font-weight-medium)
}

.subscribersColumn__16462 {
    width: 24%
}

.subscribersCell__16462 {
    padding: 8px 0
}

.subscribersIcon__16462 {
    height: 20px;
    margin-inline-start: 8px;
    vertical-align: sub;
    width: 20px
}

.amountColumn__16462 {
    width: 24%
}

.amountDisclaimer__16462 {
    margin-inline-start: 5px
}

.statusColumn__16462 {
    width: 42%
}

.statusDisclaimer__16462 {
    margin-inline-start: 5px
}

.statusCell__16462 {
    padding: 8px 0
}

.statusPaidIcon__16462 {
    color: var(--text-feedback-positive);
    height: 20px;
    margin-inline-start: 8px;
    vertical-align: sub;
    width: 20px
}

.statusDeferredIcon__16462,
.statusErrorIcon__16462,
.statusScheduledIcon__16462 {
    height: 16.67px;
    margin-inline-start: 8px;
    vertical-align: bottom;
    width: 16.67px
}

.statusErrorIcon__16462 {
    color: var(--text-feedback-critical)
}

.statusScheduledIcon__16462 {
    color: var(--text-feedback-warning)
}

.statusDeferredIcon__16462 {
    color: var(--hypesquad-house-3)
}

.tierNameColumn_e431b0 {
    width: 52%
}

.priceColumn_e431b0,
.subscribersColumn_e431b0 {
    width: 24%
}

.table_e431b0 {
    padding-bottom: 8px
}

.header_e431b0 {
    margin-bottom: 8px
}

.row_e431b0 {
    color: var(--interactive-text-default);
    font-size: 16px
}

.tierNameCell_e431b0 {
    align-items: center;
    color: var(--text-strong);
    display: flex;
    font-weight: var(--font-weight-medium);
    padding: 8px 0
}

.tierImage_e431b0 {
    background-color: var(--black);
    border-radius: 50%;
    height: 20px;
    margin-inline-end: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 20px
}

.metricsContainer_cd734c {
    display: flex;
    gap: 16px;
    justify-content: "space-between"
}

.totalMembersIcon_cd734c {
    color: var(--interactive-text-default);
    height: 30px;
    vertical-align: bottom;
    width: 30px
}

.freeTrialsSectionContainer_cd734c {
    margin-bottom: 16px
}

.freeTrialsSectionSpinner_cd734c {
    height: 168px
}

.currentMonthEarningsTable_cd734c {
    margin-top: 16px
}

.formSection_cd734c {
    margin-bottom: 32px
}

.checklist__42e04 {
    flex: 0 0 248px;
    margin-inline-start: 40px;
    position: sticky;
    top: 16px
}

@media (max-width:900px) {
    .checklist__42e04 {
        margin-top: 70px
    }
}

.container__42e04 {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    padding: 16px
}

.headerBar__42e04 {
    cursor: pointer;
    display: flex
}

.headerText__42e04 {
    align-self: center;
    flex: 1 1 auto
}

.headerCaret__42e04 {
    color: var(--interactive-text-default);
    flex: 0 0 auto;
    margin-inline-start: 8px
}

.categoryTitle__42e04 {
    margin-top: 16px
}

.row__42e04 {
    align-items: center;
    display: flex
}

.rowText__42e04 {
    flex: 1 1 auto
}

.rowIcon__42e04 {
    flex: 0 0 auto;
    margin-inline-start: 8px
}

.rowIconChecked__42e04 {
    color: var(--brand-500);
    height: 24px;
    width: 24px
}

.rowIconEmpty__42e04 {
    border: 2px solid var(--border-subtle);
    border-radius: 50%;
    height: 20px;
    margin-top: 2px;
    margin-inline-end: 2px;
    margin-bottom: 2px;
    width: 20px
}

.divider__42e04 {
    margin-top: 16px
}

.progressBarOuter__42e04 {
    background: var(--background-mod-normal);
    border-radius: 2px;
    height: 4px;
    margin-top: 16px;
    overflow: hidden;
    width: 100%
}

.progressBarInner__42e04 {
    background: var(--creator-revenue-progress-bar);
    height: 100%
}

.container__7a2fa {
    background-color: var(--background-base-lower);
    border: 1px solid var(--border-subtle);
    border-radius: 4px
}

.header__7a2fa {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px
}

.headerWithDescription__7a2fa {
    padding: 16px 16px 4px
}

.description__7a2fa {
    line-height: 18px;
    padding: 0 16px 16px
}

.caret__7a2fa {
    color: var(--interactive-text-default);
    height: 24px;
    width: 24px
}

.divider__7a2fa {
    border-bottom: 1px solid var(--border-subtle);
    margin: 0 16px
}

.content__7a2fa {
    padding: 16px
}

.warning__490eb {
    font-style: italic
}

.formSplit__4ecd1 {
    display: flex
}

.formSplitHalf__4ecd1 {
    flex-basis: 50%
}

.formSplitHalf__4ecd1+.formSplitHalf__4ecd1 {
    margin-inline-start: 16px
}

.iconSection__4ecd1 {
    display: flex
}

.iconSectionDescription__4ecd1 {
    flex: 1 1 auto
}

.iconUploader__4ecd1 {
    flex: 0 0 auto;
    margin-inline-start: 16px
}

.iconUploader__4ecd1 .tierSymbolUploaderInner__4ecd1 {
    background-color: var(--background-base-lowest);
    height: 80px;
    width: 80px
}

.container__9076a {
    border-radius: 4px;
    overflow: hidden
}

.row__9076a {
    align-items: center;
    background-color: var(--background-mod-normal);
    color: var(--interactive-text-default);
    display: flex;
    padding: 16px;
    position: relative
}

.row__9076a+.row__9076a:before {
    background-color: var(--border-subtle);
    content: "";
    height: 1px;
    position: absolute;
    top: -.5px;
    inset-inline: 0;
    margin-inline-start: calc(32px + var(--custom-importable-benefits-list-listing-image-size))
}

.rowIcon__9076a {
    flex: 0 0 auto;
    margin-inline-end: 16px
}

.listingImage__9076a {
    border-radius: 50%;
    height: var(--custom-importable-benefits-list-listing-image-size);
    width: var(--custom-importable-benefits-list-listing-image-size)
}

.rowBody__9076a {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column
}

.rowText__9076a {
    flex: 1 1 auto
}

.listingName__9076a {
    font-weight: var(--font-weight-semibold)
}

.importRoleCard__9076a {
    cursor: pointer
}

.caret__9076a {
    color: var(--interactive-text-default);
    flex: 0 0 auto;
    margin-inline-start: 16px
}

.importRoleCard__9076a:hover:not(.disabled__9076a) {
    background-color: var(--background-base-lowest)
}

.importRoleCard__9076a:hover:not(.disabled__9076a) .caret__9076a {
    color: var(--interactive-text-hover)
}

.disabled__9076a {
    cursor: not-allowed;
    opacity: .5
}

.label__27da5 {
    align-items: center;
    display: flex;
    min-width: 0
}

.createLabel__27da5 {
    color: var(--text-link)
}

.labelIcon__27da5 {
    flex: 0 0 auto;
    height: 20px;
    margin-inline-end: 8px;
    width: 20px
}

.labelText__27da5 {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    min-width: 0
}

.labelTitle__27da5 {
    margin-inline-end: 8px
}

.labelSubtitle__27da5,
.labelTitle__27da5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.labelSubtitle__27da5 {
    min-width: 48px;
    text-transform: uppercase
}

.emojiInputContainer__8079d {
    position: relative
}

.emojiButton__8079d {
    height: 100%;
    inset-inline-start: 0;
    margin: 0 var(--custom-edit-benefit-modal-emoji-margin);
    position: absolute;
    top: 0
}

.emoji__8079d {
    height: var(--custom-edit-benefit-modal-emoji-size);
    width: var(--custom-edit-benefit-modal-emoji-size)
}

.emojiText__8079d {
    cursor: pointer;
    padding-inline-start: calc(var(--custom-edit-benefit-modal-emoji-margin) + var(--custom-edit-benefit-modal-emoji-size) + var(--custom-edit-benefit-modal-emoji-margin))
}

.container_d28fa1 {
    background-color: var(--background-mod-normal);
    border-radius: 8px;
    overflow: hidden
}

.divider_d28fa1 {
    background-color: var(--border-subtle);
    height: 1px;
    margin-inline-start: 56px
}

.card_d28fa1 {
    align-items: flex-start;
    background: var(--background-mod-normal);
    display: flex;
    padding: 16px;
    position: relative
}

.cardDragging_d28fa1 {
    opacity: .5
}

.emojiWrapper_d28fa1 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    height: var(--custom-editable-benefits-list-emoji-size);
    justify-content: center;
    margin-inline-end: 16px;
    position: relative;
    width: var(--custom-editable-benefits-list-emoji-size)
}

.dragIconWrapper_d28fa1 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0
}

.dragIcon_d28fa1 {
    color: var(--interactive-text-default);
    height: 100%;
    width: 100%
}

.dragIcon_d28fa1:active {
    color: var(--interactive-text-active)
}

.dragIcon_d28fa1:hover {
    color: var(--interactive-text-hover)
}

.cardText_d28fa1 {
    align-self: center;
    flex: 1 1 auto
}

.channelIcon_d28fa1 {
    color: var(--interactive-text-default);
    display: inline-block;
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}

.cardActions_d28fa1 {
    display: flex;
    flex: 0 0 auto;
    line-height: 0;
    margin-inline-start: 8px;
    opacity: 0
}

.cardActionButton_d28fa1 {
    color: var(--interactive-text-default);
    cursor: pointer
}

.cardActionButton_d28fa1:hover {
    color: var(--interactive-text-hover)
}

.cardActionButtonIcon_d28fa1 {
    height: 24px;
    width: 24px
}

.card_d28fa1:focus-within:not(.disabled_d28fa1),
.card_d28fa1:hover:not(.disabled_d28fa1) {
    background-color: var(--background-base-lowest)
}

.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:focus-within:not(.disabled_d28fa1) .emoji_d28fa1,
.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:hover:not(.disabled_d28fa1) .emoji_d28fa1 {
    opacity: 0
}

.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:focus-within:not(.disabled_d28fa1) .dragIconWrapper_d28fa1,
.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:hover:not(.disabled_d28fa1) .dragIconWrapper_d28fa1 {
    opacity: 1
}

.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:focus-within:not(.disabled_d28fa1) .cardActions_d28fa1,
.container_d28fa1:not(.isDragging_d28fa1) .card_d28fa1:hover:not(.disabled_d28fa1) .cardActions_d28fa1 {
    opacity: 1
}

.addBenefit_d28fa1 {
    align-items: center;
    cursor: pointer
}

.addBenefitIcon_d28fa1 {
    color: var(--brand-500);
    height: 100%;
    width: 100%
}

.disabled_d28fa1 {
    opacity: .5
}

.disabled_d28fa1,
.disabled_d28fa1 .cardActionButton_d28fa1 {
    cursor: not-allowed
}

.container_f53c21 {
    background-color: var(--background-mod-normal);
    border-radius: 8px;
    overflow: hidden
}

.emojiRow_f53c21 {
    align-items: center;
    background: var(--background-mod-normal);
    display: flex;
    padding: 16px;
    position: relative
}

.emojiRow_f53c21+.emojiRow_f53c21:before {
    background-color: var(--border-subtle);
    content: "";
    height: 1px;
    position: absolute;
    top: -.5px;
    inset-inline: 0;
    margin-inline-start: 56px
}

.emojiImage_f53c21 {
    height: 24px;
    margin-inline-end: 16px;
    width: 24px
}

.emojiAlias_f53c21:after,
.emojiAlias_f53c21:before {
    content: ":";
    opacity: .3
}

.deleteButton_f53c21 {
    color: var(--interactive-text-default);
    cursor: pointer;
    margin-block: 0;
    margin-inline: auto 0;
    opacity: 0
}

.emojiRow_f53c21:not(.disabled_f53c21) .deleteButton_f53c21:hover {
    color: var(--interactive-text-hover)
}

.trashIcon_f53c21 {
    height: 24px;
    width: 24px
}

.emojiRow_f53c21:focus-within:not(.disabled_f53c21),
.emojiRow_f53c21:hover:not(.disabled_f53c21) {
    background-color: var(--background-base-lowest)
}

.emojiRow_f53c21:focus-within:not(.disabled_f53c21) .deleteButton_f53c21,
.emojiRow_f53c21:hover:not(.disabled_f53c21) .deleteButton_f53c21 {
    opacity: 1
}

.disabled_f53c21 {
    cursor: not-allowed;
    opacity: .5
}

.buttonsContainer__24d0d {
    display: flex;
    gap: 16px
}

.colorSwatch__24d0d {
    cursor: pointer;
    flex: 1;
    position: relative;
    text-align: center
}

.swatchDescription__24d0d {
    margin-top: 4px
}

.swatch__24d0d {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: center
}

.customSwatch__24d0d {
    background-color: var(--custom-color);
    border: 1px solid var(--custom-color);
    position: relative
}

.defaultSwatch__24d0d {
    background-color: transparent;
    border: 1px solid var(--border-subtle)
}

.dropperIconButton__24d0d {
    bottom: 0;
    inset-inline: 0;
    position: absolute;
    top: 0
}

.dropperIcon__24d0d {
    inset-inline-end: 4px;
    position: absolute;
    top: 4px
}

.disabled__24d0d {
    cursor: not-allowed;
    opacity: .3
}

.container__99486 {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 80px;
    justify-content: center;
    line-height: 0;
    position: relative;
    width: 80px
}

.preview__99486 {
    color: var(--interactive-text-default)
}

.container__99486:hover:not(.disabled__99486) .preview__99486 {
    color: var(--interactive-text-active)
}

.icon__99486 {
    height: var(--custom-role-icon-uploader-icon-size);
    width: var(--custom-role-icon-uploader-icon-size)
}

.uploaderIcon__99486 {
    inset-inline-end: -4px;
    top: -4px
}

.disabled__99486 {
    cursor: not-allowed
}

.disabled__99486 .uploaderIcon__99486 {
    display: none
}

.previewContainer_b4d1aa {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    overflow: hidden;
    position: relative
}

.messageContainer_b4d1aa {
    background-color: var(--background-base-low);
    padding-bottom: 16px;
    padding-top: 16px
}

.body_c01f07 {
    background: var(--background-surface-high);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-16)
}

.publishListing_c01f07 {
    background: var(--creator-revenue-info-box-background);
    border: 1px solid var(--creator-revenue-info-box-border);
    border-radius: 4px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 16px
}

.publishListingInfoHeader_c01f07 {
    font-family: var(--font-primary)
}

.publishButton_c01f07 {
    background: var(--control-primary-background-default);
    color: var(--white)
}

.container_d7a3d0 {
    border-radius: 8px;
    overflow: hidden
}

.autoWidth_d7a3d0 {
    min-width: auto
}

.headerActions_d7a3d0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end
}

.formDescription_d7a3d0 {
    margin-bottom: 16px
}

.header_d7a3d0 {
    align-items: center;
    background: var(--background-base-lowest);
    display: flex;
    justify-content: center;
    padding: 16px
}

.headerExpanded_d7a3d0 {
    background-color: var(--background-base-lowest)
}

.headerImageContainer_d7a3d0 {
    align-items: center;
    background-color: var(--background-mod-muted);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-inline-end: 16px;
    overflow: hidden;
    width: 40px
}

.headerImage_d7a3d0 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.starIcon_d7a3d0 {
    color: var(--primary-330);
    height: 24px;
    width: 24px
}

.headerListingInfo_d7a3d0 {
    flex: 1
}

.headerDescriptionContainer_d7a3d0 {
    align-items: center;
    display: flex;
    gap: 6px
}

.draftBadge_d7a3d0 {
    color: var(--primary-860)
}

.archivedBadge_d7a3d0,
.draftBadge_d7a3d0,
.unsavedBadge_d7a3d0 {
    letter-spacing: .02em
}

.pencilIcon_d7a3d0 {
    color: var(--interactive-text-default);
    cursor: pointer;
    height: 24px;
    width: 24px
}

.container__15926 {
    padding-bottom: 20px
}

.groupListings__15926 {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.createTierButton__15926 {
    align-items: center;
    border: 2px dashed var(--border-muted);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 72px;
    justify-content: center;
    padding: 16px
}

.createTierIcon__15926 {
    color: var(--brand-500);
    height: 20px;
    margin-inline-end: 8px;
    width: 20px
}

.contentRegion__15926 {
    bottom: 20px;
    position: fixed;
    width: 520px;
    z-index: 2
}

.disabled__15926 {
    cursor: not-allowed;
    opacity: .5
}
