.container_c7a70f {
    background-color: var(--background-surface-highest);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--space-20);
    overflow: hidden;
    padding: var(--space-12);
    position: relative;
    width: 300px
}

.imageBackground_c7a70f {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.headerContainer_c7a70f {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-12)
}

.image_c7a70f {
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    height: 96px;
    width: 72px;
    z-index: 1
}

.content_c7a70f {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-12);
    z-index: 2
}

.header_c7a70f {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.statsGrid_c7a70f {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.statItem_c7a70f {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    padding: var(--space-8)
}

.divider_c7a70f {
    background-color: var(--border-subtle);
    height: 100%;
    width: 1px
}

.poweredBy_c7a70f {
    align-items: center;
    display: flex;
    gap: var(--space-8);
    justify-content: center
}

.blurImage_c7a70f {
    filter: blur(8px);
    height: 140px;
    inset-inline-end: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 105px;
    z-index: 0
}

.rowContainer_c7a70f {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-top: var(--space-8)
}

.row_c7a70f {
    align-items: center;
    display: flex;
    gap: 8px
}

.container_e0d4cd {
    display: flex;
    flex-direction: column;
    gap: var(--space-24)
}

.spinnerContainer_e0d4cd {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center
}

.contentContainer_e0d4cd {
    display: flex;
    flex-direction: row;
    gap: var(--space-24)
}

.settingsContainer_e0d4cd {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-16)
}

.sectionContainer_e0d4cd {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.sectionHeader_e0d4cd {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4)
}

.headerText_e0d4cd {
    line-height: 1
}

.sectionHeaderIcon_e0d4cd {
    border-radius: var(--radius-round);
    cursor: pointer;
    display: flex
}

.sectionHeaderIcon_e0d4cd:focus-visible {
    outline: 2px solid var(--border-focus);
    outline-offset: 2px
}

.refresh_e0d4cd {
    display: flex;
    flex: 1;
    justify-content: flex-end
}

.regionWarning_e0d4cd {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    color: var(--text-subtle);
    display: flex;
    flex-direction: row;
    gap: var(--space-8);
    padding: var(--space-12)
}

.footerContainer_e0d4cd {
    gap: var(--space-16);
    justify-content: space-between;
    padding-top: 0
}

.gameDetailsContainer_e0d4cd {
    align-items: end;
    display: flex
}

.optionContainer_e0d4cd {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: var(--space-4);
    justify-content: space-between
}

.optionContainer_e0d4cd.disabled_e0d4cd {
    cursor: not-allowed;
    opacity: .7
}

.labelContainer_e0d4cd {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4)
}

.pingCircle_e0d4cd {
    background-color: var(--status-positive);
    border-radius: var(--radius-round);
    height: 8px;
    width: 8px
}

.pingCircleLoading_e0d4cd {
    background-color: var(--status-warning)
}

.pingCircleError_e0d4cd {
    background-color: var(--background-feedback-notification)
}

.pingCircleExcellent_e0d4cd {
    background-color: var(--status-positive)
}

.pingCircleGood_e0d4cd {
    background-color: var(--status-positive-background)
}

.pingCircleFair_e0d4cd {
    background-color: var(--status-warning)
}

.pingCirclePoor_e0d4cd {
    background-color: var(--background-feedback-notification)
}

.full-motion .pingCircleLoading_e0d4cd {
    animation: pulse_e0d4cd 1.5s ease-in-out infinite
}

@keyframes pulse_e0d4cd {

    0%,
    to {
        opacity: 1
    }

    50% {
        opacity: .5
    }
}

.option_e0d4cd {
    gap: var(--space-8)
}

.value_e0d4cd {
    margin-inline-end: 6px
}

.optionSpacer_e0d4cd {
    width: 20px
}

.infoBox_e0d4cd {
    border-radius: var(--radius-sm)
}

.modalContent_cb1992 {
    display: flex;
    flex-direction: row;
    margin: 0;
    max-height: 90vh;
    overflow: hidden;
    padding: 0 !important
}

.modalContent_cb1992>* {
    flex: 1
}

.degradedWarningContainer_cb1992 {
    padding-bottom: var(--custom-modal-padding-sm);
    padding-inline: var(--custom-modal-padding)
}
