.clipForm__54978 {
    background: var(--background-base-lower);
    border-inline-start: 1px solid var(--border-muted);
    flex-direction: column;
    width: 340px
}

.clipForm__54978,
.clipFormHeader__54978 {
    display: flex;
    flex-shrink: 0
}

.clipFormHeader__54978 {
    align-items: center;
    border-bottom: 1px solid var(--border-muted);
    height: 48px;
    justify-content: space-between;
    padding: 0 var(--space-16)
}

.headerContent__54978 {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--space-12);
    min-width: 0
}

.headerTitle__54978 {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.headerButtons__54978 {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.clipFormFooter__54978,
.clipFormSection__54978 {
    padding: var(--space-16)
}

.clipFormFooter__54978 {
    border-top: 1px solid var(--border-muted);
    flex-shrink: 0;
    margin-top: auto
}

.fieldContent__54978 {
    align-items: center;
    display: flex;
    gap: var(--space-8);
    max-width: 100%
}

.shrinkableText__54978 {
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.noShrink__54978 {
    flex-shrink: 0
}
