.welcomeCTA_f5d1e2 {
    margin-bottom: 2px
}

.content__75e8e {
    background: var(--background-mod-muted);
    border: 1px solid var(--border-subtle);
    border-radius: 12px;
    max-height: 166px;
    overflow: hidden
}

.innerContent__75e8e {
    flex-direction: row
}

.innerContent__75e8e,
.subContent__75e8e {
    align-items: center;
    display: flex
}

.subContent__75e8e {
    flex: 1;
    margin: 16px;
    min-width: 0
}

.avatars__75e8e {
    flex-shrink: 0;
    position: relative
}

.recipientUserAvatar__75e8e {
    background-color: var(--background-surface-high)
}

.recipientAvatarMask__75e8e {
    display: block
}

.currentUserAvatar__75e8e {
    background-color: var(--background-mod-muted);
    bottom: -3px;
    inset-inline-end: -2px;
    position: absolute
}

.textContainer__75e8e {
    display: flex;
    flex-direction: column;
    margin-inline-start: 12px;
    padding-top: var(--space-6)
}

.subHeaderContainer__75e8e {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.subHeaderText__75e8e {
    color: #fff;
    opacity: .8
}

.buttonContainer__75e8e {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    padding-inline-end: 16px
}

.messageContentContainer__4ea49 {
    min-width: 460px;
    padding-bottom: 8px;
    padding-top: 16px;
    width: 100%
}

.iconContainer__4ea49 {
    height: 100%
}

.icon__4ea49 {
    fill: var(--brand-500)
}

.container__85015 {
    background: var(--background-mod-normal);
    border-radius: var(--space-8);
    color: var(--text-strong);
    display: flex;
    flex-grow: 1;
    padding: var(--space-16)
}

.theme-light .container__85015 {
    background: var(--background-base-low)
}

.buttonContainer__85015 {
    margin-inline-start: var(--space-24);
    padding-top: 2px
}

.messageContentContainer__85015 {
    padding-top: var(--space-12)
}

.iconContainer__85015 {
    height: 100%
}

.icon__85015 {
    fill: var(--premium-nitro-pink-light)
}

.nitroBadge__85015 {
    align-items: center;
    display: flex;
    margin-top: 2px
}

.nitroBadgeIcon__85015 {
    fill: var(--premium-nitro-pink-light)
}

.nitroBadgeText__85015 {
    color: var(--premium-nitro-pink-light);
    margin-inline-start: var(--space-4)
}

.premiumIcon__85015 {
    height: 16px;
    margin: 0
}

.embedCard__44c9a {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    padding: 12px
}

.embedCard__44c9a.compact__44c9a {
    padding: 4px
}

.embedCard__44c9a .header__44c9a {
    font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important
}

.withFooter__44c9a {
    border-radius: 8px 8px 0 0
}

.messageContainer__44c9a {
    margin-inline-start: -8px
}

.mainContainer__44492 {
    margin-bottom: 2px;
    margin-top: 2px
}

.mainContainer__44492.compact__44492 {
    margin-inline-start: -3.95rem;
    padding-inline-start: 0
}

.content__44492 {
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--text-default);
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    word-break: break-word
}

.content__44492 a {
    color: var(--interactive-text-active);
    cursor: pointer;
    font-weight: var(--font-weight-medium)
}

.content__44492 .actionAnchor__44492 {
    color: var(--text-link)
}

.content__44492.compact__44492 {
    padding-inline-start: 0
}

.embedCard__44492 {
    margin-top: 4px
}

.embedCard__44492.compact__44492 {
    margin-top: 0
}

.embedCard__44492.selected__44492 {
    background-color: var(--background-mod-normal)
}

.embedCard__44492.isClickable__44492 {
    cursor: pointer
}

.messageContent__44492.compact__44492 {
    padding-inline-start: 3.3rem
}

.messageContent__44492 .channelNameContainer__44492 {
    display: flex
}

.messageContent__44492 .channelNameContainer__44492 .channelName__44492 {
    background-color: var(--background-base-lower);
    color: var(--text-muted)
}

.messageContent__44492 .channelName__44492 {
    align-items: center;
    color: var(--text-link);
    display: flex;
    flex-direction: row;
    font-weight: var(--font-weight-medium);
    justify-content: center
}

.messageContent__44492 .channelIcon__44492 {
    margin-inline-end: 4px
}

.iconContainer__44492 {
    align-items: center;
    display: flex;
    inset-inline-end: 100%;
    justify-content: center;
    padding-top: 0;
    position: absolute;
    width: 2.5rem
}

.compact__44492 .iconContainer__44492 {
    margin-inline-end: 1rem
}

.font-size-24 .cozy__44492 .iconContainer__44492 {
    width: 3rem
}

.font-size-20 .cozy__44492 .iconContainer__44492 {
    width: 3.5rem
}

.font-size-18 .cozy__44492 .iconContainer__44492 {
    width: 4rem
}

.font-size-12 .cozy__44492 .iconContainer__44492,
.font-size-14 .cozy__44492 .iconContainer__44492,
.font-size-15 .cozy__44492 .iconContainer__44492,
.font-size-16 .cozy__44492 .iconContainer__44492 {
    width: 4.5rem
}

.compact__44492 .iconContainer__44492 {
    inset-inline-end: auto;
    position: relative;
    width: auto
}

.avatarContainer__44492 {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.usernameContainer__44492 {
    font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important
}

.usernameContainer__44492 .username__44492 {
    font-weight: var(--font-weight-semibold);
    margin-inline-end: 4px
}

.usernameContainer__44492 .systemTag__44492 {
    margin-inline-end: 4px;
    margin-top: 0
}

.usernameContainer__44492.compact__44492 {
    margin-inline-start: -24px;
    padding-inline-start: 0
}

.centeredRowContainer__44492 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.dotMargin__44492 {
    margin-inline: 8px
}

.buttonContainer__44492 {
    margin-inline-start: -8px
}

.footerIcon__44492 {
    margin-inline-end: 4px;
    vertical-align: center
}

.footerAction__44492 {
    display: flex;
    padding: 8px
}

.dot__44492 {
    background-color: var(--background-mod-subtle);
    border-radius: 50%;
    height: 4px;
    width: 4px
}

.spanCorrection__44492 {
    align-items: center;
    flex-wrap: wrap;
    white-space: pre
}

.compact__44492 .spanCorrection__44492,
.spanCorrection__44492 {
    display: flex !important;
    flex-direction: row
}

.footerContainer__44492 {
    background-color: var(--background-base-lowest);
    border-radius: 0 0 8px 8px;
    line-height: 20px;
    padding: 2px 18px 4px
}

.footerContainer__44492.compact__44492 {
    margin-inline-start: 3.3rem
}

.annotationRow__44492 {
    background-color: var(--background-mod-normal);
    border-radius: 4px;
    line-height: 20px;
    margin-top: 4px;
    padding: 4px 8px 6px
}

.alertActionIcon__44492 {
    color: var(--text-muted);
    padding-inline-start: 6px;
    vertical-align: middle
}

.alertActionSetCompletedIcon__44492 {
    color: var(--text-feedback-positive);
    vertical-align: middle
}

.alertActionsIconContainer__44492 {
    margin-inline-start: auto
}

.titleCase__44492 {
    text-transform: capitalize
}
