.container__54e17 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    margin: 0 auto;
    max-width: 560px;
    overflow: hidden
}

.header__54e17 {
    align-items: center;
    background-color: var(--background-base-lowest);
    display: flex;
    padding: 18px 16px 16px
}

.headerIcon__54e17 {
    margin-inline-end: 16px
}

.doesNot__54e17 {
    color: var(--text-feedback-critical)
}

.checklist__54e17 {
    padding: 0 16px
}

.checklistItem__54e17 {
    display: flex;
    padding: 16px 0
}

.checklistIcon__54e17 {
    margin-block: 0;
    margin-inline: 2px 18px
}

.checklistItemName__54e17 {
    font-weight: var(--font-weight-medium);
    margin-bottom: 4px
}

.divider__54e17 {
    padding: 0 16px
}

.ineligibleRow__54e17 {
    opacity: .75
}

.eligibilityActionContainer__54e17 {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-inline-start: 16px
}
