.overlay_f5504d {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    inset-inline: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: opacity 50ms ease-in;
    z-index: 5
}

.overlayHoverOrFocus_f5504d {
    opacity: 1;
    transition: opacity .15s ease-out
}
