.nameplatePreview__62b8c {
    align-items: center;
    border-radius: var(--radius-sm);
    display: flex;
    height: 42px;
    position: relative
}

.nameplatePreview__62b8c.large__62b8c {
    height: 52px
}

.nameplatePreview__62b8c.xlarge__62b8c {
    height: 62px
}

.density-cozy .nameplatePreview__62b8c {
    height: 48px
}

.density-cozy .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-cozy .nameplatePreview__62b8c.small__62b8c {
    height: 30px
}

.density-cozy .nameplatePreview__62b8c.large__62b8c {
    height: 58px
}

.density-cozy .nameplatePreview__62b8c.xlarge__62b8c {
    height: 68px
}

.density-default .nameplatePreview__62b8c {
    height: 42px
}

.density-default .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-default .nameplatePreview__62b8c.small__62b8c {
    height: 30px
}

.density-default .nameplatePreview__62b8c.large__62b8c {
    height: 52px
}

.density-default .nameplatePreview__62b8c.xlarge__62b8c {
    height: 62px
}

.density-compact .nameplatePreview__62b8c {
    height: 38px
}

.density-compact .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-compact .nameplatePreview__62b8c.small__62b8c {
    height: 34px
}

.density-compact .nameplatePreview__62b8c.large__62b8c {
    height: 48px
}

.density-compact .nameplatePreview__62b8c.xlarge__62b8c {
    height: 58px
}

.overlayContainer__62b8c {
    flex: 1;
    height: 100%;
    margin-block: 0;
    margin-inline: 8px 32px;
    position: relative
}

.nameplatePreview__62b8c.large__62b8c .overlayContainer__62b8c {
    margin-block: 0;
    margin-inline: 10px 38px
}

.nameplatePreview__62b8c.xlarge__62b8c .overlayContainer__62b8c {
    margin-block: 0;
    margin-inline: 14px 44px
}

.avatarContainer__62b8c {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .4s ease;
    width: 100%
}

.avatar__62b8c {
    margin-inline-end: 12px
}

.avatarVisible__62b8c {
    opacity: 1
}

.placeholderUsername__62b8c {
    border-radius: 8px;
    height: 14px;
    opacity: .5;
    width: 66%
}

.nameplatePreview__62b8c.xsmall__62b8c .placeholderUsername__62b8c {
    height: 8px
}

.nameplatePreview__62b8c.small__62b8c .placeholderUsername__62b8c {
    height: 10px
}

.nameplatePreview__62b8c.large__62b8c .placeholderUsername__62b8c {
    height: 16px
}

.nameplatePreview__62b8c.xlarge__62b8c .placeholderUsername__62b8c {
    height: 18px
}

.theme-light .placeholderUsername__62b8c {
    background-color: #aaaab2
}

.theme-dark .placeholderUsername__62b8c {
    background-color: #706f74
}

.tagChiplet__62b8c {
    margin-inline-start: var(--space-4)
}

.inheritWidth__62b8c {
    width: inherit
}

.previewContainer_ebb2cf {
    background-color: var(--background-mod-subtle);
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--border-muted);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0
}

.previewContainer_ebb2cf.hideBackground_ebb2cf {
    background-color: transparent;
    box-shadow: unset
}

.previewContainerSetHeight_ebb2cf {
    height: 390px
}

.full-motion .previewContainerAnimation_ebb2cf {
    animation: scaleIn_ebb2cf .5s
}

.preview_ebb2cf {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    position: relative;
    width: 100%
}

@keyframes scaleIn_ebb2cf {
    0% {
        transform: scale(.7)
    }

    to {
        transform: scale(1)
    }
}

.container__6d099 {
    align-items: center;
    aspect-ratio: 1.1;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative
}

.profileEffectShopPreview__6d099 {
    border-radius: var(--radius-sm);
    height: 80%;
    inset-inline-start: 6%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    transform-origin: top center;
    width: auto
}

.avatarDecorationPreview__6d099 {
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .15));
    inset-inline-end: 6%;
    position: absolute;
    transform: rotate(6deg)
}

.twoItemBundle__6d099 .profileEffectShopPreview__6d099 {
    aspect-ratio: .86;
    transform: rotate(-6deg)
}

.twoItemBundle__6d099 .avatarDecorationPreview__6d099 {
    top: 22%
}

.threeItemBundle__6d099 .profileEffectShopPreview__6d099 {
    aspect-ratio: .8;
    transform: rotate(-8deg)
}

.threeItemBundle__6d099 .avatarDecorationPreview__6d099 {
    top: 12%
}

.threeItemBundle__6d099 .nameplatePreview__6d099 {
    background-color: var(--background-base-low);
    border-radius: var(--radius-sm);
    bottom: 14%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    width: 96%
}

.staticPreviewContainer__6d099 {
    overflow: hidden
}

.staticPreview__6d099,
.staticPreviewContainer__6d099 {
    height: 100%;
    position: relative;
    width: 100%
}

.staticPreview__6d099 {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom
}

.full-motion .staticPreview__6d099 {
    transition: transform .3s ease-in-out
}

.staticPreviewHighlighted__6d099 {
    transform: scale(1.08)
}

.theme-dark .avatar__6d099 {
    background: #0c0e0e
}

.theme-light .avatar__6d099 {
    background: #a8a9aa
}

.avatarDecorationPreview__9baf3 {
    padding: var(--space-16) 0 var(--space-32)
}

.profileEffectPreview__9baf3 {
    border-radius: var(--radius-md);
    padding-bottom: var(--space-16);
    position: relative;
    width: 224px
}

.nameplatePreview__9baf3 {
    padding: var(--space-16) 0 var(--space-32);
    position: relative;
    width: 326px
}

.nameplate__9baf3 {
    width: 100%
}

.giftAnimation__9baf3 {
    margin-bottom: 40px
}

.bundlePreview__9baf3 {
    padding-bottom: var(--space-12);
    width: 224px
}

.spinnerContainer__9baf3 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 120px;
    padding: var(--space-32) 0
}

.header__7560f {
    color: var(--text-strong);
    font-size: 20px;
    margin-top: 20px
}

.customGiftHeader__7560f {
    font-size: 20px;
    line-height: 1.25;
    margin-top: 10px;
    text-align: center;
    width: 75%
}

.backSplash__7560f {
    background-image: url(/assets/9565a0e7b9291ad9.png);
    background-position: bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    filter: grayscale(100%);
    -webkit-mask: radial-gradient(circle at 50% 0, #000, transparent);
    mask: radial-gradient(circle at 50% 0, #000, transparent);
    opacity: .15
}

.customMessage__7560f {
    font-size: calc(10px + 1.4vw);
    line-height: 1;
    margin-bottom: 35px;
    padding-inline: 40px;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 450px;
    overflow-wrap: break-word
}

.giftAnimation__7560f {
    margin-bottom: 40px
}

.customGiftHeaderText__7560f {
    margin-bottom: 15px
}

.content__7560f {
    padding: 60px 20px
}

.content__7560f,
.contentCustomGift__7560f {
    align-items: center;
    display: flex;
    flex-direction: column
}

.contentCustomGift__7560f {
    padding: 30px 20px
}

.body__7560f {
    color: var(--text-default);
    margin-bottom: 20px;
    margin-top: 8px;
    text-align: center
}

.closeButton__7560f {
    inset-inline-end: var(--modal-horizontal-padding);
    position: absolute;
    top: var(--modal-vertical-padding);
    z-index: 1
}

.seasonalGiftIcon__7560f {
    inset-inline-start: 92px;
    position: absolute;
    top: -170px;
    width: 260px;
    z-index: 2
}

.cannon__7560f {
    height: 130vh;
    inset-inline-start: 0;
    position: absolute;
    top: -30vh;
    width: 100vw;
    z-index: 1
}

.modal__7560f {
    max-height: 100%;
    z-index: 0
}
