.root__7eea4 {
    display: flex;
    flex-direction: column
}

.titleText__7eea4 {
    justify-content: center;
    margin-bottom: 44px;
    text-align: center
}

.logo__7eea4 {
    width: 100px
}

.table__7eea4 {
    display: flex;
    flex-direction: column
}

.headerRow__7eea4,
.row__7eea4 {
    display: flex;
    flex-direction: row;
    z-index: 5
}

.headerRow__7eea4 {
    height: 56px;
    margin-top: 24px
}

.row__7eea4 {
    height: 68px
}

.rowBottomBorder__7eea4 {
    border-bottom: 1px solid var(--border-muted)
}

.wideRow__7eea4 {
    height: 128px
}

.shortRow__7eea4 {
    height: 20px
}

.cell__7eea4,
.headerCell__7eea4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 208px
}

.headerCell__7eea4 {
    justify-content: start
}

.cell__7eea4 {
    justify-content: center
}

.headerLabelCell__7eea4,
.labelCell__7eea4 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    text-align: start
}

.headerLabelCell__7eea4 {
    align-items: start
}

.buttonsCell__7eea4,
.labelCell__7eea4 {
    align-items: center
}

.buttonsCell__7eea4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    padding-top: 16px
}

.closeIcon__7eea4 {
    color: var(--icon-muted)
}

.checkmarkIcon__7eea4 {
    color: var(--interactive-text-active)
}

.button__7eea4 {
    height: 40px;
    width: 180px
}

.tableWrapper__7eea4 {
    padding: 2px;
    position: relative
}

.tier0ColumnOuter__7eea4,
.tier0ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-0-purple-for-gradients);
    border-radius: var(--radius-lg);
    height: 100%;
    inset-inline-end: 208px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-2-purple-for-gradients-2);
    height: 100%
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4,
.tier2Pill__7eea4 {
    border-radius: 16px;
    inset-inline-end: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier0ColumnOuterBackground__7eea4:before,
.tier2ColumnOuterBackground__7eea4:before {
    content: "";
    opacity: .1;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    z-index: -1
}

.tier0ColumnOuterBackground__7eea4:before {
    background: linear-gradient(268deg, var(--premium-tier-0-blue) 17.62%, var(--premium-tier-1-blue-for-gradients) 100%)
}

.tier2ColumnOuterBackground__7eea4:before {
    background: linear-gradient(101deg, var(--premium-tier-2-purple-for-gradients) 25.21%, var(--premium-tier-2-purple-for-gradients-2) 62.43%, var(--premium-tier-2-pink-for-gradients) 95.57%)
}

.topBorderRadius__7eea4 {
    border-start-end-radius: 16px;
    border-start-start-radius: 16px
}

.bottomBorderRadius__7eea4 {
    border-end-end-radius: 16px;
    border-end-start-radius: 16px
}

.mostPopularPill__7eea4 {
    background: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%);
    border-radius: 8px;
    margin: auto;
    max-height: 24px;
    max-width: 112px;
    padding: 4px 8px;
    position: relative;
    top: -12px;
    z-index: 10
}

.mostPopularText__7eea4 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase
}

.trialOfferPill__7eea4 {
    margin-top: 4px
}

.betaTag__7eea4 {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    display: inline
}

.bogoPillWithSparkles__7eea4,
.freeTrialPillWithSparkles__7eea4 {
    justify-content: center;
    max-height: 24px;
    max-width: 100%;
    position: relative;
    top: -13px;
    z-index: 10
}

.brandShineLight__7eea4 {
    color: hsl(var(--brand-500-hsl)/.1)
}

.brandShineDark__7eea4 {
    color: var(--opacity-white-8)
}

.premiumGroupCard__7eea4 {
    margin-bottom: 50px
}

.textLogo__7eea4 {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase
}

.circleContainer_b7ad60 {
    overflow: visible;
    position: relative
}

.childrenContainer_b7ad60,
.circleContainer_b7ad60 {
    align-items: center;
    display: flex;
    justify-content: center
}

.childrenContainer_b7ad60 {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.theme-light .baseProgressCircle_b7ad60 {
    stroke: var(--white)
}

.circleSVG_b7ad60 {
    height: 100%;
    overflow: visible;
    width: 100%
}

.nitroGemAnimation_ba269a {
    animation: gemGlow_ba269a 5s ease-in-out infinite
}

.nitroGemContainer_ba269a {
    overflow: visible
}

.gemBackgroundFill_ba269a {
    fill: var(--background-base-low)
}

.theme-light .gemBackgroundFill_ba269a {
    fill: var(--white)
}

.progressCircle_ba269a {
    margin-inline: auto;
    width: 80%
}

.progressCricleBottomMargin_ba269a {
    margin-bottom: 15px
}

@keyframes gemGlow_ba269a {

    0%,
    50%,
    to {
        filter: drop-shadow(0 0 0 hsl(var(--premium-tier-2-pink-for-gradients-2-hsl)/.6))
    }

    25%,
    75% {
        filter: drop-shadow(0 0 20px hsl(var(--premium-tier-2-pink-for-gradients-2-hsl)/.6))
    }
}

.activeProgressCircle_ba269a {
    fill: transparent;
    transform: rotate(-90deg);
    transform-origin: center
}

.activeProgressCircleAnimation_ba269a {
    animation: glow_ba269a 5s ease-in-out infinite, pulse_ba269a 5s ease-in-out infinite;
    transition: stroke-dashoffset .5s ease-out
}

@keyframes glow_ba269a {

    0%,
    50%,
    to {
        filter: none
    }

    25%,
    75% {
        filter: drop-shadow(0 0 5px var(--premium-tier-2-pink-for-gradients-2))
    }
}

@keyframes pulse_ba269a {

    0%,
    50%,
    to {
        stroke-width: 2
    }

    25%,
    75% {
        stroke-width: 3
    }
}

.avatarDecoContainer_ba269a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 12%;
    width: 100%
}

.avatarDecoContainer_ba269a img:before {
    background-color: transparent
}

.avatarDeco_ba269a {
    align-items: center;
    background: var(--background-base-low);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 15%
}

.avatarDecoImage_ba269a {
    height: 100%;
    width: 100%
}

.expandedProgressBarContainerSettingsPage__2c345 {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: var(--card-background-default);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    display: flex;
    min-height: 292px;
    min-width: 560px
}

@media (max-width:485px) {
    .expandedProgressBarContainerSettingsPage__2c345 {
        min-width: unset
    }
}

.allReferralsSentBorder__2c345 {
    border: 1px solid var(--premium-tier-2-pink-for-gradients-2)
}

.container__2c345 {
    border-radius: var(--radius-lg);
    max-width: 989px;
    min-height: 260px
}

.withGlow__2c345 {
    border-radius: 20px;
    box-shadow: 0 0 25px 6px rgba(231, 66, 225, .3)
}

.expandedProgressBarContent__2c345 {
    margin-inline-start: 24px;
    text-align: start
}

.userAvatarProgressBarContainer__2c345 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 8px
}

.userAvatarProgressBarUnit__2c345 {
    align-items: center;
    border-radius: 32px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.avatarProgressBarUnitConnectorContainer__2c345 {
    height: 4px;
    position: relative;
    width: 24px
}

.avatarProgressBarUnitConnectorBase__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .3), rgba(226, 146, 170, .3));
    height: 100%;
    width: 100%
}

.fullHighlight__2c345,
.halfHighlight__2c345 {
    background: var(--gradients-nitro-nitro-horizontal, linear-gradient(90deg, var(--premium-tier-2-purple) 0, var(--premium-tier-2-pink) 100%));
    position: absolute;
    top: 0
}

.fullHighlight__2c345 {
    height: 100%;
    width: 100%
}

.halfHighlight__2c345 {
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
    height: 4px;
    width: 12px
}

.expandedProgressBarButtonContainer__2c345 {
    display: flex;
    gap: 8px;
    margin-top: 16px
}

.expandedProgressBarSelectFriendsCTA__2c345 {
    background: linear-gradient(101deg, var(--premium-tier-2-purple-for-gradients) 25.21%, var(--premium-tier-2-purple-for-gradients-2) 62.43%, var(--premium-tier-2-pink-for-gradients) 95.57%);
    background-clip: padding-box;
    color: var(--white);
    flex: 1
}

.referralInfoContent__2c345 {
    display: flex;
    flex-direction: row;
    padding-block: 24px 16px;
    padding-inline: 24px 48px
}

.expandedProgressBarSelectFriendsCTAInner__2c345 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.expandedProgressBarSelectFriendsIcon__2c345 {
    margin-inline-end: 4px
}

.expandedProgressBarHeader__2c345 {
    color: var(--text-strong)
}

.referralProgressBarIconSettings__2c345 {
    max-width: 120px
}

.theme-light .userAvatarProgressBarUnitNum__2c345 {
    background: #860091
}

.theme-light .userAvatarProgressBarUnit__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .6), rgba(226, 146, 170, .6))
}

.theme-dark .userAvatarProgressBarUnitNum__2c345 {
    background: var(--gradients-nitro-nitro-horizontal, linear-gradient(90deg, var(--premium-tier-2-purple) 0, var(--premium-tier-2-pink) 100%))
}

.theme-dark .userAvatarProgressBarUnit__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .3), rgba(226, 146, 170, .3))
}

:root .userAvatarProgressBarUnitNum__2c345 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}
