.serverCard__7bc6f {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    padding: 16px
}

.guildIcon__7bc6f {
    border: 1px solid hsla(0, 0%, 100%, .16);
    border-radius: 14px;
    box-shadow: 0 1.6px 6.4px 0 rgba(0, 0, 0, .14)
}

.theme-light .guildIcon__7bc6f {
    border-color: rgba(0, 0, 0, .1)
}

.serverInfo__7bc6f {
    margin-inline-start: 16px
}

.guildName__7bc6f {
    color: var(--text-strong);
    flex: 1;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 20px;
    margin-bottom: 8px
}

.tierInfo__7bc6f {
    align-items: center;
    display: flex
}

.tierPill__7bc6f {
    align-items: center;
    align-self: flex-start;
    background-color: var(--background-mod-normal);
    border-radius: 11px;
    display: inline-flex;
    font-size: 12px;
    line-height: 14px;
    padding-block: 4px;
    padding-inline: 4px 8px
}

.tierPill__7bc6f,
.tierPillStar__7bc6f {
    color: var(--text-default)
}

.tierPillStar__7bc6f {
    height: 16px;
    margin-inline-end: 5px;
    width: 16px
}

.tierPillGem__7bc6f {
    color: var(--text-muted)
}

.levelUpIcon__7bc6f {
    color: var(--green-360)
}

.levelDownIcon__7bc6f,
.levelUpIcon__7bc6f {
    height: 16px;
    margin: 0 4px;
    width: 16px
}

.levelDownIcon__7bc6f {
    color: var(--icon-feedback-critical)
}

.pendingCancellation__7bc6f {
    align-items: center;
    background: var(--background-feedback-warning);
    border: 1px solid var(--icon-feedback-warning);
    border-radius: 4px;
    display: flex;
    margin-top: 16px;
    padding: 8px 16px
}

.pendingCancellationIcon__7bc6f {
    color: var(--text-feedback-warning);
    flex-shrink: 0
}

.pendingCancellationMessage__7bc6f {
    color: var(--text-default);
    margin-inline-start: 10px
}

.serverCard__49af9 {
    margin: 16px 0
}

.warning__49af9 {
    margin-top: 4px
}
