.multilineText_bed011 {
    white-space: pre-wrap
}

.container__70feb {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    justify-content: flex-end;
    position: relative
}

.container__70feb.withImageSpacing__70feb {
    border-radius: var(--radius-md);
    overflow: hidden
}

.coverImageContainer__70feb {
    background-color: var(--background-mod-normal);
    inset: 0;
    position: absolute;
    z-index: -2
}

.removeButton__70feb {
    inset-inline-end: var(--space-8);
    opacity: 0;
    position: absolute;
    top: var(--space-8);
    transition: opacity .1s ease
}

.container__70feb:focus-within :is(.removeButton__70feb),
.container__70feb:hover :is(.removeButton__70feb) {
    opacity: 1
}

.container__70feb:has(:is(input, textarea):focus) :is(.removeButton__70feb) {
    opacity: 0;
    pointer-events: none
}

.restoreContainer__70feb {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: var(--space-16);
    justify-content: center;
    margin-block: calc(var(--space-16)*-1);
    opacity: 0;
    position: relative;
    transition: opacity .1s ease
}

.restoreContainer__70feb:focus-visible,
.restoreContainer__70feb:focus-within,
.restoreContainer__70feb:hover {
    opacity: 1
}

.restoreLine__70feb {
    height: 1px;
    inset-inline: 0;
    position: absolute
}

.restoreIconContainer__70feb,
.restoreLine__70feb {
    background-color: var(--background-mod-normal)
}

.restoreIconContainer__70feb {
    align-items: center;
    border-radius: var(--radius-round);
    display: flex;
    justify-content: center;
    overflow: hidden
}

.image__70feb {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.contentContainer__70feb {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    position: relative;
    width: 100%
}

.contentContainer__70feb.withImageSpacing__70feb {
    margin-top: 56px;
    padding: var(--space-16)
}

.contentBackground__70feb {
    background: linear-gradient(180deg, rgba(7, 7, 9, 0), rgba(7, 7, 9, .8));
    inset: 0;
    position: absolute;
    z-index: -1
}

.container_fca8d7 {
    display: grid;
    gap: var(--space-16);
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr)
}

.addEntryButton_fca8d7 {
    align-items: center;
    border: 1px dashed var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    height: var(--space-48);
    justify-content: center
}

.entryContainer_fca8d7 {
    display: flex;
    gap: var(--space-12);
    min-width: 0;
    position: relative
}

.entryImageContainer_fca8d7 {
    flex-shrink: 0;
    position: relative
}

.entryImage_fca8d7 {
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    height: var(--space-48);
    overflow: hidden;
    width: var(--space-48)
}

.removeImageButton_fca8d7 {
    inset-inline-end: calc(var(--space-8)*-1);
    opacity: 0;
    position: absolute;
    top: calc(var(--space-8)*-1);
    transition: opacity .1s ease;
    z-index: 1
}

.entryContent_fca8d7 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-block: auto;
    min-width: 0
}

.entryButtonContainer_fca8d7 {
    display: flex;
    gap: var(--space-4);
    inset-inline-end: calc(var(--space-8)*-1);
    opacity: 0;
    position: absolute;
    top: calc(var(--space-8)*-1);
    transition: opacity .1s ease
}

.entryContainer_fca8d7:focus-within :is(.entryButtonContainer_fca8d7),
.entryContainer_fca8d7:hover :is(.entryButtonContainer_fca8d7) {
    opacity: 1
}

.entryContainer_fca8d7:has(:is(input, textarea):focus) :is(.entryButtonContainer_fca8d7, .removeImageButton_fca8d7) {
    opacity: 0;
    pointer-events: none
}

.entryContainer_fca8d7:has(.entryImageContainer_fca8d7:focus-within) .entryButtonContainer_fca8d7:not(:focus-within),
.entryContainer_fca8d7:has(.entryImageContainer_fca8d7:hover) .entryButtonContainer_fca8d7:not(:focus-within) {
    opacity: 0;
    pointer-events: none
}

.entryImageContainer_fca8d7:focus-within :is(.removeImageButton_fca8d7),
.entryImageContainer_fca8d7:hover :is(.removeImageButton_fca8d7) {
    opacity: 1
}

.card__17b8c {
    position: relative
}

.container__17b8c {
    display: flex;
    flex-direction: column;
    gap: var(--space-16)
}

.containerHeader__17b8c {
    position: absolute;
    top: var(--space-12);
    inset-inline: var(--space-16);
    pointer-events: none;
    z-index: 9999
}

.containerHeader__17b8c [role=button],
.containerHeader__17b8c a,
.containerHeader__17b8c button {
    pointer-events: auto
}

.header__17b8c {
    gap: var(--space-4);
    height: var(--space-24)
}

.header__17b8c,
.nitroUpsellContainer__17b8c {
    align-items: center;
    display: flex
}

.nitroUpsellContainer__17b8c {
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-md);
    flex-direction: row;
    gap: var(--space-16);
    isolation: isolate;
    overflow: hidden;
    padding: var(--space-12);
    position: relative
}

.nitroUpsellBackground__17b8c {
    inset: 0;
    position: absolute;
    z-index: -1
}

.nitroUpsellCopy__17b8c {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-4);
    min-width: 0
}

.divider__17b8c {
    margin-inline: calc(var(--space-12)*-1)
}

.header__36335 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-16)
}

.title__36335 {
    flex-grow: 1;
    flex-shrink: 1;
    margin-inline-end: auto
}
