.offerNoticeContainerShared__3e43f {
    background: linear-gradient(90deg, rgba(88, 101, 242, .24), rgba(88, 101, 242, .12));
    box-sizing: border-box;
    color: var(--text-strong)
}

.nitroPinkGradient__3e43f {
    background: linear-gradient(90deg, var(--expressive-gradient-nitro-pink-start) 0, var(--expressive-gradient-nitro-pink-end) 100%)
}

.customGraphicContainer__3e43f {
    flex-shrink: 0
}

.offerNoticeContainer__3e43f {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.offerNoticeOneLineContainer__3e43f {
    align-self: stretch;
    border-radius: var(--radius-md);
    padding: var(--space-8) var(--space-16);
    width: 100%
}

.offerNoticeOneLineText__3e43f {
    text-align: start
}

.promotionalFooterBanner_e68795 {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 55px;
    margin: 24px -1px 0;
    padding: 2px 16px
}

.bannerText_e68795 {
    margin-inline-start: 90px
}

.avatar_e68795 {
    position: absolute;
    z-index: 1
}

.planSelectSeparatorLower__7ec3a,
.planSelectSeparatorUpper__7ec3a {
    background: var(--border-subtle);
    border: 0;
    height: 1px;
    width: 100%
}

.planSelectSeparatorUpper__7ec3a {
    margin-bottom: var(--space-12)
}

.planSelectSeparatorLower__7ec3a {
    margin-bottom: 16px;
    margin-top: 8px
}

.planSelectSeparatorLowerUnifiedCheckout__7ec3a {
    margin: var(--space-24) 0
}

.promotionBannerContainer__7ec3a {
    margin-bottom: var(--space-12)
}

.unifiedCheckoutLoadingContainer__7ec3a {
    min-height: 394px
}

.button__9e160 {
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 258px;
    padding: 24px;
    position: relative
}

.tier2__9e160 {
    background-image: linear-gradient(41.27deg, var(--premium-tier-2-purple-for-gradients) 20.01%, var(--premium-tier-2-purple-for-gradients-2) 56.27%, var(--premium-tier-2-pink-for-gradients) 92.19%)
}

.premiumBrandRefreshTier0Card__9e160,
.tier0MarketingCard__9e160,
.tier2MarketingCard__9e160 {
    width: unset
}

.tier0MarketingCard__9e160 {
    margin-bottom: 20px;
    margin-top: 16px
}

.premiumBrandRefreshTier0Card__9e160 {
    margin-top: var(--space-12)
}

.tier1__9e160 {
    background-image: linear-gradient(270deg, var(--premium-tier-0-purple) 0, var(--premium-tier-1-dark-blue-for-gradients) 100%)
}

.tier0__9e160 {
    background-image: var(--custom-premium-colors-premium-gradient-tier-0)
}

.tier2Image__9e160 {
    background-image: url(/assets/251cb2f9765f1d6a.svg);
    height: 237px;
    width: 297px
}

.tier1Image__9e160,
.tier2Image__9e160 {
    bottom: 0;
    filter: saturate(var(--saturation-factor, 1));
    inset-inline-end: 0;
    position: absolute
}

.tier1Image__9e160 {
    background-image: url(/assets/89b63d330b3782cb.svg);
    height: 234px;
    width: 279px
}

.tier0Image__9e160 {
    background-image: url(/assets/a90cdee2f33db143.svg);
    bottom: 0;
    filter: saturate(var(--saturation-factor, 1));
    height: 251px;
    inset-inline-end: 0;
    position: absolute;
    width: 357px
}

.tierTitle__9e160 {
    margin-bottom: 16px
}

.text__9e160 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    width: 160px
}

.description__9e160 {
    flex: 1 1 auto;
    margin-bottom: 16px
}

.tier0Description__9e160 {
    flex: 0 1 auto;
    margin-bottom: 16px
}

.priceWrapper__9e160 {
    flex: 0 0 auto
}

.price__9e160,
.price__9e160 strong {
    color: var(--white)
}

.fileSize__9e160 {
    white-space: nowrap
}

.narrowLayout__9e160 {
    height: 308px;
    width: 246px
}

.legacyPricingNotice_e50a4d {
    margin-bottom: 16px
}

.skuSelectModalHeader_e50a4d {
    border-radius: 4px 4px 0 0;
    border-start-end-radius: calc(var(--radius-md) - 1px);
    border-start-start-radius: calc(var(--radius-md) - 1px)
}

.skuSelectModalContent_e50a4d {
    border-radius: 0 0 var(--radius-md) var(--radius-md)
}

.skuSelectModalContent_e50a4d.modalPadding_e50a4d {
    padding-top: 12px
}

.skuSelectModalContent_e50a4d.modalSize_e50a4d {
    max-height: 720px;
    min-height: 200px;
    width: 440px
}

.close_e50a4d {
    padding: 0
}

.closeInner_e50a4d {
    height: var(--space-24)
}

.premiumBrandRefreshHeader_e50a4d {
    align-items: center;
    background-color: var(--background-base-lower);
    display: flex;
    justify-content: space-between;
    padding: var(--space-24) var(--space-16) 0
}

.skuSelectModalContent_e50a4d.premiumBrandRefreshContent_e50a4d.premiumBrandRefreshContent_e50a4d {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-md);
    height: unset;
    padding-block: var(--space-24) var(--space-16);
    padding-inline: var(--space-16) var(--space-16);
    width: 422px
}

.skuSelectModalContent_e50a4d.premiumBrandRefreshContent_e50a4d.wishlistModalSize_e50a4d {
    padding: var(--space-24);
    width: 800px
}

.skuSelectModalContent_e50a4d {
    padding-top: var(--space-12)
}

@media screen and (max-height:550px),
screen and (max-width:485px) {

    .skuSelectModalContent_e50a4d.modalSize_e50a4d,
    .skuSelectModalContent_e50a4d.premiumBrandRefreshContent_e50a4d.premiumBrandRefreshContent_e50a4d {
        max-width: 440px;
        width: 100%
    }

    .skuSelectModalHeader_e50a4d {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        min-height: 40px
    }
}

@media screen and (max-height:550px) {

    .skuSelectModalContent_e50a4d.modalSize_e50a4d,
    .skuSelectModalContent_e50a4d.premiumBrandRefreshContent_e50a4d.premiumBrandRefreshContent_e50a4d {
        max-width: 100%
    }
}

.skuSelectWithPremiumGroupModalContent_e50a4d {
    display: flex;
    flex-direction: row;
    gap: var(--space-12);
    justify-content: space-between;
    padding: var(--space-16) 0;
    z-index: -1
}
