.game_f74169 {
    align-self: start;
    border-radius: var(--radius-md);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-8)
}

.game_f74169:hover {
    background-color: var(--background-mod-muted)
}

.disabled_f74169 {
    cursor: not-allowed;
    opacity: .5
}

.viewable_f74169 {
    pointer-events: none
}

.gameImageContainer_f74169 {
    border-radius: var(--radius-sm);
    height: 175px;
    overflow: hidden;
    position: relative;
    width: 130px
}

.gameImageBorder_f74169 {
    border: 1.5px solid hsla(0, 0%, 100%, .1);
    border-radius: var(--radius-sm);
    box-sizing: border-box
}

.gameImageBorder_f74169,
.gameImageOverlay_f74169 {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.gameImageOverlay_f74169 {
    background: linear-gradient(156deg, #fff, hsla(0, 0%, 100%, 0) 35.29%);
    opacity: .2
}

.gameImageOverlay_f74169:hover {
    opacity: .4
}

&.full-motion .gameImageOverlay_f74169 {
    transition: opacity .2s ease
}

.textContainer_f74169 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 130px
}

.image_f74169 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.boostContainer_f74169 {
    display: flex;
    flex-direction: row;
    margin-inline-start: -4px
}

.full-motion .game_f74169 {
    transition: background-color .1s ease
}

.text__76132 {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.image__76132 {
    width: 85px
}

.footer__47d89 {
    display: flex;
    flex-direction: row;
    padding: var(--space-24);
    padding-bottom: var(--space-8)
}

.gameSection__3b7e0 {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    margin-bottom: var(--space-24)
}

.gameSection__3b7e0.disabled__3b7e0 {
    opacity: .5
}

.gameInstanceContainer__3b7e0 {
    display: grid;
    gap: var(--space-8);
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr))
}

.gameContainer__3b7e0 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-16);
    margin-bottom: var(--space-24)
}

.maxInstancesWarning__3b7e0 {
    align-items: center;
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    padding: var(--space-8)
}

.footerContainer__3b7e0 {
    gap: var(--space-16);
    justify-content: space-between
}

.warningContainer__3b7e0 {
    align-items: center;
    color: var(--text-subtle);
    display: flex;
    flex-direction: row;
    gap: var(--space-8)
}

.loadingContainer__3b7e0 {
    align-items: center;
    display: flex;
    height: 40vh;
    justify-content: center;
    width: 100%
}

.select_a16aea {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr auto;
    padding-block: 8px;
    padding-inline: 12px 8px
}

.select_a16aea,
.wrapper_a16aea {
    color: var(--text-default);
    font-weight: var(--font-weight-medium)
}

.searchable_a16aea {
    padding-bottom: 8px;
    padding-top: 8px
}

.searchInput_a16aea {
    background: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    width: 100%
}

.searchInput_a16aea::-moz-placeholder {
    color: var(--input-placeholder-text-default)
}

.searchInput_a16aea::placeholder {
    color: var(--input-placeholder-text-default)
}

.searchInput_a16aea.multi_a16aea {
    height: 32px;
    margin-inline-start: 4px;
    width: auto
}

.editing_a16aea {
    font-weight: var(--font-weight-normal)
}

.label_a16aea {
    bottom: 0;
    height: 16px;
    inset-inline-start: 12px;
    margin: auto;
    position: absolute;
    top: 0
}

.optionDisabled_a16aea {
    opacity: .5
}

.searchInput_a16aea.multi_a16aea.hidden_a16aea {
    opacity: 0;
    width: 0
}

.iconsCenter_a16aea {
    align-items: center;
    display: flex;
    height: 100%
}

.placeholder_a16aea,
.value_a16aea {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.placeholder_a16aea {
    color: var(--text-subtle)
}

.measurement_a16aea {
    border: 1px solid transparent;
    pointer-events: none;
    position: absolute;
    visibility: hidden
}

.measurement_a16aea,
.popout_a16aea {
    box-sizing: border-box
}

.popout_a16aea {
    background: var(--background-base-lower);
    background-color: var(--background-surface-higher);
    border: 1px solid var(--background-base-lowest);
    border-color: var(--border-subtle);
    border-radius: 0 0 4px 4px;
    margin: 0
}

.popout_a16aea:not(.popoutPositionTop_a16aea) {
    margin-top: 8px
}

.popout_a16aea.popoutPositionTop_a16aea {
    border-radius: 4px 4px 0 0;
    margin-bottom: 8px
}

.lookFilled_a16aea.popout_a16aea {
    border-radius: 0 0 3px 3px
}

.lookFilled_a16aea.popout_a16aea.popoutPositionTop_a16aea {
    border-radius: 3px 3px 0 0
}

.lookFilled_a16aea.option_a16aea,
.lookFilled_a16aea.select_a16aea:hover.option_a16aea {
    border-color: var(--brand-500);
    border-bottom-color: var(--background-base-lowest)
}

.option_a16aea {
    align-items: center;
    box-sizing: border-box;
    color: var(--text-subtle);
    cursor: pointer;
    display: grid;
    font-size: 16px;
    font-weight: 400;
    grid-template-columns: 1fr auto;
    line-height: 20px;
    padding: 12px
}

.option_a16aea[aria-selected=true] {
    color: var(--text-default);
    font-weight: var(--font-weight-medium)
}

.option_a16aea[aria-selected=true]:hover {
    background-color: var(--background-mod-subtle)
}

.option_a16aea:hover {
    background-color: var(--background-mod-subtle);
    color: var(--text-default)
}

.option_a16aea.focused_a16aea,
.option_a16aea:focus-visible,
.option_a16aea:hover {
    background-color: var(--interactive-background-hover);
    color: var(--interactive-text-hover)
}

.option_a16aea[aria-selected=true]:not(.option_a16aea.multi_a16aea) {
    background-color: var(--interactive-background-selected);
    color: var(--interactive-text-active)
}

.selectedIcon_a16aea {
    color: var(--brand-500)
}

.icons_a16aea {
    gap: 4px
}

.icons_a16aea,
.value_a16aea {
    align-items: center;
    display: flex
}

.value_a16aea {
    gap: 8px
}

.clear_a16aea {
    display: block
}

.clear_a16aea,
.dropdownIcon_a16aea {
    cursor: pointer;
    pointer-events: all
}

.noResults_a16aea {
    align-items: center;
    background: var(--background-base-lower);
    padding: 12px;
    width: 100%
}

.loading_a16aea,
.noResults_a16aea {
    display: flex;
    justify-content: center
}

.loading_a16aea {
    height: 40px
}

.loadingSpinner_a16aea {
    background-color: var(--interactive-text-active)
}

.wrapper_a16aea {
    display: grid;
    grid-template-columns: 1fr auto
}

.wrapper_a16aea .select_a16aea {
    grid-column: 1/span 2;
    grid-row: 1;
    padding-inline-end: calc(24px + var(--icons-width))
}

.wrapper_a16aea .select_a16aea.multi_a16aea {
    padding-bottom: 6px;
    padding-top: 0;
    padding-inline-start: 6px
}

.wrapper_a16aea .icons_a16aea {
    grid-column: 2;
    grid-row: 1;
    margin-inline-end: 8px;
    pointer-events: none
}

.wrapper_a16aea .value_a16aea {
    display: flex
}

.wrapper_a16aea .value_a16aea.multi_a16aea {
    display: block;
    white-space: normal
}

.wrapper_a16aea .searchInput_a16aea {
    flex: 1 0 0
}

.searchableSelect_a16aea .option_a16aea {
    align-content: center;
    display: grid;
    grid-template-areas: "prefix content suffix selectedIcon";
    grid-template-columns: auto 1fr auto auto
}

.searchableSelect_a16aea .prefix_a16aea {
    grid-area: prefix;
    margin-inline-end: 8px
}

.searchableSelect_a16aea .suffix_a16aea {
    grid-area: suffix;
    margin-inline-end: 8px;
    margin-inline-start: 8px
}

.searchableSelect_a16aea .content_a16aea {
    display: flex;
    grid-area: content;
    min-width: 0
}

.searchableSelect_a16aea .selectedIcon_a16aea {
    grid-area: selectedIcon
}

.optionPillWrapper_a16aea {
    min-width: auto;
    padding: 0;
    width: auto
}

.optionPillContainer_a16aea {
    display: inline
}

.optionPillItem_a16aea {
    align-items: center;
    display: inline-flex;
    margin-inline-end: 6px
}

.optionPillItem_a16aea button {
    background-color: var(--background-surface-higher)
}

.optionPillItem_a16aea button .optionPill_a16aea {
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-xs)
}

.optionPill_a16aea {
    align-items: center;
    background: var(--background-base-low);
    border-radius: 2px;
    color: var(--interactive-text-active);
    display: inline-flex;
    font-size: 14px;
    line-height: 20px;
    padding: var(--space-4) var(--space-8)
}

.optionPill_a16aea .deleteOptionIcon_a16aea {
    height: 16px;
    width: 16px
}

.optionPillBtn_a16aea {
    height: auto;
    min-height: auto;
    min-width: 0;
    padding: 0
}

.deleteOptionIcon_a16aea {
    color: var(--interactive-text-default);
    margin-inline-start: 8px
}

.optionPillItem_a16aea,
.searchInput_a16aea.multi_a16aea {
    margin-top: var(--space-4)
}

.no-webkit-scrollbar .noScrollbar_a16aea {
    scrollbar-width: none
}

.noScrollbar_a16aea::-webkit-scrollbar {
    height: 0;
    width: 0
}

.multiSelectCheckbox_a16aea {
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    grid-area: selectedIcon;
    height: 20px;
    width: 20px
}

.multiSelectCheckbox_a16aea.unchecked_a16aea {
    border: 1px solid var(--border-strong)
}

.multiSelectCheckbox_a16aea.checked_a16aea {
    background: var(--brand-500);
    border: 1px solid var(--brand-500)
}

.multiSelectCheck_a16aea {
    color: var(--white)
}

.optionPill_a16aea {
    align-content: center;
    display: grid;
    grid-template-areas: "prefix content suffix clearIcon";
    grid-template-columns: auto 1fr auto auto
}

.optionPill_a16aea .prefix_a16aea {
    grid-area: prefix;
    margin-inline-end: 8px
}

.optionPill_a16aea .suffix_a16aea {
    grid-area: suffix;
    margin-inline-end: 8px;
    margin-inline-start: 8px
}

.optionPill_a16aea .content_a16aea {
    grid-area: content
}

.optionPill_a16aea .deleteOptionIcon_a16aea {
    grid-area: clearIcon
}

.enable-forced-colors .select_a16aea {
    background-color: Canvas;
    border-color: ButtonText
}

.enable-forced-colors .disabled_a16aea,
.enable-forced-colors .disabled_a16aea * {
    border-color: GrayText;
    color: GrayText;
    opacity: 1
}

.enable-forced-colors .placeholder_a16aea {
    color: GrayText
}

.enable-forced-colors .option_a16aea {
    background-color: Canvas;
    border: 1px solid Canvas;
    color: CanvasText;
    forced-color-adjust: none
}

.enable-forced-colors .option_a16aea.focused_a16aea,
.enable-forced-colors .option_a16aea:focus,
.enable-forced-colors .option_a16aea:hover {
    background-color: ButtonFace;
    border-color: ButtonText;
    color: ButtonText
}

.enable-forced-colors .option_a16aea[aria-selected=true] {
    background-color: HighlightText !important;
    color: Highlight !important
}

.enable-forced-colors .option_a16aea[aria-selected=true].focused_a16aea,
.enable-forced-colors .option_a16aea[aria-selected=true]:focus,
.enable-forced-colors .option_a16aea[aria-selected=true]:hover {
    border-color: Highlight !important
}

.enable-forced-colors .selectedIcon_a16aea {
    color: Highlight
}

.select_a16aea,
.wrapper_a16aea {
    min-height: var(--control-input-height-md)
}

.iconsContainer_a16aea {
    height: calc(var(--control-input-height-sm) - 2px)
}

.container_a16aea[data-size=sm] .select_a16aea,
.container_a16aea[data-size=sm] .wrapper_a16aea {
    min-height: var(--control-input-height-sm)
}

.container_a16aea[data-size=sm] .iconsContainer_a16aea {
    height: calc(var(--control-input-height-sm) - 2px)
}

.container_a16aea[data-variant=text-only] .select_a16aea {
    background: none;
    border: none
}

.searchable_a16aea {
    min-height: auto
}

.lookFilled_a16aea.popout_a16aea,
.lookFilled_a16aea.popout_a16aea.popoutPositionTop_a16aea,
.popout_a16aea,
.popout_a16aea.popoutPositionTop_a16aea {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: 8px
}

.newOptionLabel_a16aea {
    align-items: center;
    display: grid;
    gap: 4px;
    grid-template-columns: auto 1fr auto
}

.newOptionLeading_a16aea {
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 24px
}

.container_b0f4cc {
    display: flex;
    flex-direction: column
}

.title_b0f4cc {
    color: var(--interactive-text-default);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    text-transform: uppercase
}

.inputs_b0f4cc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    width: 100%
}

.day_b0f4cc {
    width: 30%
}

.month_b0f4cc {
    width: 35%
}

.year_b0f4cc {
    width: 30%
}

.errors_b0f4cc {
    color: var(--text-feedback-critical)
}

.checkbox_d332d2 {
    margin-inline-end: 8px
}

.errorMessage_d332d2 {
    color: var(--text-feedback-critical)
}

.createAccountTemplateHeader_d332d2 {
    color: var(--text-strong);
    font-size: 24px;
    font-weight: var(--font-weight-semibold)
}

.authBlock_d332d2 {
    margin-top: 32px
}

.horizontalAuthBox_d332d2 {
    width: 960px
}

.flex_d332d2 {
    flex: 1 1 auto
}

.divider_d332d2 {
    background-color: var(--border-subtle);
    height: 1px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%
}

.goBackButton_d332d2 {
    margin-bottom: 16px;
    padding-inline-start: 0
}

.goBackButton_d332d2 .content_d332d2 {
    align-items: center;
    display: flex
}

.goBackButton_d332d2 .caret_d332d2 {
    margin-block: 0 1px;
    margin-inline: 0 4px
}

.messageNegative_d332d2 {
    color: var(--text-feedback-critical)
}

.messagePositive_d332d2 {
    color: var(--text-feedback-positive)
}

.inviteBirthdayInput_d332d2 {
    margin-bottom: 32px;
    margin-top: 20px
}

.consentBox_d332d2 {
    margin-bottom: 8px;
    margin-top: 8px
}

.consentSubText_d332d2 {
    color: var(--text-subtle);
    font-size: 14px;
    line-height: 18px
}

.centeredButtonContainer_d332d2 {
    display: flex;
    justify-content: center;
    width: 100%
}

.birthdayInput_d332d2 {
    margin-bottom: 20px;
    margin-top: 20px
}

.heading_a10b43 {
    color: var(--text-strong);
    margin-bottom: var(--space-12)
}

.previewDescription_a10b43 {
    color: var(--text-muted);
    font-size: 12px;
    font-style: italic;
    margin-bottom: var(--space-16)
}

.memberListContainer_a10b43 {
    border-radius: var(--radius-md);
    display: flex;
    margin-top: var(--space-16);
    padding: var(--space-8) 0;
    width: 100%
}

.minimalMemberItem_a10b43 {
    border-radius: var(--radius-sm);
    transition: background-color .1s ease;
    width: 240px
}

.minimalMemberItem_a10b43:hover {
    background-color: var(--interactive-background-hover)
}

.minimalMemberItem_a10b43.selected_a10b43 {
    background-color: var(--interactive-background-selected)
}

.minimalMemberItem_a10b43>* {
    cursor: pointer;
    padding: var(--space-8) var(--space-12);
    width: 100%
}

.memberItemContent_a10b43 {
    align-items: center;
    display: flex;
    gap: var(--space-12);
    width: 100%
}

.memberInfo_a10b43 {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0
}

.container_ba8a2f {
    height: 100%;
    width: 100%
}

.clamp_ba8a2f {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    height: 100%;
    width: 790px
}

.controlsBarContainer_ba8a2f {
    margin-bottom: var(--space-sm);
    width: 90%
}

.progressBar_ba8a2f {
    border-radius: 4px;
    height: 8px;
    overflow: hidden;
    position: relative
}

.progressBarFill_ba8a2f {
    background: linear-gradient(90deg, var(--brand-500) 0, var(--brand-360) 100%);
    border-radius: 4px;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.contentArea_ba8a2f {
    border-radius: 8px;
    flex: 1;
    z-index: 1
}

.content_ba8a2f,
.contentArea_ba8a2f {
    overflow: visible;
    position: relative
}

.content_ba8a2f {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%
}

.group__0a16d {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-8) 0 var(--space-4)
}

.backwardsCompatibleCheckbox__0a16d {
    align-items: start;
    display: flex;
    padding: var(--space-8)
}

.actionContainer__6446f {
    background-color: var(--background-mod-subtle);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 8px 12px
}

.actionContainer__6446f:not(:last-child) {
    margin-bottom: 4px
}

.actionIconContainer__6446f {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-inline-end: 12px;
    width: 24px
}

.actionIcon__6446f {
    color: var(--text-muted)
}

.actionTextContainer__6446f {
    flex: 1
}

.actionContainer__6446f {
    align-items: center;
    justify-content: center
}

.toggle__6446f {
    margin: 0
}

.editChannel__6446f {
    color: var(--text-link);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    padding-inline-start: 4px
}

.searchContainer__6ae25 {
    position: relative
}

.searchBox__6ae25 {
    padding: 0 innerPadding
}

.searchBar__6ae25 {
    flex-shrink: 0;
    margin-inline: 16px
}

.resultsListContainer__6ae25 {
    background-color: var(--background-surface-high);
    border: 1px solid var(--background-base-lowest);
    border-radius: 0 0 5px 5px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    height: auto;
    max-height: 260px;
    padding: 8px 12px 16px
}

.resultsList__6ae25 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.resultsListParent__6ae25 {
    z-index: 9999
}

.sectionTitle__6ae25 {
    color: var(--text-strong);
    text-transform: uppercase
}

.selectableSearchRow__6ae25 {
    cursor: pointer;
    display: block;
    margin-inline-end: 8px
}

.rowHeight__6ae25 {
    height: 26px
}

.sectionHeight__6ae25 {
    height: 16px
}

.sectionFooter__6ae25 {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 12px;
    vertical-align: middle
}

.rowContainer__6ae25 {
    padding: 0
}

.rowLabel__6ae25 {
    color: var(--text-default);
    display: flex;
    padding: 4px;
    width: -moz-fit-content;
    width: fit-content
}

.searchRowLabel__6ae25 {
    background-color: var(--interactive-background-hover);
    border-radius: 4px
}

.roleTagContainer__6ae25 {
    align-items: center;
    flex-direction: row
}

.roleTag__6ae25 {
    display: inline
}

.roleTagIcon__6ae25 {
    margin-inline-end: 4px
}

.roleTagLabel__6ae25 {
    display: inline
}

.channelLabel__6ae25 {
    position: relative
}

.channelSpine__6ae25 {
    inset-inline-start: -10px;
    top: 4px
}

.helperText__6ae25 {
    padding: 4px 0
}

.hasParent__6ae25 {
    margin-inline-start: 12px
}

.noIndent__6ae25 {
    margin-inline-start: -6px
}

.channelIcon__6ae25 {
    color: var(--text-muted);
    margin-inline-end: 4px
}

.exemptionHint__54558 {
    margin-top: 4px
}

.triggerContainer_b6c6eb {
    display: flex;
    flex-direction: row
}

.triggerMainContainer_b6c6eb {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px
}

.triggerCounterContainer_b6c6eb {
    flex: 0;
    margin-inline-end: 8px;
    margin-top: 6px
}

.stepCountIcon_b6c6eb {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 32px;
    justify-content: center;
    width: 32px
}

.stepCount_b6c6eb {
    line-height: 0
}

.stepCount_b6c6eb,
.triggerHeader_b6c6eb {
    color: var(--text-strong);
    font-family: var(--font-primary);
    font-size: 16px
}

.triggerHeader_b6c6eb {
    line-height: 20px
}

.triggerSettingsContainer_b6c6eb {
    padding-top: 8px
}

.dividerContainer__1abf5 {
    margin: 0 auto;
    padding: 0;
    width: 0
}

.dividerIconContainer__1abf5 {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px
}

.dividierIcon__1abf5 {
    color: var(--border-subtle)
}

.cardContentsContainer__3c5e8 {
    margin-top: 0;
    margin-inline: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    position: relative;
    z-index: 3
}

.paddingTop__3c5e8 {
    padding-top: 8px
}

.inputRuleNameContainer__3c5e8 {
    margin-top: 25px
}

.inputRuleExemptionsContainer__3c5e8 {
    margin-top: 24px
}

.ruleSubtextDescription__3c5e8 {
    color: var(--text-default);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px
}

.exemptEditButton__3c5e8 {
    margin-top: 16px
}

.ruleHeaderChannelHook__3c5e8 {
    display: flex
}

.ruleHeaderChannelHook__3c5e8 .channelName__3c5e8 {
    background-color: var(--background-base-lower);
    color: var(--text-muted)
}

.subHeaderText__3c5e8 {
    margin-top: 4px
}

.chipletFlexContainer__3b3ff {
    display: flex;
    flex: 0 0 0;
    flex-direction: row
}

@keyframes blinkAsEdited__3b3ff {
    0% {
        background-color: var(--interactive-background-selected)
    }

    to {
        background-color: var(--background-mod-subtle)
    }
}

.chipletContainer__3b3ff {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border: 2px solid transparent;
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    flex: 0 0 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 520px;
    position: relative;
    text-overflow: ellipsis;
    transition: background-color .1s ease-in-out, border-color .1s ease-in-out
}

.chipletContainer__3b3ff.smallBlink__3b3ff {
    animation-delay: 0;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-name: blinkAsEdited__3b3ff;
    animation-timing-function: ease-in-out
}

.chipletContainer__3b3ff.isSelected__3b3ff {
    background-color: var(--interactive-background-selected)
}

.chipletContainer__3b3ff.isSelecting__3b3ff {
    cursor: pointer
}

.chipletContainer__3b3ff.isEditing__3b3ff {
    background-color: transparent;
    text-overflow: unset
}

.chipletContainer__3b3ff.isError__3b3ff {
    background-color: var(--background-surface-high);
    border-color: var(--background-feedback-critical);
    border-radius: var(--radius-sm)
}

.chipletContainer__3b3ff.isError__3b3ff.isSelected__3b3ff {
    background-color: var(--interactive-background-selected);
    border-color: var(--text-feedback-critical)
}

.chipletContainerInner__3b3ff {
    flex: 1;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-overflow: ellipsis
}

.chipletContainerInner__3b3ff.isSelecting__3b3ff {
    cursor: pointer
}

.chipletContainerInner__3b3ff.isEditing__3b3ff {
    text-overflow: unset
}

.chipletValue__3b3ff {
    background-color: transparent;
    border: 0;
    color: var(--text-default);
    display: inline;
    font-family: var(--font-code);
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    opacity: 1;
    outline: none;
    padding: 0;
    pointer-events: none;
    text-overflow: ellipsis;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
    white-space: nowrap
}

.chipletValue__3b3ff.isEditing__3b3ff {
    opacity: 0;
    text-overflow: unset
}

.chipletValue__3b3ff.isSelected__3b3ff {
    background-color: var(--interactive-background-selected);
    color: var(--interactive-text-active)
}

.chipletValue__3b3ff.isSelecting__3b3ff {
    cursor: pointer
}

.chipletValue__3b3ff.isError__3b3ff {
    color: var(--interactive-text-active)
}

.chipletValue__3b3ff.isOverflowing__3b3ff {
    overflow: hidden;
    width: 500px
}

.chipletInput__3b3ff {
    background: transparent;
    border: none;
    color: var(--text-default);
    font-family: var(--font-code);
    font-size: 12px;
    inset-inline-start: 4px;
    line-height: 16px;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute
}

.chipletInput__3b3ff.isEditing__3b3ff {
    opacity: 1
}

.chipletInput__3b3ff.isSelecting__3b3ff {
    cursor: pointer
}

.errorValue__3b3ff {
    background-color: var(--background-feedback-critical)
}

.errorTooltip__3b3ff {
    background-color: var(--background-surface-high) !important;
    border: 2px solid var(--background-feedback-critical)
}

.errorOverflowValue__3b3ff {
    background-color: var(--background-feedback-critical);
    font-family: var(--font-code);
    font-size: 11px;
    padding: 2px
}

.closeIconContainer__3b3ff {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0;
    justify-content: center;
    padding: 0 3px;
    position: relative;
    vertical-align: middle
}

.closeIcon__3b3ff {
    position: relative
}

.mainContainer_c615b7 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative
}

.textArea_c615b7 {
    background: var(--background-base-lowest);
    border: 1px solid var(--background-surface-high);
    border-radius: 4px;
    color: var(--text-default);
    cursor: text;
    flex-direction: column;
    font-family: var(--font-code);
    font-size: 12px;
    line-height: 16px;
    width: 100%
}

.innerScroller_c615b7,
.textArea_c615b7 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    display: flex
}

.innerScroller_c615b7 {
    flex: 1 1 auto;
    flex-basis: 100%;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    position: relative
}

.resizeHandle_c615b7 {
    inset-inline: 0;
    bottom: 0;
    cursor: ns-resize;
    height: 8px;
    position: absolute;
    width: 100%;
    z-index: 1
}

.mainTextInput_c615b7 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: transparent;
    border: 2px solid transparent;
    color: var(--text-default);
    flex-grow: 0;
    font-family: var(--font-code);
    font-size: 12px;
    line-height: 16px;
    min-width: 100px;
    opacity: 1;
    padding: 3px;
    touch-action: none
}

.mainTextInput_c615b7::-moz-placeholder {
    color: var(--input-placeholder-text-default);
    font-family: var(--font-code);
    font-size: 12px;
    line-height: 16px;
    -moz-user-select: none;
    user-select: none
}

.mainTextInput_c615b7::placeholder {
    color: var(--input-placeholder-text-default);
    font-family: var(--font-code);
    font-size: 12px;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.mainTextInput_c615b7.isEditingOtherNodes_c615b7 {
    opacity: 0
}

.maxTags_c615b7 {
    bottom: 8px;
    inset-inline-end: 8px;
    position: absolute
}

.keywordsTextArea__2097e {
    background: var(--background-base-lowest);
    border: 1px solid var(--background-surface-high);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--text-default);
    font-family: var(--font-code);
    font-size: 16px;
    line-height: 20px;
    min-height: 40px;
    padding-block: 8px;
    padding-inline: 8px 49px;
    resize: vertical;
    width: 100%
}

.keywordsContainer__2097e {
    position: relative
}

.keywordsCounter__2097e {
    bottom: 8px;
    inset-inline-end: 8px;
    position: absolute
}

.tooltip__2097e {
    max-width: 306px;
    width: 100%
}

.tooltipRow__2097e {
    line-height: 16px
}

@media (max-width:306px) {
    .tooltipRow__2097e {
        white-space: nowrap
    }
}

.paddingBottom__2097e {
    margin-bottom: 8px
}

.errorSpan__2097e {
    display: inline
}

.hoverable__2097e {
    cursor: pointer
}

.subtext__2097e {
    padding-top: 6px;
    position: relative
}

.textAreaContainer_fc46b1 {
    padding-top: 8px
}

.textArea_fc46b1 {
    background: var(--background-base-lowest)
}

.collapseable_fc46b1 {
    margin-top: 16px;
    padding: 8px 12px
}

.header_fc46b1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.arrow_fc46b1 {
    color: var(--interactive-text-default)
}

.cardContentsContainer_ed9c90 {
    margin-top: 0;
    margin-inline: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    position: relative;
    z-index: 3
}

.stepperContainer_ed9c90 {
    border-radius: 8px;
    padding: 4px;
    width: -moz-fit-content;
    width: fit-content
}

.stepper_ed9c90 {
    border-radius: 4px
}

.stepperSubtext_ed9c90 {
    margin-top: 8px
}

.mentionLimitContainer_ed9c90 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 12px
}

.mentionLimitContainer_ed9c90:not(:last-child) {
    margin-bottom: 4px
}

.mentionLimitIconContainer_ed9c90 {
    align-items: center;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-inline-end: 12px;
    width: 24px
}

.mentionLimitIcon_ed9c90 {
    color: var(--text-muted)
}

.mentionLimitTextContainer_ed9c90 {
    flex: 1
}

.descriptionHint_ed9c90 {
    margin-top: 2px
}

.mainContainer_c5e6a1 {
    flex-direction: row;
    margin: 0;
    padding: 12px 16px
}

.mainContainer_c5e6a1,
.mainContainer_c5e6a1 .ruleIconContainer_c5e6a1 {
    align-items: center;
    display: flex;
    justify-content: center
}

.mainContainer_c5e6a1 .ruleIconContainer_c5e6a1 {
    background-color: var(--background-mod-subtle);
    border-radius: 50%;
    box-sizing: unset;
    height: 24px;
    margin-inline-end: 16px;
    padding: 8px;
    width: 24px
}

.actionRuleListContainer_c5e6a1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 4px
}

.ruleIcon_c5e6a1 {
    color: var(--text-default)
}

.menuIconButton_c5e6a1 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline-start: 8px
}

.menuIcon_c5e6a1 {
    color: var(--interactive-text-default)
}

.ruleTextContainer_c5e6a1 {
    flex: 1;
    margin-inline-end: var(--space-8);
    overflow: hidden
}

.ruleTextHeaderContainer_c5e6a1 {
    display: flex
}

.ruleTextHeader_c5e6a1 {
    display: flex;
    max-width: 475px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap
}

.ruleSubtextHeader_c5e6a1 {
    color: var(--interactive-text-default);
    display: inline-block;
    margin-inline-start: 4px;
    vertical-align: middle
}

.ruleTextDescription_c5e6a1 {
    color: var(--text-default);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 20px
}

.actionContainer_c5e6a1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.alphaBetaTag_c5e6a1 {
    margin-inline-start: 8px
}

.addAnotherRuleCardContainer__0c1e8 {
    align-items: center;
    border: 2px dashed var(--border-subtle);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 60px;
    position: absolute;
    top: 0;
    inset-inline: 0;
    justify-content: center;
    width: 100%
}

.mainRuleContainer__0c1e8 {
    display: flex;
    flex: 1;
    margin-bottom: 16px;
    position: relative
}

.plusIcon__0c1e8 {
    margin-inline-end: 4px
}

.animatedRuleCardContainer__0c1e8 {
    flex: 1
}

.errorMessage__0034b {
    padding-top: 4px
}

.helpUrl__0034b {
    margin-top: 8px
}

.descriptionHeader__0034b {
    margin-bottom: 0
}

.description__0034b {
    width: 100%
}

.descriptionContainer__0034b {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--space-16);
    padding-top: var(--space-8)
}

.descriptionAvatarContainer__0034b {
    flex: 0;
    margin-inline-start: 16px
}

.categoryHeader__0034b {
    padding-bottom: 12px
}

.categoryContainer__0034b {
    padding-bottom: 24px
}

.textBadge__0034b {
    border: 4px solid var(--background-base-low);
    border-radius: 16px;
    bottom: 20px;
    inset-inline-end: 50%;
    min-height: 24px;
    padding: 0 6px;
    position: relative;
    z-index: 999
}

.automodBadgeText__0034b {
    align-items: center;
    display: flex
}

.automodText__0034b {
    color: #fff
}

.checkmarkIcon__0034b {
    margin-block: 0 2px;
    margin-inline: 0 2px
}

.endSpacer__0034b {
    padding-bottom: 200px;
    width: 100%
}

.explicitContentFilterSection__0034b {
    margin-bottom: 24px;
    margin-top: 16px
}

.tabBarItem_e32080 {
    margin-bottom: -2px;
    padding-bottom: 16px
}

.noticeContainer_f2a57a {
    margin: 16px auto;
    width: 100%
}

.container_a548c7 {
    background-color: var(--background-base-lower);
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 8px 16px
}

.text_a548c7 {
    align-items: center;
    display: flex;
    white-space: pre-wrap
}

.noticeIcon_a548c7 {
    color: var(--interactive-text-default);
    flex-shrink: 0;
    margin-inline-end: 10px
}

.container__4c385 {
    background-color: var(--background-base-lower);
    border-inline-start: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    overflow: auto;
    width: 275px
}

.heading__4c385 {
    padding: var(--space-24);
    padding-bottom: 0
}

.maxInstancesWarning__4c385 {
    padding-inline: var(--space-24)
}

.gameContainerWrapper__4c385 {
    flex: 1
}

.gameContainer__4c385 {
    display: grid;
    gap: var(--space-4);
    grid-template-columns: 1fr 1fr;
    margin-inline: -8px;
    padding-inline: var(--space-24);
    padding-bottom: var(--space-24)
}

.image__4c385,
.title__4c385 {
    width: 100px !important
}

.image__4c385 {
    height: 133px !important
}

.spinner__4c385 {
    height: 100%
}

.container__70617 {
    background-color: var(--background-base-lower);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden
}

.badge__70617 {
    background-color: var(--brand-500)
}

.divider__70617 {
    margin: 0 var(--space-12)
}

.spinnerContainer__70617 {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center
}

.toolbar__70617 {
    border-top: 1px solid var(--app-frame-border);
    box-shadow: none;
    height: calc(var(--custom-channel-header-height) + 1px);
    padding-inline-start: var(--space-20)
}

.contentContainer__70617 {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden
}

.degradedWarningContainer__70617 {
    margin-bottom: var(--space-20);
    padding-inline: var(--space-20)
}

.gameContainerWrapper__70617 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: var(--space-20)
}

.gameContainer__70617 {
    display: grid;
    gap: var(--space-20);
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    overflow: auto;
    padding-inline: var(--space-20);
    padding-bottom: var(--space-20)
}

.popout__9047f {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-high);
    box-sizing: border-box;
    padding: var(--space-16);
    width: 242px
}

.popoutHeading__9047f {
    margin-bottom: var(--space-16)
}

.groupDivider__61c5c {
    background-color: var(--border-subtle);
    border: none;
    height: 1px;
    margin: var(--space-12) calc(var(--space-8)*-1) var(--space-16) calc(var(--space-8)*-1)
}

.submitWrapper__61c5c {
    margin: calc(var(--space-8)*-1)
}

.container__60f82 {
    box-sizing: border-box;
    display: grid;
    gap: var(--custom-quest-grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(var(--custom-min-quest-tile-width), 1fr));
    justify-content: center;
    margin-top: var(--space-24);
    max-width: 1310px;
    width: 100%
}

@keyframes reflect__60f82 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg)
    }

    10% {
        opacity: .25;
        transform: scale(0) rotate(45deg)
    }

    11% {
        opacity: .5;
        transform: scale(4) rotate(45deg)
    }

    28% {
        opacity: 0;
        transform: scale(50) rotate(45deg)
    }
}

.highlightedWrapper__60f82,
.questTile__60f82 {
    overflow: hidden;
    position: relative
}

.highlightedWrapper__60f82 {
    border-radius: 10px
}

.reflect__60f82 {
    background-color: #fff;
    height: 100%;
    inset-inline-start: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -300px;
    transform: rotate(-45deg);
    width: 30px;
    z-index: 999
}

.full-motion .reflect__60f82 {
    animation: reflect__60f82 4s ease-in-out
}

.spinner__60f82 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.emptyStateContainer__60f82 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-inline: auto;
    max-width: 575px;
    padding: 88px;
    text-align: center
}

.headingWrapper__57454 {
    align-items: center;
    display: flex;
    gap: var(--space-16);
    justify-content: space-between
}

.headingControls__57454 {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.filterSortOption__57454 {
    border-radius: var(--radius-sm);
    cursor: pointer;
    margin-bottom: 0;
    padding: var(--space-8) !important
}

.filterSortOption__57454:hover {
    background-color: var(--background-mod-subtle)
}

.container__06199 {
    align-items: center;
    background-image: linear-gradient(0deg, #15193c, #000 33%);
    display: flex;
    height: 100%;
    justify-content: center
}

.asset__06199 {
    aspect-ratio: 16/10;
    inset: 0;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    width: 100%
}

.full-motion .asset__06199 {
    transition-duration: transitionDuration;
    transition-property: transform, opacity, filter;
    transition-timing-function: transitionTimingFunction
}

@value detailsOffset 20px;
@value transitionDuration 0.2s;
@value transitionTimingFunction ease-in-out;
@value borderRadius 16px;

.container__9192b {
    aspect-ratio: 1;
    border-radius: 16px;
    max-width: 330px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.image__9192b {
    border-radius: 16px 16px 0 0;
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.full-motion .image__9192b {
    transition-duration: .2s;
    transition-property: transform, opacity, filter;
    transition-timing-function: ease-in-out
}

.assetBlurred__9192b {
    border-radius: 16px 16px 0 0;
    filter: blur(30px);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.decoWrapper__9192b {
    inset-inline-start: 50%;
    position: absolute;
    top: 24px;
    transform: translateX(-50%);
    transform-origin: top;
    z-index: 2
}

.full-motion .decoWrapper__9192b {
    transition-duration: .2s;
    transition-property: transform, opacity, filter;
    transition-timing-function: ease-in-out
}

.overlay__9192b {
    position: absolute;
    top: 50%;
    inset-inline: 0;
    bottom: -50%;
    z-index: 1
}

.full-motion .overlay__9192b {
    transition: transform .2s ease-in-out
}

.darkThemeGradient__9192b {
    background: linear-gradient(to top, var(--primary-660) 0, hsl(var(--primary-660-hsl)/.5) 50%, hsl(var(--primary-660-hsl)/0) 100%)
}

.lightThemeGradient__9192b {
    background: linear-gradient(to top, hsl(var(--black-hsl)/.7) 0, hsl(var(--black-hsl)/.5) 50%, hsl(var(--black-hsl)/0) 100%)
}

.details__9192b {
    align-items: center;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    position: absolute;
    text-align: center;
    text-wrap: pretty;
    transform: translateY(100%);
    z-index: 10
}

.full-motion .details__9192b {
    transition: transform .2s ease-in-out
}

.logoContainer__9192b {
    bottom: 20px;
    display: flex;
    inset-inline: 0;
    justify-content: center;
    position: absolute;
    z-index: 5
}

.full-motion .logoContainer__9192b {
    transition: transform .2s ease-in-out
}

.logo__9192b {
    height: auto;
    max-height: 45px;
    max-width: 140px;
    -o-object-position: center;
    object-position: center
}

.logoWithCosponsor__9192b {
    max-width: 70px
}

.title__9192b {
    margin-bottom: 4px
}

.button__9192b {
    margin-top: 16px;
    width: 100%
}

.hovered__9192b .details__9192b {
    transform: translateY(-20px)
}

.hovered__9192b .image__9192b {
    filter: blur(8px);
    opacity: .8
}

.hovered__9192b .overlay__9192b {
    transform: translateY(-80px)
}

.hovered__9192b .decoWrapper__9192b {
    transform: translateX(-50%) scale(.53)
}

.gridContainer_f3e8a7 {
    display: grid;
    gap: var(--space-24);
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    justify-content: center
}

.spinner_f3e8a7 {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.scrollerWrapper__8dd17 {
    position: relative
}

.scrollerMask__8dd17 {
    --custom-scroller-mask-width-left: 0;
    --custom-scroller-mask-width-right: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff var(--custom-scroller-mask-width-left), #fff calc(100% - var(--custom-scroller-mask-width-right)), transparent);
    mask-image: linear-gradient(90deg, transparent, #fff var(--custom-scroller-mask-width-left), #fff calc(100% - var(--custom-scroller-mask-width-right)), transparent)
}

.full-motion .scrollerMask__8dd17 {
    transition: --custom-scroller-mask-width-left .1s ease-out, --custom-scroller-mask-width-right .1s ease-out
}

@property --custom-scroller-mask-width-left {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --custom-scroller-mask-width-right {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

.maskLeft__8dd17 {
    --custom-scroller-mask-width-left: var(--custom-scroller-mask-width)
}

.maskRight__8dd17 {
    --custom-scroller-mask-width-right: var(--custom-scroller-mask-width)
}

.scrollerOverflow__8dd17 {
    margin: calc(var(--custom-scroller-overflow-amount)*-1);
    padding: var(--custom-scroller-overflow-amount);
    scroll-padding-inline: var(--custom-scroller-overflow-amount)
}

.maskOverflowStart__8dd17 {
    margin-inline-start: calc(var(--custom-scroller-overflow-amount)*-1);
    padding-inline-start: var(--custom-scroller-overflow-amount)
}

.maskOverflowEnd__8dd17 {
    margin-inline-end: calc(var(--custom-scroller-overflow-amount)*-1);
    padding-inline-end: var(--custom-scroller-overflow-amount)
}

.scrollButton__8dd17 {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .25s ease-out;
    width: 40px;
    z-index: 1
}

.scrollButtonVisible__8dd17 {
    opacity: 1;
    pointer-events: all
}

.scrollButton__8dd17:hover {
    background-color: hsla(0, 0%, 100%, .3)
}

.theme-light .scrollButton__8dd17 {
    background-color: rgba(0, 0, 0, .1)
}

.theme-light .scrollButton__8dd17:hover {
    background-color: rgba(0, 0, 0, .2)
}

.scrollButtonLeft__8dd17 {
    inset-inline-start: var(--space-8)
}

.scrollButtonRight__8dd17 {
    inset-inline-end: var(--space-8)
}

.carouselItems__02563 {
    display: flex;
    gap: 20px
}

.extraSpacingPlaceholder__02563 {
    flex-shrink: 0;
    height: var(--custom-extra-spacing-placeholder-size);
    width: var(--custom-extra-spacing-placeholder-size)
}

.highlightedWrapper__02563,
.questTile__02563 {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    scroll-snap-align: end;
    width: var(--custom-min-quest-tile-width)
}

.highlightedWrapper__02563 {
    border-radius: 10px
}

.reflect__02563 {
    background-color: #fff;
    height: 100%;
    inset-inline-start: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -300px;
    transform: rotate(-45deg);
    width: 30px;
    z-index: 999
}

.full-motion .reflect__02563 {
    animation: reflect__02563 4s ease-in-out
}

@keyframes reflect__02563 {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg)
    }

    10% {
        opacity: .25;
        transform: scale(0) rotate(45deg)
    }

    11% {
        opacity: .5;
        transform: scale(4) rotate(45deg)
    }

    28% {
        opacity: 0;
        transform: scale(50) rotate(45deg)
    }
}

.emptyStateContainer__02563 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-inline: auto;
    max-width: 575px;
    padding: 88px;
    text-align: center
}

.container__343c1 {
    gap: 56px;
    margin-top: 56px;
    padding-bottom: 24px
}

.container__343c1,
.sectionWrapper__343c1 {
    display: flex;
    flex-direction: column
}

.sectionWrapper__343c1 {
    gap: 16px
}

.wrapper__0829a {
    container-name: wrapper;
    container-type: inline-size
}

.contentWrapper__0829a {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-xl);
    box-sizing: border-box;
    display: flex;
    isolation: isolate;
    min-height: 500px;
    overflow: hidden;
    padding: var(--space-32);
    position: relative
}

@container wrapper (width < 725px) {
    .contentWrapper__0829a {
        min-height: 580px
    }
}

.contentWrapperLoading__0829a {
    align-items: center;
    border: none;
    justify-content: center
}

.content__0829a {
    position: relative;
    z-index: 2
}

.contentBody__0829a {
    max-width: 540px
}

.title__0829a {
    text-transform: uppercase;
    white-space: pre-wrap
}

.title__0829a p {
    margin: 0
}

.subtitle__0829a {
    opacity: .8;
    text-wrap: balance
}

.shelfCard_c676ef {
    border-radius: var(--radius-xl);
    box-sizing: border-box;
    flex-shrink: 0;
    height: 355px;
    overflow: clip;
    width: 300px
}

.shelfCardIntro_c676ef {
    position: relative
}

.shelfCardBackground_c676ef {
    isolation: isolate;
    z-index: 0
}

.shelfCardBackground_c676ef,
.shelfCardIntroAsset_c676ef {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.shelfCardIntroAsset_c676ef {
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.shelfCardIntroImage_c676ef {
    z-index: 0
}

.shelfCardIntroVideo_c676ef {
    opacity: 0;
    z-index: 1
}

.full-motion .shelfCardIntroVideo_c676ef {
    transition: opacity .3s ease-in-out
}

.shelfCardIntro_c676ef:has(:focus-visible) .shelfCardIntroVideo_c676ef,
.shelfCardIntro_c676ef:hover .shelfCardIntroVideo_c676ef {
    opacity: 1
}

.introCardCta_c676ef {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    padding: var(--space-16);
    position: absolute
}

.shelfCardQuest_c676ef {
    background-color: var(--background-base-low);
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-16);
    position: relative
}

.shelfCardQuest_c676ef,
.shelfCardQuestLogo_c676ef {
    align-items: center;
    border: 1px solid var(--border-subtle);
    display: flex
}

.shelfCardQuestLogo_c676ef {
    align-self: flex-start;
    background-color: var(--background-surface-high);
    border-radius: var(--radius-md);
    box-sizing: border-box;
    height: 55px;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-4);
    width: 55px
}

.shelfCardQuestDetails_c676ef {
    align-self: stretch;
    padding: 0 var(--space-8) var(--space-8)
}

.progressWrapper_c676ef {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    will-change: transform
}

.gameTile_c676ef {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.rewardName_c676ef {
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.viewQuestCta_c676ef {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    padding: var(--space-16);
    position: absolute
}

.shelf__6e2ec {
    margin-top: var(--space-24)
}

.heroBackground__5d00f {
    z-index: 0
}

.backgroundOverlay__5d00f,
.backgroundOverlay__5d00f:after,
.backgroundOverlay__5d00f:before,
.heroAsset__5d00f,
.heroBackground__5d00f {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.asset__5d00f {
    bottom: 0;
    height: auto;
    inset-inline-end: 0;
    inset-inline-start: auto;
    max-width: 100%;
    min-height: 100%;
    min-width: 1234px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto
}

.heroAssetBlurred__5d00f .asset__5d00f {
    filter: blur(var(--custom-image-blur-amount)) brightness(.5) saturate(120%)
}

.heroAssetBlurredA__5d00f {
    --custom-image-blur-amount: 10px;
    -webkit-mask: linear-gradient(90deg, #000, transparent 30%);
    mask: linear-gradient(90deg, #000, transparent 30%)
}

.heroAssetBlurredB__5d00f {
    --custom-image-blur-amount: 5px;
    -webkit-mask: linear-gradient(90deg, #000 30%, transparent 70%);
    mask: linear-gradient(90deg, #000 30%, transparent 70%)
}

.backgroundOverlay__5d00f {
    overflow: hidden;
    z-index: 1
}

.backgroundOverlay__5d00f:after {
    background-color: var(--background-base-lower);
    content: "";
    inset-inline-end: auto;
    -webkit-mask: linear-gradient(270deg, transparent, rgba(0, 0, 0, .83) 68%, #000);
    mask: linear-gradient(270deg, transparent, rgba(0, 0, 0, .83) 68%, #000);
    width: 600px
}

.backgroundOverlay__5d00f:before {
    background-color: var(--background-base-lower);
    content: "";
    display: none;
    height: 500px;
    -webkit-mask: linear-gradient(180deg, transparent, #000);
    mask: linear-gradient(180deg, transparent, #000);
    top: auto
}

@container wrapper (width < 725px) {
    .heroAssetBlurred__5d00f {
        display: none
    }

    .backgroundOverlay__5d00f:after {
        -webkit-mask: linear-gradient(135deg, #000, rgba(0, 0, 0, .83) 15%, transparent 30%);
        mask: linear-gradient(135deg, #000, rgba(0, 0, 0, .83) 15%, transparent 30%)
    }

    .backgroundOverlay__5d00f:before {
        display: block
    }
}

.logo__5d00f {
    flex-shrink: 0;
    max-height: 56px;
    max-width: 132px;
    -o-object-fit: contain;
    object-fit: contain
}

.sponsoredTag__5d00f {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
    margin-inline-end: -8px;
    margin-top: -8px;
    padding: 4px 8px
}

@value headerBarHeight 60px;

.container__955a3 {
    border-top: 1px solid var(--app-frame-border);
    box-sizing: border-box;
    color: rgba(64, 74, 123, .7);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative
}

.withoutTopBorder__955a3 {
    border-top: none
}

.dragRegion__955a3 {
    display: none;
    height: 60px;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.bannerAsset__955a3 {
    grid-area: layer;
    height: 100%;
    max-height: 348px;
    max-width: 1300px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.tabs__955a3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 24px 20px 4px
}

.redirectNoticeBannerAsset__955a3 {
    -o-object-position: bottom center;
    object-position: bottom center
}

.redirectNoticeBannerContainer__955a3 {
    background-image: linear-gradient(180deg, #26007c, #00006a)
}

.redirectNoticeContainer__955a3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    max-width: 560px;
    padding: 24px;
    text-align: center
}

.contentSection__955a3 {
    height: auto
}

.contentWrapper__955a3 {
    box-sizing: border-box;
    height: auto;
    padding: var(--space-24) var(--space-20)
}

.heroWrapper__955a3 {
    margin-bottom: 56px
}

.pageSpinner__955a3 {
    align-items: center;
    align-self: center;
    display: flex;
    height: 100%;
    justify-content: center
}

.heroBackground__955a3 {
    background-color: #0c1522;
    container-type: inline-size;
    inset: 0;
    overflow: hidden;
    position: absolute;
    z-index: 0
}

.heroGradient__955a3 {
    background: linear-gradient(180deg, transparent 49.93%, rgba(0, 0, 0, .2) 84.02%);
    inset: 0;
    position: absolute;
    z-index: 1
}

.heroBannerAsset__955a3 {
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.heroBackgroundOrbs__955a3 {
    background-color: #000
}

.heroGradientOrbs__955a3 {
    background: linear-gradient(0deg, var(--brand-500) 0, transparent 33%);
    opacity: .25
}

.heroBannerAssetOrbs__955a3 {
    -o-object-position: 75% 50%;
    object-position: 75% 50%
}

.heroBannerAssetDefault__955a3 {
    inset-inline-start: auto;
    max-width: 900px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom right;
    object-position: bottom right;
    transform: translateX(15%);
    width: auto
}

@container (width < 1210px) {
    .heroBannerAssetDefault__955a3 {
        transform: translateX(25%)
    }
}

@container (width < 960px) {
    .heroBannerAssetDefault__955a3 {
        transform: translateX(50%)
    }
}

@container (width < 760px) {
    .heroBannerAssetDefault__955a3 {
        opacity: .5
    }
}

.container_a592e1 {
    border-top: 1px solid var(--app-frame-border);
    display: flex;
    flex-direction: column;
    width: 100%
}

.dragRegion_a592e1 {
    display: none;
    height: 60px;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.guildSelectOptionIcon__41a02 {
    border-radius: 4px
}

.speakerIcon__41a02 {
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}

.suffixNode__41a02 {
    align-items: center;
    display: flex
}

.disabledOption__41a02 {
    opacity: .6
}

.inputField__085ad {
    align-items: center;
    display: flex;
    height: var(--control-input-height-md);
    justify-content: space-between;
    max-width: 180px;
    padding-left: var(--space-8);
    padding-right: var(--space-4)
}

.inputFieldRange__085ad {
    max-width: 360px
}

.inputFieldFullWidth__085ad {
    max-width: unset
}

.picker__085ad {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding-bottom: var(--space-4);
    padding-top: var(--space-4);
    width: 100%
}

.placeholder__085ad {
    color: var(--text-subtle)
}

.inputGroup__085ad {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%
}

.segment__085ad {
    border-radius: var(--radius-xs);
    padding: 0 2px
}

.segment__085ad:focus {
    background-color: var(--opacity-blurple-8);
    color: var(--text-strong);
    outline: 1px solid var(--border-focus)
}

.separator__085ad {
    color: var(--text-muted);
    padding: 0 var(--space-4)
}

.calendarButton__085ad {
    align-items: center;
    align-self: flex-end;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    aspect-ratio: 1/1;
    background: transparent;
    border-radius: var(--radius-xs);
    color: var(--control-icon-only-icon-default);
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 0;
    transition: all .15s ease
}

.calendarButton__085ad[data-hovered] {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover)
}

.calendarButton__085ad[data-pressed] {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active)
}

.calendarButton__085ad[data-focus-visible] {
    outline: 2px solid var(--border-focus);
    outline-offset: -1px
}

.dialog__085ad,
.popover__085ad {
    z-index: 10
}

.dialog__085ad {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-shadow: 0 2px 8px 0 var(--opacity-black-16);
    box-sizing: border-box;
    max-height: 100%;
    overflow: auto !important
}

.enable-forced-colors .inputGroup__085ad {
    background-color: Field;
    border-color: ButtonBorder
}

.enable-forced-colors .inputGroup__085ad.error__085ad {
    border-color: Mark
}

.enable-forced-colors .segment__085ad {
    color: FieldText
}

.enable-forced-colors .segment__085ad:focus {
    background-color: Highlight;
    color: HighlightText
}

.enable-forced-colors .separator__085ad {
    color: FieldText
}

.enable-forced-colors .calendarButton__085ad {
    color: ButtonText
}

.enable-forced-colors .calendarButton__085ad:hover {
    background-color: ButtonFace
}
