.listItemContents_c72b78 {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between
}

.actions_c72b78 {
    display: flex;
    gap: 10px;
    margin-inline-start: auto
}
