.textarea__9daae {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--text-default);
    font-size: 12px;
    line-height: 14px;
    max-height: 88px;
    padding: 4px;
    resize: none;
    width: 100%
}

.textarea__9daae::-moz-placeholder {
    color: var(--text-default)
}

.textarea__9daae::placeholder {
    color: var(--text-default)
}

.textarea__9daae:focus {
    background-color: var(--background-base-lowest)
}
