.inputWrapper_ba2c2e {
    display: block;
    width: 100%
}

.inputWrapper_ba2c2e input[data-mana-component=text-input] {
    background-color: var(--input-background-default);
    height: 48px
}

.redemptionFormContainer_ba2c2e {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    width: 100%
}

.headerFlag_ba2c2e {
    height: 18px
}

.giftCardStatusIcons_ba2c2e {
    align-items: center;
    display: flex;
    gap: var(--space-8);
    padding: 0
}

.giftCardStatusIcons_ba2c2e svg {
    flex-shrink: 0;
    height: 20px;
    width: 20px
}

.statusFlag_ba2c2e {
    height: 20px
}

.giftCodeInputWrapper_ba2c2e {
    display: block;
    max-width: 432px
}

.giftCodeInputWrapper_ba2c2e input[data-mana-component=text-input] {
    background-color: var(--input-background-default);
    height: 48px
}

.giftCodeInputWrapper_ba2c2e [data-error]>:last-child {
    background: transparent
}

.legalText_ba2c2e {
    color: var(--text-muted);
    font-family: var(--font-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--font-weight-normal, 400);
    line-height: 16px;
    margin: 0
}
