.root__7eea4 {
    display: flex;
    flex-direction: column
}

.titleText__7eea4 {
    justify-content: center;
    margin-bottom: 44px;
    text-align: center
}

.logo__7eea4 {
    width: 100px
}

.table__7eea4 {
    display: flex;
    flex-direction: column
}

.headerRow__7eea4,
.row__7eea4 {
    display: flex;
    flex-direction: row;
    z-index: 5
}

.headerRow__7eea4 {
    height: 56px;
    margin-top: 24px
}

.row__7eea4 {
    height: 68px
}

.rowBottomBorder__7eea4 {
    border-bottom: 1px solid var(--border-muted)
}

.wideRow__7eea4 {
    height: 128px
}

.shortRow__7eea4 {
    height: 20px
}

.cell__7eea4,
.headerCell__7eea4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 208px
}

.headerCell__7eea4 {
    justify-content: start
}

.cell__7eea4 {
    justify-content: center
}

.headerLabelCell__7eea4,
.labelCell__7eea4 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    text-align: start
}

.headerLabelCell__7eea4 {
    align-items: start
}

.buttonsCell__7eea4,
.labelCell__7eea4 {
    align-items: center
}

.buttonsCell__7eea4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    padding-top: 16px
}

.closeIcon__7eea4 {
    color: var(--icon-muted)
}

.checkmarkIcon__7eea4 {
    color: var(--interactive-text-active)
}

.button__7eea4 {
    height: 40px;
    width: 180px
}

.tableWrapper__7eea4 {
    padding: 2px;
    position: relative
}

.tier0ColumnOuter__7eea4,
.tier0ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-0-purple-for-gradients);
    border-radius: var(--radius-lg);
    height: 100%;
    inset-inline-end: 208px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-2-purple-for-gradients-2);
    height: 100%
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4,
.tier2Pill__7eea4 {
    border-radius: 16px;
    inset-inline-end: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier0ColumnOuterBackground__7eea4:before,
.tier2ColumnOuterBackground__7eea4:before {
    content: "";
    opacity: .1;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    z-index: -1
}

.tier0ColumnOuterBackground__7eea4:before {
    background: linear-gradient(268deg, var(--premium-tier-0-blue) 17.62%, var(--premium-tier-1-blue-for-gradients) 100%)
}

.tier2ColumnOuterBackground__7eea4:before {
    background: linear-gradient(101deg, var(--premium-tier-2-purple-for-gradients) 25.21%, var(--premium-tier-2-purple-for-gradients-2) 62.43%, var(--premium-tier-2-pink-for-gradients) 95.57%)
}

.topBorderRadius__7eea4 {
    border-start-end-radius: 16px;
    border-start-start-radius: 16px
}

.bottomBorderRadius__7eea4 {
    border-end-end-radius: 16px;
    border-end-start-radius: 16px
}

.mostPopularPill__7eea4 {
    background: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%);
    border-radius: 8px;
    margin: auto;
    max-height: 24px;
    max-width: 112px;
    padding: 4px 8px;
    position: relative;
    top: -12px;
    z-index: 10
}

.mostPopularText__7eea4 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase
}

.trialOfferPill__7eea4 {
    margin-top: 4px
}

.betaTag__7eea4 {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    display: inline
}

.bogoPillWithSparkles__7eea4,
.freeTrialPillWithSparkles__7eea4 {
    justify-content: center;
    max-height: 24px;
    max-width: 100%;
    position: relative;
    top: -13px;
    z-index: 10
}

.brandShineLight__7eea4 {
    color: hsl(var(--brand-500-hsl)/.1)
}

.brandShineDark__7eea4 {
    color: var(--opacity-white-8)
}

.premiumGroupCard__7eea4 {
    margin-bottom: 50px
}

.textLogo__7eea4 {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase
}
