.container_c791b2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: var(--space-16);
    padding-inline: var(--space-16) var(--space-8)
}

.page_c791b2 {
    background-color: var(--background-base-lower) !important
}

.header_c791b2 {
    background-color: var(--background-base-lower);
    border-top: 1px solid var(--app-frame-border);
    box-shadow: none;
    height: calc(var(--custom-channel-header-height) + 1px);
    padding-inline-start: 20px
}

.measurements_c791b2 {
    align-items: center;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    gap: 20px;
    pointer-events: none;
    position: absolute;
    top: 60px;
    visibility: hidden
}

.more_c791b2 {
    display: flex;
    gap: 4px
}

.selected_c791b2 {
    background-color: var(--interactive-background-hover);
    color: var(--interactive-text-active)
}

.divider_c791b2 {
    margin-inline: 20px 12px
}

.tabsContainer_c791b2 {
    display: flex;
    flex: 1;
    position: relative
}

.inviteChipletContainer__23437 {
    display: flex;
    flex-direction: row
}

.inviteChiplet__23437 {
    color: var(--text-muted);
    flex: 0
}

.inviteContainer__23437 {
    background-color: var(--background-mod-subtle);
    border-radius: var(--radius-xs);
    cursor: pointer;
    overflow: hidden;
    padding: 0 4px;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content
}

.inviteContainer__23437,
.inviterTooltipContainer__23437,
.linkedChannelContainer__23437 {
    align-items: center;
    display: flex;
    gap: 4px
}

.linkedChannelContainer__23437 {
    cursor: pointer;
    max-width: 250px
}

.linkedChannelApplicationName__23437 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.robot__23437 {
    color: var(--text-link)
}

.integrationIcon__23437 {
    background-size: contain
}

.unknownInvite__23437 {
    flex: 0;
    width: -moz-fit-content;
    width: fit-content
}

.inviterFooter__23437 {
    margin-top: 4px
}

.inviterUserContainer__23437 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.clickable__23437 {
    cursor: pointer
}

.footerAlignment__23437 {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.modInfoItemContainer__96c0b {
    border-radius: var(--radius-sm);
    flex-direction: column;
    gap: 0;
    overflow: hidden
}

.modInfoItem__96c0b,
.modInfoItemContainer__96c0b {
    box-shadow: var(--elevation-stroke);
    display: flex
}

.modInfoItem__96c0b {
    align-items: center;
    background-color: var(--background-base-lower);
    flex: 1;
    flex-direction: row;
    gap: 8px;
    padding: 12px
}

.modInfoItem__96c0b:not(:last-child) {
    margin-bottom: 1px
}

.modInfoItemIcon__96c0b {
    flex: 0 0 auto;
    height: 16px;
    width: 16px
}

.modInfoItemName__96c0b {
    flex: 1 1 auto
}

.modInfoItemDescription__96c0b {
    display: block;
    text-align: end
}

.modInfoAction__96c0b {
    box-shadow: var(--elevation-stroke);
    color: var(--text-muted);
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out
}

.modInfoAction__96c0b:hover {
    background-color: var(--interactive-background-active);
    color: var(--interactive-text-hover)
}

.modInfoItemActionIcon__96c0b {
    flex: 0 0 auto;
    height: 16px;
    width: 16px
}

.container__3a5a1 {
    background-color: color-mix(in oklab, var(--background-surface-high), transparent 20%);
    border-radius: var(--radius-sm);
    box-shadow: var(--elevation-low);
    overflow: hidden
}

.container__3a5a1,
.innerContainer__3a5a1 {
    display: flex;
    flex: 1;
    flex-direction: column
}

.innerContainer__3a5a1 {
    gap: 20px;
    padding: 12px 16px
}

.keyComboInner__3a5a1 {
    border: 1px solid var(--interactive-background-hover) !important;
    box-shadow: inset 0 -4px 0 var(--interactive-background-selected) !important;
    color: var(--text-default) !important;
    cursor: pointer !important
}

.keyComboContainer__3a5a1,
.keyComboInner__3a5a1 {
    background-color: var(--interactive-background-selected)
}

.keyComboContainer__3a5a1 {
    border-radius: var(--radius-sm)
}

.header__3a5a1 {
    background-color: color-mix(in oklab, var(--background-base-lower), transparent 20%);
    box-shadow: var(--elevation-stroke), var(--elevation-low);
    padding: 12px 16px;
    z-index: 1
}

.header__3a5a1,
.headerTitle__3a5a1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px
}

.headerTitle__3a5a1 {
    flex: 1
}

.infoTitle__3a5a1 {
    padding-bottom: 4px
}

.roleContainer__3a5a1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px
}

.highestRole__3a5a1 {
    box-shadow: var(--elevation-stroke), var(--custom-guild-shop-channel-row-glow)
}

.otherRoles__3a5a1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.addRoleIcon__3a5a1 {
    color: var(--interactive-text-default);
    transition: color 80ms cubic-bezier(.48, 1.93, 1, .68)
}

.roleTooltip__3a5a1 {
    padding-inline-end: 0;
    padding: 4px 4px 0
}

.roleTooltipItemContainer__3a5a1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px
}

.roleTooltipItem__3a5a1 {
    overflow: hidden
}

.addRoleContainer__3a5a1 {
    cursor: pointer
}

.guildIcon__3a5a1 {
    border-radius: var(--radius-sm);
    overflow: hidden
}

.loadingSpinner__3a5a1 {
    flex: 0;
    height: 16px;
    margin: 0;
    width: 16px
}

.verifiedIcon__3a5a1 {
    color: var(--text-feedback-positive)
}

.unverifiedIcon__3a5a1 {
    color: var(--text-feedback-critical)
}

.noRoles__3a5a1 {
    background-color: var(--background-mod-subtle);
    border-radius: 4px;
    padding: 4px
}

.auditLogItem_b2f52f {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    padding: 12px
}

.auditLogItemTitleContainer_b2f52f {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 4px;
    width: 100%
}

.auditLogItemTitle_b2f52f {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 4px
}

.username_b2f52f {
    cursor: pointer;
    margin-inline-end: 4px
}

.auditLogItemDate_b2f52f {
    align-self: flex-end
}

.auditLogReason_b2f52f {
    display: block
}

.auditLogSecondaryContainer_b2f52f {
    display: flex;
    flex-direction: row;
    gap: 4px
}

.auditLogSecondary_b2f52f {
    flex: 1
}

.auditLogExpandedChangeDetails_b2f52f {
    background-color: transparent !important;
    padding: 0
}

.auditLogExpandedChangeDetails_b2f52f>div {
    margin: 0
}

.permissionTooltip__1ef77 {
    padding-inline-end: 0;
    padding: 4px 4px 0
}

.roleTooltipContainer__1ef77 {
    display: block;
    max-width: 300px;
    width: auto
}

.roleTooltipContentContainer__1ef77 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    width: auto
}

.roleTooltipContentContainer__1ef77,
.roleTooltipItem__1ef77 {
    align-self: center;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1
}

.roleTooltipItem__1ef77 {
    overflow: hidden
}

.permissionsContainer__1ef77 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px
}

.permissionChiplet__1ef77 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border-radius: 4px;
    cursor: normal;
    display: flex;
    gap: 4px;
    padding: 4px
}

.noModPerms__1ef77 {
    cursor: not-allowed
}

.elevatedPermission__1ef77 {
    background-color: var(--background-mod-strong)
}

.headerContainer__1ef77 {
    gap: 8px;
    justify-content: space-between
}

.headerContainer__1ef77,
.viewAllPermissions__1ef77 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.viewAllPermissions__1ef77 {
    cursor: pointer
}
