.wrapper__02fc8 {
    position: relative
}

.inner__02fc8 {
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    border-radius: var(--radius-sm);
    height: 44px;
    justify-content: center;
    width: 44px
}

.inner__02fc8:hover {
    background-color: #99aab54d;
    border-color: transparent;
    cursor: pointer
}

.inner__02fc8:disabled {
    opacity: .3;
    pointer-events: none
}

.ellipsis__02fc8 {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute
}

.spinnerItem__02fc8 {
    background-color: #4f545c
}

.enable-forced-colors .inner__02fc8 {
    border: 1px solid ButtonFace
}

.enable-forced-colors .inner__02fc8:focus,
.enable-forced-colors .inner__02fc8:hover {
    background-color: ButtonFace;
    border-color: ButtonText
}

.enable-forced-colors .inner__02fc8:disabled {
    opacity: .3;
    pointer-events: none
}

.wrapper__3fa5b {
    position: relative
}

.inner__3fa5b {
    border-radius: var(--radius-sm);
    height: 44px;
    width: 44px
}

.inner__3fa5b:hover {
    background-color: #99aab54d;
    border-color: transparent;
    cursor: pointer
}

.inner__3fa5b:disabled {
    opacity: .3;
    pointer-events: none
}

.icon__3fa5b {
    border-radius: 28px;
    display: flex;
    margin: auto
}

.enable-forced-colors .inner__3fa5b {
    border: 1px solid ButtonFace
}

.enable-forced-colors .inner__3fa5b:focus,
.enable-forced-colors .inner__3fa5b:hover {
    background-color: ButtonFace;
    border-color: ButtonText
}

.enable-forced-colors .inner__3fa5b:disabled {
    opacity: .3;
    pointer-events: none
}

.title__750de {
    flex: 1;
    margin-bottom: 0
}

.searchBar__750de {
    margin-top: 20px
}

.connectionsContainer__750de {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-inline-end: -8px
}

.accountBtn__750de {
    margin-inline-end: 8px;
    margin-bottom: 8px
}

.accountBtn__750de:last-child {
    margin-inline-end: 0
}

.accountBtnInner__750de {
    background-color: var(--background-base-lower);
    border: none
}

.accountBtnInner__750de:hover {
    background-color: var(--background-mod-normal)
}

.applicationsHeader__750de {
    margin-top: 16px
}

.applicationsContainer__750de {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-inline-end: -8px;
    margin-bottom: 16px;
    margin-top: 12px
}

.application__750de {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    gap: 12px;
    padding: 16px;
    width: 184px
}

.application__750de:hover {
    background-color: var(--background-mod-normal);
    cursor: pointer
}

.applicationIcon__750de {
    height: 32px;
    min-width: 32px;
    width: 32px
}

.applicationNameContainer__750de {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    overflow: hidden
}

.applicationNameText__750de {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
