.content__02686 {
    align-items: center;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    overflow: hidden
}

.streamHidden__02686 {
    background: var(--primary-700);
    flex-direction: column
}

.streamHiddenEmptyState__02686 {
    margin: 0;
    padding: 0
}

.streamHiddenCTA__02686 {
    align-items: center;
    display: flex;
    justify-content: center
}

.largePaddingTop__02686 {
    padding-top: 8px
}

.addStreamIcon__02686 {
    height: 24px;
    width: 24px
}

.addCTA__02686 {
    margin-inline-start: 8px;
    padding: 8px
}

.leftTrayIcon__2cdb8 {
    margin-inline-end: 16px
}

.rightTrayIcon__2cdb8 {
    margin-inline-start: 16px
}

.embedTarget__2cdb8 {
    height: 100%;
    width: 100%
}

.embedTargetHidden__2cdb8 {
    height: 0;
    visibility: hidden;
    width: 0
}

.participantName__2cdb8 {
    margin-inline-start: 8px
}

.videoControls__2cdb8 {
    background: none
}
