.planOption_b13085 {
    align-items: center;
    color: var(--interactive-text-default);
    display: flex;
    justify-content: space-between;
    padding: 8px 0
}

.planOneTimeCost_b13085 {
    margin-top: 8px
}

.selectionBox_b13085 {
    border-radius: var(--radius-lg);
    margin-bottom: 12px;
    outline: 1px solid var(--border-normal);
    padding: var(--space-12)
}

.selectedPlan_b13085 {
    background-color: var(--background-surface-high);
    outline: 2px solid var(--brand-500)
}

.planOptionDisabled_b13085 {
    opacity: .6
}

.planOptionClickable_b13085 {
    align-items: center;
    display: flex
}

.planOptionDisabled_b13085 .planOptionClickable_b13085 {
    cursor: not-allowed
}

.planOptionCheckbox_b13085 {
    margin-inline-end: 10px
}

.planOptionInterval_b13085 {
    color: var(--interactive-text-default);
    font-weight: var(--font-weight-medium)
}

.optionSelected_b13085 {
    color: var(--interactive-text-active)
}

.planOptionCurrentPlan_b13085,
.planOptionMonthsFree_b13085 {
    margin-inline-start: 4px
}

.planOptionDiscount_b13085 {
    border-radius: 16px;
    margin-inline-start: 8px;
    padding: 2px 8px
}

.annualPlanOptionDiscount_b13085,
.planOptionDiscount_b13085 {
    background-color: var(--green-360);
    font-weight: var(--font-weight-semibold)
}

.annualPlanOptionDiscount_b13085 {
    align-content: center;
    border-radius: 8px;
    margin-top: 3px;
    margin-inline-end: 8px;
    padding: 0 6px;
    position: relative
}

.planOptionSubtextContainer_b13085 {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.planOptionSubtext_b13085 {
    max-width: 176px;
    padding-bottom: 12px
}

.planWithOfferOptionSubtext_b13085 {
    max-width: 300px;
    text-align: end
}

.planWithOfferOptionSubtext_b13085 p {
    margin: 0
}

.planOptionClickableContainer_b13085 {
    cursor: pointer
}

.optionPriceSelected_b13085,
.updatedOptionSelected_b13085 {
    font-weight: var(--font-weight-semibold)
}

.optionPriceSelected_b13085 {
    color: var(--interactive-text-active)
}

.subscriptionCostRowAmount__3d62f {
    font-weight: var(--font-weight-medium)
}

.subscriptionCostRow__3d62f {
    color: var(--text-strong)
}

.invoiceItemLabelWithIcon__3d62f {
    align-items: center;
    display: flex
}

.invoiceItemLabelIcon__3d62f {
    color: var(--interactive-text-default);
    height: 14px;
    margin-inline-start: 8px;
    width: 14px
}

.invoiceItemTooltip__3d62f {
    max-width: 240px
}

.invoiceItemTooltip__3d62f p {
    margin: 0
}

.invoiceItemTooltip__3d62f strong {
    font-weight: var(--font-weight-bold)
}

.subscriptionDetailsToggle__3d62f {
    align-items: center;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    justify-content: center;
    line-height: 16px;
    margin: -16px 0;
    padding: 16px 0
}

.subscriptionDetailsToggleCaret__3d62f {
    height: 16px;
    margin-inline-start: 6px;
    width: 16px
}

.subscriptionPeriodResetNotice__3d62f {
    color: var(--text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    margin-bottom: 16px
}

.subscriptionAddedInvoiceItem__3d62f {
    color: var(--text-feedback-positive)
}

.purchaseDetailsHeaderText__3d62f {
    margin-bottom: 8px
}
