.guildContainer_f778dc {
    align-items: center;
    background-color: var(--background-mod-normal);
    display: flex;
    flex-direction: row;
    padding: 30px 18px;
    position: relative
}

.guildInfoContainer_f778dc {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 16px
}

.guildBoostStatsContainer_f778dc {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 6px
}

.separator_f778dc {
    border-inline-end: 1px solid var(--text-muted);
    height: 18px;
    margin: 0 10px;
    opacity: .5
}

.guildBoostBadge_f778dc {
    color: var(--guild-boosting-pink);
    height: 16px;
    margin-inline-end: 6px;
    width: 16px
}

.sparkle_f778dc {
    color: var(--white);
    position: absolute;
    z-index: 1
}

.theme-light .sparkle_f778dc {
    color: var(--guild-boosting-pink)
}

.sparkle1_f778dc {
    bottom: 9px;
    inset-inline-start: 0
}

.sparkle2_f778dc {
    inset-inline-end: 9px;
    top: -15px
}

.sparkle3_f778dc {
    inset-inline-end: 0;
    top: 24px
}

.sparkle4_f778dc {
    inset-inline-end: -22px;
    top: 28px
}

.sideSparkleContainer_f778dc {
    background-image: radial-gradient(100% 100% at center, #fff 0, hsla(0, 0%, 100%, 0) 50%);
    position: absolute;
    width: 1px;
    z-index: 1
}

.theme-light .sideSparkleContainer_f778dc {
    background-image: radial-gradient(100% 100% at center, hsl(var(--guild-boosting-pink-hsl)/1) 0, hsl(var(--guild-boosting-pink-hsl)/0) 50%)
}

.sideSparkle_f778dc {
    inset-inline-start: -8px
}

.container__4be27,
.wrapper__4be27 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px
}

.container__4be27 {
    gap: 12px
}

.appliedBoostContainer__4be27 {
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.guildContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 18px
}

.guildInfoContainer__4be27 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 15px
}

.guildBoostStatsContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 6px
}

.separator__4be27 {
    border-inline-end: 1px solid var(--text-muted);
    height: 18px;
    margin: 0 10px
}

.guildBoostBadge__4be27 {
    color: var(--guild-boosting-pink);
    margin-inline-end: 6px
}

.boostContainer__4be27 {
    background-color: var(--primary-800);
    display: flex;
    flex-direction: column;
    padding: 0 20px
}

.theme-light .boostContainer__4be27 {
    background-color: var(--primary-200)
}

.boostInnerContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 6px 0
}

.boostContainerSeparator__4be27 {
    background-color: var(--primary-500);
    height: 1px;
    opacity: .48
}

.theme-light .boostContainerSeparator__4be27 {
    opacity: .2
}

.cancel__4be27 {
    color: var(--text-feedback-warning)
}

.boostDescriptionContainer__4be27 {
    flex: 1;
    margin: 0 10px;
    position: relative
}

.boostDescriptionInnerContainer__4be27 {
    position: absolute;
    transform: translateY(-50%);
    width: 100%
}

.boostSlotMenuIcon__4be27 {
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex
}

.mainSeparator__4be27 {
    background-color: var(--primary-500);
    height: 1px;
    opacity: .48
}

.theme-light .mainSeparator__4be27 {
    opacity: .3
}

.wrapper_a2ba57 {
    isolation: isolate;
    position: relative
}

.gradient_a2ba57 {
    background: center 15%/90% auto url(/assets/63ac51b66622ae3d.svg) no-repeat, linear-gradient(180deg, var(--premium-tier-0-header-gradient-2) 0, var(--premium-tier-0-header-gradient-3) 60%, var(--premium-tier-0-header-gradient-4) 120%);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    padding: 76px 56px 36px;
    position: relative;
    z-index: 1
}

.guildBoostGemWrapper_a2ba57 {
    background-color: var(--white);
    border-radius: 34px;
    box-shadow: var(--elevation-medium);
    height: 68px;
    overflow: hidden;
    top: 0;
    transform: translate(-50%, -25%);
    width: 68px;
    z-index: 2
}

.guildBoostGem_a2ba57,
.guildBoostGemWrapper_a2ba57 {
    inset-inline-start: 50%;
    position: absolute
}

.guildBoostGem_a2ba57 {
    height: 60px;
    top: 50%;
    transform: translate(-50%, -50%)
}

.heading_a2ba57 {
    color: var(--text-strong);
    position: relative;
    text-align: center;
    z-index: 2
}

.heading_a2ba57 p {
    margin: 0
}

.wave_a2ba57 {
    bottom: -96px;
    fill: var(--background-base-low);
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

.wrapper_f50859 {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 30px 18px;
    position: relative
}

.icon_f50859 {
    border-radius: 100%;
    height: 60px;
    width: 60px
}

.info_f50859 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 16px
}

.wrapper__6b2f3 {
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    padding: 16px 18px
}

.copy__6b2f3,
.wrapper__6b2f3 {
    align-items: center;
    display: flex
}

.cta__6b2f3 {
    color: var(--text-link) !important;
    display: inline;
    height: auto;
    margin-inline-start: 4px;
    min-height: auto;
    min-width: auto;
    padding: 0
}

.boostIcon__6b2f3 {
    color: var(--guild-boosting-pink);
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}

.wrapper_de1b16 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px
}

.header_de1b16 {
    margin-bottom: 20px;
    margin-top: 30px
}

.recommendedServerCard_de1b16 {
    border-radius: var(--radius-sm);
    position: relative
}

.wrapper__5a3a3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 70px;
    text-align: center
}

.subtitle__5a3a3 {
    margin-bottom: 6px
}

.subscription_d970da {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    padding: 16px
}

.subscriptionInfo_d970da {
    margin-inline-start: 16px
}

.tierInfo_d970da {
    align-items: center;
    display: flex
}

.tierPill_d970da {
    align-items: center;
    align-self: flex-start;
    background-color: var(--background-mod-normal);
    border-radius: 11px;
    display: inline-flex;
    font-size: 12px;
    line-height: 14px;
    padding-block: 4px;
    padding-inline: 4px 8px
}

.tierPill_d970da,
.tierPillStar_d970da {
    color: var(--text-default)
}

.tierPillStar_d970da {
    height: 16px;
    margin-inline-end: 5px;
    width: 16px
}

.guildIcon_d970da {
    background-color: var(--background-base-low)
}

.guildName_d970da {
    color: var(--text-strong);
    flex: 1;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 20px;
    margin-bottom: 8px
}

.levelIcon_d970da {
    height: 16px;
    margin: 0 4px;
    width: 16px
}

.levelDownIcon_d970da {
    color: var(--icon-feedback-critical)
}

.levelUpIcon_d970da {
    color: var(--green-360)
}

.theme-light .boost_d970da {
    background-color: var(--primary-230)
}

.theme-light .guildName_d970da {
    color: var(--primary-500)
}

.tierPillGem_d970da {
    color: var(--text-muted)
}

.content__2cbe8 {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px
}

.guildCard__2cbe8 {
    margin: 16px 0
}

.image__2cbe8 {
    align-self: center;
    background-repeat: no-repeat;
    background-size: 100%;
    flex-shrink: 0;
    margin: 20px 0
}

.transferGuildCardHeader__2cbe8 {
    margin-top: 16px;
    text-transform: uppercase
}

.activeTransferGuildCardBorder__2cbe8 {
    background: linear-gradient(to left, var(--guild-boosting-purple), var(--guild-boosting-blue));
    padding: 2px
}

.activeTransferGuildCardBorder__2cbe8,
.transferFromGuildCard__2cbe8 {
    border-radius: 8px;
    margin-top: 8px
}

.transferToGuildCard__2cbe8 {
    border-radius: 8px
}

.error__2cbe8 {
    margin: 16px
}

.pendingCancellation__2cbe8 {
    align-items: center;
    background: var(--background-feedback-warning);
    border: 1px solid var(--icon-feedback-warning);
    border-radius: 4px;
    display: flex;
    margin-top: 16px;
    padding: 8px 16px
}

.pendingCancellationIcon__2cbe8 {
    color: var(--text-feedback-warning);
    flex-shrink: 0
}

.pendingCancellationMessage__2cbe8 {
    color: var(--text-default);
    margin-inline-start: 10px
}

.footer__2cbe8 {
    padding: 16px 24px
}

.modal__39466 {
    overflow: hidden
}

.modalCloseButton__39466 {
    inset-inline-end: 12px;
    opacity: .8;
    position: absolute;
    top: 12px
}

.modalCloseButton__39466:hover {
    opacity: 1
}

.modalContent__39466 {
    padding: 8px 0
}

.selectHeaderContainer__39466 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    z-index: auto
}

.selectHeader__39466 {
    margin-bottom: 16px
}

.selectGuild__39466 {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 8px 6px
}

.selectGuild__39466:hover {
    background-color: var(--background-mod-normal)
}

.selectGuildIcon__39466 {
    flex: 0 0 auto
}

.selectGuildName__39466 {
    flex: 0 1 auto;
    margin-inline-start: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.selectGuildLevel__39466 {
    flex: 0 0 auto;
    margin-inline-start: 6px
}

.selectGuildCopy__39466 {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden
}

.selectGuildPseudoCta__39466 {
    background: var(--brand-500);
    border-radius: 4px;
    flex: 0 0 auto;
    margin-inline-start: 6px;
    padding: 6px 16px
}

.emptyStateWrapper__39466 {
    padding: 8px 16px;
    text-align: center
}

.emptyStateWrapper__39466 p {
    margin: 0
}

.emptyStateWrapper__39466 a:hover {
    text-decoration: underline
}
