.table_ce03f4 {
    border: 0;
    border-spacing: 0;
    padding: 0 8px 8px;
    position: relative;
    width: 100%
}

.headerCell_ce03f4 {
    padding: 12px 8px 20px;
    text-align: start;
    vertical-align: middle
}

.moreOptionsCol_ce03f4 {
    width: 32px
}

.sortItem_ce03f4 {
    align-items: center;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.sortIcon_ce03f4 {
    height: 20px;
    width: 20px
}

.placeholderText_ce03f4 {
    border-radius: 8px;
    height: 14px
}

.placeholderTextSmall_ce03f4 {
    border-radius: 8px;
    height: 8px;
    margin-top: 4px
}

.placeholderAvatar_ce03f4 {
    border-radius: 50%;
    height: 32px;
    width: 32px
}

.placeholderAvatar_ce03f4,
.placeholderText_ce03f4,
.placeholderTextSmall_ce03f4 {
    animation: placeholderPulse_ce03f4 3s ease-in-out infinite;
    background-color: var(--text-default);
    opacity: .08
}

@keyframes placeholderPulse_ce03f4 {
    0% {
        opacity: .1
    }

    50% {
        opacity: .25
    }

    to {
        opacity: .1
    }
}

.emptyContainer_ce03f4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    justify-content: center;
    margin: 40px auto
}

.checkmark_ce03f4 {
    align-self: center;
    background-color: var(--background-base-lowest);
    border-radius: 50%;
    color: var(--interactive-text-default);
    height: 48px;
    margin-bottom: 12px;
    padding: 16px;
    width: 48px
}

.mainTableContainer__09a38 {
    background: var(--background-base-low);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    box-shadow: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%
}

.horizontalScroller__09a38 {
    flex: 1
}

.loaderContainer__09a38 {
    border: 0;
    border-radius: var(--radius-round);
    padding: 0;
    position: relative;
    width: 100%
}

.loaderBar__09a38 {
    animation: loadingBar__09a38 2s linear infinite;
    background: var(--brand-500);
    border-radius: var(--radius-round);
    position: absolute;
    top: 0;
    inset-inline: 0 100%;
    bottom: 0;
    width: 0
}

@keyframes loadingBar__09a38 {
    0% {
        inset-inline: 0 100%;
        width: 0
    }

    10% {
        inset-inline: 0 75%;
        width: 25%
    }

    90% {
        inset-inline: 75% 0;
        width: 25%
    }

    to {
        inset-inline: 100% 0;
        width: 0
    }
}

.tableHeaderRow__9dd6b {
    position: relative
}

.tableHeaderRow__9dd6b:first-child:after {
    box-shadow: var(--elevation-low);
    content: "";
    height: 1px;
    inset-inline: -8px;
    bottom: 8px;
    opacity: 1;
    position: absolute;
    width: calc(100% + 16px)
}

.tableHeaderCellContainer__9dd6b {
    padding: 8px 8px 16px;
    text-align: start;
    vertical-align: middle
}

.tableHeaderCellWithFilter__9dd6b {
    cursor: pointer
}

.tableHeaderCell__9dd6b {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.filterIcon__9dd6b {
    height: 16px;
    transform: rotate(90deg);
    width: 16px
}

.filterIconButton__9dd6b {
    cursor: pointer;
    height: 16px;
    padding: 2px;
    width: 16px
}

.heading-sm\/normal__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.heading-sm\/medium__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.heading-sm\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.heading-sm\/bold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.heading-sm\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.heading-md\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.heading-md\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.heading-md\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.heading-md\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.heading-md\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.heading-lg\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.heading-lg\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.heading-lg\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.heading-lg\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.heading-lg\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.heading-xl\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.heading-xl\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.heading-xl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.heading-xl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.heading-xl\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.heading-xxl\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.heading-xxl\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.heading-xxl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.heading-xxl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.heading-xxl\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.experimental\/heading-xs\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/heading-xs\/bold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/bold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/heading-sm\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/heading-sm\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-sm\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/heading-md\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.experimental\/heading-md\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/bold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.experimental\/heading-lg\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.experimental\/heading-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.experimental\/heading-lg\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/heading-lg\/bold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.experimental\/heading-xl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xl\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.experimental\/heading-xl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xl\/bold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.experimental\/heading-xxl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xxl\/semibold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.experimental\/heading-xxl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xxl\/bold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.eyebrow__71c22 {
    font-family: var(--font-display);
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow__71c22,
.eyebrow__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.heading-deprecated-12\/normal__71c22 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.heading-deprecated-12\/medium__71c22 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.heading-deprecated-12\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.heading-deprecated-12\/bold__71c22 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.redesign\/heading-18\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.text-xxs\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal__71c22.fontScaling__71c22 {
    font-size: .625rem
}

.text-xxs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium__71c22.fontScaling__71c22 {
    font-size: .625rem
}

.text-xxs\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/bold__71c22,
.text-xxs\/semibold__71c22.fontScaling__71c22 {
    font-size: .625rem
}

.text-xxs\/bold__71c22 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold__71c22.fontScaling__71c22 {
    font-size: .625rem
}

.text-xs\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.text-xs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.text-xs\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/bold__71c22,
.text-xs\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.text-xs\/bold__71c22 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.text-sm\/normal__71c22 {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/medium__71c22,
.text-sm\/normal__71c22,
.text-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.text-sm\/medium__71c22 {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.text-sm\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/bold__71c22,
.text-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.text-sm\/bold__71c22 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.text-md\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.text-md\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.text-md\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.text-md\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.text-lg\/normal__71c22 {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/medium__71c22,
.text-lg\/normal__71c22,
.text-lg\/normal__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.text-lg\/medium__71c22 {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.text-lg\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/bold__71c22,
.text-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.text-lg\/bold__71c22 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal__71c22.fontScaling__71c22 {
    font-size: .9375rem
}

.redesign\/message-preview\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium__71c22.fontScaling__71c22 {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold__71c22.fontScaling__71c22 {
    font-size: .9375rem
}

.redesign\/message-preview\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold__71c22.fontScaling__71c22 {
    font-size: .9375rem
}

.redesign\/channel-title\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.redesign\/channel-title\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.redesign\/channel-title\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.redesign\/channel-title\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/body-xs\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/body-xs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/body-sm\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/body-sm\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/body-md\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.experimental\/body-md\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/body-md\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/body-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/body-lg\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/body-lg\/normal__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.experimental\/body-lg\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

.experimental\/body-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.experimental\/meta\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/meta\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/meta\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/meta\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.display-sm__71c22 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: 1
}

.display-sm__71c22,
.display-sm__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

.display-md__71c22 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md__71c22,
.display-md__71c22.fontScaling__71c22 {
    font-size: 2.125rem
}

.display-lg__71c22 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg__71c22,
.display-lg__71c22.fontScaling__71c22 {
    font-size: 2.75rem
}

.experimental\/display-xs__71c22 {
    font-family: var(--font-headline);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1
}

.experimental\/display-xs__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/display-sm__71c22 {
    font-family: var(--font-headline);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: .9166666666666666
}

.experimental\/display-sm__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

.experimental\/display-md__71c22 {
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 800;
    line-height: .875
}

.experimental\/display-md__71c22.fontScaling__71c22 {
    font-size: 2rem
}

.experimental\/display-lg__71c22 {
    font-family: var(--font-headline);
    font-size: 2.75rem;
    font-weight: 800;
    line-height: .8636363636363636
}

.experimental\/display-lg__71c22.fontScaling__71c22 {
    font-size: 2.75rem
}

.experimental\/label-xs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/label-xs\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/label-sm\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/label-sm\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

.experimental\/label-md\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/label-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/label-md\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/label-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

.experimental\/label-lg\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.experimental\/label-lg\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

.code__71c22 {
    font-family: var(--font-code);
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code__71c22,
.code__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/mono-md\/normal__71c22 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/mono-md\/bold__71c22 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.experimental\/mono-sm\/normal__71c22 {
    font-family: var(--font-code);
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/mono-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .625rem
}

.experimental\/mono-sm\/bold__71c22 {
    font-family: var(--font-code);
    font-size: .625rem;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/mono-sm\/bold__71c22.fontScaling__71c22 {
    font-size: .625rem
}

:where(.mana-type-consolidation) .heading-sm\/normal__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/medium__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/bold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/bold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/extrabold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-md\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/bold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-md\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-lg\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/normal__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/bold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-xl\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/normal__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/medium__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/bold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/extrabold__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xxl\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/normal__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/medium__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/semibold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/bold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold__71c22 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .eyebrow__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .eyebrow__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold__71c22.fontScaling__71c22 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .text-xxs\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/normal__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/medium__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/semibold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/bold__71c22.fontScaling__71c22 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-sm\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/normal__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/medium__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/semibold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/bold__71c22.fontScaling__71c22 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-md\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/semibold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/bold__71c22 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-lg\/normal__71c22 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/normal__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/medium__71c22 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/medium__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/semibold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/bold__71c22.fontScaling__71c22 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold__71c22 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold__71c22.fontScaling__71c22 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .display-sm__71c22 {
    font-family: var(--font-headline);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: .9166666666666666
}

:where(.mana-type-consolidation) .display-sm__71c22.fontScaling__71c22 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .display-md__71c22 {
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 800;
    line-height: .875
}

:where(.mana-type-consolidation) .display-md__71c22.fontScaling__71c22 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .display-lg__71c22 {
    font-family: var(--font-headline);
    font-size: 2.75rem;
    font-weight: 800;
    line-height: .8636363636363636
}

:where(.mana-type-consolidation) .display-lg__71c22.fontScaling__71c22 {
    font-size: 2.75rem
}

:where(.mana-type-consolidation) .code__71c22 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .code__71c22.fontScaling__71c22 {
    font-size: .75rem
}

.flagContainer__71c22 {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.roleContainer__71c22 {
    gap: 8px
}

.roundedRow__71c22 td:first-child {
    border-end-start-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm)
}

.roundedRow__71c22 td:last-child {
    border-end-end-radius: var(--radius-sm);
    border-start-end-radius: var(--radius-sm)
}

.inviteChipletContainer__71c22 {
    display: flex;
    flex-direction: row
}

.inviteChiplet__71c22 {
    color: var(--text-muted);
    flex: 0
}

@keyframes shimmer__71c22 {
    to {
        transform: skewX(-20deg) translateX(100%)
    }
}

.memberRowContainer__71c22 {
    animation: none;
    cursor: pointer;
    filter: blur(0);
    transition: filter .6s ease-in-out
}

.memberRowContainer__71c22.loading__71c22 {
    filter: blur(3px);
    position: relative;
    transition: filter 64ms ease-in-out
}

.memberRowContainer__71c22.loading__71c22:after {
    background: linear-gradient(-45deg, transparent, hsla(0, 0%, 100%, .05), transparent);
    content: "";
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.full-motion .memberRowContainer__71c22.loading__71c22:after {
    animation: shimmer__71c22 .5s ease-in-out infinite;
    transform: skewX(-20deg) translateX(-100%)
}

.memberRowContainer__71c22:hover td {
    background-color: var(--interactive-background-hover)
}

.memberRowContainer__71c22:hover .actionCell__71c22 {
    color: var(--interactive-text-hover);
    opacity: 1
}

.memberRowContainer__71c22.selected__71c22 td {
    background-color: var(--interactive-background-selected)
}

.memberRowContainer__71c22.selected__71c22 .actionCell__71c22 {
    color: var(--interactive-text-active)
}

.memberRowContainer__71c22.memberSelected__71c22 td {
    background: var(--message-highlight-background-default)
}

.memberRowContainer__71c22.memberSelected__71c22 .actionCell__71c22 {
    color: var(--interactive-text-active)
}

.memberRowContainer__71c22 .addRoleContainer__71c22 {
    cursor: pointer;
    opacity: 0
}

.memberRowContainer__71c22:hover .addRoleContainer__71c22 {
    opacity: 1
}

.memberRowContainer__71c22.selected__71c22 .addRoleContainer__71c22 {
    opacity: 1
}

.memberRowContainer__71c22 td {
    background-color: transparent;
    color: var(--text-default);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    padding: var(--space-xs);
    position: relative;
    vertical-align: middle
}

.memberRowContainer__71c22 td:after {
    background: var(--border-subtle);
    content: "";
    height: 1px;
    inset-inline-start: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%
}

.memberRowContainer__71c22 .compact__71c22 {
    padding: 4px
}

.memberRowContainer__71c22:hover td:after {
    opacity: 0
}

.memberRowContainer__71c22:hover+.memberRowContainer__71c22 td:after {
    opacity: 0
}

.memberRowContainer__71c22:first-child td:after {
    content: none
}

.xsmallCol__71c22 {
    width: 2%
}

.smallCol__71c22 {
    width: 11%
}

.mediumSmallCol__71c22 {
    width: 16%
}

.mediumCol__71c22 {
    width: 22%
}

.fillCol__71c22 {
    width: 100%
}

.actionCell__71c22 {
    align-items: center;
    color: var(--interactive-text-default);
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end
}

.actionCell__71c22:hover {
    color: var(--interactive-text-active)
}

.memberNameContainer__71c22 {
    cursor: pointer;
    display: grid;
    gap: 0 8px;
    grid-template-columns: auto 1fr
}

.memberGlobalName__71c22,
.memberNameText__71c22 {
    display: block;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis
}

.memberName__71c22 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.memberAvatar__71c22 {
    align-self: center;
    grid-row: span 2
}

.communicationDisabledTooltip__71c22 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.button__71c22 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: var(--radius-round);
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 28px
}

.button__71c22:hover {
    background-color: var(--interactive-background-hover)
}

.button__71c22:active {
    background-color: var(--interactive-background-active)
}

.roleContainer__71c22 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.highestRole__71c22 {
    height: 24px;
    margin: 0
}

.otherRoles__71c22 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: var(--radius-xs);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 24px;
    justify-content: center;
    width: 24px
}

.addRoleIcon__71c22 {
    color: var(--interactive-text-default)
}

.roleTooltip__71c22 {
    padding-inline-end: 0;
    padding: 4px 4px 0
}

.roleTooltipItemContainer__71c22 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px
}

.roleTooltipSafetyContainer__71c22 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
    width: 160px
}

.roleTooltipItem__71c22 {
    overflow: hidden
}

.disabledActionTooltip__71c22 {
    top: 10px
}

.nameContainer__71c22 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.memberClanTag__71c22 {
    flex-shrink: 0
}
