.confirmationText_cbd4f3 {
    text-align: center
}

.staticCelebration__0de46,
.videoContainer__0de46 {
    transform: translate(calc(-50% + 4px), calc(-50% + 4px));
    width: 1500px;
    z-index: 0
}

.staticCelebration__0de46,
.video__0de46,
.videoContainer__0de46 {
    inset-inline-start: 50%;
    position: absolute;
    top: 50%
}

.video__0de46 {
    transform: translate(-50%, -50%);
    width: 100%
}

.video__0de46.hidden__0de46 {
    visibility: hidden
}

.video__0de46.visible__0de46 {
    visibility: visible
}

.entryAnimationContainer__0de46 {
    animation: boostWowScaleIn__0de46 .4s ease, boostWowScaleSettle__0de46 .4s ease .4s;
    will-change: transform
}

@keyframes boostWowScaleIn__0de46 {
    0% {
        transform: scale(.5)
    }

    to {
        transform: scale(1.05)
    }
}

@keyframes boostWowScaleSettle__0de46 {
    0% {
        transform: scale(1.05)
    }

    to {
        transform: scale(1)
    }
}

.exitAnimationContainer__0de46 {
    animation: boostWowExit__0de46 175ms ease forwards;
    pointer-events: none;
    transform: scale(1);
    will-change: transform
}

@keyframes boostWowExit__0de46 {
    0% {
        opacity: 1;
        transform: scale(1);
        visibility: visible
    }

    to {
        opacity: 0;
        transform: scale(.5);
        visibility: hidden
    }
}

.fadeOut__0de46 {
    animation: boostWowFadeOut__0de46 175ms ease forwards
}

@keyframes boostWowFadeOut__0de46 {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}
