.card_abfd90,
.cardContainer_abfd90 {
    overflow: hidden
}

.card_abfd90 {
    background: var(--background-base-low);
    border: 2px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transform: translateY(0);
    width: 100%
}

.cardMedium_abfd90 {
    height: 270px
}

.cardSmall_abfd90 {
    height: 246px
}

.cardImageContainer_abfd90 {
    bottom: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    z-index: 0
}

.cardEmbedded_abfd90 {
    border: none;
    border-radius: unset;
    height: 254px
}

.cardDark_abfd90 {
    background-color: var(--background-surface-high)
}

.cardHighlighted_abfd90 {
    box-shadow: var(--shadow-border), var(--shadow-high)
}

.cardDarkHighlighted_abfd90 {
    box-shadow: 0 0 15px 1px var(--primary-700)
}

.cardNotLoaded_abfd90 {
    cursor: default;
    pointer-events: none
}

.cardAnimation_abfd90 {
    transform: scale(100%)
}

.cardAnimation_abfd90:has(:focus-visible),
.cardAnimation_abfd90:hover {
    transform: scale(105%)
}

.full-motion .cardAnimation_abfd90 {
    transition: transform .5s, box-shadow .5s
}

@keyframes fadeIn_abfd90 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.cardBackgroundImage_abfd90 {
    background-color: var(--background-base-low);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(110%)
}

.full-motion .cardBackgroundImage_abfd90 {
    transition: transform .5s
}

.cardImage_abfd90 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.full-motion .cardImage_abfd90 {
    transition: transform .5s
}

.ticketIconContainer_abfd90 {
    background: var(--brand-400);
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.ticketIcon_abfd90 {
    height: 50%;
    inset-inline-start: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%
}

.details_abfd90 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    z-index: 1
}

.inGameItemLabelContainer_abfd90 {
    bottom: 100%;
    inset-inline-start: 0;
    padding-bottom: var(--space-4);
    position: absolute
}

.titleContainer_abfd90 {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    position: relative;
    transform: translateY(0)
}

.full-motion .titleContainer_abfd90 {
    transition: transform .5s
}

.descriptionContainer_abfd90 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    opacity: 1
}

.full-motion .descriptionContainer_abfd90 {
    transition: opacity .25s, transform .25s
}

.buttonHover_abfd90 {
    bottom: 16px;
    inset-inline: 16px;
    position: absolute;
    transform: translateY(150%);
    z-index: 1
}

.full-motion .buttonHover_abfd90 {
    transition: all .5s
}

.card_abfd90:has(:focus-visible) .buttonHover_abfd90,
.card_abfd90:hover .buttonHover_abfd90 {
    transform: translateY(0)
}

.card_abfd90:has(:focus-visible) .descriptionContainer_abfd90,
.card_abfd90:hover .descriptionContainer_abfd90 {
    opacity: 0;
    transform: translateY(50%)
}

.card_abfd90:has(:focus-visible) .titleContainer_abfd90,
.card_abfd90:hover .titleContainer_abfd90 {
    transform: translateY(-100%)
}

.card_abfd90:has(:focus-visible) .titleContainerNoPrice_abfd90,
.card_abfd90:hover .titleContainerNoPrice_abfd90 {
    transform: translateY(-180%)
}

.card_abfd90:has(:focus-visible) .titleContainerExtendedHeight_abfd90,
.card_abfd90:hover .titleContainerExtendedHeight_abfd90 {
    transform: translateY(-5%)
}

.card_abfd90:has(:focus-visible) .bottomGradient_abfd90,
.card_abfd90:hover .bottomGradient_abfd90 {
    transform: translateY(-15%)
}

.card_abfd90:has(:focus-visible) .cardBackgroundImage_abfd90,
.card_abfd90:hover .cardBackgroundImage_abfd90 {
    transform: scale(100%)
}

.card_abfd90:has(:focus-visible) .cardImage_abfd90,
.card_abfd90:hover .cardImage_abfd90 {
    transform: scale(105%)
}

.priceContainer_abfd90 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    justify-content: flex-start
}

.strikethrough_abfd90 {
    text-decoration: line-through
}

.bottomGradient_abfd90 {
    bottom: -25%;
    height: 100%;
    inset-inline-end: 0;
    position: absolute;
    transform: translateY(0);
    width: 100%
}

.full-motion .bottomGradient_abfd90 {
    transition: transform .5s
}

.iconAsset_abfd90 {
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    width: 20px
}

.badge_abfd90 {
    background-color: var(--white);
    color: var(--black);
    inset-inline-start: 16px;
    position: absolute;
    top: 16px;
    z-index: 1
}

.full-motion .badge_abfd90 {
    transition: inset-inline-start .5s, opacity .25s
}

.badgeContainer_abfd90 {
    filter: var(--shadow-medium-filter);
    inset-inline-start: var(--space-16);
    position: absolute;
    top: var(--space-16);
    z-index: 1
}

.full-motion .badgeContainer_abfd90 {
    transition: inset-inline-start .5s, opacity .25s
}

.cardButtonsContainer_abfd90 {
    color: var(--primary-100);
    display: flex;
    flex-direction: row;
    gap: 12px;
    inset-inline-end: 8px;
    position: absolute;
    top: 8px;
    z-index: 1
}

.wishlistButton_abfd90 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border-width: 0;
    padding: 0
}

.forwardButton_abfd90 {
    visibility: hidden
}

.cardButtonContainer_abfd90 {
    align-items: center;
    background-color: color-mix(in srgb, var(--black) 40%, transparent);
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: background-color .2s ease-in-out;
    width: 40px
}

.cardButtonContainer_abfd90:hover {
    background: color-mix(in srgb, var(--black) 60%, transparent)
}

.cardButtonContainerHovered_abfd90 {
    visibility: visible
}

@keyframes pulse_abfd90 {
    0% {
        background: var(--background-base-lowest)
    }

    30% {
        background: var(--background-base-low)
    }

    70% {
        background: var(--background-base-low)
    }

    to {
        background: var(--background-base-lowest)
    }
}

.placeholderCard_abfd90 {
    cursor: default;
    pointer-events: none
}

.placeholderText_abfd90 {
    background-color: var(--icon-muted);
    border-radius: var(--radius-xs);
    height: var(--space-24);
    opacity: .1
}

.orbsEarnedContainer_abfd90 {
    color: color-mix(in srgb, var(--white) 60%, transparent)
}

.orbsEarnedContainer_abfd90>div {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.full-motion .placeholderCard_abfd90 {
    animation: pulse_abfd90 2s ease-in-out infinite alternate;
    animation-fill-mode: backwards
}
