.wrapper_ef0e9b {
    width: 100%
}

.percentCompleteWrapper_ef0e9b {
    display: flex
}

.percentCompleteLabel_ef0e9b {
    flex: 1 1 auto;
    text-align: end
}

.progressBar_ef0e9b {
    height: 4px;
    position: relative
}

.progressBar_ef0e9b:after {
    background-color: currentColor;
    border-radius: 4px;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%
}

.progressBarFill_ef0e9b {
    background-color: currentColor;
    border-radius: 4px;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.progressBarFill_ef0e9b:after {
    box-shadow: 0 0 8px currentColor;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%
}

.percentCompleteLabelOffset_ef0e9b,
.progressBarFill_ef0e9b {
    transition: width .3s ease-in-out
}
