.promotionalGiftMessage__6fbbd {
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: row;
    inset-inline-end: 24px;
    justify-content: space-between;
    min-height: 24px;
    padding: 12px 24px;
    position: relative;
    top: 24px;
    width: 100%
}

.promotionalTextSection__6fbbd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 12px
}

.avatar__6fbbd {
    bottom: -15px;
    inset-inline-end: 0;
    position: absolute
}

.container__481b4 {
    align-items: center;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .1) 50%, hsla(0, 0%, 100%, 0));
    display: flex;
    height: 36px
}

.text__481b4 {
    margin-inline-start: 6px
}

.textWithAD__481b4 {
    margin-inline-start: 9px
}

.trialHeader__874f0 {
    margin-bottom: 18px;
    max-width: 60%;
    position: relative;
    z-index: 2
}

.price__874f0 {
    margin: 0 0 8px
}

.price__874f0:last-of-type {
    margin: 0 0 18px
}

.premiumCards_b807c8 {
    display: flex;
    gap: 24px;
    width: 100%
}

.card_b807c8 {
    border-radius: 16px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    position: relative;
    width: 50%
}

.card_b807c8.withCardHover_b807c8:hover {
    box-shadow: var(--legacy-elevation-high)
}

.wumpusImageContainer_b807c8 {
    border-start-end-radius: 16px;
    filter: saturate(var(--saturation-factor, 1));
    inset-inline-end: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 40%
}

.wumpusImage_b807c8 {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.tier0_b807c8.withTier0Rim_b807c8:before {
    border-radius: var(--radius-lg);
    content: "";
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1
}

.tier0_b807c8 {
    background-image: var(--custom-premium-colors-premium-gradient-tier-0)
}

.tier2_b807c8 {
    background-image: var(--custom-premium-colors-premium-gradient-tier-2)
}

.tier2_b807c8.withTier2Rim_b807c8:before {
    border-radius: var(--radius-lg);
    content: "";
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1
}

.applicationHomeTextLightMode_b807c8 {
    pointer-events: inherit
}

.tier0Title_b807c8 {
    height: 40px;
    width: 106px
}

.tier2Title_b807c8 {
    display: block;
    height: 24px;
    width: 96px
}

.item_b807c8,
.title_b807c8 {
    margin-bottom: 8px
}

.item_b807c8 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.item_b807c8:last-child {
    margin-bottom: 0
}

.tier2ApplicationHomeSubheader_b807c8 {
    color: var(--white);
    margin-bottom: 6px
}

.itemApplicationHome_b807c8 {
    color: var(--white)
}

.theme-light .applicationHomeTextLightMode_b807c8 {
    color: var(--black)
}

.itemWithWumpus_b807c8 {}

.itemWithWumpus_b807c8:first-of-type {
    max-width: 100%
}

.icon_b807c8 {
    height: 24px;
    margin-inline-end: 8px;
    width: 24px
}

.smallIcon_b807c8 {
    height: 18px;
    margin-inline-end: 10px;
    width: 18px
}

.freeTrialPillInlineBlock_b807c8 {
    background: var(--white);
    border-radius: var(--radius-md);
    color: var(--black);
    display: inline-block;
    font-weight: var(--font-weight-extra-bold);
    line-height: 12px;
    mix-blend-mode: screen;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-inline: 8px;
    text-transform: uppercase
}

.freeTrialPillInline_b807c8 {
    margin-bottom: 8px;
    margin-top: 4px;
    max-width: 60%
}

.newTagItem_b807c8 {
    background: #fff;
    border-radius: 8px;
    color: var(--premium-tier-2-purple-for-gradients);
    margin-inline-start: 8px
}

.topRimPill_b807c8 {
    inset-inline-start: 50%;
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
    z-index: 2
}

.rimGlowTier0_b807c8 {
    background: linear-gradient(-90deg, var(--premium-tier-0-purple-for-gradients) 0, #fff 4.98%, #fff 50.52%, var(--premium-tier-0-blue-for-gradients) 100%);
    inset-inline-end: 5%;
    top: -1px;
    width: 88%
}

.rimGlowTier0_b807c8,
.rimGlowTier2_b807c8 {
    height: 1px;
    position: absolute;
    z-index: 1
}

.rimGlowTier2_b807c8 {
    background: linear-gradient(-90deg, var(--premium-tier-2-purple-for-gradients) 0, #fff 4.98%, #fff 50.52%, var(--premium-tier-2-pink-for-gradients) 100%);
    inset-inline-end: 5%;
    top: -1px;
    width: 88%
}

.withPromotionalGradientBanner_b807c8 {
    background: linear-gradient(100.98deg, #8547c6, #b845c1, #ab5d8a);
    border-end-end-radius: 17px;
    border-end-start-radius: 17px;
    box-sizing: border-box;
    overflow: hidden
}

.withPromotionalGradientBanner_b807c8.withPromotionalCardImage_b807c8 {
    background: linear-gradient(100.98deg, rgba(133, 71, 198, .82), rgba(184, 69, 193, .82), rgba(171, 93, 138, .82))
}

.promotionalCardImage_b807c8 {
    inset-inline-end: 0;
    position: absolute;
    top: 0;
    transform: scale(50%);
    transform-origin: top right;
    z-index: -1
}

.promotionalBackgroundImage_b807c8 {
    inset-inline-end: 0;
    position: absolute;
    top: 0;
    transform: scale(65%);
    transform-origin: top right
}

.subButton_b807c8 {
    margin-top: 60px
}

.buttonShine_b807c8 {
    color: hsl(var(--brand-500-hsl)/.1)
}

.subButtonText_b807c8 {
    color: var(--brand-500)
}

.premiumCards_a2332b {
    align-items: stretch;
    display: flex;
    gap: var(--space-32);
    width: 100%
}

.premiumCardHover_a2332b {
    transition: transform .4s linear(0, .372 7.6%, .658 15.6%, .866 24.2%, .942 28.8%, 1.002 33.7%, 1.036 37.8%, 1.061 42.2%, 1.075 46.9%, 1.08 52%, 1.069 61%, 1.011 85%, 1)
}

.premiumCardHover_a2332b:hover {
    position: relative;
    transform: scale(1.0975) translateZ(0);
    z-index: 1
}

.tier2ApplicationHomeSubheader_a2332b {
    margin-bottom: var(--space-16)
}

.applicationHomeCard_a2332b {
    border-radius: var(--radius-lg) !important;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    margin: 0 auto;
    min-height: 470px;
    width: 390px
}

.applicationHomeCard_a2332b.narrow_a2332b {
    width: 354px
}

.card_a2332b {
    background: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    padding: var(--space-24);
    position: relative;
    text-align: start
}

.card_a2332b.withGiftBanner_a2332b {
    padding-bottom: 60px
}

.card_a2332b.withGiftBanner_a2332b.giftSelectionModalContext_a2332b {
    padding-bottom: 75px
}

.card_a2332b.giftSelectionModalContext_a2332b .cardTitle_a2332b {
    font-size: 30px;
    line-height: 25px
}

.card_a2332b.borderGradient_a2332b {
    background: var(--background-surface-higher);
    border: none;
    position: relative
}

.card_a2332b.borderGradient_a2332b:after {
    background: linear-gradient(to bottom, var(--illo-pink-50) 0, var(--illo-nitro-blue) 100%);
    border-radius: calc(var(--radius-sm) + 1px);
    content: "";
    inset: -1px;
    opacity: .8;
    position: absolute;
    z-index: -1
}

.card_a2332b.borderGradient_a2332b.applicationHomeCard_a2332b:after {
    border-radius: var(--radius-lg)
}

.tier0_a2332b.pillMargin_a2332b {
    margin-top: var(--space-24)
}

.wordmark_a2332b {
    margin-bottom: var(--space-8);
    min-height: 25px;
    width: -moz-fit-content;
    width: fit-content
}

.wumpus_a2332b {
    position: absolute;
    z-index: 1
}

.wumpus_a2332b.inCard_a2332b {
    inset-inline-end: 24px;
    top: 30px
}

.wumpus_a2332b.outerCorner_a2332b {
    height: 165px;
    inset-inline-end: -33px;
    top: -40px
}

.wumpus_a2332b.insideCorner_a2332b {
    inset-inline-end: 10px;
    top: -20px
}

.wumpus_a2332b.giftSelectionModal_a2332b {
    height: 121px;
    inset-inline-end: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    top: 40px;
    width: 106px
}

.wumpus_a2332b.noGiftPrice_a2332b {
    height: auto;
    width: 75px
}

.wumpus_a2332b.withAnnualDiscountBanner_a2332b {
    inset-inline-end: 10px;
    top: -40px
}

.bigCloud_a2332b {
    opacity: .62;
    position: absolute;
    width: 86px
}

.bigCloud_a2332b.inCard_a2332b {
    inset-inline-end: 8px;
    top: 12px
}

.bigCloud_a2332b.insideCorner_a2332b,
.bigCloud_a2332b.outerCorner_a2332b {
    inset-inline-end: 140px;
    top: 105px;
    width: 40px
}

.bigCloud_a2332b.giftSelectionModal_a2332b {
    height: 20px;
    inset-inline-end: 4px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: right top;
    object-position: right top;
    top: 20px;
    width: 67px
}

.smallCloud_a2332b {
    opacity: .42;
    position: absolute;
    width: 47px
}

.smallCloud_a2332b.inCard_a2332b {
    inset-inline-end: 172px;
    top: 40px
}

.smallCloud_a2332b.insideCorner_a2332b,
.smallCloud_a2332b.outerCorner_a2332b {
    inset-inline-end: 172px;
    top: 65px
}

.smallCloud_a2332b.giftSelectionModal_a2332b {
    height: 14px;
    inset-inline-end: 110px;
    inset-inline-start: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: right top;
    object-position: right top;
    top: 35px;
    width: 37px
}

.divider_a2332b {
    margin: var(--space-16) 0;
    opacity: .1;
    z-index: 0
}

.annualDiscountBanner_a2332b {
    align-items: center;
    background: var(--background-mod-muted);
    border-radius: var(--radius-md);
    display: flex;
    gap: var(--space-12);
    justify-content: space-between;
    margin-bottom: var(--space-12);
    margin-top: var(--space-6);
    padding: var(--space-12) var(--space-16);
    position: relative;
    z-index: 1
}

.annualDiscountBannerText_a2332b {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0
}

.firstFeatureItemContainer_a2332b {
    max-width: 250px
}

.featureItem_a2332b {
    align-items: center;
    color: var(--text-default);
    display: flex;
    flex-direction: row;
    margin-bottom: var(--space-8)
}

.featureItem_a2332b:last-child {
    margin-bottom: 0
}

.featureItemApplicationHome_a2332b {
    margin-bottom: var(--space-12)
}

.promotionalBackgroundImage_a2332b {
    inset-inline-end: 0;
    position: absolute;
    top: 0;
    transform: scale(50%);
    transform-origin: top right
}

.priceHeader_a2332b {
    margin-top: var(--space-4)
}

.pill_a2332b {
    inset-inline-start: 50%;
    position: absolute;
    top: 1px;
    transform: translate(-50%, -50%)
}

.tierCardStack_a2332b {
    align-self: stretch;
    flex: 1;
    height: 100%;
    min-height: 0;
    min-width: 0
}

.tierCardStack_a2332b[role=button] {
    cursor: pointer
}

.tierCardStackContent_a2332b {
    margin-bottom: var(--space-24)
}

.footer_a2332b {
    flex: 0 0 auto
}

.premiumCardsContainer_a2332b {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.premiumCardsHeader_a2332b {
    font-style: italic;
    margin-bottom: var(--space-64);
    text-align: center;
    text-transform: uppercase
}

.tier0CardOrder_a2332b {
    order: 0
}

.tier2CardOrder_a2332b {
    order: 1
}

.premiumGroupCardOrder_a2332b {
    order: 2
}

@container premium-marketing-page-container (max-width: 960px) {
    .premiumCards_a2332b {
        flex-direction: column
    }

    .tierCardStack_a2332b {
        flex: initial
    }

    .applicationHomeCard_a2332b {
        flex: initial;
        height: auto
    }

    .tier0CardOrder_a2332b {
        order: 1
    }

    .tier2CardOrder_a2332b {
        order: 0
    }
}

.cardTitle_a2332b {
    font-size: 32px;
    font-style: italic;
    line-height: 27px;
    text-transform: uppercase
}

.betaPill_a2332b,
.cardTitle_a2332b {
    margin-bottom: 8px
}

.cardHeader_a2332b {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.container__863b0 {
    align-items: center;
    background: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    display: flex;
    gap: var(--space-8);
    margin-block-start: var(--space-16);
    padding: var(--space-8)
}

.image__863b0 {
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 60px
}

.body__863b0 {
    flex: 1 1 0;
    min-width: 0
}

.heading-sm\/normal__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.heading-sm\/medium__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.heading-sm\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.heading-sm\/bold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.heading-sm\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.heading-md\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.heading-md\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.heading-md\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.heading-md\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.heading-md\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.heading-lg\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.heading-lg\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.heading-lg\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.heading-lg\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.heading-lg\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.heading-xl\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.heading-xl\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.heading-xl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.heading-xl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.heading-xl\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.heading-xxl\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.heading-xxl\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.heading-xxl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.heading-xxl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.heading-xxl\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.experimental\/heading-xs\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/heading-xs\/bold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/bold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/heading-sm\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/heading-sm\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-sm\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/heading-md\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.experimental\/heading-md\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/bold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.experimental\/heading-lg\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.experimental\/heading-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.experimental\/heading-lg\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/heading-lg\/bold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.experimental\/heading-xl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xl\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.experimental\/heading-xl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xl\/bold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.experimental\/heading-xxl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xxl\/semibold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.experimental\/heading-xxl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xxl\/bold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.eyebrow__9e160 {
    font-family: var(--font-display);
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow__9e160,
.eyebrow__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.heading-deprecated-12\/normal__9e160 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.heading-deprecated-12\/medium__9e160 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.heading-deprecated-12\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.heading-deprecated-12\/bold__9e160 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: .75rem;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.redesign\/heading-18\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.text-xxs\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal__9e160.fontScaling__9e160 {
    font-size: .625rem
}

.text-xxs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium__9e160.fontScaling__9e160 {
    font-size: .625rem
}

.text-xxs\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .625rem;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/bold__9e160,
.text-xxs\/semibold__9e160.fontScaling__9e160 {
    font-size: .625rem
}

.text-xxs\/bold__9e160 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold__9e160.fontScaling__9e160 {
    font-size: .625rem
}

.text-xs\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.text-xs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.text-xs\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/bold__9e160,
.text-xs\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.text-xs\/bold__9e160 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.text-sm\/normal__9e160 {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/medium__9e160,
.text-sm\/normal__9e160,
.text-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.text-sm\/medium__9e160 {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.text-sm\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/bold__9e160,
.text-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.text-sm\/bold__9e160 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.text-md\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.text-md\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.text-md\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.text-md\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.text-lg\/normal__9e160 {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/medium__9e160,
.text-lg\/normal__9e160,
.text-lg\/normal__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.text-lg\/medium__9e160 {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.text-lg\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/bold__9e160,
.text-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.text-lg\/bold__9e160 {
    font-family: var(--font-primary);
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal__9e160.fontScaling__9e160 {
    font-size: .9375rem
}

.redesign\/message-preview\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium__9e160.fontScaling__9e160 {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold__9e160.fontScaling__9e160 {
    font-size: .9375rem
}

.redesign\/message-preview\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold__9e160.fontScaling__9e160 {
    font-size: .9375rem
}

.redesign\/channel-title\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.redesign\/channel-title\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.redesign\/channel-title\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.redesign\/channel-title\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/body-xs\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/body-xs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/body-sm\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/body-sm\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/body-md\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.experimental\/body-md\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/body-md\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/body-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/body-lg\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/body-lg\/normal__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.experimental\/body-lg\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

.experimental\/body-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.experimental\/meta\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/meta\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/meta\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/meta\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.display-sm__9e160 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: 1
}

.display-sm__9e160,
.display-sm__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

.display-md__9e160 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md__9e160,
.display-md__9e160.fontScaling__9e160 {
    font-size: 2.125rem
}

.display-lg__9e160 {
    font-family: var(--font-headline);
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg__9e160,
.display-lg__9e160.fontScaling__9e160 {
    font-size: 2.75rem
}

.experimental\/display-xs__9e160 {
    font-family: var(--font-headline);
    font-size: 1rem;
    font-weight: 800;
    line-height: 1
}

.experimental\/display-xs__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/display-sm__9e160 {
    font-family: var(--font-headline);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: .9166666666666666
}

.experimental\/display-sm__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

.experimental\/display-md__9e160 {
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 800;
    line-height: .875
}

.experimental\/display-md__9e160.fontScaling__9e160 {
    font-size: 2rem
}

.experimental\/display-lg__9e160 {
    font-family: var(--font-headline);
    font-size: 2.75rem;
    font-weight: 800;
    line-height: .8636363636363636
}

.experimental\/display-lg__9e160.fontScaling__9e160 {
    font-size: 2.75rem
}

.experimental\/label-xs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/label-xs\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/label-sm\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/label-sm\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

.experimental\/label-md\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/label-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/label-md\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/label-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

.experimental\/label-lg\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.experimental\/label-lg\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

.code__9e160 {
    font-family: var(--font-code);
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code__9e160,
.code__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/mono-md\/normal__9e160 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/mono-md\/bold__9e160 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.experimental\/mono-sm\/normal__9e160 {
    font-family: var(--font-code);
    font-size: .625rem;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/mono-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .625rem
}

.experimental\/mono-sm\/bold__9e160 {
    font-family: var(--font-code);
    font-size: .625rem;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/mono-sm\/bold__9e160.fontScaling__9e160 {
    font-size: .625rem
}

:where(.mana-type-consolidation) .heading-sm\/normal__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/medium__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/bold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/bold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/extrabold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-md\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/bold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-md\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-lg\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/normal__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/bold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-xl\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/normal__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/medium__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/bold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/extrabold__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xxl\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/normal__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/medium__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/semibold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/bold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold__9e160 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .eyebrow__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .eyebrow__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold__9e160.fontScaling__9e160 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .text-xxs\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/normal__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/medium__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/semibold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/bold__9e160.fontScaling__9e160 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-sm\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/normal__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/medium__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/semibold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/bold__9e160.fontScaling__9e160 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-md\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/semibold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/bold__9e160 {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-lg\/normal__9e160 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/normal__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/medium__9e160 {
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/medium__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/semibold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/bold__9e160.fontScaling__9e160 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold__9e160 {
    font-family: var(--font-display);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold__9e160.fontScaling__9e160 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .display-sm__9e160 {
    font-family: var(--font-headline);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: .9166666666666666
}

:where(.mana-type-consolidation) .display-sm__9e160.fontScaling__9e160 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .display-md__9e160 {
    font-family: var(--font-headline);
    font-size: 2rem;
    font-weight: 800;
    line-height: .875
}

:where(.mana-type-consolidation) .display-md__9e160.fontScaling__9e160 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .display-lg__9e160 {
    font-family: var(--font-headline);
    font-size: 2.75rem;
    font-weight: 800;
    line-height: .8636363636363636
}

:where(.mana-type-consolidation) .display-lg__9e160.fontScaling__9e160 {
    font-size: 2.75rem
}

:where(.mana-type-consolidation) .code__9e160 {
    font-family: var(--font-code);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .code__9e160.fontScaling__9e160 {
    font-size: .75rem
}

.button__9e160 {
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 258px;
    padding: 24px;
    position: relative
}

.tier2__9e160 {
    background-image: linear-gradient(41.27deg, var(--premium-tier-2-purple-for-gradients) 20.01%, var(--premium-tier-2-purple-for-gradients-2) 56.27%, var(--premium-tier-2-pink-for-gradients) 92.19%)
}

.tier0MarketingCard__9e160,
.tier2MarketingCard__9e160 {
    width: unset
}

.tier0MarketingCard__9e160 {
    margin-bottom: 20px;
    margin-top: 16px
}

.tier1__9e160 {
    background-image: linear-gradient(270deg, var(--premium-tier-0-purple) 0, var(--premium-tier-1-dark-blue-for-gradients) 100%)
}

.tier0__9e160 {
    background-image: var(--custom-premium-colors-premium-gradient-tier-0)
}

.tier2Image__9e160 {
    background-image: url(/assets/251cb2f9765f1d6a.svg);
    height: 237px;
    width: 297px
}

.tier1Image__9e160,
.tier2Image__9e160 {
    bottom: 0;
    filter: saturate(var(--saturation-factor, 1));
    inset-inline-end: 0;
    position: absolute
}

.tier1Image__9e160 {
    background-image: url(/assets/89b63d330b3782cb.svg);
    height: 234px;
    width: 279px
}

.tier0Image__9e160 {
    background-image: url(/assets/a90cdee2f33db143.svg);
    bottom: 0;
    filter: saturate(var(--saturation-factor, 1));
    height: 251px;
    inset-inline-end: 0;
    position: absolute;
    width: 357px
}

.tierTitle__9e160 {
    margin-bottom: 16px
}

.text__9e160 {
    width: 160px
}

.description__9e160 {
    flex: 1 1 auto;
    margin-bottom: 16px
}

.tier0Description__9e160 {
    flex: 0 1 auto;
    margin-bottom: 16px
}

.priceWrapper__9e160 {
    flex: 0 0 auto
}

.price__9e160,
.price__9e160 strong {
    color: var(--white)
}

.fileSize__9e160 {
    white-space: nowrap
}

.planCardWrapper__9e160 {
    cursor: pointer
}

.narrowLayoutPlanCardWrapper__9e160 {
    display: flex;
    flex: 1;
    flex-direction: column
}

.narrowLayout__9e160 {
    flex: 1;
    min-height: 308px;
    width: 246px
}
