.container__24a95 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    padding: 16px
}

.container__24a95:hover {
    background-color: var(--background-base-lowest);
    cursor: pointer
}

.emojiContainer__24a95 {
    margin-inline-end: 16px
}

.name__24a95 {
    margin-bottom: 2px
}

.channelNameContainer__24a95 {
    align-items: center;
    display: flex
}

.infoContainer__24a95 {
    flex: 1
}

.caret__24a95 {
    color: var(--interactive-text-default);
    flex: 0 0 auto;
    margin-inline-start: 16px
}

.headerContainer__4dd8e {
    height: 146px;
    position: relative;
    width: 100%
}

.headerEmpty__4dd8e {
    height: 10px;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.headerEmpty__4dd8e+.breadcrumb,
.headerEmpty__4dd8e+.paymentModalContent {
    background-color: var(--modal-background);
    border-start-end-radius: 4px;
    border-start-start-radius: 4px
}

.headerEmpty__4dd8e .closeContainer__4dd8e {
    top: 13px
}

.headerImage__4dd8e,
.headerImageEmpty__4dd8e {
    border-start-end-radius: var(--radius-md);
    border-start-start-radius: var(--radius-md)
}

.headerImage__4dd8e {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.headerImageEmpty__4dd8e {
    background-color: var(--background-base-lower);
    height: 100%;
    width: 100%
}

.closeContainer__4dd8e {
    align-items: center;
    background-color: var(--opacity-black-84);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 24px;
    inset-inline-end: 16px;
    justify-content: center;
    position: absolute;
    top: 16px;
    width: 24px
}

.closeIcon__4dd8e {
    color: var(--interactive-text-default);
    height: 16px;
    width: 16px
}

.tierImageContainer__4dd8e {
    background-color: var(--background-base-low);
    border-radius: 50%;
    bottom: -48px;
    height: 80px;
    inset-inline-start: calc(50% - 48px);
    padding: 8px;
    position: absolute;
    width: 80px;
    z-index: 1
}

.tierImage__4dd8e {
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.confirmationContainer__4dd8e {
    margin-top: 56px
}

.confirmationHeader__4dd8e {
    margin-bottom: 8px;
    text-align: center
}

.confirmationHeader__4dd8e strong {
    color: var(--text-strong)
}

.confirmationSubtitle__4dd8e {
    margin-bottom: 32px;
    text-align: center
}

.confirmationSectionLabel__4dd8e {
    font-family: var(--font-display);
    letter-spacing: .02em;
    margin-bottom: 8px;
    text-transform: uppercase
}

.confirmationBenefits__4dd8e {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px
}

.confirmationButton__4dd8e {
    margin: 32px auto 0
}

.emojiBenefitsRow__4dd8e {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    padding: 16px
}

.emojiImage__4dd8e {
    margin-inline-end: 16px
}

.emojiName__4dd8e {
    margin-bottom: 2px
}

.container__65536 {
    align-items: center;
    background: var(--background-surface-highest);
    border: 1px solid var(--border-normal, hsla(240, 4%, 61%, .32));
    border-radius: 12px;
    display: flex;
    gap: 12px;
    padding-block: 8px;
    padding-inline: 8px 16px
}

.containerSpacing__65536 {
    margin-bottom: var(--space-12)
}

.content__65536 {
    align-items: center;
    display: flex;
    gap: var(--space-12);
    justify-content: center
}

.container__33980 {
    display: flex;
    gap: 8px;
    margin-top: 20px
}

.iconBackground__33980 {
    align-items: center;
    background-color: var(--background-mod-muted);
    border-radius: var(--radius-round);
    display: flex;
    justify-content: center;
    padding: 8px
}

.link__33980 {
    cursor: pointer;
    display: inline;
    text-decoration: underline
}

.planOption_b13085 {
    align-items: center;
    color: var(--interactive-text-default);
    display: flex;
    justify-content: space-between;
    padding: 8px 0
}

.planOneTimeCost_b13085 {
    margin-top: 8px
}

.planOptionQuantity_b13085 {
    display: flex
}

.selectionBox_b13085 {
    border-radius: var(--radius-lg);
    margin-bottom: 12px;
    outline: 1px solid var(--border-normal);
    padding: var(--space-12)
}

.selectedPlan_b13085 {
    background-color: var(--background-surface-high);
    outline: 2px solid var(--brand-500)
}

.planOptionDisabled_b13085 {
    opacity: .6
}

.planOptionClickable_b13085 {
    align-items: center;
    display: flex
}

.planOptionDisabled_b13085 .planOptionClickable_b13085 {
    cursor: not-allowed
}

.planOptionCheckbox_b13085 {
    margin-inline-end: 10px
}

.planOptionInterval_b13085 {
    color: var(--interactive-text-default);
    font-weight: var(--font-weight-medium)
}

.optionSelected_b13085 {
    color: var(--interactive-text-active)
}

.planOptionCurrentPlan_b13085,
.planOptionMonthsFree_b13085 {
    margin-inline-start: 4px
}

.planOptionDiscount_b13085 {
    border-radius: 16px;
    margin-inline-start: 8px;
    padding: 2px 8px
}

.annualPlanOptionDiscount_b13085,
.planOptionDiscount_b13085 {
    background-color: var(--green-360);
    font-weight: var(--font-weight-semibold)
}

.annualPlanOptionDiscount_b13085 {
    align-content: center;
    border-radius: 8px;
    margin-top: 3px;
    margin-inline-end: 8px;
    padding: 0 6px;
    position: relative
}

.planOptionSubtextContainer_b13085 {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.planOptionSubtext_b13085 {
    max-width: 176px;
    padding-bottom: 12px
}

.planWithOfferOptionSubtext_b13085 {
    max-width: 300px;
    text-align: end
}

.planWithOfferOptionSubtext_b13085 p {
    margin: 0
}

.planOptionClickableContainer_b13085 {
    cursor: pointer
}

.optionPriceSelected_b13085,
.updatedOptionSelected_b13085 {
    font-weight: var(--font-weight-semibold)
}

.optionPriceSelected_b13085 {
    color: var(--interactive-text-active)
}

.stepBody_d947e6 {
    padding-top: 12px
}

.giftOptions_d947e6 {
    justify-content: center;
    max-width: 75%
}

.stepBodyCustomGift_d947e6 {
    display: flex;
    flex-direction: row
}

.bodyColumnMiddle_d947e6 {
    margin-inline-end: 30px
}

.bodyColumnMiddleCentered_d947e6 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-inline-end: 30px
}

.bodyColumnRight_d947e6 {
    margin-inline-end: 10px
}

.stepBodyCustomGift_d947e6>* {
    width: 50%
}

.bodyText_d947e6 {
    margin-bottom: 16px
}

.interactiveColor_d947e6 {
    color: var(--interactive-text-default)
}

.clickable_d947e6 {
    cursor: pointer
}

.selectPlanDivider_d947e6 {
    background-color: var(--border-subtle);
    height: 1px;
    margin: 8px 0 16px
}

.giftRecipientName_d947e6 {
    color: GrayText
}

.giftRecipientInfo_d947e6 {
    align-items: center;
    display: flex
}

.giftRecipientInfo_d947e6>* {
    margin-inline-end: 8px
}

.giftNitroInfo_d947e6 {
    margin-bottom: 20px;
    margin-top: 15px
}

.giftNitroInfo_d947e6 hr {
    background-color: var(--border-subtle);
    border: none;
    height: 1px
}

.selectPlanChooseSubtitle_d947e6,
.selectPlanChooseTitle_d947e6 {
    color: var(--interactive-text-active);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px
}

.selectPlanChooseTitle_d947e6 {
    font-weight: var(--font-weight-semibold)
}

.selectPlanChooseSubtitle_d947e6 {
    margin-bottom: 18px
}

.selectPlanTotalRow_d947e6 {
    margin-top: 8px
}

.seasonalGiftBoxHeaderIcon_d947e6 {
    align-self: center;
    position: absolute;
    top: -131px;
    width: 260px
}

.planSelectSeparator_d947e6 {
    background: var(--border-subtle);
    border: 0;
    height: 1px;
    margin: 0 0 4px;
    width: 100%
}

.trialPlanSelectHeader_d947e6 {
    padding-bottom: 12px
}

.legacyPricingNotice_d947e6 {
    margin-bottom: 16px
}

.customGiftMessageWrapper_d947e6 {
    margin-bottom: 16px;
    margin-top: 16px
}

.customGiftMessage_d947e6.customGiftMessage_d947e6 {
    background-color: var(--background-base-lowest)
}

.compactSendGiftToUser_d947e6 {
    margin: 16px 0
}

.compactSelectGiftTitle_d947e6 {
    margin-top: 16px
}

.previewTotalSectionContainer__9ab7f {
    margin-top: var(--space-16)
}

.premiumSwitchPlanSelectText__9ab7f {
    margin-bottom: var(--space-24)
}

.framePreviewGraphic__6d898 {
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    height: 48px;
    overflow: hidden;
    position: relative;
    width: 48px
}

.premiumBrandRefreshInputBackground_d313e6 {
    background-color: var(--background-mod-subtle) !important;
    border: 0 !important
}
