.scroller__95bea {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    padding: 16px
}

.row__95bea {
    gap: 20px
}

.row__95bea,
.rowIcon__95bea {
    align-items: center;
    display: flex
}

.rowIcon__95bea {
    background-color: var(--background-mod-muted);
    border-radius: var(--radius-round);
    color: var(--white);
    justify-content: center;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px
}

.rowText__95bea {
    display: flex;
    flex-direction: column;
    gap: 4px
}

:where(.section_bf424d) {
    display: flex;
    flex-direction: column;
    gap: 8px
}

:where(.section_bf424d):empty,
:where(.section_bf424d):has(>.headings_bf424d:only-child) {
    display: none
}

.header_bf424d {
    align-items: center;
    display: flex;
    gap: 4px
}

:where(.section_be87fd) {
    color: var(--text-default);
    gap: 4px
}

.note_eb110a {
    margin: -4px
}

.note_eb110a textarea {
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    padding: 4px
}

.note_eb110a textarea::-moz-placeholder {
    color: var(--text-muted)
}

.note_eb110a textarea::placeholder {
    color: var(--text-muted)
}

.note_eb110a textarea:hover {
    border-color: var(--input-border-default)
}

.note_eb110a textarea:focus {
    background: var(--user-profile-note-background-focus);
    border-color: var(--border-strong)
}

.note_eb110a textarea:focus::-moz-placeholder {
    color: transparent
}

.note_eb110a textarea:focus::placeholder {
    color: transparent
}

.note_eb110a textarea:focus:focus,
.note_eb110a textarea:focus:focus:hover {
    border-color: var(--border-strong)
}

.scrim__4c1fe {
    align-items: center;
    background: var(--background-scrim);
    border-radius: inherit;
    display: flex;
    inset: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .15s, visibility .15s;
    visibility: hidden;
    z-index: var(--custom-user-profile-hoist-z-index)
}

.scrim__4c1fe.isVisible__4c1fe {
    opacity: 1;
    pointer-events: auto;
    visibility: visible
}

.scroller__764cd {
    gap: 24px
}

.cards__764cd {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.loadingItem__764cd {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px
}

.loadingItem__764cd>:first-child {
    border-radius: var(--radius-lg);
    height: 60px;
    margin: 0
}

.row__89036 {
    align-items: center;
    border-radius: 4px;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-medium);
    line-height: 30px;
    margin-block: 1px;
    margin-inline: 12px 0;
    padding: 4px
}

.row__89036:hover {
    background-color: var(--user-profile-background-hover)
}

.avatar__89036 {
    flex-shrink: 0;
    margin-inline-end: 10px
}

.details__89036 {
    display: flex;
    flex-direction: column
}

.details__89036,
.tag__89036 {
    overflow: hidden
}

.tag__89036 {
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.discriminator__89036 {
    font-size: 12px;
    opacity: .6
}

.scroller__28fdc {
    gap: 12px;
    margin-inline-start: -12px
}

.friendsLoadingItem__28fdc {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-block: 1px;
    margin-inline: 8px 0;
    padding: 4px
}

.friendsLoadingItem__28fdc>:first-child {
    border-radius: var(--radius-round);
    height: 40px;
    margin: 0
}

.guildsLoadingItem__28fdc {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-block: 1px;
    margin-inline: 8px 0;
    padding: 4px
}

.guildsLoadingItem__28fdc>:first-child {
    border-radius: var(--radius-lg);
    height: 40px;
    margin: 0
}

.row__0a95c {
    align-items: center;
    border-radius: 4px;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    font-weight: var(--font-weight-medium);
    line-height: 30px;
    margin-block: 1px;
    margin-inline: 12px 0;
    padding: 4px
}

.row__0a95c:hover {
    background-color: var(--user-profile-background-hover)
}

.icon__0a95c,
.noIcon__0a95c {
    flex-shrink: 0;
    margin-inline-end: 10px
}

.noIcon__0a95c {
    background-color: var(--brand-500);
    color: var(--white)
}

.details__0a95c {
    flex: 1 1 auto
}

.details__0a95c,
.name__0a95c {
    overflow: hidden
}

.name__0a95c {
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.avatar__0a95c {
    flex: 0 0 auto;
    margin-inline-end: 4px
}

.nick__0a95c {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    overflow: hidden
}

.container_d1d9f3 {
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.tabBar_d1d9f3 {
    border-bottom: 1px solid var(--user-profile-border);
    display: flex;
    gap: 32px;
    margin-top: 16px;
    padding: 0 16px
}

.tabBar_d1d9f3 .tabBarItem_d1d9f3 {
    border-bottom-width: 1px
}

.tabBarItem_d1d9f3 {
    box-sizing: border-box;
    height: 25px
}

.root__24502 {
    border: none;
    border-radius: var(--radius-sm);
    max-height: unset;
    overflow: hidden;
    position: relative;
    width: unset
}

.headerInner__24502 {
    margin-inline-end: 16px;
    min-height: 52px;
    position: relative
}

.headerButtons__24502,
.headerInner__24502 {
    display: flex;
    justify-content: flex-end
}

.headerButtons__24502 {
    align-items: center;
    flex: 1;
    gap: 8px;
    height: var(--custom-button-button-md-height);
    padding-top: 16px
}

.headerButtons__24502:empty {
    visibility: hidden
}

.messageTextButton__24502 {
    display: initial
}

.messageTextButton__24502:has(+.messageIconButton__24502+button) {
    display: none
}

.messageIconButton__24502 {
    display: none
}

.messageIconButton__24502:has(+button) {
    display: initial
}

.fetchError__24502 {
    margin: 16px 16px 0
}

.body__24502 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: hidden
}

.userInfo__24502 {
    margin: 16px 16px 0
}

.bannerContainer__24502 {
    margin: 0 16px;
    overflow: visible
}

.friendRequestBanner__24502 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

.backdrop__24502 {
    background: var(--background-scrim);
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    z-index: var(--custom-user-profile-hoist-z-index)
}

.toast__24502 {
    top: 24.5px;
    z-index: var(--custom-user-profile-toast-z-index)
}

.grid_eb8860 {
    display: grid;
    gap: var(--space-16);
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, 133px);
    justify-content: start;
    padding: var(--space-12) 0;
    width: 100%
}

.dragAndDropContainer_eb8860 {
    position: relative
}

.dragHandleContainer_eb8860 {
    border-radius: var(--radius-md);
    color: var(--white);
    cursor: grab;
    position: relative
}

.dragHandleContainer_eb8860:has(.dragHandle_eb8860:focus-visible):after {
    background: var(--opacity-black-72);
    border-radius: inherit;
    content: "";
    inset: 0;
    position: absolute;
    z-index: 1
}

.dragHandle_eb8860 {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: flex-start;
    opacity: 0;
    padding-inline-start: 2px;
    pointer-events: none;
    position: absolute;
    z-index: 2
}

.dragHandle_eb8860:focus-visible {
    opacity: 1;
    pointer-events: auto
}

.isDragging_eb8860 {
    opacity: .15
}

.isDragging_eb8860>.dragHandleContainer_eb8860>:not(.dragHandle_eb8860) {
    pointer-events: none
}

.dropIndicatorBefore_eb8860:before {
    background-color: var(--icon-strong);
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    inset-inline-start: -8px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1
}

.dropIndicatorAfter_eb8860:after {
    background-color: var(--icon-strong);
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    inset-inline-end: -8px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1
}

.section__1f6ca {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px
}

.header__1f6ca {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.header__1f6ca.clickable__1f6ca {
    cursor: pointer
}

.list__1f6ca {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.list__1f6ca[hidden] {
    display: none
}

.overlay__3b260 {
    margin: 12px 16px
}

.divider__3b260 {
    margin: 0 12px
}

.list__3b260 {
    gap: 0;
    margin-inline-start: -8px
}

.loadingMutualFriend__3b260 {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-block: 1px;
    margin-inline: 8px 0;
    padding: 4px
}

.loadingMutualFriend__3b260>:first-child {
    border-radius: var(--radius-round);
    height: 40px;
    margin: 0
}
