.scroller_f6bd5f {
    padding: 0 16px
}

.closeButton_f6bd5f {
    flex-shrink: 0;
    margin-inline-start: var(--space-12)
}

.messageContainer_f6bd5f {
    background-color: var(--background-base-low);
    border: 1px solid transparent;
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--space-8);
    padding-block: var(--space-16) var(--space-16);
    padding-inline: 0 var(--space-16)
}

.messageSpinner_f6bd5f {
    flex: 1 0 0
}

.channelMessageAndButtons_f6bd5f {
    align-items: center;
    display: flex
}

.messageContainer_f6bd5f.messageSendScheduled_f6bd5f {
    border-color: var(--green-430)
}

.messageContainer_f6bd5f.messageSendError_f6bd5f {
    border-color: var(--border-feedback-critical)
}

.messageState_f6bd5f {
    color: var(--text-muted);
    padding-block: 0 var(--space-8);
    padding-inline: var(--space-16) 0
}

.message_f6bd5f {
    flex: 1 0 0;
    max-width: calc(100% - var(--space-80) - var(--space-24));
    overflow: hidden;
    padding-inline-end: 0
}

.messageContainer_f6bd5f .message_f6bd5f:first-of-type {
    margin-top: 0
}

.enable-forced-colors .messageContainer_f6bd5f {
    border: 2px solid CanvasText
}

.checkbox_f6bd5f {
    flex-grow: 0
}

.container_f6bd5f {
    background-color: var(--background-surface-high);
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 0
}

.widerInbox_f6bd5f {}

.channelRow_f6bd5f {
    border-bottom: 1px solid var(--border-subtle)
}

.cannotSendMessage_f6bd5f {
    color: var(--text-muted);
    margin: var(--space-16)
}

.sendMessageToCurrentChannel_f6bd5f {
    display: flex;
    margin: var(--space-16)
}

.sendMessageToCurrentChannelInput_f6bd5f {
    flex: 1 0 0
}

.loadingPlaceholder_f6bd5f {
    margin-top: 100px
}
