.row__6e3d6 {
    gap: var(--space-12);
    padding: var(--space-12)
}

.icon__6e3d6 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 32px
}

.username__6e3d6 {
    display: inline
}
