.root_dbec16 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 16px
}

.infoIcon_dbec16 {
    height: 14px;
    margin-inline-end: 6px;
    width: 14px
}

.infoIcon_dbec16,
.text_dbec16 {
    color: var(--interactive-text-default)
}

.text_dbec16 {
    flex-grow: 1
}

.cancelLink_dbec16 {
    color: var(--blue-345);
    font-weight: var(--font-weight-semibold);
    white-space: nowrap
}

@media (max-width:485px) {
    .cancelLink_dbec16 {
        margin-inline-start: 6px
    }
}

.modalBody_dbec16 {
    color: var(--interactive-text-default);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px
}

.heading-sm\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.heading-sm\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.heading-sm\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.heading-sm\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.heading-sm\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.heading-md\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.heading-md\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.heading-md\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.heading-md\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.heading-md\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.heading-lg\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.heading-lg\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.heading-lg\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.heading-lg\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.heading-lg\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.heading-xl\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.heading-xl\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.heading-xl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.heading-xl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.heading-xl\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.heading-xxl\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.heading-xxl\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.heading-xxl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.heading-xxl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.heading-xxl\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.experimental\/heading-xs\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/heading-xs\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/bold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/heading-sm\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/heading-sm\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/heading-md\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.experimental\/heading-md\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.experimental\/heading-lg\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.experimental\/heading-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.experimental\/heading-lg\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/heading-lg\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.experimental\/heading-xl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.experimental\/heading-xl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.experimental\/heading-xxl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xxl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.experimental\/heading-xxl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xxl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.eyebrow_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.heading-deprecated-12\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.heading-deprecated-12\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.heading-deprecated-12\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.heading-deprecated-12\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.redesign\/heading-18\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.text-xxs\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

.text-xxs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

.text-xxs\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

.text-xxs\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

.text-xs\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.text-xs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.text-xs\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.text-xs\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.text-sm\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.text-sm\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.text-sm\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.text-sm\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.text-md\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.text-md\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.text-md\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.text-md\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.text-lg\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.text-lg\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.text-lg\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.text-lg\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal_e335a7.fontScaling_e335a7 {
    font-size: .9375rem
}

.redesign\/message-preview\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium_e335a7.fontScaling_e335a7 {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .9375rem
}

.redesign\/message-preview\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold_e335a7.fontScaling_e335a7 {
    font-size: .9375rem
}

.redesign\/channel-title\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.redesign\/channel-title\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.redesign\/channel-title\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.redesign\/channel-title\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/body-xs\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/body-xs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/body-sm\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/body-sm\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/body-md\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.experimental\/body-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/body-md\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/body-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/body-lg\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/body-lg\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.experimental\/body-lg\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.experimental\/body-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.experimental\/meta\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/meta\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/meta\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/meta\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.display-sm_e335a7 {
    font-family: var(--font-headline);
    font-size: 20px;
    font-weight: 800;
    line-height: 1
}

.display-sm_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

.display-md_e335a7 {
    font-family: var(--font-headline);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md_e335a7.fontScaling_e335a7 {
    font-size: 2.125rem
}

.display-lg_e335a7 {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg_e335a7.fontScaling_e335a7 {
    font-size: 2.75rem
}

.experimental\/display-xs_e335a7 {
    font-family: var(--font-headline);
    font-size: 16px;
    font-weight: 800;
    line-height: 1
}

.experimental\/display-xs_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/display-sm_e335a7 {
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 800;
    line-height: .9166666666666666
}

.experimental\/display-sm_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

.experimental\/display-md_e335a7 {
    font-family: var(--font-headline);
    font-size: 32px;
    font-weight: 800;
    line-height: .875
}

.experimental\/display-md_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

.experimental\/display-lg_e335a7 {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .8636363636363636
}

.experimental\/display-lg_e335a7.fontScaling_e335a7 {
    font-size: 2.75rem
}

.experimental\/label-xs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/label-xs\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/label-sm\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/label-sm\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

.experimental\/label-md\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/label-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/label-md\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/label-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

.experimental\/label-lg\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.experimental\/label-lg\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

.code_e335a7 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/mono-md\/normal_e335a7 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/mono-md\/bold_e335a7 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.experimental\/mono-sm\/normal_e335a7 {
    font-family: var(--font-code);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/mono-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

.experimental\/mono-sm\/bold_e335a7 {
    font-family: var(--font-code);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/mono-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: .625rem
}

:where(.mana-type-consolidation) .heading-sm\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-md\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-md\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-lg\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-xl\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xxl\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/normal_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/medium_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/bold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold_e335a7 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .eyebrow_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .eyebrow_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .text-xxs\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/normal_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/medium_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/bold_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-sm\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/normal_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/medium_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/semibold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/bold_e335a7.fontScaling_e335a7 {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-md\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/semibold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/bold_e335a7 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-lg\/normal_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/medium_e335a7 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold_e335a7 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold_e335a7.fontScaling_e335a7 {
    font-size: 1rem
}

:where(.mana-type-consolidation) .display-sm_e335a7 {
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 800;
    line-height: .9166666666666666
}

:where(.mana-type-consolidation) .display-sm_e335a7.fontScaling_e335a7 {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .display-md_e335a7 {
    font-family: var(--font-headline);
    font-size: 32px;
    font-weight: 800;
    line-height: .875
}

:where(.mana-type-consolidation) .display-md_e335a7.fontScaling_e335a7 {
    font-size: 2rem
}

:where(.mana-type-consolidation) .display-lg_e335a7 {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .8636363636363636
}

:where(.mana-type-consolidation) .display-lg_e335a7.fontScaling_e335a7 {
    font-size: 2.75rem
}

:where(.mana-type-consolidation) .code_e335a7 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .code_e335a7.fontScaling_e335a7 {
    font-size: .75rem
}

.section_e335a7 {
    margin-bottom: 20px
}

.paymentBanner_e335a7 {
    align-items: center;
    background: var(--background-surface-high);
    border-radius: 4px;
    display: flex;
    margin-bottom: 14px;
    padding: 10px
}

.paymentBannerNew_e335a7 {
    margin-top: 28px;
    position: relative
}

.paymentBannerIcon_e335a7 {
    height: 20px;
    width: 20px
}

.paymentBannerText_e335a7 {
    margin-inline-start: 8px
}

.renewalMutationNotice_e335a7 {
    margin-bottom: 16px
}

.grandfatheredMessage_e335a7 {
    align-items: center;
    background-image: linear-gradient(to left, var(--premium-tier-1-purple), var(--premium-tier-1-blue));
    border-radius: 3px;
    color: var(--white);
    display: flex;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 16px;
    padding-block: 8px;
    padding-inline: 8px 16px
}

.grandfatheredMessageText_e335a7 {
    flex: 1;
    margin-inline-end: 16px
}

.grandfatheredIcon_e335a7 {
    align-self: flex-start;
    flex-shrink: 0;
    height: 24px;
    margin-inline-end: 8px;
    width: 24px
}

.subscriptionRows_e335a7 {
    margin-bottom: 32px
}

.dupSubscriptionRow_e335a7 {
    margin-bottom: 48px;
    position: relative;
    z-index: 1
}

.dupSubscriptionRow_e335a7:after {
    background-color: var(--background-mod-muted);
    border-radius: 4px;
    content: "";
    display: block;
    height: calc(100% + 32px);
    inset-inline-start: -16px;
    position: absolute;
    top: -16px;
    width: calc(100% + 32px);
    z-index: -1
}

.dupSubscriptionRow_e335a7:first-child {
    margin-top: 32px
}

.dupSubscriptionRow_e335a7:last-child {
    margin-bottom: 0
}

.sectionTitle_e335a7 {
    margin-bottom: 16px
}

.sectionDescription_e335a7 {
    color: var(--text-default);
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 0
}

.details_e335a7 {
    display: flex
}

@media (max-width:485px) {
    .details_e335a7 {
        flex-direction: column
    }
}

.detailsBlock_e335a7 {
    background-color: var(--background-mod-muted);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    flex-basis: 50%;
    flex-grow: 1;
    margin-inline-end: 16px;
    min-width: 200px;
    padding: var(--space-16)
}

@media (max-width:485px) {
    .detailsBlock_e335a7 {
        margin-inline-end: 0;
        margin-bottom: 20px
    }
}

.paymentDropdown_e335a7 {
    max-width: 400px
}

.redBorder_e335a7 {
    border: 1px solid;
    border-color: var(--red-360)
}

.detailsBlock_e335a7:last-child {
    margin-inline-end: 0
}

.detailBlockHeader_e335a7,
.duplicateHeader_e335a7 {
    margin-bottom: 8px
}

.duplicateHeader_e335a7 {
    color: var(--red-400)
}

.billingInformation_e335a7 {
    color: var(--text-default);
    font-size: 14px;
    line-height: 18px
}

.finePrint_e335a7 {
    color: var(--text-muted);
    line-height: 1.4;
    margin-top: 16px
}

.cardText_e335a7 {
    padding-inline-start: 8px
}

.noItemsCard_e335a7 {
    background-color: var(--background-base-lower);
    border: none;
    color: var(--interactive-text-active);
    margin-top: 16px;
    padding: 16px 19px
}

.theme-dark .noItemsIcon_e335a7 {
    background: #4f545c
}

.newSparkles_e335a7 {
    height: 34px;
    inset-inline-start: -10px;
    position: absolute;
    top: -18px;
    width: 47px
}

.duplicateSubscriptionsBanner_e335a7 {
    align-items: center;
    background: var(--background-mod-muted);
    border-radius: 4px;
    display: flex;
    margin-bottom: 14px;
    padding: 10px
}

.duplicateSubscriptionsBannerText_e335a7 {
    margin-inline-start: 8px
}

.helpNoticeDismissIcon_e335a7 {
    cursor: pointer;
    padding-top: 2px
}
