.header_b917ac {
    overflow: hidden;
    padding: 24px 24px 0
}

.closeButton_b917ac {
    inset-inline-end: 14px;
    position: absolute;
    top: 12px
}

.title_b917ac {
    font-weight: var(--font-weight-bold);
    text-align: center
}

.footer_b917ac {
    align-items: center;
    justify-content: space-between
}

.subtitle_b917ac {
    margin-top: 8px;
    text-align: center
}

.createGuild_b917ac {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: var(--space-16);
    margin: 16px 0
}

.uploadIcon_b917ac {
    color: var(--interactive-text-default);
    display: flex;
    justify-content: center;
    padding-top: 4px
}

.nameInput_b917ac {
    margin-top: 24px
}

.descriptionInput_b917ac {
    margin-top: 16px
}

.guidelines_b917ac {
    padding-bottom: 4px
}

.creationIntentCheckbox_b917ac {
    margin-top: 18px
}

.creationIntentText_b917ac {
    color: var(--interactive-text-default)
}

.formItemSpaced_b917ac {
    margin-top: 16px
}

.header_c04f35 {
    flex-grow: 0;
    overflow: hidden;
    padding-block: var(--modal-vertical-padding) var(--space-8);
    padding-inline: var(--modal-horizontal-padding) var(--modal-horizontal-padding)
}

.closeButton_c04f35 {
    inset-inline-end: calc(var(--modal-horizontal-padding) - var(--space-8));
    position: absolute;
    top: 12px;
    z-index: 1000
}

.templatesList_c04f35 {
    height: 330px;
    margin-top: 24px;
    padding-block: var(--space-8) var(--space-8);
    padding-inline: var(--modal-horizontal-padding) var(--space-8)
}

.title_c04f35 {
    font-weight: var(--font-weight-bold)
}

.subtitle_c04f35,
.title_c04f35 {
    text-align: center
}

.subtitle_c04f35 {
    margin-top: 8px
}

.optionHeader_c04f35 {
    margin-bottom: 8px;
    margin-top: 16px;
    text-transform: uppercase
}

.mana-type-consolidation .optionHeader_c04f35 {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    text-transform: none
}

.footer_c04f35 {
    align-items: center;
    flex-direction: column
}

.footerTitle_c04f35 {
    margin-bottom: 8px
}

.footerButton_c04f35 {
    align-self: stretch
}

@media (max-width:485px) {
    .footer_c04f35 {
        bottom: 0;
        box-sizing: border-box;
        position: fixed;
        width: 100%
    }
}

.container_b0f4cc {
    display: flex;
    flex-direction: column
}

.title_b0f4cc {
    color: var(--interactive-text-default);
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    text-transform: uppercase
}

.mana-type-consolidation .title_b0f4cc {
    font-weight: var(--font-weight-semibold);
    text-transform: none
}

.inputs_b0f4cc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    width: 100%
}

.day_b0f4cc {
    min-width: calc(2ch + 70px);
    width: 30%
}

.month_b0f4cc {
    width: 35%
}

.year_b0f4cc {
    min-width: calc(4ch + 70px);
    width: 30%
}

.errors_b0f4cc {
    color: var(--text-feedback-critical)
}

@value smallMobileBreakpoint: 640px;

.splashBackground__742a4 {
    --background-mobile-primary: var(--primary-700) center /cover no-repeat url(/assets/4d81e06416805e7d.png);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.splashBackground__742a4 .inviteRegisterAuthBox__742a4 {
    border-radius: 5px;
    overflow: unset;
    padding: 0;
    position: relative
}

.splashBackground__742a4 .inviteRegisterAuthBox__742a4:before {
    background: none;
    content: ""
}

@media (min-width:486px) {
    .splashBackground__742a4 {
        min-height: 100vh;
        width: 100vw
    }
}

.downloadAppTitle__742a4 {
    margin-bottom: 8px
}

.downloadAppImage__742a4 {
    margin: 24px 0
}

.centerFlex__742a4 {
    align-items: center;
    display: flex;
    justify-content: center
}

.is-mobile .splashBackground__742a4 .centerAuthBoxContent__742a4 {
    min-height: unset;
    position: unset
}

.centerAuthBoxContent__742a4 {
    flex-direction: column
}

.inviteCard__742a4 {
    background: var(--background-base-low);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .2);
    margin: 8px;
    max-width: 480px;
    padding: 20px;
    width: calc(100vw - 72px)
}

@media (max-height:640px) {
    .inviteCard__742a4 {
        margin: 0;
        padding: 16px;
        width: calc(100vw - 64px)
    }
}

.inviteChildContainer__742a4 {
    overflow: hidden
}

.inviteCardInner__742a4 {
    min-height: 100px
}

.guildInfoInner__742a4,
.inviteCardInner__742a4 {
    box-sizing: border-box;
    flex-direction: column
}

.guildInfoInner__742a4 {
    overflow: hidden
}

.inviteCardInnerError__742a4 {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 0 -4px;
    min-height: 200px;
    padding-bottom: 0;
    padding-top: 24px
}

@media (max-height:640px) {
    .inviteCardInnerError__742a4 {
        margin: 0 -12px;
        padding: 0
    }
}

.inviteCardInnerLoading__742a4 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 200px
}

.expirationNotice__742a4 {
    margin-top: 32px
}

.page__12efe {
    align-items: center;
    background: linear-gradient(180deg, #080613 0, #140e4b);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 90vh;
    overflow: hidden;
    padding: 40px 20px;
    text-align: center;
    width: 100vw
}

.logoContainer__12efe {
    inset-inline-start: 50%;
    position: absolute;
    top: 60px;
    transform: translateX(-50%)
}

.content__12efe {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: calc(100% - 40px)
}

.headingText__12efe {
    margin-bottom: 8px;
    margin-top: 16px
}

.bodyText__12efe {
    color: var(--text-muted);
    line-height: 1.4;
    margin-bottom: 32px
}

.container__704da {
    border-radius: var(--radius-sm);
    flex-direction: column;
    justify-content: stretch;
    padding: 0 var(--space-16)
}

.container__704da,
.reportButton__704da {
    align-items: center;
    background-color: var(--background-base-lower);
    display: flex
}

.reportButton__704da {
    border-bottom: 1px solid var(--border-subtle);
    cursor: pointer;
    justify-content: space-between;
    margin: 0 var(--space-16);
    padding: var(--space-16) 0;
    width: 100%
}

.reportButton__704da:last-child {
    border-bottom: none
}

.footerButtons__704da {
    display: flex;
    justify-content: flex-start;
    width: 100%
}

.container__4fe86 {
    border-radius: 8px;
    flex-direction: column;
    justify-content: stretch;
    margin-block: var(--space-16) 0;
    margin-inline: 0;
    padding: 0 var(--space-16)
}

.container__4fe86,
.reportButton__4fe86 {
    align-items: center;
    background-color: var(--background-base-lower);
    display: flex
}

.reportButton__4fe86 {
    border-bottom: 1px solid var(--border-subtle);
    cursor: pointer;
    justify-content: space-between;
    margin: 0 var(--space-16);
    padding: var(--space-16) 0;
    width: 100%
}

.reportButton__4fe86:last-child {
    border-bottom: none
}

.tidaBulletList__9a831 {
    color: var(--text-subtle);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    list-style: disc;
    margin: 0;
    padding-inline-start: var(--space-24)
}

.hideActionBar_b7f6c8 footer {
    display: none
}

.hideNextButton_b7f6c8 footer>div:last-child {
    display: none
}

/*# sourceMappingURL=533651.7e49b9f0ff0fd744.css.map*/