.container__4328f {
    display: flex;
    flex-direction: column
}

.header__4328f {
    color: var(--text-default);
    margin-top: 16px;
    text-align: center
}

.header__4328f strong {
    color: var(--text-strong)
}

.divider__4328f {
    background-color: var(--border-subtle);
    border: none;
    height: 1px;
    margin: 28px 0;
    width: 100%
}

.benefitsContainer__4328f {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px
}

.benefit__4328f {
    background-color: var(--background-mod-subtle);
    border-radius: 8px;
    padding: 16px
}

.headerContainer__2dea3 {
    background-color: var(--background-base-low);
    border-start-end-radius: calc(var(--custom-border-radius) + 2px);
    border-start-start-radius: calc(var(--custom-border-radius) + 2px);
    box-sizing: border-box;
    height: 112px;
    position: relative
}

.closeContainer__2dea3 {
    align-items: center;
    background-color: var(--opacity-black-84);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 24px;
    inset-inline-end: 16px;
    justify-content: center;
    position: absolute;
    top: 16px;
    width: 24px
}

.closeIcon__2dea3 {
    color: var(--interactive-text-default);
    height: 16px;
    width: 16px
}

.headerImage__2dea3,
.headerImageContainer__2dea3 {
    height: 100%;
    width: 100%
}

.headerImage__2dea3 {
    border-start-end-radius: var(--radius-md);
    border-start-start-radius: var(--radius-md);
    -o-object-fit: cover;
    object-fit: cover
}

.confirmationContainer__2dea3 {
    margin-top: 32px
}

.purchaseConfirmation__2dea3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center
}

.confirmationTitle__2dea3 {
    margin-top: 16px
}

.confirmationSubtitle__2dea3 {
    margin-top: 8px
}

.seasonalGiftBoxHeaderIcon_ae16b8 {
    align-self: center;
    bottom: -11px;
    position: absolute;
    width: 260px;
    z-index: 1
}

.container_ae16b8 {
    align-items: center;
    background-image: unset;
    background-size: unset;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    position: relative
}

.closeButton_ae16b8 {
    margin: var(--modal-vertical-padding) var(--modal-horizontal-padding);
    margin-inline-start: auto
}

.fullWidthGraphicHeaderForManaModal_ae16b8.fullWidthGraphicHeaderForManaModal_ae16b8 {
    margin-top: calc(var(--custom-modal-padding-top, 24px)*-1 - 2px);
    margin-inline-start: -1px;
    width: calc(100% + 2px)
}

.shaker_e5f3a9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    max-height: inherit
}

.root_e5f3a9>:last-child {
    border-end-end-radius: var(--radius-sm);
    border-end-start-radius: var(--radius-sm)
}

.root_e5f3a9.withHeader_e5f3a9>:first-child {
    background-color: transparent
}

@media (max-width:485px) {
    .shaker_e5f3a9 {
        position: absolute;
        top: 0;
        inset-inline: 0;
        bottom: 0;
        max-height: none
    }

    .root_e5f3a9,
    .shaker_e5f3a9 {
        justify-content: center
    }

    .root_e5f3a9 {
        border-radius: 0;
        width: 100vw
    }
}

.halloweenModalHeight_e5f3a9 {
    max-height: 800px
}

.awaitingAuthenticationStep__4ede8 {
    padding-bottom: 16px;
    padding-top: 16px
}

.awaitingWrapper__8a7af {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center
}

.body__96722 {
    padding-bottom: 16px;
    padding-top: 16px
}

.confirmation__6220d {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 24px 10px
}

.confirmationHeader__6220d {
    margin-bottom: 16px
}

.divider__6220d {
    background-color: var(--border-subtle);
    height: 1px;
    margin: 24px 0;
    width: 100%
}

.back_e125f1 {
    margin-inline-end: auto;
    min-width: auto;
    padding: 2px 4px;
    width: auto
}

.modalFooter_e125f1 {
    padding-top: var(--space-24) !important
}

.footerContentContainer_e125f1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.hasBackButton_e125f1 {
    justify-content: space-between
}

.paymentNote__56a21 {
    background-color: var(--modal-background);
    margin: 0;
    padding: 16px 16px 0
}

.warningContainer__98bed {
    align-items: center;
    background-color: var(--background-feedback-warning);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    gap: var(--space-10);
    padding: var(--space-8)
}

.legalFinePrint__1048e {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.formTitle__553e7 {
    margin-bottom: 8px;
    margin-top: 8px
}

.checkbox__553e7 {
    margin-bottom: 10px
}

.checkbox__553e7:last-child {
    margin-bottom: 0
}

.checkboxLabel__553e7 {
    color: var(--interactive-text-default)
}

.finePrint__553e7 {
    color: var(--text-muted);
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 16px;
    margin-top: 8px
}

.activeFractionalPremiumBannerContainer__0687d {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 5px;
    min-height: 48px;
    padding-inline: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative
}

.theme-light .activeFractionalPremiumBannerContainer__0687d {
    background: linear-gradient(90deg, rgba(133, 71, 198, .4), rgba(184, 69, 193, .4) 50.24%, rgba(171, 93, 138, .4))
}

.theme-dark .activeFractionalPremiumBannerContainer__0687d {
    background: linear-gradient(90deg, rgba(133, 71, 198, .5), rgba(184, 69, 193, .5) 50.24%, rgba(171, 93, 138, .5))
}

.activeFractionalPremiumBannerBackgroundImage__0687d {
    background-image: url(/assets/bb502dc7cfcbbacc.svg);
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    top: 40%;
    inset-inline: 78% 0
}

.nitroIconContainer__0687d {
    height: 28px;
    padding-inline-end: 12px;
    width: 28px
}

.theme-light .iconFractional__0687d {
    display: none
}

.theme-light .iconFractionalDark__0687d {
    filter: drop-shadow(0 1px 2px rgb(0 0 0/.4));
    height: 28px;
    width: 28px
}

.theme-dark .iconFractional__0687d {
    filter: drop-shadow(0 1px 2px rgb(0 0 0/.4));
    height: 28px;
    width: 28px
}

.theme-dark .iconFractionalDark__0687d {
    display: none
}

.premiumBrandRefreshContainer__0687d {
    align-items: center;
    background-color: var(--background-surface-highest);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 5px;
    padding: var(--space-8);
    position: relative
}

.premiumBrandRefreshIcon__0687d {
    margin-inline-end: var(--space-12)
}

.trialForAllHeader__0687d {
    padding-bottom: 12px
}

.trialForAllSeparator__0687d {
    background: var(--border-subtle);
    border: 0;
    height: 1px;
    margin: 0 0 4px;
    width: 100%
}

.root_e4d803 {
    background-color: transparent
}

.root_e4d803>:last-child {
    border-end-end-radius: 4px;
    border-end-start-radius: 4px
}

.root_e4d803.withHeader_e4d803>:first-child {
    background-color: transparent
}

.shaker_e4d803 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    max-height: 660px
}

.modalHeader_e4d803 {
    margin-bottom: -20px;
    padding-bottom: 0
}

.header_e4d803 {
    margin-bottom: 12px
}

.headerAnimation_e4d803 {
    bottom: -20px;
    inset-inline-start: calc(50% - 220px);
    position: absolute;
    top: 0;
    width: 440px
}

.stepBody_e4d803 {
    padding-top: 16px
}

.bodyText_e4d803 {
    color: var(--interactive-text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px
}

.invoice_e4d803,
.taxInclusiveNote_e4d803 {
    margin-bottom: 16px
}

.invoice_e4d803 {
    background-color: var(--background-surface-high) !important
}

.premiumBrandRefreshInputBackground_e4d803 {
    background-color: var(--background-mod-subtle) !important;
    border: 0 !important
}

.paymentSourceWrapper_e4d803 {
    margin: 12px 0
}

.giftCardCreditsCheckbox_e4d803 {
    margin-bottom: var(--space-8)
}

.paymentSourceOptionalWarning_e4d803 {
    color: var(--text-default);
    margin-top: 16px
}

.currencyWrapper_e4d803 {
    margin-bottom: 16px;
    margin-top: 16px
}

@media (max-width:485px) {
    .shaker_e4d803 {
        position: absolute;
        top: 0;
        inset-inline: 0;
        bottom: 0;
        max-height: none
    }

    .root_e4d803,
    .shaker_e4d803 {
        justify-content: center
    }

    .root_e4d803 {
        border-radius: 0;
        width: 100vw
    }
}

.trialCheckbox_e4d803 {
    align-items: flex-start
}

.trialCheckboxLabel_e4d803 {
    font-size: 14px;
    line-height: 18px
}

.loader_e4d803 {
    margin-top: 64px
}

.contentWrapper_e4d803 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0
}

.reviewWarningMessageContainer_e4d803 {
    background-color: var(--background-feedback-warning);
    border: 1px solid var(--status-warning-background);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 10px
}

.reviewWarningMessage_e4d803 {
    color: var(--interactive-text-active);
    margin-inline-start: 10px
}

.trialPriceLine_e4d803 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px
}

.afterTrialPriceLine_e4d803 {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.discountSubtext_e4d803 {
    text-align: end
}

.discountSubtext_e4d803 p {
    margin: 0
}

.formTitle_e4d803 {
    margin-bottom: 12px
}

.spinnerWrapper_e4d803 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 280px;
    min-width: 402px
}

.trialHeader_e4d803 {
    margin-bottom: 18px
}

.giftMainAnimation_e4d803 {
    margin-bottom: var(--space-8);
    margin-top: -32px;
    position: relative
}

.premiumGroupNotice_e4d803 {
    margin: 12px 0
}

.xboxPerksNoticeContainer_e4d803 {
    margin-bottom: var(--space-12)
}

.subscriptionCostRowAmount__3d62f {
    font-weight: var(--font-weight-medium)
}

.subscriptionCostRow__3d62f {
    color: var(--text-strong)
}

.invoiceItemLabelWithIcon__3d62f {
    align-items: center;
    display: flex
}

.invoiceItemLabelIcon__3d62f {
    color: var(--interactive-text-default);
    height: 14px;
    margin-inline-start: 8px;
    width: 14px
}

.invoiceItemTooltip__3d62f {
    max-width: 240px
}

.invoiceItemTooltip__3d62f p {
    margin: 0
}

.invoiceItemTooltip__3d62f strong {
    font-weight: var(--font-weight-bold)
}

.subscriptionDetailsToggle__3d62f {
    align-items: center;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    justify-content: center;
    line-height: 16px;
    margin: -16px 0;
    padding: 16px 0
}

.subscriptionDetailsToggleCaret__3d62f {
    height: 16px;
    margin-inline-start: 6px;
    width: 16px
}

.subscriptionPeriodResetNotice__3d62f {
    color: var(--text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    margin-bottom: 16px
}

.subscriptionAddedInvoiceItem__3d62f {
    color: var(--text-feedback-positive)
}

.purchaseDetailsHeaderText__3d62f {
    margin-bottom: 8px
}
