.keybindHintKeys__384ad {
    display: inline-block;
    translate: 0 calc(var(--space-4)*-1)
}

.keybindShortcut__384ad {
    height: 22px;
    padding: 0 4px
}

.dynamicGraphicContainer__47887 {
    border-radius: var(--radius-sm);
    height: 100%
}

.dynamicGraphicForegroundImage__47887 {
    height: 100%
}

.actions__4cd01 {
    align-items: center;
    display: flex;
    flex-grow: 0;
    gap: var(--space-4);
    margin-inline-start: 4px
}

.panelButtonContainer__4cd01 {
    position: relative;
    text-align: center;
    width: 32px
}

.badgedGuildIcon__4cd01 {
    position: relative
}

.badge__4cd01 {
    background-color: var(--brand-500);
    border-radius: 50%;
    height: 6px;
    inset-inline-end: 0;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 1
}

.centeredTooltip__4cd01 {
    text-align: center
}

@keyframes shineWipe__4cd01 {
    0% {
        inset-inline-start: -125%;
        opacity: 1;
        top: -125%
    }

    50% {
        inset-inline-start: 75%;
        opacity: 1;
        top: 75%
    }

    to {
        inset-inline-start: 75%;
        opacity: 1;
        top: 75%
    }
}

.panelButtonShineWipeContainer__4cd01 {
    border-radius: var(--radius-sm);
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%
}

.panelButtonShineWipe__4cd01 {
    height: 150%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 150%;
    z-index: 999
}

.theme-dark .panelButtonShineWipe__4cd01 {
    background: linear-gradient(-45deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 25%, hsla(0, 0%, 100%, .25) 50%, hsla(0, 0%, 100%, 0) 75%, hsla(0, 0%, 100%, 0))
}

.theme-light .panelButtonShineWipe__4cd01 {
    background: linear-gradient(-45deg, transparent, transparent 25%, rgba(0, 0, 0, .1) 50%, transparent 75%, transparent)
}

.full-motion .panelButtonShineWipe__4cd01 {
    animation: shineWipe__4cd01 2s linear;
    animation-iteration-count: 2
}

.container__2ee44 {
    align-items: center;
    cursor: pointer;
    display: flex
}

.container__2ee44:hover>.textContent__2ee44 {
    text-decoration: underline
}

.iconEye__2ee44 {
    margin-inline-end: 4px
}

.gameName__8c6c2 {
    color: var(--text-default);
    line-height: 16px
}

.clickableGameName__8c6c2:hover .gameName__8c6c2 {
    color: var(--interactive-text-active);
    cursor: pointer;
    text-decoration: underline
}

.gameWrapper__8c6c2 {
    align-items: center;
    display: flex;
    min-width: 0
}

.gameWrapper__8c6c2 .liveIndicator__8c6c2 {
    padding: 0 4px
}

.gameIconWrapper__8c6c2 {
    height: 32px;
    position: relative
}

.gameIcon__8c6c2 {
    border-radius: var(--radius-sm);
    height: 32px;
    width: 32px
}

.info__8c6c2 {
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.liveBadge__8c6c2 {
    background-color: var(--background-mod-normal);
    border-radius: 50%;
    bottom: -4px;
    color: var(--text-strong);
    height: 14px;
    inset-inline-end: -4px;
    padding: 2px;
    position: absolute;
    width: 14px
}

.panel__5dec7 {
    background-color: var(--background-surface-high);
    border-bottom: 1px solid var(--border-muted);
    border-start-end-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm);
    flex: 0 0 auto;
    padding: var(--space-12)
}

.custom-theme-background .panel__5dec7 {
    background: unset
}

.body__5dec7 {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.dropsBadgeWrapper__5dec7 {
    display: inline-block;
    padding-top: 4px
}

.dropsBadge__5dec7 {
    font-size: 10px;
    font-weight: var(--font-weight-semibold);
    line-height: 12px;
    overflow: hidden;
    padding-top: 2px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap
}

.gameWrapper__5dec7 {
    align-items: center;
    display: flex;
    min-width: 0
}

.gameWrapper__5dec7 .liveIndicator__5dec7 {
    padding: 0 4px
}

.clickableGameWrapper__5dec7 {
    cursor: pointer;
    flex-grow: 1;
    padding: var(--space-4)
}

.clickableGameWrapper__5dec7:hover {
    background-color: var(--control-secondary-background-hover);
    border-radius: var(--space-8)
}

.gameIcon__5dec7 {
    height: 32px;
    width: 32px
}

.info__5dec7 {
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.sparkleContainer__5dec7 {
    position: relative
}

.sparkles__5dec7 {
    height: 26px;
    inset-inline-start: 5px;
    position: absolute;
    top: -12px;
    width: 26px
}

.infoWithDrops__5dec7 {
    display: block
}

.underlineOnHover__5dec7:hover {
    text-decoration: underline
}

.channel__5dec7:hover {
    text-decoration: underline
}

.perksDemoContainer__5dec7 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1px
}

.perksDemoText__5dec7 {
    margin-inline-start: 2px
}

.frameApplicationNameTitleClickable__5dec7 {
    cursor: pointer
}

.listeningAlong_e0cf27 {
    align-items: center;
    background: var(--background-gradient-lowest, var(--background-base-low));
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    padding: 8px;
    width: 100%
}

.party_e0cf27 {
    margin-inline-start: 8px
}

.overflow_e0cf27 {
    cursor: pointer
}

.icons_e0cf27 {
    display: flex;
    margin-inline-start: 4px
}

.avatar_e0cf27 {
    cursor: pointer;
    height: 20px !important;
    width: 20px !important
}

.userList__24091 {
    border: 1px solid;
    border-radius: 3px;
    min-width: 250px;
    position: relative
}

.userList__24091:before {
    border: 1px solid;
    box-shadow: 2px 2px 4px var(--opacity-black-20);
    content: "";
    height: 8px;
    inset-inline-start: 50%;
    margin-inline-start: -8px;
    position: absolute;
    top: 100%;
    transform: translate3d(4px, -4px, 0) rotate(45deg);
    width: 8px
}

.header__24091 {
    background-color: var(--background-base-lower);
    color: var(--text-default);
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    padding: 12px;
    text-align: center;
    text-transform: uppercase
}

.content__24091 {
    background-color: var(--background-base-lowest);
    max-height: 260px
}

.user__24091 {
    font-size: 14px;
    padding: 10px
}

.discriminator__24091 {
    color: var(--text-muted);
    font-size: 14px
}

.tag__24091 {
    margin-inline-start: 8px
}

.avatar__24091 {
    height: 20px !important;
    width: 20px !important
}

.theme-dark .userList__24091 {
    border-color: var(--primary-700)
}

.theme-dark .userList__24091:before {
    border-bottom-color: var(--primary-700);
    border-inline-end-color: var(--primary-700)
}

.theme-light .userList__24091 {
    border-color: var(--primary-100)
}

.theme-light .userList__24091:before {
    border-bottom-color: var(--primary-100);
    border-inline-end-color: var(--primary-100)
}

.userList__24091:before {
    background-color: var(--background-base-lowest);
    border-color: transparent
}

.username__24091 {
    color: var(--text-default)
}

.root_e373d2 {
    border-start-end-radius: 8px;
    border-start-start-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 8px
}

.root_e373d2.connected_e373d2 {
    background-color: var(--status-positive-background)
}

.root_e373d2.connected_e373d2 .icon_e373d2 {
    color: var(--white)
}

.root_e373d2.connecting_e373d2 {
    background-color: var(--background-mod-normal);
    border-bottom: 1px solid var(--border-subtle)
}

.icon_e373d2 {
    color: var(--interactive-text-active);
    height: 16px;
    margin-inline-end: 8px;
    width: 16px
}

.graphContainer__56e31 {
    background-color: var(--background-base-lower);
    margin-bottom: 8px;
    padding-bottom: 2px
}

.separator__56e31 {
    border: none;
    border-top: 1px solid var(--border-subtle);
    margin: 16px 0
}

.popoutText__56e31 {
    color: var(--text-default);
    font-size: 14px;
    line-height: 18px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.popoutText__56e31 strong {
    font-weight: var(--font-weight-bold)
}

.popoutText__56e31.popoutTextDetails__56e31 {
    color: var(--text-muted);
    margin-top: 8px
}

.popoutBottom__56e31 {
    display: flex
}

.debugButton__56e31 {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    text-decoration: none
}

.debugButton__56e31:hover {
    text-decoration: underline
}

.copyStatsButton__56e31 {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    margin-inline-start: 8px;
    text-decoration: none
}

.copyStatsButton__56e31:hover {
    text-decoration: underline
}

.textWithIcon__56e31 {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.secured__56e31 {
    color: var(--text-feedback-positive);
    display: flex;
    flex: 1;
    font-size: 12px;
    font-weight: var(--font-weight-medium)
}

.secured__56e31 .lockIcon__56e31 {
    margin-inline-end: 4px
}

.enable-forced-colors .container__56e31 {
    border: 2px solid CanvasText
}

.custom-theme-background .container__56e31 {
    border: 1px solid var(--border-strong)
}

.code__1466b {
    background-color: var(--background-code);
    display: grid;
    grid-template-columns: repeat(var(--secure-frames-columns), 1fr);
    overflow: hidden;
    padding: 12px;
    row-gap: 16px
}

.chunk__1466b {
    text-align: center
}

.divider__1466b {
    position: relative
}

.divider__1466b:after {
    background-color: var(--border-subtle);
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: 1
}

.codeText__1466b {
    font-weight: 500
}

.loading__1466b {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 104px
}

.code__1a1f5 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-sm);
    -moz-column-gap: var(--space-8);
    column-gap: var(--space-8);
    display: grid;
    grid-template-columns: repeat(var(--secure-frames-columns), 1fr);
    overflow: hidden;
    padding: var(--space-12);
    row-gap: var(--space-16)
}

.divider__1a1f5 {
    border: none;
    border-top: 1px solid var(--border-subtle);
    grid-column: 1/-1;
    margin: 0
}

.chunk__1a1f5 {
    text-align: center
}

.codeText__1a1f5 {
    font-weight: var(--font-weight-medium);
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.loading__1a1f5 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 104px
}

.container_e03deb {
    cursor: pointer;
    padding: 2px
}

.container__2d1a0 {
    display: flex;
    flex-direction: column
}

.tag__2d1a0 {
    align-self: flex-start;
    background-color: var(--background-base-low);
    border-radius: 4px;
    padding: 4px
}

.header__2d1a0,
.tag__2d1a0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px
}

.header__2d1a0 {
    margin-top: 16px
}

.code__2d1a0 {
    border-radius: 8px
}

.container_effb26 {
    display: flex;
    flex-direction: column;
    gap: var(--space-8)
}

.graphContainer_effb26 {
    background-color: var(--background-base-lower);
    margin-bottom: var(--space-16);
    padding-bottom: 2px
}

.userSelectText_effb26 {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.statsRow_effb26 {
    align-items: flex-start;
    display: flex
}

.statsText_effb26 {
    display: flex;
    flex-direction: column
}

.devButtons_effb26 {
    display: flex;
    gap: var(--space-8)
}

.devButtons_effb26>:first-child {
    flex: 1
}

.copyButtonWrapper_effb26 {
    flex: 1
}

.learnMoreLink_effb26 {
    cursor: pointer
}

.securedBanner__66f0f {
    align-items: center;
    display: flex;
    gap: var(--space-4);
    padding: var(--space-4) var(--space-8)
}

.separator__66f0f {
    border: none;
    border-top: 1px solid var(--border-subtle);
    margin: 0
}

.copyButtonWrapper__66f0f {
    cursor: pointer;
    position: relative
}

.copyStateVisible__66f0f {
    opacity: 1;
    transition: opacity .15s ease
}

.full-motion .copyStateVisible__66f0f {
    transform: scale(1);
    transition: opacity .15s ease, transform .15s ease
}

.copyStateHidden__66f0f {
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity .15s ease
}

.full-motion .copyStateHidden__66f0f {
    transform: scale(.95);
    transition: opacity .15s ease, transform .15s ease
}

.container__9351a {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    height: 100%;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.codeGrid__9351a {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: var(--radius-sm);
    display: flex;
    flex: 1;
    overflow: hidden
}

.codeGridCode__9351a {
    background: none;
    border-radius: 0;
    width: 100%
}

.container__3a8da {
    background: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    padding: 16px;
    width: 300px
}

.tabs__3a8da,
.title__3a8da {
    margin-bottom: 16px
}

.tabs__3a8da {
    position: relative
}

.tabs__3a8da:after {
    background-color: var(--border-subtle);
    bottom: 0;
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 0
}

.tabBarItem__3a8da {
    padding-bottom: 8px
}

.debugPanelStandalone__3a8da {
    background: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    width: 290px
}

.debugPanelStandalone__3a8da>.debugPanelSection__3a8da {
    padding: 16px
}

.container__50387 {
    text-align: start;
    width: 300px
}

.tabs__50387 {
    margin-bottom: 0;
    position: relative
}

.tabs__50387:after {
    background-color: var(--border-subtle);
    bottom: 0;
    content: "";
    height: 1px;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 0
}

.tabBarItem__50387 {
    padding-bottom: 8px
}

.tabPanel__50387 {
    display: grid
}

.tabPanel__50387>* {
    grid-area: 1/1
}

.tabPanelHidden__50387 {
    visibility: hidden
}

.debugPanelStandalone__50387 {
    text-align: start;
    width: 300px
}

.enable-forced-colors .container__50387,
.enable-forced-colors .debugPanelStandalone__50387 {
    border: 2px solid CanvasText
}

.custom-theme-background .container__50387,
.custom-theme-background .debugPanelStandalone__50387 {
    border: 1px solid var(--border-strong)
}
