.body_c6f1a4 {
    background-color: var(--modal-background);
    border-radius: var(--radius-md);
    height: 100%;
    padding: 0 var(--space-16)
}

.sliderBody_c6f1a4 {
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 0;
    padding-bottom: var(--space-8);
    width: 100%
}

@media (max-width:485px) {
    .sliderBody_c6f1a4 {
        flex-direction: column;
        flex-grow: 1
    }
}

.sliderBodyUnifiedReviewStep_c6f1a4 {
    padding-bottom: 0
}

.body_c6f1a4.reviewStep_c6f1a4 {
    padding: 0 var(--modal-horizontal-padding)
}

@media (max-width:485px) {
    .body_c6f1a4.reviewStep_c6f1a4 {
        width: 100%
    }
}

.body_c6f1a4.addPaymentStepForPremium_c6f1a4 {
    max-width: 440px;
    padding-inline: var(--space-16)
}

@media screen and (max-height:550px),
screen and (max-width:485px) {
    .body_c6f1a4.addPaymentStepForPremium_c6f1a4 {
        max-width: 100%
    }
}

.sliderBodyLarge_c6f1a4 {
    width: 804px
}

.content_a8c622 {
    background-color: var(--modal-background);
    border-radius: inherit;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0
}

.breadcrumbsWrapper_a8c622 {
    flex: 0 0 auto;
    margin: 0 16px;
    padding: 16px 0
}

.breadcrumbsWrapperManaModal_a8c622 {
    margin: 0
}

.bodyWrapper_a8c622 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    position: relative
}

.scroller_a8c622 {
    height: 100%;
    padding: 0 16px 16px
}

.errorBlockWrapper_a8c622 {
    padding-bottom: 16px
}

.errorBlockWrapperLegacy_a8c622 {
    padding: 16px
}

.paymentNote_a8c622 {
    padding: 0 16px
}

.loadingBlock_a8c622 {
    height: 192px
}

.sequencer_a8c622,
.sequencerStatic_a8c622 {
    align-items: flex-start;
    display: flex;
    flex-direction: column
}

.sequencerStatic_a8c622 {
    flex: 1 1 auto
}

.sequencerAnimatedNode_a8c622 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0
}

.icon__9f2f4 {
    align-self: center;
    background-color: var(--background-surface-high);
    border-radius: 50%
}

.icon__9f2f4.small__9f2f4 {
    height: 40px;
    width: 40px
}

.icon__9f2f4.medium__9f2f4 {
    height: 66px;
    width: 66px
}

.icon__9f2f4.large__9f2f4 {
    height: 128px;
    width: 128px
}
