.error__584e1 {
    color: var(--text-feedback-critical);
    margin-top: 8px
}

.subTitle__584e1 {
    margin-bottom: 24px
}

.button__584e1 {
    margin-top: 24px
}

.codeInput__584e1 {
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default)
}

.codeInput__584e1:focus {
    border: 1px solid var(--brand-500)
}

.title_efe2ea {
    margin-bottom: 8px
}

.subtitle_efe2ea {
    margin-bottom: 24px
}

.contentContainer_efe2ea {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%
}
