.card__969d2 {
    border-radius: var(--radius-md)
}

.scroller_a02225 {
    --custom-cover-width: calc((100% - (var(--custom-similar-games-per-page, 5) - 1)*var(--space-md))/var(--custom-similar-games-per-page, 5))
}

.card_a02225 {
    aspect-ratio: 3/4;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-low);
    cursor: pointer;
    flex-shrink: 0;
    min-width: var(--custom-cover-min-width, 0);
    overflow: hidden;
    width: var(--custom-cover-width)
}

.coverArt_a02225 {
    border-radius: inherit;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%
}

.full-motion .coverArt_a02225 {
    transition: transform .6s cubic-bezier(.16, 1, .3, 1)
}

.full-motion .card_a02225:hover .coverArt_a02225 {
    transform: scale(1.1)
}

.loadingArtwork_a02225 {
    aspect-ratio: 3/4;
    background-color: var(--background-mod-strong);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-low);
    flex-shrink: 0;
    min-width: var(--custom-cover-min-width, 0);
    width: var(--custom-cover-width)
}

.full-motion .loadingArtwork_a02225 {
    animation: pulse_a02225 1.4s ease-in-out infinite alternate
}

@keyframes pulse_a02225 {
    0% {
        opacity: 1
    }

    to {
        opacity: .5
    }
}

.container__1c9de {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.card_abfd90,
.cardContainer_abfd90 {
    overflow: hidden
}

.card_abfd90 {
    background: var(--background-base-low);
    border: 2px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transform: translateY(0);
    width: 100%
}

.cardFlairWrapper_abfd90 {
    isolation: isolate;
    position: relative
}

.cardFlairGlow_abfd90 {
    background: conic-gradient(from 180deg at 50% 50%, #5865f2 0deg, #b794ff 60deg, #ff8ad1 120deg, #5865f2 180deg, #6ee7e0 240deg, #8b9aff 300deg, #5865f2 1turn);
    border-radius: calc(var(--radius-sm) + 6px);
    filter: blur(12px);
    inset: -6px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1
}

.full-motion .cardFlairGlow_abfd90 {
    transition: opacity .3s ease-in-out
}

.cardFlairWrapper_abfd90:has(:focus-visible) .cardFlairGlow_abfd90,
.cardFlairWrapper_abfd90:hover .cardFlairGlow_abfd90 {
    opacity: .9
}

.cardMedium_abfd90 {
    height: 270px
}

.cardSmall_abfd90 {
    height: 246px
}

.cardImageContainer_abfd90 {
    bottom: 0;
    top: 0;
    inset-inline: 0;
    z-index: 0
}

.cardEmbedded_abfd90 {
    border: none;
    border-radius: unset;
    height: 254px
}

.cardDark_abfd90 {
    background-color: var(--background-surface-high)
}

.cardHighlighted_abfd90 {
    box-shadow: var(--shadow-border), var(--shadow-high)
}

.cardDarkHighlighted_abfd90 {
    box-shadow: 0 0 15px 1px var(--primary-700)
}

.cardNotLoaded_abfd90 {
    cursor: default;
    pointer-events: none
}

.cardAnimation_abfd90 {
    transform: scale(100%)
}

.cardAnimation_abfd90:has(:focus-visible),
.cardAnimation_abfd90:hover {
    transform: scale(105%)
}

.full-motion .cardAnimation_abfd90 {
    transition: transform .5s, box-shadow .5s
}

@keyframes fadeIn_abfd90 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.cardBackgroundImage_abfd90 {
    background-color: var(--background-base-low);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(110%)
}

.full-motion .cardBackgroundImage_abfd90 {
    transition: transform .5s
}

.cardImage_abfd90 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.full-motion .cardImage_abfd90 {
    transition: transform .5s
}

.ticketIconContainer_abfd90 {
    background: var(--brand-400);
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.ticketIcon_abfd90 {
    height: 50%;
    inset-inline-start: 50%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center center;
    object-position: center center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%
}

.details_abfd90 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    z-index: 1
}

.inGameItemLabelContainer_abfd90 {
    bottom: 100%;
    inset-inline-start: 0;
    padding-bottom: var(--space-4);
    position: absolute
}

.titleContainer_abfd90 {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    position: relative;
    transform: translateY(0)
}

.full-motion .titleContainer_abfd90 {
    transition: transform .5s
}

.descriptionContainer_abfd90 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    opacity: 1
}

.full-motion .descriptionContainer_abfd90 {
    transition: opacity .25s, transform .25s
}

.buttonHover_abfd90 {
    bottom: 16px;
    inset-inline: 16px;
    position: absolute;
    transform: translateY(150%);
    z-index: 1
}

.full-motion .buttonHover_abfd90 {
    transition: all .5s
}

.card_abfd90:has(:focus-visible) .buttonHover_abfd90,
.card_abfd90:hover .buttonHover_abfd90 {
    transform: translateY(0)
}

.card_abfd90:has(:focus-visible) .descriptionContainer_abfd90,
.card_abfd90:hover .descriptionContainer_abfd90 {
    opacity: 0;
    transform: translateY(50%)
}

.card_abfd90:has(:focus-visible) .titleContainer_abfd90,
.card_abfd90:hover .titleContainer_abfd90 {
    transform: translateY(-100%)
}

.card_abfd90:has(:focus-visible) .titleContainerNoPrice_abfd90,
.card_abfd90:hover .titleContainerNoPrice_abfd90 {
    transform: translateY(-180%)
}

.card_abfd90:has(:focus-visible) .titleContainerExtendedHeight_abfd90,
.card_abfd90:hover .titleContainerExtendedHeight_abfd90 {
    transform: translateY(-5%)
}

.card_abfd90:has(:focus-visible) .bottomGradient_abfd90,
.card_abfd90:hover .bottomGradient_abfd90 {
    transform: translateY(-15%)
}

.card_abfd90:has(:focus-visible) .cardBackgroundImage_abfd90,
.card_abfd90:hover .cardBackgroundImage_abfd90 {
    transform: scale(100%)
}

.card_abfd90:has(:focus-visible) .cardImage_abfd90,
.card_abfd90:hover .cardImage_abfd90 {
    transform: scale(105%)
}

.priceContainer_abfd90 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    justify-content: flex-start
}

.strikethrough_abfd90 {
    text-decoration: line-through
}

.bottomGradient_abfd90 {
    bottom: -25%;
    height: 100%;
    inset-inline-end: 0;
    position: absolute;
    transform: translateY(0);
    width: 100%
}

.full-motion .bottomGradient_abfd90 {
    transition: transform .5s
}

.iconAsset_abfd90 {
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    width: 20px
}

.badge_abfd90 {
    background-color: var(--white);
    color: var(--black);
    inset-inline-start: 16px;
    position: absolute;
    top: 16px;
    z-index: 1
}

.full-motion .badge_abfd90 {
    transition: inset-inline-start .5s, opacity .25s
}

.badgeContainer_abfd90 {
    filter: var(--shadow-medium-filter);
    inset-inline-start: var(--space-16);
    position: absolute;
    top: var(--space-16);
    z-index: 1
}

.full-motion .badgeContainer_abfd90 {
    transition: inset-inline-start .5s, opacity .25s
}

.cardButtonsContainer_abfd90 {
    color: var(--primary-100);
    display: flex;
    flex-direction: row;
    gap: 12px;
    inset-inline-end: 8px;
    position: absolute;
    top: 8px;
    z-index: 1
}

.wishlistButton_abfd90 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border-width: 0;
    padding: 0
}

.forwardButton_abfd90 {
    visibility: hidden
}

.cardButtonContainer_abfd90 {
    align-items: center;
    background-color: color-mix(in srgb, var(--black) 40%, transparent);
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: background-color .2s ease-in-out;
    width: 40px
}

.cardButtonContainer_abfd90:hover {
    background: color-mix(in srgb, var(--black) 60%, transparent)
}

.cardButtonContainerHovered_abfd90 {
    visibility: visible
}

@keyframes pulse_abfd90 {
    0% {
        background: var(--background-base-lowest)
    }

    30% {
        background: var(--background-base-low)
    }

    70% {
        background: var(--background-base-low)
    }

    to {
        background: var(--background-base-lowest)
    }
}

.placeholderCard_abfd90 {
    cursor: default;
    pointer-events: none
}

.placeholderText_abfd90 {
    background-color: var(--icon-muted);
    border-radius: var(--radius-xs);
    height: var(--space-24);
    opacity: .1
}

.orbsEarnedContainer_abfd90 {
    color: color-mix(in srgb, var(--white) 60%, transparent)
}

.orbsEarnedContainer_abfd90>div {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.orbIconAligned_abfd90 {
    margin-top: 1px;
    vertical-align: top
}

.full-motion .placeholderCard_abfd90 {
    animation: pulse_abfd90 2s ease-in-out infinite alternate;
    animation-fill-mode: backwards
}

.text__7d315 {
    align-items: center;
    flex-direction: row;
    text-align: center
}

.orbIconAligned__7d315 {
    margin-bottom: 2px;
    vertical-align: middle
}

.smallCardItem__02912 {
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    overflow: hidden;
    width: 246px
}

.storeLinksContainer__4177a {
    display: flex;
    flex-direction: column;
    gap: var(--space-8)
}

.container_e95ba0 {
    display: flex;
    flex-direction: column;
    height: 380px;
    max-width: 512px;
    overflow: hidden;
    width: 100%
}

.card_e95ba0,
.container_e95ba0 {
    border-radius: var(--radius-lg) var(--radius-lg) 0 0
}

.spinner_e95ba0 {
    align-self: center;
    flex: 1;
    justify-self: center
}

.details_e95ba0 {
    background: var(--background-base-low);
    border-bottom: 1px solid var(--border-subtle);
    border-inline-end: 1px solid var(--border-subtle);
    border-inline-start: 1px solid var(--border-subtle);
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    gap: 16px;
    padding: 16px
}

.details_e95ba0,
.detailsTitleDescription_e95ba0 {
    display: flex;
    flex-direction: column
}

.detailsTitleDescription_e95ba0 {
    gap: 8px
}

.detailsDescription_e95ba0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.promotionsContainer_e95ba0 {
    flex-wrap: wrap
}

.iconAsset_e95ba0 {
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    width: 20px
}

.strikethrough_e95ba0 {
    text-decoration: line-through
}

.orbsEarnedContainer_e95ba0 {
    color: color-mix(in srgb, var(--white) 60%, transparent)
}

.orbsEarnedContainer_e95ba0>div {
    align-items: center;
    display: flex;
    gap: var(--space-4)
}

.orbIconAligned_e95ba0 {
    vertical-align: top
}

.popoutContent_dfa983 {
    display: flex;
    flex-direction: column;
    padding: var(--custom-message-helpers-popout-padding-width)
}

.stickersList_dfa983 {
    display: flex;
    justify-content: space-between;
    margin: 8px 0
}

.stickerWrapper_dfa983 {
    cursor: pointer
}

.packActions_dfa983 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.premiumButtonNitroWheel_dfa983 {
    margin-inline-end: 4px
}

.premiumButtonInner_dfa983 {
    align-items: center;
    display: flex
}

.theme-dark .countdownIcon_dfa983 {
    color: var(--yellow-260)
}

.theme-light .popoutContent_dfa983,
.theme-light .popoutLoader_dfa983 {
    background-color: var(--background-surface-high);
    box-shadow: var(--shadow-border), var(--shadow-high)
}

.theme-light .countdownIcon_dfa983 {
    color: #ff8a00
}

.nonInteractingSticker_dfa983 {
    opacity: .5
}

.clickableSticker_abd7a8 {
    cursor: pointer
}

.stickerContainer_abd7a8 {
    align-self: start;
    justify-self: start
}

.stickerName_abd7a8 {
    display: inline-flex;
    grid-gap: 4px
}

.stickerIcon_abd7a8 {
    height: 16px;
    margin-inline-end: 2px;
    width: 16px
}

.background-opacity-low .clickableSticker_abd7a8 {
    opacity: .6
}

.background-opacity-medium .clickableSticker_abd7a8 {
    opacity: .7
}

.background-opacity-high .clickableSticker_abd7a8 {
    opacity: .8
}

@use postcss-pxtorem;

.spine__9271d {
    align-self: auto !important;
    border-bottom: 2px solid var(--spine-default);
    border-end-start-radius: 8px;
    border-inline-start: 2px solid var(--spine-default);
    border-color: var(--border-subtle);
    bottom: 29px;
    inset-inline-start: -2.5rem;
    position: absolute;
    top: 0;
    width: 2.25rem
}

.spine__9271d.systemMessageSpine__9271d {
    bottom: 32px;
    inset-inline-start: -2rem;
    width: 1.75rem
}

.spine__9271d.cozy__9271d {
    display: none
}

.container__9271d {
    align-self: start;
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    cursor: pointer;
    justify-self: start;
    margin-top: 8px;
    max-width: min(100%, 480px);
    min-width: 0;
    padding: 8px
}

.systemMessageContainer__9271d {
    margin-top: 0
}

.topLine__9271d {
    display: flex
}

.name__9271d {
    margin-inline-end: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.cta__9271d {
    color: var(--text-link);
    flex-shrink: 0;
    font-size: .875rem;
    font-weight: var(--font-weight-semibold);
    line-height: 1.125rem
}

.container__9271d:hover .cta__9271d {
    text-decoration: underline
}

.bottomLine__9271d {
    align-items: center;
    display: flex;
    margin-top: 2px
}

.bottomLine__9271d>:first-child {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden
}

.timestamp__9271d {
    color: var(--text-muted);
    flex-shrink: 0;
    font-size: .875rem;
    line-height: 1.125rem;
    margin-inline-start: 8px
}

.clock__9271d {
    margin-inline-start: 6px
}

.enable-forced-colors .cta__9271d {
    background-color: ButtonFace;
    color: ButtonText;
    text-decoration: underline
}

.enable-forced-colors .container__9271d {
    border: 1px solid ButtonText
}

.custom-theme-background .container__9271d {
    background-color: var(--background-mod-subtle)
}

.componentEmbedContainer__6e6eb {
    margin-top: 8px;
    position: relative
}

.componentEmbedContainer__6e6eb.isHidden__6e6eb {
    filter: blur(var(--custom-embed-spoiler-blur-radius, 44px));
    pointer-events: none;
    transition: filter .1s ease-out
}

.embedSuppressButton__6e6eb {
    color: var(--interactive-text-default);
    cursor: pointer;
    inset-inline-end: -20px;
    opacity: 0;
    padding: 2px;
    position: absolute;
    top: -2px
}

.componentEmbedContainer__6e6eb:focus-within .embedSuppressButton__6e6eb,
.mouse-mode .componentEmbedContainer__6e6eb:hover .embedSuppressButton__6e6eb {
    opacity: 1
}

.embedSuppressButton__6e6eb:hover {
    color: var(--interactive-text-hover)
}

:root {
    --custom-app-message-embed-base-info-gap: 4px;
    --custom-app-message-embed-base-info-top: calc(var(--custom-app-message-embed-base-info-gap) - 2px)
}

.infoWrapper_c44293 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--custom-app-message-embed-base-info-gap);
    margin-top: var(--custom-app-message-embed-base-info-top)
}

.activityPresenceDetailsContainer_c44293 {
    align-items: center;
    display: flex;
    gap: 12px;
    min-width: 0;
    overflow: hidden
}

.activityPresenceDetailsItemContainer_c44293 {
    align-items: center;
    display: flex;
    gap: 4px
}

.activityPresenceDetailsItemContainer_c44293.truncatesText_c44293 {
    min-width: 0
}

.activityPresenceDetailsItemIconContainer_c44293 {
    align-items: center;
    display: flex
}

.activePlayingWrapper_c44293 {
    display: flex;
    gap: 4px
}

.ephemeralMessage__124d2 {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: var(--font-weight-normal);
    margin-top: 4px
}

.userAppsBetaContent__124d2 {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.33
}

.userAppsBetaContent__124d2 p {
    margin: 0
}

.icon__124d2 {
    margin-inline-end: 4px;
    vertical-align: text-bottom
}

@media (-webkit-max-device-pixel-ratio:1) {
    .theme-light .ephemeralMessage__124d2 {
        font-weight: var(--font-weight-medium)
    }
}

.tile__72090 {
    background-color: var(--background-surface-high);
    border-radius: 5px;
    box-shadow: 0 0 0 hsl(var(--primary-700-hsl)/.15);
    display: flex;
    flex-direction: column;
    min-height: 370px;
    overflow: hidden;
    transform: translateZ(0);
    transition: background-color .2s ease, box-shadow .2s ease
}

.tile__72090:hover {
    background-color: var(--background-surface-higher)
}

.tileHorizontal__72090 {
    align-items: stretch;
    flex-direction: row-reverse;
    min-height: 0;
    width: 660px
}

.title__72090 {
    flex: 0 1 auto;
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
    line-height: 1.2
}

.tagline__72090 {
    color: var(--text-default);
    flex: 1 1 auto;
    font-size: 15px;
    line-height: 1.3;
    margin-top: 8px;
    overflow: hidden
}

.actions__72090 {
    flex: 0 1 auto;
    justify-self: flex-end;
    margin-top: 12px
}

.media__72090 {
    position: relative
}

.mediaHorizontal__72090 {
    align-items: center;
    display: flex;
    flex: 0 0 305px
}

.description__72090 {
    color: var(--text-strong);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 12px;
    position: relative
}

.embedHorizontal_a8b53f {
    height: 173px
}

.embedVertical_a8b53f {
    height: 300px;
    min-height: auto;
    width: 240px
}

@keyframes loading_a8b53f {
    0% {
        transform: translate3d(calc(var(--custom-responsive-embed-tile-loading-background-width)*-1), 0, 0)
    }

    50% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(calc(var(--custom-responsive-embed-tile-loading-background-width)*-1), 0, 0)
    }
}

.loadingDescription_a8b53f {
    align-items: center;
    display: flex;
    flex: 1
}

.loadingBackgroundWrapper_a8b53f {
    height: 165px;
    margin-top: 16px;
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='271' height='165'><path fill='#000000' fill-rule='evenodd' d='M5 0h120c2.761424 0 5 2.23857625 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V5c0-2.76142375 2.23857625-5 5-5zm0 30h244c2.761424 0 5 2.2385763 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V35c0-2.7614237 2.23857625-5 5-5zm0 30h180c2.761424 0 5 2.2385763 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V65c0-2.7614237 2.23857625-5 5-5zm-2 60h60c1.6568542 0 3 1.343146 3 3v26c0 1.656854-1.3431458 3-3 3H3c-1.65685425 0-3-1.343146-3-3v-26c0-1.656854 1.34314575-3 3-3z'/></svg>");
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='271' height='165'><path fill='#000000' fill-rule='evenodd' d='M5 0h120c2.761424 0 5 2.23857625 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V5c0-2.76142375 2.23857625-5 5-5zm0 30h244c2.761424 0 5 2.2385763 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V35c0-2.7614237 2.23857625-5 5-5zm0 30h180c2.761424 0 5 2.2385763 5 5v10c0 2.7614237-2.238576 5-5 5H5c-2.76142375 0-5-2.2385763-5-5V65c0-2.7614237 2.23857625-5 5-5zm-2 60h60c1.6568542 0 3 1.343146 3 3v26c0 1.656854-1.3431458 3-3 3H3c-1.65685425 0-3-1.343146-3-3v-26c0-1.656854 1.34314575-3 3-3z'/></svg>");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    position: relative
}

.loadingBackgroundWrapper_a8b53f,
.loadingBackgroundWrapperHorizontal_a8b53f {
    width: var(--custom-responsive-embed-tile-loading-background-width)
}

.loadingBackgroundWrapperHorizontal_a8b53f {
    height: 141px;
    margin-top: 8px;
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='271' height='141'><g fill='#000000' fill-rule='evenodd'><rect width='130' height='20' rx='5'/><rect width='254' height='20' y='30' rx='5'/><rect width='190' height='20' y='60' rx='5'/><rect width='66' height='32' y='102' rx='3'/></g></svg>");
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='271' height='141'><g fill='#000000' fill-rule='evenodd'><rect width='130' height='20' rx='5'/><rect width='254' height='20' y='30' rx='5'/><rect width='190' height='20' y='60' rx='5'/><rect width='66' height='32' y='102' rx='3'/></g></svg>")
}

.loadingImage_a8b53f {
    background-color: var(--background-base-lowest);
    padding-top: 56%;
    width: 100%
}

.loadingImageHorizontal_a8b53f {
    height: 100%;
    padding: 0
}

.loadingBackground_a8b53f {
    animation: loading_a8b53f 4s ease-in-out infinite;
    bottom: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: calc(var(--custom-responsive-embed-tile-loading-background-width)*2)
}

.images-light .loadingBackground_a8b53f {
    background-image: linear-gradient(to right, var(--primary-100), var(--primary-200), var(--primary-100))
}

.images-dark .loadingBackground_a8b53f {
    background-image: linear-gradient(to right, var(--primary-600), var(--primary-500), var(--primary-600))
}

.embedHorizontal_a8b53f,
.embedVertical_a8b53f {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    padding: var(--space-4)
}
