.calendarContainer__9bb02 {
    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high)
}

.container__9bb02 {
    cursor: pointer;
    display: grid;
    gap: var(--space-8);
    grid-template-columns: 1fr auto;
    min-height: var(--control-input-height-md);
    padding: var(--space-8) var(--space-12)
}

.wrapper__63f6b {
    margin-bottom: var(--space-16);
    position: relative
}

.column__63f6b {
    flex: 1 1 50%
}

@use postcss-pxtorem;

.attachWrapper__0923f {
    align-self: stretch;
    flex: 0 0 auto;
    padding: var(--space-12) calc(var(--space-md) - 6px);
    position: sticky
}

.attachButton__0923f {
    box-sizing: border-box;
    color: var(--interactive-text-default);
    height: unset;
    padding: 0;
    position: sticky;
    top: 0
}

.attachButton__0923f:hover {
    color: var(--icon-strong)
}

.attachButton__0923f .attachButtonPlus__0923f {
    fill: currentColor !important
}

.attachButtonInner__0923f {
    border-radius: 8px;
    height: var(--chat-input-icon-size);
    padding: 6px;
    transition-duration: .2s
}

.attachButtonInner__0923f:hover {
    background-color: var(--interactive-background-selected)
}

.attachButtonPlus__0923f,
.attachButtonPlusGradient__0923f {
    height: var(--chat-input-icon-size);
    transform-origin: 50% 50%;
    width: var(--chat-input-icon-size)
}

.attachButtonPlus__0923f {
    fill: var(--interactive-text-default)
}

.attachButton__0923f:hover .attachButtonPlus__0923f {
    fill: var(--interactive-text-hover)
}

.attachButtonClip__0923f {
    fill: var(--brand-500)
}

.attachButtonPlay__0923f {
    fill: var(--green-360)
}

.attachPopout__0923f {
    background-color: var(--background-surface-high);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    font-size: .75rem;
    font-weight: var(--font-weight-medium);
    min-width: 200px;
    padding: 8px
}

.attachPopoutRow__0923f {
    align-items: center;
    border-radius: 3px;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    padding: 8px;
    transition: background-color .2s ease
}

.attachPopoutRow__0923f:hover {
    background-color: var(--interactive-background-hover);
    color: var(--interactive-text-hover)
}

.attachPopoutRowText__0923f {
    margin-inline-start: 8px
}

.attachPopoutIcon__0923f {
    height: var(--chat-input-icon-size);
    width: var(--chat-input-icon-size)
}

.uploadInput__0923f {
    height: 0;
    pointer-events: none;
    position: relative;
    width: 0
}

.buttonAnimation__0923f {
    height: 44px;
    width: 40px
}

.buttonAnimationGlow__0923f {
    inset-inline-start: -16px;
    position: absolute;
    top: -6px;
    z-index: 1
}

.buttonAnimationTrinkets__0923f {
    inset-inline-start: -10px
}

.spamBanner_a2eac3 {
    background: var(--background-base-lowest);
    border-radius: var(--radius-xs);
    box-shadow: 0 8px 16px var(--elevation-high);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 16px 16px;
    overflow: hidden;
    padding: 12px
}

.tooltip_a2eac3 {
    max-width: 165px;
    text-align: center
}

.bannerTextContainer_a2eac3 {
    align-items: center;
    display: flex;
    flex-shrink: 1
}

.bannerText_a2eac3 {
    display: flex;
    flex: 5 2 auto;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--space-4);
    margin: auto 0
}

.bannerIcon_a2eac3 {
    height: 45px;
    margin-inline-end: 1rem;
    width: 45px
}

.bannerHeader_a2eac3 {
    color: var(--text-strong);
    font-size: 16px;
    font-weight: var(--font-weight-semibold)
}

.bannerSubtext_a2eac3 {
    color: var(--text-default);
    font-size: 14px
}

.actionButtons_a2eac3 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: end
}

.actionButtons_a2eac3>button {
    flex-shrink: 0
}

.smallButton_a2eac3 {
    margin-inline-start: .5rem
}

.largeButton_a2eac3 {
    margin-inline-start: 16px
}

.bannerIcon__1d97f {
    align-self: center;
    color: var(--icon-feedback-critical);
    height: 32px;
    margin-inline-end: .5rem;
    width: 32px
}

.bannerContainer__1d97f {
    min-width: 100px
}

.bannerHeader__1d97f {
    line-height: 20px;
    margin-bottom: 0
}

.container__65338 {
    align-items: flex-start;
    background-color: var(--background-surface-high);
    border-radius: 8px;
    bottom: 84px;
    box-shadow: var(--elevation-high), var(--elevation-stroke);
    display: flex;
    margin-inline-start: 16px;
    max-width: 408px;
    padding: 16px;
    position: absolute
}

.iconContainer__65338 {
    background-color: var(--background-base-low);
    border-radius: 8px;
    max-height: 20px;
    padding: 8px
}

.icon__65338 {
    box-sizing: border-box;
    color: var(--icon-feedback-critical)
}

.header__65338 {
    margin-inline-start: 16px
}

.headerText__65338 {
    margin-bottom: 4px
}

.button__65338 {
    margin-top: 16px
}

.bannerIcon_cbe8c4 {
    align-self: center;
    color: var(--icon-feedback-critical);
    height: 24px;
    margin-inline-end: 1rem;
    width: 24px
}

.bannerContainer_cbe8c4 {
    min-width: 100px
}

.bannerHeader_cbe8c4 {
    line-height: 20px;
    margin-bottom: 0
}

.contentWarningPopout_d2eed6 {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-high);
    display: flex;
    flex-direction: column;
    min-height: 198px;
    width: 440px
}

.header_d2eed6 {
    color: var(--text-default);
    font-weight: var(--font-weight-bold);
    letter-spacing: .6px;
    margin-bottom: 4px;
    text-transform: uppercase
}

.body_d2eed6 {
    color: var(--text-muted);
    display: flex;
    min-height: 128px;
    padding: 20px
}

.body_d2eed6 strong {
    font-weight: var(--font-weight-semibold)
}

.animation_d2eed6 {
    width: 210px
}

.buttonWrapper_d2eed6 {
    display: flex;
    margin-top: 20px
}

.buttonContainer_d2eed6:last-child {
    margin-inline-start: 8px
}

.button_d2eed6 {
    max-width: 130px
}

.buttonHint_d2eed6 {
    color: var(--primary-400);
    margin-top: 4px
}

.buttonHint_d2eed6 strong {
    color: var(--text-muted);
    text-transform: uppercase
}

.content_d2eed6 {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    margin-inline-start: 20px
}

.footer_d2eed6 {
    align-items: center;
    color: var(--primary-400);
    display: flex;
    font-size: 12px;
    min-height: 14px;
    padding: 8px
}

.footer_d2eed6 strong {
    color: var(--text-muted);
    font-weight: var(--font-weight-bold)
}

.icon_d2eed6 {
    margin-inline-end: 4px
}

.theme-dark .footer_d2eed6 {
    background-color: hsl(var(--primary-700-hsl)/.4)
}

.theme-light .footer_d2eed6 {
    background-color: var(--primary-100);
    border-radius: 0 0 5px 5px
}
