.container_bc0d35 {
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 16px;
    position: relative
}

.container_bc0d35,
.nuxContent_bc0d35 {
    align-items: center;
    display: flex
}

.adminUpsell_bc0d35.container_bc0d35 {
    background-color: var(--brand-500);
    padding: 32px 32px 16px
}

.adminUpsell_bc0d35 .closeButton_bc0d35 {
    color: #fff;
    inset-inline-end: 8px;
    top: 8px
}

.closeButton_bc0d35 {
    color: var(--interactive-text-default);
    cursor: pointer;
    inset-inline-end: 12px;
    position: absolute;
    top: 12px
}

.image_bc0d35 {
    margin-bottom: -16px;
    margin-inline-end: 24px
}

.heading_bc0d35 {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 8px
}

.description_bc0d35 {
    margin-bottom: 16px
}

.tip_bc0d35 {
    margin-top: 4px
}

.categoryRow_e4503a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space-md) 0 var(--space-xs)
}

.uncategorized_e4503a {
    padding: 0 0 8px
}

.categoryText_e4503a {
    text-transform: none
}

.categoryText_e4503a,
.channelText_e4503a {
    overflow: hidden
}

.titleBadge_e4503a {
    color: var(--brand-560)
}

.premiumIcon_e4503a,
.titleBadge_e4503a {
    margin-inline-start: 8px
}

.selectAll_e4503a {
    cursor: pointer;
    display: flex;
    margin-inline-end: 4px
}

.selectAllCheckbox_e4503a {
    margin-inline-end: 6px
}

.channelRow_e4503a {
    align-items: center;
    background-color: var(--background-base-low);
    border: 1px solid var(--border-subtle);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 36px;
    padding: var(--space-xs) var(--space-sm)
}

.channelRow_e4503a:not(.disabled_e4503a) {
    cursor: pointer
}

.channelRow_e4503a:hover:not(.disabled_e4503a) {
    background-color: var(--background-mod-subtle)
}

.firstChannel_e4503a {
    border-start-end-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm)
}

.lastChannel_e4503a {
    border-bottom: 1px solid var(--border-subtle);
    border-end-end-radius: var(--radius-sm);
    border-end-start-radius: var(--radius-sm)
}

.channelInfo_e4503a {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 4px;
    overflow: hidden
}

.channelActions_e4503a {
    align-items: center;
    display: flex;
    flex-shrink: 0
}

.channelSubtitles_e4503a {
    display: flex;
    margin-inline-end: 16px;
    overflow: hidden
}

.channelSubtitle_e4503a {
    flex-shrink: 0
}

.subtitleSeparator_e4503a {
    align-self: center;
    background-color: var(--border-subtle);
    border-radius: 4px;
    color: var(--border-subtle);
    flex-shrink: 0;
    height: 4px;
    margin: 0 8px;
    width: 4px
}

.topic_e4503a {
    white-space: nowrap
}

.channelName_e4503a,
.topic_e4503a {
    overflow: hidden;
    text-overflow: ellipsis
}

.channelName_e4503a {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    margin-inline-end: 8px
}

.separator_e4503a {
    background-color: var(--border-subtle);
    display: none;
    height: 1px;
    margin: -1px 16px 0
}

.viewChannelButtonWrapper_e4503a {
    display: none;
    margin-inline-end: 16px
}

.channelRow_e4503a:focus-within .viewChannelButtonWrapper_e4503a,
.channelRow_e4503a:hover .viewChannelButtonWrapper_e4503a {
    display: block
}

.scrollerInner_e4503a {
    padding: 0 var(--space-8)
}

.page__41ed7 {
    padding: 0
}

.pageBody__41ed7 {
    background: var(--background-gradient-chat, var(--home-background));
    background-color: var(--background-base-lower);
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: var(--space-16) var(--space-8)
}

.header__41ed7 {
    display: flex;
    gap: 16px;
    margin-block: 0 16px;
    margin-inline: var(--space-8) var(--space-24);
    margin-bottom: var(--space-md)
}

.browser__41ed7 {
    padding-bottom: 4px
}

.returnButton__41ed7 {
    margin-inline: 8px 16px;
    max-width: 200px;
    padding: 2px 8px
}

.returnButton__41ed7:hover .returnButtonText__41ed7,
.returnButton__41ed7:hover .returnIcon__41ed7 {
    color: var(--control-secondary-text-hover)
}

.returnButton__41ed7:active .returnButtonText__41ed7,
.returnButton__41ed7:active .returnIcon__41ed7 {
    color: var(--control-secondary-text-active)
}

.returnButtonText__41ed7 {
    display: flex;
    flex-direction: row
}

.returnButtonText__41ed7,
.returnIcon__41ed7 {
    color: var(--button-outline-primary-text)
}

.returnIcon__41ed7 {
    height: 16px;
    margin-inline: 4px -2px;
    width: 16px
}

.scrollerInner__41ed7 {
    padding: 0
}
