@keyframes spin3d {
    0% {
        transform: rotateY(0deg) rotateX(0deg)
    }

    25% {
        transform: rotateY(90deg) rotateX(15deg)
    }

    50% {
        transform: rotateY(180deg) rotateX(0deg)
    }

    75% {
        transform: rotateY(270deg) rotateX(-15deg)
    }

    to {
        transform: rotateY(1turn) rotateX(0deg)
    }
}

@keyframes rainbowSlide {
    0% {
        background-position: 0 50%
    }

    to {
        background-position: 200% 50%
    }
}

.dynamicGraphicDemoContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    perspective: 1000px;
    width: 100%
}

.dynamicGraphicDemoText {
    background: linear-gradient(90deg, red, #ff7f00, #ff0, #0f0, #00f, indigo, #9400d3, red);
    -webkit-background-clip: text;
    background-size: 200% 100%;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3), 4px 4px 8px rgba(0, 0, 0, .2);
    -webkit-text-fill-color: transparent;
    animation: spin3d 5s linear infinite, rainbowSlide 1.5s linear infinite;
    background-clip: text
}
