.page__7d655 {
    align-items: center;
    background-color: var(--background-base-lower);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: var(--space-8);
    height: 100%;
    justify-content: center;
    min-width: 0;
    padding: var(--space-16);
    text-align: center
}
