.clickable_c69b6d {
    cursor: pointer
}

.containerDefault_c69b6d,
.containerDragAfter_c69b6d,
.containerDragBefore_c69b6d,
.containerUserOver_c69b6d {
    position: relative;
    transition: opacity .2s ease-in-out
}

.containerDragAfter_c69b6d:after,
.containerDragBefore_c69b6d:before {
    background-color: var(--green-360);
    border-radius: 2px;
    box-shadow: 0 0 3px var(--opacity-black-40);
    content: "";
    height: 4px;
    inset-inline: 8px 0;
    position: absolute;
    z-index: 1
}

.containerDragBefore_c69b6d:before {
    top: -2px
}

.containerDragAfter_c69b6d:after {
    bottom: -2px
}

.containerUserOver_c69b6d:after {
    background-color: hsl(var(--green-360-hsl)/.1);
    border: 2px solid hsl(var(--green-360-hsl)/.5);
    border-radius: 4px;
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    inset-inline: 8px 0;
    bottom: 0;
    z-index: 1
}

.iconBase_c69b6d {
    cursor: pointer;
    line-height: 0;
    position: relative
}

.iconItem_c69b6d {
    display: none;
    margin-inline-start: 4px
}

.iconItem_c69b6d.alwaysShown_c69b6d {
    display: block
}

.containerDefault_c69b6d.selected_c69b6d .iconNoChannelInfo_c69b6d,
.iconVisibility_c69b6d:focus .iconItem_c69b6d,
.iconVisibility_c69b6d:focus-within .iconItem_c69b6d {
    display: block
}

.containerDefault_c69b6d.selected_c69b6d .iconWithChannelInfo_c69b6d {
    display: none
}

.iconItem_c69b6d:focus,
.iconItem_c69b6d:focus-within {
    display: block;
    position: relative
}

.disableClick_c69b6d {
    pointer-events: none
}

.disabled_c69b6d>div {
    opacity: .3
}

.actionIcon_c69b6d {
    display: block;
    height: 16px;
    width: 16px
}

.actionIcon_c69b6d:active {
    transform: translateY(.5px)
}

.actionIcon_c69b6d,
.actionIcon_c69b6d:hover {
    color: var(--icon-muted)
}

.channelInfo_c69b6d {
    display: block;
    margin-inline-start: 12px
}

.iconVisibility_c69b6d:focus .channelInfo_c69b6d,
.iconVisibility_c69b6d:focus-within .channelInfo_c69b6d {
    display: none
}

.actionIcon_c69b6d {
    color: var(--interactive-text-default)
}

.iconItem_c69b6d:hover .actionIcon_c69b6d {
    color: var(--interactive-text-hover)
}

.actionIcon_c69b6d:active {
    color: var(--interactive-text-active)
}

.iconLive_c69b6d {
    color: var(--text-feedback-positive) !important
}

.summary_c69b6d {
    margin-inline-start: 40px
}

.subtitleHasThreads_c69b6d {
    color: var(--text-brand)
}

@media (hover:hover) {
    .iconVisibility_c69b6d:hover .iconItem_c69b6d {
        display: block
    }

    .iconVisibility_c69b6d:hover .channelInfo_c69b6d {
        display: none
    }
}

.selectedChannel_c69b6d .actionIcon_c69b6d,
.selectedChannel_c69b6d .actionIcon_c69b6d:hover {
    color: var(--icon-strong)
}

.voiceChannelHighlightContainer_c69b6d {
    position: relative
}

.voiceChannelHighlightBorder_c69b6d {
    background-color: var(--icon-feedback-positive);
    bottom: 4px;
    inset-inline-start: 0;
    position: absolute;
    top: 2px;
    width: 2px
}

.voiceChannelHighlightGlow_c69b6d {
    background: radial-gradient(ellipse 40px 50% at left center, rgba(0, 158, 66, .125) 0, rgba(0, 158, 66, 0) 100%);
    bottom: -10px;
    inset-inline-start: 0;
    position: absolute;
    top: -12px;
    width: 40px
}

.enable-forced-colors .actionIcon_c69b6d {
    color: ButtonText
}

.enable-forced-colors .iconBase_c69b6d {
    background-color: ButtonFace;
    border: 1px solid ButtonFace;
    border-radius: 4px;
    color: ButtonText
}

.enable-forced-colors .iconBase_c69b6d:hover {
    border-color: ButtonText
}

.enable-forced-colors .iconBase_c69b6d:hover .actionIcon_c69b6d {
    color: ButtonText
}

.enable-forced-colors .containerDragAfter_c69b6d:after,
.enable-forced-colors .containerDragBefore_c69b6d:before,
.enable-forced-colors .containerUserOver_c69b6d:after {
    background-color: Highlight;
    outline: 1px solid Canvas
}

.wrapper__2ea32 {
    margin-inline-start: var(--space-xs);
    overflow: visible;
    padding: 1px 0;
    position: relative
}

.icon__2ea32 {
    color: var(--channel-icon)
}

.typeThread__2ea32.wrapper__2ea32 {
    margin-inline-start: calc(28px + var(--space-xs) + var(--space-xs) - var(--space-xs))
}

.typeThread__2ea32 .name__2ea32>div {
    line-height: var(--channels-name-line-height)
}

.typeThread__2ea32 .link__2ea32 {
    padding-block: 4px;
    padding-inline: var(--space-xs) var(--space-xs)
}

.typeThread__2ea32 .unread__2ea32 {
    inset-inline-start: calc((16px + var(--space-md))*-1 + 1px)
}

.typeThread__2ea32.withGuildIcon__2ea32 {
    margin-inline-start: 42px
}

.typeThread__2ea32.withGuildIcon__2ea32 .unread__2ea32 {
    inset-inline-start: -42px
}

.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32 {
    color: var(--text-strong)
}

.wrapper__2ea32.modeSelected__2ea32 {
    cursor: default
}

.wrapper__2ea32.modeLocked__2ea32 {
    cursor: not-allowed
}

.icon__2ea32 {
    display: block;
    flex: 0 0 auto
}

.icon__2ea32,
.iconContainer__2ea32 {
    height: 20px;
    width: 20px
}

.iconContainer__2ea32 {
    margin-inline-end: 0;
    position: relative
}

.favoritesSuggestion__2ea32 {
    border: 2px dashed var(--border-subtle);
    border-radius: var(--radius-md);
    box-sizing: border-box
}

.hdStreamed__2ea32 {
    background: linear-gradient(90deg, rgba(255, 89, 120, .15), rgba(111, 74, 255, .15));
    border-radius: var(--radius-xs)
}

.link__2ea32 {
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 6px 8px;
    padding-top: var(--space-xxs);
    padding-inline: var(--space-xs);
    padding-bottom: var(--space-xxs);
    position: relative
}

.link__2ea32:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    inset-inline: 0;
    bottom: -1px
}

.basicChannelRowLink__2ea32 {
    flex-direction: row;
    min-height: 24px
}

.basicChannelRowLink__2ea32,
.linkTop__2ea32 {
    align-items: center;
    gap: var(--space-xs);
    justify-content: center
}

.linkBottom__2ea32,
.linkTop__2ea32 {
    display: flex;
    position: relative
}

.linkBottom__2ea32 {
    align-items: center;
    margin-inline-start: calc(20px + var(--space-xs))
}

.name__2ea32 {
    flex: 1 1 auto;
    line-height: var(--channels-name-line-height)
}

.name__2ea32,
.subtitle__2ea32 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.unread__2ea32 {
    background-color: var(--channels-default);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    height: 8px;
    inset-inline-start: calc(var(--space-xs)*-1 + 1px);
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 4px
}

.children__2ea32 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center
}

.modeMuted__2ea32 .icon__2ea32 {
    color: var(--icon-muted);
    opacity: .5
}

.modeMuted__2ea32 .name__2ea32 {
    color: var(--text-muted);
    opacity: .5
}

.modeMuted__2ea32 .acronym__2ea32 {
    background: var(--background-mod-muted);
    color: var(--text-muted)
}

.theme-dark.custom-theme-background.custom-client-theme .modeMuted__2ea32 .icon__2ea32,
.theme-dark.custom-theme-background.custom-client-theme .modeMuted__2ea32 .name__2ea32 {
    color: color-mix(in oklab, var(--text-muted) 40%, transparent)
}

.theme-dark.custom-theme-background.custom-client-theme .modeMuted__2ea32:hover .icon__2ea32,
.theme-dark.custom-theme-background.custom-client-theme .modeMuted__2ea32:hover .name__2ea32 {
    color: var(--interactive-text-hover)
}

.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--channel-icon)
}

.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32 {
    color: var(--icon-subtle)
}

.wrapper__2ea32:hover .link__2ea32 {
    background: var(--interactive-background-hover)
}

.wrapper__2ea32:active .link__2ea32 {
    background: var(--background-modifier-active, var(--interactive-background-active))
}

.modeSelected__2ea32 .acronym__2ea32,
.modeSelected__2ea32:hover .acronym__2ea32 {
    background: var(--brand-500);
    color: var(--white)
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: var(--interactive-background-selected)
}

.name__2ea32 {
    color: var(--channels-default)
}

.modeMuted__2ea32:hover .name__2ea32,
.wrapper__2ea32:hover .name__2ea32 {
    color: var(--interactive-text-hover)
}

.modeConnected__2ea32 .name__2ea32,
.modeConnected__2ea32:hover .name__2ea32,
.modeSelected__2ea32 .name__2ea32,
.modeSelected__2ea32:hover .name__2ea32,
.modeUnreadImportant__2ea32 .name__2ea32,
.modeUnreadImportant__2ea32:hover .name__2ea32,
.notInteractive__2ea32.modeConnected__2ea32 .name__2ea32,
.notInteractive__2ea32.modeSelected__2ea32 .name__2ea32 {
    color: var(--interactive-text-active);
    font-weight: var(--font-weight-semibold-1x-light-theme, 500)
}

.high-contrast-mode .modeConnected__2ea32 .name__2ea32,
.high-contrast-mode .modeConnected__2ea32:hover .name__2ea32,
.high-contrast-mode .modeSelected__2ea32 .name__2ea32,
.high-contrast-mode .modeSelected__2ea32:hover .name__2ea32,
.high-contrast-mode .modeUnreadImportant__2ea32 .name__2ea32,
.high-contrast-mode .modeUnreadImportant__2ea32:hover .name__2ea32 {
    font-weight: var(--font-weight-semibold)
}

.unreadImportant__2ea32 {
    background-color: var(--interactive-text-active)
}

.numberBadge__2ea32 {
    background-color: var(--badge-background-default);
    color: var(--badge-text-default)
}

.newBadge__2ea32 {
    color: var(--brand-560)
}

@media (max-width:485px) {
    .modeSelected__2ea32 .link__2ea32 {
        background-color: unset
    }
}

.modeConnected__2ea32 .name__2ea32,
.modeConnected__2ea32:hover .name__2ea32,
.modeSelected__2ea32 .name__2ea32,
.modeSelected__2ea32:hover .name__2ea32 {
    color: var(--text-strong)
}

.modeConnected__2ea32 .icon__2ea32,
.modeConnected__2ea32:hover .icon__2ea32,
.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--icon-strong)
}

.activeEvent__2ea32 {
    color: var(--text-feedback-positive) !important
}

.children__2ea32:empty {
    display: none
}

:where(.refresh-fast-follow-avatars) .wrapper__2ea32 {
    margin-inline-start: min(var(--space-xs), var(--space-8))
}

.enable-forced-colors .unread__2ea32 {
    background-color: Highlight;
    height: 10px;
    margin-top: -5px;
    outline: 1px solid Canvas;
    width: 6px
}

.enable-forced-colors .icon__2ea32,
.enable-forced-colors .name__2ea32 {
    color: inherit
}

.enable-forced-colors .link__2ea32 {
    background-color: ButtonFace;
    border: 1px solid ButtonFace
}

.enable-forced-colors .icon__2ea32,
.enable-forced-colors .name__2ea32,
.enable-forced-colors .topContent__2ea32 {
    color: ButtonText;
    forced-color-adjust: none
}

.enable-forced-colors .wrapper__2ea32:hover .link__2ea32 {
    background-color: ButtonFace;
    border-color: ButtonText
}

.enable-forced-colors .wrapper__2ea32:hover .icon__2ea32,
.enable-forced-colors .wrapper__2ea32:hover .name__2ea32,
.enable-forced-colors .wrapper__2ea32:hover .topContent__2ea32 {
    color: ButtonText
}

.enable-forced-colors .modeSelected__2ea32 .link__2ea32,
.enable-forced-colors .modeSelected__2ea32:hover .link__2ea32 {
    background-color: Highlight;
    border-color: HighlightText
}

.enable-forced-colors .modeSelected__2ea32 .icon__2ea32,
.enable-forced-colors .modeSelected__2ea32 .name__2ea32,
.enable-forced-colors .modeSelected__2ea32 .topContent__2ea32,
.enable-forced-colors .modeSelected__2ea32:hover .icon__2ea32,
.enable-forced-colors .modeSelected__2ea32:hover .name__2ea32,
.enable-forced-colors .modeSelected__2ea32:hover .topContent__2ea32 {
    color: HighlightText
}

.enable-forced-colors .modeMuted__2ea32 {
    opacity: .4
}

.enable-forced-colors .modeMuted__2ea32:focus,
.enable-forced-colors .modeMuted__2ea32:hover {
    opacity: 1
}
