.container__3cdae {
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    height: 100%;
    min-height: inherit;
    position: relative;
    width: 100%
}

.videoBanner__3cdae {
    border-radius: inherit;
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 0
}

.card__2cf1c {
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: filter .15s ease-in-out
}

.card__2cf1c:hover {
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, .14))
}

.overflowable__2cf1c {
    overflow: visible
}

.carousel__38359 {
    border-radius: var(--radius-lg);
    flex-grow: 1;
    position: relative;
    width: 100%
}

.children__38359 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.child__38359,
.children__38359 {
    position: relative
}

.child__38359 {
    grid-column: 1;
    grid-row: 1;
    opacity: 0
}

.full-motion .child__38359 {
    transition: opacity .6s ease, transform .6s ease
}

.left__38359 {
    transform: translateX(-100%)
}

.right__38359 {
    transform: translateX(100%)
}

.center__38359 {
    opacity: 1;
    transform: translateX(0)
}

.overflowable__38359 {
    overflow: visible
}

.container_dbbcb5 {
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    height: 100%;
    min-height: inherit;
    position: relative;
    width: 100%
}

.gridContainer_dcb619 {
    container-type: inline-size;
    position: relative;
    width: 100%
}

.grid_dcb619 {
    display: grid;
    gap: 24px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(var(--custom-cols, 1), minmax(0, 1fr));
    width: 100%;
    --custom-product-card-min-width: 0
}

.pagination_dcb619 {
    grid-column: 1/-1;
    margin: 12px 0
}

.pageNumbers_dcb619 {
    flex: 0 1 auto;
    margin: 0 12px;
    min-width: 0
}

.page_dcb619 {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.active_dcb619 {
    background: var(--brand-500)
}

.columns1_dcb619 {
    --custom-cols: 1
}

.columns2_dcb619 {
    --custom-cols: 2
}

.columns3_dcb619 {
    --custom-cols: 3
}

.columns4_dcb619 {
    --custom-cols: 4
}

.columns5_dcb619 {
    --custom-cols: 5
}

.columns6_dcb619 {
    --custom-cols: 6
}

@container (max-width: 1152px) {
    .columns6_dcb619 {
        --custom-cols: 5
    }
}

@container (max-width: 1024px) {

    .columns5_dcb619,
    .columns6_dcb619 {
        --custom-cols: 4
    }
}

@container (max-width: 896px) {

    .columns4_dcb619,
    .columns5_dcb619,
    .columns6_dcb619 {
        --custom-cols: 3
    }
}

@container (max-width: 768px) {

    .columns3_dcb619,
    .columns4_dcb619,
    .columns5_dcb619,
    .columns6_dcb619 {
        --custom-cols: 2
    }
}

@container (max-width: 480px) {

    .columns2_dcb619,
    .columns3_dcb619,
    .columns4_dcb619,
    .columns5_dcb619,
    .columns6_dcb619 {
        --custom-cols: 1
    }
}

.gridItem_dcb619 {
    display: block;
    grid-column: span min(var(--custom-col-span, 1), var(--custom-cols, 1));
    grid-row: span min(var(--custom-row-span, 1), var(--custom-cols, 1))
}

.gridItemColumns1_dcb619 {
    --custom-col-span: 1
}

.gridItemColumns2_dcb619 {
    --custom-col-span: 2
}

.gridItemColumns3_dcb619 {
    --custom-col-span: 3
}

.gridItemColumns4_dcb619 {
    --custom-col-span: 4
}

.gridItemColumns5_dcb619 {
    --custom-col-span: 5
}

.gridItemColumns6_dcb619 {
    --custom-col-span: 6
}

.gridItemRows1_dcb619 {
    --custom-row-span: 1
}

.gridItemRows2_dcb619 {
    --custom-row-span: 2
}

.gridItemRows3_dcb619 {
    --custom-row-span: 3
}

.gridItemRows4_dcb619 {
    --custom-row-span: 4
}

.gridItemRows5_dcb619 {
    --custom-row-span: 5
}

.gridItemRows6_dcb619 {
    --custom-row-span: 6
}

.skeleton__1d1d9 {
    position: relative
}

.child__1d1d9,
.children__1d1d9 {
    pointer-events: none
}

.child__1d1d9 {
    opacity: 0;
    overflow: hidden
}

.shimmer__1d1d9 {
    background: var(--background-base-lowest);
    border-radius: var(--radius-lg);
    inset: 0;
    opacity: .84;
    position: absolute
}

.full-motion .shimmer__1d1d9 {
    animation: pulse__1d1d9 2s ease-in-out infinite alternate;
    animation-fill-mode: backwards
}

@keyframes pulse__1d1d9 {
    0% {
        opacity: .84
    }

    30% {
        opacity: .72
    }

    70% {
        opacity: .72
    }

    to {
        opacity: .84
    }
}

.fullBleedContent__10b71 {
    width: 100%
}

.narrowContent__5a180 {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%
}

.chip_da3111 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 48px;
    justify-content: center
}

.clickable_da3111 {
    cursor: pointer
}

.product__339ad {
    border-radius: var(--radius-lg);
    cursor: pointer;
    flex-grow: 1;
    height: 48px
}

.productContent__339ad {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1
}

.hero__81227 {
    --custom-hero-min-height: 150px;
    height: 100%;
    min-height: var(--custom-hero-min-height);
    width: 100%
}

.content__81227 {
    flex-direction: column;
    height: 100%
}

.content__81227,
.headerContent__81227 {
    display: flex;
    position: relative;
    z-index: 1
}

.headerContent__81227 {
    align-items: center;
    flex-direction: row;
    justify-content: space-between
}

.logo__81227 {
    align-self: flex-start;
    justify-self: center
}

.logo__81227 img,
.logo__81227 video {
    display: block;
    height: auto;
    max-height: calc(var(--custom-hero-min-height) - var(--space-8)*2);
    -o-object-fit: contain;
    object-fit: contain;
    width: auto
}

.children__81227 {
    padding-top: var(--space-24);
    position: relative;
    z-index: 1
}

.hero__56f88 {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%
}

.banner__56f88 {
    display: flex;
    height: 350px;
    inset-inline: 0;
    -webkit-mask-image: linear-gradient(180deg, #000 40%, rgba(0, 0, 0, .8) 60%, rgba(0, 0, 0, .4) 80%, transparent);
    mask-image: linear-gradient(180deg, #000 40%, rgba(0, 0, 0, .8) 60%, rgba(0, 0, 0, .4) 80%, transparent);
    position: absolute
}

.banner__56f88 img,
.banner__56f88 video {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.content__56f88 {
    box-sizing: border-box;
    max-width: 1080px;
    padding-bottom: var(--space-24);
    padding-inline: var(--space-32);
    position: relative;
    width: 100%;
    z-index: 1
}

.header__56f88 {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 255px;
    justify-content: space-between;
    padding-top: 3px
}

.logo__56f88 {
    height: 100%;
    margin-bottom: var(--space-12);
    min-height: 0
}

.logo__56f88,
.logo__56f88 img,
.logo__56f88 video {
    max-height: 90px;
    max-width: 540px
}

.logo__56f88 img,
.logo__56f88 video {
    display: block;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    width: auto
}

.children__56f88 {
    position: relative;
    z-index: 1
}

.layoutEditorContainer_f6350f {
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    font-family: Consolas, Monaco, Courier New, monospace;
    font-size: 14px;
    height: 400px;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    width: 100%
}

.highlightLayer_f6350f {
    height: 100%;
    inset-inline-start: 0;
    overflow: auto;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    top: 0;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: transparent;
    letter-spacing: normal;
    overflow-wrap: break-word
}

.highlightLayer_f6350f,
.highlightLayer_f6350f code {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    -moz-tab-size: inherit;
    -o-tab-size: inherit;
    tab-size: inherit
}

.highlightLayer_f6350f code {
    display: block;
    white-space: inherit;
    word-wrap: inherit;
    background: transparent;
    letter-spacing: inherit;
    overflow-wrap: inherit;
    padding: 0
}

.textareaLayer_f6350f {
    background-color: transparent;
    border: 1px solid transparent;
    caret-color: var(--text-link);
    color: transparent;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    inset-inline-start: 0;
    letter-spacing: normal;
    line-height: inherit;
    margin: 0;
    outline: none;
    overflow: auto;
    padding: 12px;
    position: absolute;
    resize: none;
    -moz-tab-size: inherit;
    -o-tab-size: inherit;
    tab-size: inherit;
    top: 0;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-wrap: break-word
}

.textareaLayer_f6350f::-moz-placeholder {
    color: var(--text-muted);
    opacity: .5
}

.textareaLayer_f6350f::placeholder {
    color: var(--text-muted);
    opacity: .5
}

.warning__1310b {
    background: var(--background-base-lowest);
    border: 3px dashed var(--input-border-error-default);
    border-radius: var(--radius-md);
    padding: 16px
}

.balanceCounterMargin__98f64 {
    margin-inline-start: 2px
}

.balanceCounterText__98f64 {
    color: var(--text-strong);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end
}

.full-motion .balanceCounterText__98f64 {
    transition: all .4s ease-out, opacity .4s ease-in
}

.container__58471 {
    align-items: center;
    background: var(--background-surface-higher);
    box-sizing: border-box;
    justify-content: center;
    padding: var(--space-16);
    width: 254px
}

.container__58471,
.contentContainer__58471 {
    display: flex;
    flex-direction: column
}

.contentContainer__58471 {
    gap: var(--space-8)
}

.assetContainer__58471 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 53px;
    justify-content: center;
    padding-top: var(--space-16)
}

.orbAsset__58471 {
    height: 53px
}

.linkContainer__58471 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--space-16)
}

.linkPreText__58471 {
    color: var(--text-default)
}

.learnMoreLink__58471 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.balanceText__58471 {
    color: var(--text-default)
}

.rewardsContainer__58471 {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    padding-bottom: var(--space-12)
}

.balanceContainer__58471 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.videoBackground__58471,
.videoContainer__58471 {
    border-radius: inherit
}

.videoBackground__58471 {
    border: 1px solid var(--border-subtle);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 0
}

.content__58471 {
    position: relative;
    z-index: 1
}

.container_b4f99f {
    background: var(--background-surface-higher);
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    width: 254px
}

.assetContainer_b4f99f,
.container_b4f99f {
    align-items: center;
    display: flex;
    justify-content: center
}

.assetContainer_b4f99f {
    flex-shrink: 0;
    height: 86px;
    margin-bottom: 12px
}

.orbAsset_b4f99f {
    height: 86px
}

.sectionDivider_b4f99f {
    background-color: var(--border-subtle);
    border: 0;
    height: 1px;
    margin: 0 -12px;
    width: 100%
}

.linkContainer_b4f99f {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px
}

.linkPreText_b4f99f {
    color: var(--text-default)
}

.learnMoreLink_b4f99f {
    color: var(--border-focus);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.container__44ee9 {
    position: relative
}

.cardContainer__44ee9 {
    margin-top: 8px;
    position: absolute;
    z-index: 1000
}

.alignLeft__44ee9 {
    inset-inline-start: 0
}

.alignRight__44ee9 {
    inset-inline-end: 0
}

.coachmarkContainer__44ee9 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.hidden__44ee9 {
    visibility: hidden
}

.visible__44ee9 {
    visibility: visible
}

.searchBar__824d3 {
    flex: 1 1 var(--custom-search-bar-width);
    max-width: var(--custom-search-bar-width);
    min-width: 0
}

.platform-osx .searchBar__824d3 {
    -webkit-app-region: no-drag
}

.searchIcon__824d3 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 1 var(--custom-search-bar-icon-width);
    justify-content: center;
    max-width: var(--custom-search-bar-icon-width);
    min-width: var(--custom-search-bar-icon-width)
}

.searchFloating__824d3 {
    background: linear-gradient(to right, transparent 0, var(--background-base-lower) 40px, var(--background-base-lower) 100%);
    border-radius: 4px;
    max-width: var(--custom-search-bar-width);
    padding-inline-end: var(--space-4);
    position: relative;
    width: var(--custom-search-bar-width);
    z-index: 10
}

.searchCollapsed__824d3 {
    display: none
}

.themeSection_f7cedc,
.themeSelector_f7cedc {
    align-items: flex-start;
    display: flex
}

.themeSelector_f7cedc {
    flex-direction: row;
    gap: var(--space-md)
}

.themeOption_f7cedc {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    transition: opacity .2s
}

.themeOption_f7cedc:hover {
    opacity: .8
}

.themeCircle_f7cedc {
    border: 2px solid var(--border-normal);
    border-radius: 50%;
    height: 32px;
    transition: border-color .2s;
    width: 32px
}

.themeCircleSelected_f7cedc {
    border-color: var(--brand-500)
}

.themeLabel_f7cedc {
    color: var(--text-muted);
    font-size: 11px;
    font-weight: 500
}

.controlBar__04a02 {
    flex-direction: column;
    width: 100%
}

.controlBar__04a02,
.questInput__04a02 {
    display: flex;
    gap: var(--space-sm)
}

.questInput__04a02 {
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    min-width: 600px
}

.currentQuestInfo__04a02 {
    flex: 1;
    gap: var(--space-xs);
    justify-content: flex-end
}

.currentQuestInfo__04a02,
.questName__04a02 {
    align-items: center;
    display: flex
}

.questName__04a02 {
    border: 1px solid var(--interactive-background-selected);
    border-radius: var(--radius-sm);
    gap: var(--space-sm);
    padding: var(--space-sm) var(--space-sm)
}

.questLabel__04a02 {
    color: var(--interactive-text-default);
    font-weight: 500
}

.questTitle__04a02 {
    color: var(--interactive-text-active);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.divider__04a02 {
    background: var(--interactive-background-selected);
    height: 1px;
    margin-block: var(--space-sm) var(--space-sm);
    margin-inline: 0;
    width: 100%
}

.controlsSection__04a02 {
    display: flex;
    flex-direction: column;
    width: 100%
}

.controlsHeading__04a02 {
    color: var(--text-strong);
    margin: 0
}

.controlButtons__04a02 {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
    justify-content: center
}

.questSelectorContainer__04a02 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-sm);
    justify-content: flex-end
}

.questSelectorWrapper__04a02 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.copyInput__04a02 {
    width: 100%
}

.sharePopover__04a02 {
    background: var(--background-surface-high);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-high);
    padding: var(--space-sm);
    width: 400px
}

.divider__3b806 {
    background: var(--interactive-background-selected);
    height: 1px;
    margin-block: var(--space-sm) var(--space-sm);
    margin-inline: 0;
    width: 100%
}

.previewPage__8d6f9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 20px;
    place-content: center
}

.errorIcon__8d6f9,
.questsIcon__8d6f9 {
    color: var(--text-strong);
    height: 24px;
    width: 24px
}

.messageWrapper__8d6f9 {
    margin-bottom: 12px;
    padding: 12px
}

.message__8d6f9 {
    color: var(--text-default);
    text-align: start;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.previewCard__8d6f9 {
    gap: var(--space-sm);
    padding: var(--space-md);
    width: 450px
}

.previewBackground__8d6f9,
.previewCard__8d6f9 {
    display: flex;
    flex-direction: column
}

.previewBackground__8d6f9 {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-md);
    justify-content: center;
    padding-bottom: var(--space-md);
    padding-top: var(--space-md);
    width: 100%
}

.heading__8d6f9 {
    grid-row: 1/span 1
}

.heading__8d6f9,
.questTile__8d6f9 {
    grid-column: 2/span 1
}

.questTile__8d6f9 {
    grid-row: 2/span 1
}

.questChannelCallHeaderWrapper__8d6f9>div {
    inset-inline-start: auto;
    margin-inline-start: 0;
    position: relative;
    top: auto
}

.embedCard__8d6f9 {
    align-self: flex-start;
    min-width: 100%;
    padding: 32px;
    width: -moz-fit-content;
    width: fit-content
}

.barCard_d8a230 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
    z-index: 10
}

.barHeading_d8a230 {
    margin-bottom: var(--space-8)
}

.fixedBarContainer_d8a230 {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 10
}

.fixedBarWrapper_d8a230 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-md);
    height: 275px;
    position: relative;
    width: var(--custom-guild-sidebar-width);
    z-index: 10
}

.hidden__5ed15 {
    height: 0;
    visibility: hidden
}

.verticalContainer__5ed15 {
    align-items: flex-start
}

.verticalContainer__5ed15,
.verticalContainerCentered__5ed15 {
    display: flex;
    flex-direction: column;
    row-gap: 8px
}

.verticalContainerCentered__5ed15 {
    align-items: center
}

.balanceWidgetMenu__5ed15 {
    width: -moz-max-content !important;
    width: max-content !important
}

.balanceWidgetMenuContainer__5ed15 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto
}

.scroller__5ed15 {
    height: 100%
}

.loader__5ed15 {
    align-items: center;
    display: flex;
    justify-content: center
}

.balanceWidgetPillContainer__5ed15 {
    align-items: center;
    display: flex;
    gap: 8px
}

.tabularNums__5ed15 {
    font-variant-numeric: tabular-nums
}

.headerWithSpacing__5ed15 {
    margin-bottom: 8px;
    margin-top: 4px
}

.labelValueRow__5ed15 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px
}

.orderSummaryContainer__5ed15 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    width: 100%
}

.trigger__5d51e {
    align-items: center;
    border-bottom: 2px solid var(--border-focus);
    box-sizing: border-box;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: var(--space-8);
    height: 100%;
    padding-top: 2px
}

.logo__5d51e {
    border-radius: var(--radius-xs);
    flex-shrink: 0;
    height: 24px;
    min-width: 24px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 24px
}

.placeholder__5d51e {
    opacity: .5;
    pointer-events: none
}

.placeholder__5d51e .logo__5d51e {
    background-color: var(--background-mod-subtle)
}

@media (max-width:948px) {
    .logo__5d51e {
        display: none
    }
}

.headerContainer__57bc9 {
    background: var(--background-base-lower);
    padding-bottom: 0;
    padding-inline-end: var(--space-12);
    padding-top: 0;
    position: sticky;
    top: 0
}

.shopHomeButton__57bc9 {
    align-items: center;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center
}

.divider__57bc9 {
    align-self: center;
    background-color: var(--border-strong);
    flex-shrink: 0;
    height: 32px;
    width: 1px
}

.divider__57bc9,
.dropdown__57bc9 {
    margin-inline-start: var(--space-24)
}

.titles__57bc9 {
    flex-direction: row;
    gap: var(--space-24);
    margin-inline-start: var(--space-24)
}

.titleWrapper__57bc9,
.titles__57bc9 {
    align-items: center;
    display: flex;
    height: 100%
}

.titleWrapper__57bc9 {
    justify-content: center
}

.pageTitleContainer__57bc9 {
    box-sizing: border-box;
    cursor: pointer;
    height: 100%
}

.pageTitleContainer__57bc9:hover {
    border-bottom: 2px solid var(--brand-500);
    padding-top: 2px
}

.pageTitleContainer__57bc9.selectedPageIndicator__57bc9 {
    border-bottom: 2px solid var(--icon-strong);
    padding-top: 2px
}

.iconButton__57bc9 {
    align-items: center;
    background-color: var(--control-secondary-background-default);
    border: 1px solid var(--control-secondary-border-default);
    border-radius: var(--radius-sm);
    color: var(--control-secondary-text-default);
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    transition: background-color .1s ease;
    width: 32px
}

.iconButton__57bc9:active,
.iconButton__57bc9:hover {
    background-color: var(--control-secondary-background-hover)
}

.modalRoot_b824c5 {
    background-color: transparent !important;
    border: none !important;
    border-radius: 16px !important
}

.modalRootPortrait_b824c5 {
    height: calc(100vh - 160px);
    max-width: calc(100vw - 160px);
    min-width: 375px;
    width: round(up, calc((100vh - 160px + 2px - var(--custom-portrait-footer-height))*9/16), 1px)
}

.modalRootLandscape_b824c5 {
    min-width: 500px;
    width: round(up, min(calc(100vw - 110px), calc(177.77778vh - 551.11111px), 1900px), 1px)
}

.modalBody_b824c5 {
    border: 1px solid var(--border-subtle);
    border-radius: 16px;
    flex-direction: row;
    position: relative;
    width: 100%
}

.modalBg_b824c5,
.modalBody_b824c5 {
    display: flex;
    overflow: hidden
}

.modalBg_b824c5 {
    background-color: var(--background-scrim-lightbox);
    border-radius: 16px;
    flex-grow: 1
}

.modalContent_b824c5 {
    background-color: var(--background-base-lower);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.closeButton_b824c5 {
    inset-inline-end: 18px;
    position: absolute;
    top: 18px
}

.heading_b824c5 {
    margin-bottom: 4px
}

.bodyCopy_b824c5 {
    margin-bottom: 24px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.errorInput_b824c5 {
    border: 1px solid var(--background-feedback-critical) !important
}

.videoCont_b824c5 {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    overflow: hidden;
    position: relative
}

.videoContInactive_b824c5 {
    cursor: pointer
}

.videoContInnerRelative_b824c5 {
    align-items: center;
    aspect-ratio: 16/9;
    display: flex;
    height: 100%;
    isolation: isolate;
    justify-content: center;
    position: relative;
    width: 100%
}

.modalRootPortrait_b824c5 .videoContInnerRelative_b824c5 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    display: flex
}

.videoContInnerRelativePortrait_b824c5 {
    aspect-ratio: 9/16
}

.videoContInnerRelativeLandscape_b824c5 {
    aspect-ratio: 16/9
}

.videoContOverlay_b824c5 {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7) 59.99%);
    display: inline-block;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@keyframes animate-fade-in_b824c5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hidden_b824c5 {
    display: none !important;
    height: 0 !important
}

.videoInner_b824c5 {
    background: transparent;
    border-radius: inherit;
    flex-shrink: 1;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    width: 100%
}

.videoInner_b824c5.videoInnerCover_b824c5 {
    -o-object-fit: cover;
    object-fit: cover
}

.videoInner_b824c5:-webkit-full-screen {
    z-index: 99999
}

.videoInner_b824c5::-webkit-media-controls-enclosure {
    display: none !important
}

.haloBackground_b824c5 {
    filter: blur(50px);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    transform: scale(1.1);
    width: 100%
}

.videoFooterCont_b824c5 {
    bottom: var(--custom-footer-bottom);
    flex-shrink: 0;
    padding: 0;
    padding-inline: var(--custom-footer-horizontal-padding)
}

.videoFooterCont_b824c5,
.videoFooterContGradient_b824c5 {
    box-sizing: border-box;
    position: absolute;
    width: 100%
}

.videoFooterContGradient_b824c5 {
    background: linear-gradient(180deg, rgba(7, 7, 9, 0), rgba(7, 7, 9, .5) 27.95%, #070709 64.57%);
    bottom: 0;
    height: 113px;
    padding: 0;
    pointer-events: none
}

.videoControlsCont_b824c5 {
    box-sizing: border-box;
    width: 100%
}

.videoControlsCont_b824c5,
.videoControlsGroup_b824c5 {
    align-items: center;
    display: flex;
    height: 100%
}

.videoControlsGroup_b824c5 {
    gap: 16px
}

.videoControlsGroupMid_b824c5 {
    flex: 1;
    gap: 8px;
    margin-inline-start: 16px
}

.videoControlsGroupEnd_b824c5 {
    display: flex;
    justify-content: flex-end;
    margin-inline-start: auto;
    width: 200px
}

.videoControlsBtnCont_b824c5 {
    border-radius: 4px
}

.videoControlsBtn_b824c5 {
    cursor: pointer
}

.videoControlsBtn_b824c5:hover {
    opacity: 1
}

.videoControlsBtnContDisabled_b824c5 {
    cursor: not-allowed
}

.videoControlsBtnTooltip_b824c5 {
    align-items: center;
    display: flex;
    gap: 4px
}

.videoControlsBtnTooltipKeyCombo_b824c5 {
    transform: translateY(2px)
}

.volumeControlGroup_b824c5 {
    display: flex
}

.controlsBarItem_b824c5 {
    color: var(--interactive-text-active);
    opacity: .6
}

.controlsBarItemActive_b824c5 {
    opacity: 1
}

.durationTimeWrapper_b824c5 {
    flex: 0 0 auto;
    height: 16px;
    margin-inline-start: 3px
}

.durationTimeDisplay_b824c5,
.durationTimeSeparator_b824c5 {
    color: var(--white);
    display: inline;
    text-align: center
}

.durationTimeDisplay_b824c5 {
    font-variant-numeric: tabular-nums
}

.durationTimeSeparator_b824c5 {
    margin: 0 2px
}

.volumeSlider_b824c5 {
    cursor: pointer;
    margin-inline-start: 6px
}

.contentHeader_b824c5,
.volumeSlider_b824c5 {
    align-items: center;
    display: flex
}

.contentHeader_b824c5 {
    background-image: linear-gradient(90deg, rgba(205, 216, 255, .08) 23%, rgba(35, 36, 40, 0));
    flex-shrink: 0;
    height: 77px;
    padding: 4px 24px
}

.contentHeaderGameInfo_b824c5 {
    align-items: center;
    cursor: pointer;
    display: flex;
    min-width: 0;
    overflow: hidden;
    width: 100%
}

.contentHeaderLogotype_b824c5 {
    height: 32px;
    opacity: .9
}

.full-motion .accentOnHover_b824c5 {
    transition: transform .2s ease-in-out
}

.accentOnHover_b824c5:hover {
    opacity: 1
}

.full-motion .accentOnHover_b824c5:hover {
    transform: scale(1.05);
    transition: transform .35s cubic-bezier(.45, 3.03, .3, .81)
}

.transcriptOverlay_b824c5 {
    background-color: var(--opacity-black-68);
    height: 100%;
    inset-inline-start: 0;
    top: 0;
    width: 100%
}

.transcriptCont_b824c5,
.transcriptOverlay_b824c5 {
    animation-duration: .2s;
    animation-name: animate-fade-in_b824c5;
    position: absolute
}

.transcriptCont_b824c5 {
    align-items: flex-start;
    background-color: var(--background-base-lowest);
    border: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, .48));
    border-radius: 16px;
    bottom: var(--custom-transcript-bottom, 24px);
    display: flex;
    flex-direction: column;
    inset-inline-end: 24px;
    top: var(--custom-transcript-top, 24px);
    width: 363px
}

.transcriptContPortrait_b824c5 {
    inset-inline: 50% auto;
    transform: translateX(-50%)
}

.transcriptScroller_b824c5 {
    height: 100%;
    width: 100%
}

.transcriptBackBtn_b824c5 {
    cursor: pointer;
    height: 24px
}

.transcriptHeader_b824c5 {
    align-items: center;
    border-bottom: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, .48));
    color: var(--text-strong);
    gap: 12px;
    justify-content: space-between
}

.transcriptBody_b824c5,
.transcriptHeader_b824c5 {
    align-self: stretch;
    display: flex;
    padding: 12px 16px
}

.transcriptBody_b824c5 {
    align-items: flex-start;
    box-sizing: border-box;
    height: 100%
}

.transcriptBody_b824c5 p:first-of-type {
    margin-top: 0
}

.stillFrameImageCard_b824c5 {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none;
    width: 100%
}

.endScreenPanel_b824c5,
.stillFrameImageCard_b824c5 {
    animation-duration: .5s;
    animation-name: animate-fade-in_b824c5
}

.endScreenPanel_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: linear-gradient(90deg, hsla(226, 9%, 47%, .45) 34.5%, hsla(0, 0%, 59%, .45));
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    gap: 16px;
    justify-content: center;
    padding: 8px 16px;
    z-index: 1
}

.endScreenPanel_b824c5:focus-visible,
.endScreenPanel_b824c5:hover {
    box-shadow: 0 0 30px 0 rgba(220, 239, 255, .25)
}

.endScreenPanelInner_b824c5 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.endScreenPanelTextCont_b824c5 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.endScreenPanelTextTitle_b824c5 {
    color: var(--primary-130)
}

.endScreenPanelTextSubtitle_b824c5 {
    color: var(--primary-230)
}

.endScreenPanelRight_b824c5 {
    bottom: 82px;
    inset-inline-end: 22px;
    position: absolute
}

.endScreenIcon_b824c5 {
    display: flex
}

.verticalDivider_b824c5 {
    margin: 0 16px;
    width: 2px
}

.loadingSpinner_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(15.85px);
    backdrop-filter: blur(15.85px);
    background: rgba(0, 0, 0, .45);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    display: flex;
    inset-inline-start: 32px;
    justify-content: center;
    padding: 8px;
    position: absolute;
    top: 32px
}

.full-motion .loadingSpinner_b824c5 {
    animation: animate-fade-in_b824c5 1s ease-in forwards
}

.loadingSpinner_b824c5.centered_b824c5 {
    inset-inline-start: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.captionContainer_b824c5 {
    bottom: 16px;
    inset-inline: 0;
    padding: 4px;
    position: absolute
}

.captionText_b824c5 {
    text-align: center;
    text-shadow: 0 2px 7px #000
}

.playPausePopCont_b824c5 {
    background-color: var(--opacity-black-60);
    border-radius: 50%;
    color: var(--white);
    height: 24px;
    inset-inline-start: 50%;
    opacity: 0;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px
}

.playPausePopCont_b824c5 .playPausePopIcon_b824c5 {
    height: 100%;
    width: 100%
}

.full-motion .pause_b824c5,
.full-motion .play_b824c5 {
    animation: playPauseAnimation_b824c5 var(--custom-play-pause-pop-ms, 1s)
}

@keyframes playPauseAnimation_b824c5 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1)
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5)
    }
}

.transcriptBodySpinner_b824c5 {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.videoOverlayMessage_b824c5 {
    -webkit-backdrop-filter: blur(15.85px);
    backdrop-filter: blur(15.85px);
    background-color: var(--background-base-low);
    border-radius: 12px;
    inset-inline-start: 50%;
    max-width: 475px;
    opacity: .9;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

:-webkit-full-screen .endScreenPanel_b824c5:focus-visible,
:-webkit-full-screen .videoControlsBtnCont_b824c5:focus-visible {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .endScreenPanel_b824c5:focus-visible,
:fullscreen .videoControlsBtnCont_b824c5:focus-visible {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:-webkit-full-screen .volumeSlider_b824c5:focus-within {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .volumeSlider_b824c5:focus-within {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

.closeModalBtnWrapper_b824c5 {
    inset-inline-end: max(calc(-50vw + 50% + 8px), calc(max(40px, (100vw - 100%) / 2 - 80px)*-1));
    position: absolute;
    top: calc(-50vh - -50% - -80px);
    z-index: 1
}

.inactivePoster_b824c5 {
    display: block;
    height: 100%;
    width: 100%
}

.inactivePlayButton_b824c5 {
    background-color: var(--opacity-black-60);
    border-radius: 24px;
    color: var(--white);
    left: 50%;
    opacity: .6;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.full-motion .inactivePlayButton_b824c5 {
    transition: opacity .25s
}

.videoCont_b824c5:hover .inactivePlayButton_b824c5 {
    opacity: .8
}

.inactivePlayButtonIcon_b824c5 {
    display: block;
    height: 24px;
    margin-inline: 1px -1px;
    width: 24px
}

.floatingShareButtonContainer_b824c5 {
    align-items: center;
    display: flex;
    gap: 8px;
    inset-inline-end: 16px;
    position: absolute;
    top: 16px
}

.overlayContainer_b824c5 {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    inset-inline-end: 0;
    justify-content: flex-end;
    pointer-events: none
}

.endScreenOverlay_b824c5,
.overlayContainer_b824c5 {
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.endScreenOverlay_b824c5 {
    background: rgba(25, 26, 28, .75);
    height: 100%;
    width: 100%
}

.endScreenImageBackground_b824c5 {
    filter: blur(50px);
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none
}

.endScreenContainer_b824c5,
.endScreenImageBackground_b824c5 {
    animation-duration: .5s;
    animation-name: animate-fade-in_b824c5;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.endScreenContainer_b824c5 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 10px 10px 60px
}

.endScreenContainerPortrait_b824c5 {
    align-items: center;
    flex-direction: column
}

.endScreenCard_b824c5 {
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 12px;
    width: 53%
}

.endScreenCardPortrait_b824c5 {
    width: 90%
}

.endScreenCtaContainer_b824c5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 269px
}

.endScreenCtaContainerPortrait_b824c5 {
    align-items: center
}

.endScreenCtaTitleContainer_b824c5 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.endScreenCtaContainerPortrait_b824c5 .endScreenCtaTitleContainer_b824c5 {
    align-items: center
}

.endScreenCtaBtnTitle_b824c5,
.endScreenCtaTitle_b824c5 {
    color: var(--primary-130)
}

.endScreenCtaSubtitle_b824c5 {
    color: var(--primary-230)
}

.endScreenCtaBtn_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: hsla(226, 9%, 47%, .45);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    gap: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 16px;
    position: relative
}

.endScreenCtaBtn_b824c5:focus-visible,
.endScreenCtaBtn_b824c5:hover {
    box-shadow: 0 0 30px 0 rgba(220, 239, 255, .25)
}

@keyframes shine_b824c5 {
    0% {
        inset-inline-start: -50%
    }

    to {
        inset-inline-start: 200%
    }
}

.full-motion .endScreenCtaBtn_b824c5:after {
    animation-delay: .75s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: shine_b824c5;
    animation-timing-function: ease-in-out;
    aspect-ratio: 1;
    background-color: #9497a0;
    content: "";
    filter: blur(22.45px);
    height: 100%;
    inset-inline-start: -50%;
    position: absolute
}

@media (min-width:1400px) {
    .endScreenCtaTitle_b824c5 {
        font-size: 20px
    }

    .endScreenCtaSubtitle_b824c5 {
        font-size: 16px
    }

    .endScreenCtaBtnTitle_b824c5 {
        font-size: 18px
    }
}

.timelineContainer__68788 {
    height: var(--custom-timeline-height);
    position: relative;
    width: 100%
}

.progressToPlayheadBar__68788 {
    background: var(--custom-timeline-fill-bg, var(--white));
    border-radius: 99px;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform-origin: left;
    width: 100%;
    will-change: transform
}

.cont__68788,
.hitboxArea__68788 {
    position: relative;
    width: 100%
}

.hitboxArea__68788 {
    align-items: center;
    display: flex;
    height: var(--custom-initial-timeline-height)
}

.interactionEnabled__68788 {
    cursor: pointer
}

.interactionEnabled__68788:before {
    content: "";
    height: 30px;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.progress__68788 {
    overflow: hidden;
    width: 100%
}

:-webkit-full-screen .hitboxArea__68788:focus-visible .progress__68788 {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .hitboxArea__68788:focus-visible .progress__68788 {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

.defaultProgressToPlayheadTheme__68788 {
    --custom-timeline-fill-bg: var(--white);
    --custom-timeline-glow-shadow: 0 0 27.8px 2px var(--white)
}

.bufferedBar__68788 {
    background-color: var(--neutral-51);
    width: 100%
}

.bufferedBar__68788,
.seekableBar__68788 {
    height: var(--custom-timeline-height);
    position: absolute
}

.seekableBar__68788 {
    background-color: var(--neutral-22);
    inset-inline-start: 0;
    opacity: 0
}

.timelineTooltip__68788 {
    pointer-events: none;
    text-shadow: 0 0 2px var(--black);
    top: 50%;
    transform: translate(-50%, calc(-100% - 10px))
}

.playhead__68788,
.timelineTooltip__68788 {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.playhead__68788 {
    background-color: var(--white);
    border-radius: 50%;
    height: 12px;
    transform: translateX(-50%);
    width: 12px
}

.segmentContainer__68788 {
    background-color: var(--custom-segment-bg, var(--progressbar-track-background));
    overflow: visible
}

.segmentContainer__68788,
.segmentMask__68788 {
    border-radius: var(--custom-r-left) var(--custom-r-right) var(--custom-r-right) var(--custom-r-left);
    content: "";
    height: 100%;
    position: absolute;
    top: 0
}

.segmentMask__68788 {
    inset-inline-start: 0;
    overflow: hidden;
    width: 100%
}

.segmentPanningLayer__68788 {
    height: 100%;
    position: relative;
    width: 100%
}

.progressToPlayheadGlowBar__68788 {
    border-radius: 99px;
    box-shadow: var(--custom-timeline-glow-shadow);
    height: 100%;
    mix-blend-mode: var(--custom-timeline-glow-blend-mode);
    pointer-events: none;
    position: absolute;
    top: 0
}

.wrapper__1acb4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    padding: var(--space-24)
}

.videoContainer__1acb4 {
    background-color: var(--background-base-low);
    border-radius: var(--radius-sm);
    overflow: hidden
}

.panel__1acb4 {
    overflow: hidden
}

.panelHeader__1acb4 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--space-12) var(--space-16)
}

.list__1acb4 {
    max-height: 240px;
    overflow-y: auto
}

.row__1acb4 {
    align-items: center;
    display: flex;
    gap: var(--space-8);
    padding: var(--space-8) var(--space-16)
}

.row__1acb4:nth-child(odd) {
    background-color: var(--background-base-lower)
}

.row__1acb4:nth-child(2n) {
    background-color: var(--background-base-low)
}

.row__1acb4:hover {
    background-color: var(--background-mod-normal)
}

.emptyState__1acb4 {
    padding: var(--space-12) var(--space-16)
}
