.container__1dc07 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    position: relative
}

.emoji__1dc07 {
    margin-inline-end: 8px
}

.list__1dc07,
.menu__1dc07 {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.list__1dc07 {
    position: relative
}

.list__1dc07>li {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px
}

.preview__1dc07 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.profile__1dc07 {
    display: flex;
    margin: 77px auto 53px;
    position: relative;
    width: 300px;
    z-index: 0
}

.profile__1dc07>img {
    background-color: var(--background-base-low);
    border: 8px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    width: 100%
}

.error__1dc07 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center
}

.error__1dc07>img {
    flex-shrink: 0
}
