.channelIdSection_cf1489 {
    margin-top: 8px
}

.guildName_cf1489 {
    flex-shrink: 1;
    font-size: 12px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre
}

.selectedVoiceChannel_cf1489 {
    align-items: stretch;
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-xs);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    margin-inline-end: 8px;
    min-height: 0;
    min-width: 0;
    pointer-events: none
}

.noVoiceChannelSelected_cf1489 {
    padding: 0 16px
}

.voiceListSearchEmpty_cf1489 {
    padding: 16px;
    text-align: center
}

.keybindMessage_f82450 {
    position: relative
}

.keybindMessage_f82450 a {
    color: inherit;
    text-decoration: underline
}

.item_f82450 {
    flex: 1;
    margin-inline-end: 16px;
    position: relative
}

.item_f82450 a {
    color: inherit;
    text-decoration: underline
}

.switch_f82450 {
    align-items: center;
    display: flex;
    flex: 0;
    margin-top: 28px;
    margin-inline-start: 32px
}

.removeKeybindFloating_f82450 {
    inset-inline-end: -31px;
    opacity: 0;
    position: absolute;
    top: -12px
}

.removeKeybind_f82450 {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0;
    margin-top: 28px
}

.ghostPill_f82450 {
    align-items: center;
    background-color: var(--yellow-160);
    border: 1px solid var(--yellow-300);
    color: var(--primary-860);
    display: inline-grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    grid-gap: 10px;
    border-radius: var(--radius-xs);
    font-size: 14px
}

.keybindGroup_f82450 {
    margin-top: -1px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative
}

.keybindGroup_f82450:hover .removeKeybindFloating_f82450 {
    opacity: 1
}

.keybindGroupContent_f82450 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px
}

.keyboard-mode .keybindGroup_f82450:focus-within .removeKeybindFloating_f82450 {
    opacity: 1
}

.defaultKeybindGroup_f82450 {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-16) 0
}

.defaultKeybind_f82450 {
    align-items: center;
    box-sizing: border-box;
    display: grid;
    font-weight: var(--font-weight-medium);
    grid-template-columns: 1fr auto;
    padding: 0 var(--space-16)
}

.defaultKeybindShortcutGroup_f82450 {
    display: grid;
    grid-gap: 4px
}

.shortcut_f82450 {
    justify-content: end
}

.defaultKeybindGroupHeader_f82450 {
    margin-bottom: 24px;
    text-transform: uppercase
}

.defaultKeybindGroupWithDescription_f82450 {
    margin-bottom: 4px
}

.defaultKeybindGroupDescription_f82450 {
    margin-bottom: 20px
}

.browserNotice_f82450 a {
    color: inherit;
    text-decoration: underline
}

.systemServiceUpsell_f82450 {
    margin-bottom: 24px
}

.ctaContainer_f82450 {
    gap: 12px;
    margin-bottom: 24px
}

.ctaContainer_f82450,
.warning_f82450 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.warning_f82450 {
    flex-grow: 1;
    gap: 8px
}

.addButton_f82450 {
    flex-shrink: 0;
    margin-inline-start: 12px
}
