.phoneField_a0c54f {
    display: grid;
    gap: var(--space-8);
    grid-template-columns: 5fr 6fr;
    position: relative
}

.phoneVerificationModal_db41ea {
    min-height: 252px;
    padding: 16px;
    position: relative;
    width: 440px
}

.phoneVerificationModal_db41ea .animationContainer_db41ea {
    position: absolute;
    top: -150px;
    inset-inline: 130px
}

.phoneVerificationModal_db41ea .title_db41ea {
    color: var(--text-strong);
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin-top: auto;
    padding-top: 80px
}

.phoneVerificationModal_db41ea .description_db41ea {
    color: var(--text-default);
    font-size: 16px;
    line-height: 20px;
    text-align: center
}

.phoneVerificationModal_db41ea .description_db41ea.error_db41ea {
    color: var(--text-feedback-critical)
}

.phoneVerificationModal_db41ea .field_db41ea {
    align-self: stretch
}

.card__6aefd,
.spacing__6aefd {
    margin-bottom: 20px
}

.card__6aefd {
    padding: 10px
}

.error__6aefd {
    margin-top: 8px
}

[data-nav-anchor-key=clips_frame_rate] [data-has-description][data-layout=horizontal-responsive],
[data-nav-anchor-key=clips_length] [data-has-description][data-layout=horizontal-responsive],
[data-nav-anchor-key=clips_resolution] [data-has-description][data-layout=horizontal-responsive] {
    grid-template-columns: auto 206px
}

.keyRecorder__4d8f3 {
    min-width: 240px
}

.header__88a04 {
    background-color: var(--background-surface-higher);
    border-radius: var(--radius-sm)
}

.gameNamesHeader__88a04 {
    gap: 24px;
    justify-content: space-between;
    min-height: 36px;
    padding: var(--space-8) var(--space-12)
}

.gameIcons__88a04,
.gameNamesHeader__88a04 {
    align-items: center;
    display: flex
}

.gameIcons__88a04 {
    flex: 0;
    flex-direction: row;
    gap: var(--space-8);
    min-height: 56px;
    padding: var(--space-12)
}

.divider__88a04 {
    background-color: var(--border-subtle);
    height: 1px;
    width: 100%
}

.icon__88a04 {
    border-radius: var(--radius-xs);
    height: 32px;
    width: 32px
}

.moreIcon__88a04 {
    background-color: var(--background-base-lowest);
    justify-content: center
}

.manageGamesLink__88a04,
.moreIcon__88a04 {
    align-items: center;
    display: flex
}

.manageGamesLink__88a04 {
    cursor: pointer
}

.manageGamesChevron__88a04 {
    margin-top: 1px
}

.emptyContainer__88a04 {
    align-items: center;
    background-color: var(--background-surface-higher);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    justify-content: center;
    padding: var(--space-48) 0
}

.noGamesConnectedText__88a04 {
    text-transform: uppercase
}
