.voiceCallWrapper_a21736 {
    padding-bottom: 24px
}

.videoGridWrapper_a21736 {
    align-self: stretch
}

.root_a21736 {
    height: 100%;
    position: relative;
    width: 100%
}

.flexCenter_a21736 {
    align-items: center;
    display: flex;
    justify-content: center
}

.videoFrame_a21736 {
    flex: 1;
    position: relative
}

.videoWrapper_a21736 {
    flex: 1 1 100%;
    margin: 0 auto;
    position: relative
}

.videoWrapperAnimated_a21736 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.videoGrid_a21736 {
    height: 100%;
    min-width: 100px
}

.hiddenParticipants_a21736 p {
    margin: 0
}

.videoSizer_a21736 {
    position: relative;
    width: 100%
}

.focusedVideo_a21736 {
    height: 100%
}

.participantsButton_a21736 {
    inset-inline-end: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out;
    z-index: 1
}

.participantsButton_a21736.idle_a21736 {
    opacity: 0
}

.root__6981d {
    height: 100%
}

.root__6981d,
.tileWrapper__6981d {
    position: relative;
    width: 100%
}

.videoFrame__6981d {
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative
}

.videoWrapper__6981d {
    z-index: 1
}

.actionRow__6981d {
    bottom: -8px;
    display: flex;
    inset-inline-start: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(100%);
    transition: opacity .2s ease-in-out;
    z-index: 10
}

.actionRow__6981d.idle__6981d {
    opacity: 0
}

.viewAllButton__6981d {
    background: var(--primary-630);
    border-radius: 48px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    margin-inline-start: 8px;
    padding: 4px 8px
}

.viewAllButton__6981d:hover {
    background: var(--primary-700)
}

.viewAllButtonInner__6981d {
    align-items: center;
    display: flex;
    white-space: nowrap
}

.buttonIcon__6981d {
    color: var(--white);
    margin-inline-end: 4px
}

.participantsWrapperAnimated__6981d {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    inset-inline: 8px;
    bottom: 0;
    overflow: hidden;
    position: absolute
}

.overlay_ca6af4 {
    -webkit-backdrop-filter: brightness(.5);
    backdrop-filter: brightness(.5);
    background-color: rgba(0, 0, 0, .2);
    padding: 2px 0;
    position: absolute;
    z-index: 1
}

.duck__2dee0 {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none;
    width: 100%
}

.quackButton__2dee0:hover .duck__2dee0 {
    filter: brightness(110%)
}

.quackButton__2dee0:not(.disabled__2dee0):active .duck__2dee0 {
    transform: scale(95%)
}

.duckContainer__2dee0,
.quackButton__2dee0 {
    inset-block-start: 45%;
    inset-inline-start: 67.3%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 4.8%
}

.quackButton__2dee0 {
    background: transparent;
    border-radius: 50%;
    cursor: pointer
}

.quackButton__2dee0.disabled__2dee0 {
    cursor: default
}

.quackButton__2dee0.disabled__2dee0:hover .duck__2dee0 {
    filter: none
}

.container_fae5e9 {
    align-items: center;
    display: flex;
    justify-content: space-around
}

.container_fae5e9,
.image_fae5e9 {
    height: 100%;
    width: 100%
}

.image_fae5e9 {
    inset: 0;
    position: absolute
}

.seats_fae5e9 {
    height: auto;
    position: relative;
    width: 100%
}

.seats_fae5e9.fullHeight_fae5e9 {
    height: 100%;
    width: auto
}
