.activityBadge__44107 {
    background-color: var(--status-positive-background)
}

.activityBadge__44107,
.activityNewBadge__44107 {
    align-items: center;
    box-shadow: var(--elevation-low);
    display: flex
}

.activityNewBadge__44107 {
    background-color: var(--background-feedback-notification)
}

.activityUpdatedBadge__44107 {
    align-items: center;
    background-color: var(--badge-background-brand);
    box-shadow: var(--elevation-low);
    display: flex
}

.activityBadgeIcon__44107 {
    margin-inline: -2px 2px
}

.tooltip__44107 {
    text-align: center
}
