.previewSection__4671c {
    background-color: var(--background-base-lower);
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: var(--space-12);
    position: relative
}

.sectionHeader__4671c {
    display: flex;
    flex-direction: row-reverse;
    padding: 0
}

.previewCards__4671c {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
    padding-inline-start: var(--space-16);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.previewCards__4671c .profile__4671c {
    width: 300px;
    z-index: 0
}

.previewCards__4671c .chatMessage__4671c {
    background-color: var(--background-surface-high) !important;
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    box-sizing: border-box;
    margin-block: -10px -5px;
    margin-inline: 25px 0;
    min-width: 320px;
    padding-block: 20px;
    padding-inline: 70px 20px;
    z-index: 1
}

.previewCards__4671c .chatMessage__4671c>span {
    vertical-align: middle
}

.previewCards__4671c .chatMessage__4671c h2 {
    white-space: nowrap
}

.previewCards__4671c .chatMessage__4671c h2 div {
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap
}

.previewCards__4671c .nameplate__4671c {
    background-color: var(--background-surface-highest);
    border: 1px solid var(--border-subtle);
    width: 280px;
    z-index: 2
}

.closeButton__4671c {
    color: var(--icon-strong)
}

.themeToggleSection__4671c {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-block: 0 var(--space-16);
    padding-inline: var(--space-16) var(--space-16);
    z-index: 1
}

.themeToggleControl__4671c {
    display: inline-flex;
    margin-inline-start: var(--space-16)
}

.themeToggleOption__4671c {
    box-sizing: border-box;
    height: 32px;
    padding: 0;
    width: 32px
}

.backgroundThemeContainer__4671c {
    border-radius: 0;
    height: auto;
    inset: 0;
    min-width: auto;
    position: absolute
}

.backgroundThemeContainer__4671c.user-profile-modal-v2 {
    border: 0
}

.bannerBackground__4671c {
    background-position: bottom;
    background-size: 100%;
    filter: saturate(.5);
    inset: 0;
    -webkit-mask-image: linear-gradient(180deg, #000 0, transparent 280px);
    mask-image: linear-gradient(180deg, #000 0, transparent 280px);
    opacity: .3;
    pointer-events: none;
    position: absolute
}

.custom-user-profile-theme.theme-light .bannerBackground__4671c {
    opacity: .4
}

.bannerBackground__4671c:after {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    content: "";
    inset: 0;
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, #000 280px);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, #000 280px);
    position: absolute
}

.themeToggleOptionSelected__4671c {
    border: 1px solid var(--border-muted)
}

.modalRoot__39813 {
    width: 800px
}

.modalContent__39813.modalContent__39813 {
    background-color: var(--background-surface-high);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    display: grid;
    grid-template-columns: 352px 1fr;
    padding: 0
}

.selectionSection__39813 {
    box-sizing: border-box;
    padding-block: var(--space-24) var(--space-24);
    padding-inline: var(--space-24) var(--space-16)
}

.sectionHeader__39813 {
    margin-bottom: var(--space-8);
    padding: 0
}

.selectionSubSection__39813:not(:first-child) {
    margin-top: var(--space-24)
}
