.guildInfoCard__50dcd {
    text-align: start;
    width: 100%
}

.presentedBy__50dcd {
    color: var(--text-default);
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: var(--font-weight-extra-bold);
    line-height: 16px;
    text-transform: uppercase
}

.guildContainer__50dcd {
    display: flex;
    flex-direction: row;
    padding-top: 12px
}

.guildDetailsContanier__50dcd {
    flex-direction: column;
    padding-inline-start: 12px
}

.guildName__50dcd {
    display: flex;
    font-family: var(--font-display)
}

.guildBadge__50dcd {
    margin-inline-start: 4px
}

.guildInfoMemberCount__50dcd {
    margin: 0;
    padding: 2px 0 0
}

.guildInfoMemberCountText__50dcd {
    font-size: 12px
}

.guildDescriptionContainer__50dcd {
    padding-top: 12px
}

.guildEventCard__50dcd {
    text-align: start;
    width: 100%
}

.channelInfo__50dcd {
    padding-top: 4px
}

.acceptButton__50dcd {
    margin-top: 12px;
    width: 100%
}

.container_fb2e73 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.acceptButton_fb2e73 {
    margin-top: 28px;
    width: 100%
}

.redirectingText_fb2e73 {
    margin-top: 16px;
    width: 100%
}
