.guildBoostUnavailableNotice__0c507 {
    align-self: center;
    background-color: hsl(var(--white-hsl)/.1);
    border: 2px solid var(--white);
    border-radius: 9999px;
    justify-self: center;
    margin-bottom: 32px;
    padding: 8px 16px;
    width: -moz-fit-content;
    width: fit-content
}

.guildBoostUnavailableNotice__0c507.lightTheme__0c507 {
    border: 2px solid var(--black-500)
}

.guildBoostUnavailableNoticeText__0c507 {
    font-size: 16px
}

.container__9dbc9 {
    gap: var(--space-24);
    margin-bottom: var(--space-80);
    text-align: center
}

.container__9dbc9,
.serverSection__9dbc9 {
    align-items: center;
    display: flex;
    flex-direction: column
}

.serverSection__9dbc9 {
    gap: var(--space-12)
}

.guildIcon__9dbc9 {
    border: 1px solid hsla(0, 0%, 100%, .16);
    border-radius: 19px;
    box-shadow: 0 1.6px 6.4px 0 rgba(0, 0, 0, .14);
    height: 70px;
    width: 70px
}

.theme-light .guildIcon__9dbc9 {
    border-color: rgba(0, 0, 0, .1)
}

.guildName__9dbc9 {
    color: var(--white)
}

.theme-light .guildName__9dbc9 {
    color: var(--text-default)
}

.serverInfo__9dbc9 {
    flex-direction: column;
    gap: var(--space-4)
}

.guildBoostCount__9dbc9,
.serverInfo__9dbc9 {
    align-items: center;
    display: flex
}

.guildBoostCount__9dbc9 {
    gap: 2px
}

.guildBoostBadge__9dbc9 {
    color: var(--white);
    flex: 0 0 auto;
    height: 18px;
    opacity: .6;
    width: 18px
}

.guildBoostBadgeWithBoosts__9dbc9 {
    color: var(--guild-boosting-pink);
    opacity: 1
}

.guildStatusCopy__9dbc9 {
    color: var(--white)
}

.theme-light .guildStatusCopy__9dbc9 {
    color: var(--text-default)
}

.guildBoostCountCurrentUser__9dbc9 {
    color: var(--white);
    margin-top: var(--space-4);
    opacity: .6
}

.theme-light .guildBoostCountCurrentUser__9dbc9 {
    color: var(--text-muted);
    opacity: 1
}

.heroSection__9dbc9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-40)
}

.heading__9dbc9 {
    color: var(--text-strong);
    font-family: var(--font-display-marketing-header);
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.26px;
    line-height: 110%;
    margin: 0;
    max-width: 770px;
    text-align: center;
    text-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    text-transform: uppercase
}

.theme-light .heading__9dbc9 {
    text-shadow: none
}

.guildBoostCtas__9dbc9 {
    display: flex;
    gap: var(--space-12);
    justify-content: center
}

.guildBoostCtaPrimary__9dbc9 {
    flex: 0 0 auto
}

.wrapper_bb27fe {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.heading_bb27fe {
    text-align: center;
    width: 100%
}

.list_bb27fe {
    width: 100%
}

.list_bb27fe,
.listItem_bb27fe {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.listItem_bb27fe {
    align-items: flex-start;
    align-self: stretch;
    background: var(--background-base-low);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    box-shadow: var(--shadow-low);
    cursor: pointer;
    padding: var(--space-12)
}

.listItemExpanded_bb27fe {
    background: var(--background-surface-highest);
    border: 1px solid var(--border-strong)
}

.questionWrapper_bb27fe {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: var(--space-12)
}

.question_bb27fe {
    flex: 1 1 auto
}

.questionIcon_bb27fe {
    flex: 0 0 auto
}

.full-motion .questionIcon_bb27fe {
    transition: transform .2s ease-in-out
}

.answer_bb27fe {
    align-self: stretch;
    padding-top: var(--space-8)
}

.closeButtonWrapper__00843 {
    position: relative;
    z-index: 2
}

.closeButton__00843 {
    align-items: center;
    background-color: rgba(16, 16, 18, .5);
    border-radius: 12px;
    color: var(--primary-330);
    cursor: pointer;
    display: flex;
    height: 40px;
    inset-inline-end: var(--space-24);
    justify-content: center;
    position: absolute;
    top: var(--space-24);
    width: 40px;
    z-index: 2
}

.closeButton__00843:hover {
    background-color: rgba(16, 16, 18, .7);
    color: var(--primary-230)
}

.theme-light .closeButton__00843 {
    background-color: rgba(0, 0, 0, .08);
    color: var(--primary-500)
}

.theme-light .closeButton__00843:hover {
    background-color: rgba(0, 0, 0, .12);
    color: var(--primary-600)
}

.scroller__00843 {
    background: var(--background-base-lowest);
    height: 100%;
    position: relative;
    transform: translateZ(0);
    will-change: scroll-position;
    z-index: 1
}

.content__00843 {
    margin: 0 auto;
    max-width: 1224px
}

.headerContentWrapper__00843 {
    isolation: isolate;
    padding: var(--space-64) var(--space-32) var(--space-32);
    position: relative;
    z-index: 2
}

.header__00843 {
    position: relative
}

.headerBackground__00843 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    min-height: 1280px;
    overflow: hidden;
    pointer-events: none
}

.headerGradient__00843 {
    background: radial-gradient(ellipse 100% 70% at 50% 0, rgba(156, 89, 209, .6) 0, rgba(88, 47, 140, .3) 50%, transparent 80%), var(--background-base-lowest);
    inset: 0;
    position: absolute
}

.theme-light .headerGradient__00843 {
    background: radial-gradient(ellipse 100% 70% at 50% 0, rgba(209, 153, 237, .5) 0, rgba(176, 126, 209, .25) 50%, transparent 80%), var(--background-base-lowest)
}

.headerBackground__00843 img,
.headerBackground__00843 video {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 100%
}

.middleBodyContentWrapper__00843 {
    display: flex;
    flex-direction: column;
    gap: var(--space-64);
    isolation: isolate;
    padding: var(--space-32);
    position: relative;
    z-index: 2
}

.lowerBody__00843 {
    position: relative
}

.lowerBodyContentWrapper__00843 {
    padding: var(--space-32);
    position: relative;
    z-index: 2
}

.ctaBarReducedMargin__00843 {
    margin-bottom: var(--space-40)
}

.persistentCtaSpacer__00843 {
    height: 120px
}

.perksTable__00843 {
    margin-bottom: var(--space-80)
}

.wrapper_c50892 {
    display: flex;
    gap: var(--space-24);
    width: 100%
}

.card_c50892 {
    background: var(--background-mod-subtle);
    border: 1px solid;
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    transform: translateZ(0)
}

.cardActive_c50892 {
    border-color: hsla(240, 4%, 61%, .04)
}

.cardInactive_c50892 {
    border-color: var(--border-subtle)
}

.cardHeader_c50892 {
    height: 64px;
    position: relative
}

.progressBar_c50892 {
    height: 8px;
    position: absolute;
    top: 40px;
    inset-inline: 0
}

.progressBarStart_c50892 {
    border-end-start-radius: 100px;
    border-start-start-radius: 100px;
    inset-inline-start: 40px
}

.progressBarEnd_c50892 {
    border-end-end-radius: 100px;
    border-start-end-radius: 100px;
    inset-inline-end: 24px
}

.progressBarInactive_c50892 {
    background: #474464
}

.progressBarActive_c50892 {
    background: linear-gradient(90deg, #ff4ebb, rgba(255, 78, 187, .4));
    box-shadow: inset 0 0 4px 0 rgba(255, 128, 206, .3)
}

.progressBarActive_c50892.progressBarStart_c50892 {
    inset-inline-start: 64px
}

.gemContainer_c50892 {
    align-items: center;
    border: 5px solid;
    border-radius: 50%;
    display: flex;
    height: 40px;
    inset-inline-start: 24px;
    justify-content: center;
    position: absolute;
    top: 24px;
    width: 40px
}

.gemContainerActive_c50892.gemContainerLevel1_c50892 {
    background: var(--guild-boosting-pink-refresh);
    border-color: #202024
}

.gemContainerLevel1_c50892:not(.gemContainerActive_c50892) {
    background: #474464;
    border-color: #202024
}

.gemContainerLevel2_c50892 {
    background: #474464;
    border-color: #211e40
}

.gemContainerActive_c50892.gemContainerLevel2_c50892 {
    background: var(--guild-boosting-pink-refresh);
    border-color: #202024
}

.gemContainerLevel3_c50892 {
    background: #474464;
    border-color: #201d3d
}

.gemContainerActive_c50892.gemContainerLevel3_c50892 {
    background: var(--guild-boosting-pink-refresh);
    border-color: #202024
}

.theme-light .progressBarInactive_c50892 {
    background: #fff
}

.theme-light .gemContainerActive_c50892.gemContainerLevel1_c50892 {
    border-color: #d8d6de
}

.theme-light .gemContainerLevel1_c50892:not(.gemContainerActive_c50892) {
    background: #fff;
    border-color: #d8d6de
}

.theme-light .gemContainerLevel2_c50892 {
    background: #fff;
    border-color: #d4d1dc
}

.theme-light .gemContainerActive_c50892.gemContainerLevel2_c50892 {
    background: var(--guild-boosting-pink-refresh);
    border-color: #d8d6de
}

.theme-light .gemContainerLevel3_c50892 {
    background: #fff;
    border-color: #d5d2dc
}

.theme-light .gemContainerActive_c50892.gemContainerLevel3_c50892 {
    background: var(--guild-boosting-pink-refresh);
    border-color: #d8d6de
}

.cardBody_c50892 {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    padding: var(--space-24)
}

.cardTitleRow_c50892 {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.cardTitle_c50892 {
    flex-shrink: 0
}

.boostsBadge_c50892 {
    align-items: center;
    background: var(--background-mod-subtle);
    border-radius: var(--radius-sm);
    color: #aaaab1;
    display: flex;
    gap: var(--space-4);
    height: 30px;
    padding: 0 var(--space-8)
}

.theme-light .boostsBadge_c50892 {
    color: var(--text-muted)
}

.cardTitleInactive_c50892 {
    color: #94959c
}

.theme-light .cardTitleInactive_c50892 {
    color: var(--text-muted)
}

.perkRowInactive_c50892 {
    color: #94959c
}

.theme-light .perkRowInactive_c50892 {
    color: var(--text-muted)
}

.andMoreText_c50892 {
    color: #94959c
}

.theme-light .andMoreText_c50892 {
    color: var(--text-muted)
}

.perksContainer_c50892 {
    display: flex;
    flex-direction: column;
    gap: var(--space-12)
}

.perkRow_c50892 {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.perkIcon_c50892 {
    flex-shrink: 0;
    height: 20px;
    width: 20px
}

@media (max-width:1100px) {
    .wrapper_c50892 {
        flex-direction: column
    }

    .card_c50892 {
        flex: 1 1 auto
    }
}

.wrapper__65e57 {
    gap: 32px;
    z-index: 2
}

.headerSection__65e57,
.wrapper__65e57 {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%
}

.headerSection__65e57 {
    gap: 4px;
    text-align: center;
    z-index: 1
}

.heading__65e57 {
    color: var(--text-default);
    font-size: 32px;
    line-height: 40px
}

.subheading__65e57 {
    color: #aaaab1;
    font-size: 16px;
    line-height: 20px
}

.theme-light .subheading__65e57 {
    color: var(--text-muted)
}

.subheading__65e57 a {
    color: #5197ed;
    text-decoration: none
}

.subheading__65e57 a:hover {
    text-decoration: underline
}

.cardsContainer__65e57 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 100%
}

.cardsContainer__65e57:has(>:first-child:last-child) .card__65e57,
.cardsContainer__65e57:has(>:nth-child(2):last-child) .card__65e57,
.cardsContainer__65e57:has(>:nth-child(3):last-child) .card__65e57 {
    flex-grow: 1
}

.card__65e57 {
    align-items: center;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background: radial-gradient(ellipse 355px 208px at 50% -31.5px, rgba(86, 22, 138, .5) 0, rgba(86, 22, 138, 0) 100%), hsla(240, 4%, 61%, .08);
    border: 1px solid hsla(240, 4%, 61%, .12);
    border-radius: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(33.33333% - 16px);
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    transform: translateZ(0);
    transition: box-shadow .2s ease-out;
    will-change: transform
}

.card__65e57:focus-within,
.card__65e57:hover {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .24)
}

.full-motion .card__65e57 {
    transition: box-shadow .2s ease-out, transform .2s ease-out
}

.full-motion .card__65e57:focus-within,
.full-motion .card__65e57:hover {
    transform: translate3d(0, -4px, 0)
}

.cardVisible__65e57 {
    opacity: 1
}

.intObserver__65e57 {
    bottom: 0;
    height: 1px;
    inset-inline-start: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 1px
}

.illustrationWrapper__65e57 {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
    width: 250px
}

.illustration__65e57 {
    -o-object-fit: contain;
    object-fit: contain;
    transform-origin: center center
}

.animatedAsset__65e57,
.illustration__65e57 {
    height: 100%;
    width: 100%
}

.content__65e57 {
    gap: 24px;
    position: relative;
    z-index: 1
}

.content__65e57,
.textContent__65e57 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%
}

.textContent__65e57 {
    gap: 4px;
    text-align: center
}

.title__65e57 {
    color: #efeff0;
    font-size: 20px;
    line-height: 24px
}

.theme-light .title__65e57 {
    color: var(--text-default)
}

.description__65e57 {
    color: #aaaab1;
    font-size: 16px;
    line-height: 20px
}

.theme-light .description__65e57 {
    color: var(--text-muted)
}

.badges__65e57 {
    gap: 12px
}

.badge__65e57,
.badges__65e57 {
    align-items: center;
    display: flex
}

.badge__65e57 {
    background: hsla(240, 4%, 61%, .08);
    border: 1px solid hsla(240, 4%, 61%, .04);
    border-radius: 8px;
    gap: 4px;
    justify-content: center;
    padding: 6px 12px
}

.badgeText__65e57 {
    color: #94959c;
    font-size: 14px;
    line-height: 18px
}

.theme-light .badgeText__65e57 {
    color: var(--text-muted)
}

.enabledBadge__65e57 {
    color: #53ac66;
    font-size: 14px;
    line-height: 18px
}

.buttonsContainer__65e57 {
    bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    inset-inline-end: 24px;
    inset-inline-start: 24px;
    pointer-events: none;
    position: absolute
}

.card__65e57:focus-within .buttonsContainer__65e57,
.card__65e57:hover .buttonsContainer__65e57 {
    pointer-events: auto
}

.button__65e57 {
    flex: 1 1 0
}

.typeBadge__65e57 {
    inset-inline-end: 16px;
    position: absolute;
    top: 16px
}

@media (max-width:1100px) {
    .card__65e57 {
        flex: 0 0 100%
    }
}

.wrapper__0a9d0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-48);
    width: 100%
}

.heading__0a9d0 {
    text-align: center
}

.tableWrapper__0a9d0 {
    position: relative;
    width: 100%
}

.table__0a9d0 {
    flex-direction: column;
    width: 100%
}

.row__0a9d0,
.table__0a9d0 {
    display: flex
}

.row__0a9d0 {
    align-items: center;
    border-bottom: 1px solid var(--border-normal);
    padding: var(--space-16) 0
}

.lastRow__0a9d0 {
    border-bottom: none
}

.headerRow__0a9d0 {
    align-items: flex-start
}

.cell__0a9d0 {
    flex: 1 1 0;
    min-width: 0;
    padding: 0 var(--space-16)
}

.perkCell__0a9d0 {
    text-align: start
}

.tierCell__0a9d0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.checkIcon__0a9d0 {
    color: var(--text-strong);
    display: block
}

.xIcon__0a9d0 {
    color: var(--interactive-muted);
    display: block
}

.recommendedTierHighlight__0a9d0 {
    border: 2px solid var(--guild-boosting-pink-refresh);
    border-radius: var(--radius-lg);
    bottom: -20px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    width: 20%
}

.recommendedTierHighlightTier2__0a9d0 {
    inset-inline-end: 20%
}

.recommendedTierHighlightTier3__0a9d0 {
    inset-inline-end: 0
}

.recommendedTierHighlightTag__0a9d0 {
    background: var(--guild-boosting-pink-refresh);
    border-radius: var(--radius-sm);
    inset-inline-start: 50%;
    padding: var(--space-4) var(--space-8);
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: translate(-50%, -50%);
    white-space: nowrap
}

@media (max-width:768px) {
    .cell__0a9d0 {
        padding: 0 var(--space-8)
    }
}

@media (max-width:600px) {
    .wrapper__0a9d0 {
        gap: var(--space-24)
    }

    .row__0a9d0 {
        padding: var(--space-12) 0
    }

    .cell__0a9d0 {
        padding: 0 var(--space-4)
    }

    .headerRow__0a9d0 .tierCell__0a9d0>:last-child {
        display: none
    }
}

.buttonHighlighted__5d39a {
    background: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%)
}

.button__5d39a {
    align-items: center;
    display: flex
}

.buttonIcon__5d39a {
    margin-inline-end: 4px
}

.wrapper__9ed0b {
    inset-inline-start: 0;
    isolation: isolate;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%;
    will-change: transform;
    z-index: 10
}

.innerWrapper__9ed0b,
.wrapper__9ed0b {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center
}

.innerWrapper__9ed0b {
    align-items: center;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: hsla(0, 0%, 100%, .17);
    border: 1px solid hsla(0, 0%, 100%, .16);
    border-radius: 16px;
    box-sizing: border-box;
    gap: 40px;
    margin-bottom: 36px;
    padding: 12px;
    pointer-events: all;
    position: relative;
    transform: translateZ(0)
}

.theme-light .innerWrapper__9ed0b {
    background-color: rgba(0, 0, 0, .08);
    border-color: rgba(0, 0, 0, .1)
}

.guildInfo__9ed0b {
    align-items: center;
    display: flex;
    gap: 8px
}

.guildIcon__9ed0b {
    border: 1px solid hsla(0, 0%, 100%, .16);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-low);
    flex: 0 0 auto
}

.theme-light .guildIcon__9ed0b {
    border-color: rgba(0, 0, 0, .1)
}

.ctaButton__9ed0b {
    flex: 0 0 auto
}

.guildName__9ed0b {
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.theme-light .guildName__9ed0b {
    color: var(--primary-800)
}

.container__040eb {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-high);
    cursor: pointer;
    display: grid;
    margin: 0 auto var(--space-32);
    max-width: 770px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.thumbnail__040eb {
    display: block;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.overlay__040eb {
    background: radial-gradient(ellipse at center, rgba(25, 22, 58, .2) 0, rgba(25, 22, 58, .9) 100%)
}

.overlay__040eb,
.playButton__040eb {
    inset: 0;
    pointer-events: none;
    position: absolute
}

.playButton__040eb {
    align-items: center;
    display: flex;
    justify-content: center
}

.premiumTooltipFooterBackground__7d7fe {
    background: linear-gradient(90deg, #b473f5, #e292aa);
    width: "100%"
}

.tooltipBodyContainer__7d7fe {
    padding: 8px 12px;
    text-align: center
}

.tooltipPremiumFooterContainer__7d7fe {
    align-items: center;
    background: linear-gradient(90deg, #b473f5, #e292aa);
    border-radius: 0 0 5px 5px;
    color: #fff;
    display: flex;
    justify-content: center
}

.tooltipRemovePadding__7d7fe {
    padding: 0
}

.gemIcon__7d7fe {
    margin-top: 2px;
    margin-inline-start: -4px
}

.tooltipPremiumFooterSegment__7d7fe {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    padding: 4px;
    text-align: center
}

.tooltipPremiumFooterTierSegment__7d7fe {
    border-inline-end: 1px solid;
    border-color: var(--background-surface-high)
}

.clanBadgeContainer__7d7fe img {
    margin: 0
}

.categoryItem_b9ee0c {
    cursor: pointer
}

.categoryItemGuildCategory_b9ee0c,
.categoryItemPackCategory_b9ee0c {
    height: var(--custom-emoji-picker-constants-guild-category-icon-size);
    margin-bottom: var(--custom-emoji-picker-constants-guild-category-icon-margin-verical);
    position: relative;
    width: var(--custom-emoji-picker-constants-guild-category-icon-size)
}

.categoryItemGuildCategory_b9ee0c,
.categoryItemPackCategory_b9ee0c {}

.categoryItemDefaultCategory_b9ee0c {
    border-radius: 4px;
    height: var(--custom-emoji-picker-constants-unicode-category-icon-size);
    margin-bottom: var(--custom-emoji-picker-constants-unicode-category-icon-margin-vertical);
    padding: var(--custom-emoji-picker-constants-unicode-category-icon-padding);
    transition: background-color .1s ease-in-out;
    width: var(--custom-emoji-picker-constants-unicode-category-icon-size)
}

.categoryItemDefaultCategory_b9ee0c:hover {
    background-color: var(--interactive-background-hover)
}

.categoryItemDefaultCategory_b9ee0c:hover .categoryIcon_b9ee0c {
    color: var(--interactive-text-hover)
}

.categoryItemRecentEmoji_b9ee0c {
    margin-bottom: var(--custom-emoji-picker-constants-guild-category-icon-margin-verical)
}

.categoryItemDefaultCategorySelected_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover {
    background-color: var(--background-base-low)
}

.categoryItemDefaultCategorySelected_b9ee0c .categoryIcon_b9ee0c,
.categoryItemDefaultCategorySelected_b9ee0c:hover .categoryIcon_b9ee0c {
    color: var(--interactive-text-active)
}

.categoryIcon_b9ee0c {
    color: var(--interactive-text-default)
}

.guildCategorySeparator_b9ee0c {
    border: none;
    border-bottom: var(--custom-emoji-picker-constants-category-separator-size) solid var(--border-subtle);
    margin: var(--custom-emoji-picker-constants-category-separator-margin-vertical) 0
}

.theme-light .categoryItemDefaultCategorySelected_b9ee0c .categoryIcon_b9ee0c,
.theme-light .categoryItemDefaultCategorySelected_b9ee0c:hover .categoryIcon_b9ee0c {
    color: var(--interactive-text-active)
}

.unicodeShortcut_b9ee0c {
    align-items: center;
    background: inherit;
    border-top: 1px solid var(--border-normal);
    bottom: 0;
    box-sizing: border-box;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    height: var(--custom-emoji-picker-constants-unicode-category-shortcut-height);
    inset-inline-start: 0;
    justify-content: center;
    opacity: 1;
    position: absolute;
    width: 100%
}

.full-motion .unicodeShortcut_b9ee0c {
    transition: opacity .1s, transform .1s
}

.unicodeShortcut_b9ee0c:hover {
    color: var(--interactive-text-hover)
}

.unicodeShortcutInvisible_b9ee0c {
    opacity: 0;
    transform: translateY(var(--custom-emoji-picker-constants-unicode-category-shortcut-height))
}

.hideUnicodeShortcut_b9ee0c {
    display: none
}

.enable-forced-colors .unicodeShortcut_b9ee0c {
    background-color: ButtonFace;
    border-top: 1px solid CanvasText;
    color: ButtonText;
    height: calc(var(--custom-emoji-picker-constants-unicode-category-shortcut-height) - 1px)
}

.enable-forced-colors .categoryItemDefaultCategory_b9ee0c,
.enable-forced-colors .categoryItemGuildCategory_b9ee0c {
    border: 1px solid Canvas;
    border-radius: 4px;
    transition: none
}

.enable-forced-colors .categoryItemDefaultCategory_b9ee0c .categoryIcon_b9ee0c,
.enable-forced-colors .categoryItemGuildCategory_b9ee0c .categoryIcon_b9ee0c {
    color: ButtonText
}

.enable-forced-colors .categoryItemDefaultCategory_b9ee0c:hover,
.enable-forced-colors .categoryItemGuildCategory_b9ee0c:hover {
    background: ButtonFace;
    border-color: ButtonText
}

.enable-forced-colors .categoryItemDefaultCategorySelected_b9ee0c,
.enable-forced-colors .categoryItemDefaultCategorySelected_b9ee0c:hover {
    background-color: HighlightText;
    border-color: Highlight
}

.enable-forced-colors .categoryItemDefaultCategorySelected_b9ee0c .categoryIcon_b9ee0c,
.enable-forced-colors .categoryItemDefaultCategorySelected_b9ee0c:hover .categoryIcon_b9ee0c {
    color: Highlight
}

.guildEmojiSectionItems_b9ee0c {
    position: relative
}

.guildEmojiSectionHighlighted_b9ee0c:before {
    content: "";
    position: absolute;
    top: -4px;
    inset-inline: -8px;
    bottom: 0
}

.theme-dark .guildEmojiSectionHighlighted_b9ee0c:before {
    background: linear-gradient(90deg, #503572, #673471 50%, #623e55)
}

.theme-light .guildEmojiSectionHighlighted_b9ee0c:before {
    background: linear-gradient(90deg, #d7c6ec, #e7c5ea 50%, #e3ccd9)
}

.wrapper_ac2cfb {
    background-color: var(--background-base-lowest);
    border-radius: 4px;
    color: var(--text-default);
    display: flex;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    margin: 8px 8px 0;
    padding: 10px 8px 8px
}

.icon_ac2cfb {
    color: var(--icon-feedback-critical);
    height: 16px;
    min-width: var(--custom-emoji-picker-constants-emoji-size)
}

.close_ac2cfb {
    color: var(--interactive-text-default);
    cursor: pointer;
    height: 14px;
    width: 14px
}

.close_ac2cfb:hover {
    color: var(--interactive-text-hover)
}

.content_ac2cfb {
    flex: 1 1 auto
}

@value iconSize 20px;

.tooltip__0d242 {
    max-width: 275px
}

.tooltipContainer__0d242 {
    justify-content: center
}

.tooltipContainer__0d242,
.tooltipHeadingContainer__0d242 {
    align-items: center;
    display: flex
}

.nitroWheel__0d242 {
    padding-inline-end: 4px
}

.label__0d242:focus-visible {
    box-shadow: 0 0 8px var(--brand-500)
}

.label__0d242 {
    background: var(--background-base-lowest);
    border-radius: var(--radius-lg);
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    height: 20px;
    overflow: hidden;
    padding: 6px;
    position: relative;
    transition: background .25s ease-out;
    width: 20px
}

.labelChecked__0d242 {
    background: var(--brand-500);
    box-shadow: unset
}

.icon__0d242 {
    opacity: 1;
    position: absolute;
    transition: opacity .3s
}

.emojiErrorItem__67954 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: var(--radius-xs);
    display: flex;
    justify-content: center;
    padding: 16px
}

.fileIcon__67954 {
    margin-inline-end: 18px
}

.fileName__67954 {
    color: var(--text-default);
    font-size: 16px;
    margin-bottom: 4px;
    max-width: 256px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
    white-space: nowrap
}

.fileInfo__67954 {
    flex: 1
}

.fileInput__46231 {
    display: none
}

.diversitySelector_a45a2a {
    position: relative
}

.diversitySelectorButton_a45a2a {
    cursor: pointer;
    height: var(--custom-emoji-picker-constants-diversity-emoji-size);
    padding: var(--custom-emoji-picker-constants-diversity-emoji-container-padding-vertical) var(--custom-emoji-picker-constants-diversity-emoji-container-padding-horizontal);
    width: var(--custom-emoji-picker-constants-diversity-emoji-size)
}

.diversitySelectorOptions_a45a2a {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    inset-inline-end: -1px;
    position: absolute;
    top: -1px
}

.diversityEmojiItem_a45a2a {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: var(--custom-emoji-picker-constants-diversity-emoji-size);
    padding: var(--custom-emoji-picker-constants-diversity-emoji-container-padding-vertical) var(--custom-emoji-picker-constants-diversity-emoji-container-padding-horizontal);
    transition: background-color .1s ease-in-out;
    width: var(--custom-emoji-picker-constants-diversity-emoji-size)
}

.diversityEmojiItem_a45a2a:hover {
    background-color: var(--interactive-background-hover)
}

.diversityEmojiItemImage_a45a2a {
    height: var(--custom-emoji-picker-constants-diversity-emoji-size);
    width: var(--custom-emoji-picker-constants-diversity-emoji-size)
}

.enable-forced-colors .diversitySelectorButton_a45a2a {
    background-color: HighlightText;
    border: 1px solid Highlight;
    border-radius: 4px;
    padding: 2px
}

.enable-forced-colors .diversityEmojiItem_a45a2a {
    background-color: ButtonFace;
    border: 1px solid ButtonFace;
    border-radius: 4px
}

.enable-forced-colors .diversityEmojiItem_a45a2a:hover {
    border-color: ButtonText
}

.wrapper_c0e32c {
    position: relative;
    transition: box-shadow .2s ease-out
}

.wrapper_c0e32c,
.wrapper_c0e32c.isBurstReactionPicker_c0e32c {
    border-radius: var(--custom-emoji-picker-border-radius)
}

.wrapper_c0e32c.isBurstReactionPicker_c0e32c {
    box-shadow: 0 0 0 2px var(--background-brand)
}

.wrapper_c0e32c.isBurstReactionPicker_c0e32c:before {
    box-shadow: 0 0 100px var(--background-brand);
    content: "";
    height: 100%;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.high-contrast-mode .wrapper_c0e32c:not(.emojiPickerHasTabWrapper_c0e32c) {
    border: 1px solid var(--border-normal);
    contain: content
}

.emojiPicker_c0e32c {
    background-color: var(--background-surface-high);
    border-end-end-radius: var(--custom-emoji-picker-border-radius);
    border-end-start-radius: var(--custom-emoji-picker-border-radius);
    box-shadow: var(--shadow-border), var(--shadow-high);
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto 1fr auto;
    height: var(--custom-emoji-picker-constants-emoji-picker-height);
    overflow: hidden;
    width: var(--custom-emoji-picker-constants-min-emoji-picker-width)
}

.emojiPickerHasTabWrapper_c0e32c .emojiPicker_c0e32c {
    background-color: transparent;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    box-shadow: none;
    flex: 1 1 auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    width: auto
}

.header_c0e32c {
    align-items: center;
    background-color: var(--background-surface-high);
    border-bottom: 1px solid var(--border-subtle);
    border-start-end-radius: var(--custom-emoji-picker-border-radius);
    border-start-start-radius: var(--custom-emoji-picker-border-radius);
    box-shadow: none;
    display: flex;
    gap: var(--space-12);
    grid-column: 1/3;
    margin: 0 -1px;
    padding: var(--custom-gif-picker-gutter-size);
    padding-top: var(--space-16);
    position: relative;
    z-index: 100
}

.emojiPickerHasTabWrapper_c0e32c .header_c0e32c {
    background-color: transparent;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    margin: 0;
    padding: 0 16px 16px
}

.isBurstReactionPicker_c0e32c .header_c0e32c {
    margin: 0
}

.emojiPickerHasTabWrapper_c0e32c .header_c0e32c {
    padding: var(--custom-gif-picker-gutter-size)
}

.diversitySelector_c0e32c {
    grid-column: 2/3
}

.categoryList_c0e32c {
    border-end-start-radius: var(--custom-emoji-picker-border-radius);
    bottom: 0;
    inset-inline-start: 0;
    overflow: hidden;
    position: absolute;
    top: 69px;
    width: 48px
}

.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
    top: 53px
}

.bodyWrapper_c0e32c {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-rows: auto 1fr;
    position: relative
}

.emojiPickerListWrapper_c0e32c {
    grid-row: 2/2;
    overflow: hidden;
    position: relative
}

.inspector_c0e32c {
    grid-column: 2/3;
    grid-row: 3/4
}

.enable-forced-colors .header_c0e32c {
    border-bottom: 1px solid CanvasText
}

@media (max-width:485px) {
    .emojiPicker_c0e32c {
        width: 350px
    }
}

.inspector_aeaaeb {
    align-items: center;
    background-color: var(--background-base-lower);
    border-top: 1px solid var(--border-normal);
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: var(--custom-expression-picker-constants-expression-picker-inspector-bar-height);
    overflow: hidden;
    padding: 0 16px;
    width: 100%
}

.graphicPrimary_aeaaeb {
    height: var(--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-primary-dimensions);
    width: var(--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-primary-dimensions)
}

.graphicSecondary_aeaaeb {
    height: var(--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-secondary-dimensions);
    margin-inline-start: 8px;
    width: var(--custom-expression-picker-constants-expression-picker-inspector-bar-graphic-secondary-dimensions)
}

.textWrapper_aeaaeb {
    flex: 1;
    margin-inline-start: 8px;
    overflow: hidden
}

.titlePrimary_aeaaeb,
.titleSecondary_aeaaeb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.titleSecondary_aeaaeb {
    color: var(--interactive-text-default)
}

.favorite_aeaaeb {
    margin-inline-end: 3px;
    margin-bottom: -1px
}

.badgeLabel_aeaaeb {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 4px 8px;
    text-transform: uppercase
}

.topGuildEmojiBadge_aeaaeb {
    background: linear-gradient(268.26deg, #bf5151, #db803f 102.45%)
}

.newlyAddedBadge_aeaaeb {
    background: linear-gradient(268.26deg, #097d8d, #60a654 102.45%)
}

.newlyAddedBadgeIcon_aeaaeb {
    color: #fff;
    height: 14px;
    width: 14px
}

.enable-forced-colors .inspector_aeaaeb {
    border-top: 1px solid CanvasText
}

.emoji__045fa {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.glyphEmoji__045fa {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap
}

.icon__045fa {
    height: 100%;
    transform-origin: 50% 50%;
    width: 100%;
    fill: var(--interactive-text-default)
}
