.closeButton__3bf54 {
    inset-inline-end: 4px;
    position: absolute;
    top: 12px
}

.upsellImage__3bf54 {
    background-image: url(/assets/7a8cfb4e8b5926c9.svg);
    background-size: cover;
    height: 120px;
    margin: 0 auto 32px;
    width: 265px
}

.upsellImageWithTrialOffer__3bf54 {
    margin-top: 24px
}

.premiumTrialBadge__3bf54 {
    inset-inline-start: 50%;
    position: absolute;
    top: 20px;
    transform: translateX(-50%)
}

.bodyText__3bf54 {
    color: var(--interactive-text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px
}

.perksList__3bf54 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    margin: 16px 0
}

.perkIconGuild__3bf54 {
    color: var(--guild-boosting-pink)
}

.perkIconUpload__3bf54 {
    color: var(--premium-perk-yellow)
}

.perkIconStream__3bf54 {
    color: var(--premium-perk-dark-blue)
}

.perkIconChatPerks__3bf54 {
    color: var(--brand-400)
}

.contentWrapper__65b48 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0
}

.content__65b48 {
    overflow: hidden
}

.breadcrumbsWrapper__65b48 {
    border-bottom: 1px solid var(--border-subtle);
    padding: 0 16px 16px
}

.externalErrorBlock__65b48 {
    margin-top: 16px
}

.externalErrorBlock__65b48 a {
    text-decoration: underline
}

.helpMessageWrapper__65b48 {
    margin-bottom: 16px
}

.bodyWrapper__65b48 {
    position: relative
}

.copy__65b48 {
    color: var(--text-default)
}

.loadingWrapper__65b48 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 398px;
    padding-top: 16px
}
