.badge__436c9 {
    align-items: center;
    border-radius: 4px;
    color: var(--white);
    display: flex;
    gap: 6px;
    justify-content: center;
    padding: 4px 8px
}

.badgeIcon__436c9 {
    height: 16px;
    width: 16px
}

.productCard__8d9f6 {
    position: relative
}

.productCardClickable__8d9f6 {
    background: var(--background-base-lower);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden
}

.productThumbnail__8d9f6 {
    grid-area: 1/1/2/3;
    height: 190px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.productInfo__8d9f6 {
    align-self: start;
    display: flex;
    flex-direction: row;
    padding: 16px
}

.productInfoContent__8d9f6 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden
}

.productName__8d9f6 {
    max-width: 100%;
    overflow: hidden;
    padding-inline-end: 16px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.productDetails__8d9f6 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.dotSeparator__8d9f6 {
    background-color: var(--text-muted);
    border-radius: 50%;
    flex-shrink: 0;
    height: 4px;
    width: 4px
}

.productActionMenuButton__8d9f6 {
    cursor: pointer;
    height: 24px;
    margin-inline-end: -8px;
    width: 24px;
    z-index: 100
}

.productActionMenuButton__8d9f6 .productActionMenuIcon__8d9f6 {
    color: var(--interactive-text-default)
}

.productActionMenuButton__8d9f6:hover .productActionMenuIcon__8d9f6 {
    color: var(--interactive-text-hover)
}

.menuContainer__8d9f6 {
    margin-top: 6px
}

.disabled__8d9f6 {
    cursor: not-allowed;
    opacity: .5
}

.lineClamp2Plus__38db5 {
    white-space: pre-wrap
}

.lineClamp1__38db5 {
    white-space: nowrap
}

.draftBadge__53d72 {
    color: var(--primary-860);
    letter-spacing: .02em
}

.roleTag__9cd44,
.roleTagContainer__9cd44 {
    display: flex
}

.roleTag__9cd44 {
    align-items: center;
    background: var(--interactive-background-hover);
    border-radius: 4px;
    padding: 8px
}

.roleColor__9cd44 {
    border-radius: 6px;
    flex: none;
    height: 12px;
    width: 12px
}

.productCard__79d38 {
    border-radius: 8px;
    overflow: hidden;
    position: relative
}

.solidBackground__79d38 {
    background: var(--background-base-lower)
}

.theme-dark .opaqueBackground__79d38 {
    background: rgba(48, 51, 56, .85)
}

.theme-light .opaqueBackground__79d38 {
    background: var(--background-base-lower)
}

.productThumbnailContainer__79d38 {
    position: relative
}

.productThumbnail__79d38 {
    background: #2b2c31;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.purchaseToUnlockBadge__79d38 {
    align-items: center;
    background-color: rgba(43, 45, 49, .7);
    border-radius: 30px;
    color: var(--white);
    display: flex;
    gap: 6px;
    inset-inline-start: 50%;
    justify-content: center;
    padding: 4px 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .2s ease-in-out;
    white-space: nowrap
}

.draftBadge__79d38 {
    bottom: 10px;
    inset-inline-end: 8px;
    position: absolute
}

.productThumbnailContainer__79d38:hover .purchaseToUnlockBadge__79d38 {
    background-color: rgba(43, 45, 49, .45)
}

.lockIcon__79d38 {
    height: 16px;
    width: 16px
}

.productName__79d38 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.productDetails__79d38 {
    align-content: flex-start;
    border-bottom: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 16px 16px 0
}

.productDetailContent__79d38 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
    margin-inline-end: 24px;
    overflow: hidden
}

.purchaseDetails__79d38 {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 16px
}

.productActionButton__79d38 {
    grid-area: 1/2/3/3
}

.showMoreButton__79d38 {
    align-items: center;
    color: var(--interactive-text-hover);
    display: flex;
    gap: 4px;
    padding-top: 2px
}

.arrowIcon__79d38 {
    margin-bottom: -2px
}

.hasAction__79d38 {
    color: var(--text-link);
    cursor: pointer
}

.cardClickableContainer__79d38 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.normalStylesDefault_a1443c {
    --custom-poll-style-vote-background: var(--background-base-lowest);
    --custom-poll-style-vote-percentage: var(--interactive-background-active);
    --custom-poll-style-label: var(--text-default);
    --custom-poll-style-border: transparent
}

.normalStylesImageOnlyAnswers_a1443c {
    --custom-poll-style-image-background: var(--polls-normal-image-background)
}

.victorStyles_a1443c {
    --custom-poll-style-vote-percentage: var(--polls-victor-fill);
    --custom-poll-style-image-background: var(--background-feedback-warning);
    --custom-poll-style-border: var(--status-positive)
}

.votedStyles_a1443c {
    --custom-poll-style-vote-percentage: var(--polls-voted-fill);
    --custom-poll-style-image-background: var(--background-feedback-positive);
    --custom-poll-style-border: var(--control-brand-foreground)
}

.embed__98ba8 {
    align-self: start;
    border-radius: var(--radius-md);
    color: var(--white);
    container-type: inline-size;
    justify-self: start;
    max-width: 343px;
    overflow: hidden;
    width: 100%
}

.showVideoOnFocus__98ba8 {
    --custom-ease: cubic-bezier(0.4, 0, 1, 1)
}

.showVideoOnFocus__98ba8 .staticBanner__98ba8 {
    transition: opacity .3s var(--custom-ease)
}

.showVideoOnFocus__98ba8 .videoBanner__98ba8 {
    transition: visibility .3s var(--custom-ease);
    visibility: hidden
}

.showVideoOnFocus__98ba8:focus .staticBanner__98ba8,
.showVideoOnFocus__98ba8:focus-within .staticBanner__98ba8,
.showVideoOnFocus__98ba8:hover .staticBanner__98ba8 {
    opacity: 0
}

.showVideoOnFocus__98ba8:focus .videoBanner__98ba8,
.showVideoOnFocus__98ba8:focus-within .videoBanner__98ba8,
.showVideoOnFocus__98ba8:hover .videoBanner__98ba8 {
    visibility: visible
}

.bannerWrapper__98ba8 {
    height: 100%;
    position: relative
}

.bannerAspectRatioBot__98ba8 {
    aspect-ratio: 17/6
}

.bannerAspectRatioActivity__98ba8 {
    aspect-ratio: 16/9
}

.videoBanner__98ba8 {
    -o-object-fit: cover !important;
    object-fit: cover !important
}

.staticBanner__98ba8,
.videoBanner__98ba8 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}

.staticBanner__98ba8 {
    position: absolute;
    top: 0;
    width: 100%
}

.header__98ba8 {
    color: var(--app-message-embed-secondary-text)
}

.contentContainer__98ba8 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px
}

.contentWrapper__98ba8 {
    --custom-content-size: 64px;
    display: flex;
    flex: 1;
    gap: 12px;
    min-width: 0
}

.cursorPointer__98ba8 {
    cursor: pointer
}

.contentWrapperClickable__98ba8:hover .contentTitle__98ba8 {
    text-decoration: underline
}

.img__98ba8 {
    background-color: rgba(0, 0, 0, .64);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius-md);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    height: var(--custom-content-size);
    width: var(--custom-content-size);

    @container (max-width: 270px) {
        display: none
    }
}

.content__98ba8 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    overflow: hidden
}

.contentInfoWrapper__98ba8 {
    color: var(--app-message-embed-secondary-text)
}

.actionWrapper__98ba8 {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;

    @container (max-width: 300px) {
        flex-direction: column
    }
}

.actionWrapper__98ba8>.buttonWithPossibleDisabledTextWrapper__98ba8 {
    flex: 50%
}

.actionWrapper__98ba8.actionWrapperPrimaryFirst__98ba8 {
    flex-direction: row;

    @container (max-width: 300px) {
        flex-direction: column
    }
}

.buttonWithPossibleDisabledTextWrapper__98ba8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.disabledReason__98ba8 {
    color: var(--app-message-embed-secondary-text);
    text-align: center
}

.wrapper__748d7 {
    display: flex;
    gap: 4px
}

:root {
    --custom-app-message-embed-base-info-gap: 4px;
    --custom-app-message-embed-base-info-top: calc(var(--custom-app-message-embed-base-info-gap) - 2px)
}

.description__1f7ec {
    margin-top: var(--custom-app-message-embed-base-info-top)
}

.description__1f7ec strong {
    font-weight: 500
}

.tagline__1f7ec {
    align-items: center;
    display: flex;
    gap: 4px;
    padding-top: var(--custom-app-message-embed-base-info-gap)
}

.tag__1f7ec:not(:first-of-type):before {
    content: "∙";
    padding: 0 3px
}

.wrapper__727be {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    container-type: inline-size;
    max-width: min(601px, 100%);
    overflow: hidden;
    padding: 16px;
    width: 100%
}

.header__727be {
    justify-content: space-between;
    padding-bottom: 8px
}

.header__727be,
.headerTitle__727be {
    align-items: center;
    display: flex
}

.headerTitle__727be {
    gap: 4px
}

.content__727be {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

    @container (max-width: 400px) {
        flex-direction: column
    }
}

.contentTextWrapper__727be {
    display: flex;
    flex-basis: min-content;
    flex-grow: 10;
    flex-shrink: 10;
    gap: 16px
}

.contentText__727be {
    display: flex;
    flex-direction: column
}

.appIcon__727be {
    --custom-size: 44px;
    border-radius: var(--custom-size);
    height: var(--custom-size);
    -o-object-fit: cover;
    object-fit: cover;
    width: var(--custom-size)
}

.description__727be {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden
}

.openStoreButton__727be {
    width: 124px;

    @container (max-width: 400px) {
        width: 100%
    }
}

.skuPurchaseButtons__727be {
    align-items: center;
    display: flex;
    flex-basis: min-content;
    flex-grow: 1;
    gap: 8px;
    max-width: 100%;
    overflow: hidden;

    @container (max-width: 400px) {
        flex-direction: column-reverse;

        button {
            width: 100%
        }
    }
}

.skuPurchaseButtons__727be>button {
    flex-grow: 1
}

.container_cacd02 {
    flex-wrap: wrap;
    justify-content: flex-start
}

.bumpBox_cacd02,
.container_cacd02 {
    align-items: center;
    display: flex
}

.bumpBox_cacd02 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    flex: 0 0 max-content;
    margin-inline-end: 16px;
    padding: 8px
}

.icon_cacd02 {
    color: var(--text-muted);
    flex: 0 0 16px
}

.icon_cacd02,
.publish_cacd02,
.tagline_cacd02 {
    margin-inline-end: 8px
}

.publish_cacd02 {
    cursor: pointer
}

.hidePermanently_cacd02 {
    cursor: pointer;
    line-height: 24px;
    transition: .2s linear
}

.hidePermanently_cacd02:focus,
.hidePermanently_cacd02:hover {
    color: var(--text-default)
}

.closeIcon_cacd02 {
    color: var(--icon-muted);
    cursor: pointer;
    display: block
}

.closeIcon_cacd02:focus,
.closeIcon_cacd02:hover {
    color: var(--interactive-text-hover)
}

.closeIcon_cacd02:active {
    color: var(--interactive-text-active)
}

.container__7473d {
    background: var(--background-mod-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 432px;
    padding: var(--space-12);
    width: 100%
}

.container__7473d,
.themePreviewContainer__7473d {
    align-items: center;
    display: flex;
    gap: var(--space-12)
}

.themePreviewContainer__7473d {
    flex-grow: 2;
    justify-content: flex-start
}

.colorPreview__7473d {
    border-radius: var(--radius-sm);
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    overflow: hidden;
    width: 60px
}

.sharedByContainer__7473d {
    display: flex;
    flex-direction: column;
    gap: var(--space-6)
}

.sharedTitle__7473d {
    align-items: center;
    display: flex;
    gap: var(--space-6)
}

.sharedBy__7473d {
    flex-wrap: wrap
}

.avatarContainer__7473d,
.sharedBy__7473d {
    display: flex;
    gap: var(--space-4)
}

.avatarContainer__7473d {
    flex-wrap: nowrap
}

.lineClamp__0b48b {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.container_adb50a {
    background: var(--background-base-lower);
    border: 1px solid var(--message-highlight-background-hover);
    border-radius: 12px;
    box-shadow: var(--shadow-low);
    display: flex;
    gap: 24px;
    justify-content: space-between;
    padding: 16px;
    transition: background .3s
}

@media (max-width:1439px) {
    .container_adb50a {
        flex-direction: column-reverse;
        max-width: var(--custom-guild-shop-content-width-reduced)
    }

    .container_adb50a .coverImageContainer_adb50a,
    .container_adb50a .infoContainer_adb50a {
        max-width: none
    }
}

.coverImageContainer_adb50a {
    max-width: 655px;
    width: 100%
}

.coverImage_adb50a {
    aspect-ratio: 4;
    border-radius: 12px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.infoContainer_adb50a {
    display: flex;
    flex: 1;
    max-width: 500px
}

.infoContainerNoDescription_adb50a,
.showMoreButton_adb50a {
    align-items: center
}

.showMoreButton_adb50a {
    border-bottom: 1px solid var(--interactive-text-active);
    cursor: pointer;
    display: inline-flex;
    padding-bottom: 2px
}

.showMoreButton_adb50a:hover {
    opacity: .75;
    transition: .3s ease
}

.showMoreArrow_adb50a {
    color: var(--interactive-text-active);
    height: 16px;
    margin-inline-end: -3px;
    width: 16px
}

.guildShopEmbed__86fa6 {
    border-radius: 12px;
    max-width: 510px;
    min-height: 300px;
    min-width: 160px;
    padding: 16px;
    width: 100%
}

.theme-dark .guildShopEmbed__86fa6 {
    background-color: var(--background-base-lower)
}

.theme-light .guildShopEmbed__86fa6 {
    background-color: var(--background-mod-normal)
}

.spinnerContainer__86fa6 {
    align-items: center;
    display: flex;
    justify-content: center
}

.serverShopLabel__86fa6 {
    display: flex;
    gap: 4px
}

.serverShopLabelText__86fa6 {
    text-transform: uppercase
}

.guildShopEmbedFooter__86fa6 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%
}

.guildShopSummary__86fa6 {
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    height: 42px;
    justify-content: space-between;
    list-style-type: disc;
    padding-inline-start: 20px
}

.guildShopEmbedCta__86fa6 {
    margin-inline-start: auto
}

.guildShopEmbedCtaContent__86fa6 {
    display: flex;
    gap: 8px
}

.accessory__09bc1 {
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    gap: var(--space-4);
    justify-content: flex-start
}

.accessory__09bc1:hover {
    color: var(--interactive-text-hover)
}

.accessory__09bc1:hover .accessoryText__09bc1 {
    color: var(--interactive-text-hover)
}

.accessoryText__09bc1 {
    color: var(--interactive-text-default)
}

.toast__1562f {
    gap: var(--space-8)
}

.image_d93468 {
    border-radius: var(--radius-xs)
}

.image_d93468,
.video_d93468 {
    width: 100%
}

.media_d93468,
.mediaContainer_d93468 {
    border-radius: var(--radius-xs)
}

.mediaContainer_d93468 {
    background-color: var(--background-base-lower);
    margin-bottom: var(--space-16);
    margin-top: var(--space-12);
    padding: var(--space-16)
}

.container__122e4 {
    display: flex;
    width: 100%
}

.quote__122e4 {
    background-color: var(--border-subtle);
    border-radius: 2px;
    flex-shrink: 0;
    margin-inline-end: 12px;
    width: 4px
}

.content__122e4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%
}

.headerContainer__122e4 {
    align-items: center;
    align-self: flex-start;
    display: flex;
    gap: 4px;
    margin-bottom: 4px;
    margin-top: 2px
}

.headerIcon__122e4 {
    flex-shrink: 0
}

.headerText__122e4 {
    font-style: italic
}

.footerContainer__122e4 {
    align-items: center;
    align-self: flex-start;
    border-radius: 4px;
    color: var(--text-muted);
    cursor: pointer;
    display: flex;
    gap: 4px;
    margin-top: 4px;
    max-width: 100%;
    padding-bottom: 1px;
    padding-top: 1px
}

.footerContainer__122e4:hover {
    background-color: var(--interactive-background-hover)
}

.footerContainer__122e4:hover .footerText__122e4 {
    color: var(--interactive-text-hover)
}

.footerText__122e4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre
}

.originIcon__122e4 {
    border-radius: 4px;
    height: 16px;
    width: 16px
}

.wrapper_d5f3cd {
    background-color: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
    max-width: 432px;
    min-width: 160px;
    padding: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.header_d5f3cd {
    color: var(--interactive-text-default);
    font-weight: var(--font-weight-bold);
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.content_d5f3cd {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 16px
}

.guildIcon_d5f3cd {
    background-color: var(--background-mod-subtle);
    flex: 0 0 auto
}

.applicationIcon_d5f3cd {
    height: 48px;
    width: 48px
}

.guildIconJoined_d5f3cd {
    cursor: pointer
}

.guildIconImage_d5f3cd {
    background-color: var(--background-mod-subtle)
}

.guildIconImageJoined_d5f3cd {
    cursor: pointer
}

.inviteDestination_d5f3cd {
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.inviteDestinationJoined_d5f3cd {
    cursor: pointer
}

.inviteDestinationJoined_d5f3cd:hover {
    text-decoration: underline
}

.channel_d5f3cd {
    align-items: center;
    display: flex
}

.channelName_d5f3cd {
    flex: 1 1 auto;
    margin-inline-start: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.channelIcon_d5f3cd {
    color: var(--text-muted);
    flex: 0 0 auto
}

.status_d5f3cd {
    border-radius: 50%;
    display: block;
    flex: 0 0 auto;
    height: 8px;
    margin-inline-end: 4px;
    width: 8px
}

.statusWrapper_d5f3cd {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-flow: nowrap;
    min-width: 0
}

.statusOnline_d5f3cd {
    background-color: var(--green-360)
}

.statusOffline_d5f3cd {
    background-color: var(--primary-400)
}

.count_d5f3cd {
    color: var(--interactive-text-default);
    flex: 0 1 auto;
    margin-inline-end: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.count_d5f3cd:last-child {
    margin-inline-end: 0
}

.guildNameWrapper_d5f3cd {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    max-width: 100%;
    overflow: hidden
}

.guildName_d5f3cd {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.guildBadge_d5f3cd {
    flex: 0 0 auto;
    margin-inline-end: 8px
}

.guildInfo_d5f3cd {
    min-width: 1px
}

.guildDetail_d5f3cd {
    color: var(--interactive-text-default);
    font-size: 14px;
    line-height: 16px
}

.statusCounts_d5f3cd {
    align-items: center;
    -moz-column-gap: 12px;
    column-gap: 12px;
    display: flex;
    flex-flow: row wrap
}

.inviteSplash_d5f3cd {
    background-color: var(--background-mod-subtle);
    border-radius: 4px 4px 0 0;
    height: 64px;
    margin-top: -16px;
    margin-inline: -16px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative
}

.inviteSplashImage_d5f3cd {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
    transition: opacity .125s;
    width: 100%
}

.inviteSplashBadge_d5f3cd {
    inset-inline-end: 8px;
    position: absolute;
    top: 8px
}

.inviteSplashImageLoaded_d5f3cd {
    opacity: 1
}

.guildIconExpired_d5f3cd {
    align-items: center;
    background-color: var(--opacity-red-12);
    background-position: 50%;
    border: 1px solid var(--opacity-red-12);
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--icon-feedback-critical);
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px
}

.inviteDestinationExpired_d5f3cd {
    color: var(--text-feedback-critical);
    overflow: hidden;
    text-overflow: ellipsis
}

.buttonForNonMember_d5f3cd {
    display: block;
    margin-inline-start: 0;
    margin-top: 16px;
    width: 100%
}

@keyframes invite-button-resolving_d5f3cd {
    0% {
        transform: translate3d(calc(var(--custom-invite-button-resolving-background-width)*-1), 0, 0)
    }

    50% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(calc(var(--custom-invite-button-resolving-background-width)*-1), 0, 0)
    }
}

.resolvingWrapper_d5f3cd {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    overflow: hidden;
    width: 100%
}

.resolving_d5f3cd {
    flex: 1000 0 auto;
    height: 50px;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259' height='50' viewBox='6.122 5.864 259 50'%3E%3Cpath fill-rule='evenodd' d='M68.122 11.864h124a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3h-124a3 3 0 0 1-3-3v-14a3 3 0 0 1 3-3m0 24h194a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-194a3 3 0 0 1-3-3v-10a3 3 0 0 1 3-3m-42.77-30h11.54c6.687 0 9.112.696 11.556 2.003a13.63 13.63 0 0 1 5.67 5.67c1.31 2.447 2.004 4.87 2.004 11.557v11.54c0 6.687-.696 9.112-2.003 11.556a13.63 13.63 0 0 1-5.67 5.67c-2.447 1.31-4.87 2.004-11.557 2.004h-11.54c-6.687 0-9.112-.696-11.556-2.003a13.63 13.63 0 0 1-5.67-5.67c-1.31-2.447-2.004-4.87-2.004-11.557v-11.54c0-6.687.696-9.112 2.003-11.556a13.63 13.63 0 0 1 5.67-5.67c2.447-1.31 4.87-2.004 11.557-2.004'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259' height='50' viewBox='6.122 5.864 259 50'%3E%3Cpath fill-rule='evenodd' d='M68.122 11.864h124a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3h-124a3 3 0 0 1-3-3v-14a3 3 0 0 1 3-3m0 24h194a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-194a3 3 0 0 1-3-3v-10a3 3 0 0 1 3-3m-42.77-30h11.54c6.687 0 9.112.696 11.556 2.003a13.63 13.63 0 0 1 5.67 5.67c1.31 2.447 2.004 4.87 2.004 11.557v11.54c0 6.687-.696 9.112-2.003 11.556a13.63 13.63 0 0 1-5.67 5.67c-2.447 1.31-4.87 2.004-11.557 2.004h-11.54c-6.687 0-9.112-.696-11.556-2.003a13.63 13.63 0 0 1-5.67-5.67c-1.31-2.447-2.004-4.87-2.004-11.557v-11.54c0-6.687.696-9.112 2.003-11.556a13.63 13.63 0 0 1 5.67-5.67c2.447-1.31 4.87-2.004 11.557-2.004'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-type: luminance;
    position: relative;
    width: 259px
}

.resolvingBackground_d5f3cd {
    animation: invite-button-resolving_d5f3cd 4s ease-in-out infinite;
    bottom: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: calc(var(--custom-invite-button-resolving-background-width)*2)
}

.resolvingFakeButton_d5f3cd {
    border-radius: 3px;
    flex: 1 0 auto;
    height: 38px;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='38' viewBox='0 0 66 38'%3E%3Cpath d='M0 0h66v38H0z' style='fill:%23000;stroke:%23000'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='38' viewBox='0 0 66 38'%3E%3Cpath d='M0 0h66v38H0z' style='fill:%23000;stroke:%23000'/%3E%3C/svg%3E");
    mask-type: luminance;
    min-width: 66px;
    position: relative
}

.theme-dark .background-opacity-low .wrapper_d5f3cd {
    background: hsl(var(--primary-630-hsl)/.3)
}

.theme-dark .background-opacity-low .header_d5f3cd {
    text-shadow: 0 0 1px var(--primary-700), 1px 1px 0 var(--primary-700)
}

.theme-dark .background-opacity-low .button_d5f3cd {
    opacity: .8
}

.theme-dark .background-opacity-medium .wrapper_d5f3cd {
    background: hsl(var(--primary-630-hsl)/.5)
}

.theme-dark .background-opacity-medium .header_d5f3cd {
    text-shadow: 0 0 1px var(--primary-600), 1px 1px 0 var(--primary-600)
}

.theme-dark .background-opacity-medium .guildIcon_d5f3cd {
    opacity: .7
}

.theme-dark .background-opacity-medium .button_d5f3cd {
    opacity: .9
}

.theme-dark .background-opacity-high .wrapper_d5f3cd {
    background: hsl(var(--primary-630-hsl)/.6)
}

.theme-dark .overlay-unlocked .wrapper_d5f3cd {
    background-color: var(--background-base-lower)
}

.theme-dark .overlay-unlocked .header_d5f3cd {
    text-shadow: none
}

.theme-dark .overlay-unlocked .button_d5f3cd,
.theme-dark .overlay-unlocked .guildIcon_d5f3cd {
    opacity: 1
}

.images-light .resolvingBackground_d5f3cd {
    background-image: linear-gradient(to right, var(--primary-100), var(--primary-200), var(--primary-100))
}

.images-dark .resolvingBackground_d5f3cd {
    background-image: linear-gradient(to right, var(--primary-600), var(--primary-500), var(--primary-600))
}

.invalidBody__164c9 {
    align-items: center;
    display: flex;
    gap: 16px;
    max-width: 100%
}
