.confirmModal__1b38b {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px
}

.discordTag__1b38b {
    display: inline-grid;
    grid-auto-flow: column
}

.avatarIcon__1b38b {
    margin-inline-end: 3px
}

.username__1b38b {
    color: var(--text-strong);
    display: flex
}

.discriminator__1b38b {
    color: var(--text-default)
}

.fromToWrapper__1b38b {
    background: no-repeat 50% 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.from__1b38b,
.to__1b38b {
    border-radius: 50%
}

.from__1b38b {
    margin-inline-end: -27px;
    opacity: .3
}

.to__1b38b {
    position: relative;
    z-index: 1
}

@keyframes outgoing-call-pulse__3751b {
    0% {
        opacity: .2
    }

    50% {
        opacity: .9
    }

    to {
        opacity: .2
    }
}

.menuItem__3751b:hover .channelName__3751b {
    color: var(--text-strong)
}

.menuItem__3751b:hover .subtext__3751b {
    color: var(--text-strong)
}

.label__3751b,
.subtext__3751b {
    align-items: center;
    display: flex;
    gap: 4px
}

.ringing__3751b {
    animation: outgoing-call-pulse__3751b 1.25s ease-out infinite;
    opacity: .3
}

.channelName__3751b {
    color: var(--text-subtle);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.videoPaused_afb275 {
    align-items: center;
    display: flex;
    justify-content: start
}

.warningCircle_afb275 {
    margin-inline-end: 4px
}
