.pageContainer__8893c {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 32px;
    position: relative;
    width: 100%;
    z-index: 1
}

.placeholdersContainer__8893c {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    opacity: .3;
    overflow: hidden;
    z-index: 0
}

.guildIconContainer__8893c {
    margin-bottom: 16px;
    margin-top: 40px
}

.joinCtaTitle__8893c {
    color: var(--text-default);
    font-family: var(--font-display);
    max-width: 640px;
    text-align: center
}

.joinCtaTitle__8893c strong {
    color: var(--text-strong)
}

.joinCtaSubtitle__8893c {
    margin-bottom: 32px;
    margin-top: 8px;
    max-width: 640px
}

.tierPreviewsContainer__8893c {
    overflow-x: scroll;
    width: 100%
}

.tierPreviews__8893c {
    display: flex;
    flex-direction: row;
    gap: 16px
}

.badge__7ace6 {
    --background-feedback-notification: var(--brand-500)
}

.bar__68d31 {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    gap: 6px;
    padding: 6px 8px;
    width: 100%
}

.rewardTile__68d31 {
    border-radius: 4px;
    flex: 0 0 32px;
    height: 32px;
    min-width: 32px;
    overflow: hidden;
    width: 32px
}

.detailsButton__68d31 {
    flex: 0 0 auto;
    white-space: nowrap
}

.metaRow__68d31 {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    gap: 4px;
    min-width: 0;
    overflow: hidden
}

.promotedText__68d31,
.separator__68d31 {
    flex: 0 0 auto
}

.separator__68d31 {
    color: var(--text-muted);
    font-size: 10px;
    line-height: 1
}

.descriptionRow__68d31 {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    gap: 4px;
    min-width: 0;
    overflow: hidden
}

.description__68d31 {
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ctaButton__68d31 {
    flex: 0 0 auto;
    white-space: nowrap
}

.detailsPopout__68d31 {
    background-color: var(--background-surface-high);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-inline-start: 8px;
    padding: 16px;
    width: 350px
}

.detailsPopoutHeader__68d31 {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between
}

.detailsPopoutClose__68d31 {
    color: var(--interactive-text-default);
    cursor: pointer;
    flex: 0 0 auto;
    line-height: 0;
    opacity: .7
}

.detailsPopoutClose__68d31:hover {
    opacity: 1
}

.detailsPopoutBody__68d31 {
    align-items: center;
    display: flex;
    gap: 12px
}

.detailsIcon__68d31 {
    border-radius: 4px;
    flex: 0 0 48px;
    height: 48px;
    min-width: 48px;
    overflow: hidden;
    width: 48px
}

.desktopTooltip__7b565 {
    display: flex;
    padding: 4px 0;
    width: 100%
}

.infoIcon__7b565 {
    color: var(--white);
    margin-inline-end: 4px
}

.wrapper_ef0e9b {
    width: 100%
}

.percentCompleteWrapper_ef0e9b {
    display: flex
}

.percentCompleteLabel_ef0e9b {
    flex: 1 1 auto;
    text-align: end
}

.progressBar_ef0e9b {
    height: 4px;
    position: relative
}

.progressBar_ef0e9b:after {
    background-color: currentColor;
    border-radius: 4px;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%
}

.progressBarFill_ef0e9b {
    background-color: currentColor;
    border-radius: 4px;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.progressBarFill_ef0e9b:after {
    box-shadow: 0 0 8px currentColor;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%
}

.percentCompleteLabelOffset_ef0e9b,
.progressBarFill_ef0e9b {
    transition: width .3s ease-in-out
}
