.links_b5b79f {
    display: inline;
    overflow-wrap: break-word
}

.bullet_b5b79f {
    font-size: 10px;
    margin: 0 var(--space-4)
}

.bullet_b5b79f,
.moreButton_b5b79f {
    color: var(--text-muted)
}

.moreButton_b5b79f.active_b5b79f,
.moreButton_b5b79f:hover {
    color: var(--text-default)
}

.emptySearchResultsContainer_fffcb4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 24px 0
}

.searchBarContainer_fffcb4 {
    display: flex;
    position: relative
}
