.child__8d0ee {
    align-items: center;
    background: pink;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    height: 100px;
    justify-content: center;
    padding: 12px;
    width: 100px
}

.productCardBadge_b8a6bd {
    min-width: 0
}

.earlyAccessBadge_b8a6bd,
.productCardBadge_b8a6bd {
    flex: 1;
    max-width: -moz-fit-content;
    max-width: fit-content
}

.earlyAccessBadge_b8a6bd {
    align-items: center;
    border-radius: var(--radius-round);
    box-sizing: border-box;
    display: inline-flex;
    height: 20px;
    justify-content: center;
    padding: 2px 8px
}

.theme-dark .productCardBadge_b8a6bd {
    background-color: #fff;
    color: #000
}

.theme-dark .earlyAccessBadge_b8a6bd {
    background-color: var(--white);
    color: var(--black)
}

.theme-light .productCardBadge_b8a6bd {
    background-color: #000;
    color: #fff
}

.theme-light .earlyAccessBadge_b8a6bd {
    background-color: var(--badge-background-brand);
    color: var(--badge-text-brand)
}

.headerSection__1c228 {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: space-between
}

.partialOwnStateContainer__0d2da {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    opacity: .5
}

.partiallyOwnedDisclaimer__0d2da {
    margin-inline-start: -8px
}

.iconWrapper__0d2da {
    margin-top: 2px
}

.infoIcon__0d2da {
    color: var(--interactive-text-active);
    height: 16px;
    width: 16px
}

.container__4d61a {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
    --countdown-color: var(--background-accent)
}

.number__4d61a {
    background-color: var(--countdown-color, rgba(151, 66, 242, .5));
    border-radius: 4px;
    padding: 4px 6px
}

.delineator__4d61a {
    color: var(--countdown-color, rgba(151, 66, 242, .5));
    padding: 2px
}

.container__12f17 {
    border: .5px solid var(--white);
    border-radius: var(--radius-sm);
    display: inline-block;
    margin-bottom: 4px;
    padding: 0 6px
}

.darkText__12f17 {
    border-color: var(--black);
    color: var(--black)
}

.lightText__12f17 {
    border-color: var(--white);
    color: var(--white)
}

.countDownWrapper__46b37 {
    align-items: center;
    border-radius: 48px;
    bottom: 0;
    display: flex;
    font-family: var(--font-code);
    gap: 12px;
    height: 50px;
    inset-inline-start: calc(50% + 156px);
    justify-content: center;
    min-width: 350px;
    padding: 4px 32px;
    pointer-events: none;
    position: fixed;
    width: min(506px, 40vw);
    z-index: 100
}

.mobileWrapper__46b37 {
    inset-inline-start: 50%
}

.countdownIcon__46b37 {
    height: 40px;
    pointer-events: none
}

.countdownLabel__46b37 {
    color: #000;
    font-family: var(--font-headline);
    text-transform: uppercase
}

.countdownBody__46b37 {
    color: #000
}
