.moonIcon__1fc68 {
    align-items: center;
    background: hsla(229, 7%, 45%, .12);
    border-radius: 8px;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px
}

.scheduleEnabledSwitchWrapper__1fc68 {
    margin-inline-start: calc(var(--space-24)*-1)
}

.container__9c880 {
    max-width: 800px
}

.parentalControlsTeenRow__9c880 {
    margin-top: var(--space-24)
}

.divider__9c880 {
    margin: 0
}

.timeControlsHeader__9c880 {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-12)
}

.timeControlsHeader__9c880:hover .chevronWrapper__9c880 {
    background: var(--background-mod-strong, hsla(240, 4%, 61%, .16))
}

.timeControlsHeaderLeft__9c880 {
    align-items: center;
    display: flex;
    gap: var(--space-8)
}

.chevronWrapper__9c880 {
    align-items: center;
    background: var(--background-mod-subtle);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    color: var(--interactive-icon-default);
    display: flex;
    flex-shrink: 0;
    height: var(--space-32);
    justify-content: center;
    padding: var(--space-8);
    width: var(--space-32)
}

.chevronWrapper__9c880:hover {
    background: var(--background-mod-strong, hsla(240, 4%, 61%, .16));
    color: var(--interactive-text-hover)
}

.full-motion .chevron__9c880 {
    transition: transform .2s ease
}

.chevronExpanded__9c880 {
    transform: rotate(180deg)
}

.addScheduleButtonDisabled__9c880 {
    cursor: not-allowed
}

.actionButton_d9752c {
    align-items: center;
    background-color: var(--background-surface-highest);
    border: 1px solid var(--border-subtle);
    border-radius: 50%;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    margin-inline-start: 10px;
    width: 36px
}

.actionButton_d9752c:first-child {
    margin-inline-start: 0
}

.actionButton_d9752c:hover {
    color: var(--interactive-text-hover)
}

.actionButton_d9752c:active {
    background-color: var(--interactive-background-active);
    color: var(--interactive-text-active)
}

.actionButton_d9752c.disabled_d9752c {
    opacity: .3;
    pointer-events: none
}

.actionButton_d9752c.actionAccept_d9752c:hover {
    color: var(--icon-feedback-positive)
}

.actionButton_d9752c.actionDeny_d9752c:hover {
    color: var(--icon-feedback-critical)
}

.icon_d9752c {
    height: 20px;
    width: 20px
}

.enable-forced-colors .actionButton_d9752c {
    background-color: ButtonFace;
    border: 1px solid ButtonFace;
    color: ButtonText;
    forced-color-adjust: none
}

.enable-forced-colors .actionButton_d9752c:hover {
    border-color: ButtonText;
    color: ButtonText
}

.enable-forced-colors .actionButton_d9752c:active {
    background-color: HighlightText;
    border-color: Highlight;
    color: Highlight
}

.enable-forced-colors .actionButton_d9752c.disabled_d9752c {
    background-color: Canvas;
    border-color: GrayText;
    color: GrayText;
    opacity: 1
}

.avatar__1327d {
    flex-shrink: 0;
    margin-block: 0;
    margin-inline: 0 12px
}

.userPreview__1327d {
    display: flex;
    flex-direction: column;
    margin-inline-end: 16px;
    overflow: hidden
}

.container__1327d {
    align-items: center;
    display: flex;
    width: 100%
}

.userContainerWithTimestamp__1327d {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start
}

.tagContainer__1327d {
    align-items: flex-end;
    display: flex;
    margin-top: 2px;
    overflow: hidden
}

.username__1327d {
    color: var(--text-strong);
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: var(--font-weight-semibold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.discriminator__1327d {
    color: var(--text-default)
}

.timestampWithPreview__1327d {
    flex-grow: 1;
    flex-shrink: 0;
    margin-inline-start: 8px
}

.container_e65d0c {
    justify-content: space-between;
    width: 100%
}

.container_e65d0c,
.details_e65d0c {
    align-items: center;
    display: flex
}

.details_e65d0c {
    overflow: hidden
}

.actions_e65d0c {
    align-items: center;
    display: flex
}

.rowItem_a0365b {
    border-bottom: 1px solid var(--border-subtle);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    overflow: hidden;
    padding: 10px
}

.rowItem_a0365b.last_a0365b {
    border-bottom: none
}

.rowItem_a0365b.active_a0365b,
.rowItem_a0365b:hover {
    background: var(--interactive-background-hover);
    border-color: transparent;
    border-radius: var(--radius-md)
}

.container_d9914b {
    gap: var(--space-32);
    max-width: 800px
}

.box_d9914b,
.container_d9914b {
    display: flex;
    flex-direction: column
}

.box_d9914b {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-24)
}

@media (min-width:900px) {
    .box_d9914b {
        padding: 32px
    }
}

.linkingBanner_d9914b {
    align-items: center;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 32px
}

@media (min-width:900px) {
    .linkingBanner_d9914b {
        align-items: flex-start;
        flex-direction: row;
        gap: 0
    }
}

.linkingBannerParent_d9914b {
    align-items: flex-start;
    flex-direction: column
}

.linkingBannerUpper_d9914b {
    align-items: center;
    display: flex;
    flex-direction: column
}

@media (min-width:900px) {
    .linkingBannerUpper_d9914b {
        align-items: flex-start;
        flex-direction: row
    }
}

.step_d9914b {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 16px
}

.steps_d9914b {
    align-items: flex-start;
    display: flex;
    flex-direction: column
}

.steps_d9914b :last-child {
    margin-bottom: 0
}

.stepNumber_d9914b {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-round);
    display: flex;
    height: 32px;
    justify-content: center;
    margin-inline-end: var(--space-8);
    width: 32px
}

.bannerArt_d9914b {
    height: auto;
    max-width: 100%;
    width: 224px
}

.maxConnectionInfo_d9914b {
    border-top: 1px solid var(--border-subtle);
    display: flex;
    justify-content: center;
    padding-top: 10px
}

.supportHeader_d9914b {
    margin-bottom: 4px
}
