.container__530ce {
    align-items: center;
    display: flex
}

.mutuals__530ce {
    -moz-column-gap: 6px;
    column-gap: 6px;
    flex-wrap: wrap;
    row-gap: 2px
}

.mutuals__530ce,
.section__530ce {
    align-items: center;
    display: flex;
    flex-direction: row
}

.section__530ce {
    cursor: pointer;
    gap: 4px
}

.section__530ce:focus-visible .text__530ce,
.section__530ce:hover .text__530ce {
    text-decoration: underline
}

.spacer__530ce {
    background-color: var(--interactive-text-default);
    border-radius: var(--radius-round);
    height: 4px;
    width: 4px
}

.container__10737 {
    background-color: var(--background-mod-normal);
    border-start-end-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm);
    box-shadow: var(--shadow-low);
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-inline-end: 0;
    padding-inline-start: 16px;
    position: relative;
    width: 252px
}

.container__10737:before {
    background: #c6cdf4;
    content: "";
    filter: blur(40px);
    height: 170px;
    inset-block-start: -190px;
    inset-inline-start: 50%;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    width: 221px
}

.closeButton__10737 {
    inset-inline-end: 6px;
    position: absolute;
    top: 6px
}

.subtitleContainer__10737 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 4px
}

.currentUserAvatar__10737 {
    border: 2px solid var(--background-mod-normal);
    margin-inline: -4px;
    margin-inline-end: 4px
}
