.headerDivider__97dd8 {
    margin: 32px 0
}

.createButton__97dd8,
.emptyStateImage__97dd8 {
    margin-bottom: 24px
}

.emptyStateImage__97dd8 {
    height: 145px;
    width: 272px
}

.emptyStateButton__97dd8 {
    margin-top: 12px
}

.spinner_befe67 {
    margin-top: 40px
}

.backButton_befe67 {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 28px;
    margin-block: -4px;
    margin-inline: 0 8px
}

.backArrow_befe67 {
    color: var(--text-muted)
}

.breadcrumbs_befe67 {
    margin-bottom: 20px
}

.breadcrumbActive_befe67 {
    color: var(--text-strong)
}

.breadcrumbInactive_befe67 {
    color: var(--text-default);
    cursor: pointer
}

.breadcrumbInactive_befe67:hover {
    color: var(--text-strong)
}
