.guildInviteContainer__083ae {
    background: var(--background-surface-high);
    border: 1px solid var(--border-subtle);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    width: 300px
}

.clickable__083ae {
    cursor: pointer
}

.cardHeightMeasure__083ae {
    align-items: flex-start;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%
}

.cardHeightMeasure__083ae .banner__083ae {
    height: 72px
}

.mainContent__083ae {
    z-index: 0
}

.footer__083ae {
    box-sizing: border-box;
    width: 100%
}

.floatingFooter__083ae {
    bottom: 0;
    inset-inline: 0;
    position: absolute;
    z-index: 1
}

.gradient__083ae {
    background: linear-gradient(180deg, transparent 0, var(--background-surface-high) 100%);
    height: 48px;
    width: 100%
}

.footerContent__083ae {
    background: var(--background-surface-high)
}

.collapsedFooterContent__083ae {
    padding-top: 8px
}

.buttonContainer__083ae {
    display: flex;
    padding: 0 16px 16px
}

.hideDetailsButtonContainer__083ae {
    margin: 0 16px
}

.inviteTitle__083ae {
    overflow: hidden;
    padding: 8px 12px;
    text-overflow: ellipsis
}

.rolesList__083ae {
    margin-bottom: 16px;
    padding: 0 16px
}
