:root {
    --custom-bg-surface-overlay: rgba(33, 34, 41, .8)
}

.container__31961 {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: calc(100% - 6px);
    margin-inline-start: -12px;
    padding-bottom: 4px;
    padding-inline-end: 0;
    padding-top: 4px;
    width: calc(100% + 10px)
}

.topBar__31961 {
    align-items: center;
    background-color: rgba(19, 19, 24, .95);
    border-bottom: 1px solid var(--background-mod-strong);
    cursor: grab;
    display: flex;
    flex: 0 0 auto;
    gap: var(--space-8);
    height: 40px;
    justify-content: space-between;
    padding: 4px 12px 8px;
    position: relative;
    z-index: 1
}

.topBar__31961.dragging__31961 {
    cursor: grabbing
}

.headerLeft__31961 {
    gap: var(--space-8)
}

.headerLeft__31961,
.headerTitleRow__31961 {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    min-width: 0
}

.headerTitleRow__31961 {
    gap: var(--space-4)
}

.parentChannelLink__31961 {
    color: var(--text-muted);
    cursor: pointer;
    flex: 0 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.parentChannelSeparator__31961 {
    color: var(--text-muted);
    flex: 0 0 auto
}

.headerRight__31961 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: var(--space-4)
}

.title__31961 {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.currentlyPlaying__31961 {
    margin-inline-start: 4px
}

.titleIcon__31961 {
    justify-content: center
}

.sidebar__31961,
.titleIcon__31961 {
    align-items: center;
    display: flex
}

.sidebar__31961 {
    background-color: transparent;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    overflow: visible;
    padding: 0
}

.sidebarSeparator__31961 {
    border: none;
    border-top: 1px solid var(--background-mod-strong);
    margin: 2px auto;
    margin-inline-start: 20px;
    opacity: .8;
    width: 32px
}

.chatArea__31961 {
    background-color: rgba(19, 19, 24, .95);
    border: 1px solid var(--border-subtle);
    border-radius: 12px;
    box-shadow: var(--shadow-border) var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative
}

.navItem__4ccc5 {
    cursor: pointer;
    overflow: visible;
    padding: 8px 12px;
    padding-inline-end: 12px;
    padding-inline-start: 16px
}

.navItem__4ccc5,
.navItemIconBadgeContainer__4ccc5 {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    width: 40px
}

.animatedHalfPillContainer__4ccc5 {
    height: 40px;
    inset-inline-start: 2px;
    position: absolute;
    top: 8px;
    width: 4px
}

.tivNavItemIconContainer__4ccc5 {
    --custom-interactive-normal: var(--interactive-normal);
    align-items: center;
    background-color: var(--custom-bg-surface-overlay);
    border-radius: 12px;
    color: var(--custom-interactive-normal);
    display: flex;
    height: 40px;
    justify-content: center;
    transition: box-shadow .16s ease-out;
    width: 40px
}

.tivNavItemIconContainerSelected__4ccc5 {
    background-color: hsl(var(--brand-500-hsl)/.9);
    color: var(--white-500)
}

.tivChannelTypeIcon__4ccc5 {
    color: currentColor
}

.hidden__4ccc5 {
    display: none
}
