.suffix__05934 {
    display: flex;
    gap: 4px
}

.suffix__05934:hover .selectOptionMemberCount__05934 {
    opacity: 1
}

.newBadge__05934 {
    color: var(--brand-560)
}

.memberCount__05934 {
    opacity: 0;
    transition: opacity .2s ease-in-out
}

[data-searchable-select-option]:focus .memberCount__05934,
[data-searchable-select-option]:hover .memberCount__05934 {
    opacity: 1
}
