.unreadCount__23463 {
    background: var(--interactive-text-default);
    border-radius: 999px;
    box-sizing: border-box;
    color: var(--black);
    flex-shrink: 0;
    font-weight: var(--font-weight-semibold);
    height: 16px;
    margin-inline-start: -12px;
    min-width: 16px;
    padding: 0 4px;
    text-align: center;
    width: auto
}

.mention__23463 {
    background: var(--background-feedback-notification);
    color: var(--white)
}
