.krispTesterRow__2ed89 {
    margin-bottom: var(--space-8)
}

.innerPanel__2ed89 {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding: var(--space-16)
}

.rewardTileContainer_d8917e {
    position: relative;
    transform-origin: left top
}

.rewardTileSpacer_d8917e {
    width: 56px
}

.rewardTile_d8917e {
    margin-inline-end: 12px
}

.rewardHighlightLogoCTA_d8917e {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2
}

.rewardHighlightLogoCTALabel_d8917e {
    align-items: center;
    flex: 1;
    flex-direction: row;
    gap: 8px;
    min-width: 0;
    width: 100%
}

.partnerBranding_d8917e {
    margin-bottom: 4px
}

.rewardHighlightCTA_d8917e {
    pointer-events: none
}

.rewardHighlightCTALabel_d8917e {
    background-color: rgba(0, 0, 0, .329);
    border-radius: var(--radius-xl);
    max-width: 100%;
    min-width: 0;
    padding: 7px 12px;
    pointer-events: none
}

.isExpanded_d8917e {
    flex-direction: row;
    height: 24px
}

.wrapper__8c034 {
    align-items: center;
    border-radius: inherit;
    display: flex;
    position: absolute;
    top: 0;
    inset-inline: 0;
    justify-content: space-between;
    padding: 4px 8px;
    pointer-events: none;
    z-index: 4
}

.opaqueExpandedBackground__8c034 {
    -webkit-backdrop-filter: blur(10px) brightness(.75);
    backdrop-filter: blur(10px) brightness(.75);
    border-radius: 8px;
    height: 32px;
    position: absolute;
    top: 8px;
    inset-inline: 8px
}

.high-contrast-mode .opaqueExpandedBackground__8c034 {
    -webkit-backdrop-filter: blur(10px) brightness(.25);
    backdrop-filter: blur(10px) brightness(.25)
}

.rewardHighlightWrapper__8c034 {
    justify-content: flex-start
}

.interactable__8c034 {
    pointer-events: all
}

.wreathIcon__8c034 {
    height: 24px;
    margin-inline: -4px 4px;
    width: 24px
}

.rightContent__8c034 {
    flex: 0 0 auto;
    height: 20px;
    margin-inline-start: 12px;
    position: relative;
    width: 20px
}

.rightContent__8c034:before {
    background-color: var(--opacity-white-40);
    content: "";
    height: 12px;
    inset-inline-start: 0;
    position: absolute;
    top: 50%;
    transform: translate(-6px, -50%);
    width: 1px
}

.submenuWrapper__8c034 {
    cursor: pointer;
    transition: opacity .125s
}

.submenuWrapper__8c034:focus,
.submenuWrapper__8c034:hover {
    opacity: .8
}

.submenuWrapper__8c034:active {
    opacity: .7
}

.submenuIcon__8c034 {
    height: 16px;
    inset-inline-start: 2px;
    position: absolute;
    top: 2px;
    width: 16px
}

.white__8c034 {
    color: var(--white)
}

.promotedBadgeWrapper__8c034 {
    display: flex;
    flex: 0 0 auto;
    inset-inline-end: 16px;
    position: absolute;
    top: 14px
}

.logo__8c034 {
    transition: opacity .125s
}

.logo__8c034.clickable__8c034 {
    cursor: pointer
}

.logo__8c034.clickable__8c034:hover {
    opacity: .8
}

.promotedBadge__8c034 {
    cursor: pointer;
    display: flex;
    flex: 1 0 auto;
    gap: 3px;
    place-items: center;
    transition: opacity .125s
}

.promotedBadge__8c034:hover {
    opacity: .8
}

.promotedBadgeIcon__8c034 {
    flex: 0 0 auto;
    height: 12px;
    width: 12px
}

.background__8c034 {
    background-color: transparent
}

.backgroundAnimation__8c034 {
    opacity: .5
}

.backgroundWrapper__8c034 {
    pointer-events: none
}

.rewardHighlightLogotypeHeightBoost__8c034 {
    height: 32px;
    max-width: 130px
}

.rewardHighlightLogotype__8c034 {
    height: 24px
}

.partnerBranding__8c034 {
    transform-origin: left
}
