.container__70151 {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column
}

.loading__70151 {
    align-items: center;
    display: flex;
    height: 520px;
    justify-content: center
}

.background__70151 {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.content__70151 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative
}

.subSectionHeader__70151 {
    text-transform: uppercase
}

.accountCredit__70151 {
    margin-top: 16px
}

.accountCreditTitle__70151 {
    margin-bottom: 8px
}

.accountCreditDescription__70151 {
    color: var(--text-default);
    margin-bottom: 16px;
    margin-top: 0
}

.cardText__70151 {
    padding-inline-start: 8px
}

.noItemsCard__70151 {
    background-color: var(--background-base-lower);
    border: none;
    color: var(--interactive-text-active);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    margin-top: 16px;
    padding: 16px 19px
}

.theme-dark .noItemsIcon__70151 {
    background: #4f545c
}

.hr__70151 {
    border-color: hsl(var(--primary-300-hsl)/.3);
    border-style: solid;
    border-width: 1px 0 0;
    display: block;
    height: 0;
    width: 100%
}

.theme-dark .hr__70151 {
    border-color: hsl(var(--primary-400-hsl)/.3)
}
