.notDetected_b53c4e,
.nowPlaying_b53c4e {
    animation: none;
    border-radius: 3px;
    margin-top: 0;
    padding: 16px;
    width: 100%
}

.notDetected_b53c4e .overlayStatusText_b53c4e,
.notDetected_b53c4e .overlayWarningIcon_b53c4e,
.nowPlaying_b53c4e .overlayStatusText_b53c4e,
.nowPlaying_b53c4e .overlayWarningIcon_b53c4e {
    opacity: 1
}

.game_b53c4e {
    background-color: var(--background-mod-normal);
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 16px;
    position: relative
}

.game_b53c4e .removeGame_b53c4e {
    cursor: pointer;
    inset-inline-end: -15px;
    opacity: 0;
    position: absolute;
    top: -12px
}

.game_b53c4e:focus-within .overlayStatusText_b53c4e,
.game_b53c4e:focus-within .overlayWarningIcon_b53c4e,
.game_b53c4e:focus-within .removeGame_b53c4e,
.game_b53c4e:hover .overlayStatusText_b53c4e,
.game_b53c4e:hover .overlayWarningIcon_b53c4e,
.game_b53c4e:hover .removeGame_b53c4e {
    opacity: 1
}

.toggleContainer_b53c4e {
    margin-inline-start: 12px
}

.activeGame_b53c4e {
    border-radius: 12px;
    position: relative
}

.activeGame_b53c4e .removeGame_b53c4e {
    inset-inline-end: -12px;
    opacity: 0;
    position: absolute;
    top: -12px
}

.activeGame_b53c4e:focus-within .removeGame_b53c4e,
.activeGame_b53c4e:hover .removeGame_b53c4e {
    opacity: 1
}

.gameName_b53c4e,
.gameNameInput_b53c4e,
.gameVerifiedIcon_b53c4e,
.lastPlayed_b53c4e,
.overlayStatusText_b53c4e,
.toggleIcon_b53c4e {
    z-index: 1
}

.gameNameLastPlayed_b53c4e {
    flex: 1
}

.gameVerifiedIcon_b53c4e {
    margin-inline-start: 8px
}

.gameName_b53c4e {
    border: 1px solid transparent;
    color: var(--text-strong);
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: 22px
}

.gameNameInput_b53c4e {
    background-color: transparent;
    border-radius: 3px;
    margin-inline-start: -5px;
    padding: 0 4px;
    width: 240px
}

.gameNameInput_b53c4e:focus,
.gameNameInput_b53c4e:hover {
    background-color: var(--background-mod-normal);
    border-color: hsl(var(--primary-500-hsl)/.3)
}

.lastPlayed_b53c4e {
    color: var(--primary-400);
    font-size: 14px
}

.overlayStatusText_b53c4e {
    color: var(--text-muted);
    font-size: 14px;
    margin-inline-end: 4px;
    opacity: 0;
    text-transform: uppercase;
    width: 100px
}

.toggleIcon_b53c4e {
    cursor: pointer
}

.toggleIconOff_b53c4e .fill_b53c4e {
    fill: var(--icon-feedback-critical)
}

.toggleIconInactive_b53c4e {
    cursor: not-allowed
}

.toggleIconInactive_b53c4e .fill_b53c4e {
    fill: var(--icon-feedback-critical);
    opacity: .5
}

.overlayWarningIcon_b53c4e {
    background: url(/assets/07e52d3b4c358536.svg) no-repeat;
    height: 16px;
    margin-inline-end: 20px;
    opacity: 0;
    width: 16px
}

.subgame_b53c4e {
    align-items: center;
    background-color: var(--background-surface-high);
    border-radius: 0;
    display: flex;
    margin-bottom: 0;
    width: 100%
}

.subgame_b53c4e:last-child {
    border-radius: 0 0 12px 12px
}

.border_b53c4e {
    border-bottom: 1px solid var(--border-subtle);
    margin: 0 16px
}

.detectedApplication_b53c4e {
    align-items: center;
    display: flex
}

.nowPlaying_b53c4e {
    background-color: var(--status-positive-background)
}

.nowPlaying_b53c4e .gameName_b53c4e {
    color: var(--white)
}

.nowPlaying_b53c4e .gameNameInput_b53c4e:focus,
.nowPlaying_b53c4e .gameNameInput_b53c4e:hover {
    background-color: hsl(var(--green-560-hsl)/.3);
    border-color: var(--green-560)
}

.nowPlaying_b53c4e .lastPlayed_b53c4e,
.nowPlaying_b53c4e .overlayStatusText_b53c4e {
    color: var(--white)
}

.nowPlaying_b53c4e .toggleIconInactive_b53c4e .fill_b53c4e,
.nowPlaying_b53c4e .toggleIconOff_b53c4e .fill_b53c4e,
.nowPlaying_b53c4e .toggleIconOn_b53c4e .fill_b53c4e {
    fill: var(--white)
}

.notDetected_b53c4e {
    background-color: var(--background-base-lower)
}

.notDetected_b53c4e .gameName_b53c4e {
    color: var(--interactive-text-active)
}

.notDetected_b53c4e .lastPlayed_b53c4e {
    color: var(--text-muted)
}

.toggleIconOn_b53c4e .fill_b53c4e {
    fill: var(--interactive-text-default)
}

.game_b53c4e.gameHasSubgame_b53c4e {
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    margin-bottom: 0
}

.subgameContainer_b53c4e {
    background-color: var(--background-surface-high);
    border-radius: 0 0 12px 12px;
    margin-bottom: 20px
}

.detectionToggleModal_b53c4e {
    width: var(--modal-width-small)
}

.addGamePopout__254c2 {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: 3px;
    padding: 10px;
    width: 300px
}

.addGamePopout__254c2 .actions__254c2 {
    align-items: center;
    gap: var(--space-16);
    justify-content: flex-end
}

.nowPlayingAdd__1f52c {
    align-items: center;
    align-self: flex-start;
    color: var(--text-muted);
    display: flex;
    font-size: 14px;
    gap: 4px;
    margin-inline-start: 0
}

.previewTitle__6b741 {
    margin-bottom: var(--space-8);
    position: relative
}

.preview__6b741 {
    background: var(--background-base-low);
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-sm);
    display: grid;
    gap: var(--space-8);
    grid-auto-flow: column;
    grid-template-columns: 1fr min-content;
    max-height: 25vh;
    padding: var(--space-24);
    position: relative;
    --message-background-hover: transparent
}

.messages__6b741 {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    translate: calc(var(--custom-message-margin-horizontal)*-1) 0
}

.avatars__6b741 {
    gap: var(--space-6);
    justify-content: space-between
}

.avatars__6b741,
.previewRight__6b741 {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.previewRight__6b741 {
    gap: var(--space-20)
}

.root_aea291 {
    align-items: center;
    border-radius: var(--radius-xs);
    display: flex;
    padding: 8px
}

.icon_aea291 {
    flex-shrink: 0;
    height: 24px;
    margin-inline-end: 10px;
    width: 24px
}

.text_aea291 {
    flex: 1;
    text-align: start
}

.info_aea291 {
    background-color: var(--background-feedback-info);
    border: 1px solid var(--icon-feedback-info)
}

.info_aea291 .icon_aea291 {
    color: var(--icon-feedback-info)
}

.warning_aea291 {
    background-color: var(--background-feedback-warning);
    border: 1px solid var(--icon-feedback-warning)
}

.warning_aea291 .icon_aea291 {
    box-sizing: border-box;
    color: var(--icon-feedback-warning);
    height: 20px;
    width: 20px
}

.container__05e8e {
    margin-top: 16px
}

.formTitle__05e8e {
    display: flex;
    margin-bottom: 8px
}

.availabilityIndicator__05e8e {
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-lg);
    margin-inline-start: 4px;
    padding: 1px 2px
}

.description__05e8e {
    margin-bottom: 16px
}

.button__05e8e {
    color: var(--interactive-text-active);
    margin-inline-start: 16px
}

.previewContainer__05e8e {
    align-items: center;
    background: var(--background-base-lower);
    border-radius: var(--radius-sm);
    display: flex;
    height: 80px;
    justify-content: center;
    min-width: 80px
}

.preview__05e8e {
    color: var(--interactive-text-default)
}

.previewDisabled__05e8e {
    color: var(--icon-muted)
}

.uploadContainer__05e8e {
    display: flex
}

.rolePreviewArea__05e8e {
    align-items: center;
    display: flex;
    gap: 16px
}

.roleIconPreview__05e8e {
    height: var(--custom-custom-role-icon-form-item-role-icon-preview-size);
    -o-object-fit: contain;
    object-fit: contain;
    width: var(--custom-custom-role-icon-form-item-role-icon-preview-size)
}

.container__8a529 {
    margin-bottom: 20px
}

.text__8a529 {
    margin-bottom: 16px
}

.notice_cdf6f1 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 3px;
    display: flex;
    padding: 8px
}

.noticeIcon_cdf6f1 {
    color: var(--text-default)
}

.noticeIcon_cdf6f1,
.noticeIconPowerful_cdf6f1 {
    display: inline-block;
    height: 16px;
    margin-inline-end: 8px;
    width: 16px
}

.noticeIconPowerful_cdf6f1 {
    color: var(--icon-feedback-warning)
}

.scroller__981c8 {
    height: 100%;
    padding-bottom: 60px
}

.colorPicker__981c8 {
    margin-top: 24px
}

.colorDescription__981c8 {
    margin-bottom: 8px
}

.divider__981c8 {
    margin-bottom: 24px;
    margin-top: 24px
}

.noticeContainer__981c8 {
    margin-top: 16px
}

.noticeContainer__981c8:empty {
    margin-top: 0
}

.previewContainer__981c8 {
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    margin-top: 16px;
    overflow: hidden;
    position: relative
}

.previewContainer__981c8.disableInteraction__981c8:after {
    bottom: 0;
    content: "";
    cursor: default;
    position: absolute;
    top: 0;
    inset-inline: 0
}

.messageWrapper__981c8 {
    background-color: var(--background-base-low)
}

.messageContainer__981c8 {
    padding-bottom: 16px;
    padding-top: 16px
}

.lightThemeNotice__981c8 {
    background-color: var(--background-mod-subtle);
    padding: 8px 16px
}

.descriptionTitle__981c8 {
    display: flex;
    margin-bottom: 8px;
    margin-top: 24px
}

.descriptionIcon__981c8 {
    color: var(--interactive-text-default);
    height: 14px;
    margin-inline-start: 4px;
    width: 14px
}

.roleStyleContainer__981c8 {
    display: flex;
    gap: var(--space-8);
    padding-bottom: var(--space-8);
    width: 100%
}

.roleStylePreview__981c8 {
    flex: 0 0 auto;
    overflow-x: hidden;
    width: 142px
}

.roleStyleMessageContainer__981c8 {
    background-color: var(--background-base-lowest);
    overflow: visible;
    padding: var(--space-8) var(--space-4);
    pointer-events: none;
    position: relative;
    width: 142px
}

.roleStyleMessageContainer__981c8 [data-username-has-gradient]:after {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    content: attr(data-text) /"";
    inset: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    animation: gradientGlowFadeInAnimation__981c8 .1s ease-in-out;
    filter: blur(4px);
    opacity: .7;
    z-index: -1
}

.roleStyleMessageContainer__981c8:after {
    background: linear-gradient(to right, transparent, var(--background-base-lowest));
    bottom: 0;
    content: "";
    inset-inline-end: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 40px
}

.roleStyleMessageContainer__981c8>div {
    margin-top: -8px;
    overflow: hidden;
    padding-top: var(--space-8);
    width: 255px
}

.roleStylePreviewContainer__981c8 {
    background-color: var(--background-base-low);
    border: 2px solid transparent;
    border-radius: var(--space-8);
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .05), 0 2px 4px -2px rgba(0, 0, 0, .07), 0 3px 8px -3px rgba(0, 0, 0, .07), 0 4px 12px -4px rgba(0, 0, 0, .07);
    display: flex;
    flex: 0 0 142px;
    flex-direction: column;
    min-width: 142px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 142px
}

.roleStylePreviewContainer__981c8.selected__981c8 {
    background: var(--background-mod-subtle);
    border: 2px solid var(--brand-500)
}

.roleStyleLabel__981c8 {
    background-color: var(--background-surface-higher);
    color: var(--text-subtle);
    margin: -2px 0;
    padding: 6px;
    text-align: center;
    width: 100%
}

.selected__981c8 .roleStyleLabel__981c8 {
    background-color: var(--background-mod-subtle);
    color: var(--interactive-text-active)
}

.disabled__981c8 {
    cursor: not-allowed;
    opacity: .3;
    pointer-events: none
}

.roleStyleUpsell__981c8 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: space-between;
    padding: var(--space-12)
}

.roleStyleUpsellMesssages__981c8 {
    display: flex;
    flex-direction: column
}

.guildBoostBadge__981c8 {
    color: var(--control-primary-text-active)
}

.holographicInfoBox__981c8 {
    margin-top: var(--space-8)
}

.roleStyleFormTitle__981c8 {
    align-items: center;
    display: flex;
    margin-bottom: var(--space-8)
}

.newBadge__981c8 {
    margin-inline-start: var(--space-4)
}

.container_e3077c {
    align-items: center;
    display: flex
}

.avatar_e3077c {
    flex-shrink: 0
}

.textContainer_e3077c {
    color: var(--interactive-text-default);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.name_e3077c {
    margin-inline-start: 8px
}

.botTag_e3077c,
.userTag_e3077c {
    margin-inline-start: 4px
}

.container__9a73f {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0
}

.headerContainer__9a73f {
    inset-inline: 0 16px;
    position: absolute
}

.header__9a73f {
    background-color: var(--background-base-low);
    margin-inline: -8px;
    padding-bottom: 16px;
    padding-top: 60px;
    padding-inline: 8px;
    position: relative;
    z-index: 1
}

.searchContainer__9a73f {
    align-items: center;
    display: flex;
    gap: 16px;
    margin-top: 24px
}

.searchWarning__9a73f {
    margin-top: 16px
}

.memberRow__9a73f {
    align-items: center;
    border-radius: var(--radius-xs);
    cursor: pointer;
    display: flex;
    height: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-inline-start: 8px
}

.memberRow__9a73f:hover {
    background-color: var(--interactive-background-hover)
}

.memberRow__9a73f:active {
    background-color: var(--interactive-background-active)
}

.emptyRowContainer__9a73f {
    color: var(--text-muted)
}

.emptyRowText__9a73f {
    margin-inline-start: 8px
}

.memberDetails__9a73f {
    min-width: 0
}

.list__9a73f {
    height: 100%;
    min-height: 0;
    padding-bottom: 60px
}

.removeButtonContainer__9a73f {
    margin-inline-start: auto
}

.removeButton__9a73f {
    align-items: center;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-inline: 8px
}

.removeButton__9a73f:hover {
    color: var(--interactive-text-hover)
}

.removeButton__9a73f:active {
    color: var(--interactive-text-active)
}

.removeButtonDisabled__9a73f {
    color: var(--text-muted);
    cursor: not-allowed
}

.removeButtonDisabled__9a73f:hover {
    color: var(--text-muted)
}

.removeTip__9a73f {
    margin-top: 12px
}

.enable-forced-colors .memberRow__9a73f {
    border: 1px solid CanvasText
}

.enable-forced-colors .removeButton__9a73f {
    color: ButtonText
}

.enable-forced-colors .removeButton__9a73f:hover {
    color: ButtonText
}

.enable-forced-colors .removeButton__9a73f:active {
    color: Highlight
}

.enable-forced-colors .removeButtonDisabled__9a73f {
    color: GrayText
}

.enable-forced-colors .removeButtonDisabled__9a73f:hover {
    color: GrayText
}

.group__344e6 {
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    height: 28px;
    width: 96px
}

.item__344e6 {
    align-items: center;
    background-color: var(--background-base-low);
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 50ms ease-in, color 50ms ease-in, border-color 50ms ease-in, opacity 50ms ease-in
}

.item__344e6:hover {
    transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out, opacity .15s ease-out
}

.item__344e6:hover {
    background-color: var(--interactive-background-hover)
}

.disabled__344e6 {
    cursor: not-allowed;
    opacity: .5
}

.allow__344e6 {
    border-end-end-radius: var(--radius-sm);
    border-start-end-radius: var(--radius-sm);
    color: var(--icon-feedback-positive)
}

.allow__344e6.selected__344e6 {
    background-color: var(--control-connected-background-default);
    color: var(--control-connected-text-default)
}

.allow__344e6.selected__344e6:hover {
    background-color: var(--control-connected-background-hover);
    color: var(--control-connected-text-hover)
}

.allow__344e6.selected__344e6:active {
    background-color: var(--control-connected-background-active);
    color: var(--control-connected-text-active)
}

.deny__344e6 {
    border-end-start-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm);
    color: var(--icon-feedback-critical)
}

.deny__344e6.selected__344e6 {
    background-color: var(--control-critical-primary-background-default);
    color: var(--control-critical-primary-text-default)
}

.deny__344e6.selected__344e6:hover {
    background-color: var(--control-critical-primary-background-hover);
    color: var(--control-critical-primary-text-hover)
}

.deny__344e6.selected__344e6:active {
    background-color: var(--control-critical-primary-background-active);
    color: var(--control-critical-primary-text-active)
}

.passthrough__344e6.selected__344e6 {
    background-color: var(--interactive-background-selected);
    color: var(--interactive-icon-active)
}

.enable-forced-colors .group__344e6 {
    border: none
}

.enable-forced-colors .allow__344e6,
.enable-forced-colors .deny__344e6,
.enable-forced-colors .item__344e6 {
    background-color: ButtonFace;
    border: 1px solid ButtonFace;
    color: ButtonText
}

.enable-forced-colors .allow__344e6:focus,
.enable-forced-colors .allow__344e6:hover,
.enable-forced-colors .deny__344e6:focus,
.enable-forced-colors .deny__344e6:hover,
.enable-forced-colors .item__344e6:focus,
.enable-forced-colors .item__344e6:hover {
    border-color: ButtonText
}

.enable-forced-colors .allow__344e6.selected__344e6,
.enable-forced-colors .deny__344e6.selected__344e6,
.enable-forced-colors .item__344e6.selected__344e6 {
    background-color: HighlightText;
    border-color: Highlight;
    color: Highlight
}

.enable-forced-colors .disabled__344e6 {
    opacity: 1
}

.enable-forced-colors .disabled__344e6 .allow__344e6,
.enable-forced-colors .disabled__344e6 .deny__344e6,
.enable-forced-colors .disabled__344e6 .item__344e6 {
    background-color: Canvas;
    border-color: Canvas;
    color: GrayText
}

.enable-forced-colors .disabled__344e6 .allow__344e6.selected__344e6,
.enable-forced-colors .disabled__344e6 .deny__344e6.selected__344e6,
.enable-forced-colors .disabled__344e6 .item__344e6.selected__344e6 {
    border-color: GrayText
}

.title_fbdcfd {
    padding-inline-start: 4px
}

.icon_fbdcfd {
    fill: var(--text-default)
}

.accessory_fbdcfd,
.icon_fbdcfd {
    position: relative;
    top: 3px
}

.accessory_fbdcfd {
    display: inline-block;
    padding-inline-start: 4px
}

.image__5b754 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.images-light .image__5b754 {
    background-image: url(/assets/569817a95a446d77.svg)
}

.images-dark .image__5b754 {
    background-image: url(/assets/ab743e418ef21ecc.svg)
}

.scroller__16663 {
    height: 100%;
    padding-bottom: 60px
}

.noticeContainer__16663 {
    margin-top: 24px
}

.noticeContainer__16663:empty {
    margin-top: 8px
}

.searchContainer__16663 {
    align-items: center;
    display: flex;
    margin-top: 16px
}

.permissionsWrapper__16663 {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    position: relative
}

.clearButtonWrapper__16663 {
    inset-inline-end: 0;
    padding: 0;
    position: absolute;
    top: 0
}

.clearButton__16663 {
    flex-shrink: 0;
    font-weight: var(--font-weight-semibold);
    padding: 0
}

.noResultsContainer__16663 {
    align-items: center;
    display: flex;
    flex-direction: column
}

.noResults__16663 {
    height: 85px;
    margin-bottom: 16px;
    width: 85px
}

.permissionsForm__16663+.permissionsForm__16663 {
    margin-top: 32px
}

.actionMenuButton__8dc78 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-xs);
    cursor: pointer;
    display: flex;
    padding: var(--space-8)
}

.actionMenuButton__8dc78:hover {
    background-color: var(--interactive-background-hover)
}

.authedApp__92059 {
    padding: 20px
}

.authedAppV2__92059 {
    background-color: var(--background-mod-subtle);
    border-radius: var(--radius-sm);
    margin-bottom: 16px;
    overflow: hidden
}

.header__92059,
.headerV2__92059 {
    align-items: center;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto auto
}

.headerV2__92059 {
    background-color: var(--background-mod-subtle);
    padding: 16px
}

.headerText__92059 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.headerTextContainer__92059 {
    margin: 0 8px;
    overflow: hidden
}

.headerTextContainerV2__92059 {
    margin: 0 12px;
    overflow: hidden
}

.appDetailsContainer__92059 {
    padding: 4px 16px
}

.appDetailsContainer__92059 .appDetailsSection__92059 {
    background-color: inherit;
    border-bottom: 1px solid var(--border-subtle);
    border-radius: 0;
    margin-bottom: 0;
    padding: 16px 0
}

.appDetailsContainer__92059 .appDetailsSection__92059:active {
    background-color: inherit
}

.appDetailsContainer__92059 .appDetailsSection__92059:before {
    border-radius: 0;
    box-shadow: none
}

.appDetailsSectionHeader__92059 {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between
}

.appDetailsContent__92059 {
    padding-top: 4px
}

.appAvatar__92059 {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    -webkit-user-drag: none
}

.appAvatarV2__92059 {
    border-radius: var(--radius-sm);
    height: 40px;
    width: 40px;
    -webkit-user-drag: none;
    border: 1px solid var(--border-subtle);
    box-sizing: border-box
}

.reportButton__92059 {
    margin-inline-end: 8px
}

.botTag__92059 {
    margin-inline-start: 4px
}

.permissionsDescription__92059 {
    cursor: default
}

.permission__92059 {
    align-items: center;
    display: flex;
    margin-top: 8px
}

.permission__92059:first-child {
    margin-top: 0
}

.permissionCheckmark__92059 {
    background: url(/assets/72e4439bf318b5c5.svg) no-repeat;
    filter: saturate(var(--saturation-factor, 1));
    width: 23px
}

.disclosureIcon__92059,
.permissionCheckmark__92059 {
    background-size: 18px 18px;
    display: inline-block;
    height: 18px
}

.disclosureIcon__92059 {
    color: var(--text-muted);
    margin-inline-end: 5px;
    width: 18px
}

.deleteModalBody__92059 {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.warningContainer__92059 {
    flex-grow: 1;
    margin-inline-end: 4px
}

.warningOuterContainer__92059 {
    align-items: center;
    display: flex
}

.warningIcon__92059 {
    color: var(--text-muted);
    height: 24px;
    margin-inline-end: 8px;
    width: 24px
}

.searchContainer__92059 {
    margin-bottom: 16px
}

.tosPrivacy__92059 {
    display: flex;
    flex-direction: row;
    margin-top: 8px
}

.tos__92059 {
    margin-inline-end: 12px
}

.privacy__92059,
.tos__92059 {
    display: flex
}

.externalLinkIcon__92059 {
    height: 18px
}

.divider__92059 {
    background-color: var(--border-subtle);
    display: flex;
    height: 100%;
    margin-inline-end: 12px;
    width: 1px
}

.link__92059 {
    color: var(--text-link)
}

.footer__92059 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 16px 0
}

.deauthorizeButton__92059 {
    flex-shrink: 0
}

.headingCard__92059 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-bottom: var(--space-40);
    padding: var(--space-20)
}

.emptyState__92059 {
    min-height: 200px
}

.loadingWrapper__5a143 {
    align-items: center;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 16px;
    justify-content: center;
    margin: 2px 0;
    padding: 8px 4px
}

.list_c47777 {
    max-height: 500px
}
