.normalStylesDefault_a1443c {
    --custom-poll-style-vote-background: var(--background-base-lowest);
    --custom-poll-style-vote-percentage: var(--interactive-background-active);
    --custom-poll-style-label: var(--text-default);
    --custom-poll-style-border: transparent
}

.normalStylesImageOnlyAnswers_a1443c {
    --custom-poll-style-image-background: var(--polls-normal-image-background)
}

.victorStyles_a1443c {
    --custom-poll-style-vote-percentage: var(--polls-victor-fill);
    --custom-poll-style-image-background: var(--background-feedback-warning);
    --custom-poll-style-border: var(--status-positive)
}

.votedStyles_a1443c {
    --custom-poll-style-vote-percentage: var(--polls-voted-fill);
    --custom-poll-style-image-background: var(--background-feedback-positive);
    --custom-poll-style-border: var(--control-brand-foreground)
}

.embed__98ba8 {
    align-self: start;
    border-radius: var(--radius-md);
    color: var(--white);
    container-type: inline-size;
    justify-self: start;
    max-width: 343px;
    overflow: hidden;
    width: 100%
}

.showVideoOnFocus__98ba8 {
    --custom-ease: cubic-bezier(0.4, 0, 1, 1)
}

.showVideoOnFocus__98ba8 .staticBanner__98ba8 {
    transition: opacity .3s var(--custom-ease)
}

.showVideoOnFocus__98ba8 .videoBanner__98ba8 {
    transition: visibility .3s var(--custom-ease);
    visibility: hidden
}

.showVideoOnFocus__98ba8:focus .staticBanner__98ba8,
.showVideoOnFocus__98ba8:focus-within .staticBanner__98ba8,
.showVideoOnFocus__98ba8:hover .staticBanner__98ba8 {
    opacity: 0
}

.showVideoOnFocus__98ba8:focus .videoBanner__98ba8,
.showVideoOnFocus__98ba8:focus-within .videoBanner__98ba8,
.showVideoOnFocus__98ba8:hover .videoBanner__98ba8 {
    visibility: visible
}

.bannerWrapper__98ba8 {
    height: 100%;
    position: relative
}

.bannerAspectRatioBot__98ba8 {
    aspect-ratio: 17/6
}

.bannerAspectRatioActivity__98ba8 {
    aspect-ratio: 16/9
}

.videoBanner__98ba8 {
    -o-object-fit: cover !important;
    object-fit: cover !important
}

.staticBanner__98ba8,
.videoBanner__98ba8 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}

.staticBanner__98ba8 {
    position: absolute;
    top: 0;
    width: 100%
}

.header__98ba8 {
    color: var(--app-message-embed-secondary-text)
}

.contentContainer__98ba8 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px
}

.contentWrapper__98ba8 {
    --custom-content-size: 64px;
    display: flex;
    flex: 1;
    gap: 12px;
    min-width: 0
}

.cursorPointer__98ba8 {
    cursor: pointer
}

.contentWrapperClickable__98ba8:hover .contentTitle__98ba8 {
    text-decoration: underline
}

.img__98ba8 {
    background-color: rgba(0, 0, 0, .64);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius-md);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    height: var(--custom-content-size);
    width: var(--custom-content-size);

    @container (max-width: 270px) {
        display: none
    }
}

.content__98ba8 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    overflow: hidden
}

.contentInfoWrapper__98ba8 {
    color: var(--app-message-embed-secondary-text)
}

.actionWrapper__98ba8 {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;

    @container (max-width: 300px) {
        flex-direction: column
    }
}

.actionWrapper__98ba8>.buttonWithPossibleDisabledTextWrapper__98ba8 {
    flex: 50%
}

.actionWrapper__98ba8.actionWrapperPrimaryFirst__98ba8 {
    flex-direction: row;

    @container (max-width: 300px) {
        flex-direction: column
    }
}

.buttonWithPossibleDisabledTextWrapper__98ba8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

.disabledReason__98ba8 {
    color: var(--app-message-embed-secondary-text);
    text-align: center
}

.wrapper__748d7 {
    display: flex;
    gap: 4px
}

:root {
    --custom-app-message-embed-base-info-gap: 4px;
    --custom-app-message-embed-base-info-top: calc(var(--custom-app-message-embed-base-info-gap) - 2px)
}

.description__1f7ec {
    margin-top: var(--custom-app-message-embed-base-info-top)
}

.description__1f7ec strong {
    font-weight: 500
}

.tagline__1f7ec {
    align-items: center;
    display: flex;
    gap: 4px;
    padding-top: var(--custom-app-message-embed-base-info-gap)
}

.tag__1f7ec:not(:first-of-type):before {
    content: "∙";
    padding: 0 3px
}
