.container__5537c {
    display: flex;
    flex-direction: row;
    min-width: 100%
}

.stepContainer__5537c {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.stepContainer__5537c+.stepContainer__5537c {
    margin-inline-start: 8px
}

.progressBar__5537c {
    background-color: var(--text-muted);
    border-radius: 4px;
    height: 4px;
    margin-bottom: 8px;
    width: 100%
}

.selectedProgressBar__5537c {
    background-color: var(--text-brand)
}

.enable-forced-colors .progressBar__5537c {
    background-color: CanvasText
}

.enable-forced-colors .selectedProgressBar__5537c {
    background-color: Highlight
}

.container__03b47 {
    background-color: var(--background-base-lower);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 8px
}

.content__03b47 {
    border-bottom: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: row;
    padding: 12px
}

.textContainer__03b47 {
    display: flex;
    flex-direction: column
}

.descriptionText__03b47 {
    margin: 8px 0
}

.image__03b47 {
    align-items: center;
    display: flex;
    justify-content: center
}

.inlineText__03b47 {
    display: inline;
    margin: 0 2px
}

.footer__03b47 {
    padding: 12px
}

.textButtonWrapper__03b47 {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}

.container__4eb6e {
    display: flex;
    flex-direction: column;
    gap: var(--space-16)
}

.container__4eb6e,
.options__4eb6e {
    margin-top: 24px
}

.channelOptionIcon__4eb6e {
    display: block;
    flex-shrink: 0
}

.channelPrivate__4eb6e {
    margin-top: 8px
}

.grid__28d93 {
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr
}

.speakerContainer__28d93 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.avatar__28d93 {
    height: 20px !important;
    margin-inline-end: 8px;
    width: 20px !important
}

.iconMicrophone__28d93,
.speakerCount__28d93 {
    background-color: var(--background-base-lowest)
}

.iconMicrophone__28d93 {
    align-items: center;
    border-radius: 50%;
    color: var(--text-default);
    display: flex;
    height: 20px;
    justify-content: center;
    margin-inline-end: 8px;
    width: 20px
}

.textInGridContainer__28d93 {
    max-width: 164px
}

.textInGrid__28d93 {
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (max-width:1200px) {
    .textInGrid__28d93 {
        max-width: 120px
    }
}

.card__88264 {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--background-base-lower);
    border-color: var(--border-subtle);
    border-radius: 8px;
    cursor: pointer;
    transition: border-color .1s, background-color .1s
}

.card__88264:hover {
    background-color: var(--background-surface-highest)
}

.lurking__88264 {
    cursor: default
}

.padding__88264 {
    padding: 16px
}

.padding__88264.isRecurring__88264 {
    padding-bottom: 0
}

.joined__88264 {
    border-color: var(--status-positive-background)
}

.inline__88264 {
    align-items: center;
    display: flex;
    overflow: hidden
}

.channelContainer__88264 {
    color: var(--text-default)
}

.channelContainerEnabled__88264 {
    cursor: pointer
}

.channelContainerEnabled__88264:hover {
    color: var(--interactive-text-active);
    text-decoration: underline
}

.channelContainerDisabled__88264 {
    cursor: not-allowed
}

.icon__88264 {
    margin-inline-end: 4px;
    min-width: 20px
}

.spacing__88264 {
    margin-top: 16px
}

.divider__88264 {
    background-color: var(--border-subtle);
    border: none;
    height: 1px;
    margin: 16px -16px 12px
}

.footer__88264 {
    justify-content: space-between
}

.eventActions__88264 {
    flex-shrink: 0
}

.channelLocation__88264 {
    cursor: pointer
}

.channelLocation__88264:hover {
    text-decoration: underline
}

.externalLocation__88264 {
    cursor: auto;
    display: flex;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.enable-forced-colors .channelContainer__88264 {
    background-color: ButtonFace;
    color: ButtonText;
    forced-color-adjust: none;
    text-decoration: underline
}

.ageVerificationNoticeSpacing__88264 {
    margin-top: var(--space-16)
}

.content_f70348 {
    padding-top: 24px
}

.channelName_f70348,
.inline_f70348 {
    display: inline
}

.channelName_f70348 {
    color: var(--text-strong)
}

.icon_f70348 {
    display: inline;
    margin: -4px 4px
}

.locationIcon_f70348 {
    color: var(--text-strong);
    margin-block: -4px;
    margin-inline: 2px 4px
}

.textContainer_f70348 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px
}

.subheader_f70348 {
    margin: 8px 0 16px;
    text-align: center
}

.previewCard_f70348 {
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    cursor: default
}

.heading-sm\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.heading-sm\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.heading-sm\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.heading-sm\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.heading-sm\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.heading-md\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.heading-md\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.heading-md\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.heading-md\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.heading-md\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.heading-lg\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.heading-lg\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.heading-lg\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.heading-lg\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.heading-lg\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.heading-xl\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal__5a092.fontScaling__5a092 {
    font-size: 1.5rem
}

.heading-xl\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium__5a092.fontScaling__5a092 {
    font-size: 1.5rem
}

.heading-xl\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold__5a092.fontScaling__5a092 {
    font-size: 1.5rem
}

.heading-xl\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold__5a092.fontScaling__5a092 {
    font-size: 1.5rem
}

.heading-xl\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold__5a092.fontScaling__5a092 {
    font-size: 1.5rem
}

.heading-xxl\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal__5a092.fontScaling__5a092 {
    font-size: 2rem
}

.heading-xxl\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium__5a092.fontScaling__5a092 {
    font-size: 2rem
}

.heading-xxl\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold__5a092.fontScaling__5a092 {
    font-size: 2rem
}

.heading-xxl\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold__5a092.fontScaling__5a092 {
    font-size: 2rem
}

.heading-xxl\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold__5a092.fontScaling__5a092 {
    font-size: 2rem
}

.eyebrow__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.heading-deprecated-12\/normal__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.heading-deprecated-12\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.heading-deprecated-12\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.heading-deprecated-12\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold__5a092 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.redesign\/heading-18\/medium__5a092 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium__5a092.fontScaling__5a092 {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold__5a092 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold__5a092.fontScaling__5a092 {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold__5a092 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold__5a092.fontScaling__5a092 {
    font-size: 1.125rem
}

.text-xxs\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal__5a092.fontScaling__5a092 {
    font-size: .625rem
}

.text-xxs\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium__5a092.fontScaling__5a092 {
    font-size: .625rem
}

.text-xxs\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/semibold__5a092.fontScaling__5a092 {
    font-size: .625rem
}

.text-xxs\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold__5a092.fontScaling__5a092 {
    font-size: .625rem
}

.text-xs\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.text-xs\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.text-xs\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/semibold__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.text-xs\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.text-sm\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/normal__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.text-sm\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.text-sm\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/semibold__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.text-sm\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold__5a092.fontScaling__5a092 {
    font-size: .875rem
}

.text-md\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.text-md\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.text-md\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.text-md\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.text-lg\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/normal__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.text-lg\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.text-lg\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/semibold__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.text-lg\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal__5a092.fontScaling__5a092 {
    font-size: .9375rem
}

.redesign\/message-preview\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium__5a092.fontScaling__5a092 {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold__5a092.fontScaling__5a092 {
    font-size: .9375rem
}

.redesign\/message-preview\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold__5a092.fontScaling__5a092 {
    font-size: .9375rem
}

.redesign\/channel-title\/normal__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.redesign\/channel-title\/medium__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.redesign\/channel-title\/semibold__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.redesign\/channel-title\/bold__5a092 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold__5a092.fontScaling__5a092 {
    font-size: 1rem
}

.display-sm__5a092 {
    font-family: var(--font-headline);
    font-size: 20px;
    font-weight: 800;
    line-height: 1
}

.display-sm__5a092.fontScaling__5a092 {
    font-size: 1.25rem
}

.display-md__5a092 {
    font-family: var(--font-headline);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md__5a092.fontScaling__5a092 {
    font-size: 2.125rem
}

.display-lg__5a092 {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg__5a092.fontScaling__5a092 {
    font-size: 2.75rem
}

.code__5a092 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code__5a092.fontScaling__5a092 {
    font-size: .75rem
}

.wrapper__5a092 {
    display: flex;
    flex-direction: column;
}

.textArea__5a092 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    height: auto;
    padding: var(--space-12) 10px;
    resize: none;
    width: 100%
}

.textArea__5a092:disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.textArea__5a092::-moz-placeholder {
    color: var(--input-placeholder-text-default);
    -moz-user-select: none;
    user-select: none
}

.textArea__5a092::placeholder {
    color: var(--input-placeholder-text-default);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resizeable__5a092 {
    resize: auto
}

.inputMaxLength__5a092 {
    position: relative
}

.flex__5a092 {
    display: flex;
    flex: 1 1 auto
}

.characterCount__5a092,
.maxLength__5a092 {
    bottom: 12px;
    color: var(--text-muted);
    font-family: var(--font-code);
    font-size: 12px;
    inset-inline-end: 14px;
    pointer-events: none;
    position: absolute
}

.errorOverflow__5a092 {
    color: var(--text-feedback-critical)
}

.errorMessage__5a092 {
    margin-top: 1px
}

.imageUploader_e4d0bf {
    font-size: 12px;
    text-align: center
}

.imageUploader_e4d0bf .removeButton_e4d0bf {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    margin-top: 10px;
    text-decoration: none
}

.imageUploader_e4d0bf .sizeInfo_e4d0bf {
    color: var(--text-muted);
    display: block;
    font-size: 10px;
    margin-top: 10px
}

.imageUploader_e4d0bf .sizeInfo_e4d0bf strong {
    font-weight: var(--font-weight-bold)
}

.imageUploader_e4d0bf.disabled_e4d0bf .imageUploaderInner_e4d0bf:focus-within,
.imageUploader_e4d0bf.disabled_e4d0bf .imageUploaderInner_e4d0bf:hover {
    box-shadow: none
}

.imageUploaderIconWrapper_e4d0bf {
    display: inline-block;
    position: relative;
    width: 100%
}

.imageUploaderInner_e4d0bf {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 0;
    height: 138px;
    position: relative;
    transition: box-shadow background-color .1s .1s;
    width: 138px
}

.imageUploaderInner_e4d0bf>* {
    align-items: center;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    justify-content: center;
    pointer-events: none
}

.imageUploaderInner_e4d0bf .imageUploaderFileInput_e4d0bf,
.imageUploaderInner_e4d0bf input[type=file] {
    pointer-events: auto
}

.imageUploaderInner_e4d0bf:focus-within,
.imageUploaderInner_e4d0bf:hover {
    box-shadow: inset 0 0 120px var(--opacity-black-76)
}

.imageUploaderInner_e4d0bf:focus-within .imageUploaderAcronym_e4d0bf,
.imageUploaderInner_e4d0bf:hover .imageUploaderAcronym_e4d0bf {
    visibility: hidden
}

.imageUploaderInner_e4d0bf:focus-within+.imageUploaderHint_e4d0bf,
.imageUploaderInner_e4d0bf:hover+.imageUploaderHint_e4d0bf {
    visibility: visible
}

.imageUploaderFileInput_e4d0bf {
    cursor: pointer
}

.imageUploaderAcronym_e4d0bf {
    overflow: hidden;
    white-space: nowrap
}

.imageUploaderHint_e4d0bf {
    inset-inline: 0;
    bottom: 0;
    color: var(--white);
    font-size: 10px;
    font-weight: var(--font-weight-bold);
    line-height: 12px;
    pointer-events: none;
    text-transform: uppercase;
    visibility: hidden;
    white-space: pre
}

.imageUploaderHint_e4d0bf,
.imageUploaderIcon_e4d0bf {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0
}

.imageUploaderIcon_e4d0bf {
    background-color: var(--background-surface-high);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: var(--shadow-border), var(--shadow-low);
    height: 28px;
    inset-inline: auto 0;
    width: 28px
}

.imageUploaderIconDisabled_e4d0bf {
    opacity: 50%
}

.removeButton_e4d0bf {
    color: var(--interactive-text-default)
}

.removeButton_e4d0bf:hover {
    color: var(--interactive-text-hover)
}

.enable-forced-colors .imageUploaderInner_e4d0bf {
    border: 2px solid ButtonText;
    forced-color-adjust: none;
    outline: 1px solid Canvas;
    outline-offset: -3px
}

.enable-forced-colors .imageUploaderHint_e4d0bf {
    background-color: ButtonFace;
    color: ButtonText
}

.images-light .imageUploaderIcon_e4d0bf {
    background-image: url(/assets/8f18dfd4baacebf4.svg)
}

.images-dark .imageUploaderIcon_e4d0bf {
    background-image: url(/assets/6ca913b246a05ffc.svg)
}

.avatarUploader_e04502 .avatarUploaderInner_e04502,
.avatarUploaderDisabled_e04502 .avatarUploaderInner_e04502 {
    background-size: 100% 100%;
    height: 100px;
    width: 100px
}

.avatarUploaderInnerSquare_e04502 {
    background-image: linear-gradient(45deg, var(--guild-boosting-blue) 0, var(--guild-boosting-purple) 100%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%
}

.avatarUploaderInnerSquareDisabled_e04502 {
    background-color: var(--primary-500);
    background-image: none
}

.avatarUploadIcon_e04502 {
    inset-inline-end: 16px;
    top: 16px
}

.avatarUploaderDisabled_e04502 {
    cursor: not-allowed
}

.avatarUploader_e04502 .avatarUploaderInner_e04502,
.avatarUploaderDisabled_e04502 .avatarUploaderInner_e04502 {
    box-shadow: var(--shadow-border), var(--shadow-high)
}

.avatarUploader_e04502 .avatarUploaderInner_e04502:hover {
    box-shadow: var(--elevation-high), inset 0 0 120px rgba(0, 0, 0, .6)
}

.avatarUploadIcon_e04502.hideDefaultIcon_e04502 {
    background-color: var(--white);
    background-image: none
}

.imageInputContainer__4cc0e {
    height: 0;
    position: relative;
    width: 0
}

@keyframes outgoing-call-pulse_f910d0 {
    0% {
        opacity: 0;
        transform: scaleX(1)
    }

    11.56% {
        opacity: 1
    }

    39.02% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }

    39.03% {
        transform: scaleX(1)
    }

    39.04% {
        opacity: 1
    }

    66.48% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }

    to {
        opacity: 0;
        transform: scaleX(1)
    }
}

@keyframes incoming-call-pulse_f910d0 {
    0% {
        opacity: 0;
        transform: scaleX(1)
    }

    0.7% {
        opacity: 1
    }

    25.54% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }

    25.55% {
        transform: scaleX(1)
    }

    25.56% {
        opacity: 1
    }

    49.98% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }

    49.99% {
        transform: scaleX(1)
    }

    50% {
        opacity: 1
    }

    74.69% {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }

    74.70% {
        transform: scaleX(1)
    }

    74.71% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1)
    }
}

.clickable_f910d0 {
    cursor: pointer
}

.wrapper_f910d0 {
    position: relative
}

.wrapper_f910d0.ringingOutgoing_f910d0:after {
    animation: outgoing-call-pulse_f910d0 var(--custom-call-avatar-outgoing-duration) infinite ease-out;
    background: transparent;
    border: 3px solid var(--interactive-text-active);
    border-radius: 100%;
    content: "";
    height: 100%;
    inset-inline-start: -3px;
    pointer-events: none;
    position: absolute;
    top: -3px;
    transform-origin: center;
    width: 100%
}

.wrapper_f910d0.small_f910d0.ringingOutgoing_f910d0:after {
    border: 1px solid var(--interactive-text-active);
    inset-inline-start: -1px;
    top: -1px
}

.wrapper_f910d0.ringingIncoming_f910d0:after {
    animation: incoming-call-pulse_f910d0 var(--custom-call-avatar-incoming-duration) infinite ease-out;
    background: transparent;
    border: 3px solid var(--interactive-text-active);
    border-radius: 100%;
    content: "";
    height: 100%;
    inset-inline-start: -3px;
    pointer-events: none;
    position: absolute;
    top: -3px;
    transform-origin: center;
    width: 100%
}

.statusContainer_f910d0 {
    background-color: var(--red-400);
    border-radius: 50%;
    bottom: 0;
    inset-inline-end: 0;
    padding: 4px;
    position: absolute
}

.status_f910d0,
.statusContainer_f910d0 {
    height: 16px;
    width: 16px
}

.voiceAvatar_f910d0 {
    border-radius: 50%;
    height: 100%;
    position: inherit;
    width: 100%
}

.voiceAvatar_f910d0.ringingOutgoing_f910d0 {
    opacity: .3
}

.border_f910d0 {
    border-radius: 50%;
    inset: 0;
    position: absolute
}

.app-focused .border_f910d0 {
    transition: box-shadow .1s ease-out
}

.overlay_f910d0 {
    align-items: center;
    background-color: var(--opacity-black-60);
    border-radius: 50%;
    display: flex;
    height: 100%;
    inset: 0;
    justify-content: center;
    position: absolute;
    width: 100%
}

.overlayIcon_f910d0 {
    color: var(--white);
    height: 32px;
    width: 32px
}

.callAvatarMask_f910d0 {
    overflow: visible;
    position: relative
}

.callAvatarMaskContainer_f910d0 {
    height: 100%;
    position: relative
}

.container__26abc {
    background-color: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    max-height: 300px;
    padding: 8px
}

.user__26abc {
    justify-content: flex-start;
    padding: 8px
}

.user__26abc,
.username__26abc {
    align-items: center;
    display: flex
}

.username__26abc {
    gap: var(--space-4)
}

.avatar__26abc {
    margin-inline-end: 12px;
    opacity: .5
}

.blockedNotice__26abc {
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 24px
}

.blockedButton__26abc {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
    margin-inline-start: 4px
}

.icon__26abc {
    background-clip: padding-box;
    background-color: var(--background-mod-strong);
    border-radius: 50%;
    color: var(--white);
    height: 12px;
    inset-inline-end: -2px;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 12px
}

.userInfo__26abc {
    margin-inline-start: 12px
}

.calendarPicker_d27f17 .react-datepicker {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    font-family: var(--font-primary);
    padding: 20px
}

.calendarPicker_d27f17 .react-datepicker__header {
    background-color: var(--background-surface-higher);
    border-bottom: 0;
    padding-top: 0
}

.calendarPicker_d27f17 .react-datepicker__current-month {
    border-bottom: 1px solid;
    color: var(--text-strong);
    font-size: 13px;
    font-weight: var(--font-weight-semibold);
    line-height: 20px;
    margin: 0 0 10px;
    padding: 0 0 20px;
    text-transform: uppercase
}

.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next,
.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 6px 12px;
    border: 1px solid;
    border-radius: 2px;
    height: 18px;
    inset-inline-start: 20px;
    top: 20px;
    transform: rotate(180deg);
    width: 18px
}

.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next,
.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous.react-datepicker__navigation--next {
    inset-inline-end: 20px;
    inset-inline-start: auto;
    transform: rotate(0deg)
}

.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next:focus-visible,
.calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous:focus-visible {
    box-shadow: 0 0 0 4px var(--blue-345)
}

.calendarPicker_d27f17 .react-datepicker__navigation-icon:before {
    border-width: 0
}

.calendarPicker_d27f17 .react-datepicker__month {
    margin: 0
}

.calendarPicker_d27f17 .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type {
    border-radius: 3px 0 0
}

.calendarPicker_d27f17 .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type {
    border-radius: 0 3px 0 0
}

.calendarPicker_d27f17 .react-datepicker__week:last-of-type>.react-datepicker__day {
    border-bottom: 1px solid var(--primary-200)
}

.calendarPicker_d27f17 .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type {
    border-radius: 0 0 0 3px
}

.calendarPicker_d27f17 .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type {
    border-radius: 0 0 3px
}

.calendarPicker_d27f17 .react-datepicker__week>.react-datepicker__day:last-of-type {
    border-inline-end: 1px solid
}

.calendarPicker_d27f17 .react-datepicker__day-names {
    margin-bottom: 10px
}

.calendarPicker_d27f17 .react-datepicker__day-name {
    font-size: 13px;
    font-weight: var(--font-weight-medium);
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
    width: 40px
}

.calendarPicker_d27f17 .react-datepicker__day {
    border-inline-start: 1px solid var(--border-subtle);
    border-top: 1px solid var(--border-subtle);
    box-sizing: border-box;
    color: var(--text-strong);
    height: 40px;
    line-height: 40px;
    margin: 0;
    position: relative;
    width: 40px
}

.calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker_d27f17 .react-datepicker__day:hover {
    background-color: var(--brand-500);
    border-radius: 0;
    color: var(--white)
}

.calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected {
    background: none;
    border-radius: 0
}

.calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--brand-500);
    bottom: 0;
    content: "";
    height: 3px;
    inset-inline-start: 0;
    position: absolute;
    width: 100%
}

.calendarPicker_d27f17 .react-datepicker__day:focus-visible {
    border-top-color: var(--blue-345);
    border: 1px solid var(--blue-345);
    border-inline-start-color: var(--blue-345)
}

.calendarPicker_d27f17 .react-datepicker__day--disabled,
.calendarPicker_d27f17 .react-datepicker__day--outside-month {
    font-weight: var(--font-weight-medium)
}

.calendarPicker_d27f17 .react-datepicker__day--disabled_d27f17,
.calendarPicker_d27f17 .react-datepicker__day--outside-month_d27f17 {
    background-color: var(--background-base-lower)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__header {
    border-color: hsl(var(--primary-200-hsl)/.2)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__current-month {
    border-bottom-color: hsl(var(--primary-200-hsl)/.2)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-light .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: var(--primary-200)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: var(--primary-200)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__week .react-datepicker__day:last-of-type {
    border-inline-end-color: var(--primary-200)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__day-name {
    color: hsl(var(--primary-500-hsl)/.6)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled,
.theme-light .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--opacity-black-4);
    color: var(--opacity-black-20)
}

.theme-light .calendarPicker_d27f17 .react-datepicker__day--disabled,
.theme-light .calendarPicker_d27f17 .react-datepicker__day--outside-month {
    color: hsl(var(--primary-500-hsl)/.3)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__header {
    border-color: hsl(var(--primary-800-hsl)/.2)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__current-month {
    border-bottom-color: hsl(var(--primary-800-hsl)/.3)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: var(--primary-800)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: var(--primary-800)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__week .react-datepicker__day:last-of-type {
    border-inline-end-color: var(--primary-800)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__day-name {
    color: hsl(var(--primary-100-hsl)/.6)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--primary-630);
    color: hsl(var(--primary-100-hsl)/.3)
}

.theme-dark .calendarPicker_d27f17 .react-datepicker__day--disabled,
.theme-dark .calendarPicker_d27f17 .react-datepicker__day--outside-month {
    color: hsl(var(--primary-100-hsl)/.3)
}

.enable-forced-colors .calendarPicker_d27f17 .react-datepicker {
    border: 2px solid CanvasText
}

.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--keyboard-selected,
.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:hover,
.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day:hover {
    background-color: HighlightText;
    color: Highlight
}

.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: Highlight
}

.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day:focus-visible {
    background-color: HighlightText;
    border-color: Highlight;
    color: Highlight
}

.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled,
.enable-forced-colors .calendarPicker_d27f17 .react-datepicker__day.react-datepicker__day--disabled:hover {
    color: GrayText
}

.images-light .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next,
.images-light .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous {
    background-image: url(/assets/f7d0845b63d81c46.svg)
}

.images-dark .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--next,
.images-dark .calendarPicker_d27f17 .react-datepicker__navigation.react-datepicker__navigation--previous {
    background-image: url(/assets/a46a54146b77fab4.svg)
}

.calendarContainer__9bb02 {
    box-shadow: var(--legacy-elevation-border), var(--legacy-elevation-high)
}

.container__9bb02 {
    cursor: pointer;
    display: grid;
    gap: var(--space-8);
    grid-template-columns: 1fr auto;
    min-height: var(--control-input-height-md);
    padding: var(--space-8) var(--space-12)
}

.doubleInput__6dc4b {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    position: relative
}

.doubleInput__6dc4b>div {
    flex: 1 1 0;
    width: 0
}

.doubleInput__6dc4b>div:first-child {
    margin-inline-end: 8px
}

.doubleInput__6dc4b>div:nth-child(2) {
    margin-inline-start: 8px
}

.blockedUsersContainer__97cfe {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.form__97cfe {
    align-self: stretch
}

.formItem__97cfe {
    margin-top: 24px;
    width: 100%
}

.topicFormItem__97cfe {
    margin-bottom: 16px;
    width: 100%
}

.cancelButton__97cfe {
    margin-inline-end: 8px
}

.addImageHint__97cfe,
.imagePreview__97cfe,
.warning__97cfe {
    margin-bottom: 8px
}

.imagePreviewInner__97cfe {
    width: 100%
}

.header__047bc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--space-16) 0
}

.copyInput_fffc15 {
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    transition: border-color .2s ease-in-out
}

.copyInput_fffc15[data-disabled=true] {
    cursor: not-allowed
}

.copyInput_fffc15[data-disabled=true] .inputWrapper_fffc15 {
    opacity: .5
}

.copyInput_fffc15[data-disabled=true] .input_fffc15 {
    cursor: not-allowed
}

.copyInputDefault_fffc15,
.copyInputError_fffc15 {}

.copyInputError_fffc15 {
    background-color: var(--background-feedback-critical);
    border-color: var(--text-feedback-critical);
    color: var(--text-feedback-critical)
}

.copyInputSuccess_fffc15 {
    background-color: var(--background-feedback-positive);
    border-color: var(--text-feedback-positive);
    color: var(--text-feedback-positive)
}

.layout_fffc15 {
    inset: 0;
    position: absolute
}

.inputWrapper_fffc15 {
    position: relative
}

.button_fffc15 {
    border-radius: var(--radius-xs);
    margin-block: 4px;
    margin-inline: 0 4px;
    padding: 2px 20px !important;
    transition: background-color .2s ease-in-out, color .2s ease-in-out
}

.hiddenMessage_fffc15,
.input_fffc15 {
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    padding-block: 10px;
    padding-inline: 10px 0;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap
}

.input_fffc15 {
    border: none;
    box-sizing: border-box;
    cursor: text;
    flex: 1 1 auto;
    min-width: 0;
    transition: color .15s ease;
    width: 100%
}

.inputDefault_fffc15 {}

.inputError_fffc15,
.inputSuccess_fffc15 {
    color: var(--text-default)
}

.hiddenMessage_fffc15 {
    inset: 0;
    position: absolute;
    z-index: 0
}

.inputHidden_fffc15 {
    visibility: hidden
}

.hiddenMessage_fffc15,
.inputDefault_fffc15 {
    color: var(--text-default)
}

.hiddenMessage_fffc15::-moz-placeholder,
.inputDefault_fffc15::-moz-placeholder {
    color: var(--input-placeholder-text-default)
}

.hiddenMessage_fffc15::placeholder,
.inputDefault_fffc15::placeholder {
    color: var(--input-placeholder-text-default)
}

@keyframes outgoing-call-pulse__67dba {
    0% {
        opacity: .5
    }

    11.56% {
        opacity: 1
    }

    39.02% {
        opacity: .5
    }

    39.04% {
        opacity: 1
    }

    66.48% {
        opacity: .5
    }

    to {
        opacity: .5
    }
}

@keyframes outgoing-call-ellipsis__67dba {
    0% {
        content: ""
    }

    66.48% {
        content: ""
    }

    66.5% {
        content: "."
    }

    85% {
        content: ".."
    }

    90% {
        content: "..."
    }

    to {
        content: ""
    }
}

.modal__67dba {
    max-height: 645px;
    min-height: 144px
}

.closeButton__67dba {
    height: 12px;
    inset-inline-end: 28px;
    position: absolute;
    top: 12px;
    width: 12px;
    z-index: 3
}

.channelIcon__67dba {
    color: var(--interactive-text-default);
    height: 16px;
    margin: 0 2px -2px;
    width: 16px
}

.inviteSectionHeader__67dba {
    align-items: center;
    color: var(--text-muted);
    cursor: pointer;
    display: flex;
    gap: var(--space-xxs);
    height: calc(var(--custom-invite-section-header-height)*1px);
    padding: 0;
    padding-top: calc(var(--custom-invite-section-header-gap)*1px)
}

.inviteSectionToggleIcon__67dba {
    height: 12px;
    transform: rotate(var(--custom-icon-collapse-rotate));
    transition: transform .1s linear;
    width: 12px
}

.inviteRow__67dba {
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin: 0 -8px;
    padding-bottom: 7px;
    padding-inline-end: 8px;
    padding-top: 7px;
    padding-inline-start: 5px
}

.inviteRowAvatar__67dba {
    flex: none;
    margin-top: 0;
    margin-inline-end: 10px;
    margin-inline-start: 3px
}

.inviteRowInfo__67dba {
    align-items: center;
    display: flex;
    margin-inline-end: 4px;
    overflow: hidden
}

.inviteRowLabels__67dba {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    overflow: hidden
}

.inviteRowLabels__67dba.ringing__67dba {
    animation: outgoing-call-pulse__67dba var(--custom-call-avatar-outgoing-duration) infinite ease-out
}

.inviteRowSubLabel__67dba {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs)
}

.inviteRowSubLabel__67dba.ringing__67dba:after {
    animation: outgoing-call-ellipsis__67dba var(--custom-call-avatar-outgoing-duration) infinite ease-out;
    bottom: 2px;
    content: "";
    inset-inline-start: -2px;
    opacity: .5;
    position: relative
}

.inviteRowStatusIcon__67dba {
    height: 12px;
    width: 12px
}

.inviteRowEmptyState__67dba {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center
}

.inviteRowActions__67dba {
    display: flex;
    gap: var(--space-xs)
}

.warningContainer__67dba {
    align-items: center;
    display: flex;
    margin: 8px 0
}

.warningIcon__67dba {
    margin-inline-end: 8px
}

.input__67dba {
    background-color: transparent;
    border: none
}

.noPadding__67dba {
    padding-top: 0
}

.content__67dba {
    width: 100%
}

.content__67dba:before {
    content: "";
    height: 1px;
    margin-inline-start: -6px;
    transform: translateY(-20px);
    width: 412px
}

.copyInput__67dba {
    flex-grow: 1
}

.copyButton__67dba {
    margin-inline-end: 4px;
    width: 75px
}

.subText__67dba {
    color: var(--text-subtle);
    margin-bottom: 12px
}

.formText__67dba {
    align-items: center;
    display: flex;
    gap: 8px
}

.toggle__67dba {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    max-width: 100%
}

.noScroll__67dba {
    overflow: visible !important
}

.settingsFooter__67dba {
    z-index: 0
}

.inviteRow__67dba:hover {
    background-color: var(--interactive-background-hover);
    color: var(--interactive-text-hover)
}

.footer__67dba {
    background-color: var(--background-base-lower)
}

.copied__67dba {
    border-color: var(--green-360)
}

.footerText__67dba {
    color: var(--text-muted)
}

.headerContainer__67dba {
    width: 100%
}

.errorMessage__67dba {
    margin-top: 8px
}

.errorLink__67dba {
    cursor: pointer;
    margin: 8px 0
}

.premiumIcon__67dba {
    color: var(--guild-boosting-pink);
    flex: 0 0 auto;
    height: 24px;
    margin: 0 12px;
    position: relative;
    top: 1px;
    width: 16px
}

.acronym__67dba {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: 16px;
    display: flex;
    flex: none;
    height: 32px;
    justify-content: center;
    margin-top: 0;
    margin-inline-end: 10px;
    margin-inline-start: 3px;
    white-space: nowrap;
    width: 32px
}

.guestBody__67dba {
    padding: 16px 0
}

.guestSendInviteLinkHeader__67dba {
    margin-bottom: 8px;
    margin-top: 20px
}

.guestSelectChannelHeader__67dba {
    margin-bottom: 8px;
    margin-top: 16px
}

.divider__67dba {
    align-self: stretch;
    background: var(--border-subtle);
    height: 1px;
    margin: 16px 0
}

.footerWithCheckbox__67dba {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.container__05cdc {
    display: flex
}

.sparkleIcon__05cdc {
    height: 12px;
    width: 12px
}

.sparkleTop__05cdc {
    align-self: flex-start;
    margin-inline-end: auto
}

.sparkleBottom__05cdc {
    align-self: flex-end;
    margin-inline-start: auto
}

.container_a2844c {
    padding: 8px
}

.close_a2844c {
    color: var(--interactive-text-default);
    cursor: pointer;
    inset-inline-end: 4px;
    position: absolute;
    top: 4px
}

.close_a2844c:hover {
    color: var(--interactive-text-hover)
}

.iconContainer_a2844c {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    width: 64px
}

.icon_a2844c {
    color: var(--text-strong)
}

.text_a2844c {
    text-align: center
}

.header_a2844c {
    margin-top: 24px
}

.body_a2844c {
    margin-top: 8px
}

.invite_a2844c {
    margin-top: 24px
}

.inviteDetail_a2844c {
    margin-top: 8px
}

.cannon_a2844c {
    height: 100%;
    position: absolute;
    width: 100%
}

.inline__99afd {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline-start: auto
}

.footer__99afd {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.content__99afd {
    padding: 16px
}

.button__99afd {
    margin-inline-start: 8px
}

.cannon__99afd {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0
}

.textButtonWrapper__99afd {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}
