.root_fdf9c0 {
    border: none;
    border-radius: var(--radius-lg);
    max-height: unset;
    overflow: hidden;
    position: relative
}

.background_fdf9c0 {
    background: url(/assets/5071d09daafd2d99.svg);
    background-size: cover;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.background_fdf9c0:before {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: transparent;
    top: 16px;
    inset-inline: 16px
}

.background_fdf9c0:after,
.background_fdf9c0:before {
    bottom: 0;
    content: "";
    position: absolute
}

.background_fdf9c0:after {
    background-color: var(--background-surface-high);
    top: 0;
    inset-inline: 0;
    opacity: .7
}

.content_fdf9c0 {
    gap: var(--space-16);
    padding-bottom: var(--space-16);
    position: relative;
    width: 100%
}

.content_fdf9c0,
.textContainer_fdf9c0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.textContainer_fdf9c0 {
    gap: var(--space-8)
}

.safetyTable_fdf9c0 {
    background-color: var(--background-mod-subtle);
    border-radius: var(--space-16);
    width: 376px
}

.theme-light .safetyTable_fdf9c0 {
    background-color: var(--opacity-white-24)
}
