.recurrences__4fb8c {
    display: flex;
    flex-direction: column;
    padding: var(--space-4) var(--space-12) var(--space-12)
}

.heading__4fb8c {
    margin-bottom: 8px;
    margin-inline-start: 4px
}

.scroller__4fb8c {
    display: flex;
    flex-direction: column
}

.showScroller__4fb8c {
    height: 140px
}

.buttonContainer__4fb8c {
    display: flex;
    justify-content: center;
    padding-top: var(--space-8)
}
