.container__50e22 {
    background-color: var(--modal-background);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    padding: 8px;
    width: 250px
}

.popoutRoleDot__50e22 {
    margin-inline-end: 4px
}

.popoutRoleCircle__50e22 {
    margin-inline-end: 8px
}
