.container__530ce {
    align-items: center;
    display: flex
}

.mutuals__530ce {
    -moz-column-gap: 6px;
    column-gap: 6px;
    flex-wrap: wrap;
    row-gap: 2px
}

.mutuals__530ce,
.section__530ce {
    align-items: center;
    display: flex;
    flex-direction: row
}

.section__530ce {
    cursor: pointer;
    gap: 4px
}

.section__530ce:focus-visible .text__530ce,
.section__530ce:hover .text__530ce {
    text-decoration: underline
}

.spacer__530ce {
    background-color: var(--interactive-text-default);
    border-radius: var(--radius-round);
    height: 4px;
    width: 4px
}

.container__10737 {
    background-color: var(--background-mod-normal);
    border-start-end-radius: var(--radius-sm);
    border-start-start-radius: var(--radius-sm);
    box-shadow: var(--shadow-low);
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding-block-end: 6px;
    padding-block-start: 6px;
    padding-inline-end: 0;
    padding-inline-start: 16px;
    position: relative;
    width: 252px
}

.container__10737:before {
    background: #c6cdf4;
    content: "";
    filter: blur(40px);
    height: 170px;
    inset-block-start: -190px;
    inset-inline-start: 50%;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    width: 221px
}

.closeButton__10737 {
    inset-inline-end: 6px;
    position: absolute;
    top: 6px
}

.subtitleContainer__10737 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 4px
}

.currentUserAvatar__10737 {
    border: 2px solid var(--background-mod-normal);
    margin-inline: -4px;
    margin-inline-end: 4px
}

.custom-user-profile-theme .container_a99829 {
    border: none
}

.theme-light.custom-user-profile-theme .container_a99829 {
    background: var(--opacity-black-8)
}

.theme-dark.custom-user-profile-theme .container_a99829 {
    background: var(--opacity-white-12)
}

.editor_a99829.editor_a99829 {
    --channel-text-area-placeholder: var(--text-muted);
    font-size: 14px
}

.ctaRow_a99829 {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.menuItemLabel_a99829 {
    display: flex;
    gap: 6px
}

.container_a99829 {
    border-radius: var(--radius-sm)
}

.upsell_a99829 {
    border-radius: 0 0 var(--radius-sm) var(--radius-sm)
}

.buttons_a99829 {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding-block-start: var(--space-6)
}

.previewContainer__5a2c6 {
    position: relative;
    z-index: 0
}

.container__5a2c6 {
    box-sizing: content-box;
    position: relative;
    --custom-profile-frame-layer-scale: calc(300/var(--custom-profile-frame-container-width));
    --custom-profile-frame-scaled-overflow-horizontal: calc(var(--custom-profile-frame-overflow-horizontal)*var(--custom-profile-frame-layer-scale));
    --custom-profile-frame-scaled-overflow-top: calc(var(--custom-profile-frame-overflow-top)*var(--custom-profile-frame-layer-scale));
    --custom-profile-frame-scaled-overflow-bottom: calc(var(--custom-profile-frame-overflow-bottom)*var(--custom-profile-frame-layer-scale))
}

.container__5a2c6.custom-user-profile-theme {
    --custom-profile-frame-layer-scale: calc(308/var(--custom-profile-frame-container-width))
}

.container__5a2c6.custom-profile-frame {
    margin-block-start: calc(var(--custom-profile-frame-scaled-overflow-top)*1px);
    margin-inline: calc(var(--custom-profile-frame-scaled-overflow-horizontal)*1px)
}

.container__5a2c6.custom-profile-frame-bottom {
    margin-block-end: calc(var(--custom-profile-frame-scaled-overflow-bottom)*1px)
}

.header__5a2c6 {
    min-height: calc(var(--custom-user-profile-banner-height) + 45px);
    z-index: 2
}

.custom-user-profile-theme .header__5a2c6 {
    min-height: calc(var(--custom-user-profile-banner-height) + 35px)
}

.profileFrame__5a2c6 {
    --custom-profile-frame-drop-shadow-opacity: 0
}
