.root__48c1c {
    flex-wrap: wrap;
    margin-top: 2px;
    position: relative
}

.role__48c1c,
.root__48c1c {
    display: flex
}

.role__48c1c {
    align-items: center;
    background: var(--background-mod-normal);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    height: 22px;
    margin-block: 0 4px;
    margin-inline: 0 4px;
    padding: 4px
}

.roleRemoveButton__48c1c {
    position: relative
}

.roleRemoveButtonCanRemove__48c1c {
    cursor: pointer
}

.roleDot__48c1c {
    font-size: 1.34em
}

.roleFlowerStar__48c1c {
    margin: 0 4px
}

.roleRemoveIcon__48c1c {
    display: none;
    height: 10px;
    inset-inline-start: 50%;
    margin-block: -5px 0;
    margin-inline: -5px 0;
    position: absolute;
    top: 50%;
    width: 10px
}

.role__48c1c:focus .roleRemoveIcon__48c1c,
.role__48c1c:hover .roleRemoveIcon__48c1c,
.roleRemoveIconFocused__48c1c .roleRemoveIcon__48c1c {
    display: block
}

.role__48c1c:focus .roleVerifiedIcon__48c1c,
.role__48c1c:hover .roleVerifiedIcon__48c1c,
.roleRemoveIconFocused__48c1c .roleVerifiedIcon__48c1c {
    display: none
}

.roleName__48c1c {
    margin-inline-end: 4px;
    max-width: 200px;
    overflow: hidden
}

.roleNameOverflow__48c1c {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.actionButton__48c1c {
    color: var(--interactive-text-active);
    font-size: 11px;
    justify-content: center;
    line-height: 11px
}

.overflowButton__48c1c {
    padding: 4px 8px
}

.addButton__48c1c {
    padding: 4px 5px
}

.addButtonIcon__48c1c {
    cursor: pointer;
    height: 14px;
    width: 14px
}

.overflowRolesPopout__48c1c {
    background-color: var(--background-mod-normal);
    border-radius: 3px;
    box-shadow: var(--legacy-elevation-high), var(--legacy-elevation-border);
    padding: 8px;
    width: 200px
}

.overflowRolesPopoutArrowWrapper__48c1c {
    height: 12px;
    margin-inline-start: -8px;
    overflow: hidden;
    width: 16px
}

.overflowRolesPopoutArrow__48c1c {
    background-color: var(--background-mod-normal);
    box-shadow: var(--legacy-elevation-high), var(--legacy-elevation-border);
    height: 8px;
    transform: rotate(45deg);
    width: 8px
}

.popoutBottom__48c1c .overflowRolesPopoutArrowWrapper__48c1c {
    bottom: 100%;
    inset-inline-start: 50%;
    position: absolute
}

.popoutBottom__48c1c .overflowRolesPopoutArrow__48c1c {
    bottom: -4px;
    inset-inline-start: 4px;
    position: absolute
}

.popoutTop__48c1c .overflowRolesPopoutArrowWrapper__48c1c {
    inset-inline-start: 50%;
    position: absolute;
    top: 100%
}

.popoutTop__48c1c .overflowRolesPopoutArrow__48c1c {
    inset-inline-start: 4px;
    position: absolute;
    top: -4px
}

.overflowRolesPopoutHeader__48c1c {
    margin-bottom: 8px
}

.overflowRolesPopoutHeaderIcon__48c1c {
    height: 12px;
    margin-inline-end: 4px;
    width: 12px
}

.overflowRolesPopoutHeaderText__48c1c {
    color: var(--primary-400);
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase
}

.theme-dark .overflowRolesPopout__48c1c {
    color: var(--opacity-white-80)
}

.theme-light .overflowRolesPopout__48c1c {
    color: hsl(var(--primary-500-hsl)/.8)
}

.roleIcon__48c1c {
    margin-inline-end: 4px;
    vertical-align: middle
}

.enable-forced-colors .role__48c1c {
    border: 1px solid CanvasText
}

.enable-forced-colors .actionButton__48c1c {
    color: ButtonText
}

.enable-forced-colors .roleRemoveIcon__48c1c {
    background-color: ButtonFace;
    border-radius: 100%;
    color: ButtonText;
    padding: 2px
}

.enable-forced-colors .roleRemoveIcon__48c1c path {
    fill: ButtonText !important
}
