.popover_d6f39b {
    background: var(--background-surface-high);
    border-radius: var(--radius-md);
    box-shadow: inset 0 0 0 1px var(--border-subtle), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-16);
    position: relative;
    text-align: center;
    --custom-popover-caret-gradient-color-start: transparent;
    --custom-popover-caret-gradient-color-end: transparent
}

:where(.popover_d6f39b) {
    max-width: var(--custom-popover-width);
    width: var(--custom-popover-width)
}

.popoverGradientWrapper_d6f39b {
    background: var(--background-surface-high);
    border-radius: var(--radius-md);
    box-shadow: inset 0 0 0 1px var(--border-subtle), var(--shadow-high);
    --custom-popover-caret-gradient-color-start: var(--custom-gradient-color-start);
    --custom-popover-caret-gradient-color-end: var(--custom-gradient-color-end)
}

.popoverContentWithGradient_d6f39b {
    background: transparent;
    border-radius: var(--radius-md);
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    max-width: var(--custom-popover-width);
    padding: var(--space-16);
    position: relative;
    text-align: center;
    width: var(--custom-popover-width)
}

.popover--video_d6f39b,
.popoverContentWithGradient_d6f39b.popover--video_d6f39b {
    padding: var(--space-4)
}

.popover--video_d6f39b .footer_d6f39b,
.popover--video_d6f39b .header_d6f39b {
    padding: 0 var(--space-16)
}

.popover--video_d6f39b .actionBar_d6f39b {
    padding: 0 var(--space-16) var(--space-16)
}

.closeButton_d6f39b {
    inset-inline-end: var(--space-4);
    position: absolute;
    top: var(--space-4);
    z-index: 2
}

.header_d6f39b {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin: var(--space-20) 0;
    position: relative;
    z-index: 1
}

.headerWithBadge_d6f39b {}

.title_d6f39b {
    margin: 0;
    text-align: center
}

.headerBody_d6f39b {
    color: var(--text-subtle);
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0
}

.badgeContainer_d6f39b {
    margin-bottom: var(--space-12)
}

.content_d6f39b {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1
}

.graphic_d6f39b {
    margin: var(--space-16) auto var(--space-20);
    width: 100%
}

.graphic--md_d6f39b,
.graphic--sm_d6f39b {
    max-width: 144px
}

.graphic--lg_d6f39b {
    max-width: 160px
}

.graphic--video_d6f39b {
    max-width: 232px
}

.footer_d6f39b {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    text-align: center
}

.footerText_d6f39b {
    color: var(--text-muted);
    margin: 0
}

.footerLink_d6f39b {
    color: var(--text-link);
    margin: 0
}

.actionBar_d6f39b {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    justify-content: center
}

.actionBar_d6f39b .actions_d6f39b {
    flex: 1;
    min-width: unset
}

.actions_d6f39b {
    display: flex;
    flex-direction: column;
    gap: var(--space-8)
}

.multistepIndicator_d6f39b {
    color: var(--text-muted);
    margin-inline-start: var(--space-4);
    margin-top: var(--space-4);
    opacity: .7
}

.multistepActionLayout_d6f39b {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.caretIcon_d6f39b .caretFill_d6f39b {
    fill: var(--background-surface-high)
}

.caretIcon_d6f39b .caretGradient_d6f39b {
    fill: var(--custom-popover-caret-gradient-color, transparent)
}

.caretIcon_d6f39b .caretStroke_d6f39b {
    stroke: var(--border-subtle);
    stroke-opacity: 1
}

.caret__6ec79 {
    --custom-caret-half-width: 11px;
    --custom-caret-half-height: 7px;
    --custom-caret-horizontal-distance: 18px;
    --custom-caret-border-overlap: 1px;
    color: transparent;
    pointer-events: none;
    position: absolute;
    transform-origin: center
}

.caret--bottom__6ec79 {
    top: calc(100% - var(--custom-caret-border-overlap));
    transform: rotate(0deg)
}

.caret--top__6ec79 {
    bottom: calc(100% - var(--custom-caret-border-overlap));
    transform: rotate(180deg)
}

.caret--left__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-start) 25%, transparent);
    inset-inline-start: calc(var(--custom-caret-horizontal-distance)*-1);
    transform: rotate(90deg)
}

.caret--right__6ec79 {
    inset-inline-end: calc(var(--custom-caret-horizontal-distance)*-1);
    transform: rotate(-90deg)
}

.caret--bottom__6ec79.caret--center__6ec79,
.caret--top__6ec79.caret--center__6ec79 {
    inset-inline-start: calc(50% + var(--custom-caret-edge-offset-horizontal-nudge, 0));
    margin-inline-start: calc(var(--custom-caret-half-width)*-1)
}

.caret--bottom__6ec79.caret--start__6ec79,
.caret--top__6ec79.caret--start__6ec79 {
    inset-inline-start: calc(var(--custom-caret-edge-offset-horizontal) + var(--custom-caret-edge-offset-horizontal-nudge, 0));
    margin-inline-start: calc(var(--custom-caret-half-width)*-1)
}

.caret--bottom__6ec79.caret--end__6ec79,
.caret--top__6ec79.caret--end__6ec79 {
    inset-inline-end: calc(var(--custom-caret-edge-offset-horizontal) - var(--custom-caret-edge-offset-horizontal-nudge, 0));
    margin-inline-end: calc(var(--custom-caret-half-width)*-1)
}

.caret--left__6ec79.caret--center__6ec79,
.caret--right__6ec79.caret--center__6ec79 {
    margin-top: calc(var(--custom-caret-half-height)*-1);
    top: 50%
}

.caret--left__6ec79.caret--center__6ec79 {
    inset-inline-start: calc(var(--custom-caret-horizontal-distance)*-1)
}

.caret--left__6ec79.caret--start__6ec79,
.caret--right__6ec79.caret--start__6ec79 {
    margin-top: calc(var(--custom-caret-half-height)*-1);
    top: var(--custom-caret-edge-offset-vertical)
}

.caret--left__6ec79.caret--end__6ec79,
.caret--right__6ec79.caret--end__6ec79 {
    bottom: var(--custom-caret-edge-offset-vertical);
    margin-bottom: calc(var(--custom-caret-half-height)*-1)
}

.caret--custom__6ec79 {
    --custom-caret-offset-x: 0;
    --custom-caret-offset-y: 0
}

.caret--bottom__6ec79.caret--custom__6ec79,
.caret--top__6ec79.caret--custom__6ec79 {
    inset-inline-start: 50%;
    margin-inline-start: calc(var(--custom-caret-offset-x) - var(--custom-caret-half-width))
}

.caret--left__6ec79.caret--custom__6ec79,
.caret--right__6ec79.caret--custom__6ec79 {
    margin-top: calc(var(--custom-caret-offset-y) - var(--custom-caret-half-height));
    top: 50%
}

.caret--top__6ec79.caret--start__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-end) 7%, var(--custom-popover-caret-gradient-color-start))
}

.caret--top__6ec79.caret--center__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-end) 50%, var(--custom-popover-caret-gradient-color-start))
}

.caret--top__6ec79.caret--end__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-end) 98%, var(--custom-popover-caret-gradient-color-start))
}

.caret--right__6ec79.caret--start__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-end) 98%, transparent)
}

.caret--right__6ec79.caret--center__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-end) 25%, transparent)
}

.caret--left__6ec79.caret--start__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-start) 98%, transparent)
}

.caret--left__6ec79.caret--center__6ec79 {
    --custom-popover-caret-gradient-color: color-mix(in oklab, var(--custom-popover-caret-gradient-color-start) 25%, transparent)
}

.media__9c640 {
    border-radius: var(--radius-md)
}

.assetContainer__9c640 {
    border-radius: var(--radius-sm);
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%
}

.playButton__9c640 {
    inset-inline-start: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease-in-out;
    z-index: 2
}

.assetContainer__9c640:focus-within .playButton__9c640,
.assetContainer__9c640:hover .playButton__9c640 {
    opacity: 1;
    pointer-events: auto
}

.closeButton__9c640 {
    inset-inline-end: calc(var(--space-8) - 1px);
    position: absolute;
    top: calc(var(--space-8) - 1px);
    z-index: 2
}

.container__1ce5d {
    position: relative
}

.circularImage__1ce5d {
    border-radius: 50%
}

.dots__1ce5d {
    margin-top: .2px
}

.buttonHighlighted__5d39a {
    background: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%)
}

.button__5d39a {
    align-items: center;
    display: flex
}

.buttonIcon__5d39a {
    margin-inline-end: 4px
}

.container__09ccc {
    background-color: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    margin-top: 4px;
    max-width: 250px;
    overflow: hidden;
    padding: 8px 8px 4px
}

.search__09ccc {
    margin: 0 8px 8px
}

.roles__09ccc {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 8px 8px
}

.role__09ccc {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    padding: 8px
}

.role__09ccc:hover {
    background-color: var(--background-base-lower)
}

.role__09ccc.disabled__09ccc {
    opacity: .5
}

.role__09ccc.disabled__09ccc:hover {
    background-color: var(--background-surface-high)
}

.label__09ccc {
    color: var(--text-default);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 18px;
    margin-inline-end: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.iconContainer__09ccc {
    border: 2px solid var(--interactive-text-default);
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    height: 16px;
    width: 16px
}

.iconContainer__09ccc.checked__09ccc {
    background-color: var(--brand-500);
    border-color: var(--brand-500)
}

.settingsWrapper_c9e42f {
    background-color: var(--brand-600);
    inset-inline: 0;
    position: fixed;
    z-index: 2000
}

.settingsWrapper_c9e42f .button_c9e42f {
    -webkit-app-region: no-drag
}

.settingsWrapper_c9e42f .notice_c9e42f {
    padding-inline: 0;
    -webkit-app-region: drag
}

.settingsWrapper_c9e42f.osx_c9e42f .notice_c9e42f {
    margin-inline-start: 76px
}

.settingsWrapper_c9e42f.linux_c9e42f .notice_c9e42f,
.settingsWrapper_c9e42f.windows_c9e42f .notice_c9e42f {
    margin-inline-end: calc(var(--custom-app-top-bar-height)*3 + var(--space-4)*2)
}

.settingsWrapper_c9e42f .noticeContents_c9e42f {
    inset-inline: 0;
    position: fixed
}

.leading_c9e42f,
.trailing_c9e42f {
    z-index: 1
}

.trailing_c9e42f.button_c9e42f {
    margin-inline-end: 16px;
    margin-inline-start: 0
}

.notice_c9e42f {
    background-color: var(--brand-600);
    color: var(--white);
    height: 40px;
    justify-content: space-between;
    padding: 0 8px
}

.notice_c9e42f,
.noticeContents_c9e42f {
    align-items: center;
    display: flex
}

.noticeContents_c9e42f {
    flex: 1 1 auto;
    justify-content: center
}

.noticeText_c9e42f {
    font-weight: var(--font-weight-semibold)
}

.previewWarning_c9e42f {
    line-height: 0;
    margin-inline-start: 8px
}

.button_c9e42f {
    align-items: center;
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
    height: -moz-fit-content;
    height: fit-content;
    line-height: 16px;
    margin-inline-start: 16px;
    padding: 4px 8px
}

.button_c9e42f:hover {
    background-color: var(--brand-530)
}

.buttonInner_c9e42f {
    display: flex
}

.backArrow_c9e42f {
    margin-inline-end: 8px
}

.selectCaret_c9e42f {
    margin-inline-start: 8px
}

.closeButton_c9e42f {
    background: url(/assets/26a3dd69161dbf47.svg) no-repeat;
    background-position: 50% 55%;
    background-size: 10px 10px;
    cursor: pointer;
    height: 36px;
    inset-inline-end: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: opacity .2s;
    width: 36px;
    -webkit-app-region: no-drag
}

.closeButton_c9e42f:hover {
    opacity: 1
}

.rolesList_c9e42f {
    align-items: flex-start;
    background-color: var(--background-surface-high);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px
}

.imageWrapper_af017a {
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.clickableWrapper_af017a,
.loadingOverlay_af017a {
    height: 100%;
    width: 100%
}

.imageWrapperBackground_af017a {
    background: var(--opacity-black-4)
}

.imagePlaceholder_af017a {
    background: var(--background-gradient-chat, var(--background-base-low));
    display: block;
    position: absolute;
    top: 0;
    transition: none
}

.full-motion .imagePlaceholder_af017a {
    transition: opacity .2s ease
}

.imageErrorWrapper_af017a {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    justify-content: center;
    overflow: hidden;
    padding: var(--space-8) 0
}

.imageErrorIllustration_af017a {
    min-height: 0
}

.imageErrorIllustration_af017a>img {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 160px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.imageErrorText_af017a {
    flex-shrink: 0
}

.full-motion .imagePlaceholderFastFade_af017a {
    transition: opacity 50ms ease
}

.imagePlaceholderVisible_af017a {
    opacity: 1
}

.imageLoadingOverlay_af017a,
.imagePlaceholderHidden_af017a {
    opacity: 0;
    pointer-events: none
}

.imageLoadingOverlay_af017a {
    background-color: var(--opacity-black-48);
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    inset-inline-end: 0;
    margin: 4px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    top: 0;
    transition: none;
    width: 24px
}

.full-motion .imageLoadingOverlay_af017a {
    transition: opacity .2s ease
}

.imageLoadingOverlayVisible_af017a {
    opacity: 1;
    pointer-events: auto
}

.full-motion .imageLoadingOverlayVisible_af017a {
    transition: opacity .8s ease
}

.cornerLoadingSpinner_af017a {
    height: 100%;
    opacity: .75;
    width: 100%
}

.theme-dark .cornerLoadingSpinner_af017a circle,
.theme-light .cornerLoadingSpinner_af017a circle {
    stroke: var(--white)
}

.imageAccessory_af017a {
    inset-inline-start: 6px;
    position: absolute;
    top: 6px;
    z-index: 3
}

.imageZoom_af017a {
    cursor: nesw-resize;
    cursor: zoom-in
}

.clickable_af017a {
    cursor: pointer
}

.originalLink_af017a {
    inset: 0;
    position: absolute;
    z-index: 1
}

.imageClickable_af017a {
    border-radius: inherit
}

.background-opacity-low .imageWrapper_af017a,
.background-opacity-medium .imageWrapper_af017a {
    opacity: .6
}

.overlay-unlocked .imageWrapper_af017a {
    opacity: 1
}

.enable-forced-colors .originalLink_af017a {
    border: 2px solid ButtonText
}

.textButton__7a01b {
    background: initial;
    box-sizing: border-box;
    color: inherit;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: medium;
    font-weight: 400;
    gap: var(--space-4);
    margin: 0;
    max-width: 100%;
    padding: 0;
    text-align: start;
    text-decoration: none;
    width: -moz-min-content;
    width: min-content
}

.textButton__7a01b:disabled {
    opacity: .5
}

.textButton__7a01b:hover:not(:disabled) .text__7a01b,
:where(.decorate-links) .text__7a01b {
    text-decoration: underline
}

.primary__7a01b {
    color: var(--text-brand)
}

.secondary__7a01b {
    color: var(--text-strong)
}

.always-white__7a01b {
    color: var(--white)
}

.critical__7a01b {
    color: var(--text-feedback-critical)
}

.highlight-mana-buttons .button__7a01b {
    box-shadow: 0 0 2px 2px var(--opacity-white-60)
}

.optionContainer__14160 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.clickableRow__14160 {
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.clickableRow__14160:hover {
    background: var(--background-mod-normal)
}

.indicatorWrapper__14160 {
    align-items: center;
    display: flex;
    flex-shrink: 0
}

.labelContainer__14160 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px
}

.label__14160 {
    align-items: center;
    display: flex
}

.textInputWrapper__14160 {
    padding-inline-start: 40px
}

.container_b5a371 {
    gap: 12px
}

.choicesContainer_b5a371,
.container_b5a371 {
    display: flex;
    flex-direction: column
}

.choicesContainer_b5a371 {
    gap: 4px
}

.choiceRow_b5a371 {
    align-items: center;
    display: flex
}

.noChoices_b5a371 {
    font-size: 14px
}

.scrollbar__506b3::-webkit-scrollbar-corner {
    background: none;
    border: none
}

.scrollbarDefault__506b3 {}

.scrollbarDefault__506b3::-webkit-scrollbar {
    height: var(--custom-scrollbar-scrollbar-width);
    width: var(--custom-scrollbar-scrollbar-width)
}

.scrollbarDefault__506b3::-webkit-scrollbar-thumb,
.scrollbarDefault__506b3::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-color: transparent;
    border-radius: var(--custom-scrollbar-border-radius);
    border-style: solid;
    border-width: var(--custom-scrollbar-scrollbar-margin)
}

.scrollbarDefault__506b3::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb)
}

.scrollbarDefault__506b3::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
    border-width: initial
}

.scrollbarGhost__506b3 {}

.scrollbarGhost__506b3::-webkit-scrollbar {
    height: var(--custom-scrollbar-scrollbar-width);
    width: var(--custom-scrollbar-scrollbar-width)
}

.scrollbarGhost__506b3::-webkit-scrollbar-thumb,
.scrollbarGhost__506b3::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-radius: var(--custom-scrollbar-border-radius);
    border-style: solid;
    border-width: var(--custom-scrollbar-scrollbar-margin)
}

.scrollbarGhost__506b3::-webkit-scrollbar-thumb {
    background-color: var(--opacity-black-40);
    border-color: transparent
}

.scrollbarGhost__506b3::-webkit-scrollbar-track {
    background-color: var(--opacity-black-8);
    border-color: transparent;
    border-width: initial
}

.scrollbarGhostHairline__506b3 {}

.scrollbarGhostHairline__506b3::-webkit-scrollbar {
    height: 4px;
    width: 4px
}

.scrollbarGhostHairline__506b3::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-800-hsl)/.6);
    border-radius: 2px;
    cursor: move
}

.scrollbarGhostHairline__506b3::-webkit-scrollbar-track {
    background-color: transparent;
    border: none
}

.enable-forced-colors .scrollbar__506b3::-webkit-scrollbar-track {
    background-color: Canvas;
    border-radius: 0;
    border-width: 1px
}

.enable-forced-colors .scrollbar__506b3::-webkit-scrollbar-thumb {
    background-color: CanvasText;
    border-width: 1px
}

.container__3cb11 {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.container__18c16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    white-space: normal
}

.container__18c16 ol,
.container__18c16 ul {
    margin-bottom: 24px;
    margin-inline: 20px 0
}

.header__2513e {
    align-items: center;
    justify-content: space-between
}

.headerContent__2513e {
    align-items: center;
    display: flex;
    gap: 12px
}

.content__2513e {
    display: flex;
    flex-direction: column;
    gap: 48px
}

.loading__2513e {
    padding: 24px;
    text-align: center
}

.richTooltipContent_a89985 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: var(--space-8);
    max-width: 272px;
    padding: var(--space-8) var(--space-12)
}

.richTooltipContentLg_a89985 {
    gap: var(--space-16);
    max-width: 372px;
    padding: var(--space-16)
}

.assetContainer_a89985 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center
}

.assetContainer_a89985>* {
    height: auto;
    max-width: 100%
}

.textContent_a89985 {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0
}

.noAsset_a89985 .textContent_a89985 {
    text-align: center
}

.wishlistButton__979b1 {
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: var(--control-overlay-secondary-background-default);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    transition: background-color 50ms ease-in
}

.wishlistButton__979b1.disabled__979b1 {
    cursor: not-allowed;
    filter: brightness(110%)
}

.wishlistButton__979b1:not(.disabled__979b1):hover {
    background: var(--control-overlay-secondary-background-hover);
    transition: background-color .15s ease-out
}

.wishlistButton__979b1:not(.disabled__979b1):active {
    background: var(--control-overlay-secondary-background-active);
    transition: background-color .15s ease-out
}

.xs__979b1 {
    border-radius: 6px;
    height: 24px;
    width: 24px
}

.sm__979b1 {
    height: 32px;
    width: 32px
}

.md__979b1 {
    height: 40px;
    width: 40px
}

.theme-light .wishlistButton__979b1.variantDefault__979b1 {
    background: hsl(var(--primary-100-hsl)/.66);
    border: 1px solid var(--border-subtle)
}

.theme-light .wishlistButton__979b1.variantDefault__979b1:not(.disabled__979b1):hover {
    background: hsl(var(--primary-100-hsl)/1)
}

.theme-light .wishlistButton__979b1.variantDefault__979b1:not(.disabled__979b1):active {
    background: hsl(var(--primary-100-hsl)/.52)
}

.theme-dark .wishlistButton__979b1.variantDefault__979b1 {
    background: var(--control-overlay-secondary-background-default);
    border: 1px solid var(--border-muted)
}

.theme-dark .wishlistButton__979b1.variantDefault__979b1:not(.disabled__979b1):hover {
    background: var(--control-overlay-secondary-background-hover)
}

.theme-dark .wishlistButton__979b1.variantDefault__979b1:not(.disabled__979b1):active {
    background: var(--control-overlay-secondary-background-active)
}

.wishlistButton__979b1.variantSecondary__979b1 {
    background: var(--control-secondary-background-default);
    border: 1px solid var(--control-secondary-border-default)
}

.wishlistButton__979b1.variantSecondary__979b1:not(.disabled__979b1):hover {
    background: var(--control-secondary-background-hover)
}

.wishlistButton__979b1.variantSecondary__979b1:not(.disabled__979b1):active {
    background: var(--control-secondary-background-active)
}

.normalIconColor__979b1 {
    fill: var(--icon-strong);
    transition: fill 50ms ease-in
}

.variantSecondaryOverlay__979b1 .normalIconColor__979b1 {
    fill: var(--white)
}

.normalIconColor__979b1.wishlistedOrAnimating__979b1 {
    fill: #ec1060;
    transition: fill .15s ease-out
}

.disabled__979b1 .normalIconColor__979b1 {
    opacity: .5;
    fill: var(--icon-subtle)
}

.toastIcon__979b1 {
    flex-shrink: 0;
    margin-inline-end: 4px
}

.iconContainer__979b1,
.toastIcon__979b1 {
    align-items: center;
    display: flex
}

.iconContainer__979b1 {
    justify-content: center;
    position: relative
}

.iconWrapper__979b1 {
    display: flex
}

.animationOverlay__979b1 {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    transform-origin: center
}

.animationOverlay__979b1 path {
    fill: var(--white)
}

.full-motion .wishlistButton__979b1:active .canAnimate__979b1 .animationOverlay__979b1 {
    animation: holdScale__979b1 .1s cubic-bezier(.67, 0, .26, 1) forwards;
    animation-delay: 50ms
}

.full-motion .clickAnimation__979b1 {
    animation: clickScale__979b1 .4s cubic-bezier(.67, 0, .26, 1) forwards
}

.full-motion .clickAnimation__979b1 path {
    animation: clickColor__979b1 .4s cubic-bezier(.67, 0, .26, 1) forwards
}

.full-motion .wishlistButton__979b1:focus-visible .canHover__979b1,
.full-motion .wishlistButton__979b1:hover .canHover__979b1 {
    animation: hoverPulse__979b1 1.25s cubic-bezier(.23, 0, .58, 1) infinite
}

@keyframes holdScale__979b1 {
    0% {
        transform: scale(0)
    }

    to {
        transform: scale(.25)
    }
}

@keyframes clickScale__979b1 {
    0% {
        transform: scale(0)
    }

    62.5% {
        transform: scale(1.35)
    }

    to {
        transform: scale(1)
    }
}

@keyframes clickColor__979b1 {

    0%,
    20% {
        fill: var(--white)
    }

    70%,
    to {
        fill: #ec1060
    }
}

@keyframes hoverPulse__979b1 {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1.1)
    }

    60% {
        transform: scale(.9)
    }

    80%,
    to {
        transform: scale(1)
    }
}

.toast__810c3 {
    border: none;
    border-radius: 32px;
    padding: 10px 16px
}

.icon__810c3 {
    height: 20px;
    margin-inline-end: 8px;
    width: 20px
}

.container_c2b141 {
    align-items: center;
    display: flex;
    flex-direction: column
}

.keybind_c2b141 {
    font-size: 13px;
    font-weight: var(--font-weight-semibold);
    margin-top: 8px;
    text-align: center
}

.closeButton_c2b141 {
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: flex;
    flex: 0 0 36px;
    height: 36px;
    justify-content: center;
    width: 36px
}

.closeButton_c2b141:active {
    transform: translateY(1px)
}

.closeButton_c2b141,
.keybind_c2b141 {
    color: var(--interactive-text-default)
}

.closeButton_c2b141:hover {
    background-color: var(--interactive-background-hover)
}

.closeButton_c2b141:hover,
.closeButton_c2b141:hover+.keybind_c2b141 {
    color: var(--interactive-text-hover)
}

.closeButton_c2b141:active {
    background-color: var(--interactive-background-active)
}

.closeButton_c2b141:active,
.closeButton_c2b141:active+.keybind_c2b141 {
    color: var(--interactive-text-active)
}

.closeButtonSolid_c2b141 {
    border: none;
    flex: 0 0 24px;
    height: 24px;
    width: 24px
}

.closeButtonSolid_c2b141:hover {
    background-color: transparent
}

.theme-dark .closeButtonBold_c2b141:hover {
    background-color: hsl(var(--primary-300-hsl)/.3)
}

.enable-forced-colors .closeButton_c2b141 {
    background-color: ButtonFace;
    border-color: ButtonText;
    color: ButtonText
}

.enable-forced-colors .closeButton_c2b141:active {
    background-color: HighlightText;
    border-color: Highlight;
    color: Highlight
}

.modalContent__46773 {
    display: flex;
    flex-direction: column;
    gap: var(--custom-modal-padding)
}

.iconSection__46773 {
    flex-direction: column;
    gap: 12px
}

.iconContainer__46773,
.iconSection__46773 {
    align-items: center;
    display: flex;
    justify-content: center
}

.iconContainer__46773 {
    cursor: pointer;
    height: 120px;
    margin: 0 auto;
    position: relative;
    width: 120px
}

.iconContainer__46773.petite__46773 {
    height: 80px;
    width: 80px
}

.iconContainer__46773 .pencilIconWrapper__46773 {
    align-items: center;
    background: var(--background-mod-subtle);
    border: 4px solid var(--modal-background);
    border-radius: 50%;
    color: var(--interactive-text-default);
    display: flex;
    height: 32px;
    inset-inline-end: -4px;
    justify-content: center;
    position: absolute;
    top: -4px;
    width: 32px
}

.theme-light .iconContainer__46773 .pencilIconWrapper__46773 {
    background: var(--background-mod-normal)
}

.iconContainer__46773.petite__46773 .pencilIconWrapper__46773 {
    height: 24px;
    width: 24px
}

.iconContainer__46773:hover .pencilIconWrapper__46773 {
    color: var(--interactive-text-active)
}

.iconPlaceholder__46773 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border-radius: 50%;
    color: var(--background-mod-normal);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.iconContainer__46773:hover .iconPlaceholder__46773 {
    background-color: var(--background-mod-normal);
    outline: 1px solid var(--border-muted)
}

.iconImage__46773 {
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.iconImage__46773,
.iconPlaceholder__46773 {
    -webkit-mask-image: radial-gradient(circle at calc(100% - 16px) 16px, transparent 20px, #000 0);
    mask-image: radial-gradient(circle at calc(100% - 16px) 16px, transparent 20px, #000 0)
}

.iconContainer__46773.petite__46773 .iconImage__46773,
.iconContainer__46773.petite__46773 .iconPlaceholder__46773 {
    -webkit-mask-image: radial-gradient(circle at calc(100% - 12px) 12px, transparent 16px, #000 0);
    mask-image: radial-gradient(circle at calc(100% - 12px) 12px, transparent 16px, #000 0)
}

.friendWrapper_bbd192 {
    cursor: pointer
}

.friendWrapper_bbd192.disabled_bbd192 {
    cursor: not-allowed
}

.disabled_bbd192 .avatar_bbd192 {
    opacity: 50%
}

.disabled_bbd192 .nickname_bbd192,
.friend_bbd192 {
    color: var(--text-muted)
}

.friend_bbd192 {
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: var(--font-weight-normal);
    gap: 8px;
    height: 48px;
    overflow: hidden;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.friend_bbd192 .avatar_bbd192 {
    flex-shrink: 0;
    margin: 0
}

.friend_bbd192 .checkbox_bbd192 {
    flex: 0 0 auto
}

.friend_bbd192 .match_bbd192 {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.friend_bbd192 .discordTag_bbd192 {
    color: var(--text-muted)
}

.theme-dark .friendSelected_bbd192 {
    background-color: hsl(var(--primary-500-hsl)/.3)
}

.theme-light .friendSelected_bbd192 {
    background-color: hsl(var(--primary-200-hsl)/.3)
}

.full-motion .friend_bbd192 {
    transition: background-color .2s ease
}

.enable-forced-colors .friendSelected_bbd192 {
    outline: 2px solid Highlight
}

.friendSelected_bbd192 {
    background-color: var(--background-mod-subtle);
    color: var(--text-strong)
}

.searchBar_cba592 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 8px
}

.customizationContainer_cba592 {
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr;
    margin-bottom: var(--space-16)
}

.iconSelector_cba592 {
    grid-column: 1;
    grid-row: 1/3;
    padding-inline-end: 8px
}

.channelNameLabel_cba592 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: flex-end
}

.scroller_cba592 {
    flex: 1 1 auto;
    margin-top: 4px;
    padding: 0 12px
}

.scrollerInner_cba592 {
    margin-inline: -8px
}

.mobileToolsContainer_cba592 {
    inset-inline-end: 16px;
    position: absolute;
    top: 16px
}

.mobileToolsCloseIcon_cba592>div {
    flex: 0 0 24px;
    height: 24px;
    width: 24px
}

.noResults_cba592 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center
}

.noSectionResults_cba592 {
    padding: 8px;
    text-align: center
}

.selectExistingFormHeader_cba592 {
    margin-bottom: 8px;
    margin-top: 16px
}

.confirmChannelItemContainer_cba592 {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 8px
}

.confirmChannelName_cba592 {
    color: var(--text-strong);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    margin-inline-start: 8px
}

.lastActiveTimestamp_cba592 {
    color: var(--text-muted);
    font-size: 12px;
    margin-inline-start: 8px;
    margin-top: 2px
}

.confirmChannelItemContainer_cba592:hover {
    background-color: var(--interactive-background-hover);
    cursor: pointer
}

@media (max-width:485px) {
    .noResults_cba592 {
        max-height: 100%
    }
}

.pro__30cbe {
    text-transform: uppercase
}

.tip__30cbe {
    line-height: 16px;
    opacity: 1
}

.block__30cbe .pro__30cbe,
.block__30cbe .tip__30cbe,
.tip__30cbe {
    font-size: 14px
}

.inline__30cbe .pro__30cbe,
.inline__30cbe .tip__30cbe {
    display: inline;
    font-size: 12px
}

.inline__30cbe .pro__30cbe {
    margin-inline-end: 3px
}

.enable-forced-colors .tip__30cbe {
    opacity: 1
}

.noUserDrag_c8743f {
    -webkit-user-drag: none
}

.userSelectText_c8743f {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.userSelectNone_c8743f {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.cursorDefault_c8743f {
    cursor: default
}

.cursorPointer_c8743f {
    cursor: pointer
}

.wrapper__33d12 {
    height: 100%;
    margin-inline: auto;
    max-width: 440px;
    width: 100%
}

.image__33d12 {
    background-size: 100% 100%
}

.title__33d12 {
    font-size: 17px;
    font-weight: var(--font-weight-semibold);
    line-height: 22px;
    text-transform: uppercase
}

.text__33d12,
.title__33d12 {
    color: var(--text-muted);
    text-align: center
}

.text__33d12 {
    font-size: 16px;
    line-height: 20px
}

.divider__1de9c {
    border-top: thin solid var(--border-subtle);
    height: 1px;
    width: 100%
}

.previewContainer_ebb2cf {
    background-color: var(--background-mod-subtle);
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--border-muted);
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0
}

.previewContainer_ebb2cf.hideBackground_ebb2cf {
    background-color: transparent;
    box-shadow: unset
}

.previewContainerSetHeight_ebb2cf {
    height: 390px
}

.full-motion .previewContainerAnimation_ebb2cf {
    animation: scaleIn_ebb2cf .5s
}

.preview_ebb2cf {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    position: relative;
    width: 100%
}

@keyframes scaleIn_ebb2cf {
    0% {
        transform: scale(.7)
    }

    to {
        transform: scale(1)
    }
}

.nameplatePreview__62b8c {
    align-items: center;
    border-radius: var(--radius-sm);
    display: flex;
    height: 42px;
    position: relative
}

.nameplatePreview__62b8c.large__62b8c {
    height: 52px
}

.nameplatePreview__62b8c.xlarge__62b8c {
    height: 62px
}

.density-cozy .nameplatePreview__62b8c {
    height: 48px
}

.density-cozy .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-cozy .nameplatePreview__62b8c.small__62b8c {
    height: 30px
}

.density-cozy .nameplatePreview__62b8c.large__62b8c {
    height: 58px
}

.density-cozy .nameplatePreview__62b8c.xlarge__62b8c {
    height: 68px
}

.density-default .nameplatePreview__62b8c {
    height: 42px
}

.density-default .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-default .nameplatePreview__62b8c.small__62b8c {
    height: 30px
}

.density-default .nameplatePreview__62b8c.large__62b8c {
    height: 52px
}

.density-default .nameplatePreview__62b8c.xlarge__62b8c {
    height: 62px
}

.density-compact .nameplatePreview__62b8c {
    height: 38px
}

.density-compact .nameplatePreview__62b8c.xsmall__62b8c {
    height: 26px
}

.density-compact .nameplatePreview__62b8c.small__62b8c {
    height: 34px
}

.density-compact .nameplatePreview__62b8c.large__62b8c {
    height: 48px
}

.density-compact .nameplatePreview__62b8c.xlarge__62b8c {
    height: 58px
}

.overlayContainer__62b8c {
    flex: 1;
    height: 100%;
    margin-block: 0;
    margin-inline: 8px 32px;
    position: relative
}

.nameplatePreview__62b8c.large__62b8c .overlayContainer__62b8c {
    margin-block: 0;
    margin-inline: 10px 38px
}

.nameplatePreview__62b8c.xlarge__62b8c .overlayContainer__62b8c {
    margin-block: 0;
    margin-inline: 14px 44px
}

.avatarContainer__62b8c {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .4s ease;
    width: 100%
}

.avatar__62b8c {
    margin-inline-end: 12px
}

.avatarVisible__62b8c {
    opacity: 1
}

.placeholderUsername__62b8c {
    border-radius: 8px;
    height: 14px;
    opacity: .5;
    width: 66%
}

.nameplatePreview__62b8c.xsmall__62b8c .placeholderUsername__62b8c {
    height: 8px
}

.nameplatePreview__62b8c.small__62b8c .placeholderUsername__62b8c {
    height: 10px
}

.nameplatePreview__62b8c.large__62b8c .placeholderUsername__62b8c {
    height: 16px
}

.nameplatePreview__62b8c.xlarge__62b8c .placeholderUsername__62b8c {
    height: 18px
}

.theme-light .placeholderUsername__62b8c {
    background-color: #aaaab2
}

.theme-dark .placeholderUsername__62b8c {
    background-color: #706f74
}

.tagChiplet__62b8c {
    margin-inline-start: var(--space-4)
}

.inheritWidth__62b8c {
    width: inherit
}

.container__6d099 {
    align-items: center;
    aspect-ratio: 1.1;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative
}

.profileEffectShopPreview__6d099 {
    border-radius: var(--radius-sm);
    height: 80%;
    inset-inline-start: 6%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    transform-origin: top center;
    width: auto
}

.avatarDecorationPreview__6d099 {
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .15));
    inset-inline-end: 6%;
    position: absolute;
    transform: rotate(6deg)
}

.twoItemBundle__6d099 .profileEffectShopPreview__6d099 {
    aspect-ratio: .86;
    transform: rotate(-6deg)
}

.twoItemBundle__6d099 .avatarDecorationPreview__6d099 {
    top: 22%
}

.threeItemBundle__6d099 .profileEffectShopPreview__6d099 {
    aspect-ratio: .8;
    transform: rotate(-8deg)
}

.threeItemBundle__6d099 .avatarDecorationPreview__6d099 {
    top: 12%
}

.threeItemBundle__6d099 .nameplatePreview__6d099 {
    background-color: var(--background-base-low);
    border-radius: var(--radius-sm);
    bottom: 14%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    width: 96%
}

.staticPreviewContainer__6d099 {
    overflow: hidden
}

.staticPreview__6d099,
.staticPreviewContainer__6d099 {
    height: 100%;
    position: relative;
    width: 100%
}

.staticPreview__6d099 {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom;
    object-position: bottom
}

.full-motion .staticPreview__6d099 {
    transition: transform .3s ease-in-out
}

.staticPreviewHighlighted__6d099 {
    transform: scale(1.08)
}

.theme-dark .avatar__6d099 {
    background: #0c0e0e
}

.theme-light .avatar__6d099 {
    background: #a8a9aa
}

.nameplatePlaceholderUserRow__257fb {
    align-items: center;
    display: flex;
    height: 42px;
    padding: 0 8px
}

.nameplatePlaceholderAvatar__257fb,
.nameplatePlaceholderBar__257fb {
    background-color: var(--background-mod-subtle)
}

.nameplatePlaceholderBar__257fb {
    border-radius: 8px;
    flex-grow: 1;
    height: 14px;
    margin-inline-start: 12px
}

.smallRow__257fb {
    height: 28px
}

.smallBar__257fb {
    height: 10px
}

.nameplatePreviewContainer_f7b5db {
    align-items: center;
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, #000 30%, #000 70%, rgba(0, 0, 0, .2));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, #000 30%, #000 70%, rgba(0, 0, 0, .2));
    max-height: 100%;
    max-width: 252px
}

.nameplatePreviewContainer_f7b5db,
.nameplatePreviewList_f7b5db {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%
}

.nameplatePreviewList_f7b5db {
    flex-direction: column;
    gap: var(--space-4);
    justify-content: center
}

.nameplatePreviewSampleItem_f7b5db {
    align-items: center;
    display: flex;
    height: 42px;
    width: 100%
}

.cell_f70307 {
    align-items: center;
    border-bottom: 1px solid var(--border-subtle);
    border-color: var(--border-muted);
    display: flex;
    gap: var(--space-16);
    padding: var(--space-16) 0
}

.cell_f70307:last-child {
    border-bottom: none
}

.iconContainer_f70307 {
    display: flex;
    justify-content: center
}

.icon_f70307,
.iconContainer_f70307 {
    height: var(--space-24);
    width: var(--space-24)
}

.icon_f70307 {
    color: var(--icon-subtle)
}

.textContainer_f70307 {
    gap: 2px
}

.number_f70307,
.textContainer_f70307 {
    display: flex;
    flex-direction: column
}

.number_f70307 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border-radius: var(--radius-round);
    height: 32px;
    justify-content: center;
    min-width: 32px
}

.cellGroup_f70307 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--space-8)
}

.cellGroup_f70307 .content_f70307 {
    border-radius: var(--radius-sm);
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0
}

.completedText_f70307 {
    text-decoration: line-through
}

.row__19fd1 {
    align-items: center;
    border-bottom: 1px solid var(--border-subtle);
    border-color: var(--border-muted);
    display: flex;
    gap: var(--space-16);
    justify-content: space-between;
    margin: 0 var(--space-16);
    padding: var(--space-16) 0;
    position: relative
}

.user-profile-modal-v2 .row__19fd1 {
    border: none
}

.user-profile-modal-v2 .row__19fd1:not(:last-child) {
    margin-bottom: 1px
}

.user-profile-modal-v2 .row__19fd1:not(:last-child):after {
    background-color: var(--border-subtle);
    bottom: 0;
    content: "";
    height: 1px;
    inset-inline: calc(var(--space-16) + var(--space-24)) calc(var(--space-16)*-1);
    position: absolute
}

.clickable__19fd1,
.row__19fd1:last-child {
    border-bottom: none
}

.clickable__19fd1 {
    background-color: var(--background-mod-subtle);
    border-radius: var(--radius-sm);
    cursor: pointer;
    margin: 0;
    padding: var(--space-16)
}

.clickable__19fd1.disabled__19fd1 {
    opacity: .5;
    pointer-events: none
}

.clickable__19fd1:hover {
    background-color: var(--background-mod-strong)
}

.noInset__19fd1 {
    margin: 0;
    padding: 0
}

.iconContainer__19fd1 {
    display: flex;
    justify-content: center
}

.icon__19fd1,
.iconContainer__19fd1 {
    height: var(--space-24);
    width: var(--space-24)
}

.icon__19fd1 {
    color: var(--icon-subtle)
}

.textContainer__19fd1 {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.button__19fd1 {
    flex-shrink: 0;
    margin-inline-start: auto;
    min-width: 75px;
    padding: var(--space-8) var(--space-12)
}

.number__19fd1 {
    align-items: center;
    background-color: var(--background-mod-subtle);
    border-radius: var(--radius-round);
    height: 32px;
    justify-content: center;
    min-width: 32px
}

.number__19fd1,
.tableRowGroup__19fd1 {
    display: flex;
    flex-direction: column
}

.tableRowGroup__19fd1 {
    flex-shrink: 0;
    gap: var(--space-8)
}

.tableRowGroup__19fd1 .content__19fd1 {
    background-color: var(--background-base-lower);
    border-radius: var(--radius-sm);
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0
}

.content__19fd1 {
    border: 1px solid var(--border-muted)
}

.buttonContainer__19fd1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4)
}

.buttonIcon__19fd1 {
    height: 16px;
    width: 16px
}
