.container__52fde {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: scale(.8) translate(-50%, -50%)
}

.full-motion .container__52fde {
    transition: transform .3s ease-in-out
}

.container__52fde:hover {
    transform: scale(1) translate(-50%, -50%)
}

.note__52fde {
    filter: drop-shadow(0 4px 4px var(--opacity-black-60))
}

.popover__52fde {
    flex-direction: column;
    text-align: start
}

.header__52fde,
.popover__52fde {
    display: flex;
    gap: var(--space-sm)
}

.header__52fde {
    justify-content: space-between;
    width: 100%
}

.header__52fde,
.user__52fde {
    align-items: center
}

.user__52fde {
    display: flex;
    gap: var(--space-xs)
}

.icon__52fde {
    color: var(--interactive-icon-default);
    cursor: pointer
}

.icon__52fde:hover {
    color: var(--interactive-icon-hover)
}

.icon__52fde:active {
    color: var(--interactive-icon-active)
}

.container__3d96b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.cursor__3d96b {
    pointer-events: none;
    position: absolute
}

.seat__80369 {
    cursor: pointer;
    position: absolute
}

.graphic__80369 {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%
}

.seat__80369:focus-visible .glow__80369,
.seat__80369:hover .glow__80369 {
    filter: none;
    opacity: 1
}

.seat__80369:focus-visible .fill__80369,
.seat__80369:hover .fill__80369 {
    r: 40px;
    fill: var(--background-mod-subtle)
}

.seat__80369:focus-visible .graphic__80369,
.seat__80369:hover .graphic__80369 {
    border: 2px solid #fff;
    border-radius: 50%
}

.effectsWrapper__78936 {
    height: 100%;
    position: relative
}

.effects__78936 {
    inset: 0;
    position: absolute
}
