.promotionalFooter__82bb4 {
    align-items: center;
    -moz-column-gap: 12px;
    column-gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: auto
}

.nameplatePreviewContainer__82bb4 {
    width: 150px
}
