.inline__99afd {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline-start: auto
}

.footer__99afd {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.content__99afd {
    padding: 16px
}

.button__99afd {
    margin-inline-start: 8px
}

.cannon__99afd {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0
}

.textButtonWrapper__99afd {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}
