.pageContainer__8893c {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 32px;
    position: relative;
    width: 100%;
    z-index: 1
}

.placeholdersContainer__8893c {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    opacity: .3;
    overflow: hidden;
    z-index: 0
}

.guildIconContainer__8893c {
    margin-bottom: 16px;
    margin-top: 40px
}

.joinCtaTitle__8893c {
    color: var(--text-default);
    font-family: var(--font-display);
    max-width: 640px;
    text-align: center
}

.joinCtaTitle__8893c strong {
    color: var(--text-strong)
}

.joinCtaSubtitle__8893c {
    margin-bottom: 32px;
    margin-top: 8px;
    max-width: 640px
}

.tierPreviewsContainer__8893c {
    overflow-x: scroll;
    width: 100%
}

.tierPreviews__8893c {
    display: flex;
    flex-direction: row;
    gap: 16px
}

.badge__7ace6 {
    --background-feedback-notification: var(--brand-500)
}

.messagesPopoutWrap__432f4 {
    background-color: var(--background-surface-high);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 80vh !important;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    width: 420px;
    z-index: 0
}

.messagesPopoutWrap__432f4 .mention {
    pointer-events: none
}

.header__432f4 {
    background-color: var(--background-surface-high);
    border-bottom: 1px solid var(--border-subtle);
    padding: 16px;
    position: relative
}

.titleContainer__432f4 {
    align-items: center;
    display: flex;
    gap: 8px
}

.title__432f4 {
    color: var(--text-strong)
}

.footer__432f4 {
    background-color: var(--background-mod-subtle);
    padding: 16px;
    text-align: center
}

.loadingMore__432f4 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: var(--space-32) 0
}

.loadingMore__432f4 .spinner__432f4 {
    display: inline-block;
    margin: 0
}

.hasMore__432f4 {
    align-items: center;
    display: flex;
    margin-top: 8px;
    padding-block: 0 16px;
    padding-inline: 16px
}

.messagesPopout__432f4 {
    padding-block: 8px 0;
    padding-inline: 8px 0
}

.messageGroupWrapper__432f4 {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    margin: 0 0 6px;
    margin-bottom: var(--space-8);
    margin-inline-end: var(--space-4);
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.messagesPopout__432f4 .messageGroupWrapper__432f4 .messageGroupCozy__432f4 {
    margin-inline-start: -4px;
    padding-bottom: var(--space-16);
    padding-top: var(--space-16)
}

.scrollingFooterWrap__432f4 {
    position: relative
}

.emptyPlaceholder__432f4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: 32px;
    margin-top: 8px
}

.emptyPlaceholder__432f4.bottom__432f4 {
    align-items: center;
    margin-bottom: 0
}

.emptyPlaceholder__432f4.bottom__432f4 .image__432f4 {
    margin-top: 25px
}

.emptyPlaceholder__432f4.loadingPlaceholder__432f4 {
    margin-top: 100px
}

.image__432f4 {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 94px var(--custom-messages-popout-messages-popout-footer-height);
    height: var(--custom-messages-popout-messages-popout-footer-height);
    width: var(--custom-messages-popout-messages-popout-footer-height)
}

.body__432f4 {
    margin-top: 20px;
    text-align: center;
    white-space: pre
}

.loadingPlaceholder__432f4 {
    margin: 120px 0
}

.channelSeparator__432f4 {
    margin-bottom: 8px;
    margin-top: 24px
}

.channelName__432f4 {
    color: var(--text-strong);
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 18px
}

.channelName__432f4:hover {
    text-decoration: underline
}

.guildName__432f4 {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    line-height: 16px;
    margin-inline-start: 4px
}

.channelSeparator__432f4:first-of-type {
    margin-top: 13px
}

.actionButtons__432f4 {
    display: none;
    inset-inline-end: var(--space-8);
    position: absolute;
    top: var(--space-8)
}

.buttonContainer__432f4 {
    background-color: var(--background-surface-high);
    border-radius: var(--radius-sm)
}

.messageGroupWrapper__432f4:focus-within .actionButtons__432f4,
.messageGroupWrapper__432f4:hover .actionButtons__432f4 {
    display: flex;
    gap: var(--space-8)
}

.enable-forced-colors .messagesPopoutWrap__432f4 {
    border: 2px solid CanvasText
}

.protip__432f4 {
    padding-bottom: var(--space-10);
    padding-top: var(--space-10);
    width: 100%
}
