.subheaderContainer__6f7ce {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
    display: flex;
    justify-content: space-between;
    padding: var(--space-16)
}

.subHeaderTextContainer__6f7ce {
    align-items: center;
    display: flex;
    gap: var(--space-12)
}

.subHeaderText__6f7ce {
    display: flex;
    flex-direction: column
}

.heading__6f7ce {
    color: var(--text-feedback-critical);
    margin-bottom: 2px
}

.tagLine__6f7ce {
    color: var(--text-default)
}

.buttonContainer__6f7ce {
    align-items: center;
    align-self: center;
    display: flex;
    gap: var(--space-12)
}

.shieldIcon__6f7ce {
    min-width: 24px
}
