.container__1ff2f {
    align-items: center;
    background-color: var(--interactive-background-hover);
    border-radius: 8px;
    display: inline-flex;
    padding: 10px
}

.dot__1ff2f {
    background-color: var(--background-mod-muted);
    border-radius: 50%;
    height: 4px;
    width: 4px
}

.fileIcon__1ff2f {
    color: var(--icon-muted)
}

.fileName__1ff2f {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.benefitLabel_f0fc41 {
    text-transform: uppercase
}

.purchaseSummaryContainer_fe72c8 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    gap: 12px;
    padding: 12px
}

.purchaseSummarInfo_fe72c8 {
    flex: 1
}

.purchaseSummaryImage_fe72c8 {
    background-color: var(--background-base-low);
    border-radius: 4px;
    height: 56px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100px
}

.purchaseSummaryPrice_fe72c8 {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.divider_fe72c8 {
    border-top: 1px solid var(--interactive-background-hover);
    width: 100%
}

.benefitsContainer_fe72c8 {
    background-color: var(--background-base-lower);
    border-radius: 8px;
    padding: 16px
}

.benefitsContainer_fe72c8 li:not(:last-child) {
    border-bottom: 1px solid var(--interactive-background-hover);
    margin-bottom: 16px;
    padding-bottom: 16px
}

.attachmentsContainer_fe72c8 {
    display: flex;
    gap: 24px;
    justify-content: space-between
}

.attachmentsContainerMultiple_fe72c8 {
    flex-direction: column
}

.attachmentGrid_fe72c8 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
