.header__6e6ad {
    align-items: center;
    display: flex;
    flex-direction: column
}

.subtitleText__6e6ad {
    margin-bottom: 16px;
    text-align: center
}

.guildBanner__6e6ad {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    height: 180px;
    margin-bottom: 24px;
    width: 320px
}

.guildHeader__6e6ad {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8));
    height: 48px;
    padding: 0 16px;
    transition: background-color .1s linear
}

.guildName__6e6ad {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown__6e6ad,
.guildName__6e6ad {
    color: var(--white)
}
