.shaker_e5f3a9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    max-height: inherit
}

.root_e5f3a9>:last-child {
    border-end-end-radius: var(--radius-sm);
    border-end-start-radius: var(--radius-sm)
}

.root_e5f3a9.withHeader_e5f3a9>:first-child {
    background-color: transparent
}

@media (max-width:485px) {
    .shaker_e5f3a9 {
        position: absolute;
        top: 0;
        inset-inline: 0;
        bottom: 0;
        max-height: none
    }

    .root_e5f3a9,
    .shaker_e5f3a9 {
        justify-content: center
    }

    .root_e5f3a9 {
        border-radius: 0;
        width: 100vw
    }
}

.halloweenModalHeight_e5f3a9 {
    max-height: 800px
}

.container_b4f99f {
    background: var(--background-surface-higher);
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    width: 254px
}

.assetContainer_b4f99f,
.container_b4f99f {
    align-items: center;
    display: flex;
    justify-content: center
}

.assetContainer_b4f99f {
    flex-shrink: 0;
    height: 86px;
    margin-bottom: 12px
}

.orbAsset_b4f99f {
    height: 86px
}

.sectionDivider_b4f99f {
    background-color: var(--border-subtle);
    border: 0;
    height: 1px;
    margin: 0 -12px;
    width: 100%
}

.linkContainer_b4f99f {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px
}

.linkPreText_b4f99f {
    color: var(--text-default)
}

.learnMoreLink_b4f99f {
    color: var(--border-focus);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.baseCardOutline__1ab14 {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md);
    box-shadow: 0 12px 64px 0 rgba(0, 0, 0, .32)
}
