.buttonContainer__3e6b4 {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    margin-top: var(--space-32)
}

.buttonInner__3e6b4 {
    align-items: center;
    display: flex;
    justify-content: center
}

.body__3e6b4 {
    padding-block: var(--space-16) var(--space-32);
    padding-inline: var(--space-32) var(--space-32)
}

.textContainer__3e6b4 {
    margin-bottom: var(--space-16);
    text-align: center
}

.description__3e6b4 {
    margin: var(--space-4) auto 0;
    max-width: 80%
}

.heroImage__3e6b4 {
    height: 140px;
    margin: 44px auto 24px
}

.safetyTips__3e6b4 {
    margin-top: var(--space-16)
}

.tipRow__5bc4e {
    flex-grow: 0;
    flex-wrap: nowrap;
    gap: var(--space-8);
    margin-top: var(--space-16)
}

.tipNumber__5bc4e,
.tipRow__5bc4e {
    align-items: center;
    display: flex
}

.tipNumber__5bc4e {
    background: var(--background-mod-subtle);
    border-radius: var(--radius-round);
    flex-direction: column;
    justify-content: center;
    min-height: 32px;
    min-width: 32px
}

.tipsList__5bc4e {
    padding: 0 var(--space-16) var(--space-16)
}

.tipsHeader__5bc4e {
    background: linear-gradient(270deg, rgba(88, 101, 242, 0) 0, var(--brand-500) 70.8%), url(/assets/a9ff2b87dfa85265.png);
    background-size: cover;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    padding: var(--space-16);
    text-align: start
}

.headerText__5bc4e {
    color: var(--status-positive-text);
    max-width: 70%
}

.tipsSection__5bc4e {
    background-color: var(--background-base-lower);
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);
    text-align: start
}

.container_ca98d9 {
    overflow-x: clip
}

.footer_ca98d9 {
    justify-content: space-between
}

.footerButton_ca98d9 {
    color: var(--interactive-text-default);
    height: 32px
}

.footerButton_ca98d9:hover {
    text-decoration: underline
}

.modalHeader_c7d96d {
    margin-top: var(--space-16)
}

.footerLink_c7d96d {
    color: var(--interactive-text-default);
    height: 32px
}

.footerLink_c7d96d:hover {
    text-decoration: underline
}
