.offerBadge_f260bf {
    align-items: center;
    border-radius: var(--radius-round);
    display: flex;
    flex-shrink: 0;
    gap: var(--space-4);
    padding: 0 var(--space-8)
}

.offerBadge_f260bf.iconOnly_f260bf {
    padding: var(--space-4)
}

.container__3a590 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px
}

.header__3a590 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.applicationIcon__3a590 {
    border-radius: 4px;
    height: 16px;
    width: 16px
}

.items__3a590 {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.spinner__3a590 {
    align-items: center;
    display: flex;
    height: 144px;
    justify-content: center;
    width: 100%
}
