.root__7eea4 {
    display: flex;
    flex-direction: column
}

.titleText__7eea4 {
    justify-content: center;
    margin-bottom: 44px;
    text-align: center
}

.logo__7eea4 {
    width: 100px
}

.table__7eea4 {
    display: flex;
    flex-direction: column
}

.headerRow__7eea4,
.row__7eea4 {
    display: flex;
    flex-direction: row;
    z-index: 5
}

.headerRow__7eea4 {
    height: 56px;
    margin-top: 24px
}

.row__7eea4 {
    height: 68px
}

.rowBottomBorder__7eea4 {
    border-bottom: 1px solid var(--border-muted)
}

.wideRow__7eea4 {
    height: 128px
}

.shortRow__7eea4 {
    height: 20px
}

.cell__7eea4,
.headerCell__7eea4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 208px
}

.headerCell__7eea4 {
    justify-content: start
}

.cell__7eea4 {
    justify-content: center
}

.headerLabelCell__7eea4,
.labelCell__7eea4 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    text-align: start
}

.headerLabelCell__7eea4 {
    align-items: start
}

.buttonsCell__7eea4,
.labelCell__7eea4 {
    align-items: center
}

.buttonsCell__7eea4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    padding-top: 16px
}

.closeIcon__7eea4 {
    color: var(--icon-muted)
}

.checkmarkIcon__7eea4 {
    color: var(--interactive-text-active)
}

.button__7eea4 {
    height: 40px;
    width: 180px
}

.tableWrapper__7eea4 {
    padding: 2px;
    position: relative
}

.tier0ColumnOuter__7eea4,
.tier0ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-0-purple-for-gradients);
    border-radius: var(--radius-lg);
    height: 100%;
    inset-inline-end: 208px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4 {
    border: 2px solid var(--premium-tier-2-purple-for-gradients-2);
    height: 100%
}

.tier2ColumnOuter__7eea4,
.tier2ColumnOuterBackground__7eea4,
.tier2Pill__7eea4 {
    border-radius: 16px;
    inset-inline-end: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 212px;
    z-index: 9
}

.tier0ColumnOuterBackground__7eea4:before,
.tier2ColumnOuterBackground__7eea4:before {
    content: "";
    opacity: .1;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    z-index: -1
}

.tier0ColumnOuterBackground__7eea4:before {
    background: linear-gradient(268deg, var(--premium-tier-0-blue) 17.62%, var(--premium-tier-1-blue-for-gradients) 100%)
}

.tier2ColumnOuterBackground__7eea4:before {
    background: linear-gradient(101deg, var(--premium-tier-2-purple-for-gradients) 25.21%, var(--premium-tier-2-purple-for-gradients-2) 62.43%, var(--premium-tier-2-pink-for-gradients) 95.57%)
}

.topBorderRadius__7eea4 {
    border-start-end-radius: 16px;
    border-start-start-radius: 16px
}

.bottomBorderRadius__7eea4 {
    border-end-end-radius: 16px;
    border-end-start-radius: 16px
}

.mostPopularPill__7eea4 {
    background: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%);
    border-radius: 8px;
    margin: auto;
    max-height: 24px;
    max-width: 112px;
    padding: 4px 8px;
    position: relative;
    top: -12px;
    z-index: 10
}

.mostPopularText__7eea4 {
    color: var(--white);
    text-align: center;
    text-transform: uppercase
}

.trialOfferPill__7eea4 {
    margin-top: 4px
}

.betaTag__7eea4 {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    display: inline
}

.bogoPillWithSparkles__7eea4,
.freeTrialPillWithSparkles__7eea4 {
    justify-content: center;
    max-height: 24px;
    max-width: 100%;
    position: relative;
    top: -13px;
    z-index: 10
}

.brandShineLight__7eea4 {
    color: hsl(var(--brand-500-hsl)/.1)
}

.brandShineDark__7eea4 {
    color: var(--opacity-white-8)
}

.premiumGroupCard__7eea4 {
    margin-bottom: 50px
}

.textLogo__7eea4 {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase
}

.circleContainer_b7ad60 {
    overflow: visible;
    position: relative
}

.childrenContainer_b7ad60,
.circleContainer_b7ad60 {
    align-items: center;
    display: flex;
    justify-content: center
}

.childrenContainer_b7ad60 {
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.theme-light .baseProgressCircle_b7ad60 {
    stroke: var(--white)
}

.circleSVG_b7ad60 {
    height: 100%;
    overflow: visible;
    width: 100%
}

.nitroGemAnimation_ba269a {
    animation: gemGlow_ba269a 5s ease-in-out infinite
}

.nitroGemContainer_ba269a {
    overflow: visible
}

.gemBackgroundFill_ba269a {
    fill: var(--background-base-low)
}

.theme-light .gemBackgroundFill_ba269a {
    fill: var(--white)
}

.progressCircle_ba269a {
    margin-inline: auto;
    width: 80%
}

.progressCricleBottomMargin_ba269a {
    margin-bottom: 15px
}

@keyframes gemGlow_ba269a {

    0%,
    50%,
    to {
        filter: drop-shadow(0 0 0 hsl(var(--premium-tier-2-pink-for-gradients-2-hsl)/.6))
    }

    25%,
    75% {
        filter: drop-shadow(0 0 20px hsl(var(--premium-tier-2-pink-for-gradients-2-hsl)/.6))
    }
}

.activeProgressCircle_ba269a {
    fill: transparent;
    transform: rotate(-90deg);
    transform-origin: center
}

.activeProgressCircleAnimation_ba269a {
    animation: glow_ba269a 5s ease-in-out infinite, pulse_ba269a 5s ease-in-out infinite;
    transition: stroke-dashoffset .5s ease-out
}

@keyframes glow_ba269a {

    0%,
    50%,
    to {
        filter: none
    }

    25%,
    75% {
        filter: drop-shadow(0 0 5px var(--premium-tier-2-pink-for-gradients-2))
    }
}

@keyframes pulse_ba269a {

    0%,
    50%,
    to {
        stroke-width: 2
    }

    25%,
    75% {
        stroke-width: 3
    }
}

.avatarDecoContainer_ba269a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 12%;
    width: 100%
}

.avatarDecoContainer_ba269a img:before {
    background-color: transparent
}

.avatarDeco_ba269a {
    align-items: center;
    background: var(--background-base-low);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 15%
}

.avatarDecoImage_ba269a {
    height: 100%;
    width: 100%
}

.expandedProgressBarContainerSettingsPage__2c345 {
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: var(--card-background-default);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    display: flex;
    min-height: 292px;
    min-width: 560px
}

@media (max-width:485px) {
    .expandedProgressBarContainerSettingsPage__2c345 {
        min-width: unset
    }
}

.allReferralsSentBorder__2c345 {
    border: 1px solid var(--premium-tier-2-pink-for-gradients-2)
}

.container__2c345 {
    border-radius: var(--radius-lg);
    max-width: 989px;
    min-height: 260px
}

.withGlow__2c345 {
    border-radius: 20px;
    box-shadow: 0 0 25px 6px rgba(231, 66, 225, .3)
}

.expandedProgressBarContent__2c345 {
    margin-inline-start: 24px;
    text-align: start
}

.userAvatarProgressBarContainer__2c345 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 8px
}

.userAvatarProgressBarUnit__2c345 {
    align-items: center;
    border-radius: 32px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.avatarProgressBarUnitConnectorContainer__2c345 {
    height: 4px;
    position: relative;
    width: 24px
}

.avatarProgressBarUnitConnectorBase__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .3), rgba(226, 146, 170, .3));
    height: 100%;
    width: 100%
}

.fullHighlight__2c345,
.halfHighlight__2c345 {
    background: var(--gradients-nitro-nitro-horizontal, linear-gradient(90deg, var(--premium-tier-2-purple) 0, var(--premium-tier-2-pink) 100%));
    position: absolute;
    top: 0
}

.fullHighlight__2c345 {
    height: 100%;
    width: 100%
}

.halfHighlight__2c345 {
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
    height: 4px;
    width: 12px
}

.expandedProgressBarButtonContainer__2c345 {
    display: flex;
    gap: 8px;
    margin-top: 16px
}

.expandedProgressBarSelectFriendsCTA__2c345 {
    background: linear-gradient(101deg, var(--premium-tier-2-purple-for-gradients) 25.21%, var(--premium-tier-2-purple-for-gradients-2) 62.43%, var(--premium-tier-2-pink-for-gradients) 95.57%);
    background-clip: padding-box;
    color: var(--white);
    flex: 1
}

.referralInfoContent__2c345 {
    display: flex;
    flex-direction: row;
    padding-block: 24px 16px;
    padding-inline: 24px 48px
}

.expandedProgressBarSelectFriendsCTAInner__2c345 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.expandedProgressBarSelectFriendsIcon__2c345 {
    margin-inline-end: 4px
}

.expandedProgressBarHeader__2c345 {
    color: var(--text-strong)
}

.referralProgressBarIconSettings__2c345 {
    max-width: 120px
}

.theme-light .userAvatarProgressBarUnitNum__2c345 {
    background: #860091
}

.theme-light .userAvatarProgressBarUnit__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .6), rgba(226, 146, 170, .6))
}

.theme-dark .userAvatarProgressBarUnitNum__2c345 {
    background: var(--gradients-nitro-nitro-horizontal, linear-gradient(90deg, var(--premium-tier-2-purple) 0, var(--premium-tier-2-pink) 100%))
}

.theme-dark .userAvatarProgressBarUnit__2c345 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .3), rgba(226, 146, 170, .3))
}

:root .userAvatarProgressBarUnitNum__2c345 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

.divider_a45ed3 {
    background-color: var(--border-subtle);
    height: 1px;
    margin-bottom: 24px;
    margin-top: 24px;
    width: 100%
}

.tierCard_a45ed3 {
    background-image: linear-gradient(95.07deg, var(--premium-tier-2-purple-for-gradients) 0, var(--premium-tier-2-purple-for-gradients-2) 49.96%, var(--premium-tier-2-pink-for-gradients) 95.93%);
    border-radius: var(--radius-lg);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%
}

.tierCard_a45ed3.withTier2Rim_a45ed3 {
    border: 1px solid var(--premium-tier-2-purple-for-gradients)
}

.tierInfo_a45ed3 {
    flex: 1;
    margin-top: 40px;
    margin-inline: 40px 16px;
    margin-bottom: 40px
}

.tierImage_a45ed3 {
    align-items: center;
    display: flex;
    flex: 1;
    width: 100%
}

.image_a45ed3 {
    width: 100%
}

.tierTitle_a45ed3 {
    height: 40px;
    margin-bottom: 4px;
    width: 160px
}

.tierCardButton_a45ed3 {
    height: 40px;
    margin-top: 16px;
    width: 100%
}

.tierCardButtonCTA_a45ed3 {
    color: var(--brand-500)
}

.managePlanButton_a45ed3 {
    margin-top: 16px;
    width: 100%
}

.giftCard_a45ed3 {
    background: var(--card-background-default);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    padding: 40px
}

.giftCard_a45ed3,
.giftCardPromotion_a45ed3 {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    width: 100%
}

.giftCardPromotion_a45ed3 {
    border-radius: var(--radius-lg);
    height: 200px;
    padding: 0 30px
}

.giftImagePromotion_a45ed3 {
    inset-inline-start: 32px;
    position: absolute;
    width: 220px
}

.full-motion .giftImagePromotion_a45ed3 {
    inset-inline-start: 24px;
    top: 10px;
    width: 235px
}

.giftImageAnimatedPromotion_a45ed3 {
    padding-bottom: 20px
}

.giftInfoPromotion_a45ed3 {
    margin-inline-start: auto;
    max-width: 59%
}

.giftInfoTitlePromotion_a45ed3 {
    margin-bottom: 8px
}

.giftInfo_a45ed3 {
    max-width: 50%
}

.giftImage_a45ed3 {
    height: 146px
}

.seasonalGiftImage_a45ed3 {
    bottom: 0;
    height: 100%;
    inset-inline-end: 47.5%;
    position: absolute
}

.giftTitle_a45ed3 {
    margin-bottom: 16px
}

.giftText_a45ed3 {
    margin-bottom: var(--space-12)
}

.giftAdditionalTerm_a45ed3 {
    font-style: italic
}

.giftCardButton_a45ed3 {
    height: 40px;
    margin-top: 16px;
    width: 100%
}

.giftButtonCTA_a45ed3 {
    font-size: 14px;
    font-weight: 700
}

.theme-light .giftCardButtonColor_a45ed3 {
    border-color: var(--premium-tier-2-pink-for-gradients-2);
    color: var(--premium-tier-2-pink-for-gradients-2)
}

.theme-dark .giftCardButtonColor_a45ed3 {
    border-color: #fff;
    color: #fff
}

.halloweenColor_a45ed3,
.seasonalColor_a45ed3 {
    border-color: #fff;
    color: #fff
}

.bottomOfPageVisibilitySensor_a45ed3 {
    bottom: 0;
    height: 300px;
    position: absolute
}

.tier2PlanComparisonTableBackground_a45ed3 {
    background: linear-gradient(90deg, rgba(180, 115, 245, .1), rgba(226, 146, 170, .1))
}

.topRimPillWithSparkles_a45ed3 {
    inset-inline-end: 8px;
    position: absolute;
    top: -14px;
    z-index: 2
}

.rimGlowTier2_a45ed3 {
    background: linear-gradient(-90deg, var(--premium-tier-2-purple-for-gradients) 0, #fff 4.98%, #fff 50.52%, var(--premium-tier-2-pink-for-gradients) 100%);
    height: 1px;
    inset-inline-end: 5%;
    position: absolute;
    top: -1px;
    width: 88%;
    z-index: 1
}

.trialHeader_a45ed3 {
    margin-bottom: 16px
}

.fractionalPremiumTopRimPill_a45ed3 {
    inset-inline-end: 70px;
    position: absolute;
    top: -10px;
    z-index: 2
}

.fractionalPremiumSubheader_a45ed3 {
    margin-bottom: 16px
}

.fractionalPremiumSubheader_a45ed3 p {
    margin: 0
}

.fractionalPremiumSubheader_a45ed3 a {
    color: #fff;
    text-decoration: underline
}

.premiumGroupHeader_a45ed3 {
    font-size: 32px;
    font-style: italic;
    line-height: 23.643px;
    text-transform: uppercase
}

.container__1120c {
    align-items: center;
    background-color: var(--background-base-lower);
    border: none;
    box-sizing: border-box;
    display: flex;
    max-width: 1000px;
    padding: 8px;
    width: 100%
}

.container__1120c.lightTextLink__1120c a {
    color: var(--blue-345)
}

.container__1120c.centerText__1120c {
    justify-content: center;
    margin-bottom: unset
}

.icon__1120c {
    color: var(--status-warning);
    height: 13px;
    margin-inline-end: 6px;
    min-height: 13px;
    min-width: 13px;
    width: 13px
}

.icon__1120c.lightThemeColorOnly__1120c {
    color: var(--yellow-300)
}

.root__97f53 {
    -webkit-mask-image: linear-gradient(180deg, #000 48.68%, transparent);
    mask-image: linear-gradient(180deg, #000 48.68%, transparent);
    position: absolute;
    z-index: -1
}

.root__97f53.lifted__97f53 {
    border-start-end-radius: var(--radius-lg);
    border-start-start-radius: var(--radius-lg);
    margin-top: -32px;
    width: 100%;
    z-index: 0
}

.stop1__97f53 {
    stop-color: var(--premium-tier-0-header-gradient-1)
}

.stop2__97f53 {
    stop-color: var(--premium-tier-0-header-gradient-2)
}

.stop3__97f53 {
    stop-color: var(--premium-tier-0-header-gradient-3)
}

.stop4__97f53 {
    stop-color: var(--premium-tier-0-header-gradient-4)
}

.stop5__97f53 {
    stop-color: var(--premium-tier-0-header-gradient-5)
}

.tag_c6d624 {
    background-color: var(--brand-500);
    font-size: 12px;
    line-height: 16px;
    padding: 0 6px
}

.perksContainer_e6430c {
    margin: 0 auto;
    max-width: var(--custom-premium-home-max-width);
    position: relative
}

.perksTitle_e6430c,
.perksTitleStackedCards_e6430c {
    margin-bottom: 32px;
    text-align: center
}

.customAppIconImage_e6430c {
    height: 115px;
    width: 230px
}

.perksTitleStackedCards_e6430c {
    margin-bottom: 24px
}

.perksCardArt_e6430c {
    filter: saturate(var(--saturation-factor, 1))
}

.perkCardContainer_e6430c {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    margin-bottom: 32px
}

.perkCardContainerExpanded_e6430c {
    margin-bottom: 16px
}

.perkCard_e6430c {
    align-items: center;
    background-color: var(--card-background-default);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px;
    position: relative;
    width: 100%
}

.perkCardNewBadge_e6430c {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    border-radius: 8px;
    color: #fff;
    inset-inline-start: -4px;
    position: absolute;
    top: -4px
}

.perkCardHeading_e6430c {
    margin-bottom: 8px;
    margin-top: 16px;
    text-align: center
}

.perkCardDescription_e6430c {
    min-height: 36px;
    text-align: center
}

.perkCardEarlyAccessBadge_e6430c {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    border-radius: 8px;
    color: #fff;
    inset-inline-start: 24px;
    position: absolute;
    top: -4px
}

.stickersImage_e6430c {
    width: 222px
}

.perGuildProfilesImage_e6430c {
    width: 195px
}

.clientThemesCard_e6430c .perkCardDescription_e6430c {
    padding: 0 30px
}

.clientThemesImage_e6430c {
    width: 202px;
    width: 227px
}

.badgeImage_e6430c {
    width: 193px
}

.longerMessagesImage_e6430c {
    width: 222px
}

.moreGuildsImage_e6430c {
    width: 116px
}

.soundboardImage_e6430c,
.superReactionsImage_e6430c {
    height: 132px
}

.uploadImage_e6430c {
    width: 220px
}

.streamingImage_e6430c {
    width: 175px
}

.emojiImage_e6430c {
    width: 210px
}

.videoBackgroundImage_e6430c {
    width: 222px
}

.moreGuildsAltImage_e6430c {
    width: 260px
}

.newTag_e6430c {
    inset-inline-start: -2px;
    position: absolute;
    top: -4px
}

.betaTag_e6430c {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
    display: inline;
    vertical-align: middle
}

.sizeGizmo_e6430c {
    bottom: 0;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    z-index: 1000
}

.sizeGizmoExpanded_e6430c {
    display: flex;
    justify-content: center
}

.sizeGizmoText_e6430c {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.sizeGizmoText_e6430c .arrow_e6430c {
    margin-inline-start: 8px
}

.subscriberNitroHome_e6430c {
    max-height: 2000px;
    overflow: hidden;
    transition: max-height .4s ease-in-out
}

.subscriberNitroHome_e6430c.reducedMotion_e6430c {
    transition: none
}

.partiallyHidden_e6430c {
    max-height: 500px;
    transition: none
}

.customButton_e6430c {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 24px;
    color: var(--text-default);
    display: flex;
    font-size: 14px;
    gap: 4px;
    justify-content: center;
    padding-block: 8px;
    padding-inline: 16px 8px
}

.cover_e6430c {
    background-image: linear-gradient(to bottom, hsl(var(--primary-600-hsl)/.71) 0, var(--background-base-low) 85%);
    bottom: 0;
    height: 31%;
    inset-inline: 0;
    pointer-events: none;
    position: absolute
}

.cover_e6430c.hidden_e6430c {
    opacity: 0
}

.reducedMotion_e6430c .cover_e6430c {
    transition: none
}

.theme-light .cover_e6430c {
    background-image: linear-gradient(to bottom, var(--opacity-white-72) 0, var(--background-base-low) 85%)
}

.wrapper__553fd {
    bottom: 0;
    display: flex;
    inset-inline-start: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: sticky;
    width: 100%;
    z-index: 10
}

.fullscreenWrapper__553fd {
    margin-bottom: 42px
}

.innerWrapperBase__553fd {
    align-items: center;
    background-color: var(--background-surface-higher);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-border), var(--shadow-high);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 16px;
    pointer-events: all;
    position: relative
}

.innerWrapper__553fd {}

.innerWrapper__553fd:after,
.innerWrapper__553fd:before {
    border: 2px solid transparent;
    border-radius: inherit;
    box-sizing: border-box;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.innerWrapper__553fd:after {
    border-color: var(--guild-boosting-blue);
    -webkit-mask: linear-gradient(0deg, #000, transparent);
    mask: linear-gradient(0deg, #000, transparent)
}

.innerWrapper__553fd:before {
    border-color: var(--guild-boosting-purple)
}

.innerWrapperApplicationHome__553fd {}

.innerWrapperApplicationHome__553fd:after,
.innerWrapperApplicationHome__553fd:before {
    border: 2px solid transparent;
    border-radius: inherit;
    box-sizing: border-box;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.innerWrapperApplicationHome__553fd:after {
    border-color: #5968f0;
    -webkit-mask: linear-gradient(0deg, #000, transparent);
    mask: linear-gradient(0deg, #000, transparent)
}

.innerWrapperApplicationHome__553fd:before {
    border-color: #db00a4
}

.invisible__553fd>.innerWrapper__553fd {
    pointer-events: none
}

.theme-light .innerWrapper__553fd {
    background-color: var(--background-base-lower)
}

.button__553fd {
    border-radius: 4px;
    min-width: 160px
}

.button__553fd:first-child {
    margin-inline-end: 16px
}

.subButton__553fd {
    color: var(--brand-500) !important
}

.tier2Gradient__553fd {
    background: var(--custom-premium-colors-premium-gradient-tier-2-tri-color);
    color: var(--white)
}

.container_cd0f26 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center
}

.settingsContainer_cd0f26 {
    background: linear-gradient(192.85deg, var(--premium-tier-0-header-gradient-1) 42.31%, var(--premium-tier-0-header-gradient-2) 72.74%, var(--premium-tier-0-header-gradient-3) 86.45%, var(--premium-tier-0-header-gradient-4) 98.78%, var(--premium-tier-0-header-gradient-5) 123.01%), linear-gradient(180deg, var(--primary-700) 26.55%, var(--primary-660) 71.14%, var(--primary-630) 100%);
    border-radius: 16px;
    height: 330px;
    margin-bottom: 24px;
    width: 100%
}

.affinityHeight_cd0f26 {
    height: 395px
}

.fullscreenTextContainer_cd0f26 {
    max-width: 650px
}

.settingsTextContainer_cd0f26 {
    max-width: 500px
}

.description_cd0f26 {
    margin-top: 24px
}

.descriptionV2_cd0f26 {
    display: flex;
    justify-content: start
}

.descriptionBottomMargin_cd0f26 {
    margin-bottom: 32px
}

.affinityDescription_cd0f26 {
    margin-bottom: 22px;
    margin-top: 22px
}

.buttonContainer_cd0f26 {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
    width: 100%
}

.button_cd0f26 {
    height: 40px;
    min-width: 160px
}

.extendedButton_cd0f26 {
    max-width: 339px;
    width: 100%
}

.sparkleStar_cd0f26 {
    color: var(--white);
    position: absolute
}

.settingsSparkleStar1_cd0f26 {
    height: 36px;
    inset-inline-start: 76px;
    top: 42px;
    width: 18px
}

.settingsSparkleStar2_cd0f26 {
    height: 24px;
    inset-inline-start: 31px;
    top: 80px;
    width: 12px
}

.settingsSparkleStar3_cd0f26 {
    bottom: 78px;
    height: 32px;
    inset-inline-end: 94px;
    width: 16px
}

.settingsSparkleStar4_cd0f26 {
    bottom: 38px;
    height: 24px;
    inset-inline-end: 54px;
    width: 12px
}

.subButton_cd0f26 {
    color: hsl(235, calc(var(--saturation-factor, 1)*85.6%), 64.7%) !important
}

.whiteSubButton_cd0f26 {
    color: var(--white) !important
}

.tier2Gradient_cd0f26 {
    background: var(--custom-premium-colors-premium-gradient-tier-2-tri-color);
    color: var(--white)
}

.container__11fc5 {
    --custom-premium-home-max-width: 1066px;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto -90px;
    padding-bottom: 60px;
    position: relative
}

.settingsContainer__11fc5 {
    width: 100%
}

.settingsHeroNoBackground__11fc5 {
    width: 660px
}

.noTopPaddingOverride__11fc5 {
    padding-top: 0
}

.settingsHeroBogoHeight__11fc5 {
    height: 260px
}

.premiumTierCardsContainerSettings__11fc5 {
    margin-bottom: 60px;
    max-width: 824px;
    width: 100%
}

.promoBannerContainer__11fc5 {
    justify-content: center;
    margin-bottom: var(--space-24);
    max-width: 1052px;
    position: relative;
    width: 100%;
    z-index: 1
}

.giftPromoCard__11fc5 {
    margin-bottom: 25px
}

.perkCardsContainerSpacingSettings__11fc5 {
    margin-bottom: 60px !important;
    width: 100%
}

.planComparisonTable__11fc5 {
    max-width: 700px
}

.planComparisonTableContainer__11fc5 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%
}

.bottomIllustration__11fc5 {
    bottom: 0;
    filter: saturate(var(--saturation-factor, 1));
    position: absolute
}

.existingSubscriberSpacing__11fc5 {
    margin-bottom: 24px
}

.footerSpacing__11fc5 {
    height: 128px
}

.zIndex1__11fc5 {
    z-index: 1
}

.trialMarketingMargin__11fc5 {
    margin-bottom: 56px;
    margin-top: 56px;
    padding: unset
}

.bottomOfPageVisibilitySensor__11fc5 {
    bottom: 0;
    height: 300px;
    position: absolute
}

.heroWrapper__11fc5 {
    position: relative
}

.wishlistButton__11fc5 {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: var(--control-secondary-background-default);
    border-color: var(--control-secondary-border-default);
    inset-inline-end: var(--space-16);
    position: absolute;
    top: var(--space-16);
    z-index: 1
}

.offerSplashWrapper__11fc5 {
    position: relative;
    width: 95.6%
}

.offerSplashWrapper__11fc5 .wishlistButton__11fc5 {
    top: calc(var(--space-16)*-1)
}

.container__61306 {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    max-width: 660px
}

.applicationStoreHomeWrapper__61306 {
    margin: 60px 40px 80px
}

.loading__61306 {
    align-items: center;
    display: flex;
    height: 520px;
    justify-content: center
}

.background__61306 {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0
}

.content__61306 {
    position: relative
}

.sectionTier2__61306 {
    margin-top: 32px;
    text-align: center
}

.marketingRefreshTier2Intro__61306 {
    max-width: 325px
}

.marketingRefreshTitle__61306 {
    color: var(--text-strong);
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0
}

.marketingRefreshSubtitle__61306 {
    color: var(--text-default);
    font-size: 16px;
    line-height: 20px;
    margin: 0
}

.marketingRefreshHeaderAnimation__61306 {
    margin-inline-start: 16px;
    width: 332px
}

.marketingRefreshTier2Cta__61306 {
    margin-top: 48px;
    text-align: center
}

.marketingRefreshSectionTier1__61306 {
    border-top: 1px solid var(--border-subtle);
    color: var(--text-default);
    display: flex;
    margin-top: 48px;
    padding-top: 48px
}

.marketingRefreshTier1Graphic__61306 {
    display: block;
    flex-shrink: 0;
    height: 148px;
    margin-inline-end: 60px;
    width: 175px
}

@media (max-width:920px) {
    .marketingRefreshTier1Graphic__61306 {
        display: none
    }
}

.marketingRefreshTier1Logo__61306 {
    color: var(--text-strong);
    display: block;
    height: 20px;
    margin-bottom: 8px;
    width: 194px
}

.marketingRefreshDescription__61306 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px
}

.tier1InfoTooltipList__61306 {
    list-style-type: disc;
    padding-inline-start: 15px
}

.tier1InfoTooltipListItem__61306 {
    padding: 2px
}

.tier1InfoTooltipListItemOffsetItem__61306 {
    inset-inline-start: -5px;
    position: relative
}

.tier1InfoIcon__61306 {
    height: 10px;
    width: 10px
}

.tier2Buttons__61306 {
    margin-top: 24px
}

.subSectionHeader__61306 {
    text-transform: uppercase
}

.sectionAccountCredit__61306,
.subscriptionDetails__61306 {
    border-bottom: 1px solid;
    margin-bottom: 40px;
    padding-bottom: 40px
}

.accountCredit__61306 {
    margin-top: 16px
}

.accountCreditTitle__61306 {
    margin-bottom: 16px
}

.accountCreditDescription__61306 {
    color: var(--text-default);
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 0
}

.tier2Plan__61306 {
    display: flex
}

.marketingRefreshTier2PlanWrapper__61306 {
    display: flex;
    margin-bottom: 48px
}

.marketingRefreshTier2PlanName__61306 {
    color: var(--logo-primary);
    display: block;
    height: 60px;
    margin-bottom: 32px;
    width: auto
}

.subscriptionsRedirectContainer__61306 {
    align-items: center;
    background-color: var(--background-base-lower);
    border: none;
    display: flex;
    margin-bottom: 24px;
    padding: 8px
}

.subscriptionsRedirectWarningIcon__61306 {
    color: var(--status-warning);
    height: 13px;
    margin-inline-end: 6px;
    width: 13px
}

.theme-light .sectionAccountCredit__61306,
.theme-light .subscriptionDetails__61306 {
    border-color: hsl(var(--primary-300-hsl)/.3)
}

.theme-dark .sectionAccountCredit__61306,
.theme-dark .subscriptionDetails__61306 {
    border-color: hsl(var(--primary-400-hsl)/.3)
}

.perkList__61306,
.perkListItem__61306 {
    margin-bottom: 16px
}

.perkListItem__61306 {
    align-items: center;
    display: flex
}

.perkListItem__61306:last-child {
    margin-bottom: 0
}

.perkListItemIcon__61306 {
    flex-shrink: 0;
    height: 20px;
    margin-inline-end: 16px;
    width: 20px
}

.theme-dark .tier1CustomEmojiPerk__61306 {
    color: #fee64f
}

.theme-dark .tier1StreamPerk__61306 {
    color: #9bdd73
}

.theme-light .tier1CustomEmojiPerk__61306 {
    color: #d0820c
}

.theme-light .tier1StreamPerk__61306 {
    color: #69974d
}

.images-light .tier1Banner__61306 {
    background-image: url(/assets/460e67c2a6814672.svg)
}

.images-dark .tier1Banner__61306 {
    background-image: url(/assets/cbe5498434e90cc1.svg)
}

.tier1Banner__61306 {
    background-color: var(--background-base-lower);
    color: var(--text-strong)
}

.tier1ProfilePerk__61306 {
    color: #4087ed
}

.tier1BoostPerk__61306 {
    color: var(--guild-boosting-pink)
}

.tier1UploadPerk__61306 {
    color: #776bff
}

.wrapper__4d7bb {
    background: linear-gradient(45deg, var(--guild-boosting-blue), var(--guild-boosting-purple));
    border-radius: 8px;
    isolation: isolate;
    margin-bottom: 85px;
    overflow: hidden;
    padding: 50px 24px;
    position: relative;
    text-align: center
}

.content__4d7bb {
    position: relative;
    z-index: 2
}

.heading__4d7bb {
    margin-bottom: 32px
}

.cards__4d7bb {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    max-width: 768px
}

.card__4d7bb {
    align-items: center;
    background-color: hsl(var(--primary-600-hsl)/.9);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 180px;
    min-width: 165px;
    padding: 24px 12px
}

.theme-light .card__4d7bb {
    background-color: hsl(var(--primary-100-hsl)/.9)
}

.icon__4d7bb {
    color: var(--guild-boosting-pink);
    display: block;
    height: 30px;
    margin-bottom: 10px;
    width: 30px
}

.backgroundImages__4d7bb {
    background: 0 100% url(/assets/5f5e47f0133f9ee5.svg) no-repeat, 100% 100% url(/assets/383e4e1569554a59.svg) no-repeat;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.backgroundImages__4d7bb,
.iconImage__4d7bb {
    filter: saturate(var(--saturation-factor, 1))
}

.wrapper__5b98e {
    background-color: var(--background-mod-normal);
    border-radius: 8px;
    padding: 60px 50px
}

.heading__5b98e {
    margin-bottom: 30px;
    text-align: center
}

.list__5b98e {
    border-top: 1px solid var(--border-muted)
}

.listItem__5b98e {
    border-bottom: 1px solid var(--border-muted)
}

.questionWrapper__5b98e {
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    padding: 12px 0;
    transition: color .1s
}

.questionWrapper__5b98e:active,
.questionWrapper__5b98e:hover,
.questionWrapperExpanded__5b98e {
    color: var(--interactive-text-active)
}

.questionWrapperExpanded__5b98e {
    padding-bottom: 8px
}

.question__5b98e {
    color: inherit;
    flex: 1 1 auto;
    padding-inline-end: 12px;
    transition: color .1s
}

.questionIcon__5b98e {
    flex: 0 0 auto
}

.answer__5b98e {
    margin-bottom: 12px;
    width: 80%
}

@media (max-width:700px) {
    .answer__5b98e {
        width: 100%
    }
}

.heading__686cf {
    margin-bottom: 82px;
    text-align: center
}

.tableWrapper__686cf {
    position: relative
}

.table__686cf {
    text-align: center;
    width: 100%
}

.columnHeading__686cf,
.tableCell__686cf {
    border-bottom: 1px solid var(--opacity-white-16)
}

.theme-light .columnHeading__686cf,
.theme-light .tableCell__686cf {
    border-bottom-color: var(--opacity-black-16)
}

.columnHeading__686cf {
    padding-bottom: 16px
}

.tableCell__686cf {
    box-sizing: border-box;
    padding: 22px 0;
    vertical-align: middle;
    width: 20%
}

.tableCellWrapper__686cf {
    padding: 0
}

.tableCellInner__686cf {
    border-bottom: none;
    width: 100%
}

.tableRowHeading__686cf {
    text-align: start
}

.booleanValueIcon__686cf {
    color: var(--icon-muted);
    display: block;
    margin: 0 auto
}

.booleanValueTrue__686cf {
    color: var(--text-strong)
}

.recommendedTierHighlight__686cf {
    bottom: -16px;
    pointer-events: none;
    position: absolute;
    top: -38px;
    width: 20%
}

.recommendedTierHighlight__686cf:after,
.recommendedTierHighlight__686cf:before {
    border: 2px solid transparent;
    border-radius: 16px;
    box-sizing: border-box;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.recommendedTierHighlight__686cf:after {
    border-color: var(--guild-boosting-blue);
    -webkit-mask: linear-gradient(70deg, #000, transparent);
    mask: linear-gradient(70deg, #000, transparent)
}

.recommendedTierHighlight__686cf:before {
    border-color: var(--guild-boosting-purple)
}

.recommendedTierHighlightTier2__686cf {
    inset-inline-end: 20%
}

.recommendedTierHighlightTier3__686cf {
    inset-inline-end: 0
}

.recommendedTierHighlightTag__686cf {
    background-image: linear-gradient(30deg, var(--guild-boosting-blue), var(--guild-boosting-purple));
    border-radius: 8px;
    inset-inline-start: 50%;
    padding: 4px 8px;
    position: absolute;
    text-transform: uppercase;
    top: 1px;
    transform: translate(-50%, -50%);
    z-index: 2
}

.perkPreviewImage__686cf {
    background-color: var(--background-mod-normal);
    border-radius: 8px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    display: block;
    height: 168px;
    width: 280px
}

.imageWrapper__198b6 {
    align-items: center;
    background-color: var(--white);
    border-radius: 60px;
    display: flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 60px;
    z-index: 1
}

.image__198b6 {
    height: 80%;
    width: 80%;
    z-index: 1
}

.cooldown__198b6 {
    background-color: var(--blue-200)
}

.cooldownImage__198b6 {
    height: 26px
}

.boostIconContainer__7402e {
    border-radius: 100%;
    box-shadow: var(--elevation-medium);
    position: relative
}

.boostIcon__7402e {
    height: 36px;
    width: 36px
}

.boostIconCanceled__7402e {
    display: block
}

.snowflake__7402e {
    inset-inline-start: -16px;
    position: absolute;
    top: 2px;
    z-index: 1
}

.guildContainer_f778dc {
    align-items: center;
    background-color: var(--background-mod-normal);
    display: flex;
    flex-direction: row;
    padding: 30px 18px;
    position: relative
}

.guildInfoContainer_f778dc {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 16px
}

.guildBoostStatsContainer_f778dc {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 6px
}

.separator_f778dc {
    border-inline-end: 1px solid var(--text-muted);
    height: 18px;
    margin: 0 10px;
    opacity: .5
}

.guildBoostBadge_f778dc {
    color: var(--guild-boosting-pink);
    height: 16px;
    margin-inline-end: 6px;
    width: 16px
}

.sparkle_f778dc {
    color: var(--white);
    position: absolute;
    z-index: 1
}

.theme-light .sparkle_f778dc {
    color: var(--guild-boosting-pink)
}

.sparkle1_f778dc {
    bottom: 9px;
    inset-inline-start: 0
}

.sparkle2_f778dc {
    inset-inline-end: 9px;
    top: -15px
}

.sparkle3_f778dc {
    inset-inline-end: 0;
    top: 24px
}

.sparkle4_f778dc {
    inset-inline-end: -22px;
    top: 28px
}

.sideSparkleContainer_f778dc {
    background-image: radial-gradient(100% 100% at center, #fff 0, hsla(0, 0%, 100%, 0) 50%);
    position: absolute;
    width: 1px;
    z-index: 1
}

.theme-light .sideSparkleContainer_f778dc {
    background-image: radial-gradient(100% 100% at center, hsl(var(--guild-boosting-pink-hsl)/1) 0, hsl(var(--guild-boosting-pink-hsl)/0) 50%)
}

.sideSparkle_f778dc {
    inset-inline-start: -8px
}

.container__4be27,
.wrapper__4be27 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px
}

.container__4be27 {
    gap: 12px
}

.appliedBoostContainer__4be27 {
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.guildContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 18px
}

.guildInfoContainer__4be27 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 15px
}

.guildBoostStatsContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 6px
}

.separator__4be27 {
    border-inline-end: 1px solid var(--text-muted);
    height: 18px;
    margin: 0 10px
}

.guildBoostBadge__4be27 {
    color: var(--guild-boosting-pink);
    margin-inline-end: 6px
}

.boostContainer__4be27 {
    background-color: var(--primary-800);
    display: flex;
    flex-direction: column;
    padding: 0 20px
}

.theme-light .boostContainer__4be27 {
    background-color: var(--primary-200)
}

.boostInnerContainer__4be27 {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 6px 0
}

.boostContainerSeparator__4be27 {
    background-color: var(--primary-500);
    height: 1px;
    opacity: .48
}

.theme-light .boostContainerSeparator__4be27 {
    opacity: .2
}

.cancel__4be27 {
    color: var(--text-feedback-warning)
}

.boostDescriptionContainer__4be27 {
    flex: 1;
    margin: 0 10px;
    position: relative
}

.boostDescriptionInnerContainer__4be27 {
    position: absolute;
    transform: translateY(-50%);
    width: 100%
}

.boostSlotMenuIcon__4be27 {
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex
}

.mainSeparator__4be27 {
    background-color: var(--primary-500);
    height: 1px;
    opacity: .48
}

.theme-light .mainSeparator__4be27 {
    opacity: .3
}

.wrapper_a2ba57 {
    isolation: isolate;
    position: relative
}

.gradient_a2ba57 {
    background: center 15%/90% auto url(/assets/63ac51b66622ae3d.svg) no-repeat, linear-gradient(180deg, var(--premium-tier-0-header-gradient-2) 0, var(--premium-tier-0-header-gradient-3) 60%, var(--premium-tier-0-header-gradient-4) 120%);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    padding: 76px 56px 36px;
    position: relative;
    z-index: 1
}

.guildBoostGemWrapper_a2ba57 {
    background-color: var(--white);
    border-radius: 34px;
    box-shadow: var(--elevation-medium);
    height: 68px;
    overflow: hidden;
    top: 0;
    transform: translate(-50%, -25%);
    width: 68px;
    z-index: 2
}

.guildBoostGem_a2ba57,
.guildBoostGemWrapper_a2ba57 {
    inset-inline-start: 50%;
    position: absolute
}

.guildBoostGem_a2ba57 {
    height: 60px;
    top: 50%;
    transform: translate(-50%, -50%)
}

.heading_a2ba57 {
    color: var(--text-strong);
    position: relative;
    text-align: center;
    z-index: 2
}

.heading_a2ba57 p {
    margin: 0
}

.wave_a2ba57 {
    bottom: -96px;
    fill: var(--background-base-low);
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

.wrapper_f50859 {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 30px 18px;
    position: relative
}

.icon_f50859 {
    border-radius: 100%;
    height: 60px;
    width: 60px
}

.info_f50859 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 16px
}

.wrapper__6b2f3 {
    background-color: var(--background-mod-normal);
    border-radius: var(--radius-sm);
    padding: 16px 18px
}

.copy__6b2f3,
.wrapper__6b2f3 {
    align-items: center;
    display: flex
}

.cta__6b2f3 {
    color: var(--text-link) !important;
    display: inline;
    height: auto;
    margin-inline-start: 4px;
    min-height: auto;
    min-width: auto;
    padding: 0
}

.boostIcon__6b2f3 {
    color: var(--guild-boosting-pink);
    height: 16px;
    margin-inline-end: 4px;
    width: 16px
}

.wrapper_de1b16 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px
}

.header_de1b16 {
    margin-bottom: 20px;
    margin-top: 30px
}

.recommendedServerCard_de1b16 {
    border-radius: var(--radius-sm);
    position: relative
}

.wrapper__5a3a3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 70px;
    text-align: center
}

.subtitle__5a3a3 {
    margin-bottom: 6px
}
