.body_c6f1a4 {
    background-color: var(--modal-background);
    border-radius: var(--radius-md);
    height: 100%;
    padding: 0 var(--space-16)
}

.sliderBody_c6f1a4 {
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 0;
    padding-bottom: var(--space-8);
    width: 100%
}

@media (max-width:485px) {
    .sliderBody_c6f1a4 {
        flex-direction: column;
        flex-grow: 1
    }
}

.sliderBodyUnifiedReviewStep_c6f1a4 {
    padding-bottom: 0
}

.body_c6f1a4.reviewStep_c6f1a4 {
    padding: 0 var(--modal-horizontal-padding)
}

@media (max-width:485px) {
    .body_c6f1a4.reviewStep_c6f1a4 {
        width: 100%
    }
}

.body_c6f1a4.addPaymentStepForPremium_c6f1a4 {
    max-width: 440px;
    padding-inline: var(--space-16)
}

@media screen and (max-height:550px),
screen and (max-width:485px) {
    .body_c6f1a4.addPaymentStepForPremium_c6f1a4 {
        max-width: 100%
    }
}

.sliderBodyLarge_c6f1a4 {
    width: 804px
}

.paymentModalLockIcon__9a648 {
    color: var(--primary-500);
    padding: 0 var(--space-16)
}

.theme-dark .paymentModalLockIcon__9a648 {
    color: var(--primary-300)
}

.lockIcon__9a648 {
    margin-inline-end: 2px
}

.lockIconText__9a648 {
    white-space: nowrap
}

.container__8a8e7 {
    align-items: center;
    color: var(--text-strong);
    display: inline-flex;
    gap: var(--space-4);
    position: relative;
    white-space: nowrap
}

.discount__8a8e7 {
    color: var(--text-feedback-positive)
}

.icon__8a8e7 {
    min-width: -moz-fit-content;
    min-width: fit-content
}

.priceStrikethrough__8a8e7 {
    text-decoration: line-through
}

.discountPill__8a8e7 {
    background: var(--green-new-34);
    border-radius: 20px;
    padding: 1px 8px 2px;
    text-decoration-line: none
}

.theme-light .discountPill__8a8e7 {
    color: var(--white)
}

.theme-light .discountBackgroundColor__8a8e7 {
    color: #9a9a9d
}

.theme-dark .discountPill__8a8e7 {
    color: var(--neutral-71)
}

.theme-dark .discountBackgroundColor__8a8e7 {
    color: #8d8e91
}

.checkoutModalFooter_e3bd55 {
    align-items: center
}

.checkoutModalFooterContent_e3bd55 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.justifyBetween_e3bd55 {
    justify-content: space-between
}

.justifyEnd_e3bd55 {
    justify-content: flex-end
}

.headerBackground_f602ce {
    border-start-end-radius: var(--radius-md);
    border-start-start-radius: var(--radius-md);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-inline-start: -1px;
    margin-top: -2px;
    min-height: 114px;
    padding: var(--space-20);
    position: relative;
    width: calc(100% + 2px)
}

@media screen and (max-height:550px),
screen and (max-width:485px) {
    .headerBackground_f602ce {
        border-radius: 0
    }
}

.tier2HeaderBackground_f602ce {
    background-image: linear-gradient(41.27deg, var(--premium-tier-2-purple-for-gradients) 20.01%, var(--premium-tier-2-purple-for-gradients-2) 56.27%, var(--premium-tier-2-pink-for-gradients) 92.19%)
}

.snow_f602ce {
    height: 100%;
    inset-inline-start: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.closeIcon_f602ce {
    color: var(--text-strong);
    opacity: 1
}

.headerTop_f602ce {
    position: relative;
    width: 100%
}

.headerIcon_f602ce {
    color: var(--white);
    height: 22px;
    width: auto
}

.headerIcon_f602ce.nonTier2_f602ce {
    height: 35px
}

.price_f602ce {
    align-self: flex-end;
    background-color: var(--white);
    border-radius: 3px;
    color: var(--brand-500);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 1.71;
    margin-top: 20px;
    padding: 2px 12px;
    position: relative
}

.closeButton_f602ce {
    color: var(--white) !important
}

.closeButton_f602ce:hover {
    background-color: hsla(0, 0%, 100%, .04) !important
}

.trialBadge_f602ce {
    inset-inline-start: 0;
    position: absolute;
    top: 43px
}

.trialBadgeContainer_f602ce {
    align-items: center;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    max-height: 32px;
    max-width: 150px;
    text-align: start;
    text-transform: uppercase
}

.trialOfferText_f602ce {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(93.74deg, #8847c6 .65%, #ac46c3 50.46%, #ad5b91 91.96%);
    color: transparent;
    line-height: 12px;
    padding: 4px 8px
}

.trialOfferText_f602ce.tier0TrialOffer_f602ce {
    background-image: var(--custom-premium-colors-premium-gradient-tier-0)
}

.trialBadgeSparkles_f602ce {
    inset-inline-start: 4px;
    position: absolute;
    top: 43px
}

.breadcrumbs__0f692 {
    display: flex;
    justify-content: center;
    overflow: hidden
}

.breadcrumbWrapper__0f692 {
    align-items: center;
    display: flex;
    flex-grow: 0;
    font-weight: var(--font-weight-semibold)
}

.breadcrumbFinalWrapper__0f692 {
    overflow: hidden
}

.breadcrumbArrow__0f692 {
    color: var(--text-muted);
    height: 18px;
    margin: 0 11px;
    width: 18px
}

.badgeContainer_fc0249 {
    margin-inline-start: var(--space-16);
    margin-top: var(--space-8)
}

.container_b66356 {
    position: relative;
    z-index: 10
}

.headerContainer_b66356 {
    align-items: flex-end;
    border-start-end-radius: calc(var(--radius-md) - 1px);
    border-start-start-radius: calc(var(--radius-md) - 1px);
    display: flex;
    height: 120px;
    min-height: 120px;
    padding: 0 var(--space-16) 0;
    position: relative
}

.headerContainer_b66356.containerBottomPadding_b66356 {
    padding-bottom: var(--space-12)
}

.bigWumpus_b66356 {
    height: 159px;
    inset-inline-end: 41px;
    position: absolute;
    top: 28px;
    z-index: 1000
}

.wumpus_b66356 {
    height: 117px;
    inset-inline-end: 35px;
    position: absolute;
    top: 12px
}

.bigCloud_b66356 {
    inset-inline-start: calc(50% - 60px);
    opacity: .25;
    position: absolute;
    top: 39px;
    transform: translateX(-50%);
    width: 120px
}

.mediumCloud_b66356 {
    inset-inline-start: 28px;
    opacity: .35;
    position: absolute;
    top: 22px;
    width: 74px
}

.smallCloud_b66356 {
    inset-inline-end: 39px;
    opacity: .25;
    position: absolute;
    top: 58px;
    width: 59px
}

.closeButtonPosition_b66356 {
    inset-inline-end: 12px;
    position: absolute;
    top: 12px
}

.textContainer_b66356 {
    gap: var(--space-16);
    max-width: 55%;
    position: relative
}

.headerTextWrapper_b66356,
.textContainer_b66356 {
    display: flex;
    flex-direction: column
}

.headerTextWrapper_b66356 {
    gap: var(--space-12);
    justify-content: center;
    padding-top: var(--space-24);
    text-align: center
}

.oneStepCheckoutTextWrapper_b66356 {
    padding: var(--space-16) var(--space-16) var(--space-12)
}

.wordmark_b66356 {
    height: 22px;
    width: -moz-fit-content;
    width: fit-content
}

.bodyGradientPadding_b66356 {
    height: 24px
}

@media screen and (max-height:550px),
screen and (max-width:485px) {
    .headerContainer_b66356 {
        border-radius: 0
    }
}

.nitroText_b66356 {
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    line-height: 27px;
    text-transform: uppercase
}

.betaBadgeContainer_b66356 {
    bottom: calc(100% + 8px);
    inset-inline-start: 0;
    position: absolute
}

.modalHeader_b54a5b {
    background-image: linear-gradient(var(--modal-background), var(--modal-background));
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 20px);
    margin-bottom: -20px;
    overflow: clip;
    padding-bottom: 0
}

.manaModalHeaderCompatible_b54a5b {
    margin-top: calc(var(--custom-modal-padding-top)*-1)
}

.modalHeaderCustomGift_b54a5b {
    align-items: center;
    background-image: unset;
    background-size: unset;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0
}

.closeButton_b54a5b {
    margin-inline-start: auto;
    padding: 0
}

.closeButtonInner_b54a5b {
    height: 24px
}

.header_b54a5b {
    flex-shrink: 0
}

body .headerAnimation_b54a5b {
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    position: absolute;
    top: 0;
    inset-inline: 50% 0;
    bottom: -22px;
    min-width: 440px;
    overflow: hidden;
    transform: translateX(-50%);
    width: 100%
}

@media (max-width:485px) {
    .headerAnimation_b54a5b {
        min-width: auto !important
    }
}

.headerAnimation_b54a5b {
    border-start-end-radius: calc(var(--radius-md) - 1px);
    border-start-start-radius: calc(var(--radius-md) - 1px)
}

.seasonalGiftBoxHeaderIcon_ae16b8 {
    align-self: center;
    bottom: -11px;
    position: absolute;
    width: 260px;
    z-index: 1
}

.container_ae16b8 {
    align-items: center;
    background-image: unset;
    background-size: unset;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    position: relative
}

.closeButton_ae16b8 {
    margin: var(--modal-vertical-padding) var(--modal-horizontal-padding);
    margin-inline-start: auto
}

.fullWidthGraphicHeaderForManaModal_ae16b8.fullWidthGraphicHeaderForManaModal_ae16b8 {
    margin-top: calc(var(--custom-modal-padding-top, 24px)*-1 - 2px);
    margin-inline-start: -1px;
    width: calc(100% + 2px)
}

.trigger_e6ce07 {
    all: unset
}

.triggerContent_e6ce07 {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: var(--space-4)
}

.full-motion .chevron_e6ce07 {
    transition: transform .1s ease-in-out
}

[data-expanded] .chevron_e6ce07 {
    transform: rotate(-180deg)
}

.panel_e6ce07 {
    height: var(--disclosure-panel-height);
    overflow: clip;
    width: 100%
}

.full-motion .panel_e6ce07 {
    transition: height .1s ease-in-out
}

.header_b963df {
    align-items: center;
    display: flex;
    gap: var(--space-24);
    justify-content: space-between;
    width: 100%
}

.lineItemsContainer_b963df {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    margin-top: var(--space-12);
    width: 100%
}

.lineItem_b963df {
    align-items: flex-start;
    display: flex;
    gap: var(--space-24);
    justify-content: space-between;
    width: 100%
}

.lineItemLabel_b963df {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--space-4);
    min-width: 0;
    text-transform: capitalize
}

.strikethroughText_b963df {
    text-decoration: line-through
}

.valueColumnContainer_b963df {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.valueTextItem_b963df {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-4)
}

.divider_ad82d8 {
    background-color: var(--border-muted);
    height: 1px;
    margin-bottom: var(--space-16);
    width: 100%
}

.totalDue_ad82d8 {
    display: flex;
    gap: var(--space-12);
    justify-content: space-between;
    margin-top: var(--space-12)
}

.cardGroup__02e50 {
    align-items: stretch;
    display: flex;
    gap: var(--space-8);
    width: 100%
}

.cardGroupWithHeadingSpacing__02e50 {
    margin-top: var(--space-12)
}

.card__02e50 {
    all: unset;
    background-color: var(--background-mod-muted);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-md);
    cursor: pointer;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: var(--space-16);
    justify-content: space-between;
    padding: var(--space-12);
    position: relative;
    transition: background-color .1s
}

.card__02e50[data-disabled] {
    cursor: not-allowed
}

.card__02e50[data-selected] {
    background-color: var(--background-mod-subtle)
}

.selectionIndicator__02e50 {
    border: 2px solid var(--input-border-hover);
    border-radius: var(--radius-md);
    inset: -1px;
    position: absolute;
    z-index: -1
}

.title__02e50 {
    margin-inline-end: var(--space-24)
}

.text__02e50 {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--space-8)
}

.strikethrough__02e50 {
    text-decoration: line-through
}

.selectionIcon__02e50 {
    display: block;
    inset-inline-end: var(--space-8);
    position: absolute;
    top: var(--space-8)
}

.headingSubText__220d4 {
    margin-top: var(--space-8)
}

.radioGroupContainer__220d4 {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-top: var(--space-12)
}

.radioItemNameContainer__220d4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.radioItemPrimaryItemsContainer__220d4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-8)
}

.radioItemSecondaryItemsContainer__220d4 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-4)
}

.radioBar__220d4 {
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-md);
    padding: var(--space-12) !important
}

.radioBar__220d4,
.radioBarSelected__220d4 {
    background-color: var(--background-mod-subtle)
}

.radioBarSelected__220d4 {
    border: 1px solid var(--input-border-hover);
    padding: var(--space-16) var(--space-12) !important
}

.discountBadge__220d4 {
    background-color: var(--control-connected-background-default);
    border-radius: var(--radius-round);
    font-weight: var(--font-weight-semibold);
    height: 16px;
    padding: 2px var(--space-8)
}

.text_eaab0b {
    font-style: italic;
    text-transform: uppercase
}

.profileEffectContainer__0b5ea {
    height: 52px;
    position: relative;
    width: 42px
}

.profileEffect__0b5ea,
.profileEffectBackground__0b5ea {
    border-radius: var(--radius-xs);
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    position: absolute;
    width: 100%
}

.avatarDecoration__0b5ea,
.nameplateContainer__0b5ea {
    height: 42px;
    width: 42px
}

.nameplateContainer__0b5ea {
    background-color: var(--modal-background);
    border-radius: var(--radius-xs);
    overflow: hidden;
    position: relative
}

.externalProductAsset__0b5ea {
    height: 42px
}

.bundleMiniStaticPreview__0b5ea {
    height: 52px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 52px
}

.bundleMiniPreview__0b5ea {
    align-items: center;
    display: flex;
    height: 52px;
    justify-content: center;
    position: relative;
    width: 52px
}

.bundleMiniProfileEffectContainer__0b5ea {
    height: 44px;
    inset-inline-start: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(-8deg);
    width: 36px
}

.bundleMiniProfileEffectContainer__0b5ea .profileEffectContainer__0b5ea {
    height: 100%;
    width: 100%
}

.bundleMiniAvatarDecorationContainer__0b5ea {
    height: 26px;
    inset-inline-end: 0;
    position: absolute;
    top: 5px;
    transform: rotate(8deg);
    width: 26px
}

.bundleMiniAvatarDecorationContainer__0b5ea .avatarDecoration__0b5ea {
    height: 100%;
    width: 100%
}

.bundleMiniNameplateContainer__0b5ea {
    border-radius: var(--radius-xs);
    bottom: 10px;
    height: 12px;
    inset-inline-start: 0;
    overflow: hidden;
    position: absolute;
    width: 100%
}

.bundleMiniNameplateContainer__0b5ea .nameplateContainer__0b5ea {
    height: 100%;
    width: 100%
}

.avatar_d28e10 {
    align-items: center;
    display: flex;
    inset-inline-start: 16px;
    justify-content: center;
    position: absolute;
    top: 61px;
    z-index: 1
}

.overlay_d28e10:after {
    background-color: var(--opacity-black-40);
    border-radius: var(--radius-round);
    content: "";
    height: 100%;
    inset-inline-end: 0;
    top: 0;
    width: 100%;
    z-index: 0
}

.overlay_d28e10:after,
.overlayIcon_d28e10 {
    opacity: 0;
    position: absolute;
    transition: opacity .2s ease
}

.clickable_d28e10.avatar_d28e10 {
    cursor: pointer
}

.clickable_d28e10:focus-within .overlay_d28e10:after,
.clickable_d28e10:focus-within .overlayIcon_d28e10,
.clickable_d28e10:hover .overlay_d28e10:after,
.clickable_d28e10:hover .overlayIcon_d28e10 {
    opacity: 1
}

.menu_d28e10 {
    margin-top: 30px
}

.clickable_faf576 {
    align-items: center;
    background-color: var(--opacity-black-40);
    cursor: pointer;
    display: flex;
    gap: 4px;
    height: 100%;
    inset-inline-start: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%
}

.clickable_faf576:hover {
    opacity: 1
}

.applicationIcon__6dec9 {
    border-radius: 6px
}

.container__42d0d {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 8px
}

.row__8a8df {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-6);
    margin-bottom: var(--space-16)
}

.flag__8a8df {
    flex-shrink: 0;
    height: 18px;
    width: auto
}

.content_d60bcd ul {
    list-style: disc;
    margin: var(--space-4) 0 0;
    padding-inline-start: var(--space-16)
}

.confirmation__6220d {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 24px 10px
}

.confirmationHeader__6220d {
    margin-bottom: 16px
}

.divider__6220d {
    background-color: var(--border-subtle);
    height: 1px;
    margin: 24px 0;
    width: 100%
}

.subscriptionCostRowAmount__3d62f {
    font-weight: var(--font-weight-medium)
}

.subscriptionCostRow__3d62f {
    color: var(--text-strong)
}

.invoiceItemLabelWithIcon__3d62f {
    align-items: center;
    display: flex
}

.invoiceItemLabelIcon__3d62f {
    color: var(--interactive-text-default);
    height: 14px;
    margin-inline-start: 8px;
    width: 14px
}

.invoiceItemTooltip__3d62f {
    max-width: 240px
}

.invoiceItemTooltip__3d62f p {
    margin: 0
}

.invoiceItemTooltip__3d62f strong {
    font-weight: var(--font-weight-bold)
}

.subscriptionDetailsToggle__3d62f {
    align-items: center;
    color: var(--text-default);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    justify-content: center;
    line-height: 16px;
    margin: -16px 0;
    padding: 16px 0
}

.subscriptionDetailsToggleCaret__3d62f {
    height: 16px;
    margin-inline-start: 6px;
    width: 16px
}

.subscriptionPeriodResetNotice__3d62f {
    color: var(--text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px;
    margin-bottom: 16px
}

.subscriptionAddedInvoiceItem__3d62f {
    color: var(--text-feedback-positive)
}

.purchaseDetailsHeaderText__3d62f {
    margin-bottom: 8px
}

.root_e4d803 {
    background-color: transparent
}

.root_e4d803>:last-child {
    border-end-end-radius: 4px;
    border-end-start-radius: 4px
}

.root_e4d803.withHeader_e4d803>:first-child {
    background-color: transparent
}

.shaker_e4d803 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    max-height: 660px
}

.modalHeader_e4d803 {
    margin-bottom: -20px;
    padding-bottom: 0
}

.header_e4d803 {
    margin-bottom: 12px
}

.headerAnimation_e4d803 {
    bottom: -20px;
    inset-inline-start: calc(50% - 220px);
    position: absolute;
    top: 0;
    width: 440px
}

.stepBody_e4d803 {
    padding-top: 16px
}

.bodyText_e4d803 {
    color: var(--interactive-text-default);
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    line-height: 20px
}

.invoice_e4d803,
.taxInclusiveNote_e4d803 {
    margin-bottom: 16px
}

.premiumBrandRefreshInputBackground_e4d803 {
    background-color: var(--background-mod-subtle) !important;
    border: 0 !important
}

.paymentSourceWrapper_e4d803 {
    margin: 12px 0
}

.giftCardCreditsCheckbox_e4d803 {
    margin-bottom: var(--space-8)
}

.paymentSourceOptionalWarning_e4d803 {
    color: var(--text-default);
    margin-top: 16px
}

.currencyWrapper_e4d803 {
    margin-bottom: 16px;
    margin-top: 16px
}

@media (max-width:485px) {
    .shaker_e4d803 {
        position: absolute;
        top: 0;
        inset-inline: 0;
        bottom: 0;
        max-height: none
    }

    .root_e4d803,
    .shaker_e4d803 {
        justify-content: center
    }

    .root_e4d803 {
        border-radius: 0;
        width: 100vw
    }
}

.trialCheckbox_e4d803 {
    align-items: flex-start
}

.trialCheckboxLabel_e4d803 {
    font-size: 14px;
    line-height: 18px
}

.loader_e4d803 {
    margin-top: 64px
}

.contentWrapper_e4d803 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0
}

.reviewWarningMessageContainer_e4d803 {
    background-color: var(--background-feedback-warning);
    border: 1px solid var(--status-warning-background);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 10px
}

.reviewWarningMessage_e4d803 {
    color: var(--interactive-text-active);
    margin-inline-start: 10px
}

.trialPriceLine_e4d803 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px
}

.afterTrialPriceLine_e4d803 {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.discountSubtext_e4d803 {
    text-align: end
}

.discountSubtext_e4d803 p {
    margin: 0
}

.formTitle_e4d803 {
    margin-bottom: 12px
}

.spinnerWrapper_e4d803 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 280px;
    min-width: 402px
}

.trialHeader_e4d803 {
    margin-bottom: 18px
}

.giftMainAnimation_e4d803 {
    margin-bottom: var(--space-8);
    margin-top: -32px;
    position: relative
}

.premiumGroupNotice_e4d803 {
    margin: 12px 0
}

.stepBodyV1_bb5449 {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding-top: var(--space-16)
}

.unifiedReviewStepBodyBottomPadding_bb5449 {
    padding-bottom: var(--space-4)
}

.topInBetweenSpacer_bb5449 {
    height: var(--space-8)
}

.subscriptionDetailsContainer_bb5449 {
    margin-top: var(--space-12)
}

.invoiceSummaryContainer_bb5449,
.paymentMethodContainer_bb5449 {
    margin-top: var(--space-24)
}

.checkoutInlineNoticeContainer_bb5449 {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-24);
    row-gap: var(--space-12)
}

.loadingContainer_bb5449 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px
}

.giftRedemptionLink_bb5449 {
    margin-top: var(--space-8)
}

.spinnerColor_bb5449 {
    background-color: var(--interactive-text-default) !important
}

.totalDueReviewStep_bb5449 {
    margin-top: 0
}

.promotionalNoticeContainer_bb5449,
.totalDueReviewStep_bb5449 {
    margin-bottom: var(--space-12)
}

.footerInlineNoticeContainer_bb5449 {
    margin-top: var(--space-12)
}

.shopPageContainer__4485d {
    margin-top: 80px;
    min-height: 300px
}

.giftModalContainer__4485d,
.shopPageContainer__4485d {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.giftModalContainer__4485d {
    padding: var(--space-24)
}

.heading1__4485d {
    margin-bottom: 24px;
    margin-top: 24px
}

.description__4485d {
    text-align: center
}

.reload__4485d {
    margin-top: 24px
}

.customConfetti__69c6c {
    inset-inline-end: -75px;
    pointer-events: none;
    top: -120px
}

.modalOverrideSliderBody__34eac {
    padding: 0;
    width: 440px
}

.confettiCanvas__34eac {
    height: 100%;
    position: absolute;
    width: 100%
}

.customConfetti__34eac {
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s ease-in-out
}

.customConfetti__34eac.hidden__34eac {
    opacity: 0
}

.blurb_cd2ff7 {
    color: var(--text-default);
    margin-top: 10px
}

.blurb_cd2ff7,
.giftSentMessage_cd2ff7 {
    font-size: 16px;
    line-height: 1.44;
    max-width: 360px;
    text-align: center
}

.giftSentMessage_cd2ff7 {
    color: var(--text-strong);
    margin-bottom: 8px;
    margin-top: 16px
}

.giftRecipientTag_cd2ff7 {
    color: var(--text-default);
    font-size: 13px
}

.giftRecipientContainer_cd2ff7 {
    align-items: flex-start;
    background-color: var(--background-mod-muted);
    border-color: var(--border-subtle);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 12px;
    margin-top: 16px;
    padding: var(--space-12)
}

.giftRecipientTextContainer_cd2ff7 {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.divider_cd2ff7 {
    background-color: var(--border-subtle);
    height: 1px;
    margin: 20px 0;
    width: 100%
}

.subtext_cd2ff7 {
    color: var(--channels-default);
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px
}

.subtextError_cd2ff7 {
    color: var(--text-feedback-critical) !important
}

.header_cd2ff7 {
    margin-top: 20px
}

.headerCustomGifting_cd2ff7 {
    margin-top: 24px
}

.giftRecipientSection_cd2ff7 {
    margin-top: 40px;
    width: 100%
}

.giftRecipient_cd2ff7 {
    display: flex;
    gap: var(--space-8);
    width: 100%
}

.giftRecipientButton_cd2ff7 {
    align-self: flex-end;
    margin-bottom: 2px
}

.giftRecipientInputWrapper_cd2ff7 {
    margin-inline-end: 8px;
    width: 100%
}

.giftRecipientInputError_cd2ff7 {
    border-color: var(--text-feedback-critical) !important
}

.giftRecipientRowAvatar_cd2ff7 {
    margin-inline-end: 8px
}

.sendToRecipientButton_cd2ff7 {
    height: 42px;
    margin-inline-start: 8px
}

.giftBox_cd2ff7 {
    position: absolute;
    top: -131px;
    width: 260px
}

.confirmation_cd2ff7 {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px
}

.seasonalConfirmationPadding_cd2ff7 {
    padding: 0 16px
}

.giftCodeSection_cd2ff7 {
    flex-direction: column
}

.baseAvatar__6738d {
    display: inline-block;
    vertical-align: top
}

.largeAvatar__6738d {
    line-height: 24px;
    margin-inline-end: 8px
}

.miniAvatar__6738d {
    line-height: 18px;
    margin-inline-end: 4px;
    margin-top: 1px
}

.container__5a2c6 {
    box-sizing: content-box;
    position: relative
}

.header__5a2c6 {
    min-height: calc(var(--custom-user-profile-banner-height) + 45px);
    z-index: 2
}

.custom-user-profile-theme .header__5a2c6 {
    min-height: calc(var(--custom-user-profile-banner-height) + 35px)
}

.previewContainer__50f14 {
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.giftInfoContainer__50f14 {
    align-items: center;
    display: flex;
    padding: 12px 16px
}

.previewContainerSelected__50f14 {
    background-color: var(--opacity-blurple-8);
    border-color: var(--checkbox-border-default)
}

.previewContainerError__50f14 {
    border-color: var(--background-feedback-critical)
}

.previewTextContainer__50f14 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4px;
    padding-inline-start: 10px
}

.previewTitleContainer__50f14 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px
}

.previewTitle__50f14 {
    margin-bottom: 0
}

.recipientError__50f14 {
    background-color: var(--background-base-lowest);
    border-top: 1px solid var(--border-normal);
    padding: 8px 12px
}

.previewLink__50f14 {
    cursor: pointer
}

.previewLink__50f14:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-link)
}

.stepBody_bf1b4a {
    display: flex;
    flex-direction: row;
    padding-top: 12px
}

.bodyColumnMiddle_bf1b4a {
    margin-inline-end: 30px
}

.bodyColumnLeft_bf1b4a {
    margin-inline: 24px 60px
}

.stepBody_bf1b4a>* {
    width: 50%
}

.sendTo_bf1b4a {
    margin-top: 24px
}

.customGiftMessageWrapper_bf1b4a {
    margin-bottom: 24px;
    margin-top: 24px
}

.customGiftMessage_bf1b4a {
    background-color: var(--background-base-lowest)
}

.giftPreview_bf1b4a {
    margin-bottom: 24px
}

.wishlistGiftPreview_bf1b4a {
    margin-bottom: 12px
}

.wishlistGiftPreviewHeader_bf1b4a {
    margin-bottom: 0
}

.wishlistGiftPreviewFooter_bf1b4a {
    margin-bottom: 4px
}

.selectGiftTitle_bf1b4a {
    margin-bottom: 16px;
    margin-top: 24px
}

.confirmation__9baa5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    max-width: 394px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%
}

.confirmationHeader__9baa5 {
    margin-bottom: 8px
}

.skuImage__9baa5 {
    aspect-ratio: 1;
    margin-bottom: 24px;
    width: 150px
}

.rewardNotice__9baa5 {
    margin-top: var(--space-12)
}

.buttonContainer__9baa5 {
    margin-top: var(--space-24);
    width: 100%
}

.heading-sm\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.heading-sm\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.heading-sm\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.heading-sm\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.heading-sm\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.heading-md\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.heading-md\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.heading-md\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.heading-md\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.heading-md\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.heading-lg\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.heading-lg\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.heading-lg\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.heading-lg\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.heading-lg\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.heading-xl\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1.5rem
}

.heading-xl\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1.5rem
}

.heading-xl\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1.5rem
}

.heading-xl\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1.5rem
}

.heading-xl\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: 1.5rem
}

.heading-xxl\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal_b717a1.fontScaling_b717a1 {
    font-size: 2rem
}

.heading-xxl\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium_b717a1.fontScaling_b717a1 {
    font-size: 2rem
}

.heading-xxl\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 2rem
}

.heading-xxl\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold_b717a1.fontScaling_b717a1 {
    font-size: 2rem
}

.heading-xxl\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: 2rem
}

.eyebrow_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.heading-deprecated-12\/normal_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.heading-deprecated-12\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.heading-deprecated-12\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.heading-deprecated-12\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold_b717a1 {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.redesign\/heading-18\/medium_b717a1 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold_b717a1 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold_b717a1 {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1.125rem
}

.text-xxs\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal_b717a1.fontScaling_b717a1 {
    font-size: .625rem
}

.text-xxs\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium_b717a1.fontScaling_b717a1 {
    font-size: .625rem
}

.text-xxs\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .625rem
}

.text-xxs\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold_b717a1.fontScaling_b717a1 {
    font-size: .625rem
}

.text-xs\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.text-xs\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.text-xs\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.text-xs\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.text-sm\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/normal_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.text-sm\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.text-sm\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.text-sm\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold_b717a1.fontScaling_b717a1 {
    font-size: .875rem
}

.text-md\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.text-md\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.text-md\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.text-md\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.text-lg\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.text-lg\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.text-lg\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.text-lg\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal_b717a1.fontScaling_b717a1 {
    font-size: .9375rem
}

.redesign\/message-preview\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium_b717a1.fontScaling_b717a1 {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold_b717a1.fontScaling_b717a1 {
    font-size: .9375rem
}

.redesign\/message-preview\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold_b717a1.fontScaling_b717a1 {
    font-size: .9375rem
}

.redesign\/channel-title\/normal_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.redesign\/channel-title\/medium_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.redesign\/channel-title\/semibold_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.redesign\/channel-title\/bold_b717a1 {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold_b717a1.fontScaling_b717a1 {
    font-size: 1rem
}

.display-sm_b717a1 {
    font-family: var(--font-headline);
    font-size: 20px;
    font-weight: 800;
    line-height: 1
}

.display-sm_b717a1.fontScaling_b717a1 {
    font-size: 1.25rem
}

.display-md_b717a1 {
    font-family: var(--font-headline);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md_b717a1.fontScaling_b717a1 {
    font-size: 2.125rem
}

.display-lg_b717a1 {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg_b717a1.fontScaling_b717a1 {
    font-size: 2.75rem
}

.code_b717a1 {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code_b717a1.fontScaling_b717a1 {
    font-size: .75rem
}

.title_b717a1 {
    cursor: default;
    flex: 1;
    font-family: var(--font-display)
}

.h1_b717a1 {
    font-size: 20px;
    line-height: 24px
}

.h1_b717a1,
.h2_b717a1 {
    font-weight: var(--font-weight-semibold)
}

.h2_b717a1 {
    font-size: 16px;
    line-height: 20px
}

.h3_b717a1 {
    font-weight: var(--font-weight-medium);
    line-height: 24px
}

.h3_b717a1,
.h4_b717a1 {
    font-size: 16px
}

.h4_b717a1 {
    font-weight: var(--font-weight-semibold);
    letter-spacing: .3px
}

.h4_b717a1,
.h5_b717a1,
.legend_b717a1 {
    line-height: 20px
}

.h5_b717a1,
.legend_b717a1 {
    color: var(--text-strong);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: unset
}

.defaultMarginh4_b717a1 {
    margin-bottom: 0;
    margin-top: 0
}

.defaultMarginh1_b717a1,
.defaultMarginh2_b717a1 {
    margin-bottom: 20px
}

.defaultMarginh3_b717a1,
.defaultMarginh5_b717a1,
.defaultMarginlabel_b717a1,
.defaultMarginlegend_b717a1 {
    margin-bottom: 8px
}

.disabled_b717a1 {
    cursor: not-allowed;
    opacity: .5
}

.required_b717a1 {
    color: var(--text-feedback-critical);
    padding-inline-start: 4px
}

.errorMessage_b717a1 {
    font-size: 12px;
    font-style: italic;
    font-weight: var(--font-weight-medium)
}

.errorSeparator_b717a1 {
    padding-inline: 4px
}

.defaultColor_b717a1 {
    color: var(--text-strong)
}

.label_b717a1,
.legend_b717a1 {
    color: var(--text-default)
}

.label_b717a1 {
    display: block
}

.faded_b717a1 {
    opacity: .8
}

.error_b717a1 {
    color: var(--text-feedback-critical)
}

.enable-forced-colors .disabled_b717a1 {
    color: GrayText;
    opacity: 1
}

.stepBody__7b8d0 {
    display: flex;
    flex-direction: row;
    gap: var(--size-32);
    margin: var(--size-32) var(--size-16);
    min-height: 400px
}

.bodyColumnLeft__7b8d0 {
    align-items: center
}

.bodyColumnLeft__7b8d0,
.bodyColumnRight__7b8d0 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--size-16)
}

.bodyColumnRight__7b8d0 {
    justify-content: center;
    min-width: 0
}

.skuCardImage__7b8d0 {
    aspect-ratio: 1;
    max-width: 352px;
    width: 100%
}

.customGiftMessageWrapper__7b8d0 {
    margin: 0
}

.customGiftMessage__7b8d0 {
    background-color: var(--background-base-lower);
    border-radius: var(--size-8);
    padding: var(--size-12)
}

.giftEffectsContainer__7b8d0,
.giftPreviewContainer__7b8d0 {
    display: flex;
    gap: var(--size-8)
}

.giftPreviewContainer__7b8d0 {
    flex-direction: column
}

.giftPreviewTitle__7b8d0 {
    margin: 0 !important
}

.giftPreviewContent__7b8d0 {
    align-items: center;
    background-color: color-mix(in srgb, var(--background-brand) 10%, transparent);
    border: 1px solid var(--background-brand);
    border-radius: var(--radius-md);
    display: flex;
    gap: 16px;
    padding: 12px 16px
}

.giftPreviewImageContainer__7b8d0 {
    flex-shrink: 0
}

.giftPreviewCardContainer__7b8d0 {
    aspect-ratio: 1;
    width: 48px
}

.giftPreviewImage__7b8d0 {
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.giftPreviewTextContainer__7b8d0 {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0
}

.guildNameContainer__7b8d0 {
    align-items: center;
    display: flex;
    gap: 6px
}

.recipientPickerSelectWrapper__7b8d0 {
    background-color: var(--background-base-lower)
}

.footer__7b8d0 {
    background-color: var(--background-base-low)
}

.viewItemButton__7b8d0 {
    max-width: 100%;
    width: 100%
}

.purchaseItemGraphic__2455b {
    height: 64px;
    width: 64px
}

.stepBody_a3d32e {
    display: flex;
    flex-direction: row;
    padding-top: 12px
}

.stepBody_a3d32e>* {
    width: 50%
}
