.classificationEvidenceCard_f57acb {
    background: var(--channeltextarea-background);
    border: 1px solid var(--background-base-lowest);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    padding-block: 20px;
    padding-inline: var(--space-8) var(--space-8)
}

.classificationEvidenceMessageAttachment_f57acb {
    max-width: 356px
}

.classificationEvidenceContainer_a2ffaf {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    margin-top: var(--space-32)
}

.classificationContainer_a48d6b {
    display: flex;
    flex-direction: column
}

.section_a48d6b {
    padding: var(--space-16) var(--space-16) var(--space-8)
}

.body_a48d6b {
    display: flex;
    flex-direction: column;
    gap: var(--space-24)
}

.classificationActionsTakenContainer_a48d6b {
    margin-top: 28px
}

.classificationActionsTakenCard_a48d6b {
    border-radius: 4px;
    margin-top: 14px;
    padding-bottom: 8px;
    padding-top: 8px
}

.classificationActionsTakenRow_a48d6b {
    color: var(--text-strong);
    display: list-item;
    margin-top: 10px;
    margin-inline-start: 4px
}

.classificationActionsTakenRowIcon_a48d6b {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 50%;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-inline-end: 12px;
    width: 24px
}

.classificationActionsTakenList_a48d6b {
    color: var(--text-strong);
    list-style: inside
}

.redIcon_a48d6b {
    color: var(--icon-feedback-critical)
}

.warningIcon_a48d6b {
    color: var(--status-warning)
}

.classificationActionExplanationContainer_a48d6b {
    margin-top: 28px
}

.guidelinesExplanation_a48d6b {
    margin-top: 10px
}

.classificationLetUsKnowContainer_a48d6b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 22px;
    margin-top: 22px
}

.classificationPolicyCard_a48d6b {
    align-items: center;
    background: var(--background-base-lower);
    border-radius: 8px;
    display: flex;
    margin-top: 14px;
    padding: var(--space-12) var(--space-16)
}

.classificationPolicyCard_a48d6b:hover {
    background: var(--interactive-background-hover)
}

.classificationPolicyCardIcon_a48d6b {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 200px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.classificationPolicyDescriptionContainer_a48d6b {
    display: flex;
    flex-direction: column;
    margin-inline-start: 12px
}

.classificationPolicyLinkIcon_a48d6b {
    margin-inline-start: auto
}

.classificationActionExplanationContainer_a48d6b,
.classificationActionsTakenContainer_a48d6b {
    margin-top: var(--space-24)
}

.modalRoot__859a7 {
    width: 600px
}

.modalContent__859a7 {
    display: flex;
    flex-direction: column
}

.headerContainer__859a7 {
    display: flex;
    flex-direction: row
}

.modalClose__859a7 {
    inset-inline-end: 16px;
    position: absolute;
    top: 16px;
    z-index: 999
}

.modalHeader__859a7 {
    margin: 0 var(--space-40)
}

/*# sourceMappingURL=b6292fc2039a63dd.css.map*/