.heading-sm\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.heading-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.heading-sm\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.heading-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.heading-sm\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.heading-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.heading-sm\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.heading-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.heading-sm\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2857142857142858
}

.heading-sm\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.heading-md\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.heading-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.heading-md\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.heading-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.heading-md\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.heading-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.heading-md\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.heading-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.heading-md\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25
}

.heading-md\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.heading-lg\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.heading-lg\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.heading-lg\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.heading-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.heading-lg\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.heading-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.heading-lg\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.heading-lg\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.heading-lg\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2
}

.heading-lg\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.heading-xl\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xl\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.heading-xl\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xl\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.heading-xl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.heading-xl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.heading-xl\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xl\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.heading-xxl\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25
}

.heading-xxl\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.heading-xxl\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25
}

.heading-xxl\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.heading-xxl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.heading-xxl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.heading-xxl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.heading-xxl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.heading-xxl\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25
}

.heading-xxl\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.experimental\/heading-xs\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/heading-xs\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.experimental\/heading-xs\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/heading-sm\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/heading-sm\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/heading-md\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.experimental\/heading-md\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

.experimental\/heading-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.experimental\/heading-lg\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.experimental\/heading-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.experimental\/heading-lg\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/heading-lg\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.experimental\/heading-xl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.experimental\/heading-xl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.experimental\/heading-xxl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/heading-xxl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.experimental\/heading-xxl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

.experimental\/heading-xxl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.eyebrow_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.eyebrow_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.heading-deprecated-12\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.heading-deprecated-12\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.heading-deprecated-12\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.heading-deprecated-12\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.heading-deprecated-12\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 12px;
    font-weight: 800;
    line-height: 1.3333333333333333
}

.heading-deprecated-12\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.redesign\/heading-18\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.redesign\/heading-18\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.redesign\/heading-18\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/heading-18\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.text-xxs\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.text-xxs\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

.text-xxs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2
}

.text-xxs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

.text-xxs\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2
}

.text-xxs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

.text-xxs\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.text-xxs\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

.text-xs\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.text-xs\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.text-xs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.text-xs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.text-xs\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.text-xs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.text-xs\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.text-xs\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.text-sm\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.text-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.text-sm\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.text-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.text-sm\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.text-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.text-sm\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

.text-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.text-md\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.text-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.text-md\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.text-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.text-md\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.text-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.text-md\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

.text-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.text-lg\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.text-lg\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.text-lg\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.text-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.text-lg\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

.text-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.text-lg\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

.text-lg\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.redesign\/message-preview\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .9375rem
}

.redesign\/message-preview\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .9375rem
}

.redesign\/message-preview\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .9375rem
}

.redesign\/message-preview\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.redesign\/message-preview\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .9375rem
}

.redesign\/channel-title\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375
}

.redesign\/channel-title\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.redesign\/channel-title\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375
}

.redesign\/channel-title\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.redesign\/channel-title\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375
}

.redesign\/channel-title\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.redesign\/channel-title\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375
}

.redesign\/channel-title\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/body-xs\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/body-xs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/body-xs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/body-sm\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/body-sm\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/body-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/body-md\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

.experimental\/body-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/body-md\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/body-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/body-lg\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/body-lg\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.experimental\/body-lg\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

.experimental\/body-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.experimental\/meta\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/meta\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/meta\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

.experimental\/meta\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.display-sm_f08f8d {
    font-family: var(--font-headline);
    font-size: 20px;
    font-weight: 800;
    line-height: 1
}

.display-sm_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

.display-md_f08f8d {
    font-family: var(--font-headline);
    font-size: 34px;
    font-weight: 800;
    line-height: 1.0588235294117647
}

.display-md_f08f8d.fontScaling_f08f8d {
    font-size: 2.125rem
}

.display-lg_f08f8d {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .9545454545454546
}

.display-lg_f08f8d.fontScaling_f08f8d {
    font-size: 2.75rem
}

.experimental\/display-xs_f08f8d {
    font-family: var(--font-headline);
    font-size: 16px;
    font-weight: 800;
    line-height: 1
}

.experimental\/display-xs_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/display-sm_f08f8d {
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 800;
    line-height: .9166666666666666
}

.experimental\/display-sm_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

.experimental\/display-md_f08f8d {
    font-family: var(--font-headline);
    font-size: 32px;
    font-weight: 800;
    line-height: .875
}

.experimental\/display-md_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

.experimental\/display-lg_f08f8d {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .8636363636363636
}

.experimental\/display-lg_f08f8d.fontScaling_f08f8d {
    font-size: 2.75rem
}

.experimental\/label-xs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/label-xs\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

.experimental\/label-xs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/label-sm\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/label-sm\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

.experimental\/label-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

.experimental\/label-md\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

.experimental\/label-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/label-md\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

.experimental\/label-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

.experimental\/label-lg\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.experimental\/label-lg\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

.experimental\/label-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

.code_f08f8d {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.code_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/mono-md\/normal_f08f8d {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/mono-md\/bold_f08f8d {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

.experimental\/mono-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.experimental\/mono-sm\/normal_f08f8d {
    font-family: var(--font-code);
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2
}

.experimental\/mono-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

.experimental\/mono-sm\/bold_f08f8d {
    font-family: var(--font-code);
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2
}

.experimental\/mono-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .625rem
}

:where(.mana-type-consolidation) .heading-sm\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-sm\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .heading-sm\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .heading-md\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .heading-md\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-md\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .heading-md\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .heading-lg\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-lg\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .heading-lg\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .heading-xl\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xl\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xl\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .heading-xxl\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold_f08f8d {
    font-family: var(--font-display);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .heading-xxl\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .eyebrow_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .eyebrow_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .heading-deprecated-12\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .heading-deprecated-12\/extrabold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2222222222222223
}

:where(.mana-type-consolidation) .redesign\/heading-18\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.125rem
}

:where(.mana-type-consolidation) .text-xxs\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xxs\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xxs\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .text-xs\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-xs\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333;
    text-transform: uppercase
}

:where(.mana-type-consolidation) .text-xs\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

:where(.mana-type-consolidation) .text-sm\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/normal_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/medium_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-sm\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2857142857142858
}

:where(.mana-type-consolidation) .text-sm\/bold_f08f8d.fontScaling_f08f8d {
    font-size: .875rem
}

:where(.mana-type-consolidation) .text-md\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/semibold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-md\/bold_f08f8d {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .text-md\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .text-lg\/normal_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/medium_f08f8d {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .text-lg\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2
}

:where(.mana-type-consolidation) .text-lg\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1.25rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/message-preview\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/normal_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/medium_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/semibold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold_f08f8d {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25
}

:where(.mana-type-consolidation) .redesign\/channel-title\/bold_f08f8d.fontScaling_f08f8d {
    font-size: 1rem
}

:where(.mana-type-consolidation) .display-sm_f08f8d {
    font-family: var(--font-headline);
    font-size: 24px;
    font-weight: 800;
    line-height: .9166666666666666
}

:where(.mana-type-consolidation) .display-sm_f08f8d.fontScaling_f08f8d {
    font-size: 1.5rem
}

:where(.mana-type-consolidation) .display-md_f08f8d {
    font-family: var(--font-headline);
    font-size: 32px;
    font-weight: 800;
    line-height: .875
}

:where(.mana-type-consolidation) .display-md_f08f8d.fontScaling_f08f8d {
    font-size: 2rem
}

:where(.mana-type-consolidation) .display-lg_f08f8d {
    font-family: var(--font-headline);
    font-size: 44px;
    font-weight: 800;
    line-height: .8636363636363636
}

:where(.mana-type-consolidation) .display-lg_f08f8d.fontScaling_f08f8d {
    font-size: 2.75rem
}

:where(.mana-type-consolidation) .code_f08f8d {
    font-family: var(--font-code);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333333333
}

:where(.mana-type-consolidation) .code_f08f8d.fontScaling_f08f8d {
    font-size: .75rem
}

.inputWrapper_f08f8d {
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    color: var(--input-text-default);
    padding: 2px 0;
    position: relative;
    transition: border-color .1s ease, background-color .1s ease;
    --channel-text-area-placeholder: var(--input-placeholder-text-default)
}

.inputWrapper_f08f8d.hasStaticToolbar_f08f8d {
    padding-block-start: 0
}

.inputWrapper_f08f8d:not([data-disabled=true]):not(:focus-within):hover {
    border-color: var(--input-border-hover)
}

.inputWrapper_f08f8d:not([data-disabled=true]):focus-within {
    border-color: var(--input-border-active);
    outline: 2px solid var(--input-border-active);
    outline-offset: -2px
}

.inputWrapper_f08f8d[data-error=true] {
    background-color: var(--input-background-error-default);
    border-color: var(--input-border-error-default);
    color: var(--input-text-error-default)
}

.inputWrapper_f08f8d[data-error=true]:not([data-disabled=true], :focus-within):hover {
    border-color: var(--input-border-error-default);
    outline: 2px solid var(--input-border-error-default);
    outline-offset: -2px
}

.inputWrapper_f08f8d[data-error=true]:not([data-disabled=true]):focus-within {
    border-color: var(--input-border-error-default);
    outline-color: var(--input-border-error-default)
}

.inputWrapper_f08f8d[data-disabled=true] {
    cursor: not-allowed;
    opacity: .5
}

.enable-forced-colors .inputWrapper_f08f8d {
    border: 1px solid ButtonText
}

.enable-forced-colors .inputWrapper_f08f8d:not([data-disabled=true]):focus-within {
    border-color: Highlight
}

.enable-forced-colors .inputWrapper_f08f8d[data-disabled=true] {
    background-color: Canvas;
    border-color: GrayText;
    opacity: 1
}

.scroller_f08f8d {
    box-sizing: border-box;
    cursor: text;
    height: calc(var(--custom-rich-text-area-rows)*var(--chat-markup-line-height) + var(--space-12)*2);
    overflow-y: auto;
    padding: var(--space-12);
    padding-inline-end: calc(var(--space-32) + var(--space-12))
}

.editorContainer_f08f8d,
.scroller_f08f8d {
    display: flex;
    flex-direction: column
}

.editorContainer_f08f8d {
    position: relative
}

.editor_f08f8d {
    flex: 1 0 auto
}

.staticToolbar_f08f8d {
    align-items: stretch;
    border-bottom: 1px solid var(--input-border-default);
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    display: flex;
    justify-content: space-between
}

.emojiButtonContainer_f08f8d {
    align-items: center;
    display: flex
}

.floatingEmojiButtonContainer_f08f8d {
    inset-inline-end: var(--space-12);
    position: absolute;
    top: var(--space-12);
    z-index: 1
}

.emojiButton_f08f8d {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--icon-strong);
    height: var(--space-32);
    transition: background-color 50ms ease-in, border-color 50ms ease-in, color 50ms ease-in;
    width: var(--space-32)
}

.emojiButton_f08f8d:hover {
    background-color: var(--control-icon-only-background-hover);
    border-color: var(--control-icon-only-border-hover);
    color: var(--control-icon-only-icon-hover);
    transition: background-color .15s ease-out, border-color .15s ease-out, color .15s ease-out
}

.emojiButton_f08f8d:active {
    background-color: var(--control-icon-only-background-active);
    border-color: var(--control-icon-only-border-active);
    color: var(--control-icon-only-icon-active)
}

.staticToolbar_f08f8d .emojiButton_f08f8d:hover {
    background-color: transparent;
    border-color: transparent
}

.staticToolbar_f08f8d .emojiButton_f08f8d:active {
    background-color: transparent;
    border-color: transparent
}

.enable-forced-colors .emojiButton_f08f8d:hover {
    border-color: Highlight
}
