.container_aea6af {
    align-items: center;
    background-color: var(--background-base-lowest);
    display: flex;
    height: 44px
}

.guildBoostingIcon_aea6af {
    color: var(--guild-boosting-pink);
    padding-inline: 12px 8px
}

.subscribeButton_aea6af {
    margin-inline: auto 12px
}

.notice_d37fb3 {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 4px;
    display: flex
}

.noticeWithoutRightPadding_d37fb3 {
    padding-block: 8px;
    padding-inline: 8px 0
}

.noticeWithRightPadding_d37fb3 {
    padding: 8px
}

.noticeLeft_d37fb3 {
    align-items: center;
    display: flex;
    flex-grow: 1
}

.icon_d37fb3 {
    flex-shrink: 0;
    height: 24px;
    margin-inline-end: 8px;
    width: 24px
}

.text_d37fb3 {
    flex: 1;
    margin-inline-end: 16px
}

.nitroPreviewUpsell_c8eb34 {
    border-radius: 5px 5px 0 0;
    padding-inline: 12px 0
}
