.imageWrapper_af017a {
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.clickableWrapper_af017a,
.loadingOverlay_af017a {
    height: 100%;
    width: 100%
}

.imageWrapperBackground_af017a {
    background: var(--opacity-black-4)
}

.imagePlaceholder_af017a {
    background: var(--background-gradient-chat, var(--background-base-low));
    display: block;
    position: absolute;
    top: 0;
    transition: none
}

.full-motion .imagePlaceholder_af017a {
    transition: opacity .2s ease
}

.imageErrorWrapper_af017a {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    justify-content: center;
    overflow: hidden;
    padding: var(--space-8) 0
}

.imageErrorIllustration_af017a {
    min-height: 0
}

.imageErrorIllustration_af017a>img {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 160px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.imageErrorText_af017a {
    flex-shrink: 0
}

.full-motion .imagePlaceholderFastFade_af017a {
    transition: opacity 50ms ease
}

.imagePlaceholderVisible_af017a {
    opacity: 1
}

.imageLoadingOverlay_af017a,
.imagePlaceholderHidden_af017a {
    opacity: 0;
    pointer-events: none
}

.imageLoadingOverlay_af017a {
    background-color: var(--opacity-black-48);
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    inset-inline-end: 0;
    margin: 4px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    top: 0;
    transition: none;
    width: 24px
}

.full-motion .imageLoadingOverlay_af017a {
    transition: opacity .2s ease
}

.imageLoadingOverlayVisible_af017a {
    opacity: 1;
    pointer-events: auto
}

.full-motion .imageLoadingOverlayVisible_af017a {
    transition: opacity .8s ease
}

.cornerLoadingSpinner_af017a {
    height: 100%;
    opacity: .75;
    width: 100%
}

.theme-dark .cornerLoadingSpinner_af017a circle,
.theme-light .cornerLoadingSpinner_af017a circle {
    stroke: var(--white)
}

.imageAccessory_af017a {
    inset-inline-start: 6px;
    position: absolute;
    top: 6px;
    z-index: 3
}

.imageZoom_af017a {
    cursor: nesw-resize;
    cursor: zoom-in
}

.clickable_af017a {
    cursor: pointer
}

.originalLink_af017a {
    inset: 0;
    position: absolute;
    z-index: 1
}

.imageClickable_af017a {
    border-radius: inherit
}

.background-opacity-low .imageWrapper_af017a,
.background-opacity-medium .imageWrapper_af017a {
    opacity: .6
}

.overlay-unlocked .imageWrapper_af017a {
    opacity: 1
}

.enable-forced-colors .originalLink_af017a {
    border: 2px solid ButtonText
}

.modalRoot_b824c5 {
    background-color: transparent !important;
    border: none !important;
    border-radius: 16px !important
}

.modalRootPortrait_b824c5 {
    height: calc(100vh - 160px);
    max-width: calc(100vw - 160px);
    min-width: 375px;
    width: round(up, calc((100vh - 160px + 2px - var(--custom-portrait-footer-height))*9/16), 1px)
}

.modalRootLandscape_b824c5 {
    min-width: 500px;
    width: round(up, min(calc(100vw - 110px), calc(177.77778vh - 551.11111px), 1900px), 1px)
}

.modalBody_b824c5 {
    border: 1px solid var(--border-subtle);
    border-radius: 16px;
    flex-direction: row;
    position: relative;
    width: 100%
}

.modalBg_b824c5,
.modalBody_b824c5 {
    display: flex;
    overflow: hidden
}

.modalBg_b824c5 {
    background-color: var(--background-scrim-lightbox);
    border-radius: 16px;
    flex-grow: 1
}

.modalContent_b824c5 {
    background-color: var(--background-base-lower);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.closeButton_b824c5 {
    inset-inline-end: 18px;
    position: absolute;
    top: 18px
}

.heading_b824c5 {
    margin-bottom: 4px
}

.bodyCopy_b824c5 {
    margin-bottom: 24px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.errorInput_b824c5 {
    border: 1px solid var(--background-feedback-critical) !important
}

.videoCont_b824c5 {
    align-items: center;
    background-color: #000;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    overflow: hidden;
    position: relative
}

.videoContInactive_b824c5 {
    cursor: pointer
}

.videoContInnerRelative_b824c5 {
    align-items: center;
    aspect-ratio: 16/9;
    display: flex;
    height: 100%;
    isolation: isolate;
    justify-content: center;
    position: relative;
    width: 100%
}

.modalRootPortrait_b824c5 .videoContInnerRelative_b824c5 {
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    display: flex
}

.videoContInnerRelativePortrait_b824c5 {
    aspect-ratio: 9/16
}

.videoContInnerRelativeLandscape_b824c5 {
    aspect-ratio: 16/9
}

.videoContOverlay_b824c5 {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7) 59.99%);
    display: inline-block;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@keyframes animate-fade-in_b824c5 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.hidden_b824c5 {
    display: none !important;
    height: 0 !important
}

.videoInner_b824c5 {
    background: transparent;
    border-radius: inherit;
    flex-shrink: 1;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    width: 100%
}

.videoInner_b824c5.videoInnerCover_b824c5 {
    -o-object-fit: cover;
    object-fit: cover
}

.videoInner_b824c5:-webkit-full-screen {
    z-index: 99999
}

.videoInner_b824c5::-webkit-media-controls-enclosure {
    display: none !important
}

.haloBackground_b824c5 {
    filter: blur(50px);
    height: 100%;
    inset: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    transform: scale(1.1);
    width: 100%
}

.videoFooterCont_b824c5 {
    bottom: var(--custom-footer-bottom);
    flex-shrink: 0;
    padding: 0;
    padding-inline: var(--custom-footer-horizontal-padding)
}

.videoFooterCont_b824c5,
.videoFooterContGradient_b824c5 {
    box-sizing: border-box;
    position: absolute;
    width: 100%
}

.videoFooterContGradient_b824c5 {
    background: linear-gradient(180deg, rgba(7, 7, 9, 0), rgba(7, 7, 9, .5) 27.95%, #070709 64.57%);
    bottom: 0;
    height: 113px;
    padding: 0;
    pointer-events: none
}

.videoControlsCont_b824c5 {
    box-sizing: border-box;
    width: 100%
}

.videoControlsCont_b824c5,
.videoControlsGroup_b824c5 {
    align-items: center;
    display: flex;
    height: 100%
}

.videoControlsGroup_b824c5 {
    gap: 16px
}

.videoControlsGroupMid_b824c5 {
    flex: 1;
    gap: 8px;
    margin-inline-start: 16px
}

.videoControlsGroupEnd_b824c5 {
    display: flex;
    justify-content: flex-end;
    margin-inline-start: auto;
    width: 200px
}

.videoControlsBtnCont_b824c5 {
    border-radius: 4px
}

.videoControlsBtn_b824c5 {
    cursor: pointer
}

.videoControlsBtn_b824c5:hover {
    opacity: 1
}

.videoControlsBtnContDisabled_b824c5 {
    cursor: not-allowed
}

.videoControlsBtnTooltip_b824c5 {
    align-items: center;
    display: flex;
    gap: 4px
}

.videoControlsBtnTooltipKeyCombo_b824c5 {
    transform: translateY(2px)
}

.volumeControlGroup_b824c5 {
    display: flex
}

.controlsBarItem_b824c5 {
    color: var(--interactive-text-active);
    opacity: .6
}

.controlsBarItemActive_b824c5 {
    opacity: 1
}

.durationTimeWrapper_b824c5 {
    flex: 0 0 auto;
    height: 16px;
    margin-inline-start: 3px
}

.durationTimeDisplay_b824c5,
.durationTimeSeparator_b824c5 {
    color: var(--white);
    display: inline;
    text-align: center
}

.durationTimeDisplay_b824c5 {
    font-variant-numeric: tabular-nums
}

.durationTimeSeparator_b824c5 {
    margin: 0 2px
}

.volumeSlider_b824c5 {
    cursor: pointer;
    margin-inline-start: 6px
}

.contentHeader_b824c5,
.volumeSlider_b824c5 {
    align-items: center;
    display: flex
}

.contentHeader_b824c5 {
    background-image: linear-gradient(90deg, rgba(205, 216, 255, .08) 23%, rgba(35, 36, 40, 0));
    flex-shrink: 0;
    height: 77px;
    padding: 4px 24px
}

.contentHeaderGameInfo_b824c5 {
    align-items: center;
    cursor: pointer;
    display: flex;
    min-width: 0;
    overflow: hidden;
    width: 100%
}

.contentHeaderLogotype_b824c5 {
    height: 32px;
    opacity: .9
}

.full-motion .accentOnHover_b824c5 {
    transition: transform .2s ease-in-out
}

.accentOnHover_b824c5:hover {
    opacity: 1
}

.full-motion .accentOnHover_b824c5:hover {
    transform: scale(1.05);
    transition: transform .35s cubic-bezier(.45, 3.03, .3, .81)
}

.transcriptOverlay_b824c5 {
    background-color: var(--opacity-black-68);
    height: 100%;
    inset-inline-start: 0;
    top: 0;
    width: 100%
}

.transcriptCont_b824c5,
.transcriptOverlay_b824c5 {
    animation-duration: .2s;
    animation-name: animate-fade-in_b824c5;
    position: absolute
}

.transcriptCont_b824c5 {
    align-items: flex-start;
    background-color: var(--background-base-lowest);
    border: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, .48));
    border-radius: 16px;
    bottom: var(--custom-transcript-bottom, 24px);
    display: flex;
    flex-direction: column;
    inset-inline-end: 24px;
    top: var(--custom-transcript-top, 24px);
    width: 363px
}

.transcriptContPortrait_b824c5 {
    inset-inline: 50% auto;
    transform: translateX(-50%)
}

.transcriptScroller_b824c5 {
    height: 100%;
    width: 100%
}

.transcriptBackBtn_b824c5 {
    cursor: pointer;
    height: 24px
}

.transcriptHeader_b824c5 {
    align-items: center;
    border-bottom: 1px solid var(--alpha-primary-500048, rgba(78, 80, 88, .48));
    color: var(--text-strong);
    gap: 12px;
    justify-content: space-between
}

.transcriptBody_b824c5,
.transcriptHeader_b824c5 {
    align-self: stretch;
    display: flex;
    padding: 12px 16px
}

.transcriptBody_b824c5 {
    align-items: flex-start;
    box-sizing: border-box;
    height: 100%
}

.transcriptBody_b824c5 p:first-of-type {
    margin-top: 0
}

.stillFrameImageCard_b824c5 {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none;
    width: 100%
}

.endScreenPanel_b824c5,
.stillFrameImageCard_b824c5 {
    animation-duration: .5s;
    animation-name: animate-fade-in_b824c5
}

.endScreenPanel_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: linear-gradient(90deg, hsla(226, 9%, 47%, .45) 34.5%, hsla(0, 0%, 59%, .45));
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    gap: 16px;
    justify-content: center;
    padding: 8px 16px;
    z-index: 1
}

.endScreenPanel_b824c5:focus-visible,
.endScreenPanel_b824c5:hover {
    box-shadow: 0 0 30px 0 rgba(220, 239, 255, .25)
}

.endScreenPanelInner_b824c5 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.endScreenPanelTextCont_b824c5 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.endScreenPanelTextTitle_b824c5 {
    color: var(--primary-130)
}

.endScreenPanelTextSubtitle_b824c5 {
    color: var(--primary-230)
}

.endScreenPanelRight_b824c5 {
    bottom: 82px;
    inset-inline-end: 22px;
    position: absolute
}

.endScreenIcon_b824c5 {
    display: flex
}

.verticalDivider_b824c5 {
    margin: 0 16px;
    width: 2px
}

.loadingSpinner_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(15.85px);
    backdrop-filter: blur(15.85px);
    background: rgba(0, 0, 0, .45);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    display: flex;
    inset-inline-start: 32px;
    justify-content: center;
    padding: 8px;
    position: absolute;
    top: 32px
}

.full-motion .loadingSpinner_b824c5 {
    animation: animate-fade-in_b824c5 1s ease-in forwards
}

.loadingSpinner_b824c5.centered_b824c5 {
    inset-inline-start: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.captionContainer_b824c5 {
    bottom: 16px;
    inset-inline: 0;
    padding: 4px;
    position: absolute
}

.captionText_b824c5 {
    text-align: center;
    text-shadow: 0 2px 7px #000
}

.playPausePopCont_b824c5 {
    background-color: var(--opacity-black-60);
    border-radius: 50%;
    color: var(--white);
    height: 24px;
    inset-inline-start: 50%;
    opacity: 0;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px
}

.playPausePopCont_b824c5 .playPausePopIcon_b824c5 {
    height: 100%;
    width: 100%
}

.full-motion .pause_b824c5,
.full-motion .play_b824c5 {
    animation: playPauseAnimation_b824c5 var(--custom-play-pause-pop-ms, 1s)
}

@keyframes playPauseAnimation_b824c5 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1)
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5)
    }
}

.transcriptBodySpinner_b824c5 {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%
}

.videoOverlayMessage_b824c5 {
    -webkit-backdrop-filter: blur(15.85px);
    backdrop-filter: blur(15.85px);
    background-color: var(--background-base-low);
    border-radius: 12px;
    inset-inline-start: 50%;
    max-width: 475px;
    opacity: .9;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

:-webkit-full-screen .endScreenPanel_b824c5:focus-visible,
:-webkit-full-screen .videoControlsBtnCont_b824c5:focus-visible {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .endScreenPanel_b824c5:focus-visible,
:fullscreen .videoControlsBtnCont_b824c5:focus-visible {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:-webkit-full-screen .volumeSlider_b824c5:focus-within {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .volumeSlider_b824c5:focus-within {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

.closeModalBtnWrapper_b824c5 {
    inset-inline-end: max(calc(-50vw + 50% + 8px), calc(max(40px, (100vw - 100%) / 2 - 80px)*-1));
    position: absolute;
    top: calc(-50vh - -50% - -80px);
    z-index: 1
}

.inactivePoster_b824c5 {
    display: block;
    height: 100%;
    width: 100%
}

.inactivePlayButton_b824c5 {
    background-color: var(--opacity-black-60);
    border-radius: 24px;
    color: var(--white);
    left: 50%;
    opacity: .6;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.full-motion .inactivePlayButton_b824c5 {
    transition: opacity .25s
}

.videoCont_b824c5:hover .inactivePlayButton_b824c5 {
    opacity: .8
}

.inactivePlayButtonIcon_b824c5 {
    display: block;
    height: 24px;
    margin-inline: 1px -1px;
    width: 24px
}

.floatingShareButtonContainer_b824c5 {
    align-items: center;
    display: flex;
    gap: 8px;
    inset-inline-end: 16px;
    position: absolute;
    top: 16px
}

.overlayContainer_b824c5 {
    align-items: flex-start;
    display: flex;
    inset-inline-end: 0;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1
}

.endScreenOverlay_b824c5,
.overlayContainer_b824c5 {
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.endScreenOverlay_b824c5 {
    background: rgba(25, 26, 28, .75);
    height: 100%;
    width: 100%
}

.endScreenImageBackground_b824c5 {
    filter: blur(50px);
    -o-object-fit: contain;
    object-fit: contain;
    pointer-events: none
}

.endScreenContainer_b824c5,
.endScreenImageBackground_b824c5 {
    animation-duration: .5s;
    animation-name: animate-fade-in_b824c5;
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.endScreenContainer_b824c5 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 10px 10px 60px
}

.endScreenContainerPortrait_b824c5 {
    align-items: center;
    flex-direction: column
}

.endScreenCard_b824c5 {
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 12px;
    width: 53%
}

.endScreenCardPortrait_b824c5 {
    width: 90%
}

.endScreenCtaContainer_b824c5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 269px
}

.endScreenCtaContainerPortrait_b824c5 {
    align-items: center
}

.endScreenCtaTitleContainer_b824c5 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.endScreenCtaContainerPortrait_b824c5 .endScreenCtaTitleContainer_b824c5 {
    align-items: center
}

.endScreenCtaBtnTitle_b824c5,
.endScreenCtaTitle_b824c5 {
    color: var(--primary-130)
}

.endScreenCtaSubtitle_b824c5 {
    color: var(--primary-230)
}

.endScreenCtaBtn_b824c5 {
    align-items: center;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: hsla(226, 9%, 47%, .45);
    border: 1px solid hsla(0, 0%, 100%, .05);
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    gap: 16px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 16px;
    position: relative
}

.endScreenCtaBtn_b824c5:focus-visible,
.endScreenCtaBtn_b824c5:hover {
    box-shadow: 0 0 30px 0 rgba(220, 239, 255, .25)
}

@keyframes shine_b824c5 {
    0% {
        inset-inline-start: -50%
    }

    to {
        inset-inline-start: 200%
    }
}

.full-motion .endScreenCtaBtn_b824c5:after {
    animation-delay: .75s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: shine_b824c5;
    animation-timing-function: ease-in-out;
    aspect-ratio: 1;
    background-color: #9497a0;
    content: "";
    filter: blur(22.45px);
    height: 100%;
    inset-inline-start: -50%;
    position: absolute
}

@media (min-width:1400px) {
    .endScreenCtaTitle_b824c5 {
        font-size: 20px
    }

    .endScreenCtaSubtitle_b824c5 {
        font-size: 16px
    }

    .endScreenCtaBtnTitle_b824c5 {
        font-size: 18px
    }
}

.timelineContainer__68788 {
    height: var(--custom-timeline-height);
    position: relative;
    width: 100%
}

.progressToPlayheadBar__68788 {
    background: var(--custom-timeline-fill-bg, var(--white));
    border-radius: 99px;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform-origin: left;
    width: 100%;
    will-change: transform
}

.cont__68788,
.hitboxArea__68788 {
    position: relative;
    width: 100%
}

.hitboxArea__68788 {
    align-items: center;
    display: flex;
    height: var(--custom-initial-timeline-height)
}

.interactionEnabled__68788 {
    cursor: pointer
}

.interactionEnabled__68788:before {
    content: "";
    height: 30px;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.progress__68788 {
    overflow: hidden;
    width: 100%
}

:-webkit-full-screen .hitboxArea__68788:focus-visible .progress__68788 {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

:fullscreen .hitboxArea__68788:focus-visible .progress__68788 {
    outline: 4px solid var(--blue-345);
    outline-offset: 2px
}

.defaultProgressToPlayheadTheme__68788 {
    --custom-timeline-fill-bg: var(--white);
    --custom-timeline-glow-shadow: 0 0 27.8px 2px var(--white)
}

.bufferedBar__68788 {
    background-color: var(--neutral-51);
    width: 100%
}

.bufferedBar__68788,
.seekableBar__68788 {
    height: var(--custom-timeline-height);
    position: absolute
}

.seekableBar__68788 {
    background-color: var(--neutral-22);
    inset-inline-start: 0;
    opacity: 0
}

.timeDisplay__68788 {
    pointer-events: none;
    position: absolute;
    text-shadow: 0 0 2px var(--black);
    top: 50%;
    transform: translate(-50%, calc(-100% - 10px))
}

.playhead__68788 {
    background-color: var(--white);
    border-radius: 50%;
    height: 12px;
    position: absolute;
    transform: translateX(-50%);
    width: 12px
}

.segmentContainer__68788 {
    background-color: var(--custom-segment-bg, var(--progressbar-track-background));
    overflow: visible
}

.segmentContainer__68788,
.segmentMask__68788 {
    border-radius: var(--custom-r-left) var(--custom-r-right) var(--custom-r-right) var(--custom-r-left);
    content: "";
    height: 100%;
    position: absolute;
    top: 0
}

.segmentMask__68788 {
    inset-inline-start: 0;
    overflow: hidden;
    width: 100%
}

.segmentPanningLayer__68788 {
    height: 100%;
    position: relative;
    width: 100%
}

.progressToPlayheadGlowBar__68788 {
    border-radius: 99px;
    box-shadow: var(--custom-timeline-glow-shadow);
    height: 100%;
    mix-blend-mode: var(--custom-timeline-glow-blend-mode);
    pointer-events: none;
    position: absolute;
    top: 0
}

.image__7d7b6 {
    border-radius: inherit;
    height: 100%;
    inset-inline-start: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.nitroRewardTileAssetContainer_a92e89 {
    background-image: linear-gradient(135deg, var(--premium-tier-1-dark-blue-for-gradients) 20%, var(--premium-perk-pink));
    display: flex;
    place-content: center;
    text-align: center
}

.nitroRewardTileAsset_a92e89 {
    filter: drop-shadow(0 1px 2px rgb(0 0 0/.4));
    height: auto;
    margin-top: 2px;
    margin-inline-end: 10%;
    width: 70%
}

.questRewardTile__28141 {
    border-radius: 4px;
    box-shadow: 6px 12px 32px rgba(0, 0, 0, .24);
    height: 64px;
    position: relative;
    width: 64px
}

.fullWidth__28141 {
    height: 100%;
    width: 100%
}

.rewardHighlight__28141 {
    border-radius: 8px;
    overflow: hidden
}

.rewardHighlight__28141:after {
    border: 1px solid var(--opacity-white-16);
    border-radius: inherit
}

.borderOverlay__28141:before,
.rewardHighlight__28141:after {
    box-sizing: border-box;
    content: "";
    height: 100%;
    inset-inline-start: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.borderOverlay__28141:before {
    border: 2px solid var(--white);
    border-radius: inherit;
    -webkit-mask-image: linear-gradient(-45deg, transparent 50%, #000);
    mask-image: linear-gradient(-45deg, transparent 50%, #000);
    z-index: 1
}

.questRewardTileInteractive__28141 {
    cursor: pointer
}

.questRewardTileAsset__28141 {
    border-radius: inherit;
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.questRewardTileAbsolutePosition__28141 {
    position: absolute
}

.questRewardTileAssetStatic__28141 {
    pointer-events: none
}

.questRewardTileDetailsLearnMore__28141 {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    border-radius: inherit;
    bottom: 0;
    display: flex;
    flex-direction: column;
    inset-inline: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .125s;
    z-index: 0
}

.questRewardTileDetailsLearnMore__28141 p {
    flex: 0 0 auto;
    margin: 0;
    width: 100%
}

.questRewardTile__28141:focus .questRewardTileDetailsLearnMore__28141,
.questRewardTile__28141:hover .questRewardTileDetailsLearnMore__28141 {
    opacity: 1
}

.hideLearnMore__28141 {
    cursor: default
}

@keyframes Shine__28141 {
    0% {
        transform: translate3d(-100%, 0, 0)
    }

    to {
        transform: translate3d(210%, 0, 0)
    }
}

.shine__28141 {
    border-radius: inherit;
    color: var(--opacity-white-8);
    height: 100%;
    inset-inline-start: 0;
    pointer-events: none;
    top: 0;
    width: 100%
}

.reduce-motion .shine__28141 {
    opacity: 0
}

.full-motion .shine__28141 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: Shine__28141;
    animation-timing-function: ease-in-out
}

.imageVideoOverlay__28141 {
    border-radius: inherit;
    height: 100%;
    inset-inline-start: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.rewardIndicatorContainer_cc3943 {
    --custom-stroke-width: 3px;
    align-items: center;
    background-color: var(--progressbar-track-background);
    border-radius: 50%;
    display: flex;
    height: var(--custom-indicator-size);
    justify-content: center;
    padding: var(--custom-stroke-width);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--custom-indicator-size);
    will-change: transform
}

.rewardIndicatorContainerGreenFill_cc3943 {
    --custom-bottom-layer-color: hsla(0, 0%, 100%, .4);
    --custom-transparent-bottom-color: hsla(0, 0%, 100%, 0);
    --custom-top-layer-color: rgba(98, 196, 101, .75);
    --custom-transparent-top-color: rgba(87, 188, 90, 0);
    background-image: conic-gradient(from 270deg at 50% 50%, var(--custom-top-layer-color) calc(var(--custom-indicator-fill)*1.8deg), var(--custom-transparent-top-color) calc(var(--custom-indicator-fill)*1.8deg), var(--custom-transparent-top-color) calc(1turn - var(--custom-indicator-fill)*1.8deg), var(--custom-top-layer-color) calc(1turn - var(--custom-indicator-fill)*1.8deg)), conic-gradient(from 270deg at 50% 50%, var(--custom-bottom-layer-color) calc(var(--custom-indicator-fill)*1.8deg), var(--custom-transparent-bottom-color) calc(var(--custom-indicator-fill)*1.8deg), var(--custom-transparent-bottom-color) calc(1turn - var(--custom-indicator-fill)*1.8deg), var(--custom-bottom-layer-color) calc(1turn - var(--custom-indicator-fill)*1.8deg))
}

.rewardIndicatorContainerWhiteFill_cc3943 {
    background-image: conic-gradient(from 270deg at 50% 50%, var(--white) calc(var(--custom-indicator-fill)*1.8deg), transparent calc(var(--custom-indicator-fill)*1.8deg), transparent calc(1turn - var(--custom-indicator-fill)*1.8deg), var(--white) calc(1turn - var(--custom-indicator-fill)*1.8deg))
}

.rewardIndicatorContainer_cc3943:after {
    background-color: var(--black);
    content: ""
}

.rewardIconWrapper_cc3943,
.rewardIndicatorContainer_cc3943:after {
    border-radius: 50%;
    inset: var(--custom-stroke-width);
    position: absolute
}

.rewardIconWrapper_cc3943 {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2
}

.rewardTooltip_cc3943 {
    align-items: center;
    background: rgba(0, 0, 0, .4);
    border-radius: 99px;
    bottom: calc(100% + 6px);
    display: flex;
    gap: 10px;
    inset-inline-start: 50%;
    opacity: 0;
    padding: 8px 16px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity .15s ease-in-out;
    white-space: nowrap;
    z-index: 10
}

.rewardIndicatorContainer_cc3943:has(:focus-visible) .rewardTooltip_cc3943,
.rewardIndicatorContainer_cc3943:hover .rewardTooltip_cc3943 {
    opacity: 1
}

.rewardTooltipDivider_cc3943 {
    background: hsla(0, 0%, 100%, .12);
    height: 10px;
    width: 2px
}

.questGreen__3ea4b {
    --custom-timeline-fill-bg: linear-gradient(90deg, #f5fef6, #d1f9d3);
    --custom-timeline-glow-shadow: -2px 0 12px 2px rgba(18, 201, 25, .8), 0 0 33px 2px #fff
}

.questWhite__3ea4b {
    --custom-timeline-fill-bg: var(--white);
    --custom-timeline-glow-blend-mode: soft-light;
    --custom-timeline-glow-shadow: -2px 0 14px 3px transparent, -5px 0 22px 0 transparent, 0 0 27.8px 1px #fff
}

.overlayPadding__58e02 {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 16px;
    pointer-events: auto
}

.transcriptPanel__58e02 {
    --custom-transcript-top: 80px;
    --custom-transcript-bottom: 36px
}

.helper_fd2e49 {
    align-items: center;
    background: var(--background-base-lowest);
    border: 1px solid hsla(0, 0%, 100%, .04);
    border-radius: 8px;
    box-shadow: var(--shadow-low);
    display: flex;
    flex-direction: row;
    padding: 12px
}

.infoFilledIcon_fd2e49 {
    color: var(--text-default);
    margin-inline-end: 8px
}

.questHeading_e40371 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    opacity: .9
}

.contentFooter_e40371 {
    box-sizing: border-box;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 16px var(--custom-footer-horizontal-padding);
    width: 100%
}

.contentFooter_e40371,
.contentFooterButtonCont_e40371 {
    align-items: center;
    display: flex;
    gap: 12px
}

.contentFooterButtonCont_e40371 {
    flex-direction: row;
    justify-content: flex-end
}

.claimBtn_e40371,
.portraitCtaBtn_e40371 {
    margin-top: 0 !important
}

.portraitCtaBtnWrapper_e40371 {
    flex: 1
}

.orbClaimCopy_e40371 {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 3px
}

.dotSpacer_e40371 {
    background-color: var(--border-strong);
    border-radius: 50%;
    display: inline-flex;
    flex-shrink: 0;
    height: 4px;
    margin-inline: 2px;
    vertical-align: middle;
    width: 4px
}

.dotSpacerPortrait_e40371 {
    margin-inline-end: 4px;
    margin-inline-start: 0
}

.adDetailsTextPrimary_e40371 {
    display: flex;
    flex-shrink: 0
}

.adDetailsTextPrimaryPortrait_e40371 {
    display: inline-flex;
    vertical-align: middle
}

.addFourPxMarginRight_e40371 {
    margin-inline-end: 4px
}

.adDetailsTextSecondary_e40371 {
    flex-shrink: 1;
    min-width: 0
}

.adDetailsTextSecondaryPortrait_e40371 {
    display: inline;
    vertical-align: middle
}

.contentHeaderGameInfoHoverable_e40371 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 4px;
    padding-inline: 10px;
    padding-bottom: 4px;
    padding-inline-start: 8px
}

.contentHeaderGameInfoHoverable_e40371:hover {
    background-color: var(--background-mod-subtle);
    border-radius: 10px
}

.contentHeaderGameInfoHoverableExpired_e40371 {
    margin-top: -4px;
    margin-inline: -10px;
    margin-bottom: -4px;
    margin-inline-start: -8px
}

.portraitCtaBtnWrapper_e40371 {
    min-width: 0
}

.contentFooterPortrait_e40371 {
    align-items: center;
    background-color: var(--background-base-lower);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 16px var(--custom-footer-horizontal-padding)
}

.portraitContentRow_e40371 {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    width: 100%
}

.contentFooterAdInfo_e40371 {
    align-items: center;
    gap: 8px;
    justify-content: flex-start
}

.adInfoClickable_e40371,
.contentFooterAdInfo_e40371 {
    display: flex;
    min-width: 0
}

.portraitButtonsContainer_e40371 {
    display: flex;
    gap: 12px;
    width: 100%
}

.portraitButtonRow_e40371 {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 8px;
    width: 100%
}

.contentFooterAdDetailedInfo_e40371 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%
}

.contentFooterAdDetailedInfoPortrait_e40371 {
    display: inline
}

.outer__146e2 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2
}

.progressBar__146e2 {
    overflow: visible;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    shape-rendering: geometricPrecision
}

.progress__146e2 {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset .35s
}

.inner__146e2 {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    width: 100%
}

.coverContent__146e2 {
    border-radius: 50%;
    inset: 0;
    position: absolute;
    z-index: 999
}

.progressTextWrapper__146e2 {
    align-items: center;
    display: flex;
    justify-content: center
}

.progressTextOverlay__146e2 {
    background-color: var(--background-base-lowest);
    opacity: .75;
    z-index: 1
}

.progressText__146e2 {
    z-index: 2
}

.progressWrapper__32661 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    position: relative
}

.confetti__32661 {
    inset: 0;
    margin: auto;
    position: absolute;
    transform: scale(2);
    z-index: 1
}

.progressCont__32661 {
    display: flex;
    flex-direction: column;
    margin-inline-start: auto
}
