.imagesContainer__0efd3 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.appIconContainer__0efd3 {
    border-color: var(--opacity-24);
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    transform: rotate(-12.41deg)
}

.questIcon__0efd3 {
    border-radius: calc(var(--radius-xl) - 1px);
    height: 105px;
    width: 105px
}

.rewardTileContainer__0efd3 {
    border-color: var(--opacity-24);
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    transform: translateX(-5px) rotate(7.81deg)
}
