.scroller__28fdc {
    gap: 12px;
    margin-inline-start: -12px
}

.friendsLoadingItem__28fdc {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-block: 1px;
    margin-inline: 8px 0;
    padding: 4px
}

.friendsLoadingItem__28fdc>:first-child {
    border-radius: var(--radius-round);
    height: 40px;
    margin: 0
}

.guildsLoadingItem__28fdc {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-block: 1px;
    margin-inline: 8px 0;
    padding: 4px
}

.guildsLoadingItem__28fdc>:first-child {
    border-radius: var(--radius-lg);
    height: 40px;
    margin: 0
}
