.catalogBanner__3f82e {
    border-radius: var(--radius-xxl);
    height: 180px;
    overflow: hidden;
    pointer-events: none;
    position: relative
}

.catalogBanner__3f82e.riveBanner__3f82e {
    pointer-events: auto
}

.animationAsset__3f82e,
.catalogBannerImage__3f82e {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
    width: 100%
}

.animationAsset__3f82e {
    inset-inline-start: 0;
    position: absolute;
    top: 0
}

.limitedTimeBadge__3f82e {
    inset-inline-end: 20px;
    position: absolute;
    top: 16px
}

@keyframes pulse_e4f643 {
    0% {
        background: var(--background-base-lower)
    }

    30% {
        background: var(--background-base-low)
    }

    70% {
        background: var(--background-base-low)
    }

    to {
        background: var(--background-base-lower)
    }
}

.full-motion .pulseAnimation_e4f643 {
    animation: pulse_e4f643 2s ease-in-out infinite alternate;
    animation-fill-mode: backwards
}

.full-motion .pulseAnimation_e4f643:nth-of-type(5n+1) {
    animation-delay: 0s
}

.full-motion .pulseAnimation_e4f643:nth-of-type(5n+2) {
    animation-delay: .4s
}

.full-motion .pulseAnimation_e4f643:nth-of-type(5n+3) {
    animation-delay: .8s
}

.full-motion .pulseAnimation_e4f643:nth-of-type(5n+4) {
    animation-delay: 1.2s
}

.full-motion .pulseAnimation_e4f643:nth-of-type(5n+5) {
    animation-delay: 1.6s
}

.productSkeletonCardContainer_e4f643 {
    cursor: default
}

.productSkeletonContent_e4f643 {
    align-items: flex-start;
    gap: var(--space-8);
    justify-content: flex-end;
    padding: var(--space-16)
}

.productSkeletonText_e4f643 {
    background-color: var(--icon-muted);
    border-radius: var(--radius-xs);
    height: var(--space-24);
    opacity: .1
}

.productSkeletonTitle_e4f643 {
    width: 60%
}

.productSkeletonDescription_e4f643 {
    width: 40%
}
