@value minColumnWidth: 460px;

.standardSidebarView__23e6b {
    background: var(--background-base-lowest);
    display: flex;
    inset: 0;
    position: absolute;
    z-index: 101;
    --custom-sidebar-scroller-margin-start: 40px;
    --custom-sidebar-scroller-margin-end: 97px;
    --custom-sidebar-scroller-max-width: 660px;
    --custom-sidebar-scroller-min-width: 404px
}

.standardSidebarView__23e6b,
.standardSidebarView__23e6b * {
    box-sizing: border-box
}

.standardSidebarView__23e6b.withUpsell__23e6b {
    top: 44px
}

.platform-win .standardSidebarView__23e6b {
    top: 22px
}

.sidebarRegion__23e6b {
    display: flex;
    flex: 1 0 var(--custom-standard-sidebar-view-sidebar-total-width);
    justify-content: flex-end;
    min-height: 100%;
    z-index: 1
}

.sidebarRegionScroller__23e6b {
    align-items: flex-start;
    background: var(--background-base-lowest);
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-end
}

.sidebar__23e6b {
    padding-block: 60px;
    width: var(--custom-standard-sidebar-view-sidebar-total-width)
}

.mobileSidebar__23e6b,
.sidebar__23e6b {
    padding-inline: var(--custom-standard-sidebar-view-standard-padding) var(--custom-standard-sidebar-view-sidebar-content-scrollbar-padding)
}

.mobileSidebar__23e6b {
    padding-block: 10px 60px;
    width: 100%
}

.contentRegionScroller__23e6b {
    align-items: flex-start;
    background-color: var(--background-base-low);
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden
}

.contentRegionScroller__23e6b .toolsContainer__23e6b {
    margin-inline-end: 21px
}

.contentRegionScroller__23e6b .tools__23e6b {
    position: fixed
}

.contentRegionHiddenSidebar__23e6b {
    justify-content: center
}

.contentRegionShownSidebar__23e6b {
    justify-content: flex-start
}

.contentRegion__23e6b {
    align-items: flex-start;
    background: var(--background-base-low);
    display: flex;
    flex: 1 1 800px;
    position: relative
}

.contentColumn__23e6b,
.customColumn__23e6b {
    flex: 1 1 auto;
    max-width: 740px;
    min-height: 100%;
    min-width: 460px
}

.contentColumnWide__23e6b {
    max-width: 740px;
    padding-block: 60px 80px;
    padding-inline: 40px 10px
}

.contentColumnDefault__23e6b {
    padding: 60px 40px 80px;
    position: relative
}

.contentColumnMinimal__23e6b {
    padding-inline-end: 40px
}

.contentColumnScrollable__23e6b {
    flex: 1 1 auto;
    min-width: 460px;
    position: relative
}

.customHeader__23e6b {
    padding-top: 60px
}

.customColumn__23e6b {
    padding-bottom: 0
}

.customContainer__23e6b {
    inset: 0;
    overflow: hidden;
    position: absolute
}

.customContent__23e6b {
    margin-inline: var(--custom-sidebar-scroller-margin-start) var(--custom-sidebar-scroller-margin-end);
    max-width: var(--custom-sidebar-scroller-max-width);
    min-width: var(--custom-sidebar-scroller-min-width)
}

.customScroller__23e6b {
    box-sizing: border-box;
    display: block;
    position: static
}

.customScroller__23e6b>div {
    margin-inline: var(--custom-sidebar-scroller-margin-start) var(--custom-sidebar-scroller-margin-end);
    max-width: var(--custom-sidebar-scroller-max-width);
    min-width: var(--custom-sidebar-scroller-min-width)
}

.noticeRegion__23e6b {
    bottom: 0;
    inset-inline: 0 71px;
    max-width: 740px;
    padding: 0 var(--custom-standard-sidebar-view-standard-padding) var(--custom-standard-sidebar-view-standard-padding);
    position: absolute;
    z-index: 2
}

.noticeRegionHiddenSidebar__23e6b {
    margin: 0 auto
}

.toolsContainer__23e6b {
    flex: 0 0 36px;
    margin-inline-end: 35px;
    padding-top: 60px;
    position: relative;
    width: 60px
}

.mobileSidebarTools__23e6b {
    margin-inline-end: 0
}

@media (max-width:780px) {
    .sidebarRegion__23e6b {
        flex-basis: 30%;
        flex-shrink: 1;
        min-width: 0
    }

    .contentRegion__23e6b {
        flex-basis: 70%;
        flex-shrink: 1;
        min-width: 0
    }

    .sidebar__23e6b,
    .sidebarRegionScroller__23e6b {
        max-width: 100%;
        width: 100%
    }

    .contentColumn__23e6b,
    .contentColumnScrollable__23e6b,
    .customColumn__23e6b {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: 100% !important;
        min-width: unset
    }

    .contentRegionScroller__23e6b,
    .customScroller__23e6b {
        overflow: auto !important
    }

    .customContainer__23e6b {
        max-width: 100%;
        position: static;
        width: 100%
    }

    .toolsContainer__23e6b {
        inset-inline-end: 0;
        margin-inline-end: 0 !important;
        position: absolute;
        width: 36px
    }
}

.theme-light .customContainer__23e6b:before {
    border-bottom: 1px solid var(--opacity-black-8);
    box-shadow: 0 1px 4px var(--opacity-black-8)
}

.theme-dark .customContainer__23e6b:before {
    border-bottom: 1px solid var(--opacity-black-20);
    box-shadow: 0 1px 4px var(--opacity-black-20)
}

.flexFullWidth__23e6b {
    flex: 1 0 100%
}

.hidden__23e6b {
    display: none
}

.mobileContent__23e6b {
    box-sizing: border-box;
    min-width: unset;
    padding-top: 10px
}

.mobileContentHeader__23e6b {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px
}

.mobileContentHeader__23e6b.hideHamburger__23e6b {
    justify-content: flex-end
}

.mobileToolsContainer__23e6b {
    padding-top: 10px
}

.mobileToolsContainer__23e6b.closeIconOnly__23e6b {
    margin-inline-end: 0
}

.mobileToolsContainer__23e6b.isMobileAndroid__23e6b {
    position: absolute;
    z-index: 1000
}

.mobileToolsCloseIcon__23e6b>div {
    flex: 0 0 24px;
    height: 24px;
    width: 24px
}

.mobileSidebarHeader__23e6b {
    display: flex;
    justify-content: flex-end
}

&.platform-win .contentRegionScroller__23e6b {
    height: calc(100% - var(--custom-app-top-bar-height));
    margin-top: var(--custom-app-top-bar-height)
}
