@value searchBarWidth 240px;
@value searchBarIcon 24px;

.search__1ac1c {
    display: flex;
    justify-content: flex-end
}

.searchBar__1ac1c {
    flex: 1 1 240px;
    max-width: 240px;
    min-width: 240px
}

.platform-osx .searchBar__1ac1c {
    -webkit-app-region: no-drag
}

.searchIcon__1ac1c {
    cursor: pointer;
    flex: 0 1 24px;
    max-width: 24px;
    min-width: 24px
}

.searchFloating__1ac1c {
    inset-inline-end: 16px;
    position: absolute
}

@value headerBarHeight 60px;
@value imageHeight 288px;

.container_e9ef78 {
    display: grid;
    grid-template-areas: "layer";
    grid-template-columns: 100%;
    grid-template-rows: 348px;
    justify-items: center
}

.content_e9ef78 {
    align-items: center;
    display: flex;
    grid-area: layer;
    margin-top: 60px;
    max-width: 1300px;
    width: 100%;
    z-index: 1
}

.textContainer_e9ef78 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 32px
}

.buttonContainer_e9ef78 {
    display: flex;
    margin-top: 16px;
    max-height: 44px;
    min-height: 44px
}

.title_e9ef78 {
    max-width: 740px
}

.title_e9ef78 p {
    margin: 0
}

.uppercase_e9ef78 {
    text-transform: uppercase
}

.description_e9ef78 {
    margin-top: 16px;
    max-width: 600px
}

.description_e9ef78 p {
    margin: 0
}

.betaTag_e9ef78 {
    display: inline-block;
    margin-inline-start: 8px;
    vertical-align: middle
}

.theme-dark .gradient_e9ef78 {
    background: radial-gradient(130.66% 324.98% at -3.95% 0, #2f72c1 0, rgba(37, 34, 154, .8) 35.73%, rgba(25, 23, 92, 0) 100%), #000
}

.theme-dark .gradient_e9ef78.clientThemes_e9ef78 {
    background: none
}

.theme-dark .gradient_e9ef78.clientThemes_e9ef78:after {
    background-color: var(--border-strong);
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%
}

.theme-dark .gradientBackground_e9ef78 {
    opacity: .7
}

.theme-dark .gradientBackground_e9ef78.clientThemes_e9ef78 {
    opacity: 1
}

.theme-light .gradient_e9ef78 {
    background: radial-gradient(122.23% 351.84% at -4.04% 0, #eff8ff 0, #d7dcff 30.28%, #fdfdff 100%), #fff
}

.theme-light .gradient_e9ef78.clientThemes_e9ef78 {
    background: none
}

.theme-light .gradient_e9ef78.clientThemes_e9ef78:after {
    background-color: var(--border-strong);
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%
}

.theme-light .gradientBackground_e9ef78 {
    opacity: .8
}

.theme-light .gradientBackground_e9ef78.clientThemes_e9ef78 {
    opacity: 1
}

.gradient_e9ef78,
.gradientBackground_e9ef78 {
    height: 100%;
    width: 100%
}

.gradientBackground_e9ef78 {
    grid-area: layer
}

.contentSection_b6bcee {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1
}

.content_b6bcee {
    height: 100%;
    max-width: 1300px;
    width: 100%
}

.scroller__23746 {
    background: var(--background-gradient-chat, var(--background-base-lower));
    display: flex;
    flex: 1;
    flex-direction: column
}

.container__2abba {
    align-items: center;
    flex: 1;
    flex-direction: column
}

.container__2abba,
.imageContainer__2abba {
    display: flex;
    justify-content: center
}

.imageContainer__2abba {
    margin-bottom: 16px;
    width: 100%
}

.image__2abba {
    max-width: 500px;
    min-width: min(100%, 300px);
    width: 40%;
    -webkit-user-drag: none
}

.full-motion .image__2abba {
    animation: wiggling__2abba 2s linear infinite;
    animation-play-state: paused
}

.full-motion .image__2abba:hover {
    animation-play-state: running
}

.header__2abba {
    margin-bottom: 8px;
    text-align: center
}

@keyframes wiggling__2abba {
    0% {
        animation-timing-function: linear;
        transform: rotate(0deg)
    }

    7% {
        animation-timing-function: linear;
        transform: rotate(-16deg)
    }

    20% {
        animation-timing-function: ease-in-out;
        transform: rotate(14deg)
    }

    32% {
        animation-timing-function: ease-in-out;
        transform: rotate(-16deg)
    }

    44% {
        animation-timing-function: ease-in-out;
        transform: rotate(12deg)
    }

    56% {
        animation-timing-function: ease-in-out;
        transform: rotate(-10deg)
    }

    68% {
        animation-timing-function: ease-in-out;
        transform: rotate(14deg)
    }

    81% {
        animation-timing-function: ease-in-out;
        transform: rotate(-16deg)
    }

    93% {
        animation-timing-function: linear;
        transform: rotate(14deg)
    }

    to {
        animation-timing-function: linear;
        transform: rotate(0deg)
    }
}
