.container__664ff {
    background-color: var(--background-base-low);
    border-end-start-radius: 8px;
    border-start-start-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 320px
}

.container__664ff.chatOpen__664ff {
    border-end-end-radius: 8px;
    border-start-end-radius: 8px
}

.headerContainer__664ff {
    border-start-start-radius: 8px;
    box-shadow: var(--elevation-low)
}

.headerContainer__664ff.chatOpen__664ff {
    border-start-end-radius: 8px
}

.headerTitle__664ff {
    margin-inline-start: 12px
}

.headerClose__664ff {
    color: var(--interactive-text-default);
    cursor: pointer;
    margin-inline-start: auto
}

.headerClose__664ff:hover {
    color: var(--interactive-text-hover)
}

.headerClose__664ff:active {
    color: var(--interactive-text-active)
}

.contentContainer__664ff {
    padding-inline: 16px
}

.selfSpeakerContainer__664ff {
    align-items: center;
    color: var(--interactive-text-default);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-top: 16px
}

.selfSpeakerContainer__664ff:hover {
    color: var(--interactive-text-hover)
}

.selfSpeakerContainer__664ff:active {
    color: var(--interactive-text-active)
}

.buttonContainer__664ff {
    display: flex;
    gap: 8px
}

.selfSpeakerButton__664ff {
    background-color: var(--background-base-lowest)
}

.selfSpeakerText__664ff {
    margin-inline-start: 12px
}

.listTitle__664ff {
    padding-top: 24px;
    text-transform: uppercase
}

.participantRowContainer__664ff {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 16px
}

.participantMemberContainer__664ff {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    margin-inline-end: auto;
    overflow: hidden
}

.participantTextContainer__664ff {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-inline: 16px 8px;
    min-width: 1px
}

.participantAvatar__664ff {
    flex-shrink: 0
}

.participantName__664ff {
    color: var(--text-strong);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.emptyStateContainer__664ff {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    padding-top: 32px;
    text-align: center
}

.emptyStateTitle__664ff {
    margin-top: 16px
}

.emptyStateBody__664ff {
    margin-top: 8px
}

.toggle__664ff {
    margin-bottom: 0;
    padding-top: 20px
}

.enable-forced-colors .selfSpeakerContainer__664ff {
    background-color: ButtonFace;
    color: ButtonText;
    text-decoration: underline
}

.enable-forced-colors .selfSpeakerContainer__664ff:hover {
    color: ButtonText
}

.enable-forced-colors .selfSpeakerContainer__664ff:active {
    background-color: HighlightText;
    color: Highlight
}

.enable-forced-colors .buttonContainer__664ff {
    background-color: transparent
}

.enable-forced-colors .participantName__664ff {
    background-color: ButtonFace;
    color: ButtonText;
    text-decoration: underline
}
