.destinationRow_ba7598 {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -8px;
    min-height: 48px;
    padding: 0 8px
}

.destinationRow_ba7598.disabled_ba7598 {
    cursor: not-allowed
}

.destinationRow_ba7598:not(.disabled_ba7598):hover {
    background-color: var(--interactive-background-hover)
}

.identity_ba7598 {
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    gap: 12px
}

.identity_ba7598,
.labels_ba7598 {
    display: flex;
    overflow: hidden
}

.labels_ba7598 {
    flex-direction: column;
    margin: 4px 0
}

.disabled_ba7598 .iconWrapper_ba7598 {
    opacity: 50%
}

.checkbox_ba7598 {
    flex: 0;
    margin-inline-start: 16px
}

.icon__2894c {
    display: block;
    flex: 0 0 auto;
    height: 20px;
    width: 20px
}

.iconWithGuildIcon__2894c {
    background: var(--background-mod-strong);
    border-radius: var(--radius-round);
    color: var(--text-subtle);
    height: 12px;
    margin-inline-start: 12px;
    margin-top: -15px;
    overflow: visible;
    padding: 4px;
    position: relative;
    width: 12px
}

.channelGuildIcon__2894c {
    border-radius: var(--radius-sm)
}

.acronym__2894c {
    align-items: center;
    background-color: var(--background-mod-strong);
    color: var(--text-default);
    display: flex;
    font-weight: var(--font-weight-medium);
    justify-content: center;
    line-height: 1.2em;
    white-space: nowrap
}
