.nitroUpsellContainer_d0caf4 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-inline-end: auto
}

.nitroWheel_d0caf4 {
    margin-inline-end: 6px
}

.nitroText_d0caf4 {
    flex-wrap: wrap
}

.scrollerBase__99f8c {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 0;
    position: relative
}

.auto__99f8c,
.none__99f8c,
.thin__99f8c {}

.thin__99f8c::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

.thin__99f8c::-webkit-scrollbar-track {
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
    border-color: var(--scrollbar-thin-track)
}

.thin__99f8c::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px
}

.thin__99f8c::-webkit-scrollbar-corner {
    background-color: transparent
}

.auto__99f8c::-webkit-scrollbar {
    height: 16px;
    width: 16px
}

.auto__99f8c::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track)
}

.auto__99f8c::-webkit-scrollbar-thumb,
.auto__99f8c::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px
}

.auto__99f8c::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px
}

.auto__99f8c::-webkit-scrollbar-corner {
    background-color: transparent
}

.none__99f8c::-webkit-scrollbar {
    height: 0;
    width: 0
}

.fade__99f8c::-webkit-scrollbar-thumb,
.fade__99f8c::-webkit-scrollbar-track {
    visibility: hidden
}

.fade__99f8c:hover::-webkit-scrollbar-thumb,
.fade__99f8c:hover::-webkit-scrollbar-track {
    visibility: visible
}

.scrolling__99f8c.fade__99f8c:focus-within::-webkit-scrollbar-thumb,
.scrolling__99f8c.fade__99f8c:focus-within::-webkit-scrollbar-track {
    visibility: visible
}

.no-webkit-scrollbar .thin__99f8c {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
    scrollbar-width: thin
}

.no-webkit-scrollbar .thin__99f8c.fade__99f8c.scrolling__99f8c,
.no-webkit-scrollbar .thin__99f8c.fade__99f8c:hover {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track)
}

.no-webkit-scrollbar .auto__99f8c {
    scrollbar-color: var(--scrollbar-auto-scrollbar-color-thumb) var(--scrollbar-auto-scrollbar-color-track);
    scrollbar-width: auto
}

.no-webkit-scrollbar .auto__99f8c.fade__99f8c.scrolling__99f8c,
.no-webkit-scrollbar .auto__99f8c.fade__99f8c:hover {
    scrollbar-color: var(--scrollbar-auto-scrollbar-color-thumb) var(--scrollbar-auto-scrollbar-color-track)
}

.no-webkit-scrollbar .none__99f8c {
    scrollbar-width: none
}

.no-webkit-scrollbar .fade__99f8c {
    scrollbar-color: transparent transparent
}

.content__99f8c {
    position: relative
}

.disableScrollAnchor__99f8c {
    overflow-anchor: none
}

.managedReactiveScroller__99f8c {
    overflow-x: hidden;
    overflow-y: scroll
}

.pointerCover__99f8c {
    inset: 0;
    position: absolute;
    z-index: 9999
}

.enable-forced-colors ::-webkit-scrollbar-track {
    border-radius: 0;
    border-width: 1px
}

.enable-forced-colors ::-webkit-scrollbar-thumb {
    background-color: CanvasText;
    border-width: 1px
}

.enable-forced-colors ::-webkit-scrollbar-thumb:horizontal:active,
.enable-forced-colors ::-webkit-scrollbar-thumb:horizontal:hover,
.enable-forced-colors ::-webkit-scrollbar-thumb:vertical:active,
.enable-forced-colors ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: Highlight
}

.enable-forced-colors .auto__99f8c::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

.enable-forced-colors .auto__99f8c::-webkit-scrollbar-track {
    border-radius: 0;
    border-width: 1px
}

.newBadge__03991 {
    inset-inline-end: -4px;
    position: absolute;
    text-transform: uppercase;
    top: -4px
}

.newBadgeText__03991 {
    align-items: center;
    display: flex;
    gap: var(--space-4);
    justify-content: center
}

.iconBadge__03991 {
    border-radius: 50%;
    height: 20px;
    inset-inline-end: -4px;
    padding: 2px;
    position: absolute;
    top: -6px;
    width: 20px
}

:root {
    --custom-profile-frame-overflow-horizontal: 14;
    --custom-profile-frame-popout-overflow-top: 77;
    --custom-profile-frame-popout-overflow-bottom: 53;
    --custom-profile-frame-popout-width: 304
}

:root .theme-midnight {
    --custom-profile-frame-drop-shadow-opacity: 0.6
}

:root .theme-darker {
    --custom-profile-frame-drop-shadow-opacity: 0.4
}

:root .theme-dark {
    --custom-profile-frame-drop-shadow-opacity: 0.2
}

:root .theme-light {
    --custom-profile-frame-drop-shadow-opacity: 0.13
}

.profileFrameContainer__7d80f {
    container-type: size;
    height: 100%;
    inset-inline-start: 0;
    max-height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

@media (max-height:480px) {
    .user-profile-popout .profileFrameContainer__7d80f {
        display: none
    }
}

@media (max-height:785px) {
    .user-profile-modal-v2 .profileFrameContainer__7d80f {
        display: none
    }
}

.profileFrame__7d80f {
    --custom-profile-frame-layer-scale: calc(100cqw/var(--custom-profile-frame-popout-width));
    --custom-profile-frame-scaled-overflow-horizontal: calc(var(--custom-profile-frame-overflow-horizontal)*var(--custom-profile-frame-layer-scale));
    --custom-profile-frame-scaled-overflow-top: calc(var(--custom-profile-frame-popout-overflow-top)*var(--custom-profile-frame-layer-scale));
    --custom-profile-frame-scaled-overflow-bottom: calc(var(--custom-profile-frame-popout-overflow-bottom)*var(--custom-profile-frame-layer-scale));
    height: 100%;
    inset-inline-start: calc(var(--custom-profile-frame-scaled-overflow-horizontal)*-1);
    position: absolute;
    top: 0;
    width: calc(100% + var(--custom-profile-frame-scaled-overflow-horizontal)*2)
}

.profileFrameLayer__7d80f {
    position: absolute;
    width: 100%
}

.full-motion .profileFrameLayer__7d80f {
    animation: fadeIn__7d80f .15s ease-in
}

.user-profile-popout .profileFrameLayer__7d80f {
    filter: drop-shadow(20px 20px 30px rgba(0, 0, 0, var(--custom-profile-frame-drop-shadow-opacity)))
}

.profileFrameLayer__7d80f.front__7d80f {
    z-index: var(--custom-user-profile-hoist-z-index, 4)
}

.profileFrameLayer__7d80f.back__7d80f {
    z-index: -1
}

.profileFrameLayer__7d80f.staple__7d80f.top__7d80f {
    top: calc(var(--custom-profile-frame-scaled-overflow-top)*-1)
}

.profileFrameLayer__7d80f.staple__7d80f.bottom__7d80f {
    bottom: calc(var(--custom-profile-frame-scaled-overflow-bottom)*-1)
}

.profileFrameLayer__7d80f.rail__7d80f {
    display: flex;
    height: 100%;
    overflow: hidden;

    @container (max-height: 480px) {
        &.responsive__7d80f {
            display: none
        }
    }
}

.profileFrameLayer__7d80f.rail__7d80f>img {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%
}

.profileFrameLayer__7d80f.rail__7d80f.center__7d80f {
    align-items: center
}

.profileFrameLayer__7d80f.rail__7d80f.top__7d80f {
    align-items: flex-start
}

.profileFrameLayer__7d80f.rail__7d80f.bottom__7d80f {
    align-items: flex-end
}

.profileFrameLayer__7d80f.border__7d80f {
    background-image: var(--custom-profile-frame-layer-src);
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 100%
}

@keyframes fadeIn__7d80f {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.previewContainer_c9a5b2 {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
    --custom-profile-frame-preview-scale: calc(100%/(var(--custom-profile-frame-popout-width) + var(--custom-profile-frame-overflow-horizontal)*2));
    padding-inline: calc(var(--custom-profile-frame-overflow-horizontal)*var(--custom-profile-frame-preview-scale));
    padding-bottom: calc(var(--custom-profile-frame-popout-overflow-bottom)*var(--custom-profile-frame-preview-scale));
    padding-top: calc(var(--custom-profile-frame-popout-overflow-top)*var(--custom-profile-frame-preview-scale))
}

.previewContainer_c9a5b2.noBottomStaple_c9a5b2 {
    padding-bottom: 0
}

.profileContainer_c9a5b2 {
    height: 100%;
    position: relative;
    width: 100%
}

.sampleProfile_c9a5b2 {
    background-color: var(--background-surface-higher);
    border: 2px solid var(--border-muted);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%
}

.sampleProfile_c9a5b2.isMini_c9a5b2 {
    border-radius: var(--radius-xs);
    border-width: 1px
}

.icon__2ed4c {
    height: 24px;
    margin-bottom: 4px;
    width: 24px
}

.notAllowedIcon__2ed4c {
    transform: rotate(90deg)
}

.frameGridItem__2ed4c {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--text-strong);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-6) 14px;
    position: relative;
    transition: box-shadow .15s ease-out
}

.selected__2ed4c {
    box-shadow: 0 0 0 2px var(--brand-500)
}

.section__2ed4c {
    display: flex;
    flex-direction: column;
    height: 100%
}

.list__2ed4c {
    flex: 1;
    inset-inline-start: -12px;
    margin-top: 2px;
    padding-bottom: 4px;
    width: 298px
}

.shopIcon__2ed4c {}

.modal_f41999 {
    border-radius: var(--radius-sm);
    width: unset
}

.modalFooter_f41999 {
    gap: var(--space-8)
}

.modalHeader_f41999 {
    display: flex;
    justify-content: space-between;
    overflow: hidden
}

.modalCloseButton_f41999 {
    padding: 0
}

.modalContent_f41999 {
    display: flex
}

.spinner_f41999 {
    align-self: center;
    margin: 8px
}
