.pricingSection__85064 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 13px
}

.pricingSection__85064>:first-child {
    margin-top: 0
}

.priceTag__85064 {
    margin-top: 0
}

.premiumPriceTag__85064,
.priceTagContainer__85064 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.priceTagContainer__85064 {
    align-items: flex-start
}

.disclaimer__85064 {
    color: var(--primary-230)
}

.disclaimerLight__85064 {
    color: var(--text-muted)
}

.orbIconAligned__85064 {
    margin-top: 1px;
    vertical-align: top
}

.leftRail__863fd {
    --custom-frames-ea-bleed: 24px;
    background-color: var(--background-surface-high);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: var(--custom-frames-ea-bleed);
    position: relative;
    width: 330px
}

.leftRail__863fd.withLeftPreview__863fd .headerWrapper__863fd {
    position: absolute;
    top: 8px;
    inset-inline: 16px;
    z-index: 1
}

.leftPreviewSlot__863fd {
    align-items: flex-start;
    container-type: size;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    min-height: 207px;
    overflow: hidden;
    position: relative
}

.leftPreviewSlot__863fd>* {
    margin-block: auto
}

@container (max-height: 219px) {
    .leftPreviewSlot__863fd:after {
        background: linear-gradient(to bottom, transparent 0, var(--background-surface-high) 80%);
        bottom: 0;
        content: "";
        height: 50px;
        inset-inline: 0;
        pointer-events: none;
        position: absolute
    }
}

.infoSlot__863fd {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    min-height: 0;
    padding-bottom: 24px
}

.leftRail__863fd.withLeftPreview__863fd .infoSlot__863fd {
    flex: 0 0 auto
}

.next__2fd86,
.prev__2fd86 {
    opacity: var(--custom-bundle-arrows-opacity, 0);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
}

.full-motion .next__2fd86,
.full-motion .prev__2fd86 {
    transition: opacity .3s ease-out
}

.next__2fd86:has(:focus-visible),
.prev__2fd86:has(:focus-visible) {
    opacity: 1
}

.prev__2fd86 {
    inset-inline-start: 16px
}

.next__2fd86 {
    inset-inline-end: 16px
}

.collectiblePreviewsContainer__7f14f {
    background-color: var(--background-surface-highest);
    flex: 1 1 0;
    height: 600px;
    min-width: 0;
    overflow: hidden;
    position: relative
}

.previewContainer__7f14f {
    background-position: 50%;
    background-size: cover;
    position: relative;
    --custom-bundle-arrows-opacity: 0
}

.previewContainer__7f14f:hover {
    --custom-bundle-arrows-opacity: 1
}

.previewSurface__7f14f {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute
}

.full-motion .previewSurface__7f14f {
    animation: previewFadeIn__7f14f .3s ease-in-out
}

@keyframes previewFadeIn__7f14f {
    0% {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

.collectiblePreviewsContainerNoChat__7f14f,
.collectiblePreviewsContainerWithChat__7f14f,
.fractionalNitroPreviewContainer__7f14f {}

.pdpControls__7f14f {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    inset-inline-end: 16px;
    justify-content: flex-end;
    position: absolute;
    top: 16px;
    z-index: 1
}

.modalRoot_ab2984 {
    background-color: var(--custom-background-primary);
    border-radius: inherit;
    height: 600px;
    margin-bottom: calc(var(--custom-modal-padding-bottom)*-1 - 1px);
    margin-top: calc(var(--custom-modal-padding-top)*-1 - 1px);
    margin-inline: -1px;
    overflow: clip
}

.modalContent_ab2984 {
    display: flex;
    height: 100%;
    padding: 0
}
