.title__1472a {
    color: var(--text-default);
    margin-block: 16px;
    margin-inline: 30px 20px;
    margin-inline-start: var(--space-24)
}

.listItemContents_c72b78 {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between
}

.actions_c72b78 {
    display: flex;
    gap: 10px;
    margin-inline-start: auto
}

.devBanner__56d75 {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
    padding: 0 4px;
    position: relative;
    text-align: center;
    white-space: no-wrap
}

.devBanner__56d75 strong {
    font-weight: var(--font-weight-semibold)
}

.local__56d75 {
    background-color: var(--background-feedback-warning)
}

.local__56d75,
.staging__56d75 {
    color: var(--text-default)
}

.staging__56d75 {
    background-color: var(--background-feedback-critical)
}

.buildOverride__56d75 {
    background-color: var(--status-positive-background);
    color: var(--white)
}

.icon__56d75 {
    display: inline-block;
    height: auto;
    margin-inline-end: 4px;
    vertical-align: middle;
    width: 12px
}

.closeButton__56d75 {
    background-position: 50% 55%;
    background-size: 10px 10px;
    cursor: pointer;
    height: 24px;
    inset-inline-end: 0;
    opacity: .5;
    position: absolute;
    top: 3px;
    transition: opacity .2s;
    width: 24px;
    -webkit-app-region: no-drag
}

.closeButton__56d75:hover {
    opacity: 1
}

.closeIcon__56d75 {
    height: 14px;
    width: 14px
}
