.row__79399 {
    align-items: center;
    display: flex;
    gap: var(--space-8);
    padding: var(--space-8)
}

.disabled__79399 {
    opacity: .5
}

.preview__79399 {
    align-items: center;
    display: flex;
    justify-content: center
}

.text__79399 {
    display: flex;
    flex-direction: column
}
