.libraryFilter__3fb48 {
    align-items: center;
    display: flex;
    margin-inline-end: 8px;
    overflow: hidden;
    position: relative;
    width: 144px
}

.libraryFilter__3fb48.focused__3fb48 {
    width: 240px
}

.searchBar__3fb48 {
    flex: 1 1 auto;
    width: 100%
}

.libraryHeader__5a895 {
    z-index: 3
}

.libraryHeader__5a895:before {
    box-shadow: var(--elevation-low);
    contain: paint;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 47px;
    inset-inline: 0;
    pointer-events: none;
    z-index: 1
}
