.messagePreviewContainer_f96002 {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    max-height: 100px;
    padding-block: 16px;
    padding-inline: 0 16px
}

.messageScroller_f96002 {
    height: 100%
}

.container_f96002 {
    margin-bottom: var(--space-8)
}

.header_f96002 {
    color: var(--text-default);
    margin-bottom: 8px
}

.attachmentIcon_f96002 {
    color: var(--interactive-text-default)
}

.contentContainer_f96002 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.title_d1f0f0 {
    margin-block-end: var(--space-16)
}

.required_d1f0f0 {
    color: var(--text-feedback-critical);
    padding-inline-start: 4px
}

.checkboxRow_d1f0f0:not(:last-child) {
    margin-bottom: var(--space-16)
}

.label__366e2 {
    margin-block-end: var(--space-8)
}

.required__366e2 {
    color: var(--text-feedback-critical);
    padding-inline-start: 4px
}

.container__8f3cb {
    margin-bottom: var(--space-8)
}

.container__8f3cb:has(:empty.upsellsContainer__8f3cb) {
    display: none
}

.header__8f3cb {
    color: var(--text-default);
    margin-bottom: var(--space-8)
}

.upsellsContainer__8f3cb {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-md)
}

.container__2c3b4 {
    margin-bottom: var(--space-16)
}

.header__2c3b4 {
    color: var(--text-default)
}

.header__2c3b4,
.upsellsContainer__2c3b4 {
    margin-bottom: var(--space-8)
}

.upsellsContainer__2c3b4 {
    background-color: var(--background-surface-higher);
    border-radius: var(--space-8)
}

.navLinkButton__2c3b4 {
    padding: 0
}

.container__3eeee {
    margin-bottom: var(--space-8)
}

.guildContainer__3eeee {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    padding: 16px
}

.header__3eeee {
    color: var(--text-default);
    margin-bottom: 8px
}

.guildInfo__3eeee {
    align-items: center;
    display: flex;
    margin-bottom: 8px
}

.guildIcon__3eeee {
    margin-inline-end: 8px
}

.successImg_f05c94 {
    margin: 0 auto 16px;
    padding-block-start: var(--space-24)
}

.header__41dd9 {
    margin-bottom: 8px
}

.body__41dd9 {
    white-space: pre-wrap
}

.container_dba137 {
    margin-bottom: var(--space-8)
}

.header_dba137 {
    margin-bottom: 8px
}

.bodyText_dba137 {
    margin-bottom: 16px
}

.smsNumberText_dba137 {
    flex: 1
}

.smsNumberContainer_dba137 {
    align-items: center;
    border: 1px solid var(--background-base-lowest);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px
}

.smsNumberContainer_dba137.copied_dba137 {
    border-color: var(--status-positive-background)
}

.container__7bd4e {
    margin-bottom: var(--space-8)
}

.userContainer__7bd4e {
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    padding: 16px
}

.header__7bd4e {
    color: var(--text-default);
    margin-bottom: 8px
}

.userInfo__7bd4e {
    align-items: center;
    display: flex
}

.userIcon__7bd4e {
    margin-inline-end: 8px
}
