.root__62663 {
    flex-grow: 1;
    min-width: 0
}

.container__62663 {
    --custom-editable-text-inline-padding: calc(var(--space-6) + 1px);
    --custom-editable-text-block-padding: calc(var(--space-4)/2 + 1px);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    display: flex;
    gap: var(--space-6);
    margin-block: calc(var(--custom-editable-text-block-padding)*-1);
    min-width: 0;
    padding-block: var(--custom-editable-text-block-padding);
    position: relative
}

.container__62663[data-padding-inline=sm] {
    --custom-editable-text-inline-padding: calc(var(--space-4) + 1px)
}

.container__62663[data-padding-block=none] {
    --custom-editable-text-block-padding: 1px
}

.container__62663[data-padding-block=md] {
    --custom-editable-text-block-padding: calc(var(--space-4) + 1px)
}

.full-motion .container__62663 {
    transition: background-color .2s ease
}

.container__62663.controlHeight__62663 {
    align-items: center;
    margin-block: 0;
    min-height: var(--control-input-height-md)
}

.container__62663.controlHeightSm__62663 {
    margin-block: calc((var(--control-input-height-md) - var(--control-input-height-sm))/2);
    min-height: var(--control-input-height-sm)
}

.container__62663.hasError__62663,
.container__62663:has(.field__62663:focus),
.container__62663:not([data-disabled=true], [data-read-only=true]):hover {
    background-color: var(--custom-editable-text-feedback-background, var(--input-background-default));
    outline: 1px solid var(--custom-editable-text-feedback-border, var(--border-strong));
    outline-offset: -1px
}

.container__62663.hasError__62663:not([data-disabled=true], [data-read-only=true]):hover,
.container__62663:has(.field__62663:focus) {
    outline: 2px solid var(--custom-editable-text-feedback-border, var(--input-border-active));
    outline-offset: -2px
}

.container__62663.hasError__62663 {
    --custom-editable-text-feedback-background: var(--input-background-error-default);
    --custom-editable-text-feedback-border: var(--input-border-error-default)
}

.container__62663.hasError__62663 .input__62663 {
    color: var(--input-text-error-default)
}

.container__62663[data-disabled=true] {
    cursor: not-allowed;
    opacity: .5
}

.container__62663[data-read-only=true] {
    outline: 1px solid var(--input-border-readonly);
    outline-offset: -1px
}

.hugContents__62663 {
    flex-grow: 0;
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content
}

.input__62663 {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    outline: none;
    overflow: hidden;
    padding: 0 var(--custom-editable-text-inline-padding);
    text-overflow: ellipsis;
    white-space: pre;
    -webkit-app-region: no-drag;
    background: transparent;
    color: var(--text-default)
}

.input__62663::-moz-placeholder {
    color: var(--text-muted);
    font-style: italic
}

.input__62663::placeholder {
    color: var(--text-muted);
    font-style: italic
}

.multiline__62663 {
    overflow-wrap: break-word;
    resize: none;
    text-overflow: clip;
    white-space: pre-wrap
}

.input__62663.field__62663 {
    inset-block: calc(var(--custom-editable-text-block-padding) - 1px);
    inset-inline-start: 0;
    padding-block: 1px;
    position: absolute;
    width: 100%
}

.hasTrailing__62663 .input__62663.field__62663 {
    width: calc(100% - var(--space-32) - var(--space-6) - var(--space-4))
}

.input__62663.field__62663:not(:focus, :disabled, :-moz-read-only) {
    cursor: pointer
}

.input__62663.field__62663:not(:focus, :disabled, :read-only) {
    cursor: pointer
}

.clamped__62663 .input__62663.field__62663 {
    overflow-y: auto
}

.hasPreview__62663 .field__62663:not(:focus) {
    opacity: 0
}

.hasPreview__62663 .field__62663:focus {
    color: transparent;
    -webkit-text-fill-color: transparent;
    caret-color: var(--text-default)
}

.hasPreview__62663 .field__62663:focus::-moz-selection {
    background-color: var(--background-mod-strong)
}

.hasPreview__62663 .field__62663:focus::selection {
    background-color: var(--background-mod-strong)
}

.sizer__62663 {
    pointer-events: none
}

.container__62663:not(.hasPreview__62663) .sizer__62663 {
    visibility: hidden
}

.sizer__62663.placeholderSizer__62663 {
    font-style: italic
}

.sizer__62663.clampedSizer__62663 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--custom-editable-text-max-rows);
    overflow: hidden
}

.sizer__62663.sizer__62663>* {
    margin: 0
}

.trailing__62663 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-inline-end: var(--space-4);
    opacity: 0;
    position: relative;
    z-index: 1
}

.full-motion .trailing__62663 {
    transition: opacity 50ms ease-in
}

.container__62663:focus-within .trailing__62663,
.container__62663:hover .trailing__62663 {
    opacity: 1
}

.full-motion .container__62663:focus-within .trailing__62663,
.full-motion .container__62663:hover .trailing__62663 {
    transition: opacity .15s ease-out
}

.enable-forced-colors .container__62663 {
    outline: 1px solid ButtonText;
    outline-offset: -1px
}

.enable-forced-colors .container__62663:focus-within {
    outline-color: Highlight
}

.enable-forced-colors .container__62663[data-disabled=true] {
    opacity: 1;
    outline-color: GrayText
}

/*# sourceMappingURL=ed95bd0cf7092abc.css.map*/