.header_b917ac {
    overflow: hidden;
    padding: 24px 24px 0
}

.closeButton_b917ac {
    inset-inline-end: 14px;
    position: absolute;
    top: 12px
}

.title_b917ac {
    font-weight: var(--font-weight-bold);
    text-align: center
}

.footer_b917ac {
    align-items: center;
    justify-content: space-between
}

.subtitle_b917ac {
    margin-top: 8px;
    text-align: center
}

.createGuild_b917ac {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: var(--space-16);
    margin: 16px 0
}

.uploadIcon_b917ac {
    color: var(--interactive-text-default);
    display: flex;
    justify-content: center;
    padding-top: 4px
}

.nameInput_b917ac {
    margin-top: 24px
}

.descriptionInput_b917ac {
    margin-top: 16px
}

.guidelines_b917ac {
    margin-top: 8px;
    padding-bottom: 4px
}

.creationIntentCheckbox_b917ac {
    margin-top: 18px
}

.creationIntentText_b917ac {
    color: var(--interactive-text-default)
}

.formItemSpaced_b917ac {
    margin-top: 16px
}

.header_c04f35 {
    flex-grow: 0;
    overflow: hidden;
    padding-block: var(--modal-vertical-padding) var(--space-8);
    padding-inline: var(--modal-horizontal-padding) var(--modal-horizontal-padding)
}

.closeButton_c04f35 {
    inset-inline-end: calc(var(--modal-horizontal-padding) - var(--space-8));
    position: absolute;
    top: 12px;
    z-index: 1000
}

.templatesList_c04f35 {
    height: 330px;
    margin-top: 24px;
    padding-block: var(--space-8) var(--space-8);
    padding-inline: var(--modal-horizontal-padding) var(--space-8)
}

.title_c04f35 {
    font-weight: var(--font-weight-bold)
}

.subtitle_c04f35,
.title_c04f35 {
    text-align: center
}

.subtitle_c04f35 {
    margin-top: 8px
}

.optionHeader_c04f35 {
    margin-bottom: 8px;
    margin-top: 16px;
    text-transform: uppercase
}

.footer_c04f35 {
    align-items: center;
    flex-direction: column
}

.footerTitle_c04f35 {
    margin-bottom: 8px
}

.footerButton_c04f35 {
    align-self: stretch
}

@media (max-width:485px) {
    .footer_c04f35 {
        bottom: 0;
        box-sizing: border-box;
        position: fixed;
        width: 100%
    }
}

.header__991a0 {
    position: relative;
    text-align: center
}

.title__991a0 {
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    margin-top: 24px
}

.closeButton__991a0 {
    inset-inline-end: 12px;
    position: absolute;
    top: 12px
}

.inputForm__991a0 {
    margin-bottom: 16px
}

.formTitle__991a0 {
    color: var(--interactive-text-default);
    margin-bottom: 8px
}

.formTitle__991a0.error__991a0 {
    color: var(--text-feedback-critical)
}

.examplesForm__991a0 {
    margin-bottom: 16px
}

.sampleLinks__991a0 {
    padding: var(--space-8) 0
}

.sampleLink__991a0 {
    background-color: var(--background-mod-muted);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-xs);
    color: var(--text-strong);
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    margin: var(--space-4);
    padding: var(--space-4)
}

.footer__991a0 {
    justify-content: space-between
}

.rowTextContainer__991a0 {
    margin: 38px auto 16px;
    text-align: center
}

.rowContainer__991a0 {
    align-items: center;
    background-color: var(--background-base-lower);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 16px;
    padding: 12px;
    text-align: start
}

.rowContainer__991a0:hover {
    background-color: var(--interactive-background-hover)
}

.keyboard-mode .rowContainer__991a0:focus {
    background-color: var(--interactive-background-selected)
}

.rowContainer__991a0:active {
    background-color: var(--interactive-background-active)
}

.rowIcon__991a0 {
    margin-inline-end: 12px
}

.rowText__991a0 {
    overflow: hidden;
    text-overflow: ellipsis
}

.rowArrow__991a0 {
    margin-inline: auto 16px
}

.container__024d4 {
    display: flex;
    flex-direction: column;
    max-height: 580px;
    width: var(--modal-width-small)
}

@media (max-width:440px) {
    .container__024d4 {
        width: 100%
    }
}
