.row__771da {
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    margin-inline-start: 8px;
    position: relative
}

.leftIndicatorContainer__771da {
    align-items: center;
    display: flex;
    height: 8px;
    inset-inline-start: -8px;
    position: absolute;
    top: 18px;
    width: 4px
}

.channelIcon__771da {
    flex-shrink: 0;
    height: 12px;
    width: 12px
}

.offlineRow__771da {
    opacity: .6
}

.offlineRow__771da:active,
.offlineRow__771da:focus-within,
.offlineRow__771da:hover {
    opacity: 1
}

.rowInner__771da {
    box-sizing: border-box;
    height: 42px;
    padding-block: var(--space-xxs) var(--space-xxs);
    padding-inline: 0;
    width: 100%;
    z-index: 0
}

.rowRecentlyAdded__771da {
    animation: friendsWidgetRowRecentlyAdded__771da .95s ease-out 1
}

@keyframes friendsWidgetRowRecentlyAdded__771da {
    0% {
        background: color-mix(in srgb, var(--brand-500) 28%, transparent)
    }

    to {
        background: transparent
    }
}

.avatar__771da {
    margin-inline-end: 12px
}

.username__771da {
    color: var(--text-default)
}

.username__771da,
.usernameContainer__771da {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.usernameContainer__771da {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px
}

.activityIconContainer__771da {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 32px;
    justify-content: center;
    width: 32px
}

.rowActions__771da {
    align-items: center;
    display: inline-flex;
    gap: var(--space-xxs)
}

.badgesContainer__771da {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 2px
}

.friendVoiceStatus__771da {
    gap: 8px
}

.friendVoiceStatus__771da,
.voiceStatusContainer__771da {
    align-items: center;
    display: flex;
    flex-direction: row
}

.voiceStatusContainer__771da {
    gap: 4px
}

.voiceStatusContainer__771da .voiceText__771da {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.friendVoiceStatusGuildContainer__771da {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-start
}

.guildName__771da {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.voiceStatusIcon__771da {
    height: 12px;
    width: 12px
}

.iconOnlyButton__068c6 {
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--radius-sm);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px
}

.iconOnlyButton__068c6:hover {
    background-color: var(--control-icon-only-background-hover);
    border: 1px solid var(--control-icon-only-border-hover)
}

.iconOnlyButton__068c6:active {
    background-color: var(--background-mod-muted)
}

.iconOnlyButton__068c6 svg {
    pointer-events: none
}

.container__606e9 {
    display: flex;
    flex: 1;
    flex-direction: column
}

.container__606e9,
.list__606e9 {
    min-height: 0;
    min-width: 0
}

.list__606e9 {
    border-top: 1px solid hsla(240, 4%, 61%, .035);
    flex: 1 1 auto;
    overflow: auto
}

.searchContainer__606e9 {
    margin-top: -1px;
    margin-inline-end: -1px;
    padding: 0
}

.searchContainer__606e9 [data-error] {
    background: hsla(240, 4%, 61%, .04);
    border: none !important;
    border-radius: 0;
    outline: none !important;
    padding: 8px 12px
}

.searchContainer__606e9 [data-error]:has(input:focus, textarea:focus) {
    background: hsla(240, 4%, 61%, .08)
}

.section__606e9 {
    height: auto;
    padding-block: var(--space-lg) var(--space-xxs);
    padding-inline: var(--space-md) var(--space-xxs)
}

.chevronIcon__606e9 {
    height: 12px;
    margin-inline-start: var(--space-xxs);
    width: 12px
}

.sectionCollapsible__606e9 {
    align-items: center;
    cursor: pointer;
    display: flex
}

.sectionCollapsible__606e9:hover {
    color: var(--text-strong)
}

.nonGroupSectionHeaderRow__606e9 {
    align-items: center;
    display: flex;
    gap: var(--space-xxs);
    justify-content: space-between
}

.nonGroupSectionHeaderHideButton__606e9 {
    align-items: center;
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    margin-inline-end: 8px;
    padding: var(--space-xxs)
}

.nonGroupSectionHeaderHideButton__606e9:hover {
    color: var(--text-strong)
}

.emptyStateContainer__606e9 {
    align-items: center;
    display: flex;
    height: 300px;
    justify-content: center;
    padding: 16px
}

.reorderableGroupSection__672fc {
    cursor: grab;
    position: relative
}

.reorderableGroupSection__672fc:active {
    cursor: grabbing
}

.draggingGroupSection__672fc {
    opacity: .5
}

.dropTargetGroupSection__672fc {
    background-color: var(--interactive-background-hover)
}

.dropBeforeGroupSection__672fc:before {
    background-color: var(--text-brand);
    content: "";
    height: 2px;
    inset-block-start: 0;
    inset-inline: 0;
    inset-inline-end: 0;
    position: absolute
}

.dropAfterGroupSection__672fc:after {
    background-color: var(--text-brand);
    content: "";
    height: 2px;
    inset-block-end: 0;
    inset-inline: 0;
    inset-inline-end: 0;
    position: absolute
}
