.container__5537c {
    display: flex;
    flex-direction: row;
    min-width: 100%
}

.stepContainer__5537c {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.stepContainer__5537c+.stepContainer__5537c {
    margin-inline-start: 8px
}

.progressBar__5537c {
    background-color: var(--text-muted);
    border-radius: 4px;
    height: 4px;
    margin-bottom: 8px;
    width: 100%
}

.selectedProgressBar__5537c {
    background-color: var(--text-brand)
}

.enable-forced-colors .progressBar__5537c {
    background-color: CanvasText
}

.enable-forced-colors .selectedProgressBar__5537c {
    background-color: Highlight
}

.container__03b47 {
    background-color: var(--background-base-lower);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 8px
}

.content__03b47 {
    border-bottom: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: row;
    padding: 12px
}

.textContainer__03b47 {
    display: flex;
    flex-direction: column
}

.descriptionText__03b47 {
    margin: 8px 0
}

.image__03b47 {
    align-items: center;
    display: flex;
    justify-content: center
}

.inlineText__03b47 {
    display: inline;
    margin: 0 2px
}

.footer__03b47 {
    padding: 12px
}

.textButtonWrapper__03b47 {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}

.container__4eb6e {
    display: flex;
    flex-direction: column;
    gap: var(--space-16)
}

.container__4eb6e,
.options__4eb6e {
    margin-top: 24px
}

.channelOptionIcon__4eb6e {
    display: block;
    flex-shrink: 0
}

.channelPrivate__4eb6e {
    margin-top: 8px
}
