.wrapper__02fc8 {
    position: relative
}

.inner__02fc8 {
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    border-radius: var(--radius-sm);
    height: 44px;
    justify-content: center;
    width: 44px
}

.inner__02fc8:hover {
    background-color: #99aab54d;
    border-color: transparent;
    cursor: pointer
}

.inner__02fc8:disabled {
    opacity: .3;
    pointer-events: none
}

.ellipsis__02fc8 {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute
}

.spinnerItem__02fc8 {
    background-color: #4f545c
}

.enable-forced-colors .inner__02fc8 {
    border: 1px solid ButtonFace
}

.enable-forced-colors .inner__02fc8:focus,
.enable-forced-colors .inner__02fc8:hover {
    background-color: ButtonFace;
    border-color: ButtonText
}

.enable-forced-colors .inner__02fc8:disabled {
    opacity: .3;
    pointer-events: none
}
