.container__5537c {
    display: flex;
    flex-direction: row;
    min-width: 100%
}

.stepContainer__5537c {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.stepContainer__5537c+.stepContainer__5537c {
    margin-inline-start: 8px
}

.progressBar__5537c {
    background-color: var(--text-muted);
    border-radius: 4px;
    height: 4px;
    margin-bottom: 8px;
    width: 100%
}

.selectedProgressBar__5537c {
    background-color: var(--text-brand)
}

.enable-forced-colors .progressBar__5537c {
    background-color: CanvasText
}

.enable-forced-colors .selectedProgressBar__5537c {
    background-color: Highlight
}

.container__03b47 {
    background-color: var(--background-base-lower);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 8px
}

.content__03b47 {
    border-bottom: 1px solid var(--border-subtle);
    display: flex;
    flex-direction: row;
    padding: 12px
}

.textContainer__03b47 {
    display: flex;
    flex-direction: column
}

.descriptionText__03b47 {
    margin: 8px 0
}

.image__03b47 {
    align-items: center;
    display: flex;
    justify-content: center
}

.inlineText__03b47 {
    display: inline;
    margin: 0 2px
}

.footer__03b47 {
    padding: 12px
}

.textButtonWrapper__03b47 {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}

.container__4eb6e {
    display: flex;
    flex-direction: column;
    gap: var(--space-16)
}

.container__4eb6e,
.options__4eb6e {
    margin-top: 24px
}

.channelOptionIcon__4eb6e {
    display: block;
    flex-shrink: 0
}

.channelPrivate__4eb6e {
    margin-top: 8px
}

.container__04119 {
    border-radius: var(--radius-xs);
    display: flex;
    justify-content: space-between;
    padding: 4px
}

.container__04119.canceled__04119 {
    cursor: auto
}

.container__04119:hover:not(.canceled__04119) {
    background-color: var(--background-mod-subtle)
}

.container__04119.active__04119,
.container__04119:hover.active__04119 {
    background-color: var(--background-mod-normal)
}

.timeStatus__04119 {
    width: 100%
}

.icon__04119 {
    color: var(--text-default)
}

.iconButton__04119 {
    align-items: center;
    display: flex;
    justify-content: center
}

.iconButton__04119:hover {
    cursor: pointer
}

.iconButton__04119:hover .icon__04119 {
    color: var(--interactive-text-active)
}

.canceledStatus__04119 {
    margin-inline-end: 8px
}

.clickable__04119:hover {
    cursor: pointer
}

.recurrences__4fb8c {
    display: flex;
    flex-direction: column;
    padding: var(--space-4) var(--space-12) var(--space-12)
}

.heading__4fb8c {
    margin-bottom: 8px;
    margin-inline-start: 4px
}

.scroller__4fb8c {
    display: flex;
    flex-direction: column
}

.showScroller__4fb8c {
    height: 140px
}

.buttonContainer__4fb8c {
    display: flex;
    justify-content: center;
    padding-top: var(--space-8)
}

.grid__28d93 {
    display: grid;
    gap: 8px;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr
}

.speakerContainer__28d93 {
    align-items: center;
    display: flex;
    flex-direction: row
}

.avatar__28d93 {
    height: 20px !important;
    margin-inline-end: 8px;
    width: 20px !important
}

.iconMicrophone__28d93,
.speakerCount__28d93 {
    background-color: var(--background-base-lowest)
}

.iconMicrophone__28d93 {
    align-items: center;
    border-radius: 50%;
    color: var(--text-default);
    display: flex;
    height: 20px;
    justify-content: center;
    margin-inline-end: 8px;
    width: 20px
}

.textInGridContainer__28d93 {
    max-width: 164px
}

.textInGrid__28d93 {
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media (max-width:1200px) {
    .textInGrid__28d93 {
        max-width: 120px
    }
}

.card__88264 {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--background-base-lower);
    border-color: var(--border-subtle);
    border-radius: 8px;
    cursor: pointer;
    transition: border-color .1s, background-color .1s
}

.card__88264:hover {
    background-color: var(--background-surface-highest)
}

.lurking__88264 {
    cursor: default
}

.padding__88264 {
    padding: 16px
}

.padding__88264.isRecurring__88264 {
    padding-bottom: 0
}

.joined__88264 {
    border-color: var(--status-positive-background)
}

.inline__88264 {
    align-items: center;
    display: flex;
    overflow: hidden
}

.channelContainer__88264 {
    color: var(--text-default)
}

.channelContainerEnabled__88264 {
    cursor: pointer
}

.channelContainerEnabled__88264:hover {
    color: var(--interactive-text-active);
    text-decoration: underline
}

.channelContainerDisabled__88264 {
    cursor: not-allowed
}

.icon__88264 {
    margin-inline-end: 4px;
    min-width: 20px
}

.spacing__88264 {
    margin-top: 16px
}

.divider__88264 {
    background-color: var(--border-subtle);
    border: none;
    height: 1px;
    margin: 16px -16px 12px
}

.footer__88264 {
    justify-content: space-between
}

.eventActions__88264 {
    flex-shrink: 0
}

.channelLocation__88264 {
    cursor: pointer
}

.channelLocation__88264:hover {
    text-decoration: underline
}

.externalLocation__88264 {
    cursor: auto;
    display: flex;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.enable-forced-colors .channelContainer__88264 {
    background-color: ButtonFace;
    color: ButtonText;
    forced-color-adjust: none;
    text-decoration: underline
}

.ageVerificationNoticeSpacing__88264 {
    margin-top: var(--space-16)
}

.content_f70348 {
    padding-top: 24px
}

.channelName_f70348,
.inline_f70348 {
    display: inline
}

.channelName_f70348 {
    color: var(--text-strong)
}

.icon_f70348 {
    display: inline;
    margin: -4px 4px
}

.locationIcon_f70348 {
    color: var(--text-strong);
    margin-block: -4px;
    margin-inline: 2px 4px
}

.textContainer_f70348 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px
}

.subheader_f70348 {
    margin: 8px 0 16px;
    text-align: center
}

.previewCard_f70348 {
    background-color: var(--background-mod-subtle);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-sm);
    cursor: default
}

.imageUploader_e4d0bf {
    font-size: 12px;
    text-align: center
}

.imageUploader_e4d0bf .removeButton_e4d0bf {
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    margin-top: 10px;
    text-decoration: none
}

.imageUploader_e4d0bf .sizeInfo_e4d0bf {
    color: var(--text-muted);
    display: block;
    font-size: 10px;
    margin-top: 10px
}

.imageUploader_e4d0bf .sizeInfo_e4d0bf strong {
    font-weight: var(--font-weight-bold)
}

.imageUploader_e4d0bf.disabled_e4d0bf .imageUploaderInner_e4d0bf:focus-within,
.imageUploader_e4d0bf.disabled_e4d0bf .imageUploaderInner_e4d0bf:hover {
    box-shadow: none
}

.imageUploaderIconWrapper_e4d0bf {
    display: inline-block;
    position: relative;
    width: 100%
}

.imageUploaderInner_e4d0bf {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--radius-md);
    box-sizing: border-box;
    display: inline-block;
    flex-shrink: 0;
    height: 138px;
    position: relative;
    transition: box-shadow background-color .1s .1s;
    width: 138px
}

.imageUploaderInner_e4d0bf>* {
    align-items: center;
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    justify-content: center;
    pointer-events: none
}

.imageUploaderInner_e4d0bf .imageUploaderFileInput_e4d0bf,
.imageUploaderInner_e4d0bf input[type=file] {
    pointer-events: auto
}

.imageUploaderInner_e4d0bf:focus-within,
.imageUploaderInner_e4d0bf:hover {
    box-shadow: inset 0 0 120px var(--opacity-black-76)
}

.imageUploaderInner_e4d0bf:focus-within .imageUploaderAcronym_e4d0bf,
.imageUploaderInner_e4d0bf:hover .imageUploaderAcronym_e4d0bf {
    visibility: hidden
}

.imageUploaderInner_e4d0bf:focus-within+.imageUploaderHint_e4d0bf,
.imageUploaderInner_e4d0bf:hover+.imageUploaderHint_e4d0bf {
    visibility: visible
}

.imageUploaderFileInput_e4d0bf {
    cursor: pointer
}

.imageUploaderAcronym_e4d0bf {
    overflow: hidden;
    white-space: nowrap
}

.imageUploaderHint_e4d0bf {
    inset-inline: 0;
    bottom: 0;
    color: var(--white);
    font-size: 10px;
    font-weight: var(--font-weight-bold);
    line-height: 12px;
    pointer-events: none;
    text-transform: uppercase;
    visibility: hidden;
    white-space: pre
}

.imageUploaderHint_e4d0bf,
.imageUploaderIcon_e4d0bf {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0
}

.imageUploaderIcon_e4d0bf {
    background-color: var(--background-surface-high);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: var(--shadow-border), var(--shadow-low);
    height: 28px;
    inset-inline: auto 0;
    width: 28px
}

.imageUploaderIconDisabled_e4d0bf {
    opacity: 50%
}

.removeButton_e4d0bf {
    color: var(--interactive-text-default)
}

.removeButton_e4d0bf:hover {
    color: var(--interactive-text-hover)
}

.enable-forced-colors .imageUploaderInner_e4d0bf {
    border: 2px solid ButtonText;
    forced-color-adjust: none;
    outline: 1px solid Canvas;
    outline-offset: -3px
}

.enable-forced-colors .imageUploaderHint_e4d0bf {
    background-color: ButtonFace;
    color: ButtonText
}

.images-light .imageUploaderIcon_e4d0bf {
    background-image: url(/assets/8f18dfd4baacebf4.svg)
}

.images-dark .imageUploaderIcon_e4d0bf {
    background-image: url(/assets/6ca913b246a05ffc.svg)
}

.avatarUploader_e04502 .avatarUploaderInner_e04502,
.avatarUploaderDisabled_e04502 .avatarUploaderInner_e04502 {
    background-size: 100% 100%;
    height: 100px;
    width: 100px
}

.avatarUploaderInnerSquare_e04502 {
    background-image: linear-gradient(45deg, var(--guild-boosting-blue) 0, var(--guild-boosting-purple) 100%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%
}

.avatarUploaderInnerSquareDisabled_e04502 {
    background-color: var(--primary-500);
    background-image: none
}

.avatarUploadIcon_e04502 {
    inset-inline-end: 16px;
    top: 16px
}

.avatarUploaderDisabled_e04502 {
    cursor: not-allowed
}

.avatarUploader_e04502 .avatarUploaderInner_e04502,
.avatarUploaderDisabled_e04502 .avatarUploaderInner_e04502 {
    box-shadow: var(--shadow-border), var(--shadow-high)
}

.avatarUploader_e04502 .avatarUploaderInner_e04502:hover {
    box-shadow: var(--elevation-high), inset 0 0 120px rgba(0, 0, 0, .6)
}

.avatarUploadIcon_e04502.hideDefaultIcon_e04502 {
    background-color: var(--white);
    background-image: none
}

.imageInputContainer__4cc0e {
    height: 0;
    position: relative;
    width: 0
}

.container__26abc {
    background-color: var(--background-surface-high);
    border-radius: 4px;
    box-shadow: var(--shadow-border), var(--shadow-high);
    max-height: 300px;
    padding: 8px
}

.user__26abc {
    justify-content: flex-start;
    padding: 8px
}

.user__26abc,
.username__26abc {
    align-items: center;
    display: flex
}

.username__26abc {
    gap: var(--space-4)
}

.avatar__26abc {
    margin-inline-end: 12px;
    opacity: .5
}

.blockedNotice__26abc {
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 24px
}

.blockedButton__26abc {
    color: var(--text-link);
    cursor: pointer;
    font-size: 12px;
    font-weight: var(--font-weight-semibold);
    margin-inline-start: 4px
}

.icon__26abc {
    background-clip: padding-box;
    background-color: var(--background-mod-strong);
    border-radius: 50%;
    color: var(--white);
    height: 12px;
    inset-inline-end: -2px;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 12px
}

.userInfo__26abc {
    margin-inline-start: 12px
}

.doubleInput__6dc4b {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    position: relative
}

.doubleInput__6dc4b>div {
    flex: 1 1 0;
    width: 0
}

.doubleInput__6dc4b>div:first-child {
    margin-inline-end: 8px
}

.doubleInput__6dc4b>div:nth-child(2) {
    margin-inline-start: 8px
}

.blockedUsersContainer__97cfe {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.form__97cfe {
    align-self: stretch
}

.formItem__97cfe {
    margin-top: 24px;
    width: 100%
}

.topicFormItem__97cfe {
    margin-bottom: 16px;
    width: 100%
}

.cancelButton__97cfe {
    margin-inline-end: 8px
}

.addImageHint__97cfe,
.imagePreview__97cfe,
.warning__97cfe {
    margin-bottom: 8px
}

.imagePreviewInner__97cfe {
    width: 100%
}

.header__047bc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--space-16) 0
}

@keyframes outgoing-call-pulse__67dba {
    0% {
        opacity: .5
    }

    11.56% {
        opacity: 1
    }

    39.02% {
        opacity: .5
    }

    39.04% {
        opacity: 1
    }

    66.48% {
        opacity: .5
    }

    to {
        opacity: .5
    }
}

@keyframes outgoing-call-ellipsis__67dba {
    0% {
        content: ""
    }

    66.48% {
        content: ""
    }

    66.5% {
        content: "."
    }

    85% {
        content: ".."
    }

    90% {
        content: "..."
    }

    to {
        content: ""
    }
}

.modal__67dba {
    max-height: 645px;
    min-height: 144px
}

.closeButton__67dba {
    height: 12px;
    inset-inline-end: 28px;
    position: absolute;
    top: 12px;
    width: 12px;
    z-index: 3
}

.channelIcon__67dba {
    color: var(--interactive-text-default);
    height: 16px;
    margin: 0 2px -2px;
    width: 16px
}

.inviteSectionHeader__67dba {
    align-items: center;
    color: var(--text-muted);
    cursor: pointer;
    display: flex;
    gap: var(--space-xxs);
    height: calc(var(--custom-invite-section-header-height)*1px);
    padding: 0;
    padding-top: calc(var(--custom-invite-section-header-gap)*1px)
}

.inviteSectionToggleIcon__67dba {
    height: 12px;
    transform: rotate(var(--custom-icon-collapse-rotate));
    transition: transform .1s linear;
    width: 12px
}

.inviteRow__67dba {
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin: 0 -8px;
    padding-bottom: 7px;
    padding-inline-end: 8px;
    padding-top: 7px;
    padding-inline-start: 5px
}

.inviteRowAvatar__67dba {
    flex: none;
    margin-top: 0;
    margin-inline-end: 10px;
    margin-inline-start: 3px
}

.inviteRowInfo__67dba {
    align-items: center;
    display: flex;
    margin-inline-end: 4px;
    overflow: hidden
}

.inviteRowLabels__67dba {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    overflow: hidden
}

.inviteRowLabels__67dba.ringing__67dba {
    animation: outgoing-call-pulse__67dba var(--custom-call-avatar-outgoing-duration) infinite ease-out
}

.inviteRowSubLabel__67dba {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs)
}

.inviteRowSubLabel__67dba.ringing__67dba:after {
    animation: outgoing-call-ellipsis__67dba var(--custom-call-avatar-outgoing-duration) infinite ease-out;
    bottom: 2px;
    content: "";
    inset-inline-start: -2px;
    opacity: .5;
    position: relative
}

.inviteRowStatusIcon__67dba {
    height: 12px;
    width: 12px
}

.inviteRowEmptyState__67dba {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center
}

.inviteRowActions__67dba {
    display: flex;
    gap: var(--space-xs)
}

.warningContainer__67dba {
    align-items: center;
    display: flex;
    margin: 8px 0
}

.warningIcon__67dba {
    margin-inline-end: 8px
}

.input__67dba {
    background-color: transparent;
    border: none
}

.noPadding__67dba {
    padding-top: 0
}

.content__67dba {
    width: 100%
}

.content__67dba:before {
    content: "";
    height: 1px;
    margin-inline-start: -6px;
    transform: translateY(-20px);
    width: 412px
}

.copyInput__67dba {
    flex-grow: 1
}

.copyButton__67dba {
    margin-inline-end: 4px;
    width: 75px
}

.subText__67dba {
    color: var(--text-subtle);
    margin-bottom: 12px
}

.formText__67dba {
    align-items: center;
    display: flex;
    gap: 8px
}

.toggle__67dba {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    max-width: 100%
}

.noScroll__67dba {
    overflow: visible !important
}

.settingsFooter__67dba {
    z-index: 0
}

.inviteRow__67dba:hover {
    background-color: var(--interactive-background-hover);
    color: var(--interactive-text-hover)
}

.footer__67dba {
    background-color: var(--background-base-lower)
}

.copied__67dba {
    border-color: var(--green-360)
}

.footerText__67dba {
    color: var(--text-muted)
}

.headerContainer__67dba {
    width: 100%
}

.errorMessage__67dba {
    margin-top: 8px
}

.errorLink__67dba {
    cursor: pointer;
    margin: 8px 0
}

.premiumIcon__67dba {
    color: var(--guild-boosting-pink);
    flex: 0 0 auto;
    height: 24px;
    margin: 0 12px;
    position: relative;
    top: 1px;
    width: 16px
}

.acronym__67dba {
    align-items: center;
    background-color: var(--background-mod-normal);
    border-radius: 16px;
    display: flex;
    flex: none;
    height: 32px;
    justify-content: center;
    margin-top: 0;
    margin-inline-end: 10px;
    margin-inline-start: 3px;
    white-space: nowrap;
    width: 32px
}

.guestBody__67dba {
    padding: 16px 0
}

.guestSendInviteLinkHeader__67dba {
    margin-bottom: 8px;
    margin-top: 20px
}

.guestSelectChannelHeader__67dba {
    margin-bottom: 8px;
    margin-top: 16px
}

.divider__67dba {
    align-self: stretch;
    background: var(--border-subtle);
    height: 1px;
    margin: 16px 0
}

.footerWithCheckbox__67dba {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.container_a2844c {
    padding: 8px
}

.close_a2844c {
    color: var(--interactive-text-default);
    cursor: pointer;
    inset-inline-end: 4px;
    position: absolute;
    top: 4px
}

.close_a2844c:hover {
    color: var(--interactive-text-hover)
}

.iconContainer_a2844c {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    width: 64px
}

.icon_a2844c {
    color: var(--text-strong)
}

.text_a2844c {
    text-align: center
}

.header_a2844c {
    margin-top: 24px
}

.body_a2844c {
    margin-top: 8px
}

.invite_a2844c {
    margin-top: 24px
}

.inviteDetail_a2844c {
    margin-top: 8px
}

.cannon_a2844c {
    height: 100%;
    position: absolute;
    width: 100%
}

.inline__99afd {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline-start: auto
}

.footer__99afd {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.content__99afd {
    padding: 16px
}

.button__99afd {
    margin-inline-start: 8px
}

.cannon__99afd {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0
}

.textButtonWrapper__99afd {
    align-items: center;
    display: flex;
    padding: calc(var(--space-4) - 1px) calc(var(--space-12) - 1px)
}
