.nowPlayingNotification__81a05 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    max-width: 100%;
    width: -moz-max-content;
    width: max-content
}

.nowPlayingNotificationAnimationWrapper__81a05 {
    background-color: var(--background-base-lowest) !important;
    border-radius: 300px !important;
    inset-inline: auto;
    max-width: 100% !important;
    min-width: -moz-max-content !important;
    min-width: max-content !important;
    opacity: .9;
    width: -moz-max-content !important;
    width: max-content !important
}

.nowPlayingNotificationContainer__81a05 {
    padding: 8px 12px !important;
    width: -moz-max-content !important;
    width: max-content !important
}

.nowPlayingNotificationWrapper__81a05 {
    overflow: visible !important;
    position: relative !important;
    width: -moz-max-content !important;
    width: max-content !important
}

.nowPlayingNotificationClickZone__81a05 {
    bottom: auto !important;
    display: inline-block;
    position: relative !important;
    top: auto !important;
    inset-inline: auto !important;
    max-width: 100%;
    width: -moz-max-content;
    width: max-content
}

.body__81a05 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-inline-end: 2px !important;
    padding-top: 1px
}

.nowPlayingNotificationIcon__81a05 {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 24px
}

.gameIcon__81a05 {
    border-radius: 2px;
    display: inline-block;
    margin-top: -1px
}

.bodyText__81a05,
.gameIcon__81a05 {
    vertical-align: middle
}

.bodyText__81a05 {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis
}

.bodyText__81a05 strong {
    color: var(--interactive-text-active)
}

.textArea_ab8e5c {
    background: var(--background-base-low);
    border: 1px solid hsla(0, 0%, 100%, .08);
    border-radius: 6px
}

.container_ab8e5c {
    padding-top: 12px;
    width: 100%
}
