.container_a419e0 {
    width: 340px
}

.headerContainer_a419e0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    justify-content: center
}

.preview_a419e0 {
    filter: blur(5px);
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top;
    object-position: top;
    opacity: .3;
    width: 100%
}

.container_a419e0,
.preview_a419e0 {
    height: 100%;
    position: relative
}

.body_a419e0 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    inset-inline-start: 50%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%
}
