.header_da32a8 {
    background-color: var(--background-base-lowest);
    justify-content: space-between
}

.header_da32a8,
.headerLeft_da32a8 {
    display: flex
}

.headerBell_da32a8 {
    color: var(--text-default);
    margin-inline-end: 8px
}

.sectionContent_da32a8 {
    border-radius: var(--radius-md);
    margin-bottom: var(--space-24)
}

.sectionContentContained_da32a8 {
    background-color: var(--background-base-lower)
}

.sectionContentPadding_da32a8 {
    padding: 16px
}

.sectionHeader_da32a8 {
    margin-bottom: 8px
}

.sectionHeaderTitle_da32a8 {
    text-transform: uppercase
}

.sectionDescription_da32a8 {
    margin-bottom: var(--space-8)
}
