.container_fb1896 {
    align-items: center;
    border: 2px dashed var(--border-subtle);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    padding: 12px 24px
}

.container_fb1896:hover {
    border: 2px dashed var(--border-strong)
}

.icon_fb1896 {
    color: var(--interactive-text-active)
}

.spacingContainer_eaaeee {
    position: relative
}

.spacingContainer_eaaeee+.spacingContainer_eaaeee {
    margin-top: 16px
}

.formFieldContainer_eaaeee {
    margin-top: 16px;
    position: relative
}

.formFieldContainer_eaaeee:hover .actionButtonsContainer_eaaeee {
    visibility: visible
}

.formFieldContainer_eaaeee.compact_eaaeee {
    margin-top: 8px
}

.actionButtonsContainer_eaaeee {
    display: flex;
    flex-direction: column;
    gap: 8px;
    inset-inline-end: -48px;
    padding: 8px;
    position: absolute;
    top: -8px;
    visibility: hidden
}

.actionButtonsContainer_eaaeee:hover {
    visibility: visible
}

.actionButtonsContainer_eaaeee.compact_eaaeee {
    flex-direction: row;
    inset-inline-end: -48px;
    top: 2px
}

.actionButtonsContainer_eaaeee.compact_eaaeee.canRemove_eaaeee {
    inset-inline-end: -88px
}

.actionButton_eaaeee {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 16px;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px
}

.actionButton_eaaeee:hover {
    cursor: pointer
}

.backgroundContainer_eaaeee {
    background-color: var(--background-mod-subtle);
    border-radius: 8px;
    flex: 1;
    overflow: hidden;
    position: relative
}

.containerPadding_eaaeee {
    padding: 16px
}

.compactContainer_eaaeee {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding: 16px
}

.compactTitle_eaaeee {
    margin-bottom: 0;
    overflow: hidden;
    overflow-wrap: break-word
}

.dragContainer_eaaeee {
    cursor: move;
    display: flex;
    flex-direction: row;
    margin-inline-start: -25px;
    transform: translate(0)
}

.dragContainer_eaaeee:hover .dragIcon_eaaeee {
    visibility: visible
}

.dragContainer_eaaeee.compact_eaaeee {
    align-items: center
}

.dragIconContainer_eaaeee {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
    top: 45px;
    width: 25px
}

.dragIconContainer_eaaeee:hover>.dragIcon_eaaeee {
    visibility: visible
}

.dragIconContainer_eaaeee.compact_eaaeee {
    top: 6px
}

.dragIcon_eaaeee {
    visibility: hidden
}

.dragIcon_eaaeee:hover {
    visibility: visible
}

.dropHovered_eaaeee {
    opacity: .5
}

.iconContainer_eaaeee {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-radius: 20px;
    display: flex;
    flex: 0 0 40px;
    height: 40px;
    justify-content: center;
    margin-inline-end: 16px;
    width: 40px
}

.icon_eaaeee {
    color: var(--interactive-text-default)
}

.iconInteractiveContainer_eaaeee {
    cursor: pointer;
    display: flex
}

.iconInteractive_eaaeee {
    color: var(--interactive-text-default)
}

.iconInteractive_eaaeee:hover {
    color: var(--interactive-text-active)
}

.title_eaaeee {
    font-family: var(--font-display);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis
}

.containerTitle_eaaeee {
    margin-bottom: 16px
}

.leftRailIconContainer_eaaeee {
    display: flex;
    flex-direction: row;
    padding: 16px
}

.leftRailIconContainerTitle_eaaeee {
    margin-bottom: 4px
}

.leftRailIconContainerDescription_eaaeee {
    margin-bottom: 16px
}

.containerTopHat_eaaeee {
    background-color: var(--background-mod-normal);
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px
}

.containerTopHatText_eaaeee {
    text-transform: uppercase
}

.containerFooter_eaaeee {
    background-color: var(--background-mod-normal);
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    display: flex;
    justify-content: flex-end;
    padding: 16px
}

.verificationLevelTitle_eaaeee {
    align-items: center;
    display: flex;
    white-space: pre-wrap
}

.verificationLevelHook_eaaeee {
    flex: 1;
    line-height: 20px;
    margin-bottom: 0
}

.clickable_eaaeee {
    cursor: pointer
}

.fieldPadding_eaaeee {
    padding: 10px 17px
}

.fieldFooterContainer_eaaeee {
    align-items: center;
    background-color: var(--background-base-lowest);
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
    color: var(--text-strong);
    display: flex;
    flex-direction: row;
    padding: 8px 16px
}

.guildVerificationText_eaaeee {
    flex: 1;
    font-size: 16px;
    margin-inline-start: 10px
}

.verificationContainer_eaaeee {
    display: flex;
    flex-direction: row
}

.button_eaaeee {
    cursor: pointer;
    width: auto
}

.removeButton_eaaeee {
    color: var(--interactive-text-default);
    margin-inline-end: 8px
}

.removeButton_eaaeee:hover {
    color: var(--interactive-text-active)
}

.termsFieldCaretIcon_eaaeee {
    margin-inline-start: 4px
}

.addFormFieldContainer_eaaeee {
    width: 100%
}

.addFormFieldContainer_eaaeee+.addFormFieldContainer_eaaeee {
    margin-top: 8px
}

.addFormField_eaaeee {
    background-color: var(--background-base-lowest);
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    padding: 8px
}

.addFormField_eaaeee:hover {
    background-color: var(--background-surface-high)
}

.addFormFieldText_eaaeee {
    color: var(--interactive-text-default);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    margin-inline-start: 8px
}

.errorText_eaaeee {
    margin-top: 8px
}

.typeTag_eaaeee {
    align-items: center;
    color: var(--interactive-text-default);
    display: flex;
    gap: 4px
}
